[2020-09-21 13:04] claviska commented on #213
I guess this depends on the content. If the height is different, the surrounding content would shift so you'd have three things happening:

1. The active tab indicator sliding
2. The tab panel sliding
3. The content below shifting

I think that would be quite distracting.

[2020-09-21 13:28] claviska commented on #212
Thanks for the idea.

CAPTCHAs are complex, controversial, annoying, and often inaccessible to users. It's a cat and mouse game, and if a library with half decent usage stats implemented something unique, it would surely be targeted and cracked quickly.

More info: https://www.w3.org/TR/turingtest/

Google engineered an alternative called [No CAPTCHA](https://security.googleblog.com/2014/12/are-yo

[2020-09-21 13:28] #212 closed, assigned to claviska

[2020-09-21 13:36] claviska commented on #173
Ah, well if it's a browser bug it definitely needs to be fixed upstream. Closing since it's not something we can remedy.

[2020-09-21 13:36] #173 closed, assigned to claviska

[2020-09-21 15:34] rchavik commented on #173
Additional note: Turns out this has been reported [11 years ago](https://bugzilla.mozilla.org/show_bug.cgi?id=553580). It also has a [comment](https://bugzilla.mozilla.org/show_bug.cgi?id=553580#c18) that explained why it looks ok in Chromium based browsers.

[2020-09-23 08:19] michaelkrog opened #214 "DOMException in Chrome when viewing components on https://shoelace.style"
**Describe the bug**
When I view a component in Chrome(85.0.4183.102) on https://shoelace.style a lot of DOMException's are logged out in the console. They are all the same, namely this:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://shoelace.style/components/button'
2. Click on 'F12'
3. Go to 'Console'
4. See error

**Expected behavior**
There should be no DOMExceptio

[2020-09-23 12:48] claviska commented on #214
This has been on my internal backlog. I'm pretty sure it's a Docsify thing, but I haven't narrowed it down. Doesn't affect anything though, so it's not top on my list.

[2020-09-24 08:02] michaelkrog commented on #214
Thanks for commenting. Since it is on your internal backlog, I'll close it here.

[2020-09-24 08:02] #214 closed, assigned to claviska

[2020-09-24 12:29] StommePoes opened #215 "Focus is invisible in WHC"
Keyboard-only users of Windows High Contrast mode (WHC) cannot determine their current focus position in most of the components. Radio controls (where focus and selection are usually a shared state) are entirely indistinguishable.

This is because WHC forces a small set of available colours, in order to make it easier to force a high contrast (even though users can create their own themes with any

[2020-09-24 12:52] StommePoes opened #216 "Select a11y + rework"
The select components have several accessibility issues. I thought it was easier to lump them all together for the single component rather than separate issues for each.

I threw together a test page https://stommepoes.nl/work/shoelace/shoelace_demo.html and, on Windows only, ran 2 screen readers (NVDA latest, JAWS 2019) on 3 browsers (Edge latest, Chrome latest, Firefox latest... as of 23 Septemb

[2020-09-24 13:07] StommePoes opened #217 "Menu component does not expose its options as they receive focus"
**Describe the bug**
Using a screen reader, while navigating the "Menu" demo component, none of the menuitems inside are read out.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn on a screen reader and open a compatible browser (tested combos listed below)
2. Go to test page https://stommepoes.nl/work/shoelace/shoelace_demo.html OR just the Shoelace demo page for Menu https://shoelace.s

[2020-09-24 13:21] StommePoes opened #218 "Radio controls component has accessibility issues"
The radio controls component has several accessibility issues. I thought it was easier to lump them all together for the single component rather than separate issues for each.

I threw together a test page https://stommepoes.nl/work/shoelace/shoelace_demo.html and, on Windows only, ran 2 screen readers (NVDA latest, JAWS 2019) on 3 browsers (Edge latest, Chrome latest, Firefox latest... as of 23 S

[2020-09-24 13:41] claviska commented on #217
Thank you for submitting these issues. I'm committed to getting accessibility right, so this is super helpful.

Admittedly, I've never used a screen reader before. I don't have a Windows machine, but it looks like macOS has a utility called Voice Over that may (or may not) be useful to me. I'll try to set it up and see if I can achieve the same results.

I looked at the W3C example and I don't see

[2020-09-24 13:49] StommePoes opened #219 "Tooltip has some accessibility issues"
The tooltip component has some accessibility issues. I thought it was easier to lump them all together for the single component rather than separate issues for each.

I threw together a test page https://stommepoes.nl/work/shoelace/shoelace_demo.html and, on Windows only, ran 2 screen readers (NVDA latest, JAWS 2019) and two screen magnifiers (Windows Screen Mag, ZoomText) on 3 browsers (Edge late

[2020-09-24 13:52] claviska commented on #216
Thanks again. I think some of the oddities with `<sl-select>` are coming from the "clever" composition of a readonly input to display the selected value (they use the same styles, so it made sense to try to reuse instead of duplicate).

I'm slating this one for a rework. The input styles can probably be abstracted so input, textarea, and select can reuse them without having to use an actual input

[2020-09-24 13:59] StommePoes commented on #217
Menus are rather complicated in my opinion.

Yours is at least really a plain/open listbox rather than a menu (menus being a set of button+listbox pairs), so you could perhaps follow the listbox pattern rather than menu pattern https://www.w3.org/TR/wai-aria-practices-1.2/#Listbox).

Both rely on actual keyboard focus landing on the elements to cause them to read out, but again I don't grok web co

[2020-09-24 14:14] StommePoes opened #220 "Icon button components have some accessibility issues"
**Describe the bug**
* In the documentation, the icon buttons have text representing what could be exposed as an accessible name. However, these are descriptions of the images, not examples of button names.
* In Firefox, the names of the buttons are read out twice in screen readers.
* As a note, everywhere the SVGs are used decoratively, such as the chevrons used in the select components, they are

[2020-09-24 14:27] StommePoes opened #221 "Text-only enlargement causes text to fall out of controls"
**Describe the bug**
Users who enlarge text alone up to 200% find the text overflowing the controls.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Firefox and go to test page https://stommepoes.nl/work/shoelace/shoelace_demo.html
2. Choose View→Zoom→Zoom Text Only in the browser menu.
3. Press Ctrl++ until the zoom level is 200%.
4. Observe the controls.

**Expected behavior**
Control

[2020-09-24 14:39] StommePoes opened #222 "Tabpanels report every tab as "selected""
I threw together a test page https://stommepoes.nl/work/shoelace/shoelace_demo.html and, on Windows only, ran 2 screen readers (NVDA latest, JAWS 2019) on 3 browsers (Edge latest, Chrome latest, Firefox latest... as of 23 September 2020). I don't own any iThings or I would have run VoiceOver on Safari (this is the combination for MacOS that is preferred for testing) as well.

This tabpanel uses th

[2020-09-25 23:24] zolk opened #223 "Dropdown component used within a shadow root unexpectedly closes when tabbing into slotted elements"
**Describe the bug**
If `sl-dropdown` is consumed within the shadow root of another component, the `handleDocumentKeyDown()` method is unable to accurately obtain the `activeElement`. (In this case, `document.activeElement` returns the name of the containing shadow root, rather than the active element within that shadow root.) This causes a problem if attempting to tab into a dropdown's slotted co

[2020-09-27 02:19] threeseed opened #225 "Button group has internal rounded corners"
**Describe the bug**
For the buttons within a button group they should not have rounded corners within the middle. Only at the edges.

**To Reproduce**
Refer to the existing implementation:
https://shoelace.style/components/button-group

**Expected behavior**
Ideally would look more like these:
![](https://user-images.githubusercontent.com/55639/87862333-d5b68f80-c91c-11ea-94e5-822be0ed745c.png)

[2020-09-27 02:23] claviska commented on #225
Can you please elaborate? I’m not sure what you’re suggesting is a bug.

Are you saying the interior border radii are incorrect or that you’d prefer them to have dividers like in the image above?

Thanks

[2020-09-27 04:56] threeseed opened #226 "Radio button has misplaced inner circle on Safari"
**Describe the bug**
On Safari the radio button does not display properly:

**To Reproduce**
Visit this page using Safari:
https://shoelace.style/components/radio

**Screenshots**
Following screen shots at different browser zoom levels:

<img width="22" alt="Screen Shot 2020-09-27 at 2 54 59 pm" src="https://user-images.githubusercontent.com/657041/94356433-0ca1e200-00d2-11eb-8c19-9f448f1df6fd.png

[2020-09-27 04:59] threeseed opened #227 "Progress ring renders incorrectly on Safari"
**Describe the bug**
On Safari the progress ring does not display properly:

**To Reproduce**
Visit this page using Safari:
https://shoelace.style/components/progress-ring

**Screenshots**
Following screen shots at different browser zoom levels:

<img width="272" alt="Screen Shot 2020-09-27 at 2 58 24 pm" src="https://user-images.githubusercontent.com/657041/94356438-14618680-00d2-11eb-90a6-70d17c

[2020-09-28 01:05] threeseed commented on #225
I didn't realise it was intentional but was expecting it to be dividers.

[2020-09-28 01:07] threeseed commented on #225
Strange I just checked the website and it's dividers now. Must be some random browser issue. Closing it.

[2020-09-28 01:07] #225 closed, assigned to claviska

[2020-09-28 12:11] claviska commented on #226
This looks like a Safari rendering issue. The circle is centered, but when zoomed, Safari doesn't always draw it that way. Most of the time it does.

This also appears to be a problem in other libraries, and not just with SVGs.

Mineral UI (uses SVG)
<img width="1094" alt="mineral-ui" src="https://user-images.githubusercontent.com/55639/94429857-fd1daa00-0160-11eb-809e-96fe425eb3d0.png">

Element

[2020-09-28 12:11] #226 closed, assigned to claviska

[2020-09-28 12:11] #227 closed, assigned to claviska

[2020-09-28 12:18] claviska commented on #223
Good catch. Your fix does the trick!

Thanks for the well-formatted issue and elegant PR!  🙌

[2020-09-28 17:01] salmenf opened #228 "Compile icons to web components"
**Is your feature request related to a problem? Please describe.**
This library is right in the sweet spot for me: Based on web components, well documented, good selection of basic components. The developer experience is great! Except... :) Reconfiguring Webpack to use the library and setting the asset path is a bit of a pain. I know the CDN avoids that, but CDNs don't work well for many use cases

[2020-09-28 18:18] claviska commented on #228
This is an interesting approach, and I'm willing to consider it!

One concern I have is, when using the custom elements bundle, you have to import components individually.

[code]

So with this, it seems like we'd still need to import individual icon components:

[code]

This could get a bit unwieldy if you're using a lot of icons. Not sure how to work around that for those users.

Currently, this

[2020-09-28 19:05] salmenf commented on #228
Thanks for your consideration. Valid concern! It's a bit of a downside and replaces boilerplate with other boilerplate, in a sense.

A solution might be this:

**myIcons.ts**
[code]

**myProjectIndex.ts**
[code]

**myTestFile.ts**
[code]

I am not sure how this fares in terms of tree shaking, though. And you'd still need to define each Icon this way, not sure how to solve that.

[2020-09-29 04:34] threeseed opened #229 "Add border parameter to Button"
**Is your feature request related to a problem? Please describe.**
It would be useful to have the option of Buttons/Dropdowns with an icon and no border.
We have the text option but it changes the colour blue.

**Describe the solution you'd like**
Border parameter with boolean true/false

[2020-09-29 12:17] claviska commented on #229
You can change the style using any of the [exposed CSS parts](https://shoelace.style/components/button?id=css-parts).

Fiddle to demonstrate: https://jsfiddle.net/eyn0tfpL/

[2020-09-29 12:17] #229 closed, assigned to claviska

[2020-09-29 12:45] claviska commented on #228
Thinking about this more, this is another concern. Stencil requires each component to be in its own file, so we'd have 1,000+ component files and updating `bootstrap-icons` will become quite tedious (or complex should we try to automate that). I'm also not sure how that many components will affect the build, but I suspect it will immediately become cumbersome.

If assets are the issue, there may b

[2020-09-29 13:42] claviska commented on #228
Not sure why I thought registration would work like that. All component methods are async in Stencil by design, so this actually introduces some PITA timing issues.

Nevertheless, I think registration is a good way forward. It should probably work like this instead:

[code]

I'm open to thoughts and other ideas on this, of course.

[2020-09-29 14:25] salmenf commented on #228
Hm, I don't quite see how this would address the configuration overhead in the custom elements bundle, for offline use and such. The assets would still need to be copied to the build directory, wouldn't they?
It would neatly unify the custom elements bundle config and the normal config, though, and as you mentioned, supporting any icon library is pretty neat. Overall, I like it, too!

About the in

[2020-09-29 18:39] claviska commented on #228
Right, you'd still need to copy the files over if you wanted to serve them locally. If you're using a CDN, you could register that location instead. It does, however, let you choose how and where to copy them without making any assumptions.

I'm not sure how to generate Stencil components automatically. There's magic that happens to create different bundles (lazy loader, custom elements, docs, etc

[2020-09-29 19:55] salmenf commented on #228
I don't know how to implement the automatic component generation, either, so I'd recommend going with the registering approach, less of a time sink. :)

[2020-09-30 05:39] threeseed opened #230 "Tag Input"
Component where you enter words into a text input field, press enter and it converts it inline into a tag.

Inspiration:
 * https://github.com/olahol/react-tagsinput
 * https://medium.com/@jerrylowm/build-a-tags-input-react-component-from-scratch-1524f02acb9a

Please vote for this feature using 👍 or 👎

[2020-10-01 16:58] claviska commented on #230
Let's group this into #127 as it seems like a duplicate, that way votes gets distributed more evenly.

[2020-10-01 16:58] #230 closed, assigned to claviska

[2020-10-01 18:11] claviska commented on #228
Here's a preview of the `icon.registerLibrary()` method with examples for local registration and four popular icon libraries:

Preview: https://shoelace-a8zotoiud.vercel.app/components/icon?id=registering-custom-libraries
Source: https://github.com/shoelace-style/shoelace/blob/icon-reg-on-element/src/components/icon/icon.tsx

To prevent timing issues, the component module keeps track of connected

[2020-10-01 21:32] Trendy commented on #228
I feel really weird about a single instance of `sl-icon` registering icons for every subsequent instance. I'm imagining things like it becoming unclear where you should register the icon library if shoelace was being used in a larger project and potential conflicts.

Would the other approach of importing a utility be that weird? I feel like it nails the use case.

[2020-10-02 01:18] claviska commented on #228
I'm feeling the same way. It might just be a matter of getting it right in the docs. I'll play with it more.

[2020-10-02 03:23] threeseed opened #233 "Spellcheck attribute for Input/Textarea"
**Describe the solution you'd like**
Addition of the spellcheck attribute as defined here for the Input/TextArea components:
https://www.w3schools.com/tags/att_spellcheck.asp

Especially a problem on OSX/Safari as it has a more aggressive inline spell check.

[2020-10-02 19:47] #233 closed, assigned to claviska

[2020-10-02 19:48] claviska commented on #233
This was already present in `<sl-textarea>`, but it was missing in `<sl-input>`. Added in dce001e.

[2020-10-02 22:00] KonnorRogers opened #234 "Documentation: Rails integration"
**Is your feature request related to a problem? Please describe.**

I would like to see documentation on how to integrate with Rails because it requires a few extra steps and a couple little tweaks to work.

**Describe the solution you'd like**

I would be more than happy to write up the documentation. Nate Hopkins has a great pull request I plan to use as the basis for the documentation. [https:/

[2020-10-03 01:19] claviska commented on #234
Thanks! Feel free to create a markdown file with the info and I’ll figure out how to organize it. This might need to go in a new section, as I’m sure others will follow.

Look forward to it!

[2020-10-03 20:10] KonnorRogers opened #235 "Documentation: Installation fails on Node < 12.10.0"
Not really a bug, perhaps documentation fix?

**Describe the bug**

Running `yarn add copy-webpack-plugin @shoelace-style/shoelace` on Node Version < 12.10 will result in an error.

`error @stencil/core@2.0.3: The engine "node" is incompatible with this module. Expected version ">=12.10.0". Got "12.9.0"`

**Solution**

Perhaps we can add something like:

## Requirements

- Node >= 12.10.0

To conv

[2020-10-03 22:45] mohammedzamakhan opened #236 "Typeahead support"
I really like the select component from the library, but can we also support typeahead, which is almost similar to select, but it has the ability to type in the input and filter the results or call the API to load the data on type

[2020-10-03 22:54] claviska commented on #236
Duplicate of #127. I’ve updated the title so it’s easier to find.

[2020-10-03 22:54] #236 closed, assigned to claviska

[2020-10-04 12:39] claviska commented on #235
Added to the readme in b9dddbf.

[2020-10-04 12:39] #235 closed, assigned to claviska

[2020-10-06 14:32] claviska commented on #228
Updated to use a separate import.

Preview: https://shoelace-gza1c5fp6.vercel.app/components/icon?id=registering-custom-libraries

The only thing I don't like is how the import URL changes depending on how you're consuming the library, but that's something we just might have to live with. 🤷🏻‍♂️

How does everyone feel about it now?

[2020-10-06 22:12] h-archer opened #239 "Importing Custom Elements Using webpack... Does not work for me!"
**Describe the bug**
Importing Custom Elements Using webpack does not work.

Hi,

Thanks for a great looking set of components. However I cannot get any components to work. :(

I tried everything to get this running after reading the docs [here](https://shoelace.style/getting-started/installation?id=using-webpack). I am working within a typescript project and using webpack.

Even the example webpa

[2020-10-07 13:55] claviska commented on #228
A suggestion from @ryancarroll led to this: https://next.shoelace.style/components/icon-library

I'm feeling really good about the syntax. We have a new component called `<sl-icon-library>` that can be placed anywhere in the DOM. It accepts two functions, a resolver method and a mutator method.

[code]

This keeps things as declarative as possible, and no need for imports that change depending on

[2020-10-07 14:21] claviska commented on #228
@Freddex I know this still doesn't address the initial request, but another concern is that an icon _component_ would be heavier than individual icons. I'd have to experiment to get an exact amount, but there's boilerplate for each component that I didn't account for earlier.

That boilerplate adds up as more and more icons are requested, so while it resolves the assets problem it introduces a pot

[2020-10-08 12:57] #234 closed, assigned to claviska

[2020-10-08 19:48] h-archer opened #240 "Cannot cast to a components type (typescript)"
**Is your feature request related to a problem? Please describe.**

It is related to a problem because in my typescript project I am not able to declare a variable and make it of type SlColorPicker (or HTMLSlColorPickerElement), because I need to access the color picker properties but VScode complains. The code runs fine since the code gets access to the components properties, however typescript a

[2020-10-08 20:15] claviska commented on #240
Have you tried importing the types from `dist/types/index.d.ts`?

[2020-10-08 21:22] h-archer commented on #240
How would I do that? I tried the following but it would not work:

`import { SlColorPicker } from '@shoelace-style/shoelace/dist/types/index';`

And...

`import { HTMLSlColorPickerElement } from '@shoelace-style/shoelace/dist/types/index';`

Not sure how to import an interface that belongs to an exported namespace?

[2020-10-09 07:57] h-archer commented on #240
**Update...**

So I used `dist/types/index.d.ts` to import SlColorPicker like so:

[code]

This method will only get the properties for the SlColorPicker object, but without parent inherited properties. For example I cannot use the method addEventListener from the parent object. For now I am just casting to the parent object like so:
`(this._colorPicker as unknown as HTMLElement).addEventListener.

[2020-10-09 11:43] claviska commented on #240
It's working fine for me with your first code block. Just swapped out `SlColorPicker` with `HTMLSlColorPickerElement`.

![image](https://user-images.githubusercontent.com/55639/95579145-16491500-0a03-11eb-9287-fa5bcee6178a.png)

I'm seeing both HTMLElement and color picker properties (shown in the intellisense menu).

[2020-10-09 11:55] claviska commented on #239
Confirmed. It looks like many of the custom elements dist files were missing in the beta19 build. If you use beta18 it works. This will also be fixed in beta20. Apologies for the trouble!

[2020-10-09 11:55] #239 closed, assigned to claviska

[2020-10-09 15:32] olliejm opened #241 "Dropdown positioner does not hide after close when content is a custom (non-shoelace) element"
**Describe the bug**
After a dropdown which has a custom element in the content slot is opened, it disappears on close but the `div` with class `dropdown__positioner` does not regain it's `hidden` attribute - so the content is still there, invisible, blocking interaction with what is below it.

**To Reproduce**
Steps to reproduce the behavior:
1. Create two stencil components, one with an `sl-drop

[2020-10-09 17:57] h-archer commented on #240
This is strange. It does indeed work. I must have thought I checked with `HTMLSlColorPickerElement` but I did not!

Thanks!

[2020-10-09 17:57] #240 closed, assigned to claviska

[2020-10-09 18:01] h-archer opened #242 "Mistake in the docs (color picker size property)"
The "size" property for the color picker is described in the [docs](https://shoelace.style/components/color-picker?id=properties) as:

Shouldn't this be:

?

[2020-10-09 18:03] claviska commented on #242
Good catch! Want to submit the PR or would you rather me take care of it?

[2020-10-09 18:04] h-archer commented on #242
You can go ahead 👍

[2020-10-09 20:05] h-archer opened #243 "Can the color picker be triggered by a custom button/element?"
The color picker has two display options. Inside a dropdown or inline. I like how it animates in/out when in the dropdown option. The issue is, while in a dropdown, the picker comes with a trigger button that I don't need. I have a menu already and want to use my button to show/hide the picker. I don't need the provided trigger button, but need the show/hide animation.

On the other hand, if I cho

[2020-10-09 20:43] claviska commented on #243
You probably don’t want to do #1 because the menu is anchored to the trigger, so hiding it could result in weird positioning.

The animation is pretty simple, though. You could replicate it on your own with a few styles.

[code]

[2020-10-09 20:46] claviska commented on #243
btw, this is a great question for the community chat on Discord. I’d encourage you to join and try to only post bugs on the tracker. https://shoelace.style/getting-started/community

Thanks!

[2020-10-09 20:46] #243 closed, assigned to claviska

[2020-10-09 21:08] hga77 commented on #243
Thanks for the reply. I will go to the community section and check it out. But just one more thing pls.

That's good that I have the animation styles. Thanks. Now I could add this to the container and job done. However...

Could another solution to this be:

1. Create an empty sl dropdown component
2. Add a color picker to it (inline option)
3. Make my menu button a trigger by adding the attribute

[2020-10-09 21:50] claviska opened #244 "🚨 BREAKING CHANGE: events must be kebab-case as of v2.0.0-beta.20"
I try really hard not to introduce breaking changes in the beta, but this caused lots of pain for users of various frameworks.

As of 2.0.0-beta.20, Shoelace events were updated to use a lowercase, kebab-style naming convention. Instead of event names such as `slChange` and `slAfterShow`, you'll need to use `sl-change` and `sl-after-show` now.

This change was necessary to address a critical issue

[2020-10-09 21:50] #244 closed, assigned to claviska

[2020-10-09 21:51] claviska commented on #244
Locking as this is intended to be informative and to prevent similar issues from popping up.

[2020-10-09 21:53] claviska commented on #242
Fixed in https://github.com/shoelace-style/shoelace/commit/0df547631d77d1cf25767b538079334bf8acee7f#diff-4cc56c0fdc838452fc51e941fc09a339R61

[2020-10-09 21:53] #242 closed, assigned to claviska

[2020-10-09 21:54] claviska commented on #228
Closing the original suggestion as a wontfix but I'm really glad you posted it, because it led to `<sl-icon-library>` which is a really nice way to add additional (or change the existing) icon libraries.

[2020-10-09 21:54] #228 closed, assigned to claviska

[2020-10-09 22:03] claviska commented on #241
I can't seem to replicate this. I'm wondering if something inside your custom element is capturing an important event or something like that.

Can you post a minimal test case showing the behavior you've described?

Thanks!

[2020-10-10 10:23] salmenf commented on #228
That's okay, it's not the outcome I hoped for, but I agree that it's the right decision considering all the tradeoffs. Thanks for considering my issue so quickly! :)

[2020-10-11 06:31] bendorge opened #245 "slot attribute is deprecated in Vue 3.0"
Using shoelace components with slot attributes is no longer supported.

**To Reproduce**
Steps to reproduce the behavior:
1. Compile a vue 3.0 app component that has one shoelace web component with a slot attribute defined.
2. Verify slot deprecation error message appears.

**Expected behavior**
The shoelace web components render as normal.

**Additional context**
I stumbled upon this error when t

[2020-10-11 10:28] claviska commented on #245
Can you provide a minimal example so I can replicate this? Make sure to include the relevant part of your Vue config.

Also, make sure to set [`isCustomElement`](https://v3.vuejs.org/api/application-config.html#iscustomelement) so Vue knows to ignore Shoelace components. (This is the new syntax for `ignoredElements`.)

[2020-10-11 19:47] dsappet opened #246 "sl-tooltip offset within a position fixed container is incorrect (firefox only)"
**Describe the bug**
Firefox only, *sl-tooltip* component inside of a `position: fixed` container with any offset, applied or inherited, doubles the offset for the tooltip so it appears in the wrong position. A codepen demonstrates the issue. Tested to work properly in chrome and safari.

**To Reproduce**
Steps to reproduce the behavior:
1. Firefox browser
2. Go to https://codepen.io/geekify/pen/f

[2020-10-12 09:20] jvhellemond opened #247 "Transitions skipped if components are activated as first page interaction"
**Describe the bug**
When a click on a button to open a drawer or dialog, for example, is the first interaction on the page (so without any prior clicks), the animation for the component is skipped and keyboard events like escape to close) do not work. If there is prior interaction on the page, all works as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://shoelace.styl

[2020-10-12 12:11] claviska commented on #247
Good catch. This doesn't happen in the dev environment, but I do see it happening under those circumstances on the live site. Looking into it!

[2020-10-12 12:49] #246 closed, assigned to claviska

[2020-10-12 12:51] claviska commented on #246
Updated popper, as this was fixed upstream. See https://github.com/popperjs/popper-core/issues/837

Thanks for reporting this!

[2020-10-13 10:50] olliejm commented on #241
I've created this repo which reproduces the problem: https://github.com/olliejm/sp-dropdown-repro

[2020-10-13 13:12] #247 closed, assigned to claviska

[2020-10-13 18:27] claviska commented on #245
Tried to replicate this in Vue 3 with the following code:

[code]

No warnings, everything works as expected. If you have a minimal test case demonstrating the problem, please post it so I can reopen and look at this.

[2020-10-13 18:27] #245 closed, assigned to claviska

[2020-10-13 19:06] claviska commented on #241
Looks like the dropdown panel needs to have a transition, otherwise the [internal popover utility won't hide it](https://github.com/shoelace-style/shoelace/blob/next/src/utilities/popover.ts#L64).

Not sure if there's a way around this — if you hide it right away you lose the ability to do transitions, but if you don't have transitions no event gets emitted to do the hide. I think most people will

[2020-10-13 22:23] EugeneDae commented on #101
Already: https://github.com/duetds/date-picker

Looks very nice. I'd love to see it in Shoelace.

[2020-10-14 00:51] tstewart-klaudhaus opened #248 "Label slot on sl-input"
**Is your feature request related to a problem? Please describe.**
It would be great to specify custom content as the label of an input (and maybe other similar labelled components) e.g. in order to add an icon with tooltip for more information, or an <a> tag to link out to somewhere else, or to have text formatting within the label, etc.

**Describe the solution you'd like**
If label were a slot,

[2020-10-14 01:59] bendorge commented on #245
Hi @claviska, apologies for the delay. It was the Canadian Thanksgiving long weekend. I created this repo for you to have a look at the issue:

https://github.com/bendorge/vue-shoelace-test

Please see the App.vue file: line 7

[2020-10-14 09:22] olliejm commented on #241
That's solved it, thank you! I had been meaning to add a transition anyway.

For reference the CSS I added that fixed the issue:

[code]

Thanks again for the help

[2020-10-14 09:23] #241 closed, assigned to claviska

[2020-10-15 13:29] bhandaribhumin opened #249 "Integrate into angular project using local install"
**could anyone help me with styling not applied in angular project!!!**

i didn't understand how to create route like document steps
[code]
Output look like :

![Screenshot 2020-10-15 at 7 05 49 PM](https://user-images.githubusercontent.com/3336047/96136696-7f57ed80-0f19-11eb-8826-bd94a4608299.png)

main.ts
[code]

[2020-10-15 13:58] claviska commented on #249
It looks like the stylesheet might not be getting applied. Unfortunately, I don't use Angular so I won't be much help with troubleshooting this.

Questions like these are better asked in [the community chat](https://shoelace.style/getting-started/community), though, not the issue tracker.

[2020-10-15 13:58] #249 closed, assigned to claviska

[2020-10-15 14:10] bhandaribhumin commented on #249
@claviska Thanks for your reply but i observe scss variable is not generated example : --sl-color-primary-50

[2020-10-15 14:14] claviska commented on #249
If you're stylesheet import is working properly, those CSS custom properties will be set by the stylesheet:

[code]

As an example, here's the [generated stylesheet](https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.20/dist/shoelace/shoelace.css) from the CDN.

Are you using webpack? Do you have an appropriate style loader?

[2020-10-15 16:33] #248 closed, assigned to claviska

[2020-10-15 22:39] doronnac opened #250 "Property 'sl-button' does not exist on type 'JSX.IntrinsicElements'."
**Describe the bug**
Hi, first issue. Sorry in advance if this is either not a bug or has already been reported (couldn't find it).

I'm actually getting 2 errors, first one described could be a tsconfig misconfiguration, although I could not fix it via config alone.

After fixing the first error, I'm getting:
`Type '{ children: string; }' has no properties in common with type 'SlButton'.`

I'm ge

[2020-10-16 11:17] claviska commented on #250
Hi, thanks for posting your solution!

This is very likely an upstream issue that will need to be addressed in [Stencil](https://stenciljs.com/), as Shoelace uses its [custom elements output target](https://stenciljs.com/docs/custom-elements) to generate the bundle you're importing.

If there's a clear way to fix it in Shoelace, I'm open to accepting a PR, but this will likely affect other Stencil

[2020-10-17 16:59] noear opened #251 "Translating the docs"
谢谢!!!

[2020-10-17 17:04] claviska commented on #251
Well, I don’t speak Chinese so I won’t be able to maintain Chinese documentation. 😂

If someone were willing to translate the docs, I’d be open to figuring out a good way to mirror them in other languages.

My biggest concern is that translations will quickly become out of date, as translators usually churn and its hard to find people to take their place.

[2020-10-18 02:43] threeseed opened #252 "Dropdown panel within a Dialog is rendered incorrectly when hoist = true"
**Describe the bug**
Dropdown panel within a Dialog is rendered incorrectly when hoist = true.

**To Reproduce**
Steps to reproduce the behavior:
1. Place a Dropdown with hoist = true inside a Dialog.
2. Click on Dropdown to show panel.

**Screenshots**
<img width="1241" alt="Screen Shot 2020-10-18 at 1 37 09 pm" src="https://user-images.githubusercontent.com/657041/96357446-9aa84000-1147-11eb-92f

[2020-10-19 14:31] #252 closed, assigned to claviska

[2020-10-19 14:32] claviska commented on #252
This is a known issue with Popper's fixed positioning strategy inside a transformed element, as explained [in the docs](http://localhost:4000/#/components/dropdown?id=hoisting).

Fortunately, using `transform: none` instead of `transform: scale(1)` seems to resolve it while still allowing the in/out transitions. Fixed in 4e2ebb7.

[2020-10-20 04:24] threeseed opened #253 "Disable arrows on Tab Group"
**Describe the solution you'd like**
Would like a parameter for the TabGroup (e.g. showArrows) for enabling/disabling the left/right arrows.

[2020-10-20 13:15] olliejm opened #254 "sl-theme class is not applied across all Stencil app components"
**Describe the bug**
When importing theme CSS, e.g the dark theme, to the global CSS of a stencil app, it was expected that adding `class="sl-theme-dark"` to the `<body>` would apply this theme to all shoelace components throughout the app. This doesn't however seem to be the case.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a blank stencil app starter, install shoelace and `impor

[2020-10-20 13:31] claviska commented on #254
I’ll check out the test case when I’m back tomorrow.

The theme is a collection of basic CSS selectors, so as long as it’s not included in such a way that’s it’s scoped to a container or another class (the default theme or the dark theme) there shouldn’t be problem.

[2020-10-21 04:20] noear commented on #251
或许我可以帮忙，但我不知道该怎么做?（Maybe I can help, but I don't know what to do.）

[2020-10-22 15:34] claviska commented on #251
Thanks :)

I think at this point it will have to be a third-party effort. If anyone wants to maintain a translation of the docs, I'd suggest putting them on GitHub for now and I'll link to them from the main documentation website.

In my experience, open source translators seldom have the time to keep things up to date. They also tend to churn quickly and it's hard to find folks to take their plac

[2020-10-22 15:34] #251 closed, assigned to claviska

[2020-10-22 18:00] #253 closed, assigned to claviska

[2020-10-22 18:00] claviska commented on #253
Added via the `no-scroll-controls` prop in f11b4b5.

[2020-10-22 22:43] EugeneDae commented on #180
Even this code that doesn't involve any components:

[code]
adds +207 KB to Webpack bundle size 🤯

Interestingly:
https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.21/dist/shoelace/shoelace.esm.js
is only 6 KB!

I'm a complete noob when it comes to JS code compilation / optimization. I really hope someone knowledgeable about this matter can help this awesome project.

[2020-10-22 23:02] EugeneDae commented on #180
...someone like @TheLarkInn

[2020-10-23 00:48] matthewp opened #255 "sl-dialog cannot be initially open"
**Describe the bug**

If you include the open attribute in the html like so:

[code]

The dialog will not be open. It only becomes open if you mutate the `open` attribute post-connect.

[2020-10-23 01:52] matthewp commented on #255
I think this can be fixed by setting `isVisible` to the value of `this.open` in the connectedCallback.

[2020-10-23 01:54] #255 closed, assigned to claviska

[2020-10-23 01:55] claviska commented on #255
Thanks. That does indeed fix it. Also pushed a fix to prevent a re-render by moving the initial open logic to `componentWillLoad()`.

[2020-10-23 02:10] matthewp commented on #255
Wow, thanks for the quick fix. 🙏 Any chance you plan on doing another beta any time soon?

[2020-10-23 02:15] claviska commented on #250
Closing since this appears to be upstream.

[2020-10-23 02:15] #250 closed, assigned to claviska

[2020-10-23 02:46] claviska commented on #255
Probably tomorrow — few more things left to do.

[2020-10-23 02:48] claviska commented on #213
Closing since I'm not going to be tackling this. If you have a proof of concept that's elegant, works well, and isn't distracting I'll be happy to consider it.

[2020-10-23 02:48] #213 closed, assigned to claviska

[2020-10-23 02:53] claviska commented on #217
This took a bit of rework and a small breaking change, but it seems to function much better now, at least with VoiceOver. I kept with the `menu` and `menuitem` roles but instead of creating a synthetic focus for menu items, I enabled a proper focus which causes them to be announced correctly.

The relevant commit is 5d73537e093da384357be1e63da27127efca4b03.

Eh, this did seem to [mostly] work but

[2020-10-23 02:53] #217 closed, assigned to claviska

[2020-10-23 03:07] claviska commented on #220
This has been improved in f32b8b3cfb75689eb86a4770bc71b6233b3c9486. The internal icon is now hidden with `aria-hidden="true"` so it won't be announced and `aria-label` has been added to the button. I also removed the auto-generated label (for when one isn't specified) and updated the docs to be more stern about including one:

They now announce as "Settings, button" which is much easier to underst

[2020-10-23 03:07] #220 closed, assigned to claviska

[2020-10-23 03:34] claviska commented on #219
Fair enough. Let's try to get them close then. 😄

I fixed a bug where `aria-describedby` was never set in 6b5c5aad5f410d6acd121c0a4e67a35cd827e206, so that's a start. I'm wondering if pressing escape would qualify as being "dismissable."

[Per this section:](https://www.w3.org/TR/WCAG21/#content-on-hover-or-focus)

It seems as though pressing escape would be acceptable, as long as it doesn't resul

[2020-10-23 03:46] claviska commented on #222
This seems to be resolved with ee2c18d51c3162c07dceecefa593bbbf29129bf3, which fixes all aria attributes that weren't explicitly setting `true` or `false` string values. In VoiceOver, the selected tab is announced correctly, e.g. "General, selected, tab."

Unfortunately, I don't have a Windows machine or an alternative screen reader to test on, so if you're still seeing a weird behavior outside of

[2020-10-23 03:46] #222 closed, assigned to claviska

[2020-10-23 03:55] claviska commented on #254
This occurs when the components are embedded inside a shadow DOM, so their parts need to be forwarded using the [`exportparts` attribute](https://www.w3.org/TR/css-shadow-parts-1/#exportparts-attr). I ran into this when designing the dark theme, and you'll find that `sl-color-picker` and `sl-select` are both using `exportparts` to resolve it.

I'm closing this since it's the intended behavior per

[2020-10-23 03:55] #254 closed, assigned to claviska

[2020-10-23 03:58] claviska commented on #161
I'm going to close this since I can't reproduce the problem. A minimal test case will help narrow down what's happening, so if someone can provide one I'll reopen this and investigate it further.

If it does turn out to be an upstream issue, the test case will still be helpful so we can forward it to the right project.

[2020-10-23 03:58] #161 closed, assigned to claviska

[2020-10-23 08:35] olliejm commented on #254
That makes sense, thanks for explanation!

[2020-10-23 11:56] matthewp commented on #101
Quick size comparison (all gzipped):

| Litepicker | Duet  | flatpickr |
|------------|-------|-----------|
| 13.9 kB    | 11.54 kB | 14 kB     |

[2020-10-23 12:14] IntranetFactory commented on #254
@claviska from my understanding that means that the Shoelace dark theme cannot be used when shoelace elements are used within other elements?

Would a dark mode not requiring parts make sense?

[2020-10-23 14:14] claviska commented on #101
I don't think 812 B is accurate for Duet. It may be the size of the lazy loader script, but that doesn't include the component itself.

[2020-10-23 14:28] claviska commented on #254
To clarify, themed components _can_ be used within other elements if you're composing them (i.e. as child elements or slotted content). The problem only occurs when you add components to a custom element's shadow root. For example, if you created a new web component and used a Shoelace component in its internals.

In this case, external styles will not penetrate the shadow DOM, as defined by the s

[2020-10-23 16:10] matthewp commented on #101
Could be, this was a quick check in curl. I'll look again on the demos.

[2020-10-23 16:45] duncanwerner opened #256 "Form validation popup doesn't scroll with page in Firefox"
**Describe the bug**
In Firefox, regular tooltip scrolls with page, but validation popup doesn't. Works in Chrome.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://shoelace.style/components/form?id=required-fields
2. Click on Submit (shows validation popup)
3. Scroll up or down

**Expected behavior**
Popup scrolls with attached field

**Desktop (please complete the following inf

[2020-10-23 16:48] claviska commented on #256
Thanks for posting this. Unfortunately, it's an upstream bug that can't be fixed by Shoelace.

Follow [this thread](https://bugzilla.mozilla.org/show_bug.cgi?id=643758) for details.

[2020-10-23 16:48] #256 closed, assigned to claviska

[2020-10-23 16:50] duncanwerner commented on #256
Oh I'm sorry, I didn't realize that was native. That explains why it looks different in Chrome and Firefox.

Love the library, btw.

[2020-10-23 16:52] claviska commented on #256
No worries. It's part of the [constraint validation API](https://developer.mozilla.org/en-US/docs/Web/API/Constraint_validation) so each browser implements it a bit differently. 😄

[2020-10-23 20:16] claviska commented on #221
The trouble with `em` units is that they're relative to the current font size. This can have unintended side effects when a component is placed inside an element that alters font size. Users rarely want to change the size of a form control based on the current text size — mostly they want them to be consistent and size changes are expected to be done through an opt-in means such as `size="large"`

[2020-10-24 07:04] staabm opened #257 "Content expander"
**Is your feature request related to a problem? Please describe.**

When rendering text is a often used pattern to cut the text/element (e.g. with ellipsis) and introduce a button - which when clicked will reveal the full text.

The biggest problem we face when doing this kind of UI is to detect whether the text/element in question is big enough that we actually need a expand button.. its pretty a

[2020-10-24 15:43] matthewp commented on #101
I've updated the table after examining Duet's demo pages.

[2020-10-24 15:47] matthewp opened #258 "Hidden input"
**Is your feature request related to a problem? Please describe.**
I'm creating an integration between Shoelace and the [Phoenix framework](https://www.phoenixframework.org/) which uses CSRF tokens for its forms. This would be in a hidden input in a normal form.

**Describe the solution you'd like**
Add another `type` to `sl-input` of `hidden`. It's just for holding a value that will be part of th

[2020-10-24 15:56] claviska commented on #258
Have you tried a native hidden input? They will work with `<sl-form>` if that’s your concern.

[2020-10-24 18:11] matthewp commented on #258
Oh! I did not know that. That's good, nothing needed here then.

[2020-10-24 18:11] #258 closed, assigned to claviska

[2020-10-24 18:21] matthewp commented on #258
Really nice job working with other custom element types as well, I added a Duet Date Picker to my form and it was able to pick up the value in the formData.

[2020-10-24 18:41] claviska commented on #258
That’s probably by coincidence. If they’re not using a shadow DOM (or if they’re somehow mapping the value to a light DOM input) then the native input will be serialized as usual.

For custom elements that use a shadow root, you’d need to serialize the value in `sl-submit` and append it to the form data object yourself.

[2020-10-25 09:39] StommePoes commented on #219
the Escape key is the closest you'll get for something meant as a component for J Random Devs to use-- were you building your own app/website, you could try some of the suggestions in the video I pasted earlier (such as a dedicated close control inside the persisitent tip). The Escape key isn't terrible for general tooltips, but the moment your tooltip'd element is inside something already listeni

[2020-10-25 09:47] StommePoes commented on #221
Hi,
I can't answer the how-to for Macs, because I've successfully avoided using iThings so far :P  But it wouldn't surprise me if font settings are set under "Accessibility" somewhere even though many people don't consider text enlarge as an accessibility thing.

rems will give you the same benefits/problems as ems although unlike ems they won't stack their relativeness (ems will stack based on an

[2020-10-27 12:36] #221 closed, assigned to claviska

[2020-10-27 12:36] claviska commented on #221
Thanks for pointing me in the right direction here. The "Zoom Text Only" option in Firefox is awesome, and converting input heights and spacing to `rem` seems to resolve this nicely. 🙌

[2020-10-29 12:01] threeseed opened #259 "Performance issue with Dropdown"
**Describe the bug**
Table with 50 rows each with a dropdown containing a button as the trigger i.e. an options menu.
When the page loads it is slow to render on Chrome and about 4x slower on latest Safari.

**Desktop (please complete the following information):**
 - OS: OSX 10.15.7
 - Browser: Safari 14.0 / Chrome 78.0.3904.87
 - Shoelace: Beta 22

**Additional context**
* Using Shoelace with the

[2020-10-29 12:23] claviska commented on #259
Without a test case, there's not much I can do. I did whip up a vanilla JS example demonstrating 100 dropdowns in a table and it renders/scrolls fine for me in Chrome, Firefox, and Safari.

Fiddle: https://jsfiddle.net/d4qsyptx/

The problem may be in your React layer. Since dropdown panels aren't shown until the dropdown is activated, the browser will only render the button and won't waste any ef

[2020-10-29 12:23] #259 closed, assigned to claviska

[2020-10-29 16:56] olliejm opened #260 "Dropdown arrows"
**Is your feature request related to a problem? Please describe.**
Not related to a problem

**Describe the solution you'd like**
For the sl-dropdown to provide an optional prop which will add an arrow to the internal popper.js config, as the sl-tooltip has.

**Describe alternatives you've considered**
To add an arrow pseudo-element myself in the component where I use the sl-dropdown, but it seems

[2020-10-29 18:25] claviska commented on #260
Arrows aren't facilitated by Popper — [they're created in the stylesheet](https://github.com/shoelace-style/shoelace/blob/next/src/components/tooltip/tooltip.scss#L82-L152). I don't think dropdowns should have arrows (at least not by default), but you can probably add your own with similar styles.

[2020-10-30 19:45] KonnorRogers commented on #180
So i just found out today you can use the minified version above with Webpack. you have to add this as a Webpack loader:

https://www.npmjs.com/package/@open-wc/webpack-import-meta-loader

And then once you have the import-meta-loader, you can do:

`import "@shoelace-style/shoelace/dist/shoelace/shoelace.esm"`

and now you can use web components! You dont even have to define anything.

[2020-10-30 19:57] frederikhors commented on #180
and what about the size?

[2020-10-30 21:04] KonnorRogers commented on #180
Bundles are still not great.

With `import "@shoelace-style/shoelace/dist/shoelace/shoelace.esm"` im getting about 518kb parsed, 120kb gzipped.

 with the recommended:

[code]

 im getting 979kb parsed, 198kb gzipped.

[2020-11-03 06:13] threeseed opened #262 "Up/Down arrow keys don't work in Input fields on Safari"
**Describe the bug**
With the standard Input field but also the Shoelace Text Area you can use the up/down arrow keys:
1) Pressing up/down will move the cursor to the start/end respectively
2) Holding the shift key and pressing up/down will highlight the text to the start/end respectively

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://shoelace.style/components/input
2. Enter s

[2020-11-03 12:34] claviska commented on #262
I've narrowed this down to a bug in Safari and filed a report here: https://bugs.webkit.org/show_bug.cgi?id=218507

Since this is a low priority upstream issue, I'm not going to hack the library to try to make it work. Please follow that ticket for further updates.

[2020-11-03 12:34] #262 closed, assigned to claviska

[2020-11-04 21:55] igauravbhatnagar opened #264 "Need to have differentiating event types for components like sl-rating"
**Is your feature request related to a problem? Please describe.**
when you update the ratings via a value returned from the server, the 'sl-change' event gets triggered. there needs to be a way differentiate this from an event which should occur when there is a 'change by user' by clicking on the ratings component.

**Describe the solution you'd like**
another event type to know if a user has cli

[2020-11-05 01:15] threeseed opened #265 "Menu dropdown panel renders incorrectly with filter on Chrome"
When you use a menu within a div that is applying a filter on hover it renders incorrectly.
It is only an issue with Chrome and only an issue when using a filter.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit https://jsfiddle.net/18b6Lvfx/1/
2. Click on the button to open the menu panel.
3. Hover your mouse over the background-image and notice how the menu panel also moves.

**Expect

[2020-11-05 13:56] claviska commented on #265
While this behavior isn't straight-forward, it's not a bug. It's a side effect of using a fixed positioning strategy via `hoist` and how fixed positioning works in HTML/CSS. [From the docs](https://shoelace.style/components/dropdown?id=hoisting):

In your case, removing the `hoist` prop will resolve it (unless your use case requires `overflow: hidden`).

The reason two positioning strategies are o

[2020-11-05 13:56] #265 closed, assigned to claviska

[2020-11-05 14:02] thomasklemm opened #266 "Prop on select field to disable autocomplete"
**Is your feature request related to a problem? Please describe.**
When using `<sl-select>` an autocomplete is shown in my version of Chrome (which I guess is the expected behaviour?)

**Describe the solution you'd like**
It would be good to have an `autocomplete="off"` prop on `<sl-select>` just like on `<sl-input>`.

From `<sl-input>`:
![image](https://user-images.githubusercontent.com/1100176/9

[2020-11-05 14:11] claviska commented on #266
Select currently uses an `<sl-input>` under the hood, but this will change soon for a11y reasons. In the meantime, c82dd0bb3c442594b82cfc4accdcbb336cafeb74 should fix this.

[2020-11-05 14:11] #266 closed, assigned to claviska

[2020-11-05 14:15] thomasklemm commented on #266
Very cool, that fix looks good, thanks @claviska! 🙌

I think the reason this has been happening is that I had a field w/ the exact same name as a regular `<input type="text">` field before replacing it w/ shoelace. No autofill items are added after deleting the existing ones manually by clearing browser data.

[2020-11-05 15:00] claviska commented on #265
I finally took the time to start this discussion with the CSS WG. If you're interested, you can follow along here: https://github.com/w3c/csswg-drafts/issues/5699

[2020-11-06 19:19] leewhitbeck commented on #147
Has anyone looked at https://storybook.js.org/  ? I haven't used it, but from what I see  in the docs it can help with visual regression among other things.  Also, i've been looking at Ionic's approach too, which seems pretty nice.

[2020-11-06 20:56] claviska commented on #147
I previously used Storybook for a similar web component library. It's slow, bloated, difficult to customize, and I have absolutely zero interest in using it to develop, test, or document custom elements ever again.

It also doesn't help with visual regression unless you're using it along with [their own product](https://www.chromatic.com/). Similar results can be found with [BackstopJS](https://gi

[2020-11-06 21:24] claviska commented on #264
This is expected because the value changes.

I'm having trouble understanding why this is necessary. There's no such event for native `<input>` elements and, if you know you're changing the value, you can stop listening for the event while you make changes or set a variable to suppress changes you're making.

Seems like something that should be handled by the user, not the library.

[2020-11-07 12:45] threeseed opened #267 "Icons fail to render when switching React routes"
**Describe the bug**
Shoelace Icons within a React app will fail to render when switching routes.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a React app with /page1 and /page2 routes (each bound to a Page1/Page2 component)
2. Create a common navigation bar with tabs to switch between the routes.
3. When you click on Page1/2 tabs ALL the Shoelace icons on the page will disappear.

[2020-11-07 18:19] igauravbhatnagar commented on #264
Makes sense. I'll look into the suggestion to work around this for my need.
Closing.

[2020-11-07 18:19] #264 closed, assigned to claviska

[2020-11-08 01:10] threeseed commented on #267
So have tracked down the problem to the Icon Library:

If you add:
[code]

Into your top level React component and the JS resolver/mutator part into the bottom of your HTML page then it will not work on route changes as the React component will be re-rendered but the page won't so there is a mismatch.

Is it worth updating this statement:
[code]

To something like:
[code]

[2020-11-11 20:42] brgrz commented on #180
I'm using Shoelace with Svelte (Rollup config). The starter Svelte template is around 20kb.

I add this

[code]
and it goes to 390kb.

If I then add these two lines to make it actually work

[code]
it goes to 470kb.

?

[2020-11-12 13:16] trailsnail opened #269 "Autocomplete with saved logins not possible in `<sl-input autocomplete="on">`"
**Describe the bug**
Is it intentional that autocomplete on inputs won't work? Login and password for example.

**To Reproduce**
Steps to reproduce the behavior:
native|`<sl-input autocomplete="on">`
-|-
Use native `input` in html form, select browsers saved login - the password is autofilled|Password not filled, saved logins not used
![grafik](https://user-images.githubusercontent.com/4742603/989

[2020-11-12 13:17] trailsnail commented on #269
Would be nice to know, if this is a bug or a feature / expected behavior 😉

[2020-11-12 13:30] claviska commented on #269
It's intended to work, and I've seen it work first hand many times. In fact, it worked so well that a composed `<sl-input>` inside of `<sl-select>` was getting autocompleted (#266). 😂

Can you post a test case?

[2020-11-12 13:34] trailsnail commented on #269
![grafik](https://user-images.githubusercontent.com/4742603/98946216-e6a29680-24f3-11eb-9f1b-1f395268cf01.png)
The suggestions are shown, this is correct, but the password is not filled with the value which is stored in browser for the login field.

With `<sl-input>` you have to click / select the correct password entry manually from browser suggestions.

I will try to create a codepen for this la

[2020-11-12 17:21] trailsnail commented on #269
Here we go:

https://codepen.io/trailsnail-the-lessful/pen/wvWRmmK

- enter `testuser` in native Login and `test` in native password field
- submit and save credentials in browser dialog
- after that reload pen
- click into native login and select the `testuser`
![grafik](https://user-images.githubusercontent.com/4742603/98972899-5d02c100-2513-11eb-8ce3-14c26c0040c5.png)
- the password is filled
!

[2020-11-17 19:00] claviska commented on #269
Possibly related: https://bugs.chromium.org/p/chromium/issues/detail?id=649162

[2020-11-18 01:19] claviska commented on #134
It sounds like we're all on the same page. Send me some nice table designs for inspirations. 😍

[2020-11-18 01:42] claviska commented on #180
Analyzing the few dependencies Shoelace has:

- `@stencil/core` is required, nothing we can do about that. Not sure how large it is on its own, but a "hello world" component lib is only ~1 KB so it doesn't seem to be bloating things out of the box.

- `@popperjs/core` is only ~3 KB so I'm not concerned about that given how useful it is.

- ~`resize-observer-polyfill` weighs in at around 36 KB and

[2020-11-18 09:23] trailsnail commented on #269
Seems you are right. Thanks for investigation.

@staabm fyi

[2020-11-18 09:23] #269 closed, assigned to claviska

[2020-11-18 12:35] staabm commented on #269
But AFAIR FF had the same issue, no?

[2020-11-18 12:49] trailsnail commented on #269
What's this? https://bugzilla.mozilla.org/show_bug.cgi?id=1629226

While searching for matching topics, the Shadow Dom seems to be responsible for many other strange behaviors 🤣

[2020-11-19 13:49] brgrz opened #271 "Extract styles from components / provide default theme as standalone option"
**Is your feature request related to a problem? Please describe.**

I'm currently using only a few components from Shoelace having code mixed with regular `<input>`s and HTML elements. Shoelace components get styled using default theme & scoped styles while other non SL elements obviously lack styling.

It'd be nice if I could apply SL styling to regular elements using classes.
I really don't want

[2020-11-19 21:33] claviska commented on #271
This isn't a great option since component styles are scoped to the component's shadow DOM. I do use BEM as a matter of convention, but there are few benefits to splitting those styles out and, in doing so, it would limit the changes I can make to components' internals. If people are relying on those styles as a publicly exposed thing, I can't change them without breaking their styles. All in all,

[2020-11-19 21:53] claviska commented on #267
Ah, right, it would need to be outside of a component. Thanks for following up!

[2020-11-19 21:53] #267 closed, assigned to claviska

[2020-11-19 22:37] brgrz commented on #271
I tried and there are some issues _at the moment_ that make working with properties on SL custom elements, specifically binding the value of the sl-input (and other form elements) to local variables, cumbersome (in Svelte at least). See here https://github.com/sveltejs/svelte/issues/4838

As such, having native inputs but just styled to look like SL components would make matters easier.

But I agr

[2020-11-20 20:40] claviska commented on #271
I've only dabbled a bit in Svelte, but that was months ago. I wonder if you can you create a [`use:action`](https://svelte.dev/docs#use_action) that handles two-way binding for Shoelace elements. 🤔

[2020-11-22 21:28] zolk opened #272 "Invalid design token variable in menu-item.scss"
Happened to notice that the color property for `.menu-item` is currently an invalid variable:

https://github.com/shoelace-style/shoelace/blob/540f29c4e2a769410863314fc5f70b7b037bf963/src/components/menu-item/menu-item.scss#L17

This should be `--sl-color-gray-40`. I would submit a PR to correct, however this color is lighter than the current inherited color so I'll leave it up to @claviska on the

[2020-11-23 11:38] NesQ1kx opened #273 "Click on sl-select component calls displaying the keyboard in mobile browsers"
Click on sl-select component calls displaying the keyboard in mobile browsers.

**Smartphone (please complete the following information):**
 - Device: [Iphone XR]
 - OS: [iOS 14.2]
 - Browser [Safari, Chrome]
 - Version []

[2020-11-23 14:42] claviska commented on #273
Thanks. I'm tracking this as part of the upcoming select rework in #216. Please subscribe to that issue for updates!

[2020-11-23 14:42] #273 closed, assigned to claviska

[2020-11-23 14:45] #272 closed, assigned to claviska

[2020-11-23 14:45] claviska commented on #272
Thanks. Went with `--sl-color-gray-30` to maintain a similar color.

[2020-11-25 03:09] threeseed opened #274 "Indeterminate option for ProgressBar"
**Describe the solution you'd like**
Indeterminate property for ProgressBars where setting to true would cause the progress bar to have:
1) Blue component bounce back and forth like in Big Sur.
2) Animated, stripped effect.

For example:
https://material.io/components/progress-indicators
https://material.angular.io/components/progress-bar/overview

[2020-11-25 08:45] h-archer opened #275 "Dialog + drawer emit `sl-hide` twice"
I have identified two issues that may be related with the dialig component.

**Issue 1**
A SL dialog with a listener for the 'sl-hide' event fires twice. The other events like 'sl-show' and 'sl-after-hide' all fire once as expected.
[code]

**Issue 2**
I have some buttons wrapped in tooltips all within a SL dialog (see markup below). Hovering over/out of the buttons works but fires the parent dial

[2020-11-25 14:01] claviska commented on #275
Note: the `sl-hide` event firing twice also affects `<sl-drawer>` since the logic is the same.

[2020-11-25 14:02] claviska commented on #275
Check `event.target` and I'm sure you're seeing the tooltip's event bubbling up. This is the correct behavior. It works the same way a standard `click` event will bubble up.

[2020-11-25 14:26] #275 closed, assigned to claviska

[2020-11-25 15:20] h-archer commented on #275
Thanks for the quick reply. I don't get what you mean. I am not using the SL drawer.

The other issue with the tooltip and event bubbling up, I do understand. Makes sense thanks.

[2020-11-25 15:23] claviska commented on #275
That was just a quick note to myself that the same bug affected the drawer component. Both have been fixed thanks to this bug report. 😄

[2020-11-25 15:27] h-archer commented on #275
Haha ok great I need to pay more attention 👍

[2020-11-25 21:21] #274 closed, assigned to claviska

[2020-11-25 21:27] claviska commented on #274
I'm generally against using progress bars for indeterminate states, but I understand that there are some valid use cases for it. I'm not trying to mimic Material Design's animation (it's a bit annoying to me with the dual bars and varying speeds) but the animation I've chosen is smooth and reasonably obvious to users.

![CleanShot 2020-11-25 at 16 24 30](https://user-images.githubusercontent.com/5

[2020-11-25 23:26] threeseed commented on #274
@claviska  .. Absolutely perfect. Thanks !

[2020-11-26 06:11] threeseed opened #276 "Progress Bar should have indicator-color/track-color properties"
**Describe the bug**
ProgressRing has indicator-color and track-color properties.

For consistency and ease of use it would be nice if ProgressBar had similar properties.

[2020-11-26 13:33] h-archer commented on #275
Hi, I just updated to 2.0.0-beta.23 but still, hiding a dialog fires the 'sl-hide' event twice. I must be missing something!

[2020-11-26 15:07] claviska commented on #275
This is currently in `next` and will land in beta 24.

[2020-11-27 08:52] h-archer commented on #275
Thanks

[2020-11-28 11:22] brgrz commented on #271
Did you mean using the `use `directive on individual SL form components or on the `<sl-form>` as a whole? If former, imho that would result in lots of boilerplate code connecting the SL component values to JS object structure which would get more complex as form complexity increases.

If later, then the main issue I'm having right now with `sl-submit` and that is either using `on:sl-submit` or wit

[2020-11-28 11:22] #271 closed, assigned to claviska

[2020-11-30 14:01] #276 closed, assigned to claviska

[2020-11-30 14:12] claviska commented on #271
I was thinking on each form control, but again, I'm not a Svelte expert so I haven't thought about it too much.

This will turn a FormData object into a standard object that you can pass to the server.

[code]

[2020-11-30 14:17] brgrz commented on #271
This is what I've come up with in the meantime wrt Svelte and `use` directive. It works somewhat but I haven't tested it with more complex forms/object structures yet.

[code]

Thanks for the `Object.fromEntries` reference.

[2020-12-02 21:25] brgrz opened #277 "Ability to prevent form submission on Enter"
**Is your feature request related to a problem? Please describe.**

I'm trying to prevent form submission when enter is pressed in one of the form's inputs. I'm using Svelte and tried to use some of the default [event modifiers](https://svelte.dev/tutorial/event-modifiers) like `preventDefault` on sl-form element (on:sl-submit|preventDefault) and it didn't stop the submission.

I also tried the fo

[2020-12-02 22:17] #277 closed, assigned to claviska

[2020-12-02 22:21] claviska commented on #277
Fixed in 3d8dd41, but it needs to be done in a `keydown` event like a standard form.

[code]

This will be available in the next release. Note that you can also use `event.stopPropagation()` to achieve the same result in the current version.

[2020-12-03 08:25] staabm opened #278 "Adobe XD / Figma Support"
**Is your feature request related to a problem? Please describe.**
when working on designs/layouts in Adobe XD it would be really helpfull if the shoelace components would be available as xd components. we are working on layouts before doing the html/css and atm these layouts need to be manually tricked, to look like shoelace or don't look like shoelace at all when we don't spent extra time on it.

[2020-12-03 15:09] claviska commented on #278
There's [a third-party effort to support Figma](https://www.figma.com/file/6Jx9o4UssKNoLVWhYSIWiE/Shoelace-2.0-UI-Kit?node-id=8%3A161), but I don't have any plans to create or maintain this nor an XD version myself.

The main reason is that Shoelace is intended to be customized. I understand that a number of users won't do this, but there are many that do. Unless the designs can be automatically g

[2020-12-06 23:48] Aquilaafuadajo opened #279 "Backdrop / overlay"
**Is your feature request related to a problem? Please describe.**
No

**Describe alternatives you've considered**
The backdrop signals to the user of a state change within the application and can be used for creating loaders, dialogs and more. In its simplest form, the backdrop component will add a dimmed layer over your application.

**Additional context**
inspiration: https://material-ui.com/co

[2020-12-07 15:19] claviska commented on #279
Currently, dialog and drawer use overlays but they're internal to the component. It makes sense to split this out so other components can utilize overlays without having to explicitly style them.

A couple things to ponder:

- Should the overlay allow slotted content?
  - If so, the content should probably be centered by default. My only concern here is that people will use this to show _just_ a s

[2020-12-08 12:53] trailsnail opened #280 "`<sl-include>` needs to parse contained `<script>`"
**Is your feature request related to a problem? Please describe.**
I am very happy with the `<sl-include>` component. Makes it really easy to lazy load stuff which takes longer to perform. Before I had to implement `fetch()`stuff on my own.

Problem is: if the included file contains `<script>` tags, these scripts aren't executed

**Describe the solution you'd like**
It would be nice, if the fetche

[2020-12-08 14:22] claviska commented on #280
Good idea. I've exposed it through the `allow-scripts` prop in 662d0a3c79ca928226be8b9f6c04569bc849c764 and added an appropriate warning in the docs, as it can cause XSS vulnerabilities when including untrusted content.

Usage:

[code]

This is currently in `next` and will be available in the next release.

[2020-12-08 14:22] #280 closed, assigned to claviska

[2020-12-09 08:12] Aquilaafuadajo commented on #279
Noted.
I can extract the logic from the dialog/drawer component then make the drawer/dialog component children of the overlay. It makes sense to style it once and use it anywhere.

**Question**: do I need to open another issue to refactor this two components to use this new feature?

[2020-12-09 14:07] dvic commented on #120
I think this would be a useful addition, a related resource: https://every-layout.dev/

[2020-12-09 14:17] claviska commented on #279
I played with this a bit this morning and I'm still not sure what the API should look like, but I'm leaning towards the following. Note that this makes the overlay a true stand-alone component with its own transitions, events, etc. I didn't like the idea of it being too low-level or too "dumb" because then it wouldn't be useful for users.

### Props

- `open` (mutable) - when toggled, the overlay

[2020-12-09 15:14] dvic opened #281 "Default values not used when attributes are removed"
**Describe the bug**
The `sl-button` component (but probably also other components) do not properly use default values when attributes are removed from the element after it has been initialized.

**To Reproduce**
Render a button:

[code]

The DOM will be:

[code]

It will look like:
![image](https://user-images.githubusercontent.com/1214337/101647387-f355d400-3a38-11eb-86f4-e3e1f5686d2e.png)

Remo

[2020-12-09 15:38] claviska commented on #281
Most components are designed such that props map to internal classes, and those classes dictate how the component is styled. When a component initializes, it sets default values for any missing props. If you remove those attributes/properties from the DOM, naturally, things bound to them (i.e. classes) will be affected.

When tinkering with the DOM, you can change an attribute or property however

[2020-12-09 15:49] dvic commented on #281
Thanks for the prompt response!

I mostly agree with you but not with the fact that omitting an attribute is the same as providing an invalid value.

Unfortunately this is not possible with a framework like LiveView or Livewire (the Laraval equivalent of LiveView) so it makes the use of this library not possible (afaik), which is a shame :)

By the way: I just checked if https://github.com/materia

[2020-12-10 19:51] brgrz commented on #277
Hey, I'm sorry but I just tried this on beta.24 and this is the experience I get:

If I use Svelte's `preventDefault ` event modifier like this

`	on:keydown|preventDefault={onInput}`

then I am unable to type into the input field.

If I use Svelte's `stopPropagation` event modifier

`	on:keydown|stopPropagation={onInput}`

then I actually get the wanted/correct? behaviour (disables form submissio

[2020-12-10 23:54] claviska commented on #277
You have to check the key that’s pressed. Preventing keydown on any input without checking for certain keys will prevent all key presses.

[2020-12-11 09:44] brgrz commented on #277
I was checking the key within the function. It is fine now though. I'll continue to use the stopPropagation modifier to allow all keys to be pressed but supress the submission on Enter, which seems to work fine.

[2020-12-11 22:14] #216 closed, assigned to claviska

[2020-12-11 23:55] claviska commented on #273
Fixed in `next`

[2020-12-12 16:04] claviska opened #283 "RFC: Color Palette Changes 🎨"
Just a quick RFC on the idea of adopting Tailwind’s new color palette for Shoelace.

https://tailwindcss.com/docs/customizing-colors#color-palette-reference

- We currently set colors for every 5% increment of lightness and we don’t really need that many colors (most are unused)
- Color palettes that are mathematically generated are inconsistent and inferior to the amazing work that’s been done wi

[2020-12-12 19:35] jaredcwhite commented on #283
I gave it a thumbs-up—not that I think alignment with Tailwind in and of itself is worth the effort, but I like the sound of the new system overall. I found the current HSL system a wee bit confusing at first.

[2020-12-13 09:11] brgrz opened #284 "Weird behaviour of inputs + Svelte"
**Describe the bug**

I'm seeing strange behaviour when typing into and clearing SL inputs.

**To Reproduce**

Please take a look at the following Svelte REPL
https://svelte.dev/repl/05e85f9cb74e4f94b1f1a820c5e5fc10?version=3

Open the console and watch how it behaves when you type and when you press Enter. Pressing Enter does not always clear the input box (it does however appear to clear out the

[2020-12-14 20:00] jaredcwhite commented on #283
@claviska Using a lot more Shoelace now on a new project, and for the most part all the CSS variables and ::part customizations have been awesome, but I find it peculiar that the only way to change the brightness level of, say, a primary button is to add something like this:

[code]

It feels like somehow we should only need a a single token to change the default (50 I believe) to something else f

[2020-12-14 22:27] claviska commented on #283
Probably not in this change. This will focus on:

- updating tokens to use a 50-900 scale and inverting their lightness relationship
- adding new color tokens, e.g.`--sl-color-blue-500`
- mapping semantic color tokens to the new color tokens, e.g. `--sl-color-primary-500` => `--sl-color-blue-500`

However, I'm curious if you have a more efficient way of styling. Bear in mind borders don't always m

[2020-12-14 22:45] brgrz commented on #283
HSL is actually great for theming and is semantic in it's way that you can tell the numbers of a color which you can't with RGB/HEX. I hope this doesn't mean going back to hex.

I do agree though that having steps by 5 is a bit too much, also it'd be nice if there were ladder-like color variables, for example

[code]

[2020-12-14 23:05] claviska commented on #283
The Tailwind color palette is curated and [Steve has put a lot of work](https://twitter.com/steveschoger/status/1318220479564570624?s=20) into getting it right. Relying on math alone is an easy way to get close with color variations, but HSL isn't an optimal approach because the same L values don't yield the same _visual_ lightness for every hue. There are some great examples [in this article](htt

[2020-12-14 23:13] jaredcwhite commented on #283
All right, I'll write up a bit more thought-out description and file it as a separate issue for further discussion.￼

[2020-12-15 14:57] beauwest opened #285 "Add ability to remove icon from icon component"
**Is your feature request related to a problem? Please describe.**
In my application, I need to be able to dynamically apply icons, and sometimes remove them.

**Describe the solution you'd like**
I'd like to be able to set `icon.name = '';` or `icon.name = null;` and have that remove the current icon.

**Describe alternatives you've considered**
I can currently use the custom resolver with a magi

[2020-12-15 14:58] claviska commented on #285
Wouldn't this be better done with `visibility: hidden` or similar CSS?

[2020-12-15 15:04] beauwest commented on #285
At least for my application, I don't think so. I have a library of >6,800 icons that users can choose from, or they can choose no icon at all. I'd have to add logic to every component that implements an icon to handle the falsey scenario.

Honestly, this would be easier if the library resolver got called even if the icon `name` was falsey, but how it's written right now, I don't feel like I have a

[2020-12-15 15:10] claviska commented on #285
Ah, yeah I see setting `name` to `''` doesn't clear out the icon, which I'd consider a bug. Never thought to try that.

Rather than make the resolver deal with it, an empty icon should probably just not be drawn — just like `<img src="">` works.

[2020-12-15 15:13] beauwest commented on #285
That sounds prefect to me, thank you so much Cory!

[2020-12-15 20:42] benopotamus commented on #283
This would be great. I've been redefining my shoelace styles to Tailwind/RefactoringUI colors so this would make things easier :-D

[2020-12-15 21:19] jaredcwhite opened #286 "CSS custom properties and theming/styling"
One of the issues I've run into with bringing Shoelace components into an existing site design is matching up certain component colors with the rest of my color scheme, for example the primary button color, or the success tag color, etc. While I can affect the hue of the components in general by changing the colors of the Shoelace theme itself, I can't effect the brightness of each component indiv

[2020-12-15 22:41] #285 closed, assigned to claviska

[2020-12-16 18:16] eskan commented on #286
and this could be a transition way to implement more specific CSS variables :

[code]

[2020-12-17 10:53] eskan opened #287 "Rethinking style"
Hi @claviska,
as we've discuss on discord i think there's mis-implementation of styling with Shoelace.
You use two concepts : Part and Css Variables.
Part is allow a component to have a CSS selector to style an element that is in the shadow of an inner WebComponent.

[code]
Part is well to style immediate inner component but have issues as describe here :
https://github.com/fergald/docs/blob/maste

[2020-12-18 03:06] threeseed commented on #284
@brgrz .. You need to add an event.preventDefault to your callback handler then it works.

[code]

[2020-12-18 21:42] claviska commented on #284
Good catch, @nadenf, just tested and it does seem to do the trick. Closing since this looks unrelated to Shoelace.

[2020-12-18 21:42] #284 closed, assigned to claviska

[2020-12-18 22:41] claviska commented on #286
The main problem here is something I first recognized in Bootstrap, which is variable hell. [Take a look at their variables file](https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss) — it's over 1,300 lines.

I'm reluctant to do this because it starts here:

[code]

Then people "need" more and it quickly leads to this:

[code]

Oops, let's not forget the state modifiers:

[code]

And

[2020-12-18 22:56] claviska commented on #287
In Shoelace, global CSS custom properties are prefixed with `--sl-` and used as high level design tokens. Component-specific variables are scoped to the component by design (e.g. `:host`). This allows us to use more generic names, provides users with a cleaner API for customization, and avoids most collisions as they're also defined in the component.

The use of CSS custom properties is also limit

[2020-12-18 22:56] #287 closed, assigned to claviska

[2020-12-19 08:54] brgrz commented on #284
@nadenf @claviska Is there an explanation behind this? Because I was trying it using Svelte's preventDefault modifier which should do the same but it didn't work?

[2020-12-19 08:58] eskan commented on #286
It's not the idea to set all CSS variables for a theme but only color palette. **A theme is component agnostic**, it's a palette that does not need to be modified if you add a component.

For exemple in that case :
[code]
until --sl-tag-background-color-primary is set, normally in a subtree for a particular case, it's never used or define so the --sl-color-primary-95 is apply. And I agree with the

[2020-12-19 16:29] jaredcwhite commented on #286
I like @eskan's example there with the fallbacks…it provides the extra customizability I would like to see without actually requiring hundreds of new variables to be declared.￼ I understand your concern @claviska about becoming Bootstrap all over again!￼

[2020-12-20 11:43] brgrz opened #288 "Consistent spacing across components"
**Is your feature request related to a problem? Please describe.**

I'm starting to use more SL components within a single page and ootb there's clear inconsistent spacing across controls, for example if I use inputs, menu with menu items follow for instance with a card and finished with a submit button. The differences are mostly with padding, some use medium, some large or even x-large.

When yo

[2020-12-20 12:29] claviska commented on #288
Can you provide some screenshots as examples?

[2020-12-20 16:28] brgrz commented on #288
Due to the confidential nature of the project I'll send them to you through Twitter messages.

[2020-12-21 14:39] claviska commented on #286
There's definitely some validity to this concern, but I'm not convinced CSS custom properties are the sole solution. I'd like to explore other options first, such as [Constructable Sytlesheets](https://developers.google.com/web/updates/2019/02/constructable-stylesheets).

@eskan for the sake of simplicity, here's a Fiddle that demonstrates `exportparts` through three nested elements. It's admitted

[2020-12-22 15:02] claviska commented on #283
This was a big update, but the new color tokens are in place and described here: https://next.shoelace.style/tokens/color

This is a breaking change, but only if you're using color tokens in your own stylesheet and/or customizing components with them. From the changelog:

- Theme colors are now inspired by Tailwind's professionally-designed color palette
- Color token variations now range from 50,

[2020-12-22 15:10] claviska commented on #283
Here's a before and after. The new palette provides better contrast for the same "lightness" values.

![image](https://user-images.githubusercontent.com/55639/102903076-d4ded800-443d-11eb-9bbf-dab6b8ebfd41.png)

[2020-12-22 16:13] jaredcwhite commented on #283
I think it looks great!￼

[2020-12-22 18:53] claviska commented on #279
Hey, great work here! 😅

I've been experimenting with this and I have a few concerns:

- I don't love the name "backdrop". It implies something in the background, when it's actually overlaying everything.
- The overlay shouldn't have its own z-index — it should be managed through the consuming component. Examples of this are dialog and drawer, where the overlay isn't a child of the `<body>` but a

[2020-12-22 19:23] claviska commented on #288
I've mocked up a similar example that showcases the reason for the issue.

![image](https://user-images.githubusercontent.com/55639/102924280-3f544000-445f-11eb-9f9f-eaedcc21d577.png)

This is a pretty subjective thing, and personally I don't think buttons look very good when they're aligned with input text. They're smaller and they lack spacing, making them feel cramped.

![image](https://user-im

[2020-12-22 19:23] #288 closed, assigned to claviska

[2020-12-22 20:36] mohammedzamakhan opened #289 "Select inside overflow hidden container"
**Describe the bug**
When the select is in the container that has overflow hidden, then the popover doesn't show up

**To Reproduce**
Steps to reproduce the behavior:
1. Add overflow hidden to the parent container in the https://shoelace.style/components/select
2. Open the select dropdown

**Expected behavior**
You should still be able to see the dropdown in such scenarios

**Screenshots**
<img wi

[2020-12-22 20:38] claviska commented on #289
Please use the `hoist` prop on your select [per the docs](https://shoelace.style/components/select?id=properties).

[code]

[2020-12-22 20:38] #289 closed, assigned to claviska

[2020-12-22 22:05] kevinlandsberg opened #290 "Best way to integrate shoelace into an existing stencil js application"
Hi @claviska ,

i have a more general question about using shoelace inside another stencil js project. I have started to build an application based on stencil js app starter. I would like to use a component library to focus more on the buisness logic. How would you recommend using shoelace with a local installation as np package inside my repo? ATM i am using the defineCustomElements from @shoelac

[2020-12-22 22:19] claviska commented on #290
Since you're using Stencil, you can import it like this and start using it in your app.

[code]

You will need to include the stylesheet, though, and possibly run this to get the resize observer types.

[code]

Then, in your JSX, use it like regular HTML.

[code]

[2020-12-22 23:36] kevinlandsberg commented on #290
Thank you very much, this is the answer i expected :)

[2020-12-22 23:36] #290 closed, assigned to nobody

[2020-12-23 07:33] timefordroids commented on #283
That's amazing! Thank you Cory.

[2020-12-23 14:16] claviska commented on #290
I made `@types/resize-observer-browser` a regular dependency so you'll be able to skip that step in beta 25+.

[2020-12-23 14:19] kevinlandsberg commented on #290
Thank you very much, was wondering why i have to install it seperately...

[2020-12-23 15:31] brgrz commented on #288
Tbt vertical alignment is one of the most important things in any layout design.

I still think settling on medium spacing from the button for all input and container controls would look great and consistent. It's true it is subjective but imo this doesn't look cramped. And it looks way better than what it would look like with out of the box settings.

![sl-vertical-align](https://user-images.gith

[2020-12-23 17:14] claviska commented on #288
I [reworked button spacing](https://github.com/shoelace-style/shoelace/commit/48eeb9ecd06822b2b8afb13a386a02b01dcaf11a) to support split buttons and to make it more maintainable overall. As a result, I also made buttons slightly more narrow.

Then [I updated input tokens](https://github.com/shoelace-style/shoelace/commit/e9b1463f0c82f95233020f1a531752480fa137bb) to use spacing tokens (they were st

[2020-12-23 17:21] claviska commented on #115
This is [now possible](https://next.shoelace.style/components/button-group?id=split-buttons) and will be available in beta 25.

[2020-12-23 17:21] #115 closed

[2020-12-23 17:27] claviska commented on #209
Turns out global stylesheets are not loaded _by design_, so this isn't a bug. When using the library within a Stencil app, the global stylesheet must be explicitly imported.

[2020-12-23 17:27] #209 closed, assigned to claviska

[2020-12-23 21:30] claviska commented on #128
With the color update that occurred in #283, contrast was improved a bit in most of the areas discussed in this thread. I'm still hoping to get around to designing a high-contrast theme (follow #99 for details), but for now I think I'm happy with where the default theme is.

If there are blatant contrast issues moving forward then feel free to post a new issue. 😄

[2020-12-23 21:30] #128 closed

[2020-12-23 22:07] claviska commented on #283
This is now available in beta 25. 🚀

[2020-12-23 22:07] #283 closed, assigned to claviska

[2020-12-23 22:22] claviska opened #291 "🚨 Breaking changes in 2.0.0-beta.25"
I try really hard not to introduce breaking changes in the beta, but sometimes it's necessary to fix mission critical problems with the library before we can have a stable release. The following are a list of all breaking changes you'll find when upgrading to beta 25.

### 🚨 Reworked color tokens (#283)

- Theme colors are now inspired by Tailwind's professionally-designed color palette
- Color to

[2020-12-24 23:21] NorthMcCormick opened #292 "[sl-menu-item] Add an href prop"
**Is your feature request related to a problem? Please describe.**

Not related to a problem, more of an improvement? sl-menu-items behave as if they could have an href attribute but are not rendered as <a>. I use these menus for navigation and it adds work and maintenance to listen and respond to click events.

**Describe the solution you'd like**

I could see this being simplified by allowing an

[2020-12-26 17:34] jaredcwhite opened #293 "Would like a reset method for sl-form"
Mentioned in #137:

I'll cobble together my own reset functionality for the time being, but it would be great to have a built-in method.

[2020-12-28 14:29] claviska commented on #292
Menu + menu item aren't intended to be used as navigation — they're designed to be "system" menus and were abstracted so they could be reused in things like dropdowns, selects, context menus, etc.

That said, Shoelace doesn't currently provide a nav component for [reasons mentioned here](https://github.com/shoelace-style/shoelace/issues/190#issuecomment-682459402). TL;DR — there are too many varia

[2020-12-28 14:44] claviska commented on #293
To solve this, we need to decide when a form control's value should technically be considered the default value. For example, is it on `connectedCallback` or `componentDidLoad`? How will framework bindings and the lazy loader affect the default value?

Or do we even want this logic to exist in form controls? Maybe we can consolidate it into `<sl-form>` so the form does all the work. After all chil

[2020-12-28 22:40] claviska commented on #180
I don't know why I didn't think of this before, but the Animista animations that come bundled with the animation component are ~200KB. 😳

I think dropping them from the default bundle and providing them as an opt-in import will be better. There will still be ~80 animations from animate.css which seem to be more generic and common. I suspect for some reason these imports are contributing to this, s

[2020-12-30 01:38] jaredcwhite commented on #293
@claviska I would assume each control has a "default" state that is whatever is shown if no value has been set, so form clearing would effectively unset each control's value. I suppose if you really wanted to get fancy, you could allow for user overrides of a control's default value, but that feels out-of-scope for a v1 implementation IMHO.

FWIW, here's some code I threw together for my app (cert

[2020-12-30 19:23] claviska opened #296 "Testing"
Most components could use additional tests. A handful are missing entirely. We also need to consider implementing code coverage, per #734.

Help wanted here. If you're contributing, please use this thread to post what you're working on to prevent duplicating efforts.

[2021-01-03 12:41] h-archer commented on #239
There was another issue here. But it's also solved. It's related to typescript.

I had to cast to the correct class:
[code]

[2021-01-03 17:56] mcjazzyfunky commented on #228
This is my first comment in the Shoelace project, so:  @claviska What an amazing project! Really, really well done!
I know this issue is closed but I nevertheless think, this is an very important issue and there have not been enough discussion about alternatives yet, IMHO.

I think it's not about hundreds of icons, but currently only about the following ones (hope my list is more or less complete)

[2021-01-04 19:19] mcjazzyfunky opened #297 "Shoelace's core icons should be bundled with module => calling `setAssetPath` would not be mandatory any longer"
**Is your feature request related to a problem? Please describe.**
A really good custom element is something you import and use it and it just works out of the box.
This is currently not possible with Shoelace as it is mandatory to call `setAssetPath` before you can use the SL custom elements (unfortunately, it's currently also mandatory to explicitly include a theme CSS file - but this shall not

[2021-01-05 01:09] jaredcwhite commented on #286
I have to admit, after the latest changes to the color theming in the beta, I'm finding this less of a problem. Once I initially set some variables in `:root` like `--sl-color-primary-500` or `--sl-color-info-400` or whatever, it just kind of flows through the system as expected. So definitely less of a priority concern for me now.

[2021-01-05 11:21] gradepuxi22 opened #299 "Tab group's panel disappears after switching children tab group's panel"
**Describe the bug**
Let's say we have tab group A and tab group B. Tab group B is inside A's tab panel. Switching panel in B makes A's tab panel disappear. After going inside the same A's tab panel through a tab, we can see that the panel in B has switched correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Create **sl-tab-group** with appropriate **sl-tab** and **sl-tab-panel** comp

[2021-01-05 11:28] mcjazzyfunky opened #300 "Proposal to make Shoelace's CSS work out of the box without any explicit CSS includes"
If you happen to work with a stack like React plus CSS-in-JS plus react-icons you will really really love the fact that your components and often also third-party components will "just work": You import them ... you use them ... everything works out of the box.

When working with Shoelace things are not that comfortable. Some quite suboptimal issues in SL are:

1. You are forced to call `setAssetP

[2021-01-05 13:52] claviska commented on #299
Thanks for reporting this. Verified and fixed in a0e929787ef4d16bf8115b97d00deb10373c77f1. I've also [added a test](96c66d11ce0fb4a6fb8677e4ae2c0bc36b17daec) to prevent regressions.

[2021-01-05 13:52] #299 closed, assigned to claviska

[2021-01-05 14:39] claviska commented on #300
From #297:

I love this idea and I generally agree with it. However, when working with a library of components there _must_ be a common set of design tokens, otherwise default styles will become aesthetically chaotic.

The bulk of `shoelace.css` is made up of design token definitions. There _are_ a handful of exceptions to this, which I'll talk about more later (see "A note about light DOM styles"

[2021-01-05 14:44] claviska commented on #297
I like the idea of system icons that don't need to be requested separately. This would alleviate the requirement to call `setAssetPath()` as you've suggested. The ability to override them with a custom resolver will also be convenient.

I think adding a special library called something like `system` or `internal` would be the way to go. It would simply return a data URI to bypass the need for an X

[2021-01-05 15:22] claviska commented on #297
Ah, right. The problem with [this](https://github.com/shoelace-style/shoelace/issues/297#issuecomment-754678507) is that it adds ~6KB to the registry which we want to avoid.

Thinking about this more, it's already possible to do this:

[code]
And you'll get the desired result. This is treeshakeable and requires no changes to the library other than updating the way icons are currently used. The cav

[2021-01-05 16:27] mcjazzyfunky commented on #297
Actualy that is exactly what I have implented yesterday. But I am a bit confused regarding your statement

[Edit: this is not true - SL does indeed supprt data URIs as icon "src" attribute]
~`<sl-icon src={...} .../>` is currently not supporting data Uris in SL, that's why I have added support for it yesterday. Am I missing something?~

Something else: In my current implementation there's a icon l

[2021-01-05 16:40] claviska commented on #297
The `src` attribute accepts any valid URL.

[code]

[Example](https://jsfiddle.net/wj9ptuf8/)

So if you import an icon in a Stencil component like this:

[code]

You'll end up with `svg` being the above data URI.

[2021-01-05 18:01] mcjazzyfunky commented on #297
Thanks a lot Cory. You're right, data URIs are already supported in SL as the `fetch` function is supporting data uris like other URLs out of the box. This hint was a big help, so I can get rid of some stupid and unnecessary code lines in my implementation - muchas gracias.

Please don't forget to anwer my question above:

[2021-01-05 18:14] claviska commented on #297
I'm thinking we don't need to create a separate icon resolver at all. If we commit to using the import/data URI pattern internally, then instead of this:

[code]

we can do this:

[code]

This eliminates the fetch and avoids the `setAssetsPath()` problem since the SVGs are imported as strings. There is a drawback, though, which is that you can no longer override the default icons with a custom res

[2021-01-05 18:39] mcjazzyfunky commented on #297
I thought you were mentioning somewhere in #228 that the possibility of overriding the default icon set was a cool thing - but I cannot find the quote, maybe I misunderstood something.
My very own personal opinion is that providing a way to customize core icons is not a good idea at all (although it is often done).
The main advantage of fix core icons is IMHO that third-party custom element develo

[2021-01-05 20:40] claviska commented on #297
That may have been from here: https://github.com/shoelace-style/shoelace/issues/297#issuecomment-754678507

And I do think it's a good thing, but there are tradeoffs that need to be considered. Right now, the best way to customize "system" icons is with a custom  resolver via `<sl-icon-library>`. With that, you can map any icon Shoelace uses from the `default` library to whatever you want (e.g. a

[2021-01-05 21:19] mcjazzyfunky commented on #300
I think there have been some big misunderstandings  about my above proposal. The only thing that this `provideDefaultTheme` function was meant for was to add a default theme style element at the very top of the document. This would neither "pollute the global namespace" nor would it limit possibilities for custom themes in the document or in subtrees of the document.
But not really important, mayb

[2021-01-05 22:54] mcjazzyfunky commented on #297
FYI: Just in case you'll decide that core icon customization should still be possible:

Instead the propsal above:

[code]

it can also be implemented like follows:

[code]

The semantic difference is that in the first version SL will not change the behavior of the system icon library while in the second it will change the behavior of the system icon library (depending whether a system component h

[2021-01-06 08:44] mcjazzyfunky commented on #300
I close this issue as the above proposal is not a clean solution and all alternatives that I can think of are not as useful as I would like them to be.

[2021-01-06 09:01] #300 closed, assigned to claviska

[2021-01-10 16:03] Ryo501 opened #303 "sl-tab closable tab close button color can not be changed"
**Describe the bug**
The sl-tab closable tab close button color can not be changed, at least through the component parts option.

**To Reproduce**
Steps to reproduce the behavior:
1. create a closable sl-tab component
2. try to change the color of close icon using component parts

**Expected behavior**
I would expect that one could change to color of the icon of the close button through the compon

[2021-01-10 17:14] #303 closed, assigned to claviska

[2021-01-10 17:15] claviska commented on #303
Fixed in 64dfe9e6482e1929bb87d6a89b89b2bb2436061c and verified to work with the following styles:

[code]

Thanks for submitting this!

[2021-01-10 17:32] claviska commented on #303
This led me to find some other bugs with `<sl-icon-button>` and exported parts. Happy to report they're fixed in a5ab18748b0115396e0c05acf340288cc063e1a3 so all internal icon buttons can be styled as expected.

Thanks again for submitting this!

[2021-01-13 11:35] trailsnail opened #305 "`<sl-select multiple>`: Responsive behavior would be very nice"
## My Problem
I want to provide several catagory tags to customers, which can be selected in a `<sl-select multiple>`.
But these are not only two, it can be much more - the selected ones should be visible on large screens, so I set `max-tags-visible` to 10.

Now the point I stuck:
In smaller viewports every new selected tag increases width of the `<sl-select>`. The content on the right disappear.

[2021-01-16 05:50] jaredcwhite opened #306 "Toast stacks appear outside of sl-theme"
I've wrapped everything in `<body>` within an `<sl-theme name="dark">` tag. However, when the toast stack is used for alerts, because that toast stack itself is appended to body directly, it doesn't pick up that theme.

A simple workaround is to add `class="sl-theme-dark"` to `<body>` directly and not use the theme tag, but it'd be nice to have the stack detect a top-most theme tag and append to t

[2021-01-18 14:50] claviska commented on #306
There are some known issues with `<sl-theme>` that need to be rethought, and I'm not sure what the ideal solution is yet. The component currently just wraps the `sl-theme-name` class around so using the class directly on body is the best non-experimental way right now.

The idea behind the theme component was that you'd be able to use multiple themes on the same page. While this is somewhat true i

[2021-01-18 18:26] jaredcwhite commented on #306
Maybe sl-theme could be useful for defining mini-themes in different pages/sections￼, but as a mechanism for site-wide theming I'm not so sure. Agree with all your points.

[2021-01-18 19:38] mcjazzyfunky commented on #306
Is the current way of theming in SL even capable of theming third-party components (for example a date picker) properly out of the box? Means, if you include ".../dark.css" will that date picker magically be shown in dark theme as well or do you have to customize all those date picker parts by hand (=> ` .sl-theme-dark third-party-date-picker::part(base) { ... }`)?
Maybe I am wrong, but I doubt th

[2021-01-20 14:30] claviska commented on #306
I originally wanted users to be able to scope themes to containers, allowing multiple themes on the same page, but this introduces other problems as we're seeing here. I'm not sure people even want this, so I'm OK with backpedaling on that idea.

Let me take a step back to explain what the "default theme" actually is. First off, it's not a theme, it's a collection of root-level design tokens that

[2021-01-20 14:38] claviska commented on #279
After playing with this again and more thought, I don't think splitting this out is a good idea after all. It seems to be adding more complexity than it's worth:

- Emitting the same events will be very confusing
- The problem of transitions not being in sync still exists
- There are still unanswered questions that we don't even need to ask by leaving things as is
- Making overlay a separate compo

[2021-01-20 14:38] #279 closed, assigned to claviska

[2021-01-20 18:41] mcjazzyfunky commented on #306
Frankly, I have a very strong opinion about theming and how to weight pros and cons there.
I hope, it's fine for you if I speek openly, because frankly, I disagree in most of what you've said and written regarding theming in Shoelace (I know, I am an annoying person - hope you do not mind too much :wink:).

The main problem, IMHO, is that the Shoelace project mixes up theming and customization:

"

[2021-01-20 19:11] claviska commented on #306
I would expect nothing less, and I encourage opposing ideas when they make sense for the project. 😄

I don't think Shoelace mixes them up at all. They're two separate concepts, which is why they're separated into design tokens (theming) and parts (customization).

It can be though...and perhaps it should. This is what I'd like to explore more. I'm just not sure if it make sense to have `--sl-color

[2021-01-20 19:16] claviska commented on #306
Regarding this, I'm reluctant to abstract every single use of color in a component's CSS into a design token. There are just too many for that to make sense, but I'll keep an open mind and review the ones that are currently being used.

[2021-01-21 01:28] mcjazzyfunky commented on #306
Regarding "Theming" and "Customization":

Maybe there's just a misunderstanding, but the fact that the official "dark theme" CSS file uses both "CSS custom properties/design tokens" plus "::part" selectors shows exactly what I've meant, that there is currently indeed no real seperation between "Theming" and "Customization" in the Shoelace project (otherwise "::part" selectors would not be necessar

[2021-01-21 12:09] mcjazzyfunky commented on #306
I've hidden my latest comment as it might be outdated. Here's a less invasive proposal:

If  the `sl-theme` element had a part, for example `part="base"`, then theming would be much easier.
Please find here a demo with dynamic and hierarchical themig where no CSS file is imported (this "no CSS file necessary" thing is not really important, it's just the way I like it) .
Please be aware that `creat

[2021-01-21 13:58] claviska commented on #306
Thanks for posting the example. I played with it a bit and you're not going to like my response. 🙈

[The fiddle](https://jsfiddle.net/o4Ler90a/2/) demonstrates a way to create and merge themes using JavaScript objects, but I can't see an advantage over CSS and I prefer the cascade over JS/JSON. It's also much easier for users to do all this through CSS, especially when the library is consumed via

[2021-01-21 13:59] claviska commented on #292
Closing as out of scope.

[2021-01-21 13:59] #292 closed, assigned to claviska

[2021-01-21 14:00] claviska commented on #260
Closing since this is something you can add through custom styles.

[2021-01-21 14:00] #260 closed, assigned to claviska

[2021-01-21 14:12] claviska commented on #281
This is an opinionated design decision that I'm not concerned about changing. Components come with default values, and removing an attribute will, as one would expect, cause the corresponding property to be removed. The amount of boilerplate this would require isn't worth the benefit.

This sounds like a problem with the framework, because things like `<sl-alert open>` will be impossible to render

[2021-01-21 14:12] #281 closed, assigned to claviska

[2021-01-21 14:12] #291 closed, assigned to nobody

[2021-01-21 14:41] claviska commented on #305
Fixed in ec1f7f5ddf6c85b39eb7330f6085525072944405

[2021-01-21 14:41] #305 closed, assigned to claviska

[2021-01-21 15:13] mcjazzyfunky commented on #306
Actually, I really love your respone :smile:, because of this comment:

I've tried something similar in an earlier version and couldn't make it run, so I mistakenly assumed that this is only working with `part`s. Thank you very much Cory, that really helped me a lot.
Just in case someone's interested, here's the enhanced version of the demo: https://jsfiddle.net/f4oxvgLn/

I do not think it makes

[2021-01-21 16:13] jaredcwhite commented on #306
I've appreciated the convo here…for the record, I'm firmly in the *don't want* CSS-in-JS camp. It's cool you can use those techniques if and where required, but I certainly wouldn't want it to be a necessary approach for the library as a whole.

[2021-01-21 21:10] danny-andrews opened #307 "Custom button focus styles"
**Is your feature request related to a problem? Please describe.**

Yes. There is no obvious way to apply truly custom focus styles to buttons. You can of course set `--sl-focus-ring-width` and `--sl-focus-ring-color-primary`, but there's no way to use `outline` or some other property.

If `:focus-visible` were widely supported, this could be done with:

[code]

but at the time of writing, [it is

[2021-01-21 21:28] danny-andrews commented on #307
Actually, after reading #215, I think a better solution would be to just introduce two new tokens: `--sl-focus-outline` and `--sl-focus-outline-offset`.

`--sl-focus-outline` could default to `outline: 2px dotted transparent;` as suggested in the referenced issue and `--sl-focus-outline-offset` could default to `0`.

Then we'd just need to apply those tokens everywhere we currently apply `--sl-foc

[2021-01-22 03:07] crutchcorn opened #308 "[Docs] NextJS Support"
Recently, while helping a friend with [their project that utilizes Shoelace](https://github.com/Ethan-Hill/Nexify), we realized that it was fairly difficult to get NextJS up-and-running self-hosted without CDN usage.

However, we managed to figure out and get things running fairly quickly after some initial hiccups!

I am going to be writing a guide outlining how to set this up for others to utili

[2021-01-22 03:12] claviska commented on #308
I’d say go for it. I personally won’t be able to maintain it so that will fall on the community, but it seems like it’d be pretty valuable since next.js is so popular.

There’s also a Rails document if you need some inspiration: https://shoelace.style/tutorials/integrating-with-rails

[2021-01-22 03:24] crutchcorn commented on #308
Oh! You know, I completely missed the `tutorial` section. I have a good idea of how to structure this content, so I'll get started within the next week or two.

Thanks for the guidance!

[2021-01-22 14:25] claviska commented on #308
Awesome, looking forward to it. Feel free to submit a PR when you're ready!

[2021-01-22 14:25] #308 closed, assigned to claviska

[2021-01-24 11:54] mcjazzyfunky commented on #306
Perhaps it would have been less ambiguous, if I had called it "Dynamic theming in JS/Icons-in-JS" instead of talking about "CSS-in-JS/Icons-in-JS" ... but I guess, like Jared mentioned above, it's a good thing that dynamic theming  is possible where required ... or preferred ... anyway, thanks again for the (at least for me :wink:) very helpful discussion ...

[2021-01-24 13:42] Ethan-Hill opened #311 "Customizable Image Compare Handle Icon"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
A customizable Image Compare Handle Icon, allowing users to make the icon different from the grip like icon.

**Describe alternatives you've considered**
None

**Additional context**
None

[2021-01-24 14:09] mcjazzyfunky commented on #311
@Ethan-Hill Please allow me to ask what's the exact reason/use case why you want to customize that grip icon. As this may be relevant to #297, where the current question is (more or less) how much the Shoelace core icons should be customizable.
Actually, it should already be possible to customize it via `<sl-icon-library...>`, shouldn't it? (https://shoelace.style/components/icon-library). The nam

[2021-01-24 14:12] claviska commented on #311
This was a feature request we discussed on discord. The component simply needs to expose a slot so users can swap out the icon with another icon, text, an image, or whatever they prefer.

[2021-01-24 14:26] mcjazzyfunky commented on #311
Please allow me to point out that "customizing an icon via a slot for a particular use-case" and "customizing an icon for the the whole app" are in general two complete different things (while in case of an image compararer things may be easier, as normally you do not have dozens of image comparers in your app). That's why I've written above: "[...] slot [...] not [...] a replacement for #297"

[2021-01-24 14:57] DwieDima opened #312 "create and dismiss components programmatically"
I've been using ionic (angular) for many years now and love being able to call components from anywhere.
For example toastController, modalController etc.

example:

[code]
how likely is it that shoelace will also implement something like this?

**Describe the solution you'd like**

shoelace components should be able to be called in the same way as in ionic angular.

[2021-01-24 15:54] jaredcwhite commented on #312
I personally wouldn't care for this level of abstraction. The mechanism of creating an HTML element and inserting it into the DOM where appropriate is as fundamental to web components as it is HTML in general.￼￼

Of course, there's nothing stopping you from writing your own abstract `createShoelaceElement` function or whatever, and then calling it from elsewhere in your codebase.

[2021-01-25 13:34] claviska commented on #312
Since you used dialogs (or "modals") as an example, I'll elaborate using them as an example.

Dialogs, for example, must be defined declaratively one way or another due to the nature of content they display. This is true even with Ionic, their dialog template being [generated by JavaScript](https://ionicframework.com/docs/api/modal#usage).

In Shoelace, you use the `open` attribute as well as `sho

[2021-01-25 13:34] #312 closed, assigned to claviska

[2021-01-25 13:59] claviska commented on #311
Added in 78bcd0fe9e3659a74d62ea36ac6f62a5c6b264df. Once the next beta is released, you can customize the icon with:

[code]

[2021-01-25 13:59] #311 closed, assigned to claviska

[2021-01-25 20:19] explorigin opened #313 "TypeError: can't access property "checkValidity", this.input is undefined"
**Describe the bug**
`TypeError: can't access property "checkValidity", this.input is undefined`
It is possible to reference `this.input` in `<sl-input>` before the internal `render()` function is called (and hence assigns `this.input`).

**To Reproduce**
When using `<sl-input>` underneath a custom [Hybrids](https://hybrids.js.org) component, I was able to trigger the reference error. I have not b

[2021-01-25 21:06] #313 closed, assigned to claviska

[2021-01-25 21:08] claviska commented on #313
I thought about this and adding a guard is the simplest fix. I'm OK with the assumption that if the value somehow changes between when the component is connected and first render, then the value _at first render_ will be the initial value. Fixed in both input and textarea.

[2021-01-26 04:29] claytongulick commented on #127
FWIW, I've done a fair amount of work on a pure web-components implementation here: https://github.com/claytongulick/chip-input it might be a good starting point / base for implementation?

[2021-01-26 20:55] danny-andrews commented on #180
Removing the animation component is a good move, but the root of the problem is that the animation component should not have been included into bundles which do not import it. E.g., people should be able to just use sl-button without importing the code for all the other components.

Tools like rollup can't tree-shake the modules exported by this library, because they are all concatenated together

[2021-01-31 20:53] Ethan-Hill opened #317 "Form data not being returned"
**Describe the bug**
 I'm currently trying to get the data from a form I have and the data doesn't seem to be returned.

**To Reproduce**
Steps to reproduce the behavior:
1. Place sl-form into a sl-dialog
2. use a sl-button for a submit
3. console log the returned event data

**Expected behavior**
The input of the form to be console logged

**Screenshots**
![](https://cdn.discordapp.com/attachment

[2021-01-31 21:11] claviska commented on #317
Form data doesn't dump to the console like you might expect. Try this:

[code]

[See this as well.](https://stackoverflow.com/questions/41431322/how-to-convert-formdata-html5-object-to-json)

[2021-01-31 21:22] Ethan-Hill commented on #317
Worked like a charm, thanks very much.

[2021-01-31 21:22] #317 closed, assigned to claviska

[2021-02-01 02:43] danny-andrews commented on #180
Disregard my last message. 😅 Tree-shaking is working great on beta.26.

**Output from rollup**
![image](https://user-images.githubusercontent.com/14965732/106408889-f51e9100-6404-11eb-91c5-9901dc10c4dd.png)

[2021-02-03 20:28] danny-andrews opened #318 "Add label property to range component"
All other control elements (Input, Radio, Select, Switch) accept a `label` property except for range. It'd be nice if it accepted one, too.

[2021-02-04 15:22] claviska commented on #318
Added in 9b49ca6eb0f467b1dd9f9421fb2420ef9a6fd0ab

[2021-02-04 15:22] #318 closed, assigned to claviska

[2021-02-04 16:38] danny-andrews commented on #318
Awesome!

[2021-02-05 12:54] timefordroids opened #321 "Custom HTML in tooltip"
**Is your feature request related to a problem? Please describe.**
Sometimes we need to render something more complex than just plain text in tooltips.

**Describe the solution you'd like**
It would be nice to add the `content` slot in `sl-tooltip` component.

[2021-02-05 18:13] danny-andrews opened #323 "Elements inside closed sl-details remain focusable"
**Describe the bug**
Elements inside a closed `sl-details` component remain focusable.

**To Reproduce**
1. Go to https://codepen.io/danny-andrews/pen/VwmeRdR.
2. Click inside page.
3. Tab past details summary.
4. See focus disappear (it's focusing the `sl-button` hidden inside `sl-details`).

**Expected behavior**
Elements should not receive focus inside a closed `sl-details` (matches native `det

[2021-02-05 21:09] #323 closed, assigned to claviska

[2021-02-05 21:23] danny-andrews commented on #323
Rad. Thanks!

[2021-02-08 15:37] #321 closed, assigned to claviska

[2021-02-08 16:12] claviska commented on #307
That makes sense. To clarify, this solves the accessibility issue but not the broader issue of customizing via `:focus-visible` that you originally asked about, right? Did you want to take a stab at it?

[2021-02-08 18:07] beauwest opened #325 "Unchecked Checkboxes inside small container shrink"
**Describe the bug**
Checkboxes inside of a small-width container, with multiple words in the label, cause the unchecked style to be an incorrect width.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [Checkbox demo](https://shoelace.style/components/checkbox)
2. Remove the min-width from the responsive container
3. Add multiple words to the label of the checkbox
4. Resize the cont

[2021-02-08 22:06] danny-andrews commented on #307
I thought it would solve both, because I thought we were applying the `sl-focus-ring-*` properties on elements with the `.focus-visible` class and by applying `--sl-focus-outline` and `--sl-focus-outline-offset` properties in the same places, it would give users the ability to apply custom outlines in that case. But it doesn't look like we do. For example, when you click on a button, it retains th

[2021-02-10 12:39] devmount opened #327 "Align cards with flexbox"
**Describe the bug**
I have some card components in a row and want to align them properly to have the same height with flexbox. How can I do that? I set the following CSS on the container element:

[code]

But the items height isn't stretching.

**To Reproduce**
See this minimal example:
https://jsfiddle.net/devmount/Lrjptzo6/

**Expected behavior**
All Cards have the same height.

**Screenshots**

[2021-02-10 15:49] claviska commented on #327
You've applied the stretch to the container, not the card.

Try this:

[code]

Updated fiddle: https://jsfiddle.net/msecnt0x/

[2021-02-10 15:49] #327 closed, assigned to claviska

[2021-02-10 15:52] claviska commented on #307
That depends on the browser. In Firefox and Safari, clicking a button doesn't give it focus. In Chrome and Edge, it does. My early thoughts on this led me to keep the browser's default behavior since that's what users already expect.

[2021-02-10 15:58] devmount commented on #327
No I didn't. `align-items` is a property that is [set on the container to affect the children](https://developer.mozilla.org/en-US/docs/Web/CSS/align-items). Setting it on `sl-card` does mean, now all children of `sl-card` are being stretched. But ok, if that's the solution here, I'll take it (though it doesnt make sense in my opinion).

Thanks so much for answering so fast and for building shoela

[2021-02-10 16:03] claviska commented on #327
I worded my response poorly. To clarify, the card's host element `<sl-card>` is what I meant by "container." Easy to confuse with the class name used in the example.

TL;DR – the host element was being stretched, but the internal base part of the card was not. (Shoelace uses base elements in most components to help encapsulate things inside the shadow root.)

[2021-02-10 16:05] devmount commented on #327
I see, thanks for the clarification 👍🏻

[2021-02-10 16:25] #325 closed, assigned to claviska

[2021-02-10 16:26] claviska commented on #325
Thanks for reporting this. The fix will be released in the next beta. If this is blocking you, use this in the meantime:

[code]

[2021-02-10 16:30] beauwest commented on #325
Awesome, thank you Cory! It's non-blocking, just came across it in my app. Appreciate all the work you're doing on this project.

[2021-02-10 18:56] danny-andrews commented on #307
That's true, but none of those browsers apply any _focus styles_ on click, only when navigated via keyboard, etc. That's the purpose of `:focus-visible`, to be able to apply focus styles in the same circumstances as the native `button`.

[2021-02-10 19:59] Xyz3R opened #328 "Code Completion in Jetbrains IntelliJ (WebStorm/PhpStorm)"
**Is your feature request related to a problem? Please describe.**

Unfortunately I cannot get any auto-completion features to work with Jetbrains Intellij (Webstorm). This makes using shoelace components quite the hassle. Has anyone of you experience with setting this up?

**Describe the solution you'd like**

I am looking for a way to have IntelliJ's autocomplete suggest the Web Components Shoel

[2021-02-10 20:50] danny-andrews commented on #307
I started a PR that shows the behavior I had in mind for buttons and icon buttons. https://github.com/shoelace-style/shoelace/pull/329

[2021-02-11 15:29] devmount commented on #101
I'm just using `<sl-input type="date"></sl-input>` which is working fine for me.

[2021-02-11 23:30] moos opened #330 "min/max props for sl-input type="date" get truncated"
**Describe the bug**
min/max props for sl-input type="date" get truncated.

**To Reproduce**
Markup:
[code]
In shadow DOM we get:
[code]
Notice that `min` and `max` attributes have become "2018", which is useless for the date picker.

**Expected behavior**
It should preserve the min/max props as they are (or process them according to `type` prop).

**Desktop (please complete the following informat

[2021-02-11 23:41] moos opened #331 "Value of sl-input for some types isn't passed to shadow element"
**Describe the bug**
`value` attribute of sl-input for some types isn't passed to shadow element.

**To Reproduce**
Markup:
[code]
Code:
[code]
By examining the respective shadow `<input ...>`  element's value (click on the shadow element, then examine `$0.value` in console), the value for type="text" is correct, while the value for type="date" is "undefined".  (Of course it is also visually appar

[2021-02-12 01:22] moos commented on #331
I was passing the value in locale format (e.g. "2/11/2011") which isn't acceptable.  It must be in one of [HTML date formats](https://developer.mozilla.org/en-US/docs/Web/HTML/Date_and_time_formats#format_of_a_valid_date_string).  Setting the value to `new Date().toISOString().split('T')[0]  // "2021-02-12"` works.  Same `type="time"` it must be in ISO format (e.g., "16:04:02" (no am/pm).

Sorry f

[2021-02-12 01:22] #331 closed, assigned to claviska

[2021-02-12 06:03] devmount opened #332 "Tooltips with slotted content on progress bars don't work"
**Describe the bug**
I'm trying to add a tooltip to a progress bar with custom HTML, but all that is displayed is the tooltip arrow in the top left corner.

**To Reproduce**
[code]
https://jsfiddle.net/devmount/qef54dyr/

**Expected behavior**
Display the tooltip centered under the progress bar rendering the slotted HTML.

**Screenshots**
![image](https://user-images.githubusercontent.com/5441654/

[2021-02-12 08:12] timefordroids commented on #332
It seems you're using Shoelace v2.0.0-beta.26 but `content` slot was introduced in v2.0.0-beta.27

[2021-02-12 08:28] devmount commented on #332
My bad. Totally missed the version switch 😅 Thank you!

[2021-02-12 08:28] #332 closed, assigned to claviska

[2021-02-12 08:42] devmount commented on #332
@timefordroids @claviska Final question: where are the release notes located? Can't find them 😅

[2021-02-12 08:43] devmount commented on #332
Nevermind, found them here:
https://shoelace.style/getting-started/changelog

[2021-02-18 11:20] ibirrer commented on #328
Just found this plugin for IntelliJ: https://plugins.jetbrains.com/plugin/15596-stenciljs-web-components. Works like a charm.

![image](https://user-images.githubusercontent.com/1475511/108349629-80f53300-71e3-11eb-96f1-580a35ae22ea.png)

[2021-02-18 12:38] SheepFromHeaven opened #335 "Feature Request: Eject components to stencil project"
**Is your feature request related to a problem? Please describe.**
As developer in a professional context, I have changes I need to make to components behaviours or layouts. I am limited by the options shoelace provides. (Example: Input working with default forms by disabling shadow-dom

**Describe the solution you'd like**
Similar to react-scripts eject functionality, I would love to be able to e

[2021-02-18 12:39] SheepFromHeaven commented on #335
BTW: I will already start working on it and would just love the discussion if this is sth you might consider valuable 😉

[2021-02-18 13:14] SheepFromHeaven opened #336 "@types/resize-observer-browser dependency"
**Describe the bug**
@types/resize-observer-browser is a dependency. This is breaking my build if I already have the resize observer polyfill installed.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new stencil project
2. npm i resize-observer-polyfill
3. npm i @shoelace-style/shoelace
4. npm start

**Expected behavior**
@types/resize-observer-browser should be a dev dependency

[2021-02-18 13:21] claviska commented on #335
You're welcome to fork the project...that's the closest I can think of to an "eject" button. You run the same risk, of course: you won't get updates and bug fixes for free anymore.

And while I'm not opposed to people forking the project, it's clear the majority of users don't want to maintain the underlying code base and will benefit more from layering their app on top of it and limiting customiz

[2021-02-18 13:23] claviska commented on #336
I agree that this should be a dev dep. I think it was added awhile back to prevent an ambiguous error when installing the custom elements bundle, but it should be moved back (and I've already done so in a local rework that I'll be posting today or tomorrow).

Thanks!

[2021-02-18 13:23] #336 closed, assigned to claviska

[2021-02-18 13:28] claviska commented on #330
I've adjusted the `min` and `max` types to be `number | string` to account for dates. I'll push the update soon. Thanks for reporting it!

[2021-02-18 13:28] #330 closed, assigned to claviska

[2021-02-18 13:29] claviska commented on #306
For now, I've removed the experimental `<sl-theme>` component and reverted back to using the `sl-theme-[name]` class. This was a good discussion though, and I have new ideas moving forward!

[2021-02-18 13:29] #306 closed, assigned to claviska

[2021-02-18 20:34] jaredcwhite commented on #335
Is this something we could add a blurb about and maybe link to examples from the docs? For example, I wrote a gist that's a Stimulus controller which works with Turbo to do this very thing…also slightly hacky but it gets the job done.

[2021-02-18 20:36] claviska commented on #335
Definitely. Just need to make sure it explains how it works and what situations it won't work in (e.g. third-party form serializers).

[2021-02-18 22:34] moos commented on #180
Tree shaking is not working with [esbuild](https://github.com/evanw/esbuild), an extremely fast bundler:
[code]
Looking at the content of out.js:
[code]
`client/index.js` is about 119KB on disk and gets shaken down to ~7KB in out.js.  The bulk of out.js comes from `custom-elements-bundle/index.js` which is 397KB on disk.  The only thing that seems to be shaken out of that (other than comments) is

[2021-02-18 23:53] moos commented on #180
The culprit with esbuild seems to be that shoelace components are extending HTMLElement.  I've opened an [issue for esbuild](https://github.com/evanw/esbuild/issues/842) to tree-shake known globals.  Hopefully it can be addressed soon.

As possible work-around, wrapping the class definition in a PURE function in `custom-elements-bundle/index.js` seems to work:
[code]

[2021-02-19 00:20] moos commented on #330
Great -- thank you.

[2021-02-19 08:21] SheepFromHeaven commented on #335
@claviska thanks for elaborating! I don't think I really presented the use case that good. I do not want the whole library to change, just individual components:

I am working on a project and have shoelace installed. Using it by styling parts, custom-properties, etc.
Now I need to change sth in one component, which it will not allow me to do out of the box. Instead of rewriting my component using

[2021-02-19 10:11] bitflower opened #337 "sl-details: --show-duration not applied"
**Describe the bug**
The CSS variable `--show-duration` is not applied. For both transitions `--hide-duration` is used.

**To Reproduce**
Set for example `--show-duration: 0s` and `--hide-duration: 2s`. The `--hide-duration` will be used for both. I guess this is because the class setting the transition is coming "too late" for the other transition duration to be picked up or so.

Potential LOC:
h

[2021-02-21 13:44] ChristophP opened #338 "`sl-dialog` closes when contained `sl-select` is closed"
**Describe the bug**
I have a `sl-dialog` which contains an `sl-select` component. Since the dialog listens to `sl-hide` events and the `sl-select` uses those as well the dialog closes when choosing one of the select options.

**To Reproduce**
Steps to reproduce the behavior:
[code]
1. Open Dialog
2. Choose an option in the select
3. Watch the dialog close

**Expected behavior**
The dialog stays o

[2021-02-21 20:01] ChristophP commented on #338
Another thought that came to my mind:
It is acutally wuite surprising to me that the dialog closes based on events overall. I would expect it to trigger an event when closing but not have the event control the closing.

Analogy: Triggering a change event on an input does not change the value but setting `.value` does. Similarly I think setting `.open` on the dialog should control opening and closi

[2021-02-21 21:56] claviska commented on #338
I can't seem to replicate this using the code sample you posted above.

Are you sure this isn't a listener in your code? Dialogs emit the `sl-hide` event, but they don't listen for it to close. A dialog will only clause if you press escape, click the close button, click the overlay, or call `hide()` or set `open` to false.

[2021-02-21 23:04] David-Carty opened #340 "Select Component"
The '**sl-select**' when having the following attributes: **multiple clearable** and seen on the select demo page (https://shoelace.style/components/select) appears to lose its dropdown positioning in one case.

**To Reproduce - Windows PC **

1. Go to https://shoelace.style/components/select
2. Scroll to the example headed **Multiple**
3. Add all six items in the select list.
4. Close the select

[2021-02-22 12:14] #340 closed, assigned to claviska

[2021-02-22 14:13] ChristophP commented on #338
Oh, the behavior that you are describing is how I expected it to work. In my code (which is somewhat more complex than the example I posted) I had the impression that it didn't work like that. Let me double check my code again to make sure it's not something else.

[2021-02-22 14:19] ChristophP commented on #338
Now checking, it does seem to be a handler in my code. What I was trying to do is manage the `open` state of the dialog in my model and open/close by setting the `open` property on the dialog based on the model.

For this, I added a handler listening to `sl-hide` on the dialog, which sets the open state to false. That one got triggered when a an `sl-hide` event of one of the `<sl-select>` fields w

[2021-02-22 14:24] claviska commented on #338
`sl-hide` is the way to go but, like any event, it can be emitted any time by arbitrary components. Try looking at the target to ensure it comes from the dialog and not a child element:

[code]

[2021-02-22 15:11] ChristophP commented on #338
I tried your suggestion and it solves the problem about the dialog closing because of select `sl-hide` events. So thanks for that.
There's another problem that I have: Since I want to manage the open/closed state in my application I don't want the dialog to close when the close button is clicked but I only want to be notified about it so that I can change my state . To achieve this I am calling pr

[2021-02-22 15:30] claviska commented on #338
I try to avoid that pattern because it requires boilerplate to make things like the close button and overlay clicks work. Shoelace components work more like HTML elements (e.g. `<details>`) and since `open` is mutable by design, you'd need to listen for and prevent three things:

1. Close button clicks
2. Escape key presses
3. [Overlay clicks](https://shoelace.style/components/dialog?id=ignoring-c

[2021-02-22 22:33] claviska commented on #338
Closing since this isn't a bug, but feel free to continue the discussion if you have questions.

[2021-02-22 22:33] #338 closed, assigned to claviska

[2021-02-22 22:33] claviska commented on #337
Confirmed, thanks for posting. I'll look into this soon!

[2021-02-22 22:42] claviska commented on #335
With Stencil's output targets, the types are tightly intertwined and many components are dependent on others, so I'm not sure what that would look like. It's probably something you'd have to pick apart yourself and map the custom types in your project to what's expected in Shoelace. I'm not sure it can be done in an out-of-the-box way.

By the way, I plan on moving away from Stencil — possibly in

[2021-02-22 22:43] #286 closed, assigned to claviska

[2021-02-22 22:48] claviska commented on #180
I'm working on an experimental build using [Shoemaker](https://github.com/shoelace-style/shoemaker) and [esbuild](https://esbuild.github.io/) that resolves this. The end result is a collection of ES modules that are properly tree-shaken and split into chunks. The nice thing about this is that the same bundle can be served from a browser and into webpack/Rollup/etc.

I'll post more details once I g

[2021-02-23 08:31] ChristophP commented on #338
I see, sounds like you're suggesting to keep my application state in sync with the dialogs open state by listening to `sl-show` / `sl-hide` events. I'm pretty sure that would work. Sounds like doing it the other way would mean having to have some complex logic in the listener like you mentioned.
It's just kind of the opposite of what I'm trying to do: Syncing my state to the components vs. having

[2021-02-23 23:10] claviska commented on #338
That's a different paradigm, for sure. React is top-down with immutable props. HTML doesn't work that way, though, and Shoelace tries to stick to the platform as much as possible.

Looking at [`<details>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details) for example, its `open` state is mutable as well (and I don't believe there's a way to prevent it from toggling it). However, d

[2021-02-24 10:59] ChristophP commented on #338
I just some research on the HTML native [dialog element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog) and just thought I'd share my thoughts with you here:

One difference to `sl-dialog` I noticed is that you can't close it without adding a handler.
I know you mentioned that users shouldn'y have to add handlers to do a basic close operation and I agree that this is desirable.

[2021-02-25 05:32] Ryo501 opened #345 "Potential bugs with sl-select, sl-input, and sl-drawer"
**Describe the bug**
I don’t know if this is a bug or a documentation issue, but I think there may be some issues with the sl-select, sl-input, sl-drawer, and maybe other components. Some of these issues can be fixed by using undocumented custom css properties such as --sl-input-background-color.

SL-SELECT
•	Cannot easily change border radius of either base component part or dropdown menu part.
•

[2021-02-25 09:56] brgrz opened #348 "The value of detail property in Select's sl-change event is empty/null"
**Describe the bug**

Trying to use the `sl-change` event on Select control

[code]

[code]

I was expecting an object with value/description inside the `detail `property. I agree I took the most simplistic (but intuitive) way of wiring this up. Did I miss something?

**Expected behavior**

Easy access to what was selected in the control.

[2021-02-25 10:36] claviska commented on #348
Input values aren’t passed as details, but you can use `event.target.value`.

[2021-02-26 14:28] claviska opened #349 "TODO: Migrate tests from beta.27"
The switch to [Shoemaker](https://github.com/shoelace-style/shoemaker) in beta.28 means we're no longer using Stencil's test runner. I didn't have time to set up a new test runner and migrate the existing tests (there are only a few anyways).

I'll get to it soon, but if anyone wants to experiment with or migrate tests in the meantime I'd definitely appreciate it. For reference, you can browse com

[2021-02-26 14:36] claviska opened #350 "🚨 Major internal overhaul in 2.0.0-beta.28"
**This release includes a major under the hood overhaul of the library and how it's distributed.** Until now, Shoelace was developed with Stencil. This release moves to a lightweight tool called [Shoemaker](https://github.com/shoelace-style/shoemaker), a homegrown utility that provides declarative templating and data binding while reducing the boilerplate required for said features. The base class

[2021-02-26 18:07] claviska commented on #180
This has been resolved in beta 28 which no longer uses Stencil. The new dist contains a collection of ES modules so you can [load everything](https://shoelace.style/getting-started/installation?id=cdn-installation-recommended), [cherry pick components](https://shoelace.style/getting-started/installation?id=cherry-picking), or [import with a bundler](https://shoelace.style/getting-started/installat

[2021-02-26 18:07] #180 closed, assigned to claviska

[2021-02-26 18:08] #348 closed, assigned to claviska

[2021-02-26 21:58] frederikhors commented on #180
@claviska so now what's the difference in size?

[2021-02-26 22:23] claviska commented on #180
It depends entirely on what you import, whether you use `all.shoelace.js`, cherry pick, or bundle it. In my testing, I did notice that webpack’s bundle seemed to be slightly larger than Rollup’s, but that could be from its boilerplate. From what I could tell, it was only including what it should have with optimizations > side effects enabled.

Feel free to run additional tests and post an update f

[2021-02-27 13:07] claviska commented on #180
The original example before minification/gzip:

[code]

Of course, not all of this is button code. You're getting the bundler's boilerplate and shared chunks that button requires (like the renderer and Shoemaker), but these are only incurred once.

[2021-02-27 19:29] bobmanc commented on #134
I use a basic table with sorting and paging in practically every project I build. This would be a great addition.

[2021-02-27 20:39] moos commented on #180
[code]

[2021-02-28 07:39] staabm opened #352 "Multi stage loader"
**Is your feature request related to a problem? Please describe.**

A multistage loading indicator component to reduce perceived loading time.

**Describe the solution you'd like**

A loading indicator which allows declaring the state of progress so it could animate differently based on progress. Having it animate differently in a prior stage then a later stage keeps the user engaged.

**Describe

[2021-03-01 06:43] jaredcwhite commented on #127
@claytongulick This looks pretty cool! I'll try it out =)

[2021-03-02 00:33] jaredcwhite commented on #127
Argh, I need `sl-tag-autocomplete` and I need it now! haha. Maybe I should try to cobble something together with a text field, tags, and dropdown menu…

[2021-03-02 21:33] jaredcwhite commented on #127
It has begun! https://codepen.io/jaredcwhite/pen/LYbmwgz

Haven't gotten to autocomplete/dropdown yet, but the tag input works pretty well. =)

(type in anything and hit enter. clearing works too. `el.tags` works for `tags-input` at any time.)

@claviska Having fun with Shoemaker so far!

[2021-03-02 22:20] claviska commented on #352
This seems really specific. How would you break this down to generalize it?

[2021-03-02 22:48] claviska opened #355 "Tab group: active tab indicator doesn't work properly with justify-content: flex-end"
Fiddle: https://jsfiddle.net/w2zkf3nx/
Details: https://github.com/shoelace-style/shoelace/discussions/347#discussioncomment-423548

Could be a simple CSS fix if anyone wants to take a look at it.

[2021-03-02 23:01] claviska commented on #345
For all components, you can override the design tokens:

[code]

For only select + dropdown, you can override them scoped to the select component:

[code]

You can do something similar with borders and background colors, so check out the input tokens: https://github.com/shoelace-style/shoelace/blob/next/src/styles/base.scss#L196-L255

It's on the roadmap to document these better, but I haven't got

[2021-03-02 23:01] #345 closed, assigned to claviska

[2021-03-03 01:47] claytongulick commented on #127
@jaredcwhite great start!

There are a ton of little details you'll have to think about, async autocomplete so you can call out to an API, formatting in autocomplete, positioning the dropdown, styling the widgets/pills, carrying data - having a display value vs linked object value, consumable events, etc...

Feel free to browse that chip-input code to see some of what I'm talking about, lift as mu

[2021-03-03 06:27] staabm commented on #352
I could image this would work like the progress bar.

Define a fixed "number" (enum) of stages, introduce a api which allows to progress between stages and define some builtin visuals so they look/feel like "loading progress"

[2021-03-03 12:37] #350 closed, assigned to nobody

[2021-03-03 13:05] claviska commented on #335
Since Stencil is out of the picture and you can [cherry pick](https://shoelace.style/getting-started/installation?id=cherry-picking) components, I don't think this is necessary anymore. It's probably better to pull in the base stylesheet and the components you want. For customizations, you can definitely copy + paste an existing component, but I don't think that's something I want most users to do

[2021-03-03 13:05] #335 closed, assigned to claviska

[2021-03-05 11:19] bitflower opened #357 "sl-details open="true" fails in beta.28+"
**Describe the bug**
Loading a `sl-details` with it's body open on init worked prior to `beta.28`. See this video:
![shoe-height](https://user-images.githubusercontent.com/6666636/110107769-a0778880-7dab-11eb-921e-09d11f0f16a5.gif)

From`beta.28` on it's initialized with only a portion of the body content visible. On subsequent open/close class it's fine:
![shoe-height-broken](https://user-images.

[2021-03-07 07:49] lorefnon opened #363 "Typescript definitions not published"
**Describe the bug**
Seems like the npm package does not contain the typescript definitions even though project is written in typescript.

**To Reproduce**

[code]

**Expected behavior**
Typescript definitions should be part of the package.

[2021-03-07 13:23] #363 closed, assigned to claviska

[2021-03-08 14:29] claviska commented on #357
Can you try this in beta.29 and let me know if it's still an issue? Thanks!

[2021-03-08 20:46] jaredcwhite opened #365 "Default exports missing for cherry-picking components"
CDN examples: [JSDelivr](https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.29/dist/components/button/button.js) / [SkyPack](https://cdn.skypack.dev/-/@shoelace-style/shoelace@v2.0.0-beta.29-p6tWxiBoDq6FWD8pLlAl/dist=es2020,mode=imports/unoptimized/dist/components/button/button.js)

The component is available as a named export (so `import { SlButton } from` will work), but there's no

[2021-03-09 00:17] claviska commented on #365
Fixed in 28965a422d5bb3df68d2ec6b6ebc0fdb336cd988.

[2021-03-09 00:17] #365 closed, assigned to claviska

[2021-03-09 00:19] claviska commented on #328
I added a section for IntelliSense in VS Code: https://shoelace.style/getting-started/usage?id=code-completion

I don't use WebStorm but if someone wants to add a similar file to the build for that editor I'd accept a PR.

[2021-03-09 14:35] claviska commented on #297
I think we're at a good place with icons in general.

- If you're using a CDN, everything just works
- If you're installing locally and want to customize where assets are served from, you can [set the base path](https://shoelace.style/getting-started/installation?id=setting-the-base-path)

In both cases, configuration is easy and icons are lazy loaded.

If users don't want to lazy load for whateve

[2021-03-09 14:35] #297 closed, assigned to claviska

[2021-03-09 15:25] bitflower commented on #357
with `beta.30` things got a little heavy:
![image](https://user-images.githubusercontent.com/6666636/110494371-d8583600-80f3-11eb-813e-3eec460ef1e6.png)

with the `sl-details` not showing up at all:
![image](https://user-images.githubusercontent.com/6666636/110494455-ec9c3300-80f3-11eb-881e-844fa3d2bffe.png)

Let me know what I can provide to help tackle this.

[2021-03-09 15:28] bitflower commented on #357
Side note: works fine on the first tab:
![shoe-details](https://user-images.githubusercontent.com/6666636/110495032-692f1180-80f4-11eb-993e-d0f7d13cc8a2.gif)

[2021-03-09 17:53] claviska commented on #357
Watchers work a bit differently now. I was able to reproduce this locally and apply a fix.

[2021-03-09 18:04] bitflower commented on #357
Awesome, thanks. Happy to test when 31 goes out...

[2021-03-09 18:52] N-Silbernagel commented on #355
Flexbox has effect on absolutely positioned elements without left, top, right or bottom, I'll make a pr

[2021-03-10 10:52] staabm opened #368 "iOS: navigation in component gallery doesnt work"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://shoelace.style on a iOS device
2. click on one of the components
![grafik](https://user-images.githubusercontent.com/120441/110617873-769cd800-8196-11eb-9d50-1e59449ed80c.png)
3. the home-page loads

**Expected behavior**
the component-page should load

**Scr

[2021-03-10 10:57] staabm opened #369 "iOS: cannot follow deep urls"
**Describe the bug**
following a deep link renders a white screen of death (only the head toolbar is rendered)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://shoelace.style/components/dropdown (e.g. open the link from an email)

**Expected behavior**
the page should render, like in usual desktop browers

**Screenshots**
![Shoelace A forward-thinking library of web components](

[2021-03-10 12:22] claviska commented on #369
It's working for me. I think you may have a pre-beta.28 release cached, which I recall giving me problems. Try clearing website data in Safari settings and restarting the browser. That seemed to work for me.

[2021-03-10 12:23] claviska commented on #368
I think this is related to #369, so let's track it there. Let me know if clearing website data works.

[2021-03-10 12:23] #368 closed, assigned to claviska

[2021-03-10 12:35] staabm commented on #369
thx for getting back to me.

clearing website data and re-starting ios safari didn't help

[2021-03-10 12:37] claviska commented on #369
What about in a private tab? I can't reproduce it on iOS 14.4.

[2021-03-10 12:52] claviska commented on #337
This is working in the latest beta. Let me know if you're still seeing issues in beta.31.

https://user-images.githubusercontent.com/55639/110632344-822bd700-8175-11eb-869f-fb57ffdeb103.mp4

[2021-03-10 12:52] #337 closed, assigned to claviska

[2021-03-10 13:36] claviska commented on #357
This is a pretty critical bug for `sl-details`, so I just pushed beta.31. Thanks again for reporting it!

[2021-03-10 14:47] staabm commented on #369
just tried again,.. it works now

[2021-03-10 14:47] #369 closed, assigned to claviska

[2021-03-11 14:11] #355 closed, assigned to nobody

[2021-03-11 15:20] obrhaberer opened #370 "sl-change event bug"
sl-change event does not work anymore. (SlCheckbox and SlSwitch)

[2021-03-11 17:51] #370 closed, assigned to nobody

[2021-03-11 17:58] claviska commented on #370
Thanks for reporting this. It was left over from an experiment with FAST that I didn't catch. Need to get those tests back in place. 😆

[2021-03-12 08:37] bitflower commented on #357
Alright, I'm on `beta.31` now and the error is gone. However I'm back to state 1 of the issue:
![shoe-height-broken](https://user-images.githubusercontent.com/6666636/110108927-13353380-7dad-11eb-99b8-b6f960a43dde.gif)

With `open="true"` I get only a portion of the content. Works on sub-sequent toggles.

New issue or re-open?

[2021-03-12 08:55] bitflower commented on #357
The `scrollHeight` in line `this.body.style.height = `${this.body.scrollHeight}px`;` of `show()` is returning a wrong value (68px) when it should be much bigger:

![sl-issue](https://user-images.githubusercontent.com/6666636/110916451-184c3280-8319-11eb-9615-1d842860c4c1.gif)

As if it couldn't get the height of the content reliably?

[2021-03-12 08:59] bitflower commented on #357
It works when I leave the tab and go back to it again. maybe it's a race condition involving my components in the body? `scrollHeight` is 780px on second run. Maybe the Stencil lazy loading ruins the parade here? I'll check if I have prior unloaded ones in there....

[2021-03-12 09:05] bitflower commented on #357
`setTimeout` (ducks away....)

[2021-03-12 11:16] claviska commented on #357
Can you provide a minimal repro so I can see what’s going on? I can’t seem to break it on my end.

[2021-03-14 21:51] ghost opened #372 "Dialog doesn't cover leaflet attribution text"
https://jsfiddle.net/zwa31vqn/

Clicking the 'Show Dialog' button demonstrates the issue.

[2021-03-15 11:42] claviska commented on #372
This is a z-indexing issue. The leaflet has a value of 1000, but if you turn the map into its own [stacking context](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context), it will be easier to address.

Updated CSS:

[code]

Fiddle: https://jsfiddle.net/a4ornp09/

[2021-03-15 11:42] #372 closed, assigned to claviska

[2021-03-15 11:44] claviska commented on #372
For future reference, please post non-bugs to the [discussion board](https://github.com/shoelace-style/shoelace/discussions) or the [community chat](https://discord.gg/mg8f26C) to help me stay focused on getting to 2.0 stable. ✌️

[2021-03-15 16:09] devmount opened #375 "Click on menu item triggers error"
**Describe the bug**
The `sl-dropdown` component contains a `sl-menu` with one or more `sl-menu-item`s. When clicking one of these an error message appears in the console:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://shoelace.style/components/dropdown
2. Open console
3. Click on drop down menu entry
4. See error

Here is a fiddle showing the same behaviour:
https://jsfiddle.

[2021-03-15 17:08] claviska commented on #375
Thanks for reporting this. It was a problem with the `setFocus()` method on `<sl-button>` that was a remnant from the LitElement transition. Fixed in a67db7e13e7524ba4b834286703fc72347b4271b.

[2021-03-15 17:08] #375 closed, assigned to claviska

[2021-03-15 17:09] claviska commented on #375
Just released in [beta.33](https://shoelace.style/getting-started/changelog?id=_200-beta33).

[2021-03-15 17:42] devmount commented on #375
Awesome, thanks 👏🏻

[2021-03-15 18:44] claytongulick opened #376 "Promise based API"
**Is your feature request related to a problem? Please describe.**
Using an event based API for things like show() and hide() is difficult and error prone.

**Describe the solution you'd like**
On a drawer, or other components with animations, I should be able to await component.hide(), the promise should resolve when all animations are complete - same as the event sl-after-hide.

Currently, if I

[2021-03-15 18:45] ghost commented on #372
And how exactly does one determine if what appears to be broken behavior is not a bug prior to submitting it? Should I simply post all issues in the discussion forums instead, and let you decide if it's a bug or not?

[2021-03-15 18:53] claviska commented on #372
Use your best judgment. It’s not a perfect process because bugs do occur in the library, but I ask that folks try to be mindful and solve issues that aren’t obvious bugs with help of the community first (which I do respond to as well when I can).

At the end of the day, triaging implementation issues on top of actual bugs and features slows the process down. 😅

[2021-03-15 18:58] claytongulick commented on #376
This is my current solution, which is okayish:
[code]

[2021-03-15 19:00] ghost commented on #372
Oh I see, that makes sense. I'll try to better determine if I'm having a problem the Shoelace library, or a problem stemming from my general lack of web development knowledge.

[2021-03-15 21:17] claviska commented on #376
This assumes there's only one interesting event for hiding and showing components, but there are two: when the show/hide functions are called and after the show/hide functions complete (e.g. after transitions end). Not everyone wants to wait for a potentially lengthy transition before executing code.

Should a confirmation dialog that modifies a stored object wait 500ms for the dialog to transitio

[2021-03-15 21:49] claytongulick commented on #376
Very true, but the most common case would be awaiting the final completion of showing/hiding. I'm not proposing eliminating the events, just giving a simpler API for the most common event. If a user doesn't want to await the hide() they don't have to, they can use the events as they exist today.

Here's a fun thing to try using the event based api:

From within a drawer, have a link to something t

[2021-03-15 22:08] claviska commented on #376
Here's how I'd approach it: https://jsfiddle.net/x7fLwahs/1/

If you're using drawers pretty heavily in your app, it may be worth abstracting this behavior into a thin drawer manager utility.

Personally, I don't like things jumping around this much (it can confuse or annoy users) so I'd try make the async stuff happen in a single panel, but I understand your use case may not allow for that.

[2021-03-15 22:17] claviska commented on #376
As far as making `show|hide` events return a promise, I'd have to dive deeper into the code but I feel like this is going to be more complicated than it sounds because of the way these methods tie into rendering. They don't actually show or hide anything...they set props that kick off the show/hide process on the next render.

So to do this on `after-show|hide`, we'd need to add event listeners to

[2021-03-16 16:02] lgaida commented on #296
I recently discovered this repo, unfortunately haven't used it yet but i like the idea.
So i looked through the issues and found this one. I wanted to give it a shot but noticed that all tests were deleted with fe45f2159f14946abd70b1be96586a7eccda42ab
What happened?

[2021-03-16 18:38] claviska commented on #296
[Shoelace moved from Stencil to LitElement](https://www.abeautifulsite.net/posts/moving-from-stencil-to-lit-element/), and as a result we can no longer use Stencil's test runner. #349 is where I'm tracking the work to establish a new test runner and reimplement the previous tests (which were by no means comprehensive). Then we'll pick up here and continue down the list.

This is a high priority fo

[2021-03-17 11:04] olliejm opened #377 "Using post-stencil shoelace in a stencil project"
**Describe the bug**
Since Shoelace moved from being built on Stencil, it seems lazy-loading no longer works (or at least not as expected), and additionally in the LitElement version a compilation error now occurs.

**To Reproduce**
Steps to reproduce the behavior:
1. Initialize a new Stencil 'app' type project
2. Import shoelace CSS to the global app.css
3. `import '@shoelace-style/shoelace'` to

[2021-03-17 13:05] claviska commented on #377
Lazy loading is a Stencil feature and it was causing some weird issues with frameworks (specifically React and Svelte). It's not something I'm interested in supporting moving forward. The new build provides ES modules that allow you to import all components or cherry pick specific ones. See the [installation page](https://shoelace.style/getting-started/installation) for more details on the dist.

[2021-03-17 13:05] #377 closed, assigned to claviska

[2021-03-18 07:00] jcgueriaud1 commented on #328
Hi,
There is a feature request for Intellij to have a better support for web components: https://youtrack.jetbrains.com/issue/WEB-39620

It's currently planned for 2021.2 release. ( From here: https://github.com/JetBrains/web-types/issues/30#issuecomment-799237646 ).

I will try stencil plugin, thanks for the info.

[2021-03-20 16:35] Jakemangan opened #378 "Sl-button is not a known element - How do you import this into Angular?"
I'm simply trying to import the https://shoelace.style/ library for use within an Angular app.

I've tried both the recommended method of adding `style` and `link` elements into the index file, and I've also tried adding the NPM package and then adding the following to my `angular.json`

[code]

However neither of these options work, as whenever I try to use a particular Shoelace component such as

[2021-03-20 16:41] claviska commented on #378
I don't use Angular, but it seems like you'll need to make it aware of custom elements. This info was contributed and it may be helpful: https://shoelace.style/getting-started/usage?id=angular

Closing as this is likely not a bug, but an implementation issue. Feel free to reach out to the community [via chat](https://discord.gg/mg8f26C) or in the [discussion space](https://github.com/shoelace-styl

[2021-03-20 16:41] #378 closed, assigned to claviska

[2021-03-20 17:16] sidharthramesh commented on #127
Any updates on this @jaredcwhite? I would really like to have an autocomplete in my project. right now, I'm doing some hackery with the `<sl-input>` and `<sl-menu>`

[2021-03-20 20:16] Jakemangan commented on #328
@ibirrer Hello, what did you do to get the stenciljs plugin working? I've installed it in Webstorm, and then I've restarted but there's still no autocomplete.

[2021-03-21 03:42] jaredcwhite commented on #127
@sidharthramesh Well I'm not sure if my hackery is any better than your hackery, but here's what I've got so far!

https://github.com/whitefusionhq/sl-tags-input

I went ahead and published it because I need to use it in a project. Likely needs some more detailed API design and accessibility fixes, but it's working now for my needs. I can type, pull related results in from an external data source,

[2021-03-21 04:49] sidharthramesh commented on #127
Very cool! I'll take a look

[2021-03-21 08:44] brgrz opened #379 "Event listeners fire when unrelated events of the same type happen"
**Describe the bug**

I have a drawer control and it contains select controls.

If I register event listener for `sl-hide` or `sl-after-hide` on the drawer like this

[code]

the `sl-hide` event is being handled for select control "hides". Such as when the drawer is open and one selects an item from the select control, it seems that the select control's hide forces drawer's hide to run. (the drawe

[2021-03-21 11:32] brgrz opened #380 "Select remembers previous selected value"
**Describe the bug**
I don't know if this is by design or a bug but selects seem to remember the value of previously selected option even when options are cleared.

**To Reproduce**

See https://svelte.dev/repl/3cd9a82311a4437c80cb85dcb5f439b8?version=3.35.0

Choose an option from the first select then choose one from the second, then switch to another option in the first select, new options will

[2021-03-21 13:18] claviska commented on #379
Custom events aren't unique to the components that emit them. Just like a `click` event, they bubble up through the DOM. In this case, you're seeing the event that's emitted from `sl-select` bubble up through `sl-drawer`.

To solve this, you can either:

- Check `event.target` to ensure you're listening to the drawer's event or
- Stop propagation of the conflicting event(s) that come from the sele

[2021-03-21 13:18] #379 closed, assigned to claviska

[2021-03-21 13:31] claviska commented on #380
This question boils down to whether or not changing slotted items should affect the control's `value` prop. I don't think it should.

What if you swap out items with other items that share the same values (e.g. maybe you're replacing all items and appending new ones or changing the order or items for whatever reason)? I wouldn't expect this to reset the control's value.

This would also cause prob

[2021-03-21 13:35] claviska commented on #380
In this particular case, you're linking secondary options to a set of primary options and I would suggest _always_ clearing the secondary value when the primary one changes. From a UX perspective, I see your point but I don't think that's something the control should account for based on the mutation of its options.

Closing since this is the intended behavior, but feel free to post additional tho

[2021-03-21 13:35] #380 closed, assigned to claviska

[2021-03-21 13:36] claviska commented on #357
Closing since I can't reproduce this and it may be an implementation issue. If you provide a repro I'll reopen and address it.

[2021-03-21 13:39] claviska commented on #296
I'm leaning towards this for the new test runner: https://www.npmjs.com/package/@open-wc/testing

And I'm going to reshape this issue to focus on migrating the old tests and getting this ready for 2.0 stable.

[2021-03-21 13:51] claviska commented on #349
Closing in favor of #296

[2021-03-21 13:51] #349 closed, assigned to nobody

[2021-03-21 13:59] claviska commented on #328
It's worth mentioning that, as of beta.28, Shoelace no longer uses Stencil under the hood so this may not apply to the current release. See [the changelog](https://shoelace.style/getting-started/changelog) and [this post](https://www.abeautifulsite.net/posts/moving-from-stencil-to-lit-element/) for details.

[2021-03-21 14:05] claviska commented on #147
I'm tracking this in #296 so please follow that issue for testing progress.

[2021-03-21 14:05] #147 closed, assigned to claviska

[2021-03-21 14:21] claviska opened #381 "Dark theme experiment, design token thoughts, and theming improvements"
We already have a dark theme but, based on user feedback, I'd like to experiment a bit more before calling it stable.

Currently, the dark theme uses the same color tokens as the base (light) theme. The idea was that `--sl-color-gray-100` would always be light and `--sl-color-gray-900` would always be dark. In other words, the color scale never changes.

The problem with this approach is that them

[2021-03-21 17:57] sidharthramesh opened #382 "Menu: arrow keys not working as expected when used in a shadow root"
**Describe the bug**
When the sl-dropdown is nested inside another custom element (using lit-element) the arrow down key only moves till the 2nd option.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to this [codepen](https://codepen.io/tornadoalert/pen/PobMMVO)
2. Click on the dropdown on the left
3. Press down arrow to navigate options
4. See error

**Expected behavior**
The same behav

[2021-03-22 03:09] sidharthramesh commented on #127
@jaredcwhite did you have this issue #382 (down arrow not working properly) while using a drop-down element inside lit-element?

[2021-03-22 04:41] jaredcwhite commented on #127
You know, actually I did. That's why I ended up making SLMenu a slotted element in the Light DOM. If the bug gets fixed I might be able to simplify and move it into the Shadow DOM template￼￼.

[2021-03-22 05:49] sidharthramesh commented on #127
Any idea why the behaviour is different when using the same markup inside lit-html?

This is unsettling because I'm using lit-element everywhere to wrap shoelace components into more general building blocks for my use case.

Is it something to do with the shadow dom?

[2021-03-22 07:42] brgrz commented on #380
I wouldn't expect this either but it is very unlikely that you'd replace items with different ones and the values would be the same if you are using some kind of an ID for value.

This I cannot comment because I'd have to know the internal implementation details of the select. I can only say I rarely use initial value, instead I'd probably use placeholder text. When having to set the initial value

[2021-03-22 11:54] claviska commented on #380
Thanks for clarifying.

One example is fetching a server-generated collection of items from an async operation and blindly replacing all items with `innerHTML`. Users aren't likely to write diffing logic to insert new items in the correct positions when they can swap them out with one line.

This is used extensively, especially in update operations where the form needs to display specific values i

[2021-03-22 12:31] #382 closed, assigned to claviska

[2021-03-22 12:39] claviska commented on #382
Thanks for reporting this. It turned out to be a bug in `sl-menu`, not `sl-dropdown`.

Due to retargeting, when `document.activeElement` is used and the focused element is inside a shadow root, the active element is reported as the host element instead of the menu item.

[2021-03-22 12:40] claviska commented on #127
@jaredcwhite @sidharthramesh this was fixed in 20eff4728603219137051b55a407345df2156083 and will be available in beta.35.

[2021-03-22 14:23] sidharthramesh commented on #382
That was quick! Thanks!

[2021-03-22 16:48] sidharthramesh commented on #127
I can create a nice search bar, if the dropdown element had some additional props. I have made these changes here #385

[2021-03-22 19:03] claytongulick commented on #376
Yep, I looked at the source code before making the suggestion, and completely understand that's it's a pretty major overhaul. I don't think necessarily limited to just show/hide either - it's more of a philosophical enhancement across the board - adding promise based API everywhere it makes sense, and building the internal mechanisms to support that.

It would be a significant undertaking, but per

[2021-03-22 22:09] claviska commented on #376
Another thing you can do if you prefer a promise-based API is write a wrapper for `hide()`.

[code]

Fiddle: https://jsfiddle.net/284937nr/

---

There's a fork in the road here in terms of DX. One path gives us simplicity and consistency. The other gives us a convenience, but at the expense of more effort and [likely] a higher maintenance burden. At this point, I'm focusing on making the library

[2021-03-23 07:58] ibirrer commented on #328
@Jakemangan @claviska : Yes, the IntelliJ stencil-plugin doesn't work anymore as of beta.28.

[2021-03-23 12:46] claviska opened #386 "Upgrade to LitElement 3.0"
[LitElement 3 is still in prerelease](https://www.polymer-project.org/blog/2020-09-22-lit-element-and-lit-html-next-preview), but launching soon. It doesn't make sense to release Shoelace 2.0 without getting this updated first.

[2021-03-24 15:34] claviska commented on #386
Updated in 389dd0b44e54e5ebba7cf57ad3d40a41da3751f4.

[2021-03-24 15:34] #386 closed, assigned to claviska

[2021-03-25 07:19] macta commented on #101
This should be updated in the docs as it wasn't obvious to me but makes sense in retrospect

[2021-03-25 07:35] devmount commented on #101
I guess it's not in the docs because it's not officially supported by Shoelace, there may be unwanted side effects. But as long as there is no native Shoelace date picker this is enough for me.

[2021-03-25 12:09] claviska commented on #101
It seems to work fine, but I probably wouldn't use it for anything cross-browser. My concern is that Safari doesn't support it, although it's available in Safari TP (but it's very tiny and hard to use):

<img width="338" alt="CleanShot 2021-03-25 at 07 59 35@2x" src="https://user-images.githubusercontent.com/55639/112469874-5d705b80-8d40-11eb-8465-4e9724993efc.png">

I hope they make it bigger.  F

[2021-03-25 14:06] devmount commented on #101
Thank you Cory for this analysis and your hard work towards stable 2.0 👏🏻. I agree with you, no browser has the perfect solution here.

Here an (untested!) idea of providing an own icon using the suffix slot:

[code]

[code]

I'm not sure this works given that you actually need to call `::-webkit-calendar-picker-indicator` on `.date::part(input)`. But maybe this helps someone who needs an idea for

[2021-03-25 21:21] bitflower commented on #357
It's related to content being available slightly too late. Simulated here by loading an `img`. But could be a sub component that takes a few ms to load to or - as in my case - a lazy loaded Stencil component.

The height calclation seems to fail. The same effect can be achieved by changing the content height, when the tab is open btw.

![shoelace-details-repro](https://user-images.githubuserconten

[2021-03-25 21:24] bitflower commented on #357
My guess is that this wasn't an issue when shoelace still made with Stencil. Back then the internals managed the loading of the tree somehow.

Happy to provide more info if required!

[2021-03-25 22:01] claviska commented on #357
Thanks for posting that. It could need a mutation observer to watch for changes.

[2021-03-27 12:31] David-Carty opened #388 "color picker cursor behaviour"
Windows 10.
Chrome: Version 89.0.4389.90 (Official Build) (64-bit)
Erratic positioning of circular color selection indicator on color picker:

**Area**: (https://shoelace.style/components/color-picker )
**Issue**

If I click on the large color selection region, I’d expect the circular color selection indicator to appear under the cursor.  This is not the case, although it is when I double click.

[2021-03-27 12:42] David-Carty opened #389 "color picker slider issue"
Windows 10.
Chrome: Version 89.0.4389.90 (Official Build) (64-bit)
Erratic positioning of circular color selection indicator on color picker:

Area: (https://shoelace.style/components/color-picker )
Issue

Open the above link.
Click on the round color swatch to open the color picker.
Click on the large color area.
The circular color selection indicator is now active.
Now drag the slider below the

[2021-03-27 12:44] claviska commented on #389
Could you post a video of this? I don’t have a Windows machine to test on right now.

[2021-03-27 13:01] David-Carty commented on #389
https://user-images.githubusercontent.com/8387999/112721574-76be0700-8efc-11eb-9c59-0d6987f7ae13.mp4

[2021-03-27 13:06] David-Carty commented on #388
https://user-images.githubusercontent.com/8387999/112721672-22ffed80-8efd-11eb-94fc-f1af90f8df12.mp4

[2021-03-29 18:35] tamis-laan opened #390 "Icon not centered and no dark mode?"
I have:
[code]
and I have:
[code]
Which results in:
![screenshot](https://user-images.githubusercontent.com/3178666/112883169-34e4ba80-90ce-11eb-8535-14652aebfe82.png)

Using lit-html and webpack. Any idea why the icon is not centered and why dark mode isn't working?

[2021-03-29 19:27] tamis-laan commented on #390
Hm... now there is some half assed dark mode going on....
[code]
![screenshot](https://user-images.githubusercontent.com/3178666/112889055-7167e480-90d5-11eb-9d1e-f1a6828b206c.png)
Not the button though:
![screenshot](https://user-images.githubusercontent.com/3178666/112889108-804e9700-90d5-11eb-852c-00eee86b2132.png)

[2021-03-30 13:04] #388 closed, assigned to claviska

[2021-03-30 13:04] #389 closed, assigned to claviska

[2021-03-30 13:05] claviska commented on #388
Thanks for reporting this. This was a lifecycle issue that occurred after the move to LitElement. Solved in a04fc7c.

[2021-03-30 13:05] claviska commented on #389
This was related to #388 and has been resolved in a04fc7c.

[2021-03-30 13:31] #357 closed, assigned to claviska

[2021-03-30 13:36] claviska commented on #357
This should be fixed in beta.36 since the initial height was reworked to be set before first update.

[2021-03-30 15:11] bitflower commented on #357
That's dopalicious ;-) Checking soon....

[2021-03-30 15:29] bitflower commented on #357
Works! Awesome work ;-) Thank you.

[2021-03-31 10:22] tamis-laan commented on #390
Also toast alert prefix icon is hinged to the left side of its container:
![screenshot](https://user-images.githubusercontent.com/3178666/113129873-b26a1100-921b-11eb-889f-79fe5961b4a9.png)

[2021-04-01 01:01] brownieboy opened #391 "Tooltip doesn't re-enable after disabling"
**Describe the bug**
Adding the `disabled` property to the `<sl-tooltip>` disables the component correctly, but clearing that property does _not_ then re-enable it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://shoelace.style/components/tooltip
2. Click on any `<sl-tooltip>` component in the browser dev tools, Elements tab
3. Add the `disabled` attribute to its HTML, then rem

[2021-04-01 11:38] #391 closed, assigned to claviska

[2021-04-01 11:38] claviska commented on #391
Thanks for reporting this. The issue has been fixed in 3c9a481 and will be available in the next beta release.

[2021-04-01 20:33] brgrz opened #392 "Forms vertical spacing"
**Is your feature request related to a problem? Please describe.**

I've been following the examples all along but I'm having certain issues with using `<br>` for vertical spacing in forms. There are often two break rules needed because certain controls, for example `sl-checkbox` break the flow with `display: inline-block` (I'm not 100% sure that's the culprit but something is messing up the flow)

[2021-04-01 21:37] #392 closed, assigned to claviska

[2021-04-02 07:41] trailsnail opened #394 "`<sl-tooltip>` event `sl-hide` should not affect outer elements"
**Describe the bug**
The `sl-hide` event of a hiding `sl-tooltip` element bubbles upwards to its containing `sl-dialog` and trigger relating code.
Found out while hovering Tooltips in my Dialog and wondering why Dialog-Hide code was executetd.

**To Reproduce**
I made a fiddle for testing https://jsfiddle.net/TrailSnail/oLtscu2m/2/
Open DevTools Console, oben the dialog and hover the tooltip.
If t

[2021-04-02 11:12] claviska commented on #394
Custom events aren't unique to each component (i.e. many emit the `sl-show` and `sl-hide` events). They work the same way a `click` event does by bubbling up. In this case, if you only want to capture events from the dialog, you can compare the target itself rather than its tagname.

https://jsfiddle.net/qdam5h0k/

This ensures you're only getting events that originate from the intended source.

[2021-04-02 11:12] #394 closed, assigned to claviska

[2021-04-02 12:00] claviska commented on #381
Another important thing to call out with the current dark theme approach is that it uses a number of light DOM styles. This is problematic for users who nest themed components inside of their own shadow roots (see #390).

This won't be an issue if we can make theming depend solely on design tokens. I think this is the approach @mcjazzyfunky was suggesting early on and would like to acknowledge tha

[2021-04-02 12:03] claviska commented on #390
This is happening because the components are rendered inside a shadow root and the dark theme currently uses [light DOM styles](https://github.com/shoelace-style/shoelace/blob/next/src/styles/dark.scss#L45). This is a valid problem that I'm hoping to address in #381.

I've added a note to that issue so we can track this there along with other theming concerns, so please watch that issue for update

[2021-04-02 12:03] #390 closed, assigned to claviska

[2021-04-02 12:26] claviska commented on #296
I've updated the issue with some info about Web Test Runner. I want to explore Playwright next. If anyone has experience with either (or alternatives), feel free to share your thoughts.

[2021-04-02 19:51] claviska commented on #308
@crutchcorn Hi, I'm hearing reports that this may not apply to more recent Shoelace releases. There were some under the hood changes with the move from Stencil to LitElement. I was hoping you'd be able to review it with the latest release. 🙏

https://shoelace.style/tutorials/integrating-with-nextjs

Thanks!

[2021-04-02 23:41] aoloo commented on #308
@crutchcorn I followed the direction you added in the documentation, but next js seems to have issues running the app. The main error I am seeing is this `Error [ERR_REQUIRE_ESM]: Must use import to load ES Module`. The example repo you linked is setup differently from the documentation. Would it be possible to update the documentation?

[2021-04-03 19:54] fredmorinmibu opened #396 "Intellisense setup for Webstorm"
I would like to see either instructions or an addon to allow intellisense to work for shoelace library inside of Jetbrains IDE Webstorm

[2021-04-03 19:56] claviska commented on #396
Sounds like this might be a dupe of #328

[2021-04-04 18:23] claviska commented on #307
I think the bigger problem is the lack of availability of state that’s usable from CSS. Something like [`:state`](https://developer.mozilla.org/en-US/docs/Web/CSS/:state) is really what we need to solve this appropriately. The idea is to enable any CSS part that’s exposed by the component to be targeted with a CSS selector (i.e. not exclusively through CSS custom properties).

For now I can think

[2021-04-04 19:33] aoloo opened #397 "Shoelace grid system"
**Is your feature request related to a problem? Please describe.**
It would be nice to have a shoelace grid system to help us structure our app and make it responsive.

**Describe the solution you'd like**
A grid component in which we can specify the number of columns and rows. Similar to material-ui grid system https://material-ui.com/components/grid/.

**Describe alternatives you've considered**

[2021-04-04 19:48] jaredcwhite commented on #397
I prototyped a flex grid system a while back, but ultimately decided it's very challenging to capture all the nuances of flex box via HTML elements. I've worked on a less ambitious "bar" component which I think could be helpful. It's in use on my [company site](https://whitefusion.studio) for the nav bar. Example:

[code]

[2021-04-05 00:17] claviska commented on #397
I don’t think this is something I’d like to pursue. [I previously commented](https://github.com/shoelace-style/shoelace/issues/120#issuecomment-683736273):

I still feel strongly that CSS grid solves the problems that grid systems were originally designed for. If you like using them, that’s totally fine! You can easily import your favorite one and use it in conjunction with Shoelace.

[2021-04-05 13:21] claviska commented on #307
I feel silly for not catching this sooner, but this is possible with `::part(base):focus` and you get access to all CSS properties that way. Here's a fiddle demonstrating how to target all buttons (for a blanket override) as well as individual variations.

https://jsfiddle.net/r4va2wsg/

I believe this solves the issue. I'll try to find a place for this example in the docs so it's more obvious.

[2021-04-05 13:21] #307 closed, assigned to claviska

[2021-04-05 15:20] staabm opened #399 "IDE autocompletion for phpstorm/webstorm"
**Is your feature request related to a problem? Please describe.**
As described in https://shoelace.style/getting-started/usage?id=code-completion It would be great if there would be a way to get autocompletion for phpstorm/webstorm IDEs

[2021-04-05 15:41] staabm opened #400 "Image diff feature"
**Is your feature request related to a problem? Please describe.**
The image compare component is pretty cool. Depending on the images in use its now always helpful though. When before/after images are pretty similar its really hard to see where the actual differences are.

**Describe the solution you'd like**
A component which shows the difference between 2 images would be great.
https://github.c

[2021-04-06 10:27] mcjazzyfunky commented on #98
@frederik-jatzkowski Could you please do me a favor and bring your theme editor online again. The URL you've provided above is not working any longer:  https://frederikjatzkowski.github.io/sl-modes.css/ . Thank you very much.

[2021-04-06 12:37] claviska commented on #399
Let's track this in #328 since the integration will likely be the same.

[2021-04-06 12:37] #399 closed, assigned to claviska

[2021-04-06 12:43] claviska commented on #328
For anyone looking to implement this, run the build locally and look at `dist/metadata.json`. This file contains an easy-to-consume list of components you can use to generate the IntelliSense data. This is what I use for the VS Code integration.

[2021-04-06 13:20] claviska commented on #390
I don't know if this will be 100% solvable in the theme file, but you can work around it by incorporating the dark theme into your element's shadow DOM. You'll also need to set the `sl-theme-dark` class internally.

https://jsfiddle.net/6wjLgxh8/2/

This may not seem intuitive, but the shadow DOM is doing what it's supposed to do. By preventing light DOM styles from leaking in, it's giving you ful

[2021-04-06 22:45] macta commented on #397
As a newcomer to all of this, and trying to learn about WebComponents and how I can use them in my code (I'm not really a front end coder, but want to try and make things look nice) this was a useful topic, and it wasn't obvious to me how to make things responsive by reading the main Shoelace site - so I'm now reading up on CSS grid, and now understand what you mean. It might be helpful if the mai

[2021-04-07 13:23] mcjazzyfunky opened #401 "someColorPicker.value = '#123456' is not working properly"
**Describe the bug**
Updating a color picker value via `someColorPicker.value = whatever` seems not to work after initial rendering.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://shoelace.style/components/color-picker
2. Open dev tools
3. Select the first color picker element and call "Store as global variable"
4. In the JS console enter `temp0.value` (or whatever the variabl

[2021-04-07 14:01] #401 closed, assigned to claviska

[2021-04-07 14:02] claviska commented on #401
Good catch. The order of the params changed and weren't updated. Fixed in 0b4dc3f.

[2021-04-07 17:02] mcjazzyfunky opened #402 "Missing font-family in sl-drawer styles"
**Describe the bug**
I guess we need an additional line [here](https://github.com/shoelace-style/shoelace/blob/0b4dc3f6a81a66cf53042853255d50c765683267/src/components/drawer/drawer.scss#L103):

[code]

Maybe it's the same for class `drawer__close` a few lines later - in my demo I only see the SVG close icon, so no problem there.
But I see the drawer's title in Times New Roman, instead of a sans se

[2021-04-07 18:13] neischlah opened #403 "`<sl-tab-group>` indicator is missing on initially disabled tabs"
**Describe the bug**
Tabs which are disabled initially will not show an indicator when they become active.

**To Reproduce**
https://jsfiddle.net/3uqm9wyt/
Wait for the second tab to get enabled, then click on it.

1. Create a tab group in which a `<sl-tab>` has the `disabled` attribute set.
2. Remove the attribute after some time
3. Click on the previously disabled tab

**Expected behavior**
The

[2021-04-07 21:05] #403 closed, assigned to claviska

[2021-04-07 21:08] claviska commented on #403
Thanks for reporting this and for the fiddle — that made it easy to track down. Fixed in 8f8cf96.

[2021-04-07 21:14] claviska commented on #402
Drawer and dialog don't apply a font family — only the height is set so the current font family will be inherited and better match the design.

I'm not sure I understand the problem. Can you post a quick example to demonstrate?

[2021-04-07 21:16] claviska commented on #397
I could see something like this going under the _Resources_ section along with other best practices and tips. I'll try to focus on that after the 2.0 release.

[2021-04-07 22:18] mcjazzyfunky commented on #402
At https://shoelace.style/components/drawer the drawer is shown with a sans serif font due to the inclusion of the following two files:

assets/styles/docs.css
docsify@4/themes/pure.css

Both set a font family on the body.
If you deactivate this font family configuration still a lot of (I would even say most) shoelace components are shown correctly in a sans serif font. But for example the drawer,

[2021-04-07 22:18] #402 closed, assigned to claviska

[2021-04-08 08:13] danielplatt-clx opened #406 ""hydrated" class missing after loading web components"
**Describe the bug**
I'm currently using shoelace in version `2.0.0-beta.36`.

In older version, e.g. `2.0.0-beta.26`, shoelace adds the `hydrated` class to rendered sl-webcomponents. In `2.0.0-beta.36`, this feature is missing.

**To Reproduce**
Steps to reproduce the behavior:
1. setup a project with shoelace `2.0.0-beta.36`
2. insert some shoelace components like sl-select
3. the `class="hydrat

[2021-04-08 08:24] trailsnail commented on #406
We want to use this class as trigger for "Hey, component is ready, so `.hydrated .somecontent {visibility: visible;}`

We want to hide textcontent entries from components, which aren't ready to reduce cumulative layout shifts

btw.: Other solutions welcome 😉

[2021-04-08 11:48] claviska commented on #406
The `hydrated` class was a remnant of Stencil's lazy loader. Shoelace has since [migrated to LitElement](https://www.abeautifulsite.net/posts/moving-from-stencil-to-lit-element/) and removed lazy loading.

As of [2.0.0-beta.29](https://shoelace.style/resources/changelog?id=_200-beta29), you can [import everything](https://shoelace.style/getting-started/installation?id=cdn-installation-recommended)

[2021-04-08 11:48] #406 closed, assigned to claviska

[2021-04-08 12:00] danielplatt-clx commented on #406
@claviska Thank you for your fast answer :) The defined selector is a nice working way for me.

[2021-04-08 13:17] js-works opened #407 "Wrong text color on badges"
I guess the following line
https://github.com/shoelace-style/shoelace/blob/8e404bd47834f3beeb62d8d499123e63dc40f369/src/components/badge/badge.scss#L28
should be
`color: var(--sl-primary-text);`
Same for the other four theme colors in the following lines.

[EDIT] And just as a side note (has nothing to do with the comment above): `--color-warning-text: var(--sl-color-black)` would surely be more b

[2021-04-08 14:25] mcjazzyfunky commented on #381
Just a few comments as I have noodled around a little with alternative dark themes. Just in case that your experiment will be successful, the following three minor changes might be useful:

- renaming `--sl-color-black` to `--sl-color-front` (or whatever, but should be a semantic name)
- renaming `--sl-color-white` to `--sl-color-back` (or whatever, but should be a semantic name)
- [Edit]: Renamin

[2021-04-08 14:31] frederik-jatzkowski commented on #98
@mcjazzyfunky it has been moved to [https://frederik-jatzkowski.github.io/sl-modes.css/](https://frederik-jatzkowski.github.io/sl-modes.css/). Have a nice day 😃

[2021-04-09 08:10] danielplatt-clx opened #408 "scrollbars not visible on iOS 14"
**Describe the bug**
Scrollbars in `sl-dropdowns` or `sl-selects` are not visible on iphone XR (iOS 14.4.2 + safari) while scrolling

Context: If no scrollbar is shown, i don't know that more items exist in my sl-select or sl-drodpown.

**To Reproduce**
Steps to reproduce the behavior:
1. use the following example code (sl-select with fix dropdown height)
[code]
2. open the page with the sl-select

[2021-04-09 12:17] claviska commented on #218
This is mostly solved by b4fc01e99a20f9b8c9bdacc0b2ba2d33152fc8e9. The only outstanding issue I'm aware of is that VoiceOver is reading "1 of 1" instead of "1 of (total)". [This Chromium bug](https://bugs.chromium.org/p/chromium/issues/detail?id=1158144) is related, but I'm still exploring ways around it in the meantime.

[2021-04-09 12:55] claviska commented on #215
Radios have been fixed in 75bd54d16a823bb3edf783632d03f3822b013f44.

Now that `:focus-visible` [has landed in Safari TP](https://caniuse.com/?search=focus-visible), I'd like to start moving away from using `box-shadow` for focus and use a more prominent `outline` for keyboard users.

Many libraries (including Shoelace) use `box-shadow` as a "prettier" alternative to proper focus rings because we d

[2021-04-09 14:31] mcjazzyfunky commented on #381
To visualize some of the ideas behind this experiment, please find below a desktop-first-and-only protoype of a shoelace theme designer (=> "prototype" as in "don't expect anything to work" :wink:).
This theme designer is inspired by an earlier work by @frederik-jatzkowski, thanks for that Frederik). In that theme designer you'll find a button `invert theme` which has only the purpose to visualize

[2021-04-09 18:17] jaredcwhite commented on #381
Wow @mcjazzyfunky, that looks awesome! 👍👍

[2021-04-11 09:10] brgrz opened #409 "Drawer `close-button` part not accessible with CSS parts"
**Describe the bug**

Docs list the `close-button` CSS part of the drawer however I am unable to style it the way it works with other drawer parts for example `title`

**To Reproduce**

[code]

[code]

**Expected behavior**

Ability to hit the close-button part with `.drawer::part(close-button)`

**Screenshots**

This is how the rendered drawer header DOM looks like

![image](https://user-images.g

[2021-04-11 12:21] trailsnail commented on #409
Inner Part `base` is exposed as `close-button` to the `<sl-drawer>` (and `<sl-dialog>` too).
See example in my screen for color and font-size.
![grafik](https://user-images.githubusercontent.com/4742603/114303993-208ebd80-9ad1-11eb-9dd6-36bcc8e9e108.png)

Hope this will help 😉

[2021-04-11 13:00] trailsnail commented on #397
I totally agree with this. `display: flex;` and `display: grid` is the only stuff I rely on at the moment.
We are building the second application now where we use Shoelace excessive.

If you start with "mobile first" thoughts, the responsivenes appears nearly from alone 😉

mobile|tablet|desktop
-|-|-
![grafik](https://user-images.githubusercontent.com/4742603/114304875-c93f1c00-9ad5-11eb-831e-b9be

[2021-04-11 19:11] brgrz commented on #409
@trailsnail Yes I see that, it's the same for me but my CSS styles don't get applied. How does your CSS rule looks like?

[2021-04-11 19:38] trailsnail commented on #409
[code]

Exactly like in my Screenshot...

[2021-04-12 01:40] recamshak opened #410 "Icon loading race"
**Describe the bug**
When changing the `name` attribute multiple time quickly on an sl-icon element, the icon that finishes fetching last is displayed, instead of the icon corresponding to the last value of `name`.

**To Reproduce**
Steps to reproduce the behavior:
1. create an icon with `name="check"`
2. change the attribute to `name="x"` and then back to `name="check"` before `x` has been comple

[2021-04-12 06:01] trailsnail commented on #409
@brgrz
Maybe you can show an example of your HTML and CSS?

[2021-04-12 09:14] mcjazzyfunky opened #412 "Optimize how component dependencies are handled"
Please have a look at the following demo.
It's using `sl-select` and `sl-menu-item` and therefore cherry picks the files `.../select.js` and `.../menu-item.js`.
The demo is obviously not working properly:

https://jsbin.com/duhejoveqo/1/edit?html,output

The reason why it is not working is of course that `sl-select` depends on `sl-dropdown` and others which should also be included.
Wouldn't it be

[2021-04-12 10:20] brgrz commented on #409
So after further deep dive into this I discovered the CSS does get applied but at the icon level. Since I was applying `padding` which is also applied at `drawer__close` class I missed that. The padding indeed got applied at the icon level but obv not at the `drawer__close` level since I didn't target it and this is the padding I kept seeing and couldn't remove). There it goes, my bad.

[2021-04-12 10:35] brgrz commented on #409
I'm reopening this bc I'm currently unable to target the `drawer__close` element which has padding applied (besides padding being applied on the button icon and being able to target it with ::part(close-button)

I tried all kinds of rules but they don't get through to the shadow DOM. (and the ::shadow and deep selectors are now deprecated)

[2021-04-12 13:51] claviska commented on #409
The spacing is handled by a custom property, so you can override it like this:

[code]

Fiddle: https://jsfiddle.net/9p6ktnsq/

But considering this is a common use case, it will probably be better to turn header, footer, and body padding into separate tokens for more reliable styling.

[2021-04-12 14:00] #409 closed, assigned to claviska

[2021-04-12 14:02] claviska commented on #409
Starting in beta.38, you'll be able to change header, footer, and body spacings more reliably with `--header-spacing`, `--footer-spacing`, and `--body-spacing`.

[2021-04-12 14:05] #407 closed, assigned to claviska

[2021-04-12 14:05] claviska commented on #407
Good catch. I'll be addressing color contrast more broadly soon!

[2021-04-12 14:13] claviska commented on #134
One trouble with tables is that it's difficult to targets things reliably with the `::slotted` selector, so if this component used a slot (e.g. if it were composable), it will probably require light DOM styles. I'd really like to avoid that.

People: "Just don't use shadow DOM then!"

Well, this would be the first and only component that _doesn't_ use shadow DOM. It would become the edge case as s

[2021-04-12 14:21] claviska opened #413 "Typography / core element stylesheet"
This is a proposal to offer an _optional_ extension to the base stylesheet that will apply light DOM styles to core HTML elements, much like [Tailwind's typography plugin](https://github.com/tailwindlabs/tailwindcss-typography).

This will give users a simple, opt-in way to achieve consistent styling throughout their app _without_ requiring them to style everything from scratch using Shoelace's de

[2021-04-12 14:22] claviska commented on #134
I've created a proposal for this here: https://github.com/shoelace-style/shoelace/issues/413

[2021-04-12 14:35] claviska commented on #412
Dependencies are always fun. If a component has them, they're listed in the docs so you'll know which ones to import. For example: https://shoelace.style/components/select?id=dependencies

Yes, but I'm not sure auto-loading is possible without lazy loading, which I'd like to avoid. If someone has a proposal to simplify this, I'm happy to hear it.

At some point, I tried calling out missing depende

[2021-04-12 14:40] #410 closed, assigned to claviska

[2021-04-12 18:44] jaredcwhite commented on #413
https://giphy.com/gifs/excited-yes-agree-jErnybNlfE1lm

[2021-04-13 18:38] jaredcwhite commented on #269
Seems this is still an issue with Safari. 😞 Guess I'll need to use a standard light DOM input for username/password fields.

[2021-04-14 20:45] David-Carty commented on #397
CSS Grid is well supported and very easy to use as well as being minimalistic and native.
Support: https://caniuse.com/?search=grid
Scrimba is a great starting point for anybody wishing to learn CSS Grid quickly (I have no affiliation to Scrimba)
https://scrimba.com/learn/cssgrid
Flexbox is still super useful but should not be used to solve grid challenges.  That's what CSS Grid was gifted to us f

[2021-04-15 08:03] tamis-laan opened #417 "Dynamically sized input"
Would like to see an option where the input box width scales with it's content such as:

[https://codepen.io/chriscoyier/pen/XWbqpzP](https://codepen.io/chriscoyier/pen/XWbqpzP)

This saves space when asking for things like:

[code]

[2021-04-15 13:18] claviska commented on #417
The "pure CSS" solution uses `contenteditable` which lets users paste in arbitrary HTML. The JavaScript solution requires measurement. Here's a Shoelace example using JS with a less accurate measurement:

https://jsfiddle.net/e8ray3w4/1/

You could improve on it by measuring a hidden `<div>` with the same font/size that mirrors the input's value. As it changes, you'd sync the width accordingly. Yo

[2021-04-15 19:13] claviska commented on #381
This is really, really nice. Let's work on #413 (since it will add more core design tokens) and revisit this afterwards.

@mcjazzyfunky is this something you'd be interested in contributing to the project as an official theme generator? I could see something like it being hosted at `themes.shoelace.style` or maybe even as a special page in the docs.

[2021-04-16 09:26] webdevisme opened #418 "Color picker in bottom draw is clipped, hoist not working"
**Describe the bug**
If using a color-picker in a sl-drawer (bottom) the color picker controls are clipped by the drawer boundary, even when using the hoist option for the color-picker.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a drawer with bottom placement
2. Add a color picker as drawer content
3. Click the color picker to open the picker controls
4. Color picker controls ope

[2021-04-16 11:19] mcjazzyfunky commented on #381
@claviska
Sure, but please be aware that - like I've already said - it's just a prototype yet. The current feature set is okay, I guess (except for not showing all components yet), but under the hood there's still a lot to do (especially I've to switch to a common UI library - like Preact or whatever ... currently I am using an experimental UI lib, which has to be replaced) ... anyway, when #413 w

[2021-04-16 13:45] claviska commented on #418
This happens because the drawer uses `transform`, which establishes a new containing block. This is [called out](https://shoelace.style/components/dropdown?id=hoisting) in dropdown's docs (which color picker uses internally). If we disable the transform, the color picker (and other hoisted components) will no longer be cropped.

Fiddle: https://jsfiddle.net/caymth7d/ (resize the panel to ensure th

[2021-04-16 13:45] #418 closed, assigned to claviska

[2021-04-16 13:51] claviska commented on #381
Absolutely. I have ideas to expand on it — just feeling out whether you'd be open to sharing it with the community. 🙌

[2021-04-16 14:31] claviska opened #419 "RFC: i18n"
It's time to start thinking about i18n. This discussion will be scoped to localization, whereas #191 will focus on RTL support.

There is a need for common labels in components that need to be localized. An example is in dialog/drawer/tab/tag, which all feature a built-in close button. Currently, the buttons don't have a label so screen readers don't announce them properly.

Important: I don't exp