[2017-07-28 12:50] raphaelgoetter opened #1 "CSS combing"
Hi,

First sorry for my bad english :)

I really love your project but I notices something that bothers me a bit: the CSS properties order is sometimes strange and could be fixed with a tool like [**CSScomb**](https://www.npmjs.com/package/csscomb)

For example : [here](https://github.com/claviska/shoelace-css/blob/master/source/css/content.css#L133) you could reorder this :

[code]

into this :

[2017-07-28 13:32] claviska commented on #1
Yes, this bothers me too. I was just having a conversation with @orokusaki about this the other day. I have my own "method" but it's often inconsistent.

What's the preferred sort order using CSS comb? Is there a default? The website doesn't seem to describe one and the example above seems a bit arbitrary at a glance.

Also, the minified stylesheet is obviously irrelevant, so this will only apply

[2017-07-28 13:40] raphaelgoetter commented on #1
CSS Combs default order is [ZenCoding](https://code.google.com/archive/p/zen-coding/wikis/ZenCSSPropertiesEn.wiki) (Found it in [this CSS tricks article](https://www.smashingmagazine.com/2012/10/csscomb-tool-sort-css-properties/).)

Of course, but a clean source code (with editorconfig, beautify and CSS comb) is a pleasure to deal with :)

[2017-07-28 13:43] raphaelgoetter commented on #1
Found a better resource for orders : https://github.com/csscomb/csscomb.js/tree/master/config

[2017-07-28 14:09] raphaelgoetter opened #2 "Double font-weight on body ?"
Hello,

Is there any reason to apply `font-weight` twice on `body` ?

[code]

[2017-07-28 14:12] claviska commented on #2
Whoops! No, this is unintentional and [this line](https://github.com/claviska/shoelace-css/blob/master/source/css/content.css#L21) needs to go. If you want to PR that's cool, if not I can fix it. LMK

[2017-07-28 14:31] claviska opened #3 "Themes & Components"
I want to keep the core lightweight, but at the same time I'd hate for lots of people to adopt Shoelace and then run into Bootstrap Syndrome (every website looks the same).

We can prevent this by encouraging third-party themes and linking to them from the website.

These can be simple copy/paste snippets to start:

[code]

We could do something similar with third-party components, too. I'm postin

[2017-07-28 14:33] claviska commented on #2
Fixed in #4

[2017-07-28 14:33] #2 closed

[2017-07-31 14:07] fjanon opened #6 "Any plans for cards?"
Do you have plans for cards? That the only part I need to use shoelace.

Thanks

[2017-07-31 14:14] claviska commented on #6
I'm not sure, really. I do use BS4 cards for a few things, but I usually end up spending more time customizing them than it would take to roll my own.

For example, look at [all the potential ways](https://v4-alpha.getbootstrap.com/components/card/) cards _can_ be used in Bootstrap. Personally, I've only used a few of these styles, and the same result could have been achieved using flexbox + borde

[2017-07-31 15:27] claviska commented on #1
I think the reason they don't recommend an Atom plugin on the [CSScomb website](http://csscomb.com/) is because none of them work very well. I've tried four different ones. Most don't respect my `.csscomb.json` file despite it being in the prefs. [The only one that does](https://atom.io/packages/atom-css-comb) throws errors for valid CSS. Here's an example:

[code]

![screen shot 2017-07-31 at 11

[2017-07-31 16:51] claviska opened #8 "Thoughts on Autoprefixer"
Now that we switched to PostCSS for minification, it may be time to consider using [Autoprefixer](https://github.com/postcss/autoprefixer) too. I don't _think_ there's anything that's unsupported in target browsers at the moment, but for future use it's probably a good idea.

Not sure how much weight this will add to the lib — probably not too much.

I think the target should be last two browser v

[2017-07-31 16:52] malchata commented on #8
this is a very easy add, but the hard part with autoprefixer is deciding what query you want to use. Optionally, you could leave it prefixless and advise users to process it on their own, but that makes it less friendly out of the box.

[2017-07-31 17:00] claviska commented on #8
I was hoping you'd chime in on this, thanks :)

It may be worth experimenting with at least, even if we decide against it after.

Users who want IE support (any version) need to use [Myth](http://www.myth.io/) for handling CSS vars. Myth also does prefixing, so basically we don't need to worry about folks who want IE support.

Knowing that, I'm OK with using the last two versions preset. Is there

[2017-07-31 17:06] malchata commented on #8
This is the prefix I tend to use on my projects:
`"last 2 versions", "> 5%", "ie > 10", "iOS >= 8"`

That said, I haven't updated it in some time, but I feel this is reasonable. I can add it if you want.

[2017-07-31 17:07] claviska commented on #8
If you wanna take a stab at it I'd love to see the result. It would give me more confidence knowing it will resolve a lot of edge cases as we move toward stable.

[2017-08-01 07:42] gemp opened #11 "Safari type number display issue (and password)"
There's a display issue for input type number in Safari (10.1.2 Sierra) where the base of the numbers is masked.

![shoelace-form-number-safari](https://user-images.githubusercontent.com/222421/28814071-5bd3efe4-769c-11e7-9d14-70a96dfbb4e8.png)

Also, password dots are rather low vertically.

Nice job, I'll try it in my next project.

[2017-08-01 11:21] faviouz opened #12 "Many elements are styled directly rather than through a class"
Why are many elements styled directly rather than through a class? e.g. [tables](https://github.com/claviska/shoelace-css/blob/master/source/css/tables.css)

What is the reasoning behind it? Bootstrap, for example, doesn't seem to do this.

[2017-08-01 12:12] claviska commented on #12
I've been a Bootstrap user for years. I still use it in some projects. In my experience, I've never used a `<table>`, for example, without `<table class="table">`. It's redundant. They're not custom components, they're just elements such as headings, links, etc. The latter are styled by default (in Bootstrap too), so why not other elements?

I've also never used an input in Bootstrap without `<inp

[2017-08-01 12:25] faviouz commented on #12
I actually quite like this argument. Never thought about it that way, but it makes a lot of sense, especially considering Shoelace's general philosophy.

[2017-08-01 12:40] faviouz commented on #12
Note that Bootstrap v1 automatically styled tables as well.

http://bootstrapdocs.com/v1.4.0/docs/#tables

Might be interesting to understand why they changed that.

[2017-08-01 12:43] claviska commented on #12
I'd be interested to know that to. I assume it was to please people who used tables for non-table purposes (which is IMO not a good reason).

[2017-08-01 12:43] kevinmarks opened #14 "The p- prefix for padding clashes with microformats properties"
Could you use pad- instead? It's almost as short, and clearer.

[2017-08-01 12:43] claviska commented on #14
Possibly. What exactly is it conflicting with?

[2017-08-01 12:49] kevinmarks commented on #14
Microformats uses short prefixes on class names to indicate that they should be parsed as data. A prefix of h- defines a structure, and within that other prefixes define field names. The p- prefix is used for plaintext properties (the most common case).
Because of this convention, your padding prefix could cause spurious properties to show up in a parsed structure, and potentially confuse people r

[2017-08-01 13:43] claviska commented on #14
Ugh, why would they use classes? They should have used data attributes (or even better, JSON-LD).

If this gets changed, I'd prefer `pad-*` like you suggested, but also `mar-*` for consistency. They're still short and relevant, albeit more verbose.

I'm gonna let the community vote on this with 👍  (change) and 👎 (no change) to determine if this gets changed.

[2017-08-01 14:14] faviouz commented on #14
Are microformats even relevant anymore?

[2017-08-01 14:19] claviska commented on #14
That's sorta what I'm wondering, plus I feel it's a poor implementation. I used JSON-LD for [https://www.postleaf.org](Postleaf) and everything gets parsed fine.

I get that it's supposed to be "easier" for humans to write (is it though?) but it really clutters up markup and I think we have better alternatives nowadays.

Of course, I'm not the only one using the Internet so I'll let others provide

[2017-08-01 14:45] kevinmarks commented on #14
Data attributes are explicitly specified to only be for the site itself, not for [external reuse](https://www.w3.org/TR/html5/dom.html#embedding-custom-non-visible-data-with-the-data-*-attributes):

They are also meant for non-visible data. Using microformats means you can use the text shown on the page as data, rather than a parallel version that may go out of date. This [DRY](https://indieweb.or

[2017-08-01 14:51] claviska commented on #14
Fair points, can't argue with the standard. How does `pad-*` and `mar-*` sound?

The other option is to use a BS-style naming convention: `p[dir]-[size]` and `m[dir]-[size]` but that sorta deviates from our own convention. 😕

[2017-08-01 14:54] kevinmarks commented on #14
I think pad-* and mar-* are a good compromise between terseness and clarity. Certainly much better than the overloading of u- in the article I linked.

[2017-08-01 16:43] liskicious opened #15 "Issue with React JSX and switches"
When using the library with react, the switches don't seem to work when you click them.

Interestingly enough they get rendered as

[code]
after react does it "magick"

and not  as

[code]

Would assume this causes them to not work when you click them.

[2017-08-01 16:44] claviska commented on #15
Hmm, can anyone else familiar with React want to verify this?

[2017-08-01 16:45] claviska commented on #15
Might need to post more code (minimal case if possible) to verify.

[2017-08-01 17:58] liskicious commented on #15
Hey, sorry for not providing testcase, but I just wanted to make a note here in case other had noticed. Here is a minimal testcase on codepen that seems to behave similar to what I saw: https://codepen.io/anon/pen/RZRWRK

I love the simplicity of this framework and hope to test it out more on a small project. Nice work!

[2017-08-01 18:01] claviska commented on #15
No problem, thanks for that. It looks like the `for` attribute is being removed from the `<label>` which causes the input to trigger.

Not sure if there's a way around that without JS. Hopefully someone with more React experience can chime in.

[2017-08-01 18:20] liskicious commented on #15
Aha good spotted. I wasn't aware that react required to use htmlFor instead of for. When I switched for= to htmlFor= it worked fine! Thanks!

https://stackoverflow.com/questions/29161330/react-js-ignores-labels-for-attribute

[2017-08-01 18:20] #15 closed

[2017-08-01 18:30] evansd commented on #12
Bootstrap made this change so that you could use external JavaScript widgets on the page without the default styles trashing their layout. In particular the default table classes [caused problems](https://github.com/twbs/bootstrap/issues/999) with the jQuery UI DatePicker widget, and apparently the default form styles were [also problematic](https://github.com/twbs/bootstrap/issues/171).

[2017-08-01 18:45] claviska commented on #12
Thanks for the links. I think that made sense five years ago, but it's less relevant these days. 😄

I know some people will disagree with my decision, and I realize some third-party controls may still utilize tables [incorrectly] as layout devices. I'm OK with a style collision here and there (although I haven't run into any yet). Until we have custom elements to provide better namespacing, these

[2017-08-01 18:55] evansd commented on #12
@claviska Yeah, I think you've probably made the right decision. I just saw that someone asked about the reasoning behind Bootstrap's decision and I remembered those issues.

[2017-08-01 18:58] claviska commented on #12
No worries. And I wasn't trying to target you specifically. Lots of eyes on this project today and people have certain expectations ("why isn't this like Bootstrap?") so I wanted to write down my thoughts.

I try to keep an open mind, so if there are other valid arguments I'm happy to listen.

[2017-08-01 19:27] #14 closed

[2017-08-01 19:34] claviska commented on #14
This might be a slightly unpopular decision, but I decided to use `padding-*` and `margin-*` instead of `pad-*` and `mar-*`

One, it's more clear what's actually being applied at a glance. And they're only a few chars more than `mar-` and `pad-` anyway.

Two, it's more consistent with the rest of the utility classes:

[code]

I don't think the extra chars will be a problem since in all likeliness

[2017-08-01 20:17] #11 closed

[2017-08-01 20:18] claviska commented on #11
Thanks for reporting this!

[2017-08-01 20:18] claviska commented on #8
Merged with #10

[2017-08-01 20:18] #8 closed

[2017-08-01 20:23] softwarerero opened #16 "Link styled as button"
I see that a button can be styled as a link. Is it possible to style a link as a button too?

[2017-08-01 20:26] claviska commented on #16
Yep. Use:

[code]

[2017-08-01 20:43] #16 closed

[2017-08-01 21:24] bpicolo commented on #12
@claviska  for what it's worth, I'm wondering if the logic behind it isn't that, when you want a differently styled variant, you just have to remove a class. In this case you'd need to explicitly unstyle all of the defaults

[2017-08-01 21:40] claviska commented on #12
Well, it's either:

1. Set defaults and require users to override a handful of properties _if and only if_ they want to create a special variation

OR

2. Don't set defaults and make users add redundant classes every time they want a table to look like a table

If you think about it, # 1 actually makes a lot of sense because the default styles are minimal and any variations a user wants to make wi

[2017-08-01 23:48] bpicolo commented on #12
@claviska  it's reasonable thinking, and great job with the cool project :)

[2017-08-02 12:23] faviouz commented on #1
Maybe you could run https://github.com/csscomb/csscomb.js in a git pre-commit hook or something like that.

[2017-08-03 08:10] thomasbritton commented on #1
Personally, I think just sorting the properties _alphabetically_ would be the best option if you really want to spend the time putting an ordering system in place. It's the simplest option to update the existing source code to and will be the most universally understood ordering.

But at the end of the day, I don't think people should be editing the CSS provided from Shoelace anyway, it's meant to

[2017-08-03 16:30] claviska commented on #1
Alphabetically makes it easier to add/remove/order properties when you're developing, but I tend to group things (e.g. font/text styles, positioning styles, etc.) so I don't have to bounce around a lot.

CSScomb's default order seems logical enough — I just with I could get it to work properly with a plugin.

[2017-08-04 02:25] leesmith opened #17 "Any plans for nav bars?"
I'm very much still learning cutting edge CSS like variables and grid so I was wondering if you have any plans on incorporating some nav bar examples, much like Bootstrap's, of course. Thanks for sharing this project and keep up the great work!

[2017-08-04 13:33] claviska commented on #17
Thanks 😄

Unfortunately, the short answer on navbars is "no".

Navigation is (and should be) wildly different from one website to another. It should be a product of the designer's creativity, and no amount of customization Shoelace can offer will provide an adequate solution for creative imaginations.

The same goes for web apps. Navigation can be done so many different ways that it doesn't really

[2017-08-04 13:43] kevnk opened #19 "CSS-only Tabs"
Why not implement [css-only tabs](https://css-tricks.com/css3-tabs/) instead of including a small js snippet?

[2017-08-04 13:52] leesmith commented on #17
Yeah I can respect that. Thanks!

[2017-08-04 13:52] #17 closed

[2017-08-04 13:56] claviska commented on #19
The only example I've seen of pure CSS tabs involved radio buttons, basically like this one:

https://codepen.io/wallaceerick/pen/ojtal

It's clever, but the markup required to achieve this is a bit complex and requires a certain order that's hard to remember. You also can't trigger the tabs via keyboard in most (all?) browsers since the input is hidden. Not sure if there's an easy way around that

[2017-08-04 14:10] claviska opened #20 "Focus ring hidden in input groups"
The focus ring for buttons is cut off by the adjacent control due to its stacking position.

![screen shot 2017-08-04 at 10 08 28 am](https://user-images.githubusercontent.com/55639/28972232-e60f96a6-78fc-11e7-9512-c62c65942ea9.png)
![screen shot 2017-08-04 at 10 08 36 am](https://user-images.githubusercontent.com/55639/28972234-e73b243c-78fc-11e7-8891-d53bb32fa01e.png)

This can probably be resol

[2017-08-04 14:44] claviska opened #21 "Remove jQuery dependency from tabs.js and dropdowns.js"
I whipped up a minimal script [for tabs](https://github.com/claviska/shoelace-css/blob/master/source/js/tabs.js) and [for dropdowns](https://github.com/claviska/shoelace-css/blob/master/source/js/dropdowns.js), both on top of jQuery. I'd like to remove this dependency, however, as it can add a lot of weight to projects that aren't using jQuery.

In previous versions of Shoelace, the docs stated:

[2017-08-04 16:00] kevnk commented on #19
Cool - makes sense. I've used the radio input method before, but hadn't realized the inability to trigger it with keyboard! Thanks for that.

Did you see the css-tricks example I linked in my first comment: https://css-tricks.com/css3-tabs/ It doesn't use radio inputs. It uses `:target` which is [well-supported](http://caniuse.com/#search=%3Atarget) and has markup that is really straight-forward.

[2017-08-04 16:05] kevnk commented on #19
I just read more from that article and viewed some demos... and I didn't get the best feel for them and would just go with rolling my own js snippet or grabbing yours.

All the best!

[2017-08-04 16:17] claviska commented on #19
Interesting, I missed your link and must've been hiding under a rock because I hadn't heard of the `:target` selector. It's well supported, so I'm going to reopen this for evaluation.

[2017-08-04 17:00] kevnk commented on #19
Haha. For the record, I only stumbled on the `:target` selector myself when looking for an example to link on _this_ github issue. So plenty of "rock-hiding" going around these days!

[2017-08-04 18:18] claviska commented on #19
Hmm, some problems with `:target`:

- Can't set active state on a tab
- Can't prevent window from scrolling without JS
- Can't prevent tabs from hijacking the back button without JS

Interesting approach though. Going to close this in favor of the original script.

[2017-08-04 18:18] #19 closed

[2017-08-04 20:15] #20 closed

[2017-08-04 20:16] claviska commented on #20
Fixed thanks to a suggestion found in: https://philipwalton.com/articles/what-no-one-told-you-about-z-index/

[2017-08-05 02:01] claviska commented on #6
I think cards are a great idea for an add-on. I'd suggest following #3. Maybe we can add it as a first-party component. I'd just prefer not to have it in core.

[2017-08-05 02:01] #6 closed

[2017-08-05 08:47] hsleewis opened #23 "input-group: auto instead of 100%"
Is there a reason the input-group width is currently set to 100%?
I changed it to "width: auto" on my end.
That way it's better to align groups of buttons with other elements.

My use case is an alert box that contains a single button and a group of buttons, the single button is aligned to the left, the group is aligned to the right.

[2017-08-05 21:35] EvgenyOrekhov commented on #21
How about implementing tabs and dropdowns in pure CSS?
A quick googling brings up a lot of solutions, for example:

- [https://codepen.io/MarekZeman91/pen/wBwbrp](pure CSS tabs using `:target`)
- [https://codepen.io/andornagy/pen/xhiJH](pure CSS **nested** dropdowns)

[2017-08-06 00:36] claviska commented on #23
Input groups are 100% so they span the full width of their parent container just like individual form controls. They also work similarly to `input-single` in terms of vertical spacing.

If you're trying to align multiple controls/input groups horizontally, it's usually better to use a separate grid column for each one. Here's an example using the CSS Grid:

https://codepen.io/claviska/pen/ZJLOJr?e

[2017-08-06 00:36] #23 closed

[2017-08-06 01:03] claviska commented on #21
See #19 for some discussion about that.

[2017-08-06 01:04] claviska commented on #21
Good to see that you _can_ access those CSS-only tabs with the keyboard, but I'm still not a fan of the markup. The script is also useful to add helpful events so users can tap into `show` and `hide` once those get added.

[2017-08-06 01:05] claviska commented on #21
Also, that dropdown example isn't apples to apples. We don't want them showing on hover — they need to be activated by a button or link by design :)

[2017-08-06 01:09] claviska opened #24 "Placeholders not centered vertically in iOS"
I don't have time to tackle this over the weekend. This probably isn't a difficult one in case somebody wants to handle it.

Only affects placeholder text on inputs on iOS. You can see an example on [shoelace.style](https://shoelace.style/).

[2017-08-06 18:17] bkuri opened #25 ".button-block+.button-block inside .input-group margin issue"
This is what I get when I place two block-style buttons inside an input group:

![screenshot at 13-13-45](https://user-images.githubusercontent.com/138886/29005822-5edb8678-7aa9-11e7-8a50-f81aabf33862.png)

I'm trying to understand the need for that rule. Maybe it's a bug?

BTW, I'm using `1.0.0-beta8`.

[2017-08-07 00:45] ryerh commented on #3
@claviska Any plans for modal dialogs and overlay popovers?

[2017-08-07 01:10] claviska commented on #3
Personally, I hate modals. The panel concept is much less obtrusive IMO. The less things websites throw at my face, the better 😝

That said, if someone writes a proper Shoelace extension to add modal dialogs, I'll be happy to help polish it off and list it as a third-party extension on the website. But I'm not going to be building it out myself any time soon.

[2017-08-07 01:22] #25 closed

[2017-08-07 01:24] claviska commented on #25
Fixed in master. You can download the latest or just add this as a temporary fix if you're using the CDN:

[code]

Thanks for reporting this.

[2017-08-07 01:40] #24 closed

[2017-08-07 07:05] TheMonster1995 commented on #21
I could give it a shot, hopefully getting it down in the next 2-3 days.

[2017-08-07 07:14] TheMonster1995 commented on #1
I beg to differ on the matter of it being a "nice to have." If this is going to be an open source project which many people are going to use, enjoy, and contribute too, then the core code should be the easiest to understand; whether it's for debugging purposes, or just someone trying to add something new and wants to understand the other parts of the code.

Also, if different people are going to c

[2017-08-07 16:27] claviska commented on #21
I just pushed e2160a9e9d2aabf991be5a456a44921c8382e31e which lets you use either jQuery (34.6KB) OR Zepto (9.7KB) for tabs and dropowns. This is what the next beta will feature and they'll be available in /dist as a single file.

I think this is a fair compromise since now you can shrink Shoelace's JS down to:

- 9.7KB Zepto
- 0.6KB Shoelace tabs & dropdowns
- **10.3KB TOTAL**

This is less than 1

[2017-08-08 11:41] azcodes commented on #3
Here is an example theme loosely based upon _Solarized Dark_..

[code]

[2017-08-08 12:44] azcodes commented on #3
Here is an example theme loosely based upon _Solarized Dark_..

[code]

[2017-08-08 12:56] azcodes commented on #3
Here is a theme loosely based on *Solarized Dark*..

[code]

[2017-08-08 12:58] azcodes commented on #3
Here is a theme loosely based on *Solarized Dark*..

[code]

[2017-08-08 16:11] DCReddish97 opened #26 "!important Tags"
I've just downloaded to give this a test, and the first thing I saw is !important tags everywhere, this actually makes it harder to do anything as if you want to overwrite a style you're going to have to use another !important tag to do so, and same with doing any responsive media queries.

There is just no need for all the !important tags on everything, plus is bad practice and coding standards.

[2017-08-08 16:19] claviska commented on #26
Almost all of the `!important` declarations (137 of them) are on utilities, which is intentional.

[Bootstrap does this too](https://github.com/twbs/bootstrap/blob/v4-dev/dist/css/bootstrap.css#L6354-L8160), because without them you couldn't add a utility class with the guarantee that those styles would take affect.

Aside from that, there are maybe 10 occurrences of `!important` in the entire lib

[2017-08-08 16:34] DCReddish97 commented on #26
I know that bootstrap uses a few of them as well, and that bugs me a bit to be honest. I think that the padding and margins shouldnt have them in the utilities section, as it's usually those that need to get changed during resizing. You always get at least 1 client that complains about "too much padding" on something or just little things like that, I just dont like having to use more important ta

[2017-08-08 21:59] claviska commented on #3
Heads up! New website and the docs are better organized. https://shoelace.style/

[2017-08-09 02:51] claviska commented on #1
Also tried [`postcss-sorting`](https://atom.io/packages/postcss-sorting) for Atom. This mostly worked, but there are some annoying bugs that cause it to use the wrong config for files opened outside the current project.

I'll keep looking for in-editor solutions. Hoping for one that:

- Uses a config file such as `.csscomb.json` or `.postcss-sorting.json`
- Has the ability to sort manually
- Has t

[2017-08-09 16:13] faviouz opened #30 "<big> element"
In HTML5 `<small>` is used to represent side comments and small print, thus it is appropriate to style it with a small font size. However `<big>` conveys no semantic information (you're probably looking for `<strong>` or `<em>`) and [is obsolete in HTML5](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/big).

You should remove it from https://github.com/claviska/shoelace-css/blob/c518eb2

[2017-08-09 16:15] #30 closed

[2017-08-09 16:16] claviska commented on #30
Thanks again. I removed it from the docs in 1083f7e93c56171d55853678adca67702381da2b but forget this selector.

[2017-08-09 17:01] leesiongchan opened #31 "[Suggestion] Consider to remove `height` in `button`"
https://github.com/claviska/shoelace-css/blob/master/source/css/buttons.css#L14

So it plays well with other properties like `font-size` or `padding`?

[2017-08-09 17:35] claviska commented on #31
The `--input-height` and `input-height-*` properties ensure that buttons remain the same height as form controls. Otherwise, simple changes such as font size can throw things out of whack.

Setting an explicit height on buttons/inputs wasn't my first approach, but it seems to be the only way to get truly consistent results on all browsers while still allowing users to customize fonts for buttons a

[2017-08-09 17:35] #31 closed

[2017-08-09 18:23] MattWalston opened #32 "Interest in removing jquery dependency?"
This is something that I'm considering tackling but was curious how others felt about eliminating jquery/zepto dependency?

[2017-08-09 18:45] faviouz commented on #32
I think I've seen talk about this around here (or perhaps on HN).

Unless there are some strong arguments for using jQuery in this context, I think we should help paint the picture that [you might not always need jQuery](http://youmightnotneedjquery.com/) and ditch it entirely.

[2017-08-09 19:18] claviska commented on #32
I juggled this on and off, and then [dumped my thoughts here](https://github.com/claviska/shoelace-css/issues/21#issuecomment-320712249). Let's continue the discussion there.

I'd be interested in seeing how compact a 100% equivalent vanilla alternative would look, and how it compares to the < 10KB that Zepto + shoelace.js requires.

Another point I made was that using Zepto as a base (and jQuery

[2017-08-09 19:18] #32 closed

[2017-08-09 19:18] claviska commented on #21
Reopening for further discussion.

[2017-08-09 21:43] faviouz opened #33 "HTTP/2"
I have recently been educating myself on HTTP/2, for which I recommend
- https://www.youtube.com/watch?v=r5oT_2ndjms
- https://http2.github.io/faq/
- https://www.youtube.com/watch?v=yURLTwZ3ehk
- https://hpbn.co/http2/

I beg the question: with the rise of HTTP/2, will it still be relevant to concatenate shoelace's CSS into a single file for distribution in a production context? Arguably: no.

In

[2017-08-09 21:43] faviouz commented on #3
It's really cool being able to theme shoelace with native, cascading, spec-compliant variables. But it kinda bothers me that I have to transfer [9KB of variables](https://github.com/claviska/shoelace-css/blob/master/source/css/variables.css) and overwrite them (i.e. transfer more bytes) with my own preferences.

Do you see the problem here? If you want to theme and customise shoelace, you will alw

[2017-08-09 23:32] azcodes commented on #21
I am enjoying the direction that you are taking with shoelace and fully intend to use it in several production sites / applications.

I would be disappointed to see you bow to a different design paradigm, so encourage you to keep going the way you see fit. I, however small that may be, like your approach.

One production application that I work on makes heavy use of jQuery, not as a crutch but to

[2017-08-09 23:34] azcodes commented on #21
I am enjoying the direction that you are taking with shoelace and fully intend to use it in several production sites / applications.

I would be disappointed to see you bow to a different design paradigm, so encourage you to keep going the way you see fit. I, however small that may be, like your approach.

One production application that I work on makes heavy use of jQuery, not as a crutch but to

[2017-08-10 01:39] claviska commented on #21
In terms of JavaScript, it's less about the paradigm and more about what works for me (the developer) and users. It's a balance. I do appreciate the encouragement though 😄

To further emphasize my feelings on this:

As a developer, _I know I can do everything without jQuery or Zepto_. That doesn't mean I want the burden of polyfilling and testing every feature that target browsers may or may not h

[2017-08-10 01:51] claviska commented on #3
You don't have to. If you're working from the source, you can include your own or even overwrite the existing one — your call.

Then it would be impossible to serve the project over CDN, which despite a few extra KB, is incredibly useful.

Don't look at the overall size though. Look at the convenience factor for millions of potential users. You can include the entire library from a CDN or locally

[2017-08-10 02:25] claviska commented on #33
Thanks for your insights on HTTP/2 😄

It's not necessary now. In fact, until [earlier today](https://github.com/claviska/shoelace-css/commit/8bd0632a6080be6eb996888033fb30c078ba4b79) the website was using the source files directly. No minification. No prefixes. Not even HTTP/2. I don't think anyone even noticed.

This is an interesting idea, and I'm open to doing it if we continue to minify/autopr

[2017-08-10 02:29] claviska commented on #3
After looking at the discussion in #33, I think the variables problem will go away. Unless you're using the shortcut loader, you'll only be loading core variables plus whatever components you explicitly include. 🤔

[2017-08-10 02:36] claviska commented on #33
Just a heads up — I'm going to experiment with this on Friday.

[2017-08-11 01:19] faviouz commented on #33
I'm not exactly sure what you took from my post. What changes are you thinking about making?

This can be made available for prototyping but should not be given much emphasis. If you really want to be HTTP/2-aware, you should make it very clear that this should only be used for prototyping and is not recommended for production because it
- means you're transferring bytes you might not need
- delay

[2017-08-11 14:20] AmirAlavi opened #35 "Shoelace homepage has red background in Edge"
https://shoelace.style/
Haven't looked into the cause but the site looks different in Edge compared to (Safari/Chrome/Firefox)
It has a red background, making it hard to read the logo, compared to the correct white background.
![image](https://user-images.githubusercontent.com/2713034/29217080-b0bf7be2-7e7e-11e7-8f93-452fa40aa5e2.png)

[2017-08-11 14:47] chrisdemars commented on #35
I just checked it out in Edge and everything looks okay @AmirAlavi
![shoelace](https://user-images.githubusercontent.com/6799474/29218334-7e991b42-7e82-11e7-9b71-3876f220f31f.png)

[2017-08-11 15:21] claviska commented on #33
Your insights on HTTP/2 are appreciated, but your arguments derail the project's objective.

Shoelace provides a simple way for users to include the library (locally or via CDN) and customize it without having to worry about preprocessors. I wrote about [why this is a problem](https://davidwalsh.name/shoelace-css) in a post on David Walsh's blog. Coincidentally, I saw it yet again in the wild [jus

[2017-08-11 15:21] #33 closed

[2017-08-11 15:26] claviska commented on #35
It would help to know what versions of Edge.

[2017-08-11 15:27] claviska commented on #35
@AmirAlavi in your screenshot, the text isn't the default color either. Is this local or the live website? Have you made any customizations or changes in the dev console?

[2017-08-11 16:38] mahoneyjames commented on #35
I'm getting the same thing in Edge - was just heading here to ask about it.

It happens when I hit https://shoelace.style/

Microsoft Edge 40.15063.0.0
Microsoft EdgeHTML 15.15063

If I kill this bit in dev tools things look nice again
::selection {
    background-color: var(--selection-bg-color);
    color: var(--selection-color);
    text-shadow: none !important;
}

[2017-08-11 16:39] claviska commented on #35
Thanks for that, looking into it.

[2017-08-11 16:44] AmirAlavi commented on #35
Thanks @mahoneyjames.
@claviska Sorry for the delay in response. To answer your questions for the record:
It was live, without any changes in the dev console.
And my versions are the exact same as @mahoneyjames

[2017-08-11 16:48] claviska commented on #35
Looks like an Edge 15 bug. I created a minimal test case. https://codepen.io/claviska/pen/qXXdQZ

[2017-08-11 16:49] AmirAlavi commented on #35
@chrisdemars Though the colors are correct in your screenshot, the font looks different if you look closely. Which versions do you have?

[2017-08-11 16:52] claviska commented on #35
This bug has already been reported and confirmed by the Edge team: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/11495448/

[2017-08-11 16:55] #35 closed

[2017-08-11 16:59] claviska commented on #35
I've applied a workaround that makes [shoelace.style](https://shoelace.style) legible in Edge 15. Hopefully the bug gets resolved soon.

[2017-08-12 14:32] claviska opened #36 "Use <progress> for progress components"
Leaving this here as a "want to, can't do it yet." Maybe we'll be able to use the `<progress>` element for progress components one day. Right now, I've run into some issues that degrade the experience compared to [the current ones](https://shoelace.style/docs/progress-bars.html).

- There is no standard for styling the progress bar or the progress bar values. For example:
  - Progress bar containe

[2017-08-12 14:32] #21 closed

[2017-08-12 17:37] jgibson02 commented on #36
For the black line at the edge of the progress bar in Edge, try adding `border: none` to `progress::-ms-fill`

[2017-08-16 13:14] scottaohara opened #40 "Address accessibility gaps in Shoelace"
Let me start off by saying I really like the streamlined approach you've taken with this project. It's nice to see a library like this, using modern CSS.  However in looking through the source code, and doing some basic keyboard and screen reader accessibility testing, there are quite a few gaps in coverage that really should be closed to ensure this framework doesn't perpetuate inaccessible  user

[2017-08-16 18:28] claviska commented on #40
Thanks for the PRs. And absolutely, let's discuss this!

[2017-08-16 18:35] claviska opened #41 "Moving Forward"
This is something I've been thinking about and I'd like to throw it out there to gather feedback.

Shoelace is getting a lot of attention because it champions the use of CSS variables. However, in the real world most people still need to post-process the library with [Myth](http://myth.io/) or [cssnext](http://cssnext.io) because they need support for IE11 (non-existent) and Edge (has a few nasty

[2017-08-16 18:36] claviska commented on #40
I'd love your feedback on #41 too.

[2017-08-18 14:21] claviska commented on #40
Per #41, I reworked most components and made sure to address accessibility with buttons, switches, tabs, etc.

Focus states for buttons are similar to BS4-beta's approach:

![2017-08-18 10 13 19](https://user-images.githubusercontent.com/55639/29462620-fc836bea-83fd-11e7-901a-3c799a9e0a95.gif)

I also updated switches to have a consistent focus state:

![2017-08-18 10 14 47](https://user-images.gi

[2017-08-18 14:24] claviska commented on #1
I added [stylelint](https://stylelint.io/) to the project. This catches a lot of convention issues, but it doesn't handle sorting. Still haven't found anything that works properly in Atom.

[2017-08-18 16:00] scottaohara commented on #40
yeh the file button was something i was trying to figure out how to bring up, because of the issue with the lack of focus state, but in addition to that, there is no visual indicator of when a file has been slated for upload, at all.

There really is no good CSS only solution for customizing file upload buttons.

I've done work on doing style uploads with JS/CSS in the past though...I'll try to se

[2017-08-18 16:02] claviska commented on #40
I figured as much. I'm open to including a small JS snippet in `shoelace.js` if it makes the button accessible. Just let me know how you think it should work and I'll be happy to work on it.

[2017-08-18 17:22] scottaohara commented on #40
i'll try to find some time to get you that demo / any specs that may need to be added, asap

[2017-08-18 17:44] ajbdev opened #42 "Suggestion: add dropdown activation steps to documentation"
For example, for the dropdown menus just need the "active" class added to the parent dropdown container to display the menu. Adding this to the documentation would be nice since I had to dig into the javascript source to figure this out.

For those of us who don't want to use the provided javascript for various reasons, it would be useful to provide documentation as to what CSS classes to use to g

[2017-08-18 18:27] #42 closed

[2017-08-18 19:21] claviska commented on #41
Implemented in 1.0.0-beta17.

[2017-08-18 19:21] #41 closed

[2017-08-18 19:21] internalfx opened #43 "Customizing"
As a suggestion I would point people to import `/source/css/shoelace.css`

I dug through the code to get it, but it would save time.

Thanks for a nice library.

[2017-08-18 19:31] internalfx commented on #43
NVM, just noticed that `shoelace.css` was a link. I totally overlooked that.

Might still be useful to show a path though.

[2017-08-18 20:03] #43 closed

[2017-08-18 20:03] claviska commented on #43
Good call. I updated that and made the link to `alerts.css` point locally and show the path.

[2017-08-26 11:53] Gonzih commented on #3
This demo https://codepen.io/claviska/pen/preOdK?editors=1100 does not work with beta18 version. What changed?

[2017-08-26 13:20] claviska commented on #3
See the release it's for [beta17](‪https://github.com/claviska/shoelace-css/releases/tag/1.0.0-beta17).

[2017-08-27 12:09] commuun opened #44 "Variables don't seem to work any more"
### Summary

I upgraded from version beta17 to beta19 today, all my color settings are being ignored. Looking at [dist/shoelace.css](https://github.com/claviska/shoelace-css/blob/master/dist/shoelace.css) I don't see any `var()` statements.

After checking beta18 I see the issue was already present there.

### Additional info

- Shoelace version: beta17 => beta18/19

---

Note: This issue tracker

[2017-08-27 14:28] claviska commented on #44
[beta17](https://github.com/claviska/shoelace-css/releases/tag/1.0.0-beta17) removed CSS variables from the dist. The only major change since then was to split core/component variables into `variables.css` again to make it easier to bootstrap the library.

Are you sure you were on 17 and not 16 or below?

[2017-08-27 15:21] commuun commented on #44
Oh, that's why I didn't see anything in the release notes, I didn't check 17.

But actually I just double checked. I installed shoelace via yarn, and while my package.json reports beta 17..

    $ cat package.json
    {
      ...
      {
        "shoelace-css": "^1.0.0-beta17"
      }
    }

however, when I look at the dist css file it shows this:
[code]

So it looks like I've been using a very ol

[2017-08-27 15:22] claviska commented on #44
I ran into that snag too with NPM 5. Not sure why it was happening. I had to remove and reinstall to get the latest version. 🤷‍♂️

[2017-08-27 15:23] commuun commented on #44
Anyway thanks for the explanation, I know what to do now :)

[2017-08-27 15:26] #44 closed

[2017-08-28 07:37] nevf opened #45 "Tabs - Color Variations request"
Tabs don't currently have Color Variations like buttons, badges etc. It would be good to see these added as the default is quite intense.

FYI I have just started using Shoelace in the last few days and am migrating a complex Bootstrap app over to it. So far I really like what you've done - congrats.

[2017-08-28 07:41] nevf opened #46 "Tabs - programmatic selection"
The docs for Tabs indicate their is no API, however I need a way to select a Tab in Javascript.

For now I've done this by sending a click event to the Tab, but I don't much like this approach and would prefer a simple api.

[2017-08-28 09:22] claviska commented on #45
Are you using the CDN/dist version or the source? If you're using the source, you can customize tha tab colors independently with [these variables](https://github.com/claviska/shoelace-css/blob/master/source/css/variables.css#L498-L520).

I'm not sure how common it would be for one to want multiple tab colors in the same app, but I'll leave this open so people can 👍  and 👎 .

[2017-08-28 09:24] claviska commented on #46
You can also apply the active class to the appropriate tab nav and tab pane, just be sure to remove any existing classes.

It might make sense to use mutation observers to watch for the `active` class on tab navs and then update the tab navs and tab panes automatically. I'll look into it, but I'd prefer to avoid turning this into an entire tab plugin.

[2017-08-28 09:25] claviska opened #47 "Support input icons in input groups"
Input icons don't currently work in input groups, but they should.

[2017-08-29 02:00] colinhowells opened #48 "Brunch configuration to compile source CSS"
Hey, thanks for Shoelace everybody, appreciate the work!

This isn't really an issue, but it may be something you want to add to the documentation, because integrating Shoelace's source files – rather than just including the compiled css – with [Brunch](http://brunch.io/) was tricky.

First, `@import` Shoelace into your own css, rather than including Shoelace with npm.styles. If you include via np

[2017-08-29 07:59] nevf commented on #45
I am using the dist version and understand I can add in the missing variables, however the css also needs the color variations added. This means I have a non-standard shoelace.css which I'd prefer not to.

That said I assumed all components that used "color" would include the color variations. Most do, with Tabs and Dropdowns missing out. 👍

[2017-08-29 08:04] nevf commented on #46
I tried that however I'm duplicating all of your code and I also need to fire the 'show' event. So I refactored my code and sent a click event to avoid that duplication.

I agree that using a mutation observer might be a cool way to handle this and removes the need for an explicit api.

[2017-08-29 08:11] nevf opened #49 "Enable dropdown buttons to work with child elements"
I am using the following dropdown markup which only works for a click on the caret vs. click anywhere inside the <a> tag.
[code]
To resolve this I changed:
```if($(event.target).is('.dropdown-trigger'))```
to:
```if($(event.target).closest('.dropdown-trigger'))```
in dropdowns.js which works with just an <a></a> etc. and if it has nested elements.

[2017-08-29 08:38] Gonzih commented on #3
That complicates stuff a bit now. So no live theme switching then anymore?

[2017-08-29 14:49] claviska commented on #45
Gotcha. The colors are actually states — a button, badge, and an alert can have a state. Not sure if things like tabs and dropdowns should, as it could lead to inconsistent UI patterns (e.g. it makes sense to have multiple button states on a page, not so much to have different colored dropdowns — could get confusing).

By default, the primary color is used to provide a consistent appearance. As yo

[2017-08-29 14:49] #45 closed

[2017-08-29 15:01] claviska commented on #46
Yeah, admittedly it's not as easy as it sounds since you have to traverse the DOM to remove other active classes.

I played with mutation observers a bit and they seem to work great for this. There are a couple edge cases I still need to work out (e.g. restricting disabled tabs from obtaining the `active` class) but I think it's a good approach overall. Ultimately, you'd be able to just:

[code]

[2017-08-29 15:05] #49 closed

[2017-08-29 15:06] claviska commented on #49
Good call. Fixed!

[2017-08-29 15:30] claviska commented on #3
You can build from source to get all the customizations (and other future CSS features). This way it works with all browsers _today_. If you want custom properties (i.e. variables) in your own dist, you can use cssnext.io to build it. Just disable it like this:

[code]

[2017-08-29 15:30] claviska commented on #3
Closing since extending the lib has been documented now.

[2017-08-29 15:30] #3 closed

[2017-08-29 15:32] claviska commented on #36
Closing because this isn't currently possible to do with a consistent experience. We can revisit once browsers standardize styling and allow animations.

[2017-08-29 15:32] #36 closed

[2017-08-29 21:30] colinhowells commented on #48
EDIT: I had this completely wrong in the initial implementation; the initial setup ran postcss on _each_ of the css sources – Shoelace and my own – separately before being concatenated, so css variables ceased to exist before they could be modified by me.

[2017-08-29 22:00] claviska commented on #46
This has been addressed in 7c2a0fcc951fbbed96187cc77d802d0b53acf5f4 but it could use some testing (dist has been updated in master as well).

I'm using a mutation observer to detect class changes on tabs. When this occurs, other tabs are made inactive and the appropriate tab panes are shown/hidden automatically. Events still work as expected. Works for me even in IE11 which is the lowest target br

[2017-08-29 22:02] claviska commented on #46
An interesting side effect of using mutation observers is that they let us prevent the `active` class from being applied to a disabled tab. We basically block it and maintain the existing tab state. Good stuff.

[2017-08-29 22:07] claviska commented on #48
Good stuff. I'm using the cssnext plugin with PostCSS, but not through Brunch. I prefer simple CLIs like the one I created for Shoelace. Relevant section highlighted:

https://github.com/claviska/shoelace-css/blob/master/build.js#L139-L151

The neat thing about cssnext is you can use it with just about anything. Hopefully Brunch users will find your post useful when they search 😄

[2017-08-29 22:07] #48 closed

[2017-08-30 02:05] #47 closed

[2017-08-30 07:26] nevf commented on #45
Bootstrap dropdowns do have the color variations that bootstrap buttons etc. have, which you can see on the page you linked to. To me a dropdown menu is simply a *button* with extra functionality.

As for Tabs I feel the problem here is that Shoelace uses the default color which makes a Tab look like a Button, which I don't think is right.

Bootstrap Tabs look nothing like buttons. Nor do Tabs in

[2017-08-30 08:34] nevf commented on #46
Looks good. Only tested on Chrome so far. Certainly a novel and nice way to do this.

[2017-08-30 12:16] claviska commented on #45
Dropdown triggers are just buttons, so they do have states (even in Shoelace). I was referring to the hover color in the dropdown menu.

[2017-08-30 15:58] #40 closed

[2017-08-30 15:59] claviska commented on #40
I believe all the accessibility issues outlined are now resolved. File buttons were the last ones, and have been fixed in 0f8e1ec. The structure was changed and the markup is a bit more verbose, but it's a fair tradeoff for making them accessible.

[2017-08-30 16:00] claviska commented on #46
No reports of bugs, and it's testing out pretty solid for me. If any issues come up, please file as a bug :)

[2017-08-30 16:00] #46 closed

[2017-08-30 16:49] scottaohara commented on #40
Hey @claviska sorry I haven't had time to jump on this, but saw the issue closed so wanted to check in.

Per the file buttons, is the examples page you provided up to date?

I know I didn't outline it before, but here are some of the issues pertaining to the current file upload button style:
1. There's still no visible keyboard focus of the 'buttons' (though they can be accessed by keyboard). (fil

[2017-08-30 17:33] claviska commented on #40
I need to handle cache busting better. Make sure you refresh to get the latest styles. They work the same as buttons when focused:

![2017-08-30 13 23 15](https://user-images.githubusercontent.com/55639/29885943-7f72a110-8d86-11e7-817e-ad6232be4654.gif)

File buttons !== file inputs. As noted in the docs:

File buttons are becoming more and more common, particularly in single page apps and apps th

[2017-08-30 18:24] scottaohara commented on #40
Hey @claviska thanks for the reply.

It seems that the issue is FireFox specific, as I can verify that I see the focus state in Safari, Chrome and IE/Edge.  But in Firefox on PC and Mac, there are no focus states.

And yes, I did see the note in the documentation about these being 'file buttons' but outside of styling, there is nothing semantically different about how they are announced to users t

[2017-08-30 18:28] claviska commented on #40
Ah, Firefox. Don't think we can do anything about that though :(

https://stackoverflow.com/questions/20095105/input-type-file-focus-adjacent-selector-in-css

[2017-08-30 21:58] claviska commented on #49
Just pushed a proper fix for this since there were some side effects with using `.closest()`. It also introduces a bug where menu items won't be properly selected. See 75e4582.

[2017-08-31 07:20] nevf opened #50 "Stacking switches vertically"
In https://shoelace.style/docs/switches.html the Variations example you stack switches vertically by wrapping them in a ```<p>``` which I assume was for convenience.

If I change to use ```<div class="switch">...</div>``` they stack vertically however the css rule:
[code]
leaves the switches after the first one indented, which isn't appropriate in this scenario. Changing the css to ```span.switch+

[2017-08-31 07:55] nevf commented on #49
@claviska Thanks for the heads up.

[2017-08-31 08:05] nevf opened #51 "input-sm font size"
For ```<input type="text" class="input-sm" ..>``` would you consider changing its ```font-size: .8rem;``` to ```font-size: .875rem;```.  This changes it from 12.8px _(which is an odd size)_ to 14px which is commonly used.

This also matches the font-size you use for ```<small>``` and matches Bootstrap ```form-control-sm```.

[2017-08-31 13:50] #51 closed

[2017-08-31 13:53] claviska commented on #51
Good call. I also adjusted `--input-font-size-xs` to.625rem (10px).

Keep in mind these are all relative to `--font-size` which happens to be 16px in most browsers :)

[2017-08-31 13:55] claviska commented on #50
The docs are generated from markdown, so the `<p>` tags are added during that conversion. The proper way to space form controls and labels is with an [input field](http://localhost:8080/docs/forms.html#input-fields):

[code]

For best results, a switch should always be a `<span>` and never a `<div>`.

[2017-08-31 13:55] #50 closed

[2017-09-01 07:55] nevf commented on #50
@claviska

Can you explain why a ```<div>``` should never be used? With the small changes I outlined it seems to work wonderfully well.

IMO using a ```<div>``` is much clearer semantically. Also having to wrap the ```<span switch>``` in an ```<div class="input-field">``` adds unnecessary extra markup which isn't semantic. ie. I don't consider a switch to be an input field.

[2017-09-01 08:04] nevf opened #52 "<input type="checkbox" class="switch" ..> issue"
The docs for switch show:
````<input type="checkbox" class="switch" .. >````

From what I can see switches.css does not specify any rules for ```input.switch``` only for the ```.switch > input``` which means there is no need to specify ```class="switch"``` for the ```<input>``` element.

I also checked this in the Chrome debugger.

[2017-09-01 08:10] nevf opened #53 "Use plain Javascript instead of jQuery / Zepto"
One of the main reasons for using shoelace.css is its small size compared to Bootstrap etc.

That said it would be a big plus to use plain Javascript for Tabs and Dropdowns so the jQuery bloat was removed.

[2017-09-01 12:24] claviska commented on #50
Because the control is intended to be structured as a span. By changing it to a div, you've demonstrated yourself why the it shouldn't be modified. As-is, you can use it inline or in an input field like other elements.

It's just another way to style a checkbox, so definitely an input :)

[2017-09-01 12:25] claviska commented on #53
See #21 for why this isn't going to happen.

[2017-09-01 12:25] #53 closed

[2017-09-01 12:33] claviska commented on #52
You're right, that can safely be removed. Docs have been updated in 1a999d1e9d88c9cc635aa029af29bdfa5a4cac07. Thanks!

[2017-09-01 12:33] #52 closed

[2017-09-14 02:58] nevf commented on #51
@claviska I just downloaded the latest release Beta 22 and these changes aren't working.
variables.css has
[code]
Further ```--font-size-small``` doesn't appear to be used. I would have thought:
[code]
et.all.
and that there should be ```--font-size-xs``` etc. and these used everywhere.

[2017-09-14 08:19] claviska commented on #51
There have been 17 commits to master since the last beta, including this fix. You'll need to build it yourself or wait for the next release.

[2017-09-15 22:30] nevf opened #55 ".button-link and :active css question"
```buttons.css``` has
[code]

However when I click on a ```.button-link``` element such as on https://shoelace.style/docs/buttons.html# the :active styling isn't applied. If I apply :active using Chrome Dev Tools it is applied.

IMO for ```.button-link``` elements you don't want the ```:active``` styling applied, which it isn't.

However I'm curious why it isn't being applied and wonder if this is

[2017-09-16 15:59] claviska commented on #55
I guess it's just visual preference. I believe the behavior is consistent with Bootstrap 4. Button links aren't really buttons — they're just links formatted with the same size and spacing so you can use them alongside buttons and maintain a visual consistency.

BTW — that is code from the last beta. It was changed in a recent commit to reduce the selector's specificity. I'll push a new beta somet

[2017-09-16 15:59] #55 closed

[2017-09-16 16:10] leesiongchan opened #56 "Consistent naming for font-size?"
https://github.com/claviska/shoelace-css/blob/master/source/css/variables.css#L208

Currently we have `font-size` and `font-size-small`, do you think it makes sense to change them to:
`font-size-sm`, `font-size-md`, `font-size-lg`, etc. like you do for `input` (https://github.com/claviska/shoelace-css/blob/master/source/css/variables.css#L310)?

[2017-09-16 16:13] claviska commented on #56
Not at all. `font-size` is the base font size for the body, and `font-size-small` is intended specifically for the `<small>` element :)

[2017-09-21 06:34] nevf opened #57 "tabs-pane is hidden for disabled tab"
If I add the ```disabled``` class to a ```<nav class="tabs-nav">``` -> ```<a href="#tab-1" class="active">Tab 1</a>``` element the ```active``` class is removed which causes the tabs associated ```<div class="tabs-pane active" id="tab-1">``` to also lose it's ```active``` class and therefore is hidden.

IMO I should be able to disable tabs to prevent user selection, while still keeping their tabs-

[2017-09-21 13:38] claviska commented on #57
I think the current behavior makes sense. If a tab is disabled, it shouldn't be shown. Not sure why you'd want to do that.

[2017-09-21 13:38] #57 closed

[2017-09-21 13:52] #56 closed

[2017-09-21 20:44] nevf commented on #57
@claviska  I was afraid that would be your response.

I have a UI where the tabs-pane contain editable documents. When the user is editing a document I don't want them to be able to select another Tab, hence I want the Tabs disabled.

The current behaviour makes no sense to me and is totally inconsistent - no other elements are hidden when they are disabled.

[2017-09-21 20:45] claviska commented on #57
If you don't want them to switch tabs, disable the _other_ tabs, not the current one. That way nothing else can be selected and the current tab won't be affected.

[2017-09-21 20:47] claviska commented on #57
Really it's a side effect of using mutation observers and it would require some dancing around the DOM to handle such an edge case.

[2017-09-21 21:07] nevf opened #58 "Extending shoelace.css components?"
Can you provide some guidance on how one goes about extending the components you provide.

For example how do I add a ```.button-flat```?

Do I have to edit ```buttons.css``` and add my ```.button-flat``` inside ```button, .button {```?

Or can I create a new ,css file and add my button class to that while still having access to your ```buttons.css```.

Of course a separate file is preferred so I

[2017-09-21 22:12] claviska commented on #58
Sure thing. This is best done when you're using the source files so you can take advantage of CSS variables, otherwise you're just writing raw CSS and hardcoding values which is tedious.

[This section](https://shoelace.style/docs/customizing.html#creating-custom-components) outlines the concept broadly, but here's a more targeted example:

[code]

In this case, we're defining a handful of variabl

[2017-09-22 08:52] nevf commented on #58
@claviska Thanks for that. Is the ```.button-flat``` css above being added to your ```buttons.css``` or to a new file?

[2017-09-22 12:01] claviska commented on #58
Preferably a new file so you never have to modify a source file.

[2017-09-25 09:58] nevf commented on #58
@claviska Ok, thanks. It would be helpful to include info about extending shoelace components in the docs in addition to the 'Creating Custom Components' section you already have.

[2017-09-25 23:19] ben-pr-p opened #59 "CSS variables are not being used"
### Summary

Go to https://cdn.shoelace.style/1.0.0-beta22/shoelace.css. All of the variables are hardcoded. In the repo inside my `node_modules` as well, I see the variables are in the source css, but must be being replaced with their values in the build process.

### Additional info

- Shoelace version: 1.0.0-beta22, 1.0.0-beta23

[2017-09-25 23:52] claviska commented on #59
This is been the case since better 17. Check out the release notes to learn more: https://github.com/claviska/shoelace-css/releases/tag/1.0.0-beta17

[2017-09-25 23:52] #59 closed

[2017-09-26 09:03] yohanboniface commented on #41
I'd have done it the other way.
Let's summarize two development stages:
- bootstrapping:
    - go fast to the point
    - do not care about browser support yet
    - hack without thinking about processes
- production/deploying
    - time for thinking about processes
    - browser support is important

So imho, CDN/dist versions should match bootstrapping stage, i.e. allowing to use vars without ne

[2017-09-26 21:00] haliphax opened #60 "CSS variables in media queries"
### Summary

Doesn't look like CSS variables can be used as media query selectors. They're touted as such in the documentation, but it doesn't work for me.

### Steps to Reproduce

1. Use the following in a stylesheet: `@media (--breakpoint-lg-down) { ... }`
2. View your page under the particular media query constraints
3. Styles are not applied

### Additional info

- Shoelace version: 1.0.0-beta

[2017-09-26 21:02] haliphax commented on #60
Bah, now I see that you're talking about "if you build Shoelace from source"...

[2017-09-26 21:03] #60 closed

[2017-09-26 21:04] claviska commented on #60
Yep, what you're referring to are [custom media queries](http://cssnext.io/features/#custom-media-queries). There's a [spec for them](https://drafts.csswg.org/mediaqueries-5/#custom-mq), but browser support isn't there yet so they need to be ran through cssnext for now.

[2017-10-03 20:03] oliveratgithub opened #62 "Can you add the possibility for regular links on tabs-nav?"
Hi there,
I (mis-)use a tabs-nav on my site as a horizontal navigation - because it suits this case quite well :)

However, it by default prevents opening a new page on click on a tab element. Would it be possible to add such functionality oob as compared to the current behaviour, where it is designed to only show/hide certain tab content containers?

Thanks,
Oliver

[2017-10-03 21:29] claviska commented on #62
Are you using the latest version? I believe this was resolved in def471e7191e6a598dcbbf277dfc66c0147ba7f0.

[2017-10-07 07:55] oliveratgithub commented on #62
Well I load it via the provided CDN url:
`<link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta22/shoelace.css">`

But will try beta23 with local files.

[2017-10-10 20:42] luwes opened #63 "Validation for textarea"
### Summary

Thanks for this great minimal CSS lib, love it!
Not sure if it's intended or not. There is no validation modifier for `textarea` I think.

### Steps to Reproduce

1. Add `input-invalid` to the parent div.input-field of textarea.

### Additional info

- Shoelace version: 22
- Affected browsers: Chrome

---

Note: This issue tracker is ONLY for bug reports and feature requests. If this

[2017-10-10 21:01] luwes opened #64 "CSS buttons specificity"
### Summary

- Noticed with the buttons that they're not easily customised because they have a higher specificity due to this selector `:not(:disabled, .disabled)`. Would it be reasonable to not use this selector and just reset the props in the `.disabled, :disabled` declaration?

It might even make it easier without all those `:not(:disabled, .disabled)` selectors and just later on override what

[2017-10-10 21:14] claviska commented on #64
I believe this was solved in beta23 with df784b691413f5b6c96d3be0f7bf668882e6547f.

[2017-10-10 21:14] #64 closed

[2017-10-10 21:15] claviska commented on #63
Looks like you're right. PRs are welcome if you feel up to it.

[2017-10-11 00:52] claviska commented on #63
Fixed with #65

[2017-10-11 00:52] #63 closed

[2017-10-11 01:01] claviska commented on #62
Fixed in beta24.

[2017-10-11 01:01] #62 closed

[2017-10-26 19:56] oliveratgithub commented on #62
beta24 didn't fix this for me. But I achieved the desired behaviour with one of the following 2 approaches:

A – **worse**: by modifying shoelace's core `shoelace.js` and removing this part of the code:
https://github.com/claviska/shoelace-css/blob/62b23735dcfcadf27a019c322030009805e61435/source/js/tabs.js#L88

B – **better**: Another working approach is using a jQuery function
(`tab-nav` is the `

[2017-10-26 20:12] claviska commented on #62
Sorry, I totally misread that before and thought you were referring to dropdowns which was a similar issue solved in def471e7191e6a598dcbbf277dfc66c0147ba7f0.

I'm glad you found a solution. I'm not too keen on tabs having different behaviors for UX reasons, but it could probably work if you made it obvious visually. In that case, the snippet you provided is pretty much what I'd recommend. Maybe t

[2017-11-07 12:31] oliveratgithub opened #67 "Is there a possibility to style switches in "off" position the same as for the "on" positions?"
This is regarding the Switches span: https://shoelace.style/docs/switches.html

Is it possible to style a Switch with the same classes but in the OFF position (switch button on the left), in combination with the default behaviour for styling the ON position? By default, switch = off is always grayed out.

I would like to have a switch in different colors, whether it's on the "off" or "on" position

[2017-11-08 14:11] claviska commented on #67
The default styles are inspired by iOS switches, where they're plain white/gray by default and turn a color when activated.

I'd suggest adding a modifier class to customize your own. You can use the base [switch class](https://github.com/claviska/shoelace-css/blob/master/source/css/switches.css) to start, then override it with your modifier class (e.g. `switch-colored`).

[2017-11-20 16:20] claviska opened #68 "2.0: Back to the basics (again)"
TL;DR – now that browser support has improved for custom props and CSS grid, Shoelace 2.0 will go back to its roots and once again be highly customizable _without the need for any sort of build process_.

---

As Shoelace evolved, it became clear that we weren't _quite_ ready for certain CSS features in production. I feel I was a bit too premature with pushing Custom Properties and CSS Grid Layout

[2017-11-28 00:41] leeoniya commented on #68
just fyi, here are some stats from a home remodeling ecommerce site in the US (Nov 2017):

IE11:
7.40% traffic
9.74% revenue

Safari 9:
1.78% traffic
1.68% revenue

Safari 10 is hard to tell apart from 10.1 via google analytics, and i don't think the former supports css grid, so throw some of those in there too. if you add those numbers up, you get 10-12% of potentially missing revenue - a huge nu

[2017-11-28 15:28] claviska commented on #68
Thanks for that. I know IE11 isn't dead yet, but that's not a reason to hold the project back. My thoughts for users who need to support those browsers:

- cssnext can be used to compile custom properties.
- The flexbox grid can be an optional first-party extension for users who don't want to use grid layout.

This gives users a choice and brings Shoelace back to its roots, which is what made it p

[2017-12-05 23:28] adamkolson commented on #68
I’m finally able to develop a personal project with shoelace. As browser support is t an issue this is welcome. Does this mean removal of the flexbox based grid? Flexbox has a place for one dimensional layouts but there’s also many other simpler ways to implement it.

[2017-12-06 12:47] claviska commented on #68
Correct. I'd like to make the flexbox grid an optional extension, not leave it in core.

[2018-01-14 20:28] raulferras opened #71 "row- utilities does not have an important tag"
### Summary
Trying to use row-* utilities (like row-end) does not have any effect if the element where it is applied already has a `justify-content` property set.
Is this expected?

### Steps to Reproduce
[code]

### Additional info

- Shoelace version:  https://github.com/claviska/shoelace-css/commit/17b173219b3c15b1ad3636c92bc5a2eecf09e528
- Affected browsers: Chrome 63, but I guess all of them.

[2018-01-15 13:42] claviska commented on #71
The flexbox grid was adopted from Bootstrap 4 beta 1. It's worth checking into their latest release to determine how they're handling this.

[2018-01-16 14:04] raulferras commented on #71
The bootstrap 4 beta 3 equivalent is `.justify-content-start`|`.justify-content-center`|`.justify-content-end` and they are using `!important` there.

[2018-02-12 21:31] carloshanson opened #72 "date and time input tags do not render well in Chrome"
### Summary

Input tags with type date or time do not render well in Chrome. Calendar functionality, specifically, is lacking.

### Steps to Reproduce

1. Create one input tag with type="date" and one with type="time".
2. Compare in Chrome and Firefox.
3. Notice that the calendar in Chrome will not let you use a dropdown for month and year.
4. Notice in both fields in Chrome that there is an x, an

[2018-02-12 21:39] carloshanson commented on #72
I just reviewed my form. The calendar can access a month and year dropdown. It just works differently. However, initial activation of the calendar requires clicking on the dropdown icon. That is not as user-friendly. And it is not a clean to look at in Chrome with the three icons in the right of the input tag (x, up/down arrows, and dropdown).

Thanks. Looking forward to continued play with Shoela

[2018-02-12 23:20] oliveratgithub opened #73 "shoelace.css interferes with styles from QuillJS themes"
### Summary

Not sure if this is a issue/concern to solve within shoelace, but the element styles from shoelace.css interfere with styles loaded through themes of Quill JS WYSIWYG-editor: https://quilljs.com / https://github.com/quilljs/quill

### Steps to Reproduce

1. Include shoelace.css
2. Include Quill JS (JS & a theme's CSS)
3. Use e.g. the Quill JS Hyperlink-Button: the z-index must be set

[2018-02-12 23:22] oliveratgithub opened #74 "No default styling for iframe elements"
### Summary

iFrame tags have no default styling from shoelace.css

### Steps to Reproduce

1. Add an iFrame HTML-tag to your page
2. Preview your page
3. No element styling in accordance with shoelace.css as for other HTML elements is present

### Additional info

- Shoelace version: 1.0.0-beta24/shoelace.css
- Affected browsers: all

[2018-02-13 00:43] claviska commented on #74
I'm not sure what defaults styles an iframe should have. Bootstrap offers responsive embed utilities, but only with a modifier class. Are you referring to reset styles?

[2018-02-13 00:51] claviska commented on #72
Date and time input behaviors aren't controlled by Shoelace — that's 100% the browser. In fact, Firefox [didn't support them at all](https://caniuse.com/#feat=input-datetime) until version 57.

[2018-02-13 04:28] carloshanson commented on #72
Great. Thanks.

Carlos Hanson

On Feb 12, 2018 4:51 PM, "Cory LaViska" <notifications@github.com> wrote:

[2018-02-13 04:30] #72 closed

[2018-02-14 14:55] #12 closed

[2018-02-15 21:26] oliveratgithub commented on #74
Yeah sorry, I was a little bit unspecific :)

What I'm talking about are two things:

1) e.g. a default border styling of an iframe tag, similiar to the `<fieldset>` styling
2) some responsive behaviour when embedding an iframe tag, as e.g. described here: https://benmarshall.me/responsive-iframes/

I ended up combining both two points from above as follows:

**CSS**
[code]

**HTML**
[code]

Not s

[2018-02-15 21:30] oliveratgithub commented on #73
Another example, I'm wondering about if there needs to be some adjustments to shoelace's style definitions and inheritance:

When using [jQuery's `.load()`](http://api.jquery.com/load/) feature to load HTML-content including CSS-style information into an existing element (e.g. a div), many of shoelace's style definitions are inherited and applied. I figured, that this is a common problem with that

[2018-02-15 21:31] oliveratgithub commented on #67
Thanks, I will look into that!

[2018-02-15 21:31] #67 closed

[2018-02-28 21:47] nevf opened #75 "Apps using Shoelace.css"
@claviska Hi Cory, You might be interested in having a look at our Knowledge Base / Note Taking app [Clibu](https://myclibu.com) that uses Shoelace.css plus some additional css I've created such as Tabs.

It could also be useful to have a list of examples of sites/apps using Shoelace.css for folks evaluating it.

Thanks again for creating shoelace, I've really enjoyed using it to replace Bootstrap

[2018-03-02 08:33] oliveratgithub commented on #74
Something additional regarding iFrames is the following, which I just had to fix on my site:

[code]

[code]

Source: https://davidwalsh.name/scroll-iframes-ios

[2018-03-26 10:00] TarasGrynik commented on #68
hello gayz ! how I can add input type checkbox into issue comment ? thx

[2018-03-26 11:29] claviska commented on #68
@TarasGrynik https://github.github.com/gfm/#task-list-items-extension-

[2018-03-26 11:30] TarasGrynik commented on #68
@claviska thx

[2018-03-28 01:08] internalfx commented on #68
@claviska will we see a branch for this soon?

[2018-03-28 11:46] claviska commented on #68
I put this out to collect some feedback as I worked on developing the new version of [Surreal CMS](https://www.surrealcms.com/). Shoelace isn't my top priority right now because it doesn't pay the bills, but I'd love to spend some time working on 2.0 soon.

[2018-05-08 19:17] dnguyen219 commented on #58
@claviska Could you quickly walk through steps how to build shoelace from source? I was looking at the [instruction](https://shoelace.style/docs/installing.html#building-from-source) but it doesn't seem to be clear.

[2018-05-08 19:28] dnguyen219 commented on #58
Gotcha. I am trying to use Shoelace in an Angular app which is set up by using [Angular CLI](https://github.com/angular/angular-cli). It seems the build process is handled by Angular CLI with the use of Webpack in the background. I thought having Shoelace installed via npm would be enough to have Angular CLI handled the build. What am I missing? Could you provide some guidance?

[2018-05-08 19:29] claviska commented on #58
Never used Angular, so I won't be of much help. Sorry!

[2018-05-08 19:30] dnguyen219 commented on #58
No worries! Thanks anyway.

[2018-06-18 18:23] UisgeBeatha436 opened #77 "Function shade is missing argument $percentage"
### Summary

While compiling, the compiler errors on a missing argument in the function 'shade'

   ------------------------------------------^

### Steps to Reproduce
While looking at the code of 'dropdowns', it seems shade is missing a second parameters:
[code]

### Additional info

- Shoelace version: 1.0.0-beta24
- Affected browsers: N/A

[2018-06-19 00:21] claviska commented on #77
It's working for me, and [according to the docs](https://github.com/postcss/postcss-color-function) the syntax is correct.

I'll need more info to verify.

[2018-06-19 05:37] UisgeBeatha436 commented on #77
Ok, thanks. Have to look how to get cssnext into the gulp-configuration file.

[2018-07-13 15:38] crock opened #78 "Better docs for how to import from source"
### Summary

I'm new to Webpack, but I'm not sure how to get Webpack to "know" where the source files for Shoelace are. I have installed shoelace and the dependencies with Yarn.

My webpack.config.js
[code]

My `package.json`

[code]

[2018-08-18 10:58] UisgeBeatha436 commented on #14
A little bit off topic, could you please clarify what's the correct syntax to use the margin and / or padding? Based on this post I did some experiment, however neither _mar-t-20_ or _margin-t-20_ is working:
[code]

Thanks!

[2018-08-18 22:51] claviska commented on #14
All the classes are here:
https://github.com/claviska/shoelace-css/blob/master/source/css/utilities.css#L200

[2018-08-19 08:40] UisgeBeatha436 commented on #14
Thank you. The following line does work. Is it also possible to give a number of pixels as argument?
`<div class="row mar-t-sm"> `

[2018-08-19 18:25] UisgeBeatha436 commented on #14
Thanks for explaining.

[2018-08-21 20:30] UisgeBeatha436 opened #79 "Button-xs doesn't work in a link"
### Summary

The usage of a xs or sm button in an active link doesn't have effect.

### Steps to Reproduce

Had to tweak the code below by putting a space betwee < a
1.

 --> works
2.

 --> doesn't work, only show a link

### Additional info

- Shoelace version: latest version
- Affected browsers: Safari

---

Note: This issue tracker is ONLY for bug reports and feature requests. If this is a pers

[2018-08-21 20:52] claviska commented on #79
For links, you need to include the `button` class and the modifier:

[code]

Right now, the `button` class can only be omitted from `<button>` elements, but this will change in a future version for consistency and namespacing.

[2018-08-21 20:52] #79 closed

[2018-08-21 21:02] UisgeBeatha436 commented on #79
Ah, thanks. Suggestion to add this to the manual?

[2018-08-21 21:03] claviska commented on #79
It's not explicitly written, only in the examples: https://shoelace.style/docs/buttons.html

Again, this will change in the next version for various reasons but I'll accept a PR if you want to clarify this for other readers :)

[2018-08-23 19:31] UisgeBeatha436 opened #80 "Looking for a way to solve this lay-out"
### Lay-out question
Not a bug or issue, but would like some some help from the expert.

I've been trying hard to get the following lay-out:

### Steps to Reproduce
[code]

### Additional info

- Shoelace version: Latest versio
- Affected browsers: Safari

---

Any help is highly appreciated!

[2018-08-26 15:06] UisgeBeatha436 opened #81 "Search option on the documentation page"
A search option on the documentation page of the Shoelace webpage would help in find classes more easily.

[2018-09-24 05:47] vinyll commented on #80
Seems like `grid-area` or flexbox would be some hint.
Stackoverflow would probably be more appropriate than here.

[2018-09-24 11:20] #80 closed

[2018-10-21 20:28] leesmith commented on #68
Any updates on this? Any new plans or changes in the works? Thanks!

[2018-10-22 23:54] claviska commented on #68
I'm feeling this is definitely the right direction to go. It would make Shoelace much easier for people to get started with.

As anxious as I am to take Shoelace to the next version, I'm really busy with the upcoming release of [Surreal CMS](https://www.surrealcms.com/) right now. I doubt I'll be able to focus much time until the new year.

[2018-12-17 11:47] NullVoxPopuli opened #83 "What's the minified gzipped size of shoelace's css?"
I'm evaluating switching https://emberclear.io from bulma to shoelace, and since it's a PWA, I want to make sure that whatever I switch to would not be any bigger :)

Shoelace looks _really_ good, and I'd just be using the css portions (I saw that the repo had some JS and images and such, but I don't need any of that).

Thanks!

[2018-12-17 14:41] claviska commented on #83
Looks like the whole stylesheet is about 11KB gzipped. You can obviously shrink that even more by omitting any styles you're not using.

![image](https://user-images.githubusercontent.com/55639/50093873-d4246300-01df-11e9-9102-26e6b4d2b83a.png)

[2018-12-17 14:41] #83 closed

[2018-12-17 14:48] NullVoxPopuli commented on #83
ooo that's amazing! that's less than half the size of bulma.
Looks like I'm switching to shoelace :D

[2018-12-17 14:53] claviska commented on #83
Before you do, check out this post: https://github.com/claviska/shoelace-css/issues/68

I'm still trying to collect real-world feedback on that, so your thoughts would be appreciated!

[2018-12-17 14:55] NullVoxPopuli commented on #68
I think getting rid of the build process and using all native modern features would be amazing!

For those who still want IE11 or other old browsers... just.. don't use the new version of shoelace? there is nothing wrong with staying an old version for compatibility reasons.

[2018-12-17 14:58] claviska commented on #68
Good point. That plus the news of EdgeHTML being discontinued sort of seals the deal for me. I can't wait to work on 2.0.

[2018-12-17 15:09] adamkolson commented on #68
And as CSS variables are part of the DOM which can be manipulated by JS, that's grand.

[2019-05-02 09:44] kohaistyle opened #84 "Dropdown on 'select'"
First thanx for the good work. I'm using Shoelace as base for a simple socket.io chat project.

I'm getting a jquery 'Max call stack size exceeded' error whenever i 'select' a simple dropdown.
Do you have any ideas ?

![image](https://user-images.githubusercontent.com/4652761/57067430-413c1f00-6ccf-11e9-9090-686ba18b30c9.png)

[2019-05-02 10:48] kohaistyle commented on #84
OK, commenting the preventDefault part in passing the Event did the trick. Not  sure why it bugged here, as jQuery hasn't changed this function call, it seems. But it works now !

Thanx

[2019-05-02 10:48] #84 closed

[2019-08-11 22:13] NullVoxPopuli opened #86 "css-next is deprecated"
https://github.com/MoOx/postcss-cssnext

it recommends we move to postcss-preset-env

[2019-08-13 01:48] claviska commented on #86
Thanks for pointing that out. I'm actually hoping to completely eliminate preprocessing in the next major version. See #68 for more info.

Closing because this will be removed with the 2.0 milestone.

[2019-08-13 01:48] #86 closed

[2019-08-13 02:08] NullVoxPopuli commented on #86
eliminate pre-processing?
do browsers natively support nesting now? O.O

[2019-08-13 02:11] claviska commented on #86
No, but I'm looking to bring the lib back to its roots, which was pure CSS. This gives users the ability to decide whether or not they want to add a build process. Those who do can use a preprocessor if they desire. I think the project will become a lot less intimidating this way.

[2019-08-13 02:29] NullVoxPopuli commented on #86
Sounds awesome!

[2019-09-24 03:28] wrannet opened #87 "Message"
Hi claviska, I'm sure you want to keep this repo public, but if you have any interest in a paid version down the road I'd love to have it on [SugarKubes](https://sugarkubes)!

[2019-12-21 13:49] NullVoxPopuli commented on #86
Any updates in particular? I'm having postcss compat issues again with a new setup :-\

[2020-01-08 14:03] claviska commented on #86
Does switching to `postcss-preset-env` solve it for you?

[2020-01-08 14:17] NullVoxPopuli commented on #86
@claviska nope, there are certain older features from cssnext that are not present in preset-env, I think `@apply` is one of them

[2020-01-09 23:27] NullVoxPopuli opened #89 "Beta versions don't follow semver"
see discussion here: https://github.com/renovatebot/renovate/issues/5122

looks like the beta number should be separated by a `.`

[2020-01-11 02:32] claviska commented on #86
This is going to take some effort, and I don't think I want to waste that much time doing that when a new version is in the works. I'd suggest sticking to the deprected lib for the time being. 😕

[2020-01-11 02:58] claviska commented on #89
Good catch. Fixed in [1.0.0-beta.25](https://github.com/claviska/shoelace-css/releases/tag/1.0.0-beta.25).

This will likely be the final release of the 1.0 series. The library is changing (for the better) and a 2.0 beta will be available soon!

[2020-01-11 02:58] #89 closed

[2020-02-29 18:49] NullVoxPopuli commented on #68
Any updates? I eagerly await a simpler build for my app :D

[2020-03-01 16:35] claviska commented on #68
I do have an update that I'd like to share.

When I first created Shoelace, support for CSS Custom Properties (i.e. variables) was close, but not quite there. By using them, Shoelace was considered _bleeding edge_. Today, CSS Custom Properties are used extensively on the web. 💪

Since then, another technology has continued to mature that I'm really excited about. [Web Components](https://www.webco

[2020-03-01 17:09] NullVoxPopuli commented on #68
that's pretty exciting!

is there a way I can test out what you've done so far? you've already covered most of what my app uses. Are you open to early feedback?

what all does this entail? I've read about _some implementation of part_, and it seemed like it was more shadow-dom related. That might be awesome for a component library -- but less so for someone authoring their own styles and wanting t

[2020-03-01 17:11] NullVoxPopuli commented on #68
I am not sure about flatpickr: https://github.com/flatpickr/flatpickr/issues/1829
it seems like it might require jquery?

[2020-03-01 17:18] claviska commented on #68
Definitely, but I at least need to get the theming stuff switched over to parts. That's a big change to how styles work right now. Keep in mind that this is probably the most bleeding edge feature now and Safari doesn't support it yet (although it is supported in Safari Technology Preview, so it should be available in regular Safari soon).

it seems like it might require jquery?

From the readme:

[2020-03-01 17:25] NullVoxPopuli commented on #68
sounds perfect! :D
I use https://emberclear.io specifically for testing out bleeding edge stuff :)

cool! i missed that!

Given: https://bundlephobia.com/result?p=flatpickr@4.6.3
I guess that's not that bad. As long as everything is tree-shakeable, I'm happy :D

[2020-03-01 17:33] claviska commented on #68
Stencil uses Rollup under the hood which handles tree-shaking. The generated components can be consumed in a couple ways:

1. Lazy loaded – you load a `<script>` and just use the components. They're loaded asynchronously, so only what's used is what's loaded. I believe this is how Ionic consumes their Stencil components.

2. Custom Elements Bundle – you load and register each component yourself. T

[2020-03-21 03:03] rchavik commented on #68
I am also eager to test it out. Please do share it.

[2020-04-14 17:57] haliphax opened #95 ""Assertion `args[1]->IsString()' failed" building via node >= 10.x on Ubuntu 18.04 LTS"
### Summary

I get the following error when trying to run `node build --build` using node 12.16.2 from nodesource on Ubuntu 18.04 (_edit: also tried with 10/stable, 11/stable, 12/stable, and 13/stable channels from https://snapcraft.io, same error_):

[code]

### Steps to Reproduce

1. Install `nodejs` package via nodesource PPA - https://github.com/nodesource/distributions/blob/master/README.md#m

[2020-04-14 18:15] haliphax commented on #95
I managed to get it to build on node v9.11.2 from snapcraft.io via the 9/stable channel.

[2020-04-17 17:21] haliphax commented on #95
Buddy of mine had the same experience on OSX.

[2020-07-03 21:25] claviska commented on #58
Closing in prep for the 2.0 release.

[2020-07-03 21:25] #58 closed

[2020-07-03 21:26] claviska commented on #71
Closing in prep for the 2.0 release.

[2020-07-03 21:26] #71 closed

[2020-07-03 21:27] claviska commented on #73
Closing in prep for the 2.0 release. The new version is based on web components so styles are encapsulated and won't interfere with other things.

[2020-07-03 21:27] #73 closed

[2020-07-03 21:27] claviska commented on #74
Closing in prep for the 2.0 release.

[2020-07-03 21:27] #74 closed

[2020-07-03 21:27] claviska commented on #75
Closing in prep for the 2.0 release.

[2020-07-03 21:27] #75 closed

[2020-07-03 21:27] claviska commented on #78
Closing in prep for the 2.0 release.

[2020-07-03 21:27] #78 closed

[2020-07-03 21:28] claviska commented on #81
Closing in prep for the 2.0 release. The new documentation is based on Docsify and does feature a search. Thanks for submitting this suggestion!

[2020-07-03 21:28] #81 closed

[2020-07-03 21:29] claviska commented on #95
Not sure what's going on here, Might want to try an earlier version of node. I'm going to close this in preparation for the 2.0 release, which has a completely different build process.

[2020-07-03 21:29] #95 closed

[2020-07-03 21:30] claviska commented on #1
In the years since this issue was created, I've still not managed to find a CSS "comb" that works the way I like. I'm closing this as a wontfix in prep for the 2.0 release, but if I come across something that works well I may add it later on.

[2020-07-03 21:30] #1 closed

[2020-07-03 22:14] claviska opened #96 "Shoelace 2.0 🥾"
### Shoelace 2.0 is on the horizon! ☀️

I'm just a few weeks away from releasing the next major version of Shoelace. This is a complete rewrite of the library with a huge shift in the underlying technology.

In 2.0, every component is a [web component](https://developer.mozilla.org/en-US/docs/Web/Web_Components) built using [Stencil](https://stenciljs.com/). That means a few things:

- Components

[2020-07-06 11:49] claviska commented on #68
See #96

[2020-07-06 11:49] #68 closed

[2020-07-06 12:27] NullVoxPopuli commented on #96
I love this!

My project, emberclear.io is in ember, and I can't wait to reduce the amount of classes in my markup! :heart:

Will there still be utility classes for us to use, or do we roll our own? (I'm fine with either answer, esp with the popularity of utility first tools, like tailwind)

[2020-07-06 12:43] claviska commented on #96
Utility classes are not provided by design. This keeps the library light and gives you the ability to choose your favorite tool. (Tailwind works great with Shoelace 2.0.)

[2020-07-06 12:50] NullVoxPopuli commented on #96
How will themeing work?
Right now I have different sets of css variables that I swap between. same deal?

[2020-07-06 12:54] claviska commented on #96
Some teasers:

Button
<img width="685" alt="CleanShot 2020-07-06 at 08 48 08@2x" src="https://user-images.githubusercontent.com/55639/86594663-7001f500-bf65-11ea-980d-59b2a5b27a33.png">

Input
<img width="680" alt="CleanShot 2020-07-06 at 08 48 30@2x" src="https://user-images.githubusercontent.com/55639/86594702-7bedb700-bf65-11ea-9518-90d7884fe096.png">

Dropdown
<img width="603" alt="CleanShot 2

[2020-07-06 12:59] claviska commented on #96
There's a default stylesheet that provides a set of design tokens (i.e. CSS variables) that influence component styles. These are used by all components for consistency (e.g. spacing, theme colors, elevation).

A theme creator can modify any of the design tokens for global theme changes. Components can be further customized through the use of [CSS parts](https://developer.mozilla.org/en-US/docs/We

[2020-07-06 19:10] haliphax commented on #95
Yes, I'm able to build using an earlier version. Just thought it was worth bringing up. I'll look out for 2.0!

[2020-07-10 13:26] claviska opened #97 "Card"
A standard card.

Inspiration:

- https://ant.design/components/card/
- https://element.eleme.io/#/en-US/component/card#card
- https://getbootstrap.com/docs/4.0/components/card/

Please vote for this feature using 👍  and 👎

[2020-07-10 13:41] claviska opened #98 "Dark Theme ($200 bounty)"
Dark mode is all the rage these days, so I'd like to commission a minimum of $200 USD for a professionally-designed dark theme to complement 2.0's default theme.

If you're interested in helping out with this, please comment below or [send me an email](mailto:cory@abeautifulsite.net) for more information.

[2020-07-10 13:42] claviska opened #99 "High Contrast Theme"
I'm working to make Shoelace as accessible as possible. Aside from the usual under-the-hood stuff, I'd also like to include a professionally-designed high contrast theme.

[2020-07-17 07:21] garritfra opened #101 "Date- and Timepicker Components"
**Is your feature request related to a problem? Please describe.**

I need a way to pick a date and a time. A lot of Frameworks I know (including Bootstrap!) are lacking this Feature, even though it's quite an essential Component.

**Describe the solution you'd like**

AntDesign has a very neat implementation, maybe that can be a starting point.

**Describe alternatives you've considered**

None

[2020-07-17 07:28] sirinath opened #102 "Threaded Conversations"
**Is your feature request related to a problem? Please describe.**
I am looking to create threaded conversations and messages. These can have subject lines and custom fields like starts, rating, tags, etc.

**Describe the solution you'd like**
Add the ability to create threads conversations. E.g.
- Reddit style
![image](https://user-images.githubusercontent.com/637415/87758529-403ad300-c82a-11ea-9

[2020-07-17 09:05] alesvaupotic commented on #101
Combine pickers with display. Prepare for i18n, manual input, expose machine-readable (like "2020-01-15") formats as well as human-readable display (like "an hour ago").

[2020-07-17 09:40] igorvanoostveen opened #103 "Drawer fails to animate when appearing in Firefox and Chrome"
Drawer fails to animate when appearing in Firefox and Chrome.
Closing the drawer does show the animation.
Animation works as expected in Microsoft Edge.

**To reproduce**
1. Go to url: https://shoelace.style/components/drawer
2. Click button labeled 'Open Drawer'.
3. Observe drawer appearing but not animating in Firefox (every time) or not animating the first time in Chrome (later clicks will anim

[2020-07-17 10:14] claviska commented on #103
This is odd. I can replicate it on [shoelace.style](https://shoelace.style/) but not locally.

I'll investigate. Thanks!

[2020-07-17 10:18] claviska commented on #102
This is a pretty broad suggestion. Most of these are compositions of smaller components, many of which are already possible using:

- Avatar
- Badge
- Button
- Icon
- Checkbox
- Textarea

I'm trying to avoid incorporating patterns like this because they're opinionated and hard to customize as an individual component. Feel free to break it up into smaller requests, though. 😄

[2020-07-17 10:41] claviska commented on #103
Fixed in c755735e03c7a703a4ca0e0fde0be6ec38be9ae2.

You can preview the changes here: https://next.shoelace.style/components/drawer

[2020-07-17 10:41] #103 closed

[2020-07-17 10:48] igorvanoostveen commented on #103
@claviska: WOW! Quick fix!

It looks good now in Chrome and Firefox.
Sidenote: In Firefox Nightly there is a flash of the overlay being shown before properly sized. Probably due to the beta nature... :)

[2020-07-17 11:09] claviska commented on #101
The makers of [Duet DS](https://www.duetds.com/components/date-picker/) rolled their own using Stencil and are rumored to be open sourcing it soon. They spent a lot of time ensuring the component is accessible and lightweight, so I'd like to see if that's something that makes sense to incorporate into Shoelace.

I'm not interested in writing and maintaining a date/time picker from scratch, so this

[2020-07-17 11:25] RaviDesai opened #104 "Add a first-class popover wrapper"
**Is your feature request related to a problem? Please describe.**
Your tooltip control already wraps popover as a Utility.  Would love to see a full blown popover control that supports complex contents (not just strings).

**Describe the solution you'd like**
I think a simple extension of the popover utility you already have would be perfect.

**Describe alternatives you've considered**
I've writ

[2020-07-17 11:43] sirinath commented on #102
- [ ] Nested thread grouping line generally on the left but perhaps can be on other orientations
- [ ] Vote
  - [ ] Up vote
  - [ ] Downvote
  - [ ] Thums up
  - [ ] Thums down
- [ ] Accepted
- [ ] Rating
  - [ ] Star
  - [ ] Score
  - [ ] 1 to n
- [ ] Flagged
- [ ] Subject / Title
- [ ] Reaction
- [ ] Avatar
- [ ] Badge
- [ ] Button
- [ ] Icon
- [ ] Checkbox
- [ ] Textarea
- [ ] Embbeded object

[2020-07-17 12:50] claviska commented on #104
Thanks for suggesting this! Indeed, since Popper is already included, this won't add a ton of weight to the library. First-class popovers are definitely on the radar.

[2020-07-17 13:34] claviska commented on #103
This has also been fixed in dialog and other [future] components that utilize the internal popover utility. I pushed `next` to `master` so the website updates, since it's getting tons of traffic from [Hacker News](https://news.ycombinator.com/item?id=23866894#23870148), but these fixes will be available in the beta beta release.

[2020-07-17 18:24] #96 closed

[2020-07-18 07:33] jegbjerg opened #107 "Installing 2.0.0-beta.4 fails with 'cannot find module [...]/node_modules/@shoelace-style/shoelace/make-icons.js'"
`npm install @shoelace-style/shoelace` fails with the following error:

[code]

[2020-07-18 10:24] claviska commented on #107
Looking into this. Not sure why the dependency isn't available when `postinstall` runs.

In the meantime, you should be able to do this:

[code]

[2020-07-18 10:25] claviska commented on #107
See updated code that includes the `--ignore-scripts` flag 👆

[2020-07-18 10:31] claviska commented on #107
I see what's happening here. The full source isn't published to npm, only the dist. To build from source, you need to clone the repo or [fork it](https://github.com/shoelace-style/shoelace#forking-the-repo).

This is still a bug, since the postinstall script should only execute in dev. I'll post an update once it's fixed.

[2020-07-18 10:38] jegbjerg commented on #107
Hi @claviska. Thanks! I was trying to use it in React, which requires installing it natively.

[2020-07-18 10:40] claviska commented on #107
Gotcha, and you _should_ be able to do that, so I'm trying to see what I can do to make it work without moving the `make-icons` script to `dev` and `build` (where it would run a lot more frequently than it needs to).

[2020-07-18 11:03] #107 closed

[2020-07-18 11:04] claviska commented on #107
I move the `make-icons` script from `postinstall` to `dev` and added a simple caching mechanism to make it quicker. Should resolve the install issue. I'll cut a new release and test it shortly.

[2020-07-18 11:07] claviska commented on #107
Just installed `v2.0.0-beta.5` successfully using:

[code]

Thanks for reporting this!

[2020-07-18 13:13] jegbjerg commented on #107
Thanks a lot! Looking forward to use it!

[2020-07-18 18:28] NullVoxPopuli opened #108 "`module` build is empty"
**Describe the bug**
in `package.json`:
[code]
[code]
^ empty file

**To Reproduce**
Steps to reproduce the behavior:
1. install from npm
[code]

2. cat files

**Expected behavior**
files have content

[2020-07-18 18:42] NullVoxPopuli commented on #108
same with the `cjs` build:
[code]

[2020-07-18 18:42] NullVoxPopuli commented on #108
all of these are empty
[code]

[2020-07-18 18:46] NullVoxPopuli commented on #108
Collections entry has no index.js
[code]
[code]
[code]

[2020-07-18 18:58] claviska commented on #108
This is strange. I'll check it out on a few hours when I get back.

Thanks for reporting this!

[2020-07-18 20:24] lamplightdev opened #109 "`<sl-form>` doesn't find controls that are not directly assigned to the slot"
First off, thanks for shoelace! I've been looking for a while for a lightweight, good looking web component library like this and it seems to work really well, great work.

On initial investigation I think I've found a small bug/limitation. When using `<sl-form>` and getting the form data with either `event.detail.formData ` or `event.detail. formControls` the form only returns controls that are d

[2020-07-18 21:07] claviska commented on #109
Thanks, and good catch! You're exactly right — I didn't account for `assignedElements` only returning the top level elements. The proposed fix should probably be implemented in `getFormControls`.

I'm OK with that approach as long as it returns the form elements in order, since some validation approaches start with the first invalid form field and work their way down.

If you can't get to this in

[2020-07-18 21:12] claviska opened #110 "Range tooltips don't appear on iOS"
1. Go here: https://shoelace.style/components/range
2. Move the slider using iOS
3. The tooltip should appear, but it doesn't

[2020-07-18 21:18] claviska opened #111 "Notification ("Toast")"
A toast/snackbar component (or utility) that shows an unobtrusive alert.

- When multiple alerts appear, they should stack in a container with the newest alert appearing on the bottom
- The user should be able to configure the position of the container through custom properties
- Not sure if this should be a component or some kind of utility — need to think through the API for services like this

[2020-07-18 21:22] claviska opened #112 "Stepper"
A basic stepper + step component.

Inspiration:

- https://www.duetds.com/components/stepper/

Please vote for this feature with 👍  or 👎

[2020-07-18 21:27] claviska opened #113 "Carousel"
A basic carousel. Nothing fancy, just something that's intuitive without flashy styles or crazy animations.

My personal opinion on carousels mostly echos this: http://shouldiuseacarousel.com/

However, I find them incredibly useful when the user _expects_ them, such as viewing product images on an ecommerce website or showcasing photographs in an album. Carousels can be used correctly, so I'm ope

[2020-07-18 21:30] claviska opened #114 "Fit Text To Container"
Fitting arbitrary text into a container, preferably adjusting its font size within a min/max range until it fits. This is sort of a pain to do, so it might be useful to make into a component.

Inspiration:

- https://css-tricks.com/fitting-text-to-a-container/

Please vote for this feature using 👍  or 👎

[2020-07-18 21:31] claviska opened #115 "Split Buttons"
Buttons are currently all or nothing. This feature proposes enabling a button with a default action and a split action that triggers a dropdown.

Please vote for this feature using 👍  or 👎

[2020-07-18 21:31] claviska opened #116 "Star Rating"
A star rating component.

- Customizable number of stars
- User-selectable mode
- Read-only mode
- Optional label slot

Please vote for this feature using 👍  or 👎

[2020-07-18 21:34] claviska opened #117 "Button Group"
A container for buttons that renders them in a toolbar-like fashion.

Inspiration:

<img width="484" alt="CleanShot 2020-07-18 at 17 33 34@2x" src="https://user-images.githubusercontent.com/55639/87862333-d5b68f80-c91c-11ea-94e5-822be0ed745c.png">

Please vote for this feature using 👍  or 👎

[2020-07-18 21:36] claviska opened #118 "File Input"
Native file inputs currently work with `<sl-form>`, but it would be nice to have a more intuitive file input component. Perhaps something that shows each file as a clearable tag after the user makes a selection. Not sure on the UI, but features should include:

- `accept` prop
- `multiple` prop
- A standard file input control
- A button variation

Please vote for this feature using 👍  or 👎

[2020-07-18 21:37] claviska opened #119 "Button Links"
The ability to turn a button into a semantic link, effectively redirecting the user when activated. This should be built into the existing `<sl-button>` component.

Please vote for this feature using 👍  or 👎

[2020-07-18 21:39] claviska opened #120 "Stack + Inline Layout Utilities"
Layout components that make spacing things vertically and horizontally more sane.

Inspiration:

- https://seek-oss.github.io/braid-design-system/components/Stack
- https://seek-oss.github.io/braid-design-system/components/Inline/

Please vote for this feature using 👍  or 👎

[2020-07-18 21:44] claviska opened #121 "High Contrast Theme ($200 bounty)"
A high contrast theme for those desiring optimal accessibility.

If you're interested in helping out with this, please comment below or [send me an email](mailto:cory@abeautifulsite.net) for more information.

[2020-07-19 00:39] #109 closed

[2020-07-19 13:01] claviska commented on #108
I can't reproduce this using these steps using the current beta5 release. Here's what I tried.

1. Create a test directory
2. Run `npm install @shoelace-style/shoelace`

All files appear to be there.

![image](https://user-images.githubusercontent.com/55639/87875233-d9d6c180-c99d-11ea-8387-cbcb3c640f10.png)

The CJS files are there as well.

![image](https://user-images.githubusercontent.com/55639

[2020-07-19 13:43] NullVoxPopuli commented on #108
the files exist, but the contents are empty, have imports that point at missing files

[2020-07-19 14:18] sirinath opened #123 "Transitions"
**Is your feature request related to a problem? Please describe.**
Can we have different traditions styles

**Describe the solution you'd like**
Have transitions like in (please go to the source document as the animation does not seem to be working in the below image):
![image](https://user-images.githubusercontent.com/637415/87876893-a37a6000-c9f8-11ea-9831-2c650b03d928.png)
Source: https://miro.

[2020-07-19 15:13] claviska commented on #108
Ah, sorry, I misunderstand you the first time around. These are empty in the [standard `dist`](https://stenciljs.com/docs/distribution) because components are handled by the lazy loader and nothing else is being exported from `src/index.ts` (such as supporting classes, utilities, etc.).

For example, if you add the following to `src/index.ts` and run `npm run build` it will appear in `index.cjs.js

[2020-07-19 15:13] #108 closed

[2020-07-19 15:39] claviska commented on #108
This is available in beta 6. [The docs have been updated!](https://shoelace.style/getting-started/installation?id=importing-custom-elements)

[2020-07-20 01:34] NullVoxPopuli commented on #108
is it? ;)

![image](https://user-images.githubusercontent.com/199018/87890568-1984c400-ca05-11ea-98d5-0a82324a5df1.png)

[2020-07-20 01:38] NullVoxPopuli opened #124 "importing a component cannot be defined on window.customElement"
**Describe the bug**
I don't know how I need to `import { Button } from `@shoelace-style/shoelace';`

**Additional context**
I'm using version 2.0.0-beta.5, the latest version at the time of writing this.

it _does_ look like I can import the button js and css from here `node_modules/@shoelace-style/shoelace/dist/collection/components/button/`

when I tried to use a component
[code]
I get this err

[2020-07-20 10:17] kevinmarks opened #125 "Shoelace 1.0 disappearance"
**Describe the bug**
The documentation for 1.0 has disappeared completely. I do not want to change my entire site to use web components, I want to keep using 1.0 for now. Can you restore it somewhere or am I supposed to fork it?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to shoelace.style or this github repo
2. Search in vain for any docs on 1.0 now

**Expected behavior**
Preserving

[2020-07-20 10:20] kevinmarks commented on #125
You've deleted the history so I can't even fork it either? Ouch.

[2020-07-20 10:22] claviska commented on #108
It is as of a few seconds ago: https://www.npmjs.com/package/@shoelace-style/shoelace

I still need to automate the release. Thanks for working through the pre-stable hiccups with me! 😅

[2020-07-20 10:23] claviska commented on #124
Yes, beta6 wasn't published for some reason, despite being created and added to GitHub. It's on npm now so you should be able to import as described above.

Feel free to reopen or submit a new issue if you still have trouble with it!

[2020-07-20 10:23] #124 closed

[2020-07-20 10:46] claviska commented on #125
~~The v1 docs are available here: https://v1.shoelace.style/~~

You might need to wait for the DNS to propagate, but I'm already seeing it so hopefully you will too.

You can also download all the v1 releases here: https://github.com/shoelace-style/shoelace/releases/tag/1.0.0-beta.25

I'll also update the v2 docs so folks can find it more easily.

Cheers!

---

**Update:** It's been awhile and the

[2020-07-20 10:46] #125 closed

[2020-07-20 11:10] claviska commented on #123
Transitions are handled through component stylesheets, all of which are exposed through CSS parts.

For example, to change the dialog's transition, you can target its `panel` part:

[code]

There is one known caveat...

Popper.js is used under the hood to handle positioning of dropdowns, tooltips, etc. and when `gpuAcceleration` is enabled, it uses `translate3d` for positioning instead of `top|lef

[2020-07-20 11:10] #123 closed

[2020-07-20 14:23] sirinath commented on #123
Can we have some easy to use, fully tested, predefined transitions and animations which will just work out of the box?

[2020-07-20 18:46] dandv opened #126 "Clearable tag example appears to not work"
**Describe the bug**
I'm clicking the `x` icons on the the three tags, but they don't go away.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://shoelace.style/components/tag?id=clearable
2. Click on the `x` in `Small x`.
3. The tag doesn't disappear/clear.

**Desktop (please complete the following information):**
 - OS: Ubuntu 20
 - Browser Chrome 84

[2020-07-20 18:51] dandv opened #127 "Incremental search /autocomplete in Select"
**Is your feature request related to a problem? Please describe.**
I'm looking for incremental search for tags input.

**Describe the solution you'd like**
For inspiration, autocomplete in [Evergreen](https://evergreen.segment.com/components/autocomplete) and [Fluent UI](https://developer.microsoft.com/en-us/fluentui#/controls/web/pickers).

**Describe alternatives you've considered**
https://shoe

[2020-07-20 20:26] claviska commented on #126
The clear button emits the `slClear` event. Hiding or removal is left to the user. I've updated the demo to show its intended use in 27f2f0d76967ddc8bf5daf0f659fcb661deb1b35.

[2020-07-20 20:26] #126 closed

[2020-07-20 22:23] adamschwartz commented on #121
Duplicate of #99?

[2020-07-20 22:26] claviska commented on #121
Yep, this is a dup. I knew I created it but it wasn't showing up in the list yesterday.￼￼

[2020-07-20 22:26] #121 closed

[2020-07-20 23:12] adamschwartz opened #128 "Improve contrast of default theme"
This is a great project! Thanks so much for making it.

While adding a high-contrast theme (as proposed by #99) would be great, I’m curious how you would feel about also improving the contrast of the default theme as well.

One component that jumped out at me was [Tag](https://shoelace.style/components/tag). I don’t personally have any visually impairments, but I found the text of the tags in the

[2020-07-21 01:02] NullVoxPopuli opened #129 "Incorrect import paths in documentation?"
**Describe the bug**
Documentation says:
[code]

but in this file,
`node_modules/@shoelace-style/shoelace/dist/custom-elements/index.mjs`
I see:
[code]

So the import would be:

[code]

Using 2.0.0-beta.7

Additionally, is there an import path to only import what I need? how would tree-shaking work? is that a stencil issue?

[2020-07-21 01:42] NullVoxPopuli commented on #129
When using the correct path, I get this error:

[code]
are there required JS dependencies?

[2020-07-21 10:44] claviska commented on #128
Thanks for the well-written, detailed issue. I agree — the text colors were chosen rather arbitrarily and I always thought they were a bit too light. Fixed in 57b8632 per your suggestion.

This is why I'm super excited for browser to support [LCH colors](https://lea.verou.me/2020/04/lch-colors-in-css-what-why-and-how/). It would definitely make generating theme colors more consistent!

Regarding t

[2020-07-21 11:11] claviska commented on #129
I'm asking about this in the Stencil Slack room. I can't get them working locally either, which is really strange, since I had it working not long ago.

I'll update this once I have an answer.

[2020-07-21 20:34] adamschwartz commented on #128
That’s terrific. Thanks so much for that quick response and change! I’m happy to help with an analysis of other components as well if you’d like.

100% yes—I can’t wait.

Heh. I was wondering if you’d mention that. __tl:dr;__ I faked it.

----------------

There are a couple of convenient ways to see contrast ratios in Chrome DevTools.

One way is to enter inspection mode, which you can enter with

[2020-07-21 20:34] claviska commented on #129
The paths are correct. I have them working in this [example repo](https://github.com/shoelace-style/webpack-example). The only thing I'm still having trouble with is icons not loading.

If you run the example repo you'll see this error in the console.

[code]

I'm still looking into this, but everything else appears to be working.

[2020-07-21 20:34] #129 closed

[2020-07-21 20:38] claviska commented on #128
That's awesome. Thanks for taking the time to do it!

And as much as I've used "inspect," I never noticed that contract checker. 🤦🏻‍♂️

[2020-07-21 20:40] claviska commented on #128
Forgot to mention that this would be great. The default theme should be AA for anything important. We'll save AAA for the high-contrast theme.

[2020-07-21 20:41] adamschwartz commented on #128
Amazing, that sounds great.

The Tab component is another low-hanging fruit for me:

<img width=436 alt=Screenshot src=https://user-images.githubusercontent.com/154613/88104687-c7f94800-cb70-11ea-89cd-b403fdb01601.png>

What do you think would be the best way to tackle the work of making these changes in general?

[2020-07-21 20:58] claviska commented on #116
Had fun making this over the weekend. Released in aaa9187b848a7faf7c081fcdfd33aff7ff6f0bc3.

[2020-07-21 20:58] #116 closed

[2020-07-21 21:08] claviska commented on #128
If it's a logical change, go ahead and submit a PR. If it's something that merits discussion (e.g. too drastic, doesn't look good, etc.), feel free to post an issue instead.

If you're not comfortable submitting PRs, I'm happy to make the changes myself if you provide a list of before/after values. 😄

[2020-07-21 22:05] NullVoxPopuli commented on #129
What was the difference from when you didn't have things working to when you got them working?

[2020-07-22 10:52] claviska commented on #129
It's embarrassing to say — in a pre-stable version of Stencil, one of the custom elements distributions was consumable by the browser. The `dist-custom-elements-bundle` that Shoelace uses it not, and I wasn't using webpack this time around. 🤦🏻‍♂️

The webpack example shows a minimal config that's working (except for the icon issue).

[2020-07-22 11:12] #110 closed

[2020-07-22 20:27] adamschwartz commented on #128
To complete the work of making the core default theme components WCAG AA, assuming 5% lightness intervals, we’d need to make the following changes:

_The following numbers represent the new lightness value needed for the HSL colors, as changed from 50%:_

__WCAG AA:__

- `Tab` (active state)
	- 40%
- `Button` and `Badge`
	- 35% - primary
	- 30% - success
	- 40% - info
	- 30% - warning
	- 40% - dan

[2020-07-22 21:33] claviska commented on #129
In collaboration with the Stencil team, we figured out why this build was acting up and a fix has been added in `@stencil/core@1.17.0-0`. This is a "next" release, but I've temporarily upgraded Shoelace to use it given the critical nature of the bug.

The next Shoelace release (2.0.0-beta.8) will be available in a day or so, and will contain the updated docs plus the updated Stencil version. The w

[2020-07-22 21:45] claviska commented on #128
For visual reference, here are the original colors:

<img width="654" alt="CleanShot 2020-07-22 at 17 39 59@2x" src="https://user-images.githubusercontent.com/55639/88231529-65707c80-cc42-11ea-89bc-85daba69499c.png">

Here are the AA compliant adjustments:

<img width="653" alt="CleanShot 2020-07-22 at 17 37 58@2x" src="https://user-images.githubusercontent.com/55639/88231383-2510fe80-cc42-11ea-96

[2020-07-22 21:46] claviska commented on #128
I do agree that the current primary and the success colors are a bit bright, at least. 🤔

[2020-07-22 22:30] santo74 opened #133 "What about SEO?"
**Is your feature request related to a problem? Please describe.**
I like it that Shoelace v2 is written as web components, especially because you're using Stencil for this.
However, while web components have many benefits and are great for SPA's, they are less so for regular websites because of SEO, especially when using attributes, shadow dom, ...
Can you shed some light on whether the Shoelace

[2020-07-22 22:42] adamschwartz commented on #128
Bootstrap comes close, with their lowest button scoring ~3.9. Something they do which helps is use a dark text color for the "warning" type.

![image](https://user-images.githubusercontent.com/154613/88235158-4543bc00-cc48-11ea-8316-168b284916f2.png)

Github’s comment button on this thread fails, at ~3.2.

<img width=400 src=https://user-images.githubusercontent.com/154613/88235232-6e644c80-cc48-1

[2020-07-23 11:28] claviska commented on #133
Per the article, it's no surprise to me that Google has made an effort to support shadow DOMs. It's also no surprise that other search engines are still catching up. Shoelace is very forward-thinking, and users should be comfortable with that before adopting it.

I don't think SEO is a major concern for most web apps. In the context of _websites_, however, the concern is more understandable. I'm n

[2020-07-23 11:28] #133 closed, assigned to claviska

[2020-07-23 12:42] santo74 commented on #133
Thanks for the clarification @claviska .
If I find some spare time I'll set up a demo site in order to verify the indexing results of the different search engines in regards to SEO.
For now I'll have to look for an alternative css framework that's not too heavy weight while still including enough features.

Keep up the good work! I'll definitely think about Shoelace whenever I have to (re)write a

[2020-07-23 13:29] claviska commented on #128
I agree. We can do better as designers. Screen readers (et al) can do better as assistive technologies. I feel like there's a point where we can all converge, but I don't think it should sacrifice creativity nor make things less appealing for the majority of users.

Having a high-contrast theme would be a great start. If we can provide users an easy way to offer it to _their_ users, the default th

[2020-07-23 18:06] jacebot opened #134 "Tables"
Having used element on a more recent project I really liked their data tables. I propose to see the table component as part of 2.1

https://element.eleme.io/#/en-US/component/table

[2020-07-23 20:41] lamplightdev opened #135 "<sl-color-picker> closes prematurely when inside shadow DOM"
**Describe the bug**
When an `<sl-color-picker>` component is placed inside a custom element's shadow DOM, and the picker is opened, clicking anywhere inside the picker will close the picker.

**To Reproduce**
- Add the picker inside the shadow DOM of a custom element, e.g.:
[code]
- open the picker
- click to select a color in the grid
- picker closes

**Expected behavior**
The picker should only

[2020-07-23 21:12] #135 closed, assigned to claviska

[2020-07-23 21:51] claviska commented on #97
Cards have been implemented in 2.0.0-beta.8. https://shoelace.style/components/card

Let me know if there's anything else you'd like to see them do!

[2020-07-23 21:51] #97 closed

[2020-07-24 06:53] alesvaupotic commented on #101
I've used flatpickr before with good results.

[2020-07-25 14:18] RaviDesai commented on #111
👍

[2020-07-25 16:10] next-direction commented on #101
Used flatpickr too in the past, so far there was nothing I couldn't do with it.

[2020-07-27 20:24] whoisryosuke opened #137 "Button uses protected type attribute for variants"
**Describe the bug**
Button component uses `type` attribute to define style variants (primary, secondary, etc), when `type` is a protected attribute for the HTML button element.

Using the `submit` boolean attribute allows you to change the underlying button's type from "button" to "submit" -- but it doesn't accommodate the use case of someone creating a "reset" button (to reset a form).

**Expect

[2020-07-27 20:53] sprzenus opened #138 "Value isn't being set in <sl-select> when multiple is enabled"
**Describe the bug**
I cannot set default selected values in `<sl-select multiple>` by using `value` attribute. I tried to set it in many ways (I've found this solution in the internet but it didn't work for me):

[code]

But the `sl-select` seems to take every single character and use it as a value.

**To Reproduce**
Steps to reproduce the behavior:
1. Paste this:
[code]
2. Open the page
3. No va

[2020-07-27 21:00] claviska commented on #137
Hi, thanks for posting this!

The `type` attribute is protected for `<button>`, but `<sl-button>` is a custom element with its own, independent API. I do understand where you're coming from and I thought about this decision a lot early on. [I even added a note about it in the docs.](https://shoelace.style/getting-started/usage?id=differences-from-native-elements)

_You might expect similarly named

[2020-07-27 21:06] claviska commented on #138
This is a custom elements "gotcha." Please see this page for details: https://shoelace.style/getting-started/usage?id=properties

When using the `multiple` prop, [`value` will be an array](https://shoelace.style/components/select?id=properties) so it has to be passed via JavaScript (unless you're using a framework that binds it for you).

[code]

This doesn't have to be done in a `<script>` tag —

[2020-07-27 21:06] #138 closed, assigned to claviska

[2020-07-27 21:11] claviska commented on #137
I'm going to close this for now, since it's not technically a bug.

Future readers: if you feel strongly about this, please vote with 👍  or 👎  on the original post so I can gauge feedback from the community. Additional feedback is also welcome, so long as it remains constructive.

[2020-07-27 21:11] #137 closed, assigned to claviska

[2020-07-27 21:22] claviska commented on #102
Thanks for the breakdown. This is still very broad and many of these components have already been implemented (avatar, badge, button, icon, checkbox, rating). I'm more keen to focus on lower-level components that the majority of users will find helpful.

If there's a specific component you'd like to see, feel free to post a feature request for that individual component. The Reddit-style vote up/do

[2020-07-27 21:22] #102 closed

[2020-07-28 09:35] sirinath opened #139 "Emoji Reactions"
**Is your feature request related to a problem? Please describe.**
Want to have reactions to posts.

**Describe the solution you'd like**
This will be like FB and GitHub reactions. Users can react with a closen icon. The totals of reactions are shown.

[2020-07-28 09:45] sirinath opened #140 "Voting"
**Is your feature request related to a problem? Please describe.**
A component to have a display votes

**Describe the solution you'd like**
A component to display votes.

Voting can be:
- Case 1
  - Up
  - Down
  - Accepted
- Case 2
  - Strong Up
  - Up
  - Neutral
  - Down
  - Strong Down
  - Accepted
- Case 3
  - Strongly agree
  - Agree
  - Agree not disagree
  - Diaagree
  - Strongly Disagree

[2020-07-28 09:59] sirinath opened #141 "Multilevel editable tags/taxonomical tags"
**Is your feature request related to a problem? Please describe.**
Multilevel tags are somewhat complicated to implement.

**Describe the solution you'd like**
Multi-level tags:
![image](https://user-images.githubusercontent.com/637415/88650129-12854200-d0e6-11ea-9391-b08dbea5475a.png)

![image](https://user-images.githubusercontent.com/637415/88651152-fcc44c80-d0e6-11ea-9775-63dd96d9fecd.png)

![

[2020-07-28 10:12] sirinath opened #142 "Send/read receipts"
**Is your feature request related to a problem? Please describe.**
Want to implement send and read receipts

**Describe the solution you'd like**
Read and send receipts can be:
- check marks
- images
  - images can have special marks like 2 dotted or solid circles indicating send by the server, received by the client and read by the user with checkmarks for sent to the server and received by the s

[2020-07-28 10:14] claviska commented on #142
This is already possible through the use of icons. https://shoelace.style/components/icon

Search for "check," or specifically "check2" and "check2-all."

![image](https://user-images.githubusercontent.com/55639/88653079-982ed080-d099-11ea-8457-ba5dfa7cd8ce.png)

[2020-07-28 10:14] #142 closed, assigned to claviska

[2020-07-28 10:15] claviska commented on #139
Cool suggestion, thanks!

[2020-07-28 10:16] claviska commented on #141
Just a heads up, you can already do this with badges. You just need to add minor customizations to the `base` part to ensure the border radii don't conflict.

[2020-07-28 10:20] sirinath commented on #142
What about user image-based indication?

[2020-07-28 10:21] claviska commented on #142
See the avatar component: https://shoelace.style/components/avatar

The `--size` attribute can be used to make them smaller.

[2020-07-28 10:24] sirinath opened #143 "Chat balloon"
Can we have chat ballons:

![image](https://user-images.githubusercontent.com/637415/88654055-7578d800-d0ea-11ea-92c1-b40ec89ee8d3.png)

![image](https://user-images.githubusercontent.com/637415/88654165-9c370e80-d0ea-11ea-96de-fb8da6b59a55.png)

[2020-07-28 10:28] sirinath commented on #141
Tag editor would be the main pain point which shows the valid options.

[2020-07-28 10:44] claviska commented on #143
Chat bubbles are very opinionated containers that have many potential styles, most of which are achievable with a few lines of CSS. I'm not sure they're a great fit for the library, though.

https://codepen.io/Founts/pen/gmhcl

While I appreciate your excitement about this project, the requests you're submitting are starting to feel very spammy. This is an open source project. I work on it in my f

[2020-07-28 10:44] #143 closed, assigned to claviska

[2020-07-28 10:44] claviska commented on #141
Closing per https://github.com/shoelace-style/shoelace/issues/143#issuecomment-664968373

[2020-07-28 10:44] #141 closed, assigned to claviska

[2020-07-28 10:45] claviska commented on #140
Closing per https://github.com/shoelace-style/shoelace/issues/143#issuecomment-664968373

[2020-07-28 10:45] #140 closed, assigned to claviska

[2020-07-28 11:20] sirinath commented on #143
Maybe we can have a discussion forum where we can post the ideas initially and if there is interest then it can be moved to the issue tracker? We can have a brain dump area where everyone can post different ideas. You can prioritise and choose from the list what will go to the library.

Sorry, my requests seem spammy. I simply posted the atomic components as different components:

[2020-07-28 11:49] claviska commented on #143
Thanks for understanding.

Twitter might be better for that since more people will see it (compared to GitHub) and it's easy for people to express their support: https://twitter.com/shoelace_style

[2020-07-28 14:57] Jack-Works opened #144 "VSCode code completion support"
**Is your feature request related to a problem? Please describe.**
VSCode can support custom element code completion by a JSON file.

https://code.visualstudio.com/blogs/2020/02/24/custom-data-format

**Describe the solution you'd like**
Ship a definition JSON in the package and tell people to add it in vscode settings.json

[2020-07-28 21:32] lamplightdev opened #145 "Some components set the element id when using Shoelace as modules"
**Describe the bug**
When using Shoelace as modules, as described in [Importing Custom Elements](https://shoelace.style/getting-started/installation?id=importing-custom-elements), some components set their own `id` attribute, overwriting any manually set value.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Shoelace as described here: https://shoelace.style/getting-started/installat

[2020-07-29 11:19] #145 closed, assigned to claviska

[2020-07-29 12:06] #144 closed, assigned to claviska

[2020-07-29 12:07] claviska commented on #144
Fixed in 7b6f59efb633cc1c39cca8c4a2856f64a8727cc3 and documented in 1cc074f54941d5d897f5647f3e794693dd565b8a. Thanks for the suggestion!

[2020-07-29 22:43] lamplightdev opened #147 "Add unit and e2e tests"
It would be good to have some tests to check for breaking changes during development - the Stencil built-in test runners seem the obvious tool. I'm no testing expert but I'd be interested in writing some tests to get this going, any pointers on what kind of tests would be the most beneficial to start with?

[2020-07-30 21:18] lamplightdev opened #148 "Tab Group MutationObserver is called recursively"
**Describe the bug**
The MutationObserver in `sl-tab-group` that is used to update the aria attributes `aria-controls` and `arial-labeledby` is called recursively since a change in those same attributes triggers another call to the observer.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Tab Group documentation page: https://shoelace.style/components/tab-group
2. Set a breakpoint

[2020-07-31 05:18] tstewart-klaudhaus opened #150 "Allow customisation of padding on details header"
**Is your feature request related to a problem? Please describe.**
There is no way to customise the padding around the header (or summary) section of an individual Details component. I would like to do this in order to make the summary label of a Details within a Dropdown line up with the other menu items.

**Describe the solution you'd like**
Make the details__header div (which contains the paddi

[2020-07-31 23:20] paulhibbitts opened #151 "Adjusting spacing within elements embedded in Docsify?"
Thanks so much for Shoelace, it looks fantastic!

I am trying to utilize Shoelace with Docsify, and I am using Docsify's feature of mixing Markdown within HTML via linebreaks (https://docsify.js.org/#/helpers?id=markdown-in-html-tag). However, this might also be causing some spacing issues, for example:

<img width="795" alt="2020-07-31_16-16-52" src="https://user-images.githubusercontent.com/1812

[2020-08-01 14:29] Trendy opened #152 "Setup a way to communicate outside of GitHub Issues"
**Is your feature request related to a problem? Please describe.**
Github is a terrible place to have a real-time conversation.

**Describe the solution you'd like**
A lot of projects have some sort of place to communicate with others in the community, outside of Github. It would be a good place to seek help and discuss ideas. Discord is used by some projects (https://discord.com/open-source), but

[2020-08-01 22:42] lamplightdev opened #153 "Tab Group - the active tab indicator is not shown if the tab group is not initially visible"
**Describe the bug**
If a tab group is not initially visible when the component loads, the active tab indicator is not shown when the element does become visible since the `setActiveTab` method is called immediately in `componentDidLoad`;

**To Reproduce**
1. Create a hidden <sl-tab-group> element
2. Make the element visible
3. The active tab does not have the active tab indicator

**Expected beha

[2020-08-02 00:04] paulhibbitts commented on #151
With some help on the Docsify Discord channel, I've been able to solve this issue with some custom CSS:

[code]

[2020-08-02 00:04] #151 closed, assigned to nobody

[2020-08-02 10:33] claviska commented on #147
Good call. I was thinking before 1.0 stable comes out, some basic tests can be put in place. I haven't worked with Stencil's e2e tests yet, but I agree it's a good place to start.

I've also been thinking of visual regression testing, possibly with [BackstopJS](https://github.com/garris/BackstopJS). I've set this up in another project and it's pretty easy to work with. Might have to tweak some thi

[2020-08-02 10:47] #148 closed, assigned to claviska

[2020-08-02 10:54] #150 closed, assigned to claviska

[2020-08-02 10:55] claviska commented on #150
Yep, this was missing. Fixed in 41ff07b.

[2020-08-02 10:55] claviska commented on #153
Fixed in #154

[2020-08-02 10:55] #153 closed, assigned to claviska

[2020-08-03 09:26] nathanb21 opened #155 "Tab group unclear how to scroll to tabs outside of the currently positioned view"
**Describe the bug**

https://shoelace.style/components/tab-group?id=scrolling-tabs has tabs 1-20, but it's not possible to access all of these easily with a mouse. It took me a while to figure out I can use the horizontal scroll on my mouse, and a lot of mice don't offer this functionality.

Also, if the tabs happen to position themselves perfectly in the view, such that you can't tell there's ex

[2020-08-03 11:45] claviska commented on #155
Fixed in 99747711850af3d8b561b99a3f31a1f916d8c205.

![CleanShot 2020-08-03 at 07 44 37](https://user-images.githubusercontent.com/55639/89179179-38369f00-d55d-11ea-9b08-cdde875ce8db.gif)

[2020-08-03 11:45] #155 closed, assigned to claviska

[2020-08-03 14:30] cepages commented on #155
Should I be able to get this fix with:
[code]

[2020-08-03 14:34] claviska commented on #155
It's in `next` and will be in beta 10 once that's released — probably sometime this week.

[2020-08-03 16:42] cepages opened #156 "Able to add icons or images in summary detail."
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I would like to be able to add an icon or images in the summary detail.

It seems, only text is allowed, isn't it?
[code]

[2020-08-03 16:55] claviska commented on #156
For an HTML summary, use the `summary` slot instead of the prop.

[code]

I'll update the docs to make this more clear.

[2020-08-03 16:55] #156 closed, assigned to claviska

[2020-08-03 21:11] claviska commented on #155
Heads up! 2.0.0-beta.10 has been released.

[2020-08-03 21:13] claviska commented on #152
Thanks for the suggestion. After evaluating Slack and Discord for community chats, I went with Discord because it's better suited for public usage. Really enjoying the UI!

I've added a community page here: https://shoelace.style/getting-started/community

To join the community chat, use this link: https://discord.gg/mg8f26C

[2020-08-03 21:13] #152 closed, assigned to claviska

[2020-08-05 08:26] nathanb21 opened #158 "details.tsx calls observe instead of unobserve in componentDidUnload"
**Describe the bug**
https://github.com/shoelace-style/shoelace/blob/bc154f2506cfb417f35c402dd89a5d1b11adb691/src/components/details/details.tsx#L73

**Expected behavior**
Unobserve to be called

[2020-08-05 08:37] nathanb21 commented on #158
Actually this issue may go a bit deeper.

We're seeing issues when a prop updates that renders the `sl-details` element then that element may be removed / re-added to the DOM.

When `componentDidUnload` within `details.tsx` is trying to run `listeners.set(el, { is, isNot });`, `el` is now `undefined` because it's been removed from the view and we get a console error.

The function is meant to be `

[2020-08-05 10:47] nathanb21 commented on #158
I've added the `unobserve` in PR https://github.com/shoelace-style/shoelace/pull/159

I'll investigate the other issues further as it doesn't recreate in the same way in `npm start`. I'll make another issue if I can isolate the problem.

[2020-08-05 11:23] nathanb21 commented on #158
I've added some breakpoints and it appears `componentDidUnload` can be called before `componentDidLoad`.

We can probably optimise on our side, but adding a check that `el` isn't defined when calling `unobserve` wouldn't hurt.

[2020-08-05 14:09] cepages opened #160 "component `detail` inside of a component `tabgroup` don't open when loaded"
**Describe the bug**

When a component `detail` is inside of a component `tabgroup`, it can't be open by default.

The icon of the `detail` component has the right position but the details are not shown:

<img width="1667" alt="Screenshot 2020-08-05 at 15 00 45" src="https://user-images.githubusercontent.com/5259830/89421860-7a620b00-d72c-11ea-8c81-c29b2fde374c.png">

I've created a simple project

[2020-08-05 17:57] #160 closed, assigned to claviska

[2020-08-05 18:36] claviska commented on #158
Thanks for catching the `observe` happening twice!

Can you post a minimal test case for this? These methods _should_ be firing no matter what*, so it's strange that's not happening. Are you using a framework?

* It looks like Stencil has deprecated the `componentDidUnload` lifecycle method, as it's not always reliable in frameworks. I'll be updating all components to use `disconnectedCallback` so

[2020-08-06 08:48] nathanb21 commented on #158
Had a look trying to debug this further with a fresh stencil app which imports Shoelace.

If I have 2 components: `app-root` and `app-card`.

`app-root` just contains:

[code]

`app-card` is equally basic:

[code]

I can recreate the error if:

In my `index.html` I use:
[code]

If I remove the `<script>` import method and instead `npm i @shoelace-style/shoelace@2.0.0-beta.10` then in my `index.ts`

[2020-08-06 08:51] nathanb21 commented on #158
I've reverted the `if` checks in the pr as I think it's worth investigating if `disconnectedCallback` fixed the issue rather than adding guards that don't make sense in the lifecycle.

[2020-08-06 09:00] nathanb21 opened #161 "Elements can be undefined in component clean-up when importing the project using `<script>`"
**Describe the bug**
`ref={...}` is used in a few places to attach and detach events when components are created and removed.

There's possibly a Stencil bug, not too trivial to debug, which causes `componentDidUnload` to be called before `componentDidLoad` when importing Shoelace into another Stencil app using `<script>` tags, and embedding a Shoelace component within a host app component.

Using

[2020-08-06 09:29] nathanb21 opened #162 "import '@shoelace-style/shoelace'; into a Stencil app results in a compilation error within the host app"
**Describe the bug**

Trying to import Shoelace into a Stencil app results in a compilation error:

[code]

If I open `./node_modules/@shoelace-style/shoelace/dist/collection/index.js` and remove the line for the import of the `components` file then it compiles fine.

This is with 1.17.3 Stencil in the host app, I can't try an older version as NPM seems to be down for scoped packages right now lol

[2020-08-06 10:49] #158 closed, assigned to claviska

[2020-08-06 10:51] claviska commented on #161
I believe this is the same root problem discovered in #158. Using `disconnectedCallback` should resolve this.

[2020-08-06 10:57] claviska commented on #161
I've pushed a fix for this. If the problem persists, let me know and I'll reopen!

[2020-08-06 11:08] nathanb21 commented on #162
I can see that our custom components don't have `export * from './components';` referenced in the `/dist/collection/index.js` files. They do have it in the `index.ts` file. We are using Stencil v1.13.0 for our components.

It looks like this behaviour occurs from Stencil v1.14.0.

[2020-08-06 11:18] nathanb21 commented on #162
I've put together https://github.com/ionic-team/stencil/issues/2614

[2020-08-06 13:16] claviska commented on #117
Implemented in 2b2a37bc3fe5f84f6f93e998fd30997a22b42682.

[2020-08-06 13:16] #117 closed

[2020-08-06 14:18] nathanb21 commented on #162
Just noticed https://github.com/ionic-team/stencil/issues/2600 -- I've put in a PR with the suggested change which does generate the index.js correctly.

https://github.com/shoelace-style/shoelace/pull/163

[2020-08-06 16:26] claviska commented on #162
Fixed in #163. Thanks!

[2020-08-06 16:26] #162 closed, assigned to claviska

[2020-08-06 18:24] davidglezz commented on #128
Try to make the star rating component accessible.
yellow is impossible, it would have to be changed to dark orange or red.
It's a shame because everything looks uglier

[2020-08-07 08:54] JEricaM opened #164 "Select multiple input let the user scroll the options in Windows browsers"
First of all thank you for this component library!

I have a problem with **select** component (with multiple options) on all the browsers that runs on Windows (no problem from with mac).
When I open the select component and I see all the options, I'm not able to scroll the list of the options neither with the mouse wheel nor with the cursor.

I'm using this component inside a stencil project.

**

[2020-08-07 10:28] claviska commented on #164
Hi, I tried replicating this in Edge on BrowserStack, but the behavior looks the same to me. Can you confirm this is happening on the docs page too? https://shoelace.style/components/select

A quick screencast showing the behavior may also help.

[2020-08-07 10:28] nathanb21 commented on #161
@claviska just tried with:

[code]

We are seeing the error in the `disconnectedCallback`, still seems that can be called before `componentDidLoad` is called when using the hosted JS file.

We can just switch to using the `import` method in our case, where the error doesn't seem to occur.

[2020-08-07 11:24] claviska commented on #161
Does this happen in prod? I'm wondering if it's related to Stencil's dev server and its HMR logic.

[2020-08-07 11:34] nathanb21 commented on #161
`npm run build` then serving from the `www` folder and I don't see any errors.

If I set:
[code]

the error still pops up. Obviously something in the dev server setup, though!

[2020-08-07 20:14] claviska commented on #119
Implemented in 12581ca76beefaeda8806279b2988e71d0ce9860.

[2020-08-07 20:14] #119 closed

[2020-08-08 03:42] shkumbinhasani opened #166 "Horizontal Scrolling Cards"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Horizontal Scrolling Card's, a feature that is being used mostly on mobile apps and that should come to web

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I would love to have an element

[2020-08-08 12:40] mattquinlan440 opened #167 "Input clear doesn't emit slChange event"
**Describe the bug**
When using the `sl-input` component, I created a listener for the `slChange` event. This event is not fired when using the clear button added by the `clearable` attribute.

Instead, it appears that only native `input` and `change` events are fired.

This is in a Stencil app project using the `Listen` decorator

**To Reproduce**
Steps to reproduce the behavior:
1. Create an `sl

[2020-08-08 15:10] claviska commented on #167
Are you seeing this behavior when using `addEventListener`? I can't replicate it _outside_ of a Stencil app in Chrome or Firefox. The event is definitely firing.

I've had problems with `@Listen` not working before (outside of Shoelace), so it may be an implementation detail or possibly a Stencil bug.

[2020-08-08 16:26] Trendy commented on #164
@claviska I was able to reproduce this in Chrome on Windows 10. I had to add more options than the examples to get it to happen, you can see in this gif that the container doesn't scroll when I move past "Option 6":

![scrolling-select](https://user-images.githubusercontent.com/3655670/89715155-e97c7100-d971-11ea-9875-2d6329d3510e.gif)

And here's the code I used in the Stencil starter app templat

[2020-08-08 16:31] mattquinlan440 commented on #167
This was definitely a Stencil issue - not a bug here at all.

But FYI I was able to solve it by adding a `target` to the `@Listen` decorator with a reference to the `sl-input`.

Sorry to bug you about this.

[2020-08-08 16:31] #167 closed, assigned to claviska

[2020-08-08 16:38] JEricaM commented on #164
Yes I have the same problem. Thank you for providing an example, you anticipated me!

[2020-08-08 18:52] claviska commented on #166
Hi, thanks! 😄

This is already possible with a container. I made a quick example using CSS scroll snapping. Alternatively, I think this might be something the [carousel](https://github.com/shoelace-style/shoelace/issues/113) would be able to support.

![CleanShot 2020-08-08 at 14 47 42](https://user-images.githubusercontent.com/55639/89717633-73ced000-d986-11ea-859e-e6fa31312869.gif)

[code]

[2020-08-08 20:14] claviska commented on #164
Thanks, everyone, especially @Trendy for helping me troubleshoot this. 😅

This is fixed in `next` and will be available in the next release. The following commits resolved it.

- 251e3059a0f2d77058e8cd12eb88bb2e047cad7c
- be44db8e35b35958a31464f6b3edd4766a380766
- 6c16eb9a112e7d0e6edaf328ebdd32e61d632ca1

[2020-08-08 20:14] #164 closed, assigned to claviska

[2020-08-10 10:03] ghost commented on #98
Hey @claviska, I'd be interested if this hasn't been resolved yet.

[2020-08-11 19:47] lamplightdev opened #170 "slHide event fires twice"
**Describe the bug**
When a `slDialog` or `slDrawer` component is closed, either through the `hide()` method or by removing the `open` attribute, the `slHide` method is called twice.

**To Reproduce**
Steps to reproduce the behavior:
1. On https://shoelace.style/components/dialog add an event listener to a `sl-dialog` element in the console, `$0.addEventListener('slHide', () => console.log('slHide

[2020-08-11 23:50] jaredcwhite opened #171 "Height of dialogs don't change when the window is resized in Safari 13.1.1 (macOS)"
The Dialog example [here](https://shoelace-git-animate.shoelace.vercel.app/components/dialog?id=scrolling) shows that the dialog won't exceed the vertical viewport and will resize as needed, and that seems to be true in Safari for iOS 13 as well as Safari 14 on macOS Big Sur (Public Beta). But for whatever reason, it's not working as expected in Safari 13.1.1 (macOS Catalina). Resizing the window

[2020-08-12 11:34] claviska opened #172 "Animation: Playback rate doesn't seem to work in Safari"
Changing an animation's `playbackRate` doesn't work in Safari. This may be more of a Safari issue than a Shoelace issue. Here's a minimal test case unrelated to Shoelace.

https://codepen.io/claviska/pen/OJNyGmp

1. Open it in Chrome/Firefox/Edge
2. Move the slider and notice how the speed changes
3. Now open it in Safari (macOS or iOS)
4. Move the slider and notice the animation doesn't change

T

[2020-08-12 13:14] claviska commented on #171
Confirmed. Thanks for posting this. I'll work on a fix soon unless someone gets to it before me!

[2020-08-12 13:19] claviska commented on #170
Confirmed. I'll work on a fix for this unless someone gets to it before me.

[2020-08-12 14:05] rchavik opened #173 "Space in buttons seems a bit off in Linux"
**Describe the bug**
In linux, the space seems a bit off, ie: bottom space seems a bit larger.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://shoelace.style/components/button

**Screenshots**
With Firefox 79, Ubuntu 20.04
![image](https://user-images.githubusercontent.com/39490/90024622-43b56300-dcdf-11ea-842b-5869960885a4.png)

With Chrome Version 84.0.4147.125 (Official Buil

[2020-08-12 17:59] claviska commented on #98
Thanks. Would you mind sending me a quick email? (link above)

[2020-08-13 11:24] #171 closed, assigned to claviska

[2020-08-13 11:25] claviska commented on #171
Strange. Safari just wasn't updating the size when using viewport units. Fixed in 2f9290fafeedf5b33b80f7278de8072c164f683b.

[2020-08-13 11:44] #170 closed, assigned to claviska

[2020-08-13 11:45] claviska commented on #170
Nice catch. Added guards to prevent this in alert, detail, drawer, dropdown, tooltip.

[2020-08-13 12:16] claviska commented on #173
This seems to be dependent on the browser's text rendering and the font being used. In Chrome, the labels are perfectly aligned. In Firefox (on macOS), they're off by 1px.

I can't reproduce the offset your screenshot shows, so if anyone has time to experiment with this on Linux and submit a patch, that would be awesome!

[2020-08-13 14:36] claviska commented on #170
Those guards prevented opening with the `open` attribute. 😩

I reworked all affected components in 573552b457f18273754463cbba6fc82f883d241e. The problem stems from the `open` attribute _and_ the `show|hide` methods controlling the open state. There's a watcher on `open`, so when `show|hide` changes its value, the function gets run again. The private `isShowing` property alleviates this, but can be

[2020-08-14 08:29] jledentu commented on #173
Hi, I can't reproduce this issue on Linux (Ubuntu 18.04). In Firefox and Chromium, the labels are correctly aligned.

Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:79.0) Gecko/20100101 Firefox/79.0

[2020-08-15 09:46] Palats opened #174 "Broken dist/custom-elements/index.d.ts in beta release"
In NPM package `2.0.0-beta.13`, file `dist/custom-elements/index.d.ts` has an unclosed comment just before the declaration for `setAssetPath`:

[code]

The following snippet from installation documentation:
[code]
fails with:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download the package: `wget https://registry.npmjs.org/@shoelace-style/shoelace/-/shoelace-2.0.0-beta.13.tgz`
2.

[2020-08-15 10:32] isdot commented on #174
👍

[2020-08-15 10:50] claviska commented on #174
Oh no, this is a generated file so I wonder why that’s happening. I’ll look into it — thanks for reporting!

[2020-08-15 11:32] Palats commented on #174
So, I've tested changing the version of `@stencil/core`:
 - At version `1.17.2` it generates the broken version.
 - At version `1.17.3` it generates a working version.

And looking at stencil commits, that's actually https://github.com/ionic-team/stencil/commit/7f2f5ad7ca2ea6f1259721ca853cf029ebc34176

I'm not familiar with npms release process, but I imagine a simple new build (beta14 ? :) would

[2020-08-16 05:00] isdot opened #175 "Support svg sprite to get better performance"
**Is your feature request related to a problem? Please describe.**
Used to solve the problem of too many requests and flickering when the icon is displayed.

**Describe the solution you'd like**
I feel that svg sprite can be supported by default.

**Describe alternatives you've considered**
Maybe to use packaging tool, such as webpack with svg-sprite loader.

**Additional context**
The above.

[2020-08-16 05:44] ricardo-valero opened #176 "Blazor support"
Hi, I just started looking through the library, I quite like it 😄.
Is there any plan to port this to Blazor?

I was planning to use Npm and Webpack and bundle it to Blazor... but maybe I'm taking a wrong approach.

So, is future official support on Blazor plausible? And how would I implement it right now?

[2020-08-16 11:20] claviska commented on #98
This is currently in progress.

[2020-08-16 11:36] claviska commented on #176
Shoelace components are web components, so this is really a question of whether or not Blazor supports custom elements (a standardized feature).

I don’t have any experience with it, but from a few searches it looks like it does: https://www.htmlelements.com/docs/blazor/

If you run into any issues along the way, feel free to mention them here and I’ll updates the docs to make integration easier.

[2020-08-16 11:36] #176 closed, assigned to claviska

[2020-08-17 12:53] keesvanopdorp commented on #174
i found a fix for the issue by editing the files in the node_modules folder.
i could attempt and fix it.

[2020-08-17 12:58] claviska commented on #174
Yeah, looks like simply updating Stencil will resolve this.

[2020-08-17 12:59] keesvanopdorp commented on #174
are the comments generated @claviska

[2020-08-17 13:00] claviska commented on #174
Yeah, looks to be fixed in https://github.com/ionic-team/stencil/commit/7f2f5ad7ca2ea6f1259721ca853cf029ebc34176.

[2020-08-17 13:02] keesvanopdorp commented on #174
[code]

it generated this local on the next branch

[2020-08-17 19:23] oliveratgithub opened #177 "SyntaxError: Unexpected token '{'. import call expects exactly one argument."
**Describe the bug**
Shoelace cannot be loaded/JS not parsed from the CDN with due to an error:

`SyntaxError: Unexpected token '{'. import call expects exactly one argument.`

**To Reproduce**
Include shoelace from CDN as described in the docs:
[code]

**Expected behavior**
That Shoelace is loaded and parsed without any errors :)

**Desktop (please complete the following information):**
 - OS: ma

[2020-08-17 19:34] claviska commented on #177
Hmm, nobody has reported this yet. I just tried it on jsFiddle and it's working as expected.

Can you provide more info?

<img width="965" alt="CleanShot 2020-08-17 at 15 33 28@2x" src="https://user-images.githubusercontent.com/55639/90436669-1bdb4c00-e09f-11ea-9e30-75b629304208.png">

[2020-08-17 20:13] oliveratgithub commented on #177
Okay this was dumb: I use a script to inject the JS & CSS sources, but it doesn't add `type="module"` for the js 🙈

[2020-08-17 20:13] #177 closed, assigned to claviska

[2020-08-18 06:01] b3nb5n commented on #98
Great to see this is being implemented, I would love to help design some themes maybe something with sharp corners?

[2020-08-18 15:40] strood commented on #173
Hello, I was also unable to reproduce on Linux. Both Firefox and Chromium worked fine.

Firefox 80.0b8 (64-bit), Chromium Version 84.0.4147.105 (Official Build) Built on Ubuntu , running on LinuxMint 19.3 (64-bit)
Linux version 5.4.0-42-generic #46~18.04.1-Ubuntu SMP Fri Jul 10 07:21:24 UTC 2020

[2020-08-18 16:49] claviska commented on #98
Something like this should sharpen those edges up. 😎

[code]

[2020-08-18 19:06] frederik-jatzkowski commented on #98
Hello @claviska ,

my name is Frederik, I am a student and rather new to coding. I took this topic as a challenge for practicing and it turned out much better than I had anticipated. So I would be happy to get some feedback on this.

You can find a demonstration at https://frederik-jatzkowski.github.io/sl-modes.css/ (Not mobile optimized).

The sl-modes.css file simply alters the lightness values

[2020-08-18 21:17] claviska commented on #174
Fixed in 48cfeaa6b28164fe789e4a99ed49828a410f59c3

[2020-08-18 21:17] #174 closed, assigned to claviska

[2020-08-18 22:01] claviska commented on #98
Dark mode been implemented. [See this page](https://shoelace.style/getting-started/themes) for details.

@FrederikJatzkowski This is a clever idea, and the results don't appear to be too far off from where I went with the dark theme!

You have some great points. One thing makes me uncomfortable with this approach is how color token values are "inverted", which IMO is a bad practice. It may not be

[2020-08-18 22:01] #98 closed

[2020-08-19 02:19] rchavik commented on #173
hmm. it might be due to my setup. i tried creating different user on the same machine. chrome was ok, but FF still the same. weird.

[2020-08-19 06:19] Palats commented on #174
Thanks!

[2020-08-19 12:58] claviska commented on #173
@rchavik Can you dig in and find out what font is being rendered? Do you have any browser add-ons installed?

[2020-08-19 15:03] rchavik commented on #173
Will try to delve a bit more and provide info tommorow.

[2020-08-20 13:07] nathancrowd opened #178 "Checkbox component invalid aria"
The `<input>` within the Checkbox component has `aria-labeledby` instead of `aria-labelledby`.

[2020-08-20 13:14] claviska commented on #178
Oh man, this was a lame typo to make. 🤦🏻‍♂️

Fixed in a number of components in 21889924e7c4b561fb19772ee09ce5d9c309c5d4. Thanks for reporting this!

[2020-08-20 13:14] #178 closed, assigned to claviska

[2020-08-20 13:45] frederik-jatzkowski commented on #98
I really appreciate your feedback, thanks a lot. It definitely helped me understand the drawbacks of my approach.
Keep up your great work 👍 😃

[2020-08-21 03:05] rchavik commented on #173
Seems to be Helvetica.

![image](https://user-images.githubusercontent.com/39490/90847880-bab0c280-e395-11ea-82b7-636eade60349.png)

[2020-08-21 03:12] rchavik commented on #173
I removed Helvetica from my font cache and uses Nimbus Sans.

![image](https://user-images.githubusercontent.com/39490/90848320-c781e600-e396-11ea-9853-47a30d157907.png)

[2020-08-22 07:57] shkumbinhasani opened #179 "Dropdown on a Dialog"
**Describe the bug**
When u use one of the dropdowns on a dialog the dropdown menu triggers the scroll bar and the menu hides

**To Reproduce**
[code]

**Expected behavior**
The dropdown to be clearly and outside the dialog

**Screenshots**
![image](https://user-images.githubusercontent.com/34962865/90951716-8dc7e280-e45d-11ea-8614-945f04ee24cb.png)

**Desktop (please complete the following inform

[2020-08-22 16:23] bitflower commented on #134
# Table Requirements

Ok, super-raw 30-min holidy sum up of  what I think are my consolidated expectations when it comes to a hero-table-component.

I have bits of this implemented in Stencil in my project so could talk about how to collaborate.

In general I found the [Angular Material Table](https://material.angular.io/components/table/overview) to be very comfortable to work with in enterprise

[2020-08-22 16:41] bitflower commented on #134
One more thing towards what one might expect from a "modern" table component: responsiveness.

I think a table should be able to deal with various screen resolution based on some simple input from the developer. I image something like a `level` or `priority` setting per column which would help to decide whether or not to display the column once the available space gets too small.

What could also

[2020-08-22 16:51] bitflower commented on #134
@jacebot Just checked out the element table and seems to have some serious scroll lag issue? Even on my MB 2019 the rows are not "synced" when scrolling. Did you experience that too?

[2020-08-23 11:21] claviska commented on #179
Dialogs will scroll if they exceed the height of the viewport, but the header/footer remains visible so the user can easily exit or perform an action. To accomplish this, the dialog's body uses `overflow: auto`, which is what's causing the select to get cut off.

You can alleviate this with the following style:

[code]

<img width="605" alt="CleanShot 2020-08-23 at 07 20 29@2x" src="https://user-i

[2020-08-23 12:02] claviska commented on #175
I'm not sure this would be better performance for most use cases. [The sprite](https://github.com/twbs/icons/blob/main/bootstrap-icons.svg) is 579KB and growing with every new icon.

Wouldn't this mean the entire thing gets downloaded when the first icon is requested? What if the page only uses a handful of icons, as I suspect most will? Most of the SVGs are negligible in size, and chances are an

[2020-08-23 12:06] claviska commented on #175
The current approach is also very similar to that of Ionicons, I suspect for the same reasons. https://github.com/ionic-team/ionicons/blob/master/src/components/icon/icon.tsx

[2020-08-24 15:00] frederikhors opened #180 "Tree shake big bundle size"
I'm trying the amazing Shoelace for the first time today.

I'm working on a project with Rollup.

Everything works and is amazing.

### One thing I don't like though.

Just adding the following lines of code to my project increases it by 232 KB (from 747 KB to 979 KB) javascript side only.

[code]

![image](https://user-images.githubusercontent.com/41120635/91059897-90c3fe00-e62a-11ea-8d4b-f1b4d50

[2020-08-24 15:59] zenwork opened #181 "A switch with a prefix and suffix label"
**Is your feature request related to a problem? Please describe.**
In some cases a switch does not indicate an on/off or true/false state but rather two exclusive yet non-opposite states. For example full-name/last-name red/blue, beach/mountain, curly/straight, etc.

So having just one label for the switch is not ideal because it ends up looking like this.

`--o beach/mountain`

**Describe the sol

[2020-08-25 13:26] juanluispaz opened #182 "Clearable Select"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
The input component has the clearable property, but there is nothing similar for the select component; especially when it is not multiple.

I would like to have a way to clear the selection in a select component as it happens in the input component. Enabling this option will add consistency

[2020-08-25 16:52] ingomc commented on #147
We're using Stencil Components on work, we build a similary library and added a lot of e2e tests... now 1 year later i think it is more important to habe visual regression tests, because the more components you have... the more components will be nested in each other... and at the end, you total lose the overview if you change somethin in a component, which is used in many other components... you

[2020-08-25 17:14] lamplightdev commented on #147
Definitely agree we should have visual regression tests, but I think e2e tests are worth having too, to catch some possible edge case bugs that don't make themselves obvious. I don't think they need to wait until the VRT are finished, they shouldn't take long, and no reason we can't work on both at the same time.

Do you have any pointers to how we can handle the visual tests? I had a brief look a

[2020-08-25 18:00] ingomc commented on #147
we dont have a technical solution now, backstop ist definatly on our list. We will test sending out screenshots to applitools, so we dont have to deal with images other then sending it to the service and handle it in the web environment.

You dont have to wait until VRT is finished, but some things are at some point irrelevant as soon as VRT is working. So the start should be really barebone, perh

[2020-08-25 20:25] #182 closed, assigned to claviska

[2020-08-25 20:25] claviska commented on #182
Good idea! Implemented in 7d5aac4.

[2020-08-25 21:07] #179 closed, assigned to claviska

[2020-08-25 21:08] claviska commented on #179
Thanks for reporting this. With b8f52e4 you can also use the `hoist` prop to break out of the overflow.

[2020-08-25 22:17] sslotsky opened #183 "Rollup: Missing Export: 'setAssetPath' is not exported"
**Describe the bug**

Using 2.0.0-beta.15

Following the instructions for important components from a Rollup app, I'm unable to build my Stencil project as soon as I attempt to import `setAssetPath`.

[code]

Inspecting the file `node_modules/@shoelace-style/shoelace/dist/collection/index.js` reveals that it's completely empty. On the other hand, `setAssetPath` does seem to be exported form `node_

[2020-08-26 11:32] claviska commented on #180
I'm seeing a similar result with webpack, and I assume these are core utilities + dependencies getting pulled in. However, the project doesn't have a lot of dependencies:

[code]

The `@stencil/core/internal/client/index.js` dependency is necessary, as it provides boilerplate code that's shared across all components. I can't imagine the others would be loaded just by importing button — unless the

[2020-08-26 12:05] claviska commented on #183
I didn't realize you were using Stencil when I tweeted you last night. The instructions are a bit different in this case.

Stencil is aware of the library because of the [`collection` properties in `package.json`](https://stenciljs.com/docs/publishing#package-json):

[code]

This provides Stencil with some first-class insight into the package, so you can import the library like this:

[code]

And

[2020-08-26 15:47] juanluispaz opened #184 "Select multiple with not enough space looks wrong"
**Describe the bug**

When you select multiple options in a select multiple and there are no enough horizontal space the clear button and the caret are not visible any more. This make unusable the component under this circumstances.

**To Reproduce**
1.- Open Chrome or Safari a small screen or windows (emulate a mobile screen in your browser)
2.- Go to https://shoelace.style/components/select?id=m

[2020-08-26 19:46] jeffreylzkong opened #185 "Input with pattern doesn't reflect its validity"
**Describe the bug**
Input component support `pattern` which is very handy attribute by validating the input value with Regex. When Regex does not match, input itself is with `invalid` status. However, <sl-input> doesn't turn red/invalid when Pattern is not match.

**To Reproduce**
Steps to reproduce the behavior:
1. Giving pattern with Regex check like following:
[code]
2. Start typing in input w

[2020-08-26 19:48] jeffreylzkong commented on #185
I have worked out a fix, will send a pull request to review

[2020-08-26 21:07] jeffreylzkong commented on #185
[Pull request](https://github.com/shoelace-style/shoelace/pull/186) is submitted.

Besides making `pattern` attribute working in <sl-input>, the fix is also giving visual hints (red bordered) for other cases that user input format is invalid. e.g. when user is typing invalid email address for email type input.

[2020-08-26 21:11] claviska commented on #185
I normally use server-side validation, so excuse my lack of familiarity with this! I like this approach a lot, although we'd need to make the `invalid|valid` props mutable, which I'm fine with.

We currently have `valid` and `invalid` props to trigger the valid/error states. How would `valid` tie into it? We don't want form controls turning green when they're empty (but technically valid) and prob

[2020-08-26 22:02] jeffreylzkong commented on #185
We use server-side validation for heavy duty checking only, like duplicate data entry etc. But for a simple checking like invalid email address or invalid IP format, we just validate them right away at the input level without a round trip to server.

For our case, we have quite complicated forms that handled by AngularJS and/or ReactJS when submit. That's why we want to have web component to repla

[2020-08-26 23:32] sslotsky commented on #183
Success!!! Thank you :bow:

![image](https://user-images.githubusercontent.com/374078/91366824-6c068c80-e7ca-11ea-94e4-29518f9bcbc3.png)

[2020-08-26 23:32] #183 closed, assigned to claviska

[2020-08-27 13:17] #184 closed, assigned to claviska

[2020-08-27 13:20] claviska commented on #184
Thanks for posting this! Fixed in 82b41eb.

![CleanShot 2020-08-27 at 09 14 02](https://user-images.githubusercontent.com/55639/91446960-1cfe3d00-e846-11ea-811e-a2dc5442c142.gif)

I don't have a Windows machine to test the horizontal scroll on. @Trendy can you double check this when you get a chance? 🙏

https://next.shoelace.style/components/select?id=multiple

[2020-08-27 13:39] claviska commented on #184
Whoops, wrong link. Updated 👆

[2020-08-27 15:25] zenwork opened #187 "setting value to null breaks sl-input"
**Describe the bug**
setting `value`=`null` on an `<sl-input>` results in a broken component.

**To Reproduce**
It's as simple as doing this:
[code]
As far as I can see, the issue is here: https://github.com/shoelace-style/shoelace/blob/8a4ee01f8a08ab17b525ce72c8ef7bdaaf4d1d27/src/components/input/input.tsx#L267

**Expected behavior**
Setting null should be accepted as a blanking of the input

**D

[2020-08-27 16:23] #187 closed, assigned to claviska

[2020-08-27 16:27] claviska commented on #187
I fixed the error that breaks it in 6adca7e so the input will become empty, but it's prop will still be `null`. If you're concatenating the value, this will not work the way you want it to, so I strongly encourage you to use `''` instead of `null` when you need to "empty" a form control.

[2020-08-27 21:03] claviska commented on #181
I've been thinking about this and even implemented it in the [`two-sided-switch` branch](https://shoelace-oger1nxy9.vercel.app/components/switch?id=two-sided-switches) to try it out. I have a few concerns, though.

I'm not sure how to handle the accessibility side of things. There are guidelines for [checkboxes](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Checkbox_role) a

[2020-08-27 22:12] lamplightdev opened #188 "slInput value doesn't update after a `setRangeText` call"
**Describe the bug**
After updating text with `setRangeText` the `value` of the `sl-input` element is not updated

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://shoelace.style/components/input
2. Enter a value into the first input, e.g. 'Ada'
3. Select the `sl-input` in dev tools and update the text with `setRangeText`, e.g. `$0.setRangeText('bb', 1, 2)`
4. `$0.value` then ret

[2020-08-28 06:49] tmladek opened #190 "Header / Nav component"
I might be missing something, but does Shoelace not provide a "Header" ("MenuBar") component?

Is it assumed that it's so easy to do it's not provided? I was thinking it might still be useful to keep the styling consistent.

Or is there a way to construct a header out of the components that are already provided, that I am not seeing?

Or is it simply not written yet?

Either way, thanks in advance

[2020-08-28 10:48] claviska commented on #190
There was some discussion about this in the [community chat](https://discord.gg/mg8f26C). Here are my thoughts:

To elaborate, there are so many ways to design a nav that it's impossible to do it with a single component. For example, a nav can be:

- A simple list of links with horizontal/vertical styles
- A hamburger menu with a sliding drawer
- Bootstrap-style with logo, links, and dropdowns
- A

[2020-08-28 10:51] #188 closed, assigned to claviska

[2020-08-28 11:06] claviska commented on #181
Thinking about this more, you're looking for a radio control with the appearance of a switch. This makes more sense since the options aren't booleans. I don't think this is something I'm willing to support in the existing switch component, as it involves a significant change to the markup, which is currently very simple and uses a native checkbox.

Aside from accessibility and semantics, I also ha

[2020-08-28 11:06] #181 closed, assigned to claviska

[2020-08-28 11:10] claviska commented on #175
I'm going to close this based on the technical limitations listed above:

- Importing the sprite into the icon component will bloat it to ~600 kB
- Downloading the sprite instead of individual icons will mean a ~579 kB initial download, resulting in significant lags

[2020-08-28 11:10] #175 closed, assigned to claviska

[2020-08-28 11:11] claviska commented on #166
Closing this in favor of the [carousel proposal](https://github.com/shoelace-style/shoelace/issues/113).

[2020-08-28 11:11] #166 closed, assigned to nobody

[2020-08-28 11:18] claviska commented on #173
It looks like the badge text is a bit higher too. This is probably a problem with how the browser/OS is calculating leading for that font. Not sure this can be fixed at the Shoelace level.

[2020-08-28 11:19] claviska commented on #173
Do you tend to see other websites that use that font have misaligned text?

[2020-08-28 12:02] claviska commented on #185
I'm of the opinion that valid/invalid states should never be drawn _unless_ the user opts into validation. I'm just not sure what the definition of "opt in" means. Should the use of `required`, `pattern`, etc. presume the user is opting in? Should it be a separate prop like `use-validation`?

I like the idea of mapping `input.checkValidity()` to the `valid` and `invalid` props, but this currently

[2020-08-28 21:36] claviska commented on #185
OK, I studied up a bit and I've made some pretty extensive changes to form control validation in the `input-validation` branch.

**Form validation is much more powerful now!**

- The `invalid` prop now reflects the control's validity as determined by the browser's [constraint validation API](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5/Constraint_validation)
- Added `required` to

[2020-08-28 21:39] claviska commented on #185
Also worth nothing — I've added `reportValidity()` and `setCustomValidity()` methods to all form controls and updated `<sl-form>` to support validation on Shoelace form inputs as well as native ones.

[2020-08-29 05:45] bitflower commented on #134
Would it possibly make sense to build the component around a feature-complete "data structure engine" like https://danfo.jsdata.org/api-reference/dataframe ?

![image](https://github.com/opensource9ja/danfojs/raw/master/assets/browser-out.gif)

[2020-08-29 06:55] tmladek commented on #190
Right! That's why I avoided calling it a "Nav", because that implies function and hence a myriad of opinions on how to do navigation. I was asking simply about just the layout / visual component, which could contain anything - but would be consistent in style with the rest of the components. [Quasar, for example](https://quasar.dev/layout/header-and-footer) also provides a plain Header and a Toolb

[2020-08-29 17:32] claviska commented on #190
Yeah a toolbar component might make sense. It could handle proper spacing of buttons, dropdowns, and similar components.

[2020-08-29 17:39] claviska commented on #134
I think this request is really two things:

1. A basic table component that handles styles and possibly facilitates pagination/sorting/filtering
2. A data table / grid component that does, well, a ton of other things

I'm not interested in building a replacement for the many high-level data table plugins that are out there. I'm more interested in option 1, as it will be of interest to the majority

[2020-08-29 20:17] MisterAnmar opened #191 "RTL Support via Logical CSS Properties"
**Is your feature request related to a problem? Please describe.**
Internationalization and the adaptation of UTF-8 became a necessity for Multilanguage apps.
a support for RTL in shoelace in its early stage in development will be great added advantage for developers.

**Describe the solution you'd like**
is it possible to put it under consideration while the project still in its alpha. As RTL sup

[2020-08-29 21:19] MisterAnmar commented on #101
in the current browsers the date picker is implemented and getting better.
Why not a calendar that can be extended for events and scheduler. Just a thought.
basic features.
Select start day (Week)
can add a marker on days contain event
has event listener on the day
div container for results after event. possibly by ajax json

[2020-08-29 21:22] MisterAnmar commented on #120
its nice to have.
how about a basic grid system or flex system for layout. just a suggestion.

[2020-08-29 21:31] MisterAnmar opened #192 "Cards make scrollable"
**Is your feature request related to a problem? Please describe.**
i was testing shoelace and i wanted to do a card in an admin page.
so i felt the size of the card sutes my design however the content in the card is just alot.

**Describe the solution you'd like**
so i added couple of CSS codes into the card and now i can have the content area of the card scrollable.

**Describe alternatives you'v

[2020-08-29 21:46] MisterAnmar opened #193 "menu active disappear! is it intended?"
**Describe the bug**
I have build simple menu with icons

[code]

as i hover on the other menu items it seems the active disappear! is this intended?

Also a side question if i use checked instead of active. How do you style it example color ?

[2020-08-30 00:06] claviska commented on #193
Yes, this is intentional. I've documented it better in 01237ee3ef2ccc5d24492075cfd022d60167b310.

The menu component uses this as a synthetic hover/focus state, which allows us to show ONE selected item whether you're using the keyboard or mouse to make a selection. In most cases, it shouldn't be used by a consumer.

See the [part API for menu item](https://shoelace.style/components/menu-item?id=c

[2020-08-30 00:06] #193 closed, assigned to claviska

[2020-08-30 00:08] claviska commented on #192
Neat approach. This is something I'd love to see shared in the [community chat](https://discord.gg/mg8f26C) — there's a #shoe-and-tell channel that would be the perfect place to share this.

Cheers!

[2020-08-30 00:08] #192 closed, assigned to claviska

[2020-08-30 00:09] claviska commented on #191
This is something I'd love to get right, but I have zero experience with RTL languages. If someone wants to provide guidance, I'd love to make a reasonable effort to accommodate.

[2020-08-30 00:15] claviska commented on #180
Looks like [TypeScript is starting work](https://github.com/envato/react-resize-observer-hook/pull/3) to include the ResizerObserver types. Technically, we don't need the polyfill since browser support for that feature matches browser support for Shoelace. It's mostly being used for types now, so that will save some bytes from the core dependencies.

I think the rest of this is coming from the [`c

[2020-08-30 00:20] MisterAnmar commented on #191
I'm not that good with shoelace yet. I have not dived into its core yet. But I'm really hoping for this project to grow. Its neet.
I can assist in RTL SUPPORT.

[2020-08-30 01:43] MisterAnmar commented on #191
I managed to analyse the code your code is so elegant. It should not be difficult to have an RTL version. However. I never programed with ts.
I think a simple ts function is required to switch between the code RTL scss. Maybe a similar to the theme switcher style,
I will start working on it and show not take long and hopefully you will have the time to code the function for it.
I'm willing to be p

[2020-08-30 01:47] claviska commented on #191
It might be good to start off explaining what needs to be done, before jumping into any code.

For example, how is RTL configured? There’s a `dir` attribute in HTML — do we use that?

Looks like there’s also a `:dir` selector in CSS. Where would this come into play?

I’d prefer to keep it simple and ensure we’re using native APIs as much as possible rather than introduce our own.

[2020-08-30 02:00] MisterAnmar commented on #191
Well, simply there are few steps involved

1. html doc
[code]
Will change to
[code]

This part will change the whole doc onto rtl including flex, grid, text direction,

2. In the css  its not necessary  but good practice
[code]

3. Parts of the css files need to change
Example.
Margin-left: need to change to margin-right
You have it in the code in approximately 9 places
And few other minor things

[2020-08-30 02:18] MisterAnmar commented on #191
I will show you a sample from your code.

[Alert](https://github.com/shoelace-style/shoelace/blob/next/src/components/alert/alert.scss)

[code]
as above this is the only line needs to be modified from the whole component.

so again im not familiar with TS but my humble suggestion would be it could a simple switcher
if(ltr){
'margin-left: var(--sl-spacing-large); '
}else{
'margin-right: var(--sl-sp

[2020-08-30 02:32] MisterAnmar commented on #173
i faced a similar experience with shoelace, i used normalize latest to reset all css rules in case browsers render things differently.

[2020-08-30 08:36] bitflower commented on #134
Totally agree and understand the strategy. My requirements above might have been more of a self-reflection outcome. A simpler pure UI table would definitely be a good start for any complex use case.

[2020-08-30 19:08] staabm commented on #191
In modern css you could use `margin-inline-start` which supports rtl natively

https://css-tricks.com/building-multi-directional-layouts/
https://developer.mozilla.org/en-US/docs/Web/CSS/margin-inline-start

[2020-08-30 20:11] marvinified opened #194 "Alert component class named as Tab instead of Alert."
**Describe the bug**
This isn't exactly a bug report, I was looking through the codebase and I noticed that the alert component class is named `Tab` instead of `Alert`.

See Reference:👇🏾
https://github.com/shoelace-style/shoelace/blob/01237ee3ef2ccc5d24492075cfd022d60167b310/src/components/alert/alert.tsx#L15-L23

[2020-08-30 20:41] lamplightdev opened #195 "slFocus and slBlur events fire twice on slSelect component"
**Describe the bug**
When an `slSelect` component gains or loses focus, the `slFocus` and `slBlur` events are called twice.

**To Reproduce**
Steps to reproduce the behavior:
1. On https://shoelace.style/components/select add an event listener to a `sl-select` element in the console, `$0.addEventListener('slFocus', () => console.log('slFocus'))`
2. Focus the `sl-select` by clicking on it
3. `slFoc

[2020-08-31 06:24] MisterAnmar commented on #191
Edited: Added screen shots

interesting point @staabm . thanks.
inline style is not a good practice from my experience for who use a lot of dynamic generated data (serverside DB), added inline properties will not change the flex box layout, basically the whole layout design will maintain its direction it will work if you are designing a symmetrical interface and even then you will still have issue

[2020-08-31 07:53] staabm commented on #191
I never said someone should use inline styles. the property mentioned can be defined like any other css property.
browser support ist pretty good so far: https://caniuse.com/#search=css-logical-props

I don't have opinions on this one - just wanted to share the modern way to solve this problem - which I learned about a few weeks ago.

feel free to solve it in the way you like most

[2020-08-31 08:00] MisterAnmar commented on #191
My apologies i miss understood you.

your links led me to find a possible solution. thank you @staabm

[2020-08-31 11:06] #194 closed, assigned to claviska

[2020-08-31 11:14] claviska commented on #185
Form validation has been reworked in 9ad226924c6a6a8e08f10d89e801ff23b0c7c609.

[2020-08-31 11:14] #185 closed, assigned to claviska

[2020-08-31 12:02] claviska commented on #120
I'd prefer to avoid adding a grid system since there are so many out there already. Plus, CSS grid is generally more flexible so I would encourage users to learn it and use the platform if possible.

If you need a grid system, check out [Tailwind Flexbox Grids](https://tailwindcss.com/components/flexbox-grids) or the tried and true [Flexbox Grid](http://flexboxgrid.com/) project.

[2020-09-01 00:34] rchavik commented on #173
Not that I recall. But maybe i wasnt paying attention

[2020-09-01 11:41] staabm opened #197 "mouse-over menu with svg hit-areas"
**Is your feature request related to a problem? Please describe.**
Usually when working with mouse over based menus, hover hit areas are pretty poor and not very usable.
Having a component solving this accessibility problem would be great.

The main idea is that the user dont need to follow a perfect mouse path from the inital button to the mouse over menu.

**Describe the solution you'd like**
I

[2020-09-01 14:46] dream2023 opened #198 "Is there any way to combine vue events?"
Is there any way to combine [vue events](https://vuejs.org/v2/guide/events.html)？

[2020-09-01 15:16] claviska commented on #197
Interesting approach, but I don't think this is something Shoelace should support. The best use case for this is menus that appear on hover, which Shoelace doesn't do. Things that appear on hover are unexpected and often annoying to users. They also require additional effort for touch devices (e.g. two taps or separate logic).

I don't like the idea of a user clicking just outside of a menu to clo

[2020-09-01 15:16] #197 closed, assigned to claviska

[2020-09-01 15:18] claviska commented on #198
Vue events should work as usual on custom elements. Please see [this section of the docs on Vue](https://shoelace.style/getting-started/usage?id=vue) for more information, and let me know if you find something unclear or missing.

In the future, please ask questions like this in the [community chat](https://discord.gg/mg8f26C), not on the issue tracker.

Cheers!

[2020-09-01 15:18] #198 closed, assigned to claviska

[2020-09-01 15:42] staabm commented on #197
Thx for your in-detail reply. It makes a lot of sense and I agree that it might not be the right direction for shoelace

[2020-09-02 17:07] ranjeetsinghbnl commented on #111
@claviska I like how ui-library implement the toast [ui-library-toast](https://github.com/baloise/ui-library/tree/master/src/components/toast)
They use a different approach, like dynamically creating the components on run time.
Similar way angular material does with cdk-overlay.

ui-libarary toast only show the message, for other features we can implement. I guess they are not be too complex.

its

[2020-09-02 17:51] claviska commented on #111
The trouble with a controller is that you can't compose things neatly.

Alerts can contain arbitrary HTML, for example, so you'd have to expose some kind of `html` argument, not just a message string. But what if the alert has something like an "undo" button in it? How would you listen to it if the button were passed as an HTML string?

Or you could go down the road of accepting opinionated argume

[2020-09-02 18:19] ranjeetsinghbnl commented on #111
yea it totally make sense, the way you ave mentioned.
I like this idea. Even you can do a more research over it by checking the
[angular material snackebar](https://material.angular.io/components/snack-bar/overview)

[2020-09-02 21:12] claviska commented on #172
Fixed in Safari Technology Preview, so this was very likely a Safari bug.

[2020-09-02 21:12] #172 closed, assigned to claviska

[2020-09-04 00:47] MisterAnmar commented on #195
sl-checkbox fire twice as well.

[2020-09-04 01:16] marvinified commented on #195
@lamplightdev I investigated this bug and I noticed these events are emitted twice because the `sl-select` component is composed/dependent on the `sl-input` component, and these event are emitted in `sl-input` and also in `sl-select` resulting in the double emission.

So I would be taking out the event emitter in `sl-select` for `slBlur` and `slFocus`

@anmar-dev I would check if same applies for

[2020-09-04 01:24] marvinified commented on #195
@anmar-dev I just checked, and this isn't an issue with `sl-checkbox`.

I suggest you should open an new issue with more information if you are have an issue with `sl-checkbox`.

[2020-09-04 01:28] claviska commented on #195
The select component needs to emit its own events so they’re emitted from the correct target and they’re documented.

The bug is that select isn’t suppressing the events emitted by the underlying input.

[2020-09-04 01:37] marvinified commented on #195
Ok. then the solution would be to suppress the event emitted by the input.

[2020-09-04 01:46] marvinified commented on #195
@claviska, I logged `e.target` and `e.currentTarget` of the event, and both are documented as being emited from `sl-select` component so I don't think it would be a problem to take out the emitter from the parent component.

both the event from `sl-select` and `sl-input` both logs target as `sl-select`

I feel this is due to the way shadow-dom works, every thing is fully encapsulated.

[2020-09-04 02:12] MisterAnmar commented on #195
I forget to mention that I'm using jquery as an event listener....

[2020-09-04 02:29] marvinified commented on #195
@claviska  after further digging I found out that the `slBlur` & `slFocus` event handlers for `sl-select` are also linked to `sl-input` that is being used in the component which is why the handler is being called twice.

This means there would be no need to remove the event emmiter in `sl-select` as I suggested before.

I would suggest just detaching the handler from `sl-input` here👇🏻 so it doesn'

[2020-09-04 12:04] claviska commented on #195
Fixed in b51978b

[2020-09-04 12:04] #195 closed, assigned to claviska

[2020-09-05 17:32] MisterAnmar opened #201 "Card CSS part [Body] Issue (Unable to style it)"
**Describe the bug**
Im trying too style the body of Card using css parts
as follows

<sl-card class="card-header">

.card-header [slot="body"]{
  min-height:560px !important;
  background-color:black;
}

**Expected behavior**

i expect i can control the size and color of the body using CSS

**Desktop (please complete the following information):**
using version shoelace 16
i tried version 18 as we

[2020-09-05 17:35] claviska commented on #201
You need to use the `::part` selector. Please see this section of the docs: https://shoelace.style/getting-started/customizing?id=component-parts

[2020-09-05 17:35] #201 closed, assigned to claviska

[2020-09-05 19:17] staabm opened #202 "Support ajax/remote based options in sl-select"
**Is your feature request related to a problem? Please describe.**

Select elements with a huge number of options make a website slow while loading.

It would be great to lazy load the options on interactions from the user

**Describe the solution you'd like**
E.g. By defining a url which gets invoked by first interaction the option list could be initialized

[2020-09-05 19:19] staabm opened #203 "Search thru options in sl-select"
**Is your feature request related to a problem? Please describe.**
In selects with hundreds of options it would be great to have a search feature to ease usage

**Describe the solution you'd like**
In a pre web-component world we used e.g. https://harvesthq.github.io/chosen/ to achieve this kind of functionality

[2020-09-05 19:33] staabm opened #204 "Custom Keyframe Formats demo flickers in Safari"
The demo animation at https://shoelace.style/components/animation flickers

When the animation re-starts the rectangle flickers to its initial position

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhone6]

Iphone11
 - OS: [e.g. iOS8.1]
IOS 13.7

 - Browser [e.g. stock browser, safari]

Safari

 - Version [e.g. 22]

**Additional context**
Add any other context abou

[2020-09-05 19:47] staabm commented on #204
See https://easyupload.io/6rjdkt for a screen recording

[2020-09-06 06:26] trailsnail commented on #203
Same request in #127?

[2020-09-06 14:30] trailsnail opened #205 "<sl-button disabled> title attribute don't show up"
**Describe the bug**
If a `<sl-button>` is set up with attribute `disabled`, its title attribute don't show up, if mouse hovers.
Native disabled HTML `<buttons>` are able to show their title.

**To Reproduce**
Steps to reproduce the behavior:
- Create a disabled `<sl-button>`

[code]

**Expected behavior**
The title is shown if mouse stay on disabled element.

**Desktop (please complete the follow

[2020-09-06 14:31] trailsnail commented on #205
Not sure if this an expected behavior.
Perhaps I had to find a workaround with `<sl-tooltip>` for now 😄

**Update:** Tooltip doesn't work with disabled button inside ...

[2020-09-06 16:04] claviska commented on #204
Confirmed that there's a strange behavior in Safari, not just iOS but also desktop. Safari Technology Preview also exhibits this behavior. Unfortunately, it's probably a Safari glitch but I'll look into it.

[2020-09-06 17:04] claviska commented on #202
A component shouldn't be responsible for fetching its own options. That should be left to the user since options are declarative. Integrated fetching logic doesn't align with how the library is designed, and IMO it yields a poor developer experience.

Let's take a look at what this might look like. I've seen similar things in [ambitious] third-party select alternatives, and the list of options bec

[2020-09-06 17:04] #202 closed, assigned to claviska

[2020-09-06 17:05] claviska commented on #203
Yep, this is a dupe of #127.

[2020-09-06 17:05] #203 closed, assigned to claviska

[2020-09-06 17:16] staabm commented on #202
Thanks for the in-detail response, which makes a lot of sense.

I didn‘t think in this direction... I guess a lot of others also won‘t do it.
MayBe you should add a note/warning or something in the docs to your comment, so others with the same idea will find your proposed way on how to solve it

[2020-09-06 17:18] claviska commented on #205
Both Chrome and Firefox are showing the native `title` tooltip for me when the button is disabled, but I'm on macOS.

https://jsfiddle.net/4dbwq75c/

![CleanShot 2020-09-06 at 13 11 15](https://user-images.githubusercontent.com/55639/92331163-9403b480-f042-11ea-8a28-1ac06c27aea7.gif)

But there does appear to be some weird `sl-tooltip` behavior when the button is disabled. I'll look into that.

[2020-09-06 18:31] trailsnail commented on #205
Sorry, you are right - seems to be bad setup on my side - recognized the missing `cursor: not-allowed` behavior on my disabled buttons.

[2020-09-07 14:37] JEricaM opened #206 "Change font-size in sl-select component"
I have a problem to understand how can I customize the components using css.
For example, I wanna change the font size of the **sl-select** options.
https://shoelace.style/components/select?id=select

I've checked the component doc and the "customizing" part but I'm not able to reach my goal.
I've tryied using :part selector to reach the component and change the font, or using css 4 variables but

[2020-09-07 18:03] igauravbhatnagar opened #207 "form validation tooltip is fixed on screen"
The tool tip displayed when a field validation fails in the <sl-form> component is fixed on the screen even when the page is scrolled.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable form validation by putting "required" clause in any input field(eg sl-input) of the sl-form component
2. when the page loads, keep the field empty and click on "SUBMIT"
3. A tooltip on the field will be d

[2020-09-07 18:24] claviska commented on #207
These “tooltips” are generated by the browser, and as far as I’m aware there’s no control over how they get positioned. Each browser does its own thing, so most likely positioning bugs would be better reported to the browser maker.

Do you get the same result with a standard `<input>` element?

[2020-09-08 11:20] claviska commented on #207
I've confirmed that the behavior varies depending on the browser.

- Chrome/Edge: the message follows the field
- Firefox: the message scrolls with the page
- Safari (desktop & iOS): the message disappears on scroll

The only one I'd consider erroneous is Firefox, since scrolling causes the message to move to weird places. However, this isn't something I can fix in Shoelace and should be reported

[2020-09-08 11:20] #207 closed, assigned to claviska

[2020-09-08 11:20] claviska commented on #207
Fiddle to test: https://jsfiddle.net/5yqxuL49/

[2020-09-08 11:40] #206 closed, assigned to nobody

[2020-09-08 11:40] claviska commented on #206
Looks like the `<sl-input>` parts weren't exposed. Fixed in 4bf67c8 so targeting the input using this will work in the next release:

[code]

[2020-09-08 11:53] claviska commented on #204
I couldn't view your video so I removed the comment and replaced it with the GIF below for future visitors.

This is definitely a rendering bug in Safari, though. You can see surrounding areas disappear and reappear randomly.

![CleanShot 2020-09-08 at 07 48 55](https://user-images.githubusercontent.com/55639/92472692-d85c9500-f1a7-11ea-8d98-34167a3a1eef.gif)

This is a newish API, so unfortunatel

[2020-09-08 11:55] JEricaM commented on #206
Thank you so much for the fast reply 👍

[2020-09-08 12:29] claviska commented on #205
The odd `<sl-tooltip>` behavior was fixed in 6a731ca01541cc353525763d18c511f4805dd65d.

[2020-09-08 12:29] #205 closed, assigned to claviska

[2020-09-10 01:09] #204 closed, assigned to claviska

[2020-09-10 01:09] claviska commented on #204
I tried some other custom keyframes and they all seem to work. I still think this is a Safari bug, but it could be with a specific property. Updated in c51c48e and everything seems fine with the new demo.

[2020-09-10 06:05] staabm commented on #204
Looks better, thx

[2020-09-11 13:25] phhbr opened #208 "Space-Button triggers clickEvent and keyboardEvent on Dropdown-Button"
**Describe the bug**
As space (" ") also triggers the 'click' event of buttons, we have an odd behaviour for dropdowns. The menu opens and

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://shoelace.style/components/dropdown
2. Set Focus on Dropdown chevron
3. Press 'Space'
4. Compare result to pressing 'Enter'

**Expected behavior**
4. Compare result to pressing 'Enter'

**Deskto

[2020-09-11 14:55] #208 closed, assigned to claviska

[2020-09-11 14:56] claviska commented on #208
Thanks for reporting this. Fixed in 64aae41.

[2020-09-11 15:31] claviska opened #209 "Stylesheet isn't loading when importing into a Stencil app"
[code]

Open `src/index.ts` and add:

[code]

Open `src/components/app-home.tsx` and add:

[code]

View in the browser. You should see a styled blue button, but the styles aren't loading.

<img width="390" alt="CleanShot 2020-09-11 at 11 30 46@2x" src="https://user-images.githubusercontent.com/55639/92944638-3f857e00-f422-11ea-8236-a3de7dca8936.png">

[2020-09-12 08:44] CarlosEVC63 commented on #209
Well, my testing was selecting the option "ionic-pwa" after "npm init stencil" but probably is the same issue.

[2020-09-12 18:08] trailsnail opened #210 "Uncaught TypeError: can't access property "removeAttribute", t is undefined"
**Describe the bug**

Hi,

still replacing my old markup with your nice components 😄 I found some errors in console, which seems to have no side effects on my elements.

I placed some buttons, each wrapped in `<sl-tooltip>`, in my toolbar.

Gui|markup
-|-
![grafik](https://user-images.githubusercontent.com/4742603/93001938-16a0de00-f533-11ea-9990-276cd91606ef.png)|![grafik](https://user-images.git

[2020-09-14 13:23] #210 closed, assigned to claviska

[2020-09-14 13:24] claviska commented on #210
This was caused by the recent move to `onSlotchange` from `addEventListener('slotchange')` which triggers an extra event on init. Thanks for reporting this.

[2020-09-14 13:31] CarlosEVC63 commented on #209
I have solved my problem.

I just added : `@import '~@shoelace-style/shoelace/dist/shoelace/shoelace.css';` into /global/app.css file.

Now it shows fine.

[2020-09-15 18:34] jonathanray commented on #209
I'm also having this problem creating a web component with Stencil. The shoelace custom elements are rendering in the browser but they are not styled. There are no build errors in the console or browser.

I have tried the following:
- In `my-component.tsx`
  - `import '@shoelace-style/shoelace/dist/shoelace/shoelace.css';`
- In `my-component.css`
  - `@import '~@shoelace-style/shoelace/dist/shoela

[2020-09-16 21:52] claviska commented on #111
I experimented with this approach. Preview here: https://shoelace-97gynyc7a.vercel.app/components/alert?id=toast-notifications

My concerns:

- It’s not clear to the user that `<sl-alert>` can function as an alert _and_ as a toast notification (plus there’s nothing in the sidebar for discovery).
- The alert component creates a singleton `<div>` for the toast stack. To customize it, you have to sty

[2020-09-16 21:53] smcardle opened #211 "iOS and Android"
**Is your feature request related to a problem? Please describe.**
For PWA's it would be good to have the components mimic native look and feel on iOS and Android devices

**Describe alternatives you've considered**
We currently use Ionic for the native look and feel on mobile

[2020-09-16 23:37] claviska commented on #211
You can probably do this with a custom theme, but to be honest, there are many libraries out there that try to achieve this and it’s not something I’m interested in pursuing myself.

I’m focusing on highly customizable + easy to use, which is why the default theme is very simple. I’d welcome and be happy to feature third-party themes that do this, however. Just not something I’m willing to tackle.

[2020-09-16 23:37] #211 closed, assigned to claviska

[2020-09-18 01:47] claviska commented on #111
Another experiment: https://shoelace-7j37ar5bp.vercel.app/components/alert?id=toast-notifications

The docs and the source sums up this approach, but it basically exposes a `toast()` method that hoists and shows the notification.

This is my favorite approach thus far, but I’d still like some feedback on it.

[2020-09-18 14:37] claviska commented on #111
Implemented in e797f2788252d341d81803921d6759116cc7f9dc.

[2020-09-18 14:37] #111 closed

[2020-09-20 00:13] claviska commented on #172
I can confirm that this is fixed in the latest version of Safari and mobile Safari.

[2020-09-20 10:08] rchavik commented on #173
Ok.  Finally I have found a bit more info on firefox [bug](https://bugs.launchpad.net/ubuntu/+source/firefox/+bug/1874842)

Shall I close this then?

[2020-09-20 21:45] igauravbhatnagar opened #212 "component: Captcha"
**Is your feature request related to a problem? Please describe.**
One of the important components whenever forms are used is a captcha or way to confirm the user is not a robot and is sure of the form submission

**Describe the solution you'd like**
A captcha component

**Describe alternatives you've considered**
None

**Additional context**
none

[2020-09-20 21:50] igauravbhatnagar opened #213 "slide animation when the tab panels are changed"
**Is your feature request related to a problem? Please describe.**
When clicking upon tabs panels, the active tab indicator slides smoothly whereas the contents just get replaced.

**Describe the solution you'd like**
If the same sliding transition is applied to the tab contents, it would be aesthetically pleasing. a CSS part as 'Animation' can be included.

**Describe alternatives you've consider