[2021-10-29 02:01] fabricedesre commented on #571
Why can't something like `<body style="overflow: none;">` be achieved by setting a class on the body instead?

I'm checking if I can use the `sha256-XXX` CSP directives to allow the inline styles but no luck so far.

[2021-10-29 02:16] claviska commented on #571
Because the class has to reference a style that the library provides. Either we do:

[code]

…and toggle the class on the body or we set its `style=“”` directly. It doesn’t make sense to ask every user to copy an arbitrary collection of styles just to get basic component functionality to work.

This problem isn’t exclusive to Shoelace. Bootstrap, for example, [will also break](https://github.com/t

[2021-10-29 02:33] fabricedesre commented on #571
I don't understand why the `.scroll-lock` style could not be part of a regular CSS file for these kind of styles, and toggling the class on body. Users would only have to load this CSS file, like they do already for themes.

[2021-10-29 03:01] claviska commented on #571
They used to be, but folks seemed  uncomfortable with global styles so utility classes were [removed in beta.48](https://github.com/shoelace-style/shoelace/commit/d07311cf640a4643fba75ad002f1a5fda9ffde46). What was previously known as the “base” stylesheet no longer exists.

Quite frankly, it was easier to put them in a base stylesheet but that also meant every single theme must implement them.

O

[2021-10-29 03:03] fabricedesre commented on #571
I see, thanks for the explanation!

[2021-11-05 15:47] oliveratgithub opened #578 "Icons in Icon browser on shoelace.style in Dark Mode: Black on Black"
### Describe the bug
The icon browser on the «Icons» page on https://shoelace.style are hard to read when dark mode is on. Almost black on black.

### To Reproduce
Steps to reproduce the behavior:

1. Go to https://shoelace.style
2. Enable «Dark Mode»
2. Click on the «Icons» page
3. Scroll down to the icon browser
4. See that the icons are hard to read due to the contrast

### Browser / OS
 - OS:

[2021-11-05 15:54] #578 closed, assigned to claviska

[2021-11-05 15:54] claviska commented on #578
Thanks for reporting this. Quick fix, just in time for the next release! 😅

[2021-11-05 16:53] oliveratgithub commented on #578
A pleasure to my eyes now 👀👍

[2021-11-06 08:54] Zozman opened #579 "Lighthouse reports aria attributes do not match their roles in `sl-tab-panel`"
### Describe the bug
When running a Lighthouse report in Chrome on any page that utilizes a `<sl-tab-panel>` component, Lighthouse reports that `
[aria-*] attributes do not match their roles` for the component.  In particular, it reports the `<div part="base" class="tab-panel" role="tabpanel" aria-selected="false" aria-hidden="true">` div fails the test.

### To Reproduce
Steps to reproduce the be

[2021-11-07 19:24] Zozman commented on #579
FYI this is also the case for the `base` of  `<sl-avatar>` as well:

<img width="634" alt="issue3" src="https://user-images.githubusercontent.com/1192364/140658901-e64c1ac4-c983-42b6-bede-9049d1883c5f.png">

[2021-11-09 13:23] ghost opened #581 "Firefox - no styling of web components"
### Describe the bug
Under all chromium based web browsers: Chrome, Brave, Opera, etc... web component styling is ok.
Under Firefox - web components are shown but without styling.

### Screenshots

![image](https://user-images.githubusercontent.com/4516171/140931466-16f7e474-d646-4daf-a694-de822e6720b2.png)

![image](https://user-images.githubusercontent.com/4516171/140931671-e36061e2-0dda-4644-b2

[2021-11-09 14:02] ghost commented on #581
I checked under Windows 10 (Firefox 94.0.1) and there is the same problem.

[2021-11-09 14:32] claviska commented on #581
I’ll be able to look into the shortly. In the meantime, can you show me how you’re importing the theme?

[2021-11-09 14:43] ghost commented on #581
Thanks.

in html file:

[code]

![image](https://user-images.githubusercontent.com/4516171/140945140-ecfcdfab-8013-4ab6-9e0c-56de4a077855.png)

[2021-11-09 14:55] ghost commented on #581
I am switching to Manjaro to check if the issue exists there. My coworker said shoelace looks ok under Manjaro (however different Firefox version: 92)

[2021-11-09 15:10] claviska commented on #581
It's working for me with beta.58 and the latest, beta.60, in Firefox 94 on macOS.

https://codepen.io/claviska/pen/MWvXpOR

From the screenshot you posted, it looks like the design tokens are loading. I suspect this has something to do with your OS or browser preferences not matching `(prefers-color-scheme:light)`.

Do other non-Shoelace styles in a `(prefers-color-scheme:light)` query match?

[2021-11-09 15:48] ghost commented on #581
Hi, I installed Manjaro live with Firefox 94.0.1 (without extensions) and I see the same issue.

![2021-11-09-153528_3840x2160_scrot](https://user-images.githubusercontent.com/4516171/140955649-9cd062b5-4644-4a48-bb16-8ea00eca7b75.png)

Hovewer putting dark in: prefers-color-scheme:dark gives positive results:

![2021-11-09-154700_3840x2160_scrot](https://user-images.githubusercontent.com/4516171/

[2021-11-09 15:50] claviska commented on #581
This is likely due to an OS or browser setting that prevents the media query from matching. Is your system set to dark mode, auto, or something like high contrast mode?

[2021-11-09 15:53] ghost commented on #581
Yes, I think the same. Chrome is light, firefox is dark. Let me change firefox to light theme...

[2021-11-09 15:56] ghost commented on #581
Yes, confirm. I removed media attribute and now web components are with styling.

thanks for you help claviska

[2021-11-09 15:57] #581 closed, assigned to claviska

[2021-11-12 22:45] #579 closed, assigned to claviska

[2021-11-12 22:47] claviska commented on #579
Thanks for reporting this. It led to both issues being fix as well as two other improvements:

- Improved a11y of `<sl-avatar>` by representing it as an image with an `alt`
- Improved a11y of the scroll buttons in `<sl-tab-group>`
- Improved a11y of the close button in `<sl-tab>`
- Improved a11y of `<sl-tab-panel>` by removing an invalid `aria-selected` attribute

[2021-11-12 22:48] claviska commented on #579
Nope! Accessibility is an ongoing effort and this is 100% valid.

Thanks again!

[2021-11-15 16:36] claviska opened #587 "Radio group needs support for the "required"-attribute"
### Discussed in https://github.com/shoelace-style/shoelace/discussions/584

<div type='discussions-op-text'>

<sup>Originally posted by **oliveratgithub** November 13, 2021</sup>
Same as for `sl-input`: the `sl-radio-group` should support the `required`-attribute, and hence also be checked with the default validation within `sl-form`.</div>

[2021-11-16 08:08] chenshuichao opened #588 "table"
### What issue are you having?

data table is so useful when show query resultset.

### Describe the solution you'd like
grid or table control.

### Describe alternatives you've considered
https://vaadin.com/docs/latest/ds/components/grid

[2021-11-16 14:33] claviska commented on #588
Duplicate of https://github.com/shoelace-style/shoelace/issues/134. Please subscribe to that issue to track progress.

[2021-11-16 14:33] #588 closed, assigned to claviska

[2021-11-17 08:32] ErikOnBike opened #589 "Duplicate values defined for autocapitalize property of SlTextArea"
### Describe the bug
It is hardly a bug, but since no better issue type seems available ;-). The definition of autocapitalize in SlTextArea has duplicated values.

### To Reproduce
See
https://github.com/shoelace-style/shoelace/blob/bfe506dbf39a85fab0c5138714bca2f87edb3501/src/components/textarea/textarea.ts#L99-L111

### Additional information
I'm adding a PR to fix this (least I could do ;-).
Re

[2021-11-18 07:26] #589 closed, assigned to claviska

[2021-11-18 15:17] mvromer commented on #525
Not directly related to the tree shaking aspect but more on the auto-registering aspect, I've run into one scenario where component auto-registration could cause some problems. In my use case, we're exploring the possibility of designing our frontend web app using micro frontends that are developed by independent teams. I'm pushing hard internally for us to build libraries of common components bas

[2021-11-19 08:32] bunesk opened #591 "`clear-icon` slot for `<sl-select>`"
### What issue are you having?
The `<sl-input>` has a slot `clear-icon` where you can pass a custom icon for the clear icon.
The `<sl-select>` also has the attribute `clearable` but doesn't have the possibility to pass a custom clear icon.

### Describe the solution you'd like
It would be awesome if the `<sl-select>`  would also has a `clear-icon` slot where I can pass a custom icon.

[2021-11-19 13:37] #591 closed, assigned to claviska

[2021-11-19 13:37] claviska commented on #591
Fixed in 54e4c57.

[2021-11-19 13:44] claviska commented on #525
Admittedly, I was torn between auto-registration (which causes side effects) and manual-registration early on. The latter shifts a significant burden to the user by doubling the lines of code required to import components (in both vanilla and when using React wrappers) and, depending on how it's configured, requires them to register the correct tag names.

At the moment, I'm still intent on auto-r

[2021-11-19 13:47] claviska commented on #525
This isn't currently supported in Shoelace. Various internal things such as DOM traversal rely on the current tag names (e.g. when a menu looks for slotted menu items, slotted styles that target the tag name, etc.).

I'd like to make the prefix and perhaps even the full tag name customizable, but it wasn't originally planned this way and it will probably have to wait for 3.0.

[2021-11-26 09:55] brgrz opened #596 "Unable to tab through radio buttons in Firefox"
### Describe the bug

In a form, either HTML `<form>` or `<sl-form>`, we are unable to tab through radio buttons. Tabbing stops at radio button options.

### Demo

https://codepen.io/trailrun80/pen/MWvNOQp
Try it in Firefox

### Browser / OS
 - OS: Windows 10
 - Browser: Firefox 94

[2021-11-29 14:22] claviska commented on #596
Looks like the radio group needs to use a [roving tab index](https://developer.mozilla.org/en-US/docs/Web/Accessibility/Keyboard-navigable_JavaScript_widgets#managing_focus_inside_groups) to make this work properly. Basically, only the checked radio will have a tabindex so tabbing in and out of the radio group will focus the correct control.

The browser normally does this on its own when radios a

[2021-12-02 20:59] brgrz opened #598 "Align/stretch cards vertically in grid"
### Describe the bug

Cards inside a grid don't align vertically. The `sl-card` element is being stretched however the contents is not.

I tried with

[code]

but has no effect.

Also tried

[code]

which makes them equal height but leaves unwanted blank space below the footer (inside the card).

[2021-12-02 21:01] brgrz commented on #598
Right, this seems to have fixed it somewhat but the blank space is redistributed between parts

[code]

will leave issue open if there's another way anyone wants to add.

[2021-12-02 22:45] claviska commented on #598
Is this what you're looking for?

https://codepen.io/claviska/pen/MWEwGXe?editors=1100

Relevant code:

[code]

[2021-12-03 07:44] brgrz commented on #598
No, it doesn't have the desired effect. The body part is the one that's varies in height due to content and moves the footer up/down (depends on the tallest body). The only solution I found is making body the minimum required height:

[code]

[2021-12-03 13:27] #598 closed, assigned to claviska

[2021-12-06 03:52] Kimi-Gao opened #602 "The `value` prop on <SlColorPicker> doesn't work in React"
### Describe the bug
value prop on SlColorPicker does not work

### To Reproduce
Steps to reproduce the behavior:

[code]

it always uses default value "#fff" when dom has been mounted, and will changes to "#4a90e2" if updates dom.

### Demo

https://codepen.io/muwenzi/pen/bGoEwVK

### Screenshots
![image](https://user-images.githubusercontent.com/12554487/144783848-d6c3ae6c-a8c9-434b-9d44-4e0bd4e

[2021-12-06 16:55] claviska commented on #419
Thanks again for all the discussions and ideas thus far. Trying to determine the best way to move forward with localization — without being too opinionated — has been an exhausting undertaking. This is one of the last remaining building blocks before a stable 2.0 can be released.

Here's a summary of the approach I've decided to take based on feedback, discussions, and experimentations throughout

[2021-12-07 21:54] #602 closed, assigned to claviska

[2021-12-07 21:54] claviska commented on #602
Thanks for reporting this. I was able to replicate it and solve it in 68bb155. This patch will be available in 2.0.0-beta.62.

[2021-12-07 22:17] claviska commented on #419
I'm closing this since localization has been implemented. There's still work to be done to support [RTL languages](#191), but the scope of this issue is complete finally.

[2021-12-07 22:17] #419 closed, assigned to claviska

[2021-12-09 08:37] clxmstaab opened #615 "Add a link to the changelog to GitHub releases"
### What issue are you having?
we get updates of shoelace via dependabot.

the dependabot PRs only contain a commit list and are not that helpful.

### Describe the solution you'd like
it would be great the dependabot PRs would include a link to https://shoelace.style/resources/changelog.
that way one could easily identify important BC breaking changes

even better would be to have the bullet poin

[2021-12-09 08:38] clxmstaab commented on #615
see a screenshot of the current dependabot PR contents

![github com_complex-gmbh_daiber_pull_2102](https://user-images.githubusercontent.com/47448731/145362320-10d148fe-daba-4de8-9518-a53f8414a7f2.png)

[2021-12-09 14:54] claviska commented on #615
Adding a link to the changelog is probably the way to go. Releases are generated automatically using this action, so if it's possible I'd definitely accept a PR that adds the link.

https://github.com/marvinpinto/action-automatic-releases

It's worth mentioning that I curate the changelog manually. This is already a good amount of effort, so I don't have interest in manually updating GitHub releas

[2021-12-10 08:59] Kimi-Gao opened #616 "Dual thumb mode in `<sl-range>`"
### What issue are you having?

I found that `<sl-range>` doesn't support dual thumb mode that will be helpful to me, could you please consider about this feature?

### Describe the solution you'd like

looks like:
![image](https://user-images.githubusercontent.com/12554487/145545446-389da3eb-71a8-41fe-8309-170a36f09bcc.png)

### Describe alternatives you've considered
No

[2021-12-10 10:52] albertwoo opened #618 "Support inline event consume"
### What issue are you having?
In plain html doc I cannot register event like:

[code]

### Describe the solution you'd like

From the document you mentioned collisions, so can we do:
[code]

[2021-12-10 11:25] #618 closed, assigned to claviska

[2021-12-13 21:57] claviska commented on #616
This will require a refactor of `<sl-range>` since it uses `<input type="range">` under the hood. I wouldn't discount it since that would make it easier to support vertical sliders and dual thumbs. It's also not currently possible to style the thumb since that requires vendor-prefixed pseudo selectors on an element buried in the shadow DOM.

Since this is going to be rewritten anyways, might as we

[2021-12-13 22:41] claviska commented on #137
I've renamed `type` to `variant` in alert, badge, button, and tag to disambiguate between variants and other "type" attributes, such as `<sl-input type>` and `<sl-format-number type>`.

https://github.com/shoelace-style/shoelace/commit/fb20155485a9b7098ef3f470807efeb47d677367

[2021-12-14 14:25] MisterEdel commented on #191
@edit: Sorry I haven't seen the reply from @staabm

Hi I have some insights, because I'm working on a Design System at my workplace.

We changed from `margin-right` and `margin-left` to `margin-inline-start` and `margin-inline-end` so we don't need change margin in that regard.

Same for `margin-top` and `margin-bottom` with `margin-block`.

So we're relying on the browser to make the decision for

[2021-12-14 21:14] xdev1 opened #619 "Why has --sl-focus-ring-color been abandoned?"
Please see:
https://github.com/shoelace-style/shoelace/blob/125392ce570d0b44c31504664aa2f466aa459d84/src/themes/light.styles.ts#L413

The focus ring color is set to a blueish color here.
In former versions of SL we hat a dedicated CSS custom property `--sl-focus-ring-color` for that, which is more flexible if you want to override the color of the focus ring but do not want to override the complete

[2021-12-15 10:56] MathiasWP opened #620 "Nested menus/submenus"
### Describe the bug
We are frequently using the sl-dropdown component for dropdowns. We have some use cases where it would be preferable to show a new dropdown within a dropdown. The problem/bug we are trying to solve is to use the hoist-property on the inner-most dropdown. The position of the inner dropdowns content does not match the trigger when hoist is set.

### To Reproduce
See codepen belo

[2021-12-15 11:39] MathiasWP commented on #620
I've explored the popper.js library some more, and i think i've found some interesting stuff:

It seems like the calculation of the coordinates is a combination of multiple values from the [position of the trigger and its parent](https://github.dev/floating-ui/floating-ui/blob/e4bcd8559561ddb1b680f9f42e807f94f32104ec/packages/dom/src/utils/getRectRelativeToOffsetParent.ts). Moving the dropdown to

[2021-12-15 13:11] claviska commented on #620
I wouldn't use the approach you described above because, even if you get positioning nailed down, it requires an additional click to open the submenu and keyboard interactions won't work as users expect.

To do this correctly, some work needs to be done in `<sl-menu-item>` to support a nested `<sl-menu>`. I don't think more than one layer of nesting should be a requirement, as each level of nestin

[2021-12-15 13:12] #619 closed, assigned to claviska

[2021-12-15 14:26] MathiasWP commented on #620
Thank you for answering! I still mean that there are valid use cases where it makes sense to have nested dropdowns, even if it requires an additional click to open. Look at the example above from Notions menu.

![Screenshot 2021-12-15 at 14 59 50](https://user-images.githubusercontent.com/48158184/146200303-a9ba11c0-717e-41a5-a670-2bdc0db927dd.png)

The `slot="submenu"` is also a great feature, an

[2021-12-15 14:36] claviska commented on #620
Ah, yeah we're talking about two different things. Sorry for the confusion!

Regarding your CodePen, the reason it happens when you use `hoist` is that it switches to a fixed positioning strategy to "break out" of any containing overflow. However, this makes the hoisted element relative to its containing block, which is usually the viewport. However, some properties can cause this to vary. [It get

[2021-12-15 15:17] MathiasWP commented on #620
No worries, thank you for the answer! I agree that it is a gap in the platform, but isn't that what popper.js is trying to solve with the `strategy: fixed` configuration? Because even though the containing block is the viewport, they try to solve this by using `getBoundingClientRect` to get the coordinates of the container, so the correct position can still be calculated.

I may be missing somethi

[2021-12-15 15:19] Stanislav-kukarkin opened #622 "Tab group indicator aligned incorrectly when opened in a dialog"
### Describe the bug
`TabGroupIndicator` does not notice `paddings`

### To Reproduce
Steps to reproduce the behavior:

1) `TabGroup` is inside` SlDialog`,
2) Open `SlDialog`,
3) We choose not the first value
4) Close `SlDialog`,
5) We open again,
6) `TabGroupIndicator` is displaced without regard to` padding`

### Demo

[code]

### Screenshots
![bug](https://user-images.githubusercontent.com/7815

[2021-12-16 08:39] Rkaede opened #623 "Tabs broken in Vue app"
### Describe the bug
In a Vue component that renders shoelace tabs, the first instance of the component renders the tabs correctly but any additional instances has issues. Whats especially odd is that the issue only occurs in the production build. On the development server there are no issues. I thought that it might be Vue but I haven't been able to reproduce the issue with any other web componen

[2021-12-17 14:04] ErikOnBike opened #624 "Unable to programmatically set focus to SlSelect"
### Describe the bug
It is not possible to set the focus to an SlSelect using the 'default' focus() method.

### To Reproduce
Steps to reproduce the behavior:

1. Go to URL 'https://shoelace.style/components/select'
2. From the dev console execute 'document.querySelector("sl-select").focus()'
3. The first SlSelect component does NOT receive the expected focus

I've created a fix and doing a PR for

[2021-12-17 15:45] claviska commented on #623
I wasn't able to identify the cause of this in the limited time I had this morning, but I made a few observations:

- It doesn't happen outside of Vue: https://codepen.io/claviska/pen/OJxmQqW?editors=1000
- The tab panel ids are repeated, but they should be sequential.
- Interestingly, the tabs, which use the same method to generate sequential ids, are _not_ repeated.

![CleanShot 2021-12-17 at 10

[2021-12-17 15:55] claviska commented on #622
Thanks for reporting this. Here's a working CodePen for anyone who wants to investigate it. I probably won't be able to until next week.

https://codepen.io/claviska/pen/wvrdmWP

[2021-12-19 07:00] trailsnail opened #626 "`pointer-events: none;` on icons within buttons?"
### Describe the bug
Hi,
(slotted) Icons within `sl-button` or `sl-icon-button` should not catch the click on the button itself.
It is a little bit confusing, if the cursor points on the icon while you try to click a submit button.

Demo: https://codepen.io/TrailSnail/pen/WNZOGwm

1. Click the button within its default area: form will be submitted (see console)
2. Click the button with cursor on t

[2021-12-20 13:56] MathiasWP opened #627 "sl-textarea does not work when placed in sl-menu"
### Describe the bug
`<sl-textarea>` behaves weird when placed within a `<sl-menu>` component. The spacebar and enter key does not seem to work.

### Demo
Codepen: https://codepen.io/MathiasWP/pen/JjrJVbR

### Browser / OS
 - OS: Mac
 - Browsers: Safari, Firefox, Chrome-based browsers
 - Browser version: Latest

[2021-12-20 16:21] claviska commented on #627
The menu is listening to certain keys to handle keyboard navigation and such. What's your use case for having a form control inside a menu?

This can probably be fixed easily by checking the target on the key handler, but I'm having a hard time envisioning why a text area would appear within a system menu.

[2021-12-20 16:24] claviska commented on #626
That's probably the easiest workaround. Perhaps a better fix would be reworking the event listener so it accounts for the click event bubbling up from icons and anything else that might get slotted in.

Thanks for reporting this!

[2021-12-20 16:51] MathiasWP commented on #627
We rely heavily on the `<sl-dropdown>` component, because it provides a very pleasant flow for the user. We have taken a lot of inspiration from places like Notion - they also use a lot of dropdowns.

On the shoelace website, all of the examples for the dropdown component has content inside a `<sl-menu>` tag. We thought this was best practice, or maybe even necessary for it to work correctly, but

[2021-12-20 17:51] claviska commented on #627
Dropdown is designed to work closely with menus, as this is the most common use case for them. However, they can also be used as a low-level component without menus. For example, `<sl-color-picker>` and `<sl-select>` both use it internally.

[2021-12-23 16:56] claviska commented on #627
It seems like the CodePen was updated to remove `<sl-menu>` and the textarea is working as expected. I'm closing this since as a wontfix because we need special keyboard logic in menus and I don't think inputs/textareas are acceptable children of `<sl-menu>`.

[2021-12-23 16:56] #627 closed, assigned to claviska

[2021-12-23 16:56] claviska commented on #624
Fixed in #625.

[2021-12-23 16:56] #624 closed, assigned to claviska

[2021-12-23 16:57] #626 closed, assigned to claviska

[2021-12-23 16:57] claviska commented on #626
This was fixed in dd65778.

[2021-12-27 16:42] jaredcwhite opened #633 "Spinner indicator not visible in Safari in beta 63"
This is the first time I've seen the problem, not sure if it's only affected in beta 63. The animation seems to be working, but the actual indicator isn't showing, so it's just a static ring.

<img width="864" alt="image" src="https://user-images.githubusercontent.com/658496/147491101-f5bf5ca5-c731-4725-ba06-dead73dd098d.png">

[2021-12-27 16:43] claviska commented on #633
Ha! I'm literally looking at this right now. I broke it when I simplified the animation. Safari is finicky with animating SVGs, but this time Firefox is also affected.

[2021-12-27 17:24] claviska commented on #633
This seems like a Safari bug. You should see a half circle in blue: https://codepen.io/claviska/pen/poWpPbY

Actual result in Safari:

<img width="115" alt="CleanShot 2021-12-27 at 12 23 27@2x" src="https://user-images.githubusercontent.com/55639/147493984-b9ab203c-295b-4dfd-99c6-78c48aa7a0d4.png">

Note that if you remove the track width (which is in pixels) from here it works: `calc(50% - var(--

[2021-12-27 17:40] #633 closed, assigned to claviska

[2021-12-27 17:42] claviska commented on #633
I've simplified the math to use percentages. This makes it work in Safari, but it doesn't account for the track width. I think this is OK since it's only a matter of pixels and the indicator is animated anyways. It will only be noticeable with a large track width and a small radius, which doesn't really look good anyways.

[2021-12-28 12:07] oliveratgithub opened #634 "--sl-color-neutral-{n} is always 100% transparent (in light.css & dark.css themes)?"
### Describe the bug
When working with the light.css & dark.css themes, and using a color from the Neutral spectrum, it seems the color itself is always 100% transparent, hence no color change between light/dark layout is visible (it's always "white").

### To Reproduce
Steps to reproduce the behavior:

1. Set the background-color property on the <body> tag from the Neutral spectrum, either way:
[

[2021-12-28 12:19] oliveratgithub commented on #634
Erm… I just found out that it seems to work when omitting the `rgb()`…

@claviska was there a change some minor versions ago, that this enclosure for colors is not needed anymore?

[2021-12-28 12:19] #634 closed, assigned to claviska

[2021-12-28 13:47] bunesk commented on #634
This change happened in beta 61:
https://shoelace.style/resources/changelog?id=_200-beta61

[2021-12-28 14:17] claviska commented on #634
@Buni48 is correct. This change happened in beta.61.

[2021-12-30 21:33] #596 closed, assigned to claviska

[2021-12-30 21:35] claviska commented on #587
I don't think this can be done properly without hacks. For now, you can use `setCustomValidity()` on `sl-submit` to set a custom validation message. This will be possible once [ElementInternals](https://developer.mozilla.org/en-US/docs/Web/API/ElementInternals) lands, but at that point all form controls will need a bit of rework.

[2021-12-30 21:35] #587 closed, assigned to nobody

[2021-12-31 17:31] #570 closed, assigned to nobody

[2021-12-31 17:31] claviska commented on #570
I've added `valueAsDate` and `valueAsNumber` to `<sl-input>` so they'll be available in the next release.

[2021-12-31 18:11] bunesk commented on #570
Nice. Thank you and a happy new year.

[2022-01-01 01:13] CreativeTechGuy opened #636 "Add code spellchecker and fix typos"
### Describe the bug

This isn't necessarily a functional bug, but I noticed the package isn't using a spellchecker and after trying it, I found at least 23 instances of misspelled words in documentation, comments, changelog, etc. Some examples of this are `Boostrap` -> `Bootstrap`, `<sl-dropdow>` -> `<sl-dropdown>`, `styleseheets` -> `stylesheets`.

### To Reproduce
Steps to reproduce the behavio

[2022-01-01 01:21] CreativeTechGuy opened #637 "Outdated dependencies"
### Describe the bug

Not strictly a bug. But in some cases (like one currently) it can cause bug-like behavior. The current version of `prettier` for example is `2.2.1` but when installing this codebase fresh, the latest version `2.5.1` is installed because the semver matches with the `^`. There are some minor differences between these versions of Prettier which result in the codebase being refor

[2022-01-03 14:22] claviska commented on #637
Sounds good. Will this run as part of the build or something we schedule?

[2022-01-04 02:44] CreativeTechGuy commented on #637
I've always run this periodically from my local environment. I would be hesitant to have any automated checks based on outdated dependencies as odds are, every day there's probably a new version of something. Even if it created issues automatically, that'd be really noisy. For the projects I've worked on I just have a recurring task/reminder (every 2-4 weeks) to update all dependencies. And if I'm

[2022-01-04 14:28] claviska commented on #637
Thanks for clarifying. I'm OK with adding the scripts to `package.json`. I have release notes outside of the repo that I'll update to make it part of the process. For now, this is sufficient.

[2022-01-04 14:46] #636 closed, assigned to claviska

[2022-01-04 22:22] CetinSert opened #639 "`<sl-split-panel>` – consider exposing `::part(start)` `::part(end)`"
### What issue are you having?

**Expected**
![image](https://user-images.githubusercontent.com/27027/148131774-ba68336f-d197-4c3b-8b70-cd29b2c43c2f.png)

**What I get**
![image](https://user-images.githubusercontent.com/27027/148131538-ad31715d-f50e-4878-a34d-86878cbf4f96.png)

### Describe the solution you'd like
`<sl-split-panel>` exposes `::part(start)` and `::part(end)`

### Describe alternat

[2022-01-04 22:29] CetinSert commented on #639
Perhaps with `panel` added, as in: `<div class=start part="panel start">` `<div class=end part="panel end">`.

[2022-01-05 14:39] #639 closed, assigned to claviska

[2022-01-05 15:26] #637 closed, assigned to claviska

[2022-01-06 03:44] CreativeTechGuy opened #643 "Add ESLint"
### What issue are you having?

As a newcomer to the project, it's hard to figure out what the correct coding style is and best practices. When looking around the files, I see different approaches for the same thing. (eg: a few functions have explicit return types, others don't. Sometimes named functions use arrow-syntax and others function keyword. Type imports are sometimes imported with `import

[2022-01-06 07:18] brgrz commented on #596
I'm sorry but this is not working properly in FF. With tabbing the focus does move into radio group but does not progress out of it onto next form elements unless you first move with arrow key up/down and even then only in random cases.

[2022-01-06 13:29] claviska commented on #596
Please test against `next`, as this fix hasn't been released yet.

https://next.shoelace.style/components/radio

It's working for me in Firefox.

[2022-01-06 15:03] claviska commented on #643
I agree this could be better, but a balance is necessary to encourage both consistency and creativity. There's nothing worse than getting into flow with an idea and then fighting with types or linters that are so strict that they cause you to stumble. 😅

For example, I usually type things as I go, but sometimes (especially with third party types I'm less familiar with) I plow through it to make su

[2022-01-06 20:06] CreativeTechGuy commented on #643
Yup totally! I'll make sure that this doesn't impact development. This should only be enforced on commit and on PR. During development you can do whatever you want as long as it complies by the time it's done. :)

I'll try this out and see if it's easy enough to add without impacting anything. This will be TBD on implementation difficulties.

The [naming convention rule is super customizable](http

[2022-01-06 22:40] claviska commented on #643
I was thinking standardize what's there/common.

Let me know if you need anything else!

[2022-01-09 20:56] CreativeTechGuy commented on #643
Status update:

I'm still chugging away. I think there were about 2,000 errors/warnings when I started, now we are down to about 800. So definite progress being made. This is going to be a massive PR since it touches basically every file.

One weird thing that I encountered for which I'm proposing a functionality change (minor) is that the `@query` decorator only grabs the elements after the first

[2022-01-13 19:34] bunesk opened #646 "`sl-menu-item` should have different sizes"
### What issue are you having?
The `sl-select` has an attribute `size` to set the size of the select.
The `sl-menu-item` however always has the same size. In my opinion it looks a bit strange using a small select with options that are bigger than itself.

### Describe the solution you'd like
The first and more easy way to solve it would be adding an attribute `size` to the `sl-menu-item`.
In this

[2022-01-13 19:36] claviska commented on #646
Please see my comment to learn how you can achieve this with a few lines of CSS: https://github.com/shoelace-style/shoelace/issues/506#issuecomment-902868378

[2022-01-13 19:36] claviska commented on #646
And here's a relevant pen from the same comment: https://codepen.io/claviska/pen/bGWXJJm?editors=1100

[2022-01-13 19:43] bunesk commented on #646
Thank you for the very fast reply, I didn't see this ticket, I just looked if there is something within the open ones. But as I wrote I solved this problem for myself (in a very similar way as your comment). I just thought you maybe think it would be useful to have this implemented by default. If you disagree feel free to close this issue.

[2022-01-14 10:00] benopotamus commented on #292
@claviska Hello! I'm making a web site at the moment where I want it to have some similar interactions to desktop software. One of them is to have menus where some actions do something on the current page page (e.g. add a form to the page, or pop up a dialog box) while other actions take the user to a new page (so the user has lots of room to do their new function) - just like what desktop applica

[2022-01-14 14:56] #646 closed, assigned to claviska

[2022-01-14 15:05] claviska commented on #292
Menus can indeed redirect, they just can't be `<a>` links. [This section of the docs](https://shoelace.style/components/menu-item?id=value-amp-selection) shows how you can handle item selection.

To redirect when a certain action is selected:

[code]

You can also attach a listener directly to the menu item, but you'll need to account for things like its disabled state on your own if you do that.

[2022-01-15 10:22] benopotamus commented on #292
Thanks! I used event.detail.item.getAttribute('href') to grab the href attribute from the sl-menu-item.

[2022-01-15 11:40] claviska commented on #292
It’s probably better to use `data-href` since `href` isn’t a valid attribute for menu item.

[2022-01-17 04:49] CreativeTechGuy opened #648 "BrowserSync opens a new tab every time"
### What issue are you having?

Whenever I'm working on this package, I end up having to stop and restart the BrowserSync server a few times. Each time it restarts, a new tab opens. I either end up with several of the Shoelace docs site open at once or have to manually close the tabs each time I restart.

### Describe the solution you'd like

I'd like the build for this package to be configured su

[2022-01-18 09:45] benopotamus opened #650 "<sl-select> disable text wrap property or expose select__label in control part"
### What issue are you having?
I have an sl-select where the sl-menu-items can be wider than the sl-select width (I have the sl-select inside an sl-card and am constrained for space). Current sl-select behaviour is to display a horizontal scrollbar when choosing from the sl-select list.

### Describe the solution you'd like
Option 1) Ideally, have a property for sl-select that allows the developer

[2022-01-18 14:22] #643 closed, assigned to claviska

[2022-01-19 13:40] #648 closed, assigned to claviska

[2022-01-19 13:58] claviska commented on #643
Just a heads up...I noticed form controls were rendering strangely (notice the extra margin on top):

<img width="857" alt="CleanShot 2022-01-19 at 08 48 55@2x" src="https://user-images.githubusercontent.com/55639/150143968-429cbb6a-f5e0-4862-b223-39cf674446f8.png">

I traced it to this code in `src/internal/form-control.ts`:

[code]

The original code looked like this:

[code]

They aren't equiva

[2022-01-20 02:11] CreativeTechGuy commented on #643
Oh no! I feel awful. I assure you that the motivation for these changes was to make it better and safer, not worse. I apologize. I'm sorry you've had to revert a good portion of it. Let me know if there's anything you need from me.

[2022-01-20 02:32] claviska commented on #643
No worries. It was only two or three rules and a handful of associated lines. Everything else is fantastic!

I didn’t write this to chastise your efforts. I figured it would be worth mentioning to make future refactors (here or anywhere you contribute) more smooth. And also in case you were wondering why the affected lines got reverted.

You’ve nailed a few really solid PRs and I’m very thankful f

[2022-01-22 15:05] ianpurton commented on #571
This caught me out as well when trying to tighten up my CSP.

So currently I have to open up the CSP for Shoelace.

[code]
It's the unsafe-inline which is the issue and is considered a security risk, which means it will get flagged in a Pen Test.

[2022-01-22 16:38] claviska commented on #571
Again, if your CSP restricts inline styles it will block both `<style>` and `<div style="">`, so the only viable option is to use classes and provide the utility styles in a separate stylesheet. We can probably import utility styles from the light and dark themes to work around that, but there are other instances of `style=""` inside components that the library uses.

For example, [the image compa

[2022-01-22 17:47] fabricedesre commented on #571
I think that even with the CSP blocking instances of `style=""` inside components, you can replace that by JS code using the style properties (like `elem.style.width = "40px"`) instead.

[2022-01-22 18:30] claviska commented on #571
It's less about _how_ to work around it and more about _why_ is there a need to work around it? IMO a blanket policy against all inline styles is too restrictive. It makes it harder to author components and harder for contributors because something very common and expected is now suddently an antipattern. 😕

CSPs should (if they don't already) allow more granular settings so as to only block prope

[2022-01-22 19:01] claviska commented on #571
Possibly some good news here. @fabricedesre is right in that [setting the `style` property is allowed](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/style-src#examples) (despite it being reflected, which is strange to me). While I still have reservations about the heavy-handedness of this CSP rule, I don't think it affects inline styles in Shoelace templates bec

[2022-01-23 12:08] threeseed opened #654 "Tag or "chip" input"
### What issue are you having?
There is a tag component but not a built-in way to create them.

### Describe the solution you'd like
I would like a Shoelace equivalent of this: https://olahol.github.io/react-tagsinput/
Based on a combination of the Input + Tag components.

[2022-01-23 13:08] bunesk commented on #654
The `sl-input` provides you the slots `prefix` and `suffix`. Doesn't this already solve your problem?
https://codepen.io/buni48/pen/yLzmwap

[code]

[2022-01-24 07:31] threeseed opened #655 "Help text for all form controls"
### What issue are you having?
Help text exists for Input controls.

But often in forms you will use checkboxes, switches, selects etc. and so you will often need similar help text.

### Describe the solution you'd like
Exactly the same grey help text as the Input field in the same location i.e. below the control.

[2022-01-24 10:04] ianpurton commented on #571
You're right, every web component tutorial I have seen so far uses this pattern.

If I set my CSP to

[code]

Then my whole site is immune to both XSS and CSS injection. The style property could *not* be set by reflected code as the JavaScript would not be unsafe-inline.

This is then a really nice defence in depth for the whole site as if I forget to sanitize even one input I am still protected.

[2022-01-24 13:18] claviska commented on #654
This could probably be composed as suggested above, but that doesn't turn it into a form control. Baking in the ability to manage a collection of values and validity like other form controls would be pretty useful.

[2022-01-24 13:20] Xyz3R opened #656 "Progress Ring radius calculation: High track-width results in ring getting smaller"
### Describe the bug
The progress ring gets smaller with increasing track-width values. At some point it disappears completely.

### To Reproduce
Use a high --track-width on a progress ring.

### Demo

https://codepen.io/xyz3r/pen/yLPBzBL?editors=1000

### Screenshots
see codepen.

### Browser / OS
- all

### Additional information
I found that the radius for the track is calculated the wrong way:

[2022-01-24 13:32] #656 closed, assigned to claviska

[2022-01-24 13:32] claviska commented on #656
Good catch, and thanks for the fix. I've updated it in fd43cb4 and verified the size remains the same.

[2022-01-24 19:25] straversi commented on #559
👋  Hi, I *super* appreciate the time spent looking into this, and definitely see problems that are blocking this.

I'm starting a new Lit project today, and as sad as it makes me (I *love* Shoelace), I can't justify shipping two copies of Lit.

So at least for me, this issue is blocking Shoelace usage at all for me going forward as long as I'm using Lit.

Again, LOVE shoelace, just wanted to add 2

[2022-01-24 20:32] MartinKolarik commented on #559
This is the most versatile solution (and used by most packages). It should work with the CDNs and allow sharing dependencies at the same time. We're still considering adding a raw/unbundled mode to jsDelivr but even if we do, bundling your own code and keeping other dependencies external might give you better performance.

[2022-01-24 22:33] claviska commented on #655
Would you expect this to be a component, or part of an optional core stylesheet (see #413 for details)?

[2022-01-24 22:41] threeseed commented on #655
@claviska  .. No I would expect this to be an additional "help-text" attribute/slot exactly like Input:
https://shoelace.style/components/input

[2022-01-24 23:01] claviska commented on #559
I haven't been able to come up with a _best of both worlds_ solution, short of shipping two completely different packages.

[From this thread](https://github.com/jsdelivr/jsdelivr/issues/18337), @justinfagnani writes:

This concerns me because, if I ship bare specifiers for deps and go back to using the `/+esm` routes on jsDelivr, it's not clear what singletons in those deps will be borked from mo

[2022-01-24 23:06] claviska commented on #655
It's worth noting that this is already possible for `<sl-input>`, `<sl-textarea>`, `<sl-select>`, and `<sl-range>`. I'm not sure it makes sense to bake help text into radios and checkboxes, but I'll leave this open for voting with 👍 and 👎.

[2022-01-24 23:19] MartinKolarik commented on #559
Note that AFAIK, Skypack uses more or less the same approach as jsDelivr - 1 bundle per package. The unpkg's not bundling approach is the only way to ensure everything works 100% correctly but it doesn't scale. One package can have hundreds of files. When that turns into hundreds of requests, even with HTTP2/3 and preloading, it's quite slow (we have a benchmarking tool at https://www.jsdelivr.com

[2022-01-25 05:29] straversi commented on #559
Would it be weird to ship the unbundled version in the same package, just in a separate directory?

If I discovered I could import from `shoelace-style/shoelace/unbundled`, it wouldn't bother me personally from a dev-x perspective.

[2022-01-25 06:01] justinfagnani commented on #559
The problem there is the hazard of ever worse duplication. If an ecosystem of 3rd party components that compose Shoelace grows up, some could import the bundled version, and others the unbundled. You could get errors on registering custom elements and code duplication of more than just Lit.

Of course a 3rd party extension would highlight the problems with bundling anyway. If they bundled Shoelace

[2022-01-25 22:09] #571 closed, assigned to claviska

[2022-01-25 22:18] claviska commented on #571
I've updated the way theme files are maintained so they're raw CSS instead of Lit stylesheets. This was necessary because the [magic that was producing the raw CSS before](https://github.com/shoelace-style/shoelace/blob/4fdc5aa55f0d4100704773ac2774a25b5d3f983e/scripts/make-css.js#L24-L32) didn't allow for interpolation. To do this properly would have required a lot more complexity than I care to a

[2022-01-25 22:19] claviska commented on #571
Forgot to mention: this will be available in the upcoming 2.0.0-beta.65 release.

[2022-01-25 22:28] claviska commented on #571
I'm posting this here for prosperity. This was an alternate approach for the `make-css.js` script that kept themes as `*.styles.ts` files and generated `*.css` files from those modules.

I wasn't able to import the styles into Node because Lit requires a browser. I wasn't able to mock the necessary browser APIs using JSDOM for whatever reason. I ended using an Express app + Puppeteer to resolve th

[2022-01-26 02:39] threeseed commented on #655
It might make sense for help text to be its own component then you can add it to any of the Shoelace controls.

[2022-01-26 15:04] claviska commented on #559
Understood, and while Shoelace has a small number of dependencies, I understand that many projects do not so this would result in a TON of undesirable HTTP requests.

This isn't an easy problem to solve, but maybe a custom property in `package.json` could allow authors choose to how jsDelivr bundles their modules. I'd be OK with an "all or nothing" option or something more granular, e.g. "don't du

[2022-01-26 15:38] oliveratgithub opened #657 "Use Lucide Icons instead of Feather Icons"
I recently found out that the [**Feather icons** projects seems to have been abandoned/stalled](feathericons/feather/issues/1126#issuecomment-1017703649); and a new Fork evolved which is actively developing the open source icons project under a new name: **Lucide icons**.

* Web: https://lucide.dev/
* GitHub: [lucide-icons/lucide](https://github.com/lucide-icons/lucide)

Hence I would suggest repl

[2022-01-26 15:56] MartinKolarik commented on #559
I think this is possible to some extent even now because we apply `browser` [field mappings](https://github.com/defunctzombie/package-browser-field-spec#replace-specific-files---advanced), which can change internal paths to external modules, and also the new `imports` field (https://nodejs.org/dist/latest-v17.x/docs/api/packages.html#subpath-imports), which can do the same (this one is newer and b

[2022-01-31 15:22] claviska commented on #657
Feather doesn't appear to be abandoned, although I sympathize with the lack of responses to issues and PRs. I'm not opposed to switching it out for Lucide, but Feather ships their SVGs as [part of the dist](https://www.jsdelivr.com/package/npm/feather-icons?path=dist%2Ficons) while [Lucide does not](https://www.jsdelivr.com/package/npm/lucide?path=dist).

I can't find a package on jsDelivr that of

[2022-01-31 15:22] #657 closed, assigned to claviska

[2022-01-31 15:29] oliveratgithub commented on #657
Thanks for looking into it. Good to know

[2022-01-31 15:35] claviska commented on #657
Finally found them in this package: https://www.jsdelivr.com/package/npm/lucide-static?path=icons

Based on the activity, additional icons, and consistent quality (upon briefly reviewing) in Lucide, I'm happy to make this update for the next beta release.

[2022-01-31 15:43] claviska commented on #657
Updated in 7a764f51ec82f4a1e78a071aa32d470c900cee5f on the `next` branch. You'll be able to preview it here in a minute or two. https://next.shoelace.style/components/icon

[2022-01-31 15:48] oliveratgithub commented on #657
Sweet! 👏

[2022-01-31 21:59] shaal opened #658 "<sl-details disabled> can open/close when using keyboard navigation with screen reader"
### Describe the bug
When using `disabled` attribute in `<sl-details>` component, and the screen-reader (Voice Over) is on, you can navigate to the component and open/close it even that it is disabled.
[code]

### To Reproduce
Steps to reproduce the behavior:

1. Go to https://shoelace.style/components/details?id=disabled
1. Click on the arrow of the disabled example, and it works as expected - it

[2022-01-31 22:36] jasonchrista opened #659 "Cherry-Picking Select Broken"
### Describe the bug
The select element isn't functioning or styled correctly when cherry-picking it. I tried though webpack and through the CDN.

### Demo

https://codepen.io/megaman821/pen/OJOMoey

[2022-01-31 22:40] claviska commented on #659
You’ll need to import `<sl-menu-item>` as well, since menu items aren’t technically dependencies of the select control. (They’re not used in it’s shadow root, only slotted.)

[2022-02-01 02:27] #659 closed, assigned to claviska

[2022-02-01 02:35] jasonchrista opened #660 "sl-select multiple does not parse an array for the attribute value"
### Describe the bug
There is no way to pass an array as a value to sl-select in HTML.

`<sl-select multiple value="1"></sl-select>` works.
`<sl-select multiple value="[1,2]"></sl-select>` does not work.

The [lit documentation states](https://lit.dev/docs/components/properties/#conversion-type) things declared as an array will be parsed with `JSON.parse`, but since the type is `string | Array<str

[2022-02-01 13:59] claviska commented on #660
This is intentional. Array values must be passed using properties instead of attributes. I've recently noted this in the upcoming release for clarity: https://next.shoelace.style/components/select?id=multiple

The trouble with allowing arbitrary arrays isn't evident with simple values such as `[1, 2, 3]`, but more complex values must be encoded and escaped. Lit's converter uses `JSON.parse()` for

[2022-02-01 13:59] #660 closed, assigned to claviska

[2022-02-01 14:19] #658 closed, assigned to claviska

[2022-02-01 14:20] claviska commented on #658
Thanks for reporting this. It was fixed in fbec7bd and will be available in the next release.

[2022-02-01 14:29] claviska commented on #650
Hi! This is already possible by targeting the `tags` part.

[code]

Example: https://codepen.io/claviska/pen/QWONyjL?editors=1000

When wrapping is disabled, the tags container scrolls horizontally. I generally wouldn't recommend it to be used this way, hence the default behavior, but it's definitely possible if you need to.

[2022-02-01 14:29] #650 closed, assigned to claviska

[2022-02-01 14:30] claviska commented on #521
This is still a want, but I'm going to close it since it ultimately relies on the CDN and isn't within my control.

[2022-02-01 14:30] #521 closed, assigned to claviska

[2022-02-01 14:32] jasonchrista commented on #660
Thanks for your reply. Dealing with `JSON.parse()` errors is definitely a thorny issue. I just so happen to be using Shoelace in vanilla HTML to have consistency between traditional server-rendered forms and new React forms, but as you noted there are workarounds.

[2022-02-01 14:37] claviska commented on #472
For 2.0, and due to lack of cross-browser support for [`ElementInternals`](https://developer.mozilla.org/en-US/docs/Web/API/ElementInternals), I'm, calling this done.

The `<sl-form>` component was recently removed and [all Shoelace form controls submit with `<form>`](https://shoelace.style/getting-started/form-controls) as expected now. They also support the [constraint validation API](https://de

[2022-02-01 14:37] #472 closed, assigned to claviska

[2022-02-01 14:38] claviska commented on #536
This is stale now that [`<sl-form>` has been removed in favor of `<form>`](https://shoelace.style/getting-started/form-controls).

[2022-02-01 14:38] #536 closed, assigned to claviska

[2022-02-01 14:45] claviska commented on #660
One thing you can do to ease the pain is create a convention and a script that does the work for you. If you're using PHP, for example:

[code]

Then on page load, so something like this (raw and untested):

[code]

You could probably generalize it further to cover other controls/properties, but that's the idea.

[2022-02-01 14:47] claviska commented on #296
The list above is a bit stale, as more tests have been added. This is still an important step to getting to 2.0 stable. If anyone has bandwidth to help add some tests, I'd greatly appreciate it! 💙

[2022-02-01 14:51] claviska commented on #623
This seems related to the Vue + Icon issue mentioned here (the first one works, subsequent ones do not): https://github.com/shoelace-style/shoelace/discussions/628

Nobody was able to provide a repro, though. Can you try adding `v-once` to the affected components to see if they start working? If so, would you mind submitting a minimal repro with just Vue + Shoelace so we can narrow this one down?

[2022-02-01 15:43] shaal opened #662 "Double-clicking <sl-details> creates a new state of collapsed panel with chevron of expanded status"
### Describe the bug
A bug is _a demonstrable problem_ caused by code in the library. Please provide a clear and concise description of what the bug is here.
When `<sl-details>` is expanded, double-clicking on it creates a new state, where the arrow display the expand state, but the panel is actually collapsed.
The next click "close" the panel (you only see the chevron rotates), and the next click

[2022-02-01 21:46] benopotamus commented on #650
Hello! Thanks @claviska! Will targeting the `tags` part also target `select__label`? I had a go using the codepen you provided but it didn't affect text. This codepen demonstrates the problem https://codepen.io/benopotamus/pen/oNoxGwR.

Tags wrapping by default makes sense to me, what I would like is to have regular text wrap as well - either by default or with some extra CSS.

[2022-02-01 21:51] claviska commented on #650
It will not, but you can do something like this if you want it to stretch to the minimum length of the content:

[code]

Note that the `label` part refers to the label that gets rendered above the control, not the internal `.select__label` element.

[2022-02-01 22:00] benopotamus commented on #650
I have the sl-select inside a card so ideally the text would wrap instead of expanding the sl-select. I updated the codepen with the kitty sl-card :-D https://codepen.io/benopotamus/pen/oNoxGwR

[2022-02-03 13:30] claviska commented on #650
Got it. I've added a part called `display-label` that allows the label to be targeted. I prefer this over an attribute because it's more "at your own risk."

I personally wouldn't suggest doing it, as it makes the control shift when a longer item is selected. (I realize this is how `<sl-select multiple>` works but I'd argue it's more expected because you're adding tags vs. selecting a single optio

[2022-02-03 13:32] claviska commented on #650
The relevant commit is: 271ae9a36a55bf7f526ee6426bd1ab939648d1e7

[2022-02-04 11:12] benopotamus commented on #650
Awesome! Thanks @claviska

[2022-02-06 20:06] brgrz commented on #596
I can confirm this working in FF but there's an JS error now in Chrome console

[code]

This could be related to Chrome tabIndex issue but not neccessarily.

[2022-02-08 06:37] threeseed opened #665 "Popover"
### What issue are you having?
I would like a popover component which is a cross between a Tooltip and a Card but has some differences:

1) It would have HTML as the primary content as opposed to a string
2) It would default to the standard grey/plain colour
3) It would have an optional header and footer

### Describe the solution you'd like
Something similar to a [Bootstrap popover](https://getbo

[2022-02-08 12:16] claviska commented on #665
Duplicate of #104. Please subscribe to that issue to track this feature.

[2022-02-08 12:16] #665 closed, assigned to claviska

[2022-02-09 23:17] calebwoods opened #666 "FormDataPolyfill beta64 breaks webpack build"
### Describe the bug
This bug causes an issue trying to install the latest beta64 in Rails/Webpack environment.

Tracing the error it seems to be related to this new FormDataPolyfil that was introduced in beta64. Specifically this line https://github.com/shoelace-style/shoelace/commit/33afecf7da80fc5a1c7f3e385ea4c2ca0efccd4e#diff-c91850d5769c47753bcfba7194f46b93902d7ae3b5c22bc5a2261b4b55023685R66

[2022-02-09 23:19] claviska commented on #666
This will probably need a webpack config or an example repo to reproduce. Are you able to provide one?

[2022-02-09 23:31] calebwoods commented on #666
Here ya go https://github.com/calebwoods/shoelace_bug just stock Rails 6.1.x app with Shoelace beta64 installed according to the instructions in the site. If I downgrade to beta63 everything works as expected.

[2022-02-10 04:06] thdoan commented on #466
Hi, I noticed this issue has been closed, but people are still seeing lags in Chrome -- is this the current status?

[2022-02-10 13:37] claviska commented on #466
[This commit](https://github.com/shoelace-style/shoelace/commit/1c8a3ea7d245c5520567b09e48a6e50ff3315a7e) significantly improved performance, and I was under the impression the remaining issue was the linke bug. If there's still a noticeable lag that's unrelated, please file a new bug with a repro so I can take a look.

[2022-02-10 13:56] #666 closed, assigned to claviska

[2022-02-10 13:57] claviska commented on #666
I couldn't get the repo to run locally, but I'm 99% sure this is solved in a57526a0ffd8148594aae40618b89061d18a5dea. The problem is that it's being executed before `document.body` exists, so checking the ready state should cover all scenarios. If this doesn't solve it for you, please post an update and I'll reopen.

[2022-02-10 14:17] WickyNilliams commented on #666
Good catch, `document.body` is not defined in `<head>`.

I think this is why i didn't actually call the `polyfillFormDataEvent` function in my original code: I left for users to do whenever makes sense. But this seems like a reasonable approach if you always want the polyfill applied and not burden users with it

[2022-02-13 21:51] claviska commented on #622
Fixed in #671

[2022-02-13 21:51] #622 closed, assigned to claviska

[2022-02-14 11:09] bunesk opened #674 "<sl-range> allows values that conflict with min/max/step"
### Describe the bug
If I assign an invalid value to a shoelace element it can happen that the value of the shoelace element is different to the inner input element.

For example if I set the `step` to `2` in a `<sl-range>` and try to assign `3`, the value of `<sl-range>` stays `3` but the `<input type="range">` within gets the value `4`, because this element automatically assigns the next  valid

[2022-02-14 15:35] claviska commented on #674
I don't believe there's a way to track programmatic changes to native form controls without overloading the `value` propery with a custom getter/setter. I'm not really interested in doing that unless it's necessary to solve a critical bug.

That said, you shouldn't be referencing shadow rooted controls, and you should consider the Shoelace control's `value` the source of truth. Controls within a s

[2022-02-14 16:08] claviska commented on #662
Fixed in #672

[2022-02-14 16:08] #662 closed, assigned to claviska

[2022-02-14 17:32] bunesk commented on #674
The problem is not that I want to reference the shadow rooted controls, the problem is that they decide what the user will see.
In my second example this is not really a problem because assigning text to a number input doesn't make any sense.

The first example however causes the problem that the value the user sees differs from the one the shoelace control haves. If I assign the value 26 to a `sl

[2022-02-14 23:04] claviska commented on #674
This seems to be more of a problem with `<sl-range>` accepting invalid values. There aren't any guards in place that enforce min/max/step, which I think is a reasonable bug to report.

I'll update this issue to reflect that. It wasn't clear my first time looking at your example.

[2022-02-14 23:15] #674 closed, assigned to claviska

[2022-02-15 10:25] bunesk commented on #674
Yeah, sorry for the confusion I made with the second example. This issue with `sl-range` was the main thing I had. Thank you for solving this that quickly.

[2022-02-15 13:17] claviska commented on #120
Most of the benefits these components offer seem to be better implemented with flexbox and/or CSS grid. Closing due to age and low vote count, and so I can focus on other priorities.

[2022-02-15 13:17] #120 closed

[2022-02-15 13:18] claviska commented on #467
Closing as a duplicate of #101.

[2022-02-15 13:18] #467 closed, assigned to claviska

[2022-02-15 13:19] claviska commented on #400
Closing due to age and low vote count. This is probably out of scope for version 2 of the library, and I need to focus on other priorities.

[2022-02-15 13:19] #400 closed, assigned to claviska

[2022-02-15 13:20] claviska commented on #352
This is probably a composition of multiple primitives. I'm closing the request due to age and low vote count. This is probably out of scope for version 2 of the library, and I need to focus on other priorities.

[2022-02-15 13:20] #352 closed, assigned to claviska

[2022-02-15 13:29] claviska commented on #190
Closing this as the original request is too generic, and toolbars can be created with buttons, button groups, and/or icon buttons. Example from the docs: https://shoelace.style/components/button-group?id=toolbar-example

[2022-02-15 13:29] #190 closed, assigned to claviska

[2022-02-15 13:34] claviska commented on #525
I'm closing this as it's getting stale and there's no clear path forward. Currently, you can load the entire library through `shoelace.js` or cherry pick individual components from their respective path. I'm following Lit's recommendation to auto-register for the time being.

I believe the main complaint herein will be solved with import maps, so please subscribe to #517 if you're interested in th

[2022-02-15 13:34] #525 closed, assigned to claviska

[2022-02-15 13:39] claviska commented on #101
I've been experimenting with `<sl-calendar>` as a date picker primitive in the [`calendar`](https://github.com/shoelace-style/shoelace/tree/calendar) branch.

Preview: https://shoelace-7gqkj2lyo-shoelace.vercel.app/components/calendar

There's also activity in the Lit community to build a similar primitive based on [Duet Date Picker](https://github.com/duetds/date-picker), so that may be a candida

[2022-02-15 17:13] ChiSamurai commented on #328
I'm digging around that thing for some week now, trying to get IntelliJ to autocomplete the SL component and I had no luck on trying to achive it with the custom-elements.json provided by the SL package. Indeed I have not found any hint about IntelliJ really does support them so I don't really think this issue is fixed/closed :-)

After some research I found [https://github.com/runem/web-component

[2022-02-15 19:55] claviska commented on #328
I'd rather massage `custom-elements.json` into something WebStorm understands rather than introduce a second, competing analyzer. Better yet, I was under the impression that they were adding support for this emerging standard. Are they just not there yet?

Same, and I have no idea what `web-types.json` is supposed to represent, but I'm betting all of the required information is already present in

[2022-02-15 22:22] carneloot commented on #328
From what I know, `web-types.json` is a standard the JetBrains team created to add support for web-components. Initially I was trying to generate this file the same way `custom-elements.json` is generated, but there wasn't enough information on the web  `web-types.json` so that I could complete it (or I'm just dumb, one of the two).

Also, around the time I was doing this, they launched a Q&A wher

[2022-02-15 23:57] claviska opened #679 "Collapsing a Details within a Drawer closes the Drawer"
### Discussed in https://github.com/shoelace-style/shoelace/discussions/678

<div type='discussions-op-text'>

<sup>Originally posted by **modmuss50** February 15, 2022</sup>
Hello!

I am using react to create an `SlDrawer` that contains a number of `SlDetails`, following the example code provided in the documentation this works well untill collpasing the details pane. When collpasing the details

[2022-02-16 00:01] claviska commented on #679
This will affect dialog, dropdown, drawer, and potentially other components that listen for the same event(s).

[2022-02-16 13:51] claviska commented on #679
Turns out this isn't a bug in Shoelace, but the React example in the docs is written a bit loose for brevity. The solution is to check the event target to make sure the emitting element is the drawer/dialog.

https://codepen.io/claviska/pen/zYPPRaL?editors=0010

[2022-02-16 13:57] claviska commented on #679
Note that you don't _need_ to do this with a ref, but it's the most reliable way. You could also do this:

[code]

But if you have nested drawers, this would also misfire.

[2022-02-16 13:57] #679 closed, assigned to claviska

[2022-02-16 14:55] ChiSamurai commented on #328
Thanks for your replies. I decided to asked the official JetBeans support about the support of `custom-elements.json` and got an [answer](https://intellij-support.jetbrains.com/hc/en-us/community/posts/4423529546002-WebComponents-custom-elements-json-support-i-e-autocompletion-):

So it's not in there yet and waiting for a year now. So I put some effort in the massage :-) See here:
https://github.

[2022-02-16 15:35] claviska commented on #328
That's a clean implementation, and much less expensive than running a second analyzer. I'd accept a PR for it, but I don't have the ability to test it.

Can anyone using WebStorm verify that this is working as intended? Are you seeing all elements and attributes/values that you're expecting to see with it in your IDE now?

[2022-02-16 16:48] ChiSamurai commented on #328
Great :-) So I'll open a PR for that. It at least calmed the linter and offers the values for attributes as well as the event bindings for Angular. But since this is my very first contact as well with shoelace as with web components at all it surely would be helpful if somebody else can verify the functionality.

[2022-02-19 00:22] SabineWren opened #685 "Dropdowns overflow without scrolling"
### Description
Dropdowns with long panels (length >75vh) get cut off when placed in the middle of the page.

### Demo
The official docs already demonstrate this bug if you reduce viewport height. Just shrink the browser window or open dev tools.

### Screenshots
![1-short](https://user-images.githubusercontent.com/18298014/154777280-d591978a-6ea8-40dc-956a-0d0bae3ce597.png)
![2-tall](https://user

[2022-02-19 18:29] claviska commented on #685
Can you create a CodePen example of this? I'm having trouble replicating it in the docs.

[2022-02-19 18:45] claviska commented on #685
Looking at this more, I think I know what you mean, but I'm not sure I'd consider it a bug. Basically, Popper.js is used to position the dropdown above or below the anchor based on available space. It will flip as the viewport changes.

![CleanShot 2022-02-19 at 13 39 38](https://user-images.githubusercontent.com/55639/154814490-747aa8ff-6345-42d4-82d3-27e50da5f0d3.gif)

This means sometimes the d

[2022-02-19 18:45] #685 closed, assigned to claviska

[2022-02-20 02:04] SabineWren commented on #685
[Floating UI](https://floating-ui.com/) has an ideal fix for this; see their 'Size' demo. It updates the max-height based on available space, letting the user scroll to any item in the dropdown without the developer having to customize each dropdown.

Shoelace's hard-coded height of 75vh means some dropdown items become inaccessible to the user when panel height > 75vh. If the app developer notice

[2022-02-20 08:34] DeadWisdom opened #686 "Establish a pattern of using parts for state to improve targeting in CSS"
I'm having a hard time styling the focus state of an sl-input. By default, shoelace gives focused input bases a box shadow (--sl-focus-ring) but that can sometimes cause weird results. For instance, I have some inputs lined up next to each other and unlike an outline, the drop shadow gets clobbered by an overlapping element:

<img width="744" alt="Screen Shot 2022-02-20 at 2 22 53 AM" src="https:/

[2022-02-20 16:31] claviska commented on #686
This is a question of targeting states and that pattern hasn't yet been established within Shoelace. I had high hopes for the `:state` selector, but that never came to fruition.

A common alternative I've seen is using parts for this:

[code]

But this never felt right to me because the dash is already used as a delimiter for longer part names and I think it will get confusing quickly. Today, [I e

[2022-02-20 16:35] claviska commented on #686
I should have mentioned that I don't want to use properties for this. Attributes/properties are used almost exclusively for read/write APIs and parts are a readonly API. They seem much more appropriate for this use case.

[2022-02-20 21:48] DeadWisdom commented on #686
This all makes sense. It strikes me as slightly pedantic to eschew attributes since they are read/write, and I question if practicality might be better here, but I admire the long game of keeping that distinction.

For what it's worth, I prefer BEM style: `<input part="control control--focus">`

It indicates to me that 'focus' is an augment of the control. Meanwhile, the escape in `control\:focus`

[2022-02-21 01:15] threeseed opened #688 "Autofocus doesn't work consistently within Dialog"
### Describe the bug
So the issue manifests differently on Safari versus Chrome.
But the ideal behaviour is that whenever a Dialog is opened the input field should be focused.

## Safari

1. Refresh page. Input field is focused.
2. Click on "Open Dialog" button.
3. Input field is focused.
4. Close dialog and click on "Open Dialog" button again
5. Input is not focused.

## Chrome

1. Refresh page.

[2022-02-21 01:35] SabineWren commented on #688
I think you want the [sl-initial-focus event](https://shoelace.style/components/dialog?id=customizing-initial-focus).

[2022-02-21 01:37] threeseed commented on #688
@SabineWren  .. That doesn't work properly in Safari 15.3

Clicking on Open Dialog once sets the focus. Closing the dialog and clicking again does not.

[2022-02-21 01:40] threeseed commented on #688
I think even if there is an sl-initial-focus event maybe it should automatically set focus to any elements with autofocus field e.g.

[code]

[2022-02-21 01:41] claviska commented on #688
For dialogs and drawers, you can use the `sl-initial-focus` event for a consistent experience. This ensures the input receives focus at just the right time and works in tandem with the show animation. Here's an example in the docs:

https://shoelace.style/components/dialog?id=customizing-initial-focus

I wouldn't expect autofocus to work automatically when a custom modal opens. Despite MDN hinting

[2022-02-21 01:44] claviska commented on #686
How do you feel about an underscore instead?

[code]

I agree. I like it better, but I don't like that users will have to use an escape character. The underscore or the double dash feels more appropriate here.

[2022-02-21 01:46] threeseed commented on #688
Happy to just use the example provided.

But something is definitely wrong with it on Safari 15.3 (have tried with two computers).

If you keep clicking Open Dialog, closing and clicking again it seems to intermittently not work (timing issue ?).

[2022-02-21 01:48] threeseed commented on #688
Also is it worthing adding a comment to the autofocus attribute on Input e.g. "Unsupported with sl-dialogs" ?

[2022-02-21 01:54] threeseed commented on #688
https://user-images.githubusercontent.com/657041/154876298-0fec1a3c-80db-404b-8aa5-7838a1ee333b.mov

[2022-02-21 02:18] #688 closed, assigned to claviska

[2022-02-21 02:21] claviska commented on #688
I was able to reproduce this. You have to click on the dialog (outside of the input) when it's open and then dismiss the dialog. The next time you open it, it won't receive focus using the example linked above. This only happens in Safari.

I was able to fix it by waiting for the next frame a517a8038f4917b681e190e9f085582dc7e4c3a5. This shouldn't have any ill effects on other browsers, and I can c

[2022-02-21 02:23] claviska commented on #688
Is this a common expectation? I haven't seen a precedent of autofocus working with modals, native or not. I just tried Bootstrap too, as their modals are established and well-tested, and a standard `<input autofocus>` didn't gain focus when the dialog opened.

[2022-02-21 02:33] threeseed commented on #688
@claviska  .. I am not really involved with the web developer community so not sure.

But if I am the only one complaining then it must just be me 😀 .. Thanks for fixing this. Really appreciate it.

[2022-02-21 02:44] claviska commented on #688
On second thought, this is pretty inexpensive and convenient solution. Aside from fixing that bug, I also added support for arbitrary elements with `autofocus` to dialog and drawer in 946fcf2b254cfc64b2552f0d55c43006dbfa9710.

It is kind of nice to have a fully declarative way to set focus. I added a note to the docs in 0922ee202ad3eb96c17812b9b72444a109bff88a.

[2022-02-21 02:47] claviska commented on #685
I'll keep that in mind. I plan on updating when Floating UI becomes a bit more mature. Unfortunately, it looks like this isn't as easy with Popper.js.

[2022-02-21 09:21] Webbanditten opened #689 "Danish base translations"
### What issue are you having?
There's not danish translations

### Describe the solution you'd like
That there is some basic danish translations to start off with.

### Describe alternatives you've considered
Creating my own translations and not contributing back.

[2022-02-21 11:18] threeseed opened #691 "Prevent drawer close as attribute"
### What issue are you having?
Given that Shoelace is still under active development it would be nice to not have to maintain code that could potentially change at some point. An example of this is the [prevent drawer close](https://shoelace.style/components/drawer?id=preventing-the-drawer-from-closing) feature.

### Describe the solution you'd like
It would be nice if there was an attribute calle

[2022-02-21 11:54] SabineWren opened #692 "sl-divider gradient support"
sl-divider uses a border, which only supports solid colour. By setting the width/height, and overriding its flex properties, sl-divider can support gradients without changing its API. Should I make a pull request?

![gradient-divider](https://user-images.githubusercontent.com/18298014/154948985-6bd0283a-380c-40db-b89b-3bc8ba3b7ce8.png)
[code]

[2022-02-21 14:13] claviska commented on #689
Fixed in #690

[2022-02-21 14:13] #689 closed, assigned to claviska

[2022-02-21 14:57] claviska commented on #691
I can appreciate the desire for this, but I've been playing with a `deny-close` attribute and it just doesn't feel as intuitive as the event this time around. The API I experimented with was a space-delimited list of sources.

[code]

This is pretty elegant at first glance, but the use case for denying a close request should be limited to destructive actions such as data loss, so you'll usually ne

[2022-02-21 14:57] #691 closed, assigned to claviska

[2022-02-21 15:04] claviska commented on #692
You can do this without any changes to the library, since the divider only uses host styles. You have complete control over the height/width/border/background. For example:

[code]

<img width="805" alt="CleanShot 2022-02-21 at 10 03 00@2x" src="https://user-images.githubusercontent.com/55639/154980653-1fe39b02-c6cf-4615-bb0b-ab31f7d131d9.png">

[View example on CodePen](https://codepen.io/clavisk

[2022-02-21 15:04] #692 closed, assigned to claviska

[2022-02-21 15:16] claviska commented on #623
Using the original sandbox, I added `v-once` to each tab and tab panel and it works fine:

[code]

This is the same issue we were seeing in #628. I'm pretty sure this isn't a Shoelace bug, so I'm closing this issue. I'll continue tracking the issue there and reach out on Twitter to see if any Vue power users have more insights into this.

[2022-02-21 15:16] #623 closed, assigned to claviska

[2022-02-21 20:58] threeseed opened #693 "Drawer jitters on open when input has autofocus"
### Describe the bug

When a Drawer contains an input field with autofocus enabled then it will jitter on first open with Safari.

This could have been fixed with the animation frame but wanted to raise in case.

### To Reproduce
Steps to reproduce the behavior:

1. Restart browser
2. Visit [here](https://shoelace.style/components/drawer?id=preventing-the-drawer-from-closing)
3. Click on Open Draw

[2022-02-22 00:49] claviska commented on #693
It looks like this is happening due to Safari’s lack of support for preventScroll. This check appears to no longer work for some reason:

https://github.com/shoelace-style/shoelace/blob/next/src/internal/support.ts

I remember very specifically when this piece of code was added and it definitely was working. The reason it exists is so Shoelace can handle initial focus differently for Safari to pre

[2022-02-22 10:44] timefordroids opened #694 "Active tab indicator has incorrect position"
### Describe the bug
When the first tab in a tab group is disabled the active tab indicator has incorrect position.

### Demo
https://codepen.io/timefordroids/pen/abVGaNP?editors=1000

### Screenshots
[![Screenshot-2022-02-22-at-14-16-53.png](https://i.postimg.cc/MTqY81K6/Screenshot-2022-02-22-at-14-16-53.png)](https://postimg.cc/94g9dR7K)

[2022-02-22 14:10] #694 closed, assigned to claviska

[2022-02-24 10:46] threeseed commented on #693
There is a mention of this issue in this bug:

https://bugs.webkit.org/show_bug.cgi?id=236584

[2022-02-25 09:51] threeseed opened #696 "Dialog/Drawer header slot"
### What issue are you having?
Two use cases:

1) I want to be able to remove the close button.
2) I want to be able to replace the close button with my own custom controls.

### Describe the solution you'd like
Dialog/Drawer should support a header slot.

[2022-02-25 13:43] claviska commented on #696
Both dialog and drawer have a `no-header` attribute that removes the default header and lets you scaffold your own.

[code]

[View on CodePen](https://codepen.io/claviska/pen/qBVMEvv?editors=1100)

In fact, using `no-header` and omitting the `footer` slot gives you complete control over the interior of the dialog/drawer.

Closing this as a wontfix since what you're looking to do is already possibl

[2022-02-25 13:43] #696 closed, assigned to claviska

[2022-02-25 14:05] claviska commented on #693
I can repro this in `current`, but it looks like it's working properly in `next`. Can you verify this for me in Safari?

https://next.shoelace.style/components/drawer?id=customizing-initial-focus

I believe 946fcf2b254cfc64b2552f0d55c43006dbfa9710 resolved it.

[2022-02-25 20:19] threeseed commented on #696
@claviska .. There is no mention of this in the docs.

Is it worth adding even just a brief mention as it wasn't obvious to me at least.

[2022-02-25 20:21] nadenf commented on #693
Looks good to me as well. Thanks so much for fixing this.

[2022-02-25 20:49] threeseed commented on #693
@claviska .. Tried this with my own project (using next) and it's still an issue with multiple different drawers.

I am asynchronously rendering this using React so I wonder if there is again some timing issue ?

[2022-02-26 14:09] claviska commented on #693
Can you post a repro?

[2022-02-26 17:09] threeseed commented on #693
I am using it with React + Scala.js so it's going to be a bit difficult to get a reproducible test case that makes sense.

I have noticed that it only happens when:

1) Autofocus is enabled on an input field.
2) Drawer is opened for the first time. Subsequent times there is no issue.

I have my project running with a local version of Shoelace. Is there anything I can add to drawer.ts to aid debugg

[2022-02-26 18:56] threeseed commented on #693
@claviska .. So have managed to track something down.

If I disabled setInitialFocus within drawer.ts I noticed that the issue still appeared.
And that's because the issue is with the input autofocus attribute which you are still setting for any input.ts within the drawer.

If I removed the attribute from input.ts and let drawer.ts set the focus the issue was fixed.

So would a fix be to remove th

[2022-02-26 19:03] claviska commented on #693
If you remove `autofocus` from your inputs and use the old method of listening for `sl-initial-focus` and manually call `el.focus({ preventScroll: true })`, does the issue persist?

I suspect it will not, and in that case I think it's worth making a minimal repro and filing a WebKit bug [as requested here](https://twitter.com/gsnedders/status/1496190697136869385) to call out the problem of autofoc

[2022-02-26 19:26] threeseed commented on #693
This looks similar to this as well: https://github.com/Microsoft/reactxp/issues/526

[2022-02-26 20:22] threeseed commented on #693
I have a workaround if you're interested. And it does make sense that you would want to disable the HTML Input autofocus behaviour when you're going to be doing it yourself.

[code]

[2022-02-27 16:08] oliveratgithub commented on #543
I struggled with the same issue (not able to have pre-checked `sl-menu-item` entries) – definitely should be added to the docs, that in the context of `sl-select` the `value` must be set on the select container…

[2022-02-27 16:46] #693 closed, assigned to claviska

[2022-02-27 16:49] claviska commented on #693
It was easier to work around this than try to reduce it and file a Safari bug. The solution I used was similar to your suggestion. I'm removing `autofocus` before the animation starts and adding it back after focus has been provided.

Safari seems to be honoring `{ preventScroll }` so calling it manually instead of relying on its `autofocus` behaviour seems to solve it. (I believe this was happeni

[2022-02-27 16:52] claviska commented on #543
Menu and menu item are lower-level primitives, so they're pretty flexible. Unfortunately, when composing them like this, only a subset of the API is available.

How does everyone feel about `<sl-option>` which would extend from `<sl-menu-item>`, be documented separately, and only have a subset of the menu item API? Would that make things more obvious?

[2022-02-27 21:57] KonnorRogers commented on #517
@dyoder Just now seeing this issue. I have a Rails example of using Rails 7 with Importmaps + Shoelace if you wanna browse through it. Importmaps worked for me here, not sure what issue you're up against.

https://github.com/ParamagicDev/shoelace-rails-importmaps

[2022-02-27 22:14] KonnorRogers opened #699 "Submit buttons do not respect formmethod or formaction attributes."
### Describe the bug

Shoelace submit buttons do not override the form's action or method when the formaction or formmethod attributes exist on the button.

### To Reproduce

https://codepen.io/paramagicdev/pen/podxbZX

1.) Click on the codepen above
2.) Open network tab
3.) Click the button. You will see a "POST" to "/" instead a "GET" request to "/blah"

### Browser / OS
 - OS: Mac M1 Air
 - Bro

[2022-02-27 22:22] claviska commented on #699
I like the idea of using `requestSubmit()` but given that the polyfill does this at the cost of ~1 KB:

https://github.com/javan/form-request-submit-polyfill/blob/a4f33e8f91a297e4410193b2919ba3dcd3c8e18d/form-request-submit-polyfill.js#L13

It’s probably not worth the weight. (Definitely worth a comment though.) Is this as simple as adding both attributes to the temp button for now?

[2022-02-27 22:45] KonnorRogers commented on #699
@claviska As far as I know, passing along the attributes _should_ be enough.

EDIT: FWIW, bundlephobia reports 436bytes minified + gzipped.

https://bundlephobia.com/package/form-request-submit-polyfill@2.0.0

[2022-02-28 14:59] #699 closed, assigned to claviska

[2022-02-28 15:06] claviska commented on #699
I added support for `form`, `formaction`, `formmethod`, `formnovalidate`, and `formtarget` attributes to `<sl-button>`.

Unfortunately, `requestSubmit()` doesn't work with custom element form controls (it throws an error in Chrome), so instead I modified the existing technique to map all the aforementioned properties from the `<sl-button>` to the temporary button. which seems to work well.

I've v

[2022-02-28 22:22] KonnorRogers opened #700 "`<sl-input>` does not submit the form when hitting the "Enter" key."
### Describe the bug

If you hit the enter key inside of an `sl-input` it should submit the form just like a native `<input>` tag.

[2022-02-28 22:23] claviska commented on #700
Test case: https://jsfiddle.net/2gs60kod/

Note the console when you hit <kbd>Enter</kbd> inside the input.

[2022-03-01 07:38] oliveratgithub commented on #543
@claviska I don't know, seems like adding an additional layer of complexity to build `sl-select > sl-menu-item > sl-options` ?

Would personally prefer to have like
`sl-select > sl-option`

Reason: I was a bit confused at first that "sl-menu-item" is re-used within the select container; as from standard html the wording select > option is more common to me.

I have no other reasoning or opinion on

[2022-03-01 13:34] claviska commented on #543
This is what I was suggesting, but it didn't come across clearly. I'll look into whether this is feasible or not.

[2022-03-01 15:25] #700 closed, assigned to claviska

[2022-03-03 17:29] mjaggard commented on #269
@trailsnail why was this closed? The issue doesn't appear to be resolved. The workaround seems to be "don't use shoelace" or have I missed something?

[2022-03-03 19:54] jaredcwhite commented on #269
@mjaggard You can pretty easily use Shoelace's CSS variables to style standard username/password inputs in the light DOM. The issue is a result of existing web components implementations, not a Shoelace bug per se.

[2022-03-03 20:28] mjaggard commented on #269
Thanks for the reply but I'm not sure what that actually means in practice. How do I stop the Shadow DOM being used?

[2022-03-03 20:39] jaredcwhite commented on #269
@mjaggard Off the top of my head: you just need to make sure you use `<input ...>` tags instead of `<sl-input ..>` tags for the username/password in order to get the browser autofill to work, as well as use those in normal HTML/within a slot (rather than include them within a shadow DOM template from one of your own web components).

[2022-03-03 20:50] claviska commented on #685
I swapped out Popper with Floating UI and included the `size` middleware to improve this behavior. This will be available in beta.71.

[2022-03-08 14:14] bobmanc commented on #700
Still doesn't work for me. Try putting the cursor in the name field on the first form here https://shoelace.style/getting-started/form-controls and hitting enter. Nothing happens.

[2022-03-08 16:10] bunesk commented on #700
@bobmanc This bugfix isn't released yet. It will be available with the release. You can see the current state of the next version here: https://next.shoelace.style/getting-started/form-controls
It works for me there.

[2022-03-08 16:12] bobmanc commented on #700
awesome. thanks

On Tue, Mar 8, 2022 at 11:10 AM Buni48 ***@***.***> wrote:

[2022-03-09 09:06] nkromm commented on #127
hey guys, what is the consensus on this topic now? The PR from @hanc2006 seems to be kinda stale.

[2022-03-09 13:59] claviska commented on #127
Sorry, no update from my end. I'm focusing on other things that need to be done before removing the beta label.

[2022-03-10 09:43] xenobytezero commented on #517
I've moved to watching this issue from #525 as I am starting to look at the issue of multiple registration of WebComponents in general, but currently it's with Shoelace specifically. #525 indicates that import maps are a potential solution to this problem, hence moving here, but after reading about them I feel like I am missing how the two are related.

As far as I can tell, Import Maps provide th

[2022-03-10 13:20] claviska commented on #517
Correct. The custom elements registry is scoped to the window, not the document. That means defining two custom elements with the same name on the same page will result in a conflict and the second registration will throw an error.

The issue you're probably looking for is the [scoped custom element registry](https://github.com/WICG/webcomponents/issues/716) proposal.

[2022-03-10 13:24] claviska commented on #517
Regarding [import maps](https://github.com/WICG/import-maps):

As I understand it, it's largely left to the consumer to implement and given @ParamagicDev's example it seems like Shoelace works fine with them.

For more examples on how you can create import maps for your project, [refer to this page](https://github.com/WICG/import-maps#the-import-map).

[2022-03-10 13:24] #517 closed, assigned to claviska

[2022-03-10 14:21] claviska commented on #686
I've settled on a BEM-style approach for parts where `--` indicates a modifier and `__` indicates a "subpart."

Modifiers are used to identify states such as focus. In cases where it's not easy to target states, a part called `part--focus` could be introduced.

Subparts are useful when you're composing custom elements and you want to expose the their parts via `exportparts`. Take a look at the upd

[2022-03-11 12:00] DeadWisdom commented on #686
This looks great, thanks for this and all your hard work!

[2022-03-11 18:59] CetinSert opened #703 "`<sl-split-panel>.vertical` cannot be toggled (by property or attribute)."
### Describe the bug
`<sl-split-panel>` `vertical` (property *and* attribute) cannot be toggled.

### To Reproduce
Steps to reproduce the behavior:

1. Navigate to https://shoelace.style/components/split-panel
2. Select any `<sl-split-panel>` element in developer tools so that it is `$0` in console.
3. Evaluate `$0.vertical = !$0.vertical` once.
4. Evaluate `$0.vertical = !$0.vertical` again.

Not

[2022-03-11 19:29] CetinSert commented on #703
Here is a **Sync**℠ with a [workaround using 2 `<sl-split-panel>`s](https://rtcode.io/x/#oi=0&se=oi&/=%3Cmeta++name%3Dviewport+content%3D%22width%3Ddevice-width,+initial-scale%3D1.0%22%3E%0A%0A%3Cstyle%3E%0A++:root+%7B%0A++++background-image:+url%28//images.unsplash.com/photo-1646024212632-bc188445e9c1%3Fixlib%3Drb-1.2.1%26ixid%3DMnwxMjA3fDB8MHx0b3BpYy1mZWVkfDZ8Ym84alFLVGFFMFl8fGVufDB8fHx8%26auto%

[2022-03-11 19:31] #703 closed, assigned to claviska

[2022-03-11 19:33] claviska commented on #703
The vertical toggle _is_ working, but a couple things weren't happening:

1. The size needed to be updated when orientation changes
2. The `grid-template-rows|columns` style wasn't being unset when toggling between horizontal and vertical

This has been fixed in https://github.com/shoelace-style/shoelace/commit/cff57b6562993f8d874849b0f0f31cd83fc5b2ef and will be available in the next release.

[2022-03-14 13:53] Vardan-bg opened #704 "You cannot insert sl-color-picker with predefined value"
You cannot insert sl-color-picker with predefined color value

try define sl-color-picker with initial value or just insert color-picker into the dom with defined value:
<sl-color-picker value="#ff0000" opacity=""></sl-color-picker>
or just check official documentation page: https://shoelace.style/components/color-picker
![image](https://user-images.githubusercontent.com/5506524/158185966-55f6cd13

[2022-03-14 14:11] #704 closed, assigned to claviska

[2022-03-14 14:12] claviska commented on #704
Thanks for reporting this. This regression was fixed in b84a8bc76a76974a4eac159ed839b1333f51402a and I've added a test to ensure it doesn't happen again.

[2022-03-14 19:47] hanc2006 commented on #127
Hi @nkromm, sorry for the delay. I am working a lot on a new project and at the moment I struggle to carry out this PR. @claviska I saw all the new features you introduced in the latest releases 👍. However I will try to finish this PR as soon as possible.

[2022-03-16 17:09] xenobytezero opened #705 "Support for optional custom element registration to support Scoped CustomElementRegistry"
### What issue are you having?
My usage of Shoelace for a pseudo-microfrontend has finally hit the inevitable issue with WebComponents where two seperate bundles of JS are trying to register the Shoelace components they are using, and the global `CustomElementRegistry` is obviously failing.

The most prominent solution to this issue appears to be using Scoped CustomElementRegistries, which relies

[2022-03-16 21:04] claviska commented on #705
I appreciate the intent, as this is a real problem with some application architectures. Earlier this year at Microsoft, I finished working on a FAST-based solution to this very same problem (the scoped registry polyfill wasn't an option for a number of reasons) so I'm well aware of what it entails.

To be upfront, I won't introduce that kind of custom logic in Shoelace. One, because it relies heav

[2022-03-16 21:05] claviska commented on #705
By the way, I really appreciate the thoroughness of your proposal and your desire to not make sweeping changes unannounced. As a maintainer, _thank you!_

[2022-03-17 03:49] threeseed opened #707 "Set z-index for sl-menu"
### What issue are you having?
Menus are occasionally being obscured by other elements

### Describe the solution you'd like
Similar to drawers/dialogs etc there should be:
[code]

[2022-03-17 04:03] #707 closed, assigned to claviska

[2022-03-17 11:54] xenobytezero commented on #705
Hey, thanks for the thorough response!

Some thoughts.

Feels like the only way you can do this kind of thing initially, so not a problem!

This is essentially what the build step does, split the class from the registration, but at build time. For now the decision to do this at build time was to avoid changing every component file, but also my thought was for tools like VSCode extensions and the C

[2022-03-17 13:02] claviska opened #708 "Experiment with prefers-contrast to implement a theme that's AA compliant"
I implemented a change that met AA requirements for all components, but the feedback wasn't great. This tweet sums it up:

https://twitter.com/claviska/status/1504440707800576008?s=20&t=szEiYU-2rAJONxnqhGWoqQ

I'm opening this issue to experiment with [`prefers-contrast`](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-contrast) as a possible solution. Currently, [Firefox is the on

[2022-03-17 16:36] Myndex commented on #708
# Good aesthetics _ARE_ accessible.

I didn't see what the issue was, as I just stumbled onto the Twitter thread. BUT...

I definitely like that shoelace uses the query to sense when the OS is in dark-mode.

And, OS level settings are good for someone's personal device, but are obviously not a part of "shared" devices environments, such as kiosks, ATM machines, public library computers.... etc etc

[2022-03-17 19:34] claviska commented on #708
Thank you, I appreciate the links so I can dive deeper into this topic. It's definitely not a simple as it seems on the surface.

This is unfortunately very subjective. A lot of the feedback from the AA-compliant preview was that the colors looked "dirty,", a "step backwards," and were "grossly unappealing."

A lot of people use Shoelace, and one of the reasons they started using it is because it

[2022-03-17 20:29] Myndex commented on #708
Hi Cory @claviska

You can say that a plurality of times... the human vision system is still under active research, not solved, and massively complex. It uses ~62% of our brain for shared and dedicated processing. It is complicated, abstract, and bizarre as in quantum mechanics bizarre....and has a Dunning-Kruger curve that causes motion sickness, LOL...

AA-compliant is _NOT_ accessible in over 5

[2022-03-18 01:46] pablo-abc opened #709 "[Dialog] Focus trap does not work properly when `<sl-dialog>` is in a shadow root"
### Describe the bug
Rendering and opening an `<sl-dialog>` inside of a shadow root does not seem to play nice with the focus trap. I can tab out of the dialog into elements underneath it.

The scroll-lock also does not seem to work nicely when inside a shadow root (I can still scroll the content underneath)t. But this is inconsistent and I did not manage to reproduce it in a simple example. Menti

[2022-03-18 20:03] #709 closed, assigned to claviska

[2022-03-18 20:04] claviska commented on #709
Nice catch, and thanks for the repro. I was able to repro and update the modal utility to trap focus a bit differently which is more reliable and solves for the use case you provided.

This fix will be available in the next beta release.

[2022-03-18 20:12] claviska commented on #708
Thanks for the explanation! I look forward to learning more about APCA. I appreciate you taking the time to chime in with your feedback.

This link should work for awhile: https://shoelace-jat58qxa3-shoelace.vercel.app/

You can compare it to the current website. Good pages to look at that have most of the colors are buttons, badges, and alerts.

[2022-03-18 22:46] threeseed opened #710 "Maxlength ignored for sl-input when type set to number"
### Describe the bug
Given the following code:
[code]

You will be able to enter numbers greater than 3 characters in length.

### Demo
https://codepen.io/nadenf/pen/ZEaxMrP

### Additional information
So apparently this is a known issue with the underlying input field.

Question is whether you want to fix it in Shoelace with a solution such as:
https://stackoverflow.com/questions/18510845/maxleng

[2022-03-18 22:55] claviska commented on #710
I don’t believe the spec intends to apply `min|maxlength` to non-string inputs. You’re probably looking for `min` and `max` which are intended for value constraints. So `max=999` will give you a three-digit limit.

This is a wontfix from me as these attributes map to the underlying input and work the same way. I’d rather keep them consistent than introduce an alternate and unexpected behavior.

[2022-03-18 22:55] #710 closed, assigned to claviska

[2022-03-19 08:33] threeseed opened #711 "Example of sl-icon with custom color"
### What issue are you having?
There are a lot of references to setting the custom colour on an sl-icon but no example.

And it's not intuitive since the mutator is not passed a reference to the sl-icon but instead just the svg itself.

### Describe the solution you'd like
An example where the custom color comes from an attribute on the sl-icon e.g.
[code]

[2022-03-19 11:16] threeseed opened #712 "Option to disable label clicking on sl-switch"
### What issue are you having?
If you look at the examples [here](https://shoelace.style/components/switch). Clicking on the label of a switch will toggle the switch.

This is not-ideal behaviour when you have custom label components.
For example I have a label as well as a help icon next to it. I want the help icon clickable not the label.

### Describe the solution you'd like
Attribute called la

[2022-03-19 22:03] claviska commented on #712
This behavior is the same as checkbox, which mimics a standard checkbox for optimal accessibility. If you're trying to prevent the help button from toggling the label, you can do that by canceling the event as shown here.

https://codepen.io/claviska/pen/MWryRBG?editors=1010

If you really don't want the label to toggle the switch, which I wouldn't advise for accessibility reasons, you can do some

[2022-03-19 22:03] #712 closed, assigned to claviska

[2022-03-19 22:04] #711 closed, assigned to claviska

[2022-03-20 00:31] pablo-abc opened #714 "[Select] Select + MenuItem broken when cherry picked independently"
### Describe the bug
The only thing similar I found was #659 and it isn't the same issue. When cherry picking menu-item + select independently the select element does not work. It opens, but the styling is "off" and you can't select any of the elements.

This works in beta.64 but has been broken since beta.65 as far as I can tell.

### To Reproduce
Steps to reproduce the behavior:

1. Create a new

[2022-03-21 08:29] netnr commented on #214
sl-tab-group + ag-grid v26.2.1 normal
ag-grid v27+ Error message

[2022-03-21 09:43] netnr commented on #214
sl-icon component causes

[2022-03-21 12:51] #714 closed, assigned to claviska

[2022-03-21 17:05] rpsirois opened #715 "Menu in Dropdown does not set min-width of parent"
### What issue are you having?
Menu within a Dropdown does not set `min-width` or seem to display as a block.

### Describe the solution you'd like
Option to allow menu to be, at minimum, the same width as the triggering element.

### Describe alternatives you've considered
Maybe I'm missing something as a CSS n00b but `width`, `min-width`, and `display: block` do not seem to have any effect (ligh

[2022-03-21 18:17] rpsirois opened #716 "Option to place help text above inputs (accessibility best practice)"
### What issue are you having?
Help text for Input should be configurable to be placed above the input.

### Describe the solution you'd like
Attribute for changing placement of `help-text` slot.

### Describe alternatives you've considered
Custom help text used instead of the built-in slot.

This may be relevant to the solution for this issue: #655

[2022-03-21 18:23] claviska commented on #716
This is currently possible through CSS:

https://codepen.io/claviska/pen/KKZgpZB?editors=0100

The trouble with the suggestion in #655 is that form controls are inside a shadow root, so the label wouldn't be able to point to an `id`. It's a Shoelace opinion to bake labels and help text into form controls, but I chose to do so to make it easier to get accessibility right.

As long as you provide a

[2022-03-21 18:27] claviska commented on #715
This should work for you.

https://codepen.io/claviska/pen/QWaKbVB?editors=0100

There's no way to get the menu to "automatically" be the same width as the trigger, but you could wrap a container around both and make them 100% if that helps.

[2022-03-21 18:27] #715 closed, assigned to claviska

[2022-03-22 00:25] #716 closed, assigned to claviska

[2022-03-22 02:28] rpsirois commented on #716
Totally understand, I appreciate the info. I'm fairly new to accessibility and I was just curious. I would say most frameworks I've been looking into do it underneath... just thought the point autofill stuff (browser-side) was valid.

Thanks!

[2022-03-22 02:29] rpsirois commented on #715
That's perfect thanks! I didn't even think to wrap them *face palm*. You rock.

[2022-03-30 07:04] CetinSert opened #717 "`<sl-avatar>` cannot recover from bad image values"
### Describe the bug
See title.

### To Reproduce
Steps to reproduce the behavior:

1. Go to this [sync](https://rtcode.io/x/#/=%3Clink+rel%3Dstylesheet+href%3D//cdn.jsdelivr.net/npm/%40shoelace-style/shoelace%402.0.0-beta.72/dist/themes/light.css%3E%0A%3Clink+rel%3Dstylesheet+href%3D//cdn.jsdelivr.net/npm/%40shoelace-style/shoelace%402.0.0-beta.72/dist/themes/dark.css%3E%0A%3Cscript+type%3Dmodule

[2022-03-30 13:05] #717 closed, assigned to claviska

[2022-03-30 13:07] claviska commented on #717
Thanks for reporting this. The issue can also be replicated by setting the `image` property to an invalid image and then setting it to a valid one.

This has been fixed in ee1a0c2c594f5bfe7aa58527ffa579fa46e37571 and will be available in the next release.

[2022-03-30 20:48] claviska commented on #99
Closing this in favor of the forthcoming [`forced-colors`](https://www.w3.org/TR/mediaqueries-5/#forced-colors) feature which is a better approach than a theme.

[2022-03-30 20:48] #99 closed

[2022-04-01 03:47] shaal commented on #191
Should we change the issue title, to support css logical properties?

I have a lot of experience with RTL, but fixing it with dir + margin-left/right is the old way. Now that all modern browsers support CSS logical properties it's the way to go, and would support any language / flow direction.

https://elad.medium.com/new-css-logical-properties-bc6945311ce7

[2022-04-01 23:29] claviska commented on #191
I think logical properties are the right solution, but most people will be looking for RTL so I've update the title to reflect both. Any help to accomplish this would be greatly appreciated. My current focus is on the new website, #413, and #520.

As a non-RTL user, how can I test for proper RTL implementations? Any suggestions here?

[2022-04-02 20:01] shaal commented on #191
@claviska  To test RTL (even with English content), this seems simple and useful - `Add dir="rtl" to the html tag`
https://www.w3.org/International/questions/qa-html-dir#rtlsetup

[2022-04-04 09:16] jeroendk opened #718 "Form constraints don't appear to block form submit"
### What issue are you having?
Currently, html5 form validation does not prevent forms from submitting when using the sl-input fields.
This is because the fields are custom elements and in the shadow dom.

### Describe the solution you'd like
Add `ElementInternals` to the custom sl-input type. This feature adds the ability to participate in forms and an API around accessibility controls.

A detail

[2022-04-04 12:47] claviska commented on #718
Shoelace form controls do not currently use `ElementInternals` as [it requires a polyfill in Safari](https://caniuse.com/mdn-api_elementinternals) and doesn't support showing constraints in the browser.

However, constraint validation is supported in Shoelace form controls using the same API you're familiar with. See this page for examples: https://shoelace.style/getting-started/form-controls?id=f

[2022-04-04 13:11] jeroendk commented on #718
Thanks for the quick reply! I did come across the example in the docs but for me, this is not working.
When I test the example within the shoelace website, everything works fine. If I open the example in codepen (or implement it in my app), It does not work, the alert shows instantly. Tested it in chrome, firefox, and safari @ mac.

Any clue what's causing this & does the non-embedded codepen vers

[2022-04-04 13:24] claviska commented on #718
Hmm, I am seeing that behavior. I'll take a look and see what's going on.

[2022-04-05 06:59] nkromm opened #719 "Color Picker throws console error on trigger keydown"
### Describe the bug
There is an error message thrown in the console on `keydown` of the trigger element of the Color Picker. Unclear what functionality is affected by this.

### To Reproduce
Steps to reproduce the behavior:

1. Go to https://codepen.io/nkrom/pen/MWrrMNy?editors=1000
2. Click on the first input element
3. Press `tab` to focus the color picker and another tab after that to move to

[2022-04-05 19:07] 43081j opened #720 "Initially open dropdowns don't have event handlers attached (e.g. close on document click)"
### Describe the bug

With an already open dropdown, clicking outside the container will not close it. That and all other event handlers attached in the `open` observer will not have run.

### To Reproduce
Steps to reproduce the behavior:

[code]

Run this somewhere and click outside the dropdown, it won't close.

Click the dropdown, then reopen it, and clicking outside it will now close it.

###

[2022-04-06 13:14] #719 closed, assigned to claviska

[2022-04-08 08:09] justinfagnani opened #725 "Custom element manifest paths are pointing to source files, not published files"
### Describe the bug

The `path` files in custom-elements.json are pointing to TS source files, like `src/components/alert/alert.ts`. These paths are supposed to be where consumers can import the element definitions and should be the .js files published to pm.

### To Reproduce
Steps to reproduce the behavior:
See the `path` files here: https://unpkg.com/browse/@shoelace-style/shoelace@2.0.0-beta.

[2022-04-08 12:31] claviska commented on #725
This is happening because the CEM is run on the source. This serves a few purposes:

1. Generates a large portion of the documentation
2. Generates static source code for the React wrappers
3. Generates `vscode.html-custom-data.json` for IntelliSense in VS Code
4. Generates `web-types.json` for JetBrains IDEs

I don't know how the analyzer can know about the final path, since the source gets run t

[2022-04-08 12:52] #720 closed, assigned to claviska

[2022-04-08 12:53] kaiszybiak opened #726 "Persist Locale for Web Test Runner"
### Describe the bug
Having a system language different than `en-US` results in failing unit tests

### To Reproduce
Steps to reproduce the behavior:

1. Ensure you have a different system language than `en-US`. E.g. `de-DE`
2. Clone [shoelace](https://github.com/shoelace-style/shoelace) and execute `npm i` in the root directory
3. Execute `npm run verify`

Multiple unit tests should fail as seen

[2022-04-08 12:56] #726 closed, assigned to claviska

[2022-04-08 12:56] claviska commented on #726
Good call. Thanks for the suggestion!

[2022-04-08 13:02] kaiszybiak commented on #726
This was fast. Thanks 🙂

[2022-04-08 13:23] claviska commented on #718
Turns out the reportValidity and submission logic is working fine. The problem is the event order. In the docs, the examples are rendered by Docsify after the page loads and the content is converted from markdown so, by coincidence, the listeners in the examples are added _after_ the Form Submit Controller's listener is attached.

Outside the docs, the event listener is being attached _before_ the

[2022-04-08 14:22] claviska commented on #718
Again, this was a timing issue. Unfortunately, I'm not aware of a reliable way to force Shoelace's listeners to run first. As soon as the controls are connected to the DOM, the listener as added to the form, so if the form already has a listener when elements are appended, they're going to run first.

What we _can_ do is use event capturing which will alleviate the edge case you've stumbled on, si

[2022-04-08 15:00] claviska commented on #718
For now, I've reverted the capture behavior to prevent confusion, as it will work as expected in all browsers _except_ Firefox. This would have led to a lot of bugs for users.

I don't believe this is solvable without a messy hack. However, it appears to be limited to users who:

- Use inline <script> tags to add listeners
- Append new form controls after adding listeners to the form

I've updated

[2022-04-08 15:00] #718 closed, assigned to claviska

[2022-04-11 08:21] jeroendk commented on #718
Thanks for looking into it and for the workaround suggestions.
Attaching the eventListener after rendering does indeed solve the issue.

[2022-04-12 15:25] maggiewachs commented on #219
@StommePoes @claviska I just came across this thread because I noticed the tooltips are still not reading the content (I'm using VoiceOver), and I have a suggestion that may be helpful. I recently worked on a project where we came up against the shadow DOM interfering with accessibility, specifically, with ARIA labelling attributes not finding their mates because they exist in different DOMs.

As

[2022-04-12 15:48] maggiewachs opened #727 "Input's clearable, password toggle, and date picker actions need keyboard access"
When using a keyboard to traverse the demo page, I'm unable to reach the input's clearable button, the password toggle, or the calendar. On quick inspection it looks like the first two are intentionally removed from tab order using `tabindex="-1"`, but it's unclear why. With very few exceptions, any action you can take with a cursor should be available to keyboard users (see: https://www.w3.org/WA

[2022-04-12 15:56] maggiewachs opened #728 "Instead of allowing form element labels to be blank, toggle their visibility"
### What issue are you having?
It's possible to set up a form with input, select, radio group, etc without specifying a label for that field, but that may leave screen reader users at a disadvantage. In general, it's best practice to label all form elements, even if the label isn't displayed.

### Describe the solution you'd like
Make the label a required property, but allow library consumers to t

[2022-04-12 16:20] claviska commented on #727
Hi there! I thought about this and decided to mimic the browser's behavior, as the extra tab stops were very inconvenient when trying to tab through multiple inputs.

Some observations:

In Chrome, Edge, and Safari, none of the clear buttons are focusable via keyboard. (Firefox doesn't display a clear button for search inputs). Similarly, none of these browsers let you tab into the up/down buttons

[2022-04-12 21:31] maggiewachs commented on #727
Hello! Excellent questions. Second question first: yes, especially for date pickers. I wish I had more insight into why browser makers add features that sometimes miss the mark with accessibility, but hey, we're all learning and doing better so I'm hoping they'll continue to listen to feedback. :)

For the input's clear button -- Scott O'Hara makes the same argument about leaving them out of the t

[2022-04-13 00:55] michaelwarren1106 commented on #705
if it helps, I implemented an approach to allow for multiple versions of the same component to exist on the same page at the same time via a custom webpack loader that literally changed the tag name in the source.

I ran up against the same problem @claviska described where parent components style children by their tag name. I ended up styling via `data-` attributes like Cory suggests.

One other

[2022-04-13 13:09] claviska commented on #219
This was exactly the problem. I want to be able to wrap the trigger with a tooltip element so they can use whatever trigger they want.

This is a brilliant suggestion! I just tried it and it's reading well now on hover and focus. You can try it out here:

https://next.shoelace.style/components/tooltip

I realize tooltips aren't the easiest to get right in terms of accessibility, but hopefully this

[2022-04-13 13:09] #219 closed, assigned to claviska

[2022-04-13 13:39] #727 closed, assigned to claviska

[2022-04-13 13:47] claviska commented on #727
Thank you for that link! I really like Scott's approach — it's a good compromise to not hinder tab behavior while allowing screen readers to see the extra buttons.

[From the article:](https://scottaohara.github.io/clear-text-field-button/)

I agree with this statement. It feels dangerous, especially since <kbd>Enter</kbd> can trigger a form submit as well as activate the clear button. User might

[2022-04-13 14:08] claviska commented on #728
This might not be too hard to pull off given the current architecture. Unfortunately, we can only _say_ a label is required. Users can still omit it, but that will be on them for not following guidance.

I'm dumping some initial thoughts into this since I'm out of dev time for today:

- When a label isn't provided via slot or the `label` attribute, the empty label is still rendered in the DOM, but

[2022-04-14 15:23] bunesk opened #729 "`sl-select` doesn't update label if `sl-menu-item` label changes"
### Describe the bug
If you have a `sl-select` with some `sl-menu-item` within and the label/slot of the selected `sl-menu-item` changes it won't be updated on the `sl-select`.

### To Reproduce
Steps to reproduce the behavior:

1. Create a SlSelect with some options
2. Change the label of the selected SlMenuItem

### Demo
https://codepen.io/buni48/pen/PoOKLbQ

[2022-04-14 16:20] maggiewachs commented on #728
That's exactly how we implemented it in my last project (attribute/prop to hide the label), so I give that solution an A+. :)

Re: requiring them, I agree the onus is really on the developer to implement labelling that works, so making it _required_ required is heavy handed. A note in the documentation about the importance of including labels, whether hidden or not, will probably suffice.

[2022-04-14 22:01] #729 closed, assigned to claviska

[2022-04-14 22:05] claviska commented on #729
This has been fixed in caaf2b0d1e5cc7aa0a495d11958153df53fc6778. I also added a test to prevent regressions.

While fixing this, I was also able to improve performance slightly, as menu items are now cached on `slotchange` rather than fetched multiple times throughout the component's lifecycle. I'll probably make similar changes to remaining components that follow the same pattern.

[2022-04-14 22:37] bunesk commented on #729
Sounds great. Thank you.

[2022-04-15 09:46] pimdewit commented on #708
@claviska have you considered offering another base/preset-theme that is contrast-sufficient by default?

[2022-04-15 12:06] claviska commented on #708
I have...[it was open for almost two years](https://github.com/shoelace-style/shoelace/issues/99) with no activity. Mostly because I wasn't sure if by "high contrast" I actually meant AA or AAA.

That said, I may have an approach that will make this ticket moot and bring Shoelace to AA by default without making the colors look dirty or unpleasant. I need to continue experimenting.

[2022-04-18 08:10] peschee opened #730 "Support blur method for sl-icon-button"
### What issue are you having?

`sl-icon-button` retains focus after certain events (e.g. `click`). It would be nice if it had the same methods as a `sl-button` for blurring (and maybe focussing as well…).

### Describe the solution you'd like

We could replicate the `blur` method from `sl-button` for the underlying `button` element in `sl-icon-button`.

Would you be willing to take a PR on this?

[2022-04-19 10:56] ghost opened #732 "new FormData().get() stopped working in beta.73"
Hi

When I upgraded shoelace from beta 72 to beta 73 all our forms stopped working.
FormData() is not able to fetch field's value.

With beta.72 this works correctly:
[code]
![image](https://user-images.githubusercontent.com/4516171/163988304-1ae90cc4-e29b-46d7-95de-46e69e9dc74f.png)

With beta.73 it stopped working...
![image](https://user-images.githubusercontent.com/4516171/163988953-f7e05d3e-c

[2022-04-19 13:30] #730 closed, assigned to claviska

[2022-04-19 13:31] claviska commented on #730
Added `blur()` and `focus()` in 72972c76afb8c7bafa28cc8de987b3928630553c along with `sl-blur` and `sl-focus` events.

[2022-04-19 13:43] claviska commented on #732
Can you help me replicate this? It seems to be working with a basic example.

https://codepen.io/claviska/pen/mdpvVNd?editors=1000

I suspect this might be a timing issue, as [this change](https://github.com/shoelace-style/shoelace/commit/fc938ea3eb8c069e482722b9110e607e6b7b2758) was made in an attempt to hook into the `formdata` event sooner than standard listeners by using capture and listening

[2022-04-19 13:44] peschee commented on #730
Awesome, thanks!

[2022-04-19 14:34] ghost commented on #732
hi,

In company we use lit.dev (2.2.2 version)
Inside a 'Main' component we add a 'BasicCommentForm' component (just a textarea and two buttons). After 'Submit' button is clicked we create custom event and dispatch it. Main component handles this event and that's all.

[code]

[2022-04-19 14:55] ghost commented on #732
Live example:
[https://lit.dev/playground](https://lit.dev/playground/#project=W3sibmFtZSI6Im1haW4uanMiLCJjb250ZW50IjoiaW1wb3J0IHtMaXRFbGVtZW50LCBjc3MsIGh0bWx9IGZyb20gJ2xpdCc7XG5cbmV4cG9ydCBjbGFzcyBNYWluIGV4dGVuZHMgTGl0RWxlbWVudCB7XG4gIGNvbm5lY3RlZENhbGxiYWNrKCkge1xuICAgIHN1cGVyLmNvbm5lY3RlZENhbGxiYWNrKClcbiAgICB0aGlzLmFkZEV2ZW50TGlzdGVuZXIoJ0Jhc2ljQ29tbWVudEZvcm1TdWJtaXRFdmVudCcsIChldmVudCkgPT4ge

[2022-04-22 20:23] rpsirois commented on #732
I'm having the same issue. Cannot manually get the FormData well after Shoelace components have been connected to the DOM. Downgrading to r72 fixes.

[2022-04-25 12:00] #732 closed, assigned to claviska

[2022-04-25 12:01] claviska commented on #732
I've reverted the "improvement" that was made in the latest beta. Apologies for the inconvenience. There's still a potential for listener timings to be off if you register it before the element connects, but this seems like the best tradeoff given everyone's feedback.

Once `ElementInternals` are fully supported in all browsers, this will become a non-issue.

[2022-04-25 12:03] claviska commented on #732
For those interested, here's the WebKit bug thatto track `ElementInternals`. There has been some activity recently.

https://bugs.webkit.org/show_bug.cgi?id=197960

[2022-04-25 12:24] ghost commented on #732
Thanks!

[2022-04-25 12:26] ghost commented on #732
And thank you for fantastic ui library. It looks great and docs are well written.

[2022-04-25 13:52] kaiszybiak opened #734 "Execute Tests with Code Coverage Information"
### What issue are you having?
We would like to continuously increase the code coverage and create awareness by including the coverage information during the CI/CD Pipeline execution.

### Describe the solution you'd like

1. Add the [coverage config](https://modern-web.dev/docs/test-runner/cli-and-configuration/#configuration-file) to `web-test-runner.config.js`:

[code]
2. Update the `package.js

[2022-04-25 15:12] rpsirois commented on #732
@claviska Thank you very much I fully echo @slawtul 's comments!

[2022-04-25 17:38] ajmchambers opened #735 "feature request: <sl-input> add "time" as valid "type" value"
### What issue are you having?
Since sl-input type does not have "time" specified as a valid value I get typescript errors.

However currently setting a type of "time" (or "date") on sl-input sets it on the underlying input and the result is the native browser input with some of the nice shoelace styling applied - can even enable dark styles for the native icons/pickers:

[code]

This is how it lo

[2022-04-26 08:27] abaanshanid commented on #245
I've experienced the same issue, for now, you can disable this rule from the `eslintConfig.rules` property  in you package.json. Just add `"vue/no-deprecated-slot-attribute": "off"` to it.

Checkout the package.json in [this PR](https://github.com/bendorge/vue-shoelace-test/pull/1) for an example.

The documentation for Vue should be updated with this. I'll make a PR for the docs later.

[2022-04-26 12:09] #735 closed, assigned to claviska

[2022-04-26 12:10] claviska commented on #735
Special thanks to @Buni48 for taking this one. It will be available in the next beta release.

[2022-04-26 12:23] claviska commented on #734
I'm not hugely concerned with code coverage just yet. I admit there's work to be done with testing, but that's being tracked here #296. I've had a number of volunteers submit tests for various components and the checklist on that page is a bit stale — I'll try to get it updated soon.

Are you interested in code coverage metrics for personal use or is it a business requirement?

I've added a line i

[2022-04-26 12:23] #734 closed, assigned to claviska

[2022-04-27 13:17] kaiszybiak commented on #734
Hey @claviska, thanks for the feedback 🙂. We have a forked version of the shoelace repo, where we added some custom scripts and tests for them. We already use the Code Coverage information and provide it to our SonarCloud. It is not a hard business requirement but nice to have. Our intention is to keep the diff between the official shoelace repo and our fork as small as possible and to contribute

[2022-04-27 13:20] claviska commented on #734
Thanks for clarifying. I can always use more help with tests. The roadmap has slowed as Shoelace approaches a stable release, but things will pick back up after the new website is ready.

[2022-04-28 21:11] amansanoj opened #737 "Unclear docs on implementing theme"
### What issue are you having?
It's my first time using shoelace which was suggested by a friend and when I was testing around with it I noticed that it wasnt changing the bg or text colors when I added `sl-theme-dark` to the body class. I thought it was a bug but then my friend told me that you had to add css for that functionality.

### Describe the solution you'd like
So I'd request the concern

[2022-04-28 21:13] claviska commented on #737
Theming is covered on the second page: https://shoelace.style/getting-started/installation

There are examples for folks who want to use only the light theme, only the dark theme, and both. I'm curious to know whether or not you managed to find this page and, if so, what was unclear about it.

[2022-04-28 21:14] claviska commented on #737
There's also additional information on theming on the fourth page in the sidebar. It goes into more details on how to use, activate, and even author themes. https://shoelace.style/getting-started/themes

[2022-04-28 21:18] amansanoj commented on #737
[code]

This actually does nothing which is what I'm trying to say. You haven't properly mentioned that we have to style it ourselves so anyone would think its a bug

[2022-04-28 21:36] claviska commented on #737
Shoelace is [currently] a web component library. I think you're looking for something like a reset which would theme the entire page, along with standard HTML elements. This is on the roadmap:

https://github.com/shoelace-style/shoelace/issues/413

However, instead of being baked into the light or dark theme, it will be an opt-in stylesheet that applies to the rest of the page — not just Shoelace

[2022-04-28 21:36] #737 closed, assigned to claviska

[2022-04-28 21:38] amansanoj commented on #737
Okay thanks for your time. I'll use my own css for now.

[2022-04-29 07:49] ErikOnBike opened #738 "Extending dropdown behaviour when disabled"
Currently disabling a dropdown does only prevent the opening of the dropdown. There is no visual cue that a dropdown is disabled. This in contrast to the select or colorpick component which does have such behaviour.

A least two 'solutions' seem possible:

- Simply let the user disable the 'trigger' to have a visual cue (ie change nothing).
- Add behaviour to the dropdown that it will enable/disab

[2022-04-29 09:35] ErikOnBike commented on #738
Just realised, we do might need to set styling on the dropdown itself. This is for cases where the 'trigger' does not support 'disabled' state. Hmmm. 🤔
I'm actually using a sl-icon for the 'trigger' in a particular case. There the styling on dropdown would suffice. This could also be the 'solution': add styling support to the dropdown and let the user disable the 'trigger' for other cases. No magi

[2022-04-29 17:05] ErikOnBike opened #739 "Focus on SlButton not showing consistently"
When an SlButton receives focus (programmatically) it does not always show it has focus. It differs per browser and/or setting.

I expect the blue-ish ring to be shown when a SlButton has focus. But sometimes this does not show, although the SlButton has focus.

All tests done on a macOS Monterey.

- In Brave (Version 1.38.109 Chromium: 101.0.4951.41) it always shows correctly.
- In Safari (Versio

[2022-04-29 17:07] ErikOnBike commented on #739
https://user-images.githubusercontent.com/5963296/165990785-3a495ff2-a6bf-49ac-bea0-5fa083dcd31e.mov

Added movie (hope it shows correctly) showing Safari's 'erratic' behaviour. It does show when SlButton is reached after pressing tab key multiple times, but not if SlButton is reached by single tab key (when focus is set by mouse to directly before or after the SlButton element).

[2022-04-29 18:21] ErikOnBike commented on #739
Probably relevant to mention: The SlInput and SlButton elements are slotted inside other WebComponents. The movie above shows an <es-window> having an <es-form> as content, which in turn consists of multiple <es-element> elements. Some <es-element> elements contain the SlInput and others SlButton elements (and/or SlSelect).

The focus is changed programmatically (as mentioned before) meaning the b

[2022-05-01 11:10] biltongza commented on #308
I've tried to follow this guide but things seem to have changed in a year!

@crutchcorn have you used this recently? It seems you can't use `require` in NextJS with ESM modules anymore. I tried switching it to use `import` but it just moves the problem to the next thing that uses `require`.

This is what I've tried:
[code]

This winds up blowing up like so:
[code]

[2022-05-02 08:18] kaiszybiak opened #740 "Consider using "forEach" instead of "map" as its return value is not being used (select.ts)"
### Describe the bug
Our internal SonarCloud integration detected an unused return value. While it is not an urgent "bug" we still might follow the suggestion and use "forEach" instead.

### To Reproduce
Code improvement suggestion. No steps required to reproduce.

### Screenshots
<img width="891" alt="Bildschirmfoto 2022-05-02 um 10 01 53" src="https://user-images.githubusercontent.com/38980361/1

[2022-05-02 11:48] #740 closed, assigned to claviska

[2022-05-02 12:12] claviska commented on #739
I'm currently using a [focus-visible utility](https://github.com/shoelace-style/shoelace/blob/next/src/internal/focus-visible.ts) to feature detect this, hence the varying behavior in Safari. Browser support looks like this:

https://caniuse.com/?search=focus-visible

Essentially, all browsers except older Safari will use their own heuristics to determine when the focus ring should be shown (typic

[2022-05-02 12:12] #739 closed, assigned to claviska

[2022-05-02 12:29] claviska commented on #738
The dropdown's trigger is slotted in, so it's controlled by the user. As such, the dropdown doesn't have any say over the trigger's disabled state and I don't think it should. You could, for example, slot in a `<span>` and make that the trigger.

[code]

While this is semantically incorrect and terribly inaccessible, it's technically possible and makes the case that a user could be slotting in any

[2022-05-02 12:55] ErikOnBike commented on #738
The fact that the dropdown is responsible for handling the 'click' on the 'trigger' gave me the impression that the dropdown does have more behaviour. It fitted in with the behaviour for disabling the dropdown. I do understand it being more 'utility'. It does feel the dropdown now sort of hijacks the button behaviour by listening for a click. But, no worries. I can work around this for my solution

[2022-05-02 12:55] #738 closed, assigned to claviska

[2022-05-02 13:00] ErikOnBike commented on #739
I'm cool with that. My observation was also "In Firefox Developer Edition (100.0b9) it **never** shows."
So it seems not be Safari only.

[2022-05-02 13:01] claviska commented on #738
If the dropdown were more opinionated, we could reasonably expect only certain elements to be slotted as triggers and support them. But in that case, we'd have two disabled attributes: one for the button and another for the dropdown.

I also wonder if there's a use case for disabling the dropdown but leaving the trigger enabled, perhaps for a tooltip or something. It's tough to find the right bala

[2022-05-02 13:03] claviska commented on #739
I don't have that to test, but it works fine with regular Firefox. If they've broken `:focus-visible` behavior, hopefully it doesn't ship to the stable browser that way. If it does, I suspect a lot of things will break, but we can address it then.

[2022-05-03 04:12] benjamind opened #743 "sl-select shows scrollbars in menu when html margin is 0"
### Describe the bug
It appears the sizing of the `sl-menu-item` within an `sl-select` is incorrect if the `html` element has no margin.

### To Reproduce
Steps to reproduce the behavior:

1. Set `html` style for `margin` to 0
2. Use an `sl-select` component
3. Open the control and observe scrollbars in the dropdown menu

### Demo

https://codepen.io/delarre/pen/GRQgMKo?editors=1100

### Screensho

[2022-05-03 04:17] benjamind commented on #743
Further investigation reveals this also occurs if the element is absolutely positioned at the edge of a scroll container.

[2022-05-03 10:27] sunwu51 commented on #134
So now is 2022, we still don't have a table component.

[2022-05-04 14:57] LazyDevStudio opened #744 "Sl-checkbox does not submit with form, whether checked or unchecked"
### Describe the bug
Sl-checkbox and also sl-switch do not submit with their form, whether checked or unchecked. They are not part of the FormData object either. Submitting both traditionally and via fetch API does not work.

### To Reproduce
- Create form, add an sl-checkbox, an sl-input, and sl-button of type "submit". Set the form fields as "required".
- Fill in the input, check the checkbox.
-

[2022-05-04 19:40] michaelwarren1106 opened #745 "[ sl-input ] sl-input with `toggle-password` set and `disabled` or `readonly` still allows the password toggle"
### Describe the bug
The `toggle-password` button is still operational even when the sl-input is `disabled` or `readonly` which implies that no interaction is available. Imo, the toggle password feature should also be disabled in this case.

### To Reproduce
Create an sl-input with `toggle-password` and `disabled`

[code]

[2022-05-05 06:22] bunesk commented on #745
In my opinion this is not a bug on a `readonly` input.

[2022-05-05 10:46] kaiszybiak commented on #101
Hey @claviska 👋🏼 awesome to see progress here 🙂. We are looking forward to use the calendar / date picker component in our projects 🤩.

Do you have a roadmap in mind at which point these components will be included into the `next` / `current` branch?

While reading through the past issues and feature requests regarding this topic I noticed you initially had [no interest in writing and maintaining

[2022-05-05 13:39] michaelwarren1106 commented on #745
@Buni48 imo that’s worth a deeper discussion.  iirc, the only real difference between disabled and readonly is that readonly inputs are still focusable whereas disabled inputs aren’t. the assumption of “non-interactive” imo is the same between these states so my thought was that being non-interactive meant that clickable other elements that appear to be “part of the input” shouldn’t be interactive

[2022-05-05 13:43] claviska commented on #745
In both `disabled` and `readonly` form controls, the text remains selectable and copyable. I figure those count as interactive, so hiding the clear icon makes sense, but I'm not sure about the password toggle. 🤔

[2022-05-05 13:47] claviska commented on #744
I believe this is a duplicate of #732 and has been fixed in `next` and will be available in the next release. You can verify this by seeing if it works in beta.72, as it is known to be broken in 73.

If this isn't a dup, feel free to comment and I'll reopen!

[2022-05-05 13:55] claviska commented on #101
The `calendar` branch is a proof of concept. I may evolve it further, but my current focus is on the new docs website, feature #413, and getting the design tokens stable to prep for the 2.0 release.

There's also some activity in the WC community to build a Lit-based calendar/date picker that libraries can import and reuse, so there could be some duplication of efforts happening that I'd like to a

[2022-05-05 13:56] michaelwarren1106 commented on #745
yeah it’s a tough one. The way I tend to think about it is that the toggle is about double checking what you typed to make sure that you typed the right thing. So if the input is disabled or readonly and you can’t type anything what sense does it make to have a clickable button that allows you to double check what you typed?

[2022-05-05 14:05] claviska commented on #745
Edge has a built-in password toggle that doesn't show when readonly. But then again, it only shows when you start typing.

The case for it showing/working in a readonly input can probably be made. For example, I may want to expose an API key that I've generated so the user can show/hide/copy it from the input.

Based on that, I'd be OK with:

- readonly inputs: show the password button; hide the c

[2022-05-05 14:08] claviska commented on #743
I need to investigate this further, but it could be intended, as `<sl-select>` uses `<sl-dropdown>` and the latter uses Floating UI to ensure the panel is positioned within the viewport.

[2022-05-05 15:36] bunesk commented on #745
I also think that this solution makes sense. I've updated the PR.

[2022-05-05 20:37] Antony92 commented on #744
Can confirm that checkboxes are not submitting their value even in beta.72

Here is an example [Codepen](https://codepen.io/aasenov92/pen/vYdNgve?editors=1000)

[2022-05-06 15:36] LazyDevStudio commented on #744
I tested down to beta.52 and the bug already occurred back then.

[2022-05-08 09:49] trailsnail commented on #744
Hi togehter,

don't you think that the `value` attribute is required?
If you add `value="1"` it works as expected.

![grafik](https://user-images.githubusercontent.com/4742603/167290819-d63a5cb9-c35a-45ba-9bc1-1a1129136f33.png)

I never saw a checkbox in a form without a `value` attribute - so this seems not to be a bug for me.

Other thoughts?

Was wondering - then none of our applications would

[2022-05-10 21:00] jaredcwhite opened #747 "`FormDataEvent` polyfill is breaking `FormData` constructor in older browsers"
### Describe the bug

The `FormDataEvent` polyfill, as derived from the work by Nick Williams, actually breaks working `FormData` behavior in Safari 14, Firefox 71, etc.

### To Reproduce

1. Use a browser which doesn't natively support `FormDataEvent`.
2. Exec code such as `const fd = new FormData()`

It will throw `TypeError: form is undefined` because there's no form parameter passed in.

[2022-05-11 12:08] #747 closed, assigned to claviska

[2022-05-11 12:27] alenaksu opened #750 "Form validation doesn't work inside Shadow DOM"
### Describe the bug
Form rendered into the Shadow DOM doesn't perform any client-side validation.

### To Reproduce
Steps to reproduce the behavior:

1. Create a new custom element with shadow dom
2. Render a form with shoelace controls in it with validation constraints
3. Submit the form

### Demo

[Stackblitz](https://stackblitz.com/edit/vitejs-vite-qtxapc)

### Browser / OS
 - OS: Linux
 - Bro

[2022-05-11 12:33] #745 closed, assigned to claviska

[2022-05-11 14:33] claviska commented on #744
I've verified that this is fixed in `next`. The updated behavior for `<sl-checkbox>` and `<sl-radio>` is that both will yield `on` when a name is provided without a value. When no name is provided, nothing is appended to the FormData object. This is consistent with native controls.

[2022-05-11 14:33] #744 closed, assigned to nobody

[2022-05-11 16:41] ajmchambers opened #752 "feature request: <sl-input> add "datetime-local" as valid "type" value"
### What issue are you having?
Similar to previous issue about adding "time" as vaid time to sl-input: https://github.com/shoelace-style/shoelace/issues/735
Would like to also add "datetime-local" as a valid type to sl-input.

[2022-05-11 19:54] #752 closed, assigned to claviska

[2022-05-11 20:59] abaanshanid opened #755 "Centered Tabs"
### What issue are you having?
Right now, tabs won't automatically centered, the come on the left.

![image](https://user-images.githubusercontent.com/65482369/167946518-25681b69-0e8b-4fe8-997f-2ff6c7ad9988.png)

### Describe the solution you'd like
I would like if tabs are automatically centered.

### Describe alternatives you've considered
For now, I've added `width: max-content; margin: auto;`

[2022-05-12 07:35] mkitzmann commented on #118
Our team (@kaiszybiak, @preethivenkatesh-sdase, @janborkensteinm, @mkitzmann) prepared a proposal for file input components. We are looking forward to your feedback and would like to discuss the next steps.

We suggest to build 4 separate components:
- Dropzone
- FileList
- FileListItem
- FileInput

These components could be used individually or composed together (see animation below).
We have cre

[2022-05-12 16:50] fhanrath opened #757 "sl-select popup placement breaks under certain conditions"
### Describe the bug
When a `sl-select` is rendered into a slot, the popup of the internal dropdown doesn't get positioned correctly.

### To Reproduce
Steps to reproduce the behavior:

1. clone https://github.com/fhanrath/shoelace-select-test
2. npm i
3. npm run dev
4. open localhost:3000
5. click on the different select components (all are configured the same way)

### Screenshots
![image](https

[2022-05-12 16:57] fhanrath commented on #757
To add a little bit more background:

The app that gets rendered initially just consists of a single div.
This `div` is the target for the `vaadin router` which renders the component which matches the current path according to its configuration into this `div`.

Rendering inside the vaadin router consists of `document.createElement` and appending that to the DOM.

Inside the redered component ther

[2022-05-16 10:46] alenaksu commented on #750
I noticed this commit that probably solves this problem, although I haven't had a chance to test it yet.
c86ae623cb052933ea75171d006c656b9be37305

[2022-05-18 01:08] luwes commented on #127
I put some effort in a similar component, feel free to steal some code of this;
Source: https://github.com/luwes/media-show/blob/main/src/input-list.js
Example (top right): https://media-show.vercel.app/

[2022-05-18 07:33] bjarnef opened #758 "Change color when clicking in palette of color picker"
### What issue are you having?
The Color Picker works great and has some great features.
However I noticed selecting a color in the color palette/spectrum only work on touch/drag not on click.
https://shoelace.style/components/color-picker

### Describe the solution you'd like
It would be great to move the handle and select and color with mouse event, when clicking inside the palette/spectrum.
Cur

[2022-05-18 08:30] mkitzmann commented on #118
We would like to prepare a PR for these components in the next couple of weeks. So it would be great to know if this is something that would be of interest to the community.
@claviska Would you be open to having separate issues for each component or do you prefer to handle it in this issue?

[2022-05-18 10:21] nkromm commented on #127
@luwes Looks good in the demo!
Thanks for sharing gonna check it soon, as I am still interested in this.

[2022-05-18 10:28] tobias-edwards commented on #218
Will this issue remain open until the Accessibility Object Model is ready? Other Web Components libraries are resorting to rendering form elements in the light DOM to work around these issues.

[2022-05-18 11:03] oliversalzburg commented on #191
I also have a small Shoelace application that is available in Hebrew and is suffering from RTL layout issues. It could happily serve as a proofing ground for any RTL changes being tested :D

[2022-05-18 12:33] claviska commented on #118
At first glance, this looks really good and well thought out. Unfortunately, it was submitted  the first day of my vacation so I won’t be able to give it a proper review until I get back next week. However, separate PRs would be better so we can keep each one focused and get them merged faster.

Thanks for contributing this, and apologies for the delay. I can’t wait to get home and review it!

[2022-05-18 12:36] claviska commented on #218
I recall seeing some activity in a Chrome bug that implied a fix was being worked on. I don’t think we’ll need to wait for AOM to land. I’ll investigate more when I get back.

[2022-05-18 13:42] shaal commented on #191
Related/unrelated, @claviska is [Doxicity](https://github.com/claviska/doxicity) going to support translations?
If we added Hebrew translation to Shoelace documentation, those pages will have `<html dir="rtl" lang="he">` which will make it very easy to find and fix all RTL issues.

[2022-05-18 14:03] claviska commented on #191
Yes, localization is on my list for Doxicity. There’s not much to do to get it there, just need some time to tackle it. Probably through a config option.

[2022-05-20 19:44] ddbradshaw commented on #308
@biltongza Did you ever make headway on this issue. This has been my battle today...

[2022-05-21 19:58] biltongza commented on #308
Nope :( gave up on using Shoelace :(

[2022-05-21 20:33] crutchcorn commented on #308
@biltongza were you using TypeScript by chance? Your code looks like it _should've_ worked.

Likewise, did you add `"type": "module"` to your `package.json`?

[2022-05-23 14:17] Zozman opened #759 "`sl-finish` Event Does Not Fire After An Animation Completes"
### Describe the bug
After an [`sl-animation`](https://shoelace.style/components/animation) completes, the [`@sl-finish`](https://shoelace.style/components/animation?id=events) event is not triggered.

### To Reproduce
Steps to reproduce the behavior:

1. Create an `sl-animation` element.
2. Set the iterations to `1`
3. Listen for a `@sl-finish` event.
4. Observe the event is not fired after the a

[2022-05-23 14:26] claviska commented on #759
This is working as expected: https://codepen.io/claviska/pen/dydzEWg?editors=1010

Note the message in the console after your animation completes, plus a couple additional things:

- Make sure you're event listeners are added correctly. If you're using a framework that understands `@sl-finish` then that will work fine, but from what I can tell your pen is vanilla HTML/JS so you'll need to use `add

[2022-05-23 14:26] #759 closed, assigned to claviska

[2022-05-23 14:30] Zozman commented on #759
Got it nah I probably made a mistake somewhere; thanks!

[2022-05-23 14:56] Zozman commented on #759
Can totally confirm I'm just dumb; sorry for the trouble.

[2022-05-24 12:47] claviska commented on #750
I'm seeing this happen in StackBlitz and CodePen, but I can't replicate it locally. Minimal repro, assuming Shoelace is already loaded:

[code]

If I run this outside of a sandbox, validation works correctly. When it runs in a sandbox, nothing happens and the form submits to a blank page.

Is this happening in your actual app? It seems like sandboxes are doing some kind of magic to intercept form

[2022-05-24 12:56] claviska commented on #757
Sorry, but I'm not comfortable running arbitrary repo code locally. I'm sure there's nothing malicious in there, but it takes too much time for me to evaluate every line of every file to make sure nothing sneaks in. Can this be replicated in a sandbox, preferably on CodePen or similar?

Typically, when you remove various pieces to narrow a bug down, the source becomes more clear and a minimal repr

[2022-05-24 13:00] #743 closed, assigned to claviska

[2022-05-24 13:02] claviska commented on #743
This was caused by the [`padding` property](https://floating-ui.com/docs/detectOverflow#padding) that gets passed to Floating UI, which was set to `8` for some reason. I was able to replicate it and verify the fix.

[2022-05-24 13:02] claviska commented on #757
FYI the other bug you were seeing, #743, has been resolved.

[2022-05-24 13:45] claviska commented on #218
This doesn't appear fixed in Canary. It's still announcing "1 of 1" whereas Safari announces "1 of 3" as expected. Still seems like a Chrome bug to me, and I'm reluctant to refactor everything or use light DOM hacks when most VoiceOver users seem to prefer Safari.

[2022-05-24 13:55] oliversalzburg commented on #654
I was trying to make this work based on `SlSelect` with the `multiple` option. A dedicated component would definitely be awesome.

[2022-05-24 14:04] benjamind commented on #743
Nice work thanks!

[2022-05-24 14:27] alenaksu commented on #750
Hi @claviska, yes I found this issue while working on a actual app. Which version are you using for testing locally, the next branch?
I did not mention that I'm using 2.0.0-beta.73.

[2022-05-24 14:33] tobias-edwards commented on #218
Also, VoiceOver in Firefox will announce twice as many radio buttons. I think this is because the shadow DOM `<input type="radio" />` has an implicit `role="radio"`, and `<sl-radio>` (in the light DOM) also has `role="radio"`. _Somehow_ accessible roles in the shadow DOM are breaching the shadow boundary and then being picked up by VoiceOver? I can see nested `role="radiobutton"` in Firefox's gene

[2022-05-24 14:34] #758 closed, assigned to claviska

[2022-05-24 14:42] claviska commented on #218
Interestingly, Firefox + VoiceOver doesn't read the labels but it does announce twice as many radios. This also seems like a browser bug to me, but adding `aria-hidden="true"` to the internal radio input seems to alleviate it without any ill effects on Chrome and Safari.

I'll try to look into this more soon. Thanks so much for the detailed info!

[2022-05-24 14:46] claviska commented on #750
I was testing against `next`, which does have a form submission fix. https://next.shoelace.style/resources/changelog?id=next

It's currently unreleased, so you'd need to pull it locally and use `npm link` to try it, or wait for the next release.

[2022-05-24 16:07] davidkudera opened #760 "Getting valueAsDate of sl-input immediately after setting it returns null"
### Describe the bug

Getting `valueAsDate` of `sl-input[type=date]` immediately after setting it returns `null`. This is different to working with plain `value` or with native `input` element which works as expected.

[code]

`valueAsNumber` has the same problem (returns `NaN`).

### Demo

https://codepen.io/davidkudera/pen/poaWZYO

### Browser / OS
 - OS: Windows
 - Browser Vivaldi
 - Browser ve

[2022-05-25 11:42] felipeferreirasilva commented on #218
I'm having the same problem using <label> and <input>, on chrome and firefox, voice over always reads 1 of 1, but in Safari it works well.

[2022-05-25 12:27] claviska commented on #118
## Dropzone / FileList / FileListItem

Apologies for the delay. I'm really liking Dropzone, FileList, and FileListItem. It looks like FileList and FileListItem aren't listed as dependencies of Dropzone — in that case, is the user expected to listen for events and populate the FileList themselves? I was thinking it would be automatic, and I'm not sure if that's what you're intending or not.

In oth

[2022-05-25 12:56] #760 closed, assigned to claviska

[2022-05-25 12:57] claviska commented on #760
This has been fixed and will be available in the next release.

[2022-05-25 13:02] claviska commented on #755
Another approach that preserves the active tab indicator's border is:

[code]

Example: https://codepen.io/claviska/pen/YzeEpog?editors=0100

I'm going to close this since it's solvable with CSS, and I'm not interested in baking alignment as an attribute into tabs since it will likely conflict with LTR/RTL settings once #191 is implemented.

[2022-05-25 13:02] #755 closed, assigned to claviska

[2022-05-25 14:08] davidkudera commented on #760
Nice, thank you 🍻

[2022-05-25 21:04] bjarnef opened #762 "Color Picker palette should not be all white in top of palette"
### What issue are you having?
The palette in color picker is a great feature and quick way to select a color without knowing specific color codes. This is similar to many other color pickers like the built-in one in Google Chrome.

However unlike the one it seems the top part is all white. Usually top left is whte `#ffffff` and red `#ff0000` at top right as in Chrome.

![image](https://user-image

[2022-05-25 21:11] bjarnef commented on #762
A few other examples:

![image](https://user-images.githubusercontent.com/2919859/170367555-ff207110-9c90-4b56-9f19-23a81b446e93.png)

![image](https://user-images.githubusercontent.com/2919859/170367679-49471424-bfca-4f96-bfd9-54ce6d9e7403.png)

[2022-05-25 21:34] claviska commented on #762
This was a design choice to make color calculations more sane and simpler to program. In my opinion, it also results in a more consistent UX. The color picker uses three values to determine the selected color in HSL:

- The x-axis determines saturation
- The y-axis determines lightness
- The slider below determines the hue

Not all color pickers are the same, but [Mozilla's color picker tool](http

[2022-05-25 22:19] alenaksu commented on #750
Yea it is working linking to `next`, I look forward for the next release :)

By the way, thanks for this awesome set of components!

[2022-05-25 22:19] #750 closed, assigned to claviska

[2022-05-26 00:43] bjarnef commented on #762
Okay, I didn't notice that other color pickers are using a similar tecnique, but most of the color pickers I haven seen use the tecnique having red color in top right corner (not saying this tecnique is incorrect).

Actually Mozilla's color picker use both techniques when changing between HSL and HSV modes: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool

[2022-05-26 21:15] claviska commented on #762
I looked into this some more and I'm still a bit conflicted, but admittedly there are many more instances of the HSB grid (the one you proposed) than the HSL grid (the one Shoelace uses). I'm not sure what the origin is, but it's definitely more common. It also wasn't difficult to translate this logic into the existing component from MiniColors.

While I still think it's a bit less intuitive, its

[2022-05-27 01:29] #762 closed, assigned to claviska

[2022-05-27 04:33] jaredcwhite opened #764 "Inputs automatically submit the form upon Enter, no way to opt out"
Normally there's a way to add event handling for standard HTML inputs to cancel the event when the Enter key is pressed, so as to avoid submitting the form or otherwise handle the event manually.

It doesn't appear `sl-input` has that ability. It handles the underlying input within the shadow DOM and triggers a form submit immediately, bypassing any user-level event handling.

The particular line

[2022-05-27 04:43] jaredcwhite commented on #764
I figured out a workaround — if you use event capturing and call `stopPropagation()` it'll cancel the event down in the shadow DOM.

[code]

Feel free to close if you think that's sufficient.

[2022-05-27 10:58] ex37 opened #765 "remove icon dependencies"
### What issue are you having?
In my particular case, `sl-menu-item` is depending on 2 icons from default library - `check-lg` and `chevron-right`. The problem is, cause I am bundling shoelace myself, I can't find out upfront which icons are used for my bundled components. In fact, cause icons are loaded dynamically, I can't add hash to the filenames when using my bundler.

### Describe the soluti

[2022-05-27 11:43] #765 closed, assigned to claviska

[2022-05-27 11:45] claviska commented on #765
All icons used internally must use the [system icon library](https://shoelace.style/components/icon?id=customizing-the-system-library). This was an oversight, but has been corrected in 9e747e7c2e3897d92b4623cd70e5487bb1d5ae96.

[2022-05-27 11:52] ex37 commented on #765
thanks, doing same locally fixed my issue!

[2022-05-27 12:15] #764 closed, assigned to nobody

[2022-05-27 12:18] claviska commented on #764
There was no way to cancel the `keydown` event because the binding happens in the component. Wrapping the submit logic in `setTimeout()` will wait a cycle, which is enough time for other listeners to cancel the event if needed. For good measure, I also added a test to prevent regressions.

[2022-05-27 15:38] jaredcwhite commented on #764
Cool, thanks for digging into that!

[2022-05-27 18:51] claviska commented on #686
This pattern has been established, so I'm going to close this now. If there are specific needs not being met due to a lack of parts, please submit a fresh issue and we'll address them in new issues.

[2022-05-27 18:51] #686 closed, assigned to claviska

[2022-05-27 18:54] claviska commented on #655
Help text uses `aria-describedby` to announce it correctly in screen readers, and because form controls are inside shadow roots in Shoelace, making it separate won't work.

Which form controls are you interested in adding this to? If you're just looking for a similar style, I think #413 will be more appropriate. But if you want to bake this in, let's establish a definitive list and discuss them.

[2022-05-27 18:57] claviska commented on #615
I'm still open to adding this, so if someone wants to submit a PR I'll gladly review it. However, it's not something I'm going to spend time on so I'm closing this one.

[2022-05-27 18:57] #615 closed, assigned to claviska

[2022-05-27 19:48] biltongza commented on #308
Yes, using typescript. I've added `"type": "module"` and still get the same issue.

[code]

[code]

[code]

[2022-05-28 05:06] CetinSert opened #766 "`<sl-menu>` caching `<sl-menu-item>`s breaks dynamic toggling of `<sl-menu-item>.disabled` (`2.0.0-beta.74` regression)"
### Describe the bug
Regression introduced in `2.0.0-beta.74`.

[Caching menu items](https://github.com/shoelace-style/shoelace/commit/18d441ef2edcc395ea56f986187c3955bc83807a) causes regression when dynamically setting `<sl-menu-item>.disabled`.<br>(Demonstrated below matching `<sl-menu-item>.disabled` with whether the item is displayed.)

### To Reproduce
Steps to reproduce the behavior:

1. Vis

[2022-05-28 05:21] CetinSert opened #767 "Using `outline` for focus rings breaks `border-radius` in Safari (15.4 latest stable; 15.4 Technology Preview Release 146)"
### Describe the bug

Regression introduced in `2.0.0-beta.74`.

[Making focus rings not use `box-shadow` but `outline`](https://github.com/shoelace-style/shoelace/commit/ca81a507b659a68a8b1488e486883795680c1996) causes a visual regression in some browsers.<br> Some browsers, like the latest stable Safari (documented below), do not yet apply `border-radius` to `outline`.

### To Reproduce
See scre

[2022-05-28 07:27] asmanp2012 commented on #191
@claviska
Hi, I am ready to help, my mother tongue is Persian and RTL. I can help you please give me more advice to start that.

[2022-05-29 10:58] oliversalzburg commented on #750
Is there an timeline for upcoming releases or are preview builds available? Sadly, I couldn't find any myself. `npm link` is not an option in my environment.

[2022-05-29 10:59] claviska commented on #750
This was released a couple days ago. https://shoelace.style/resources/changelog?id=_200-beta74

[2022-05-29 11:36] oliversalzburg commented on #750
Oh, thanks. I was catching up on emails from the past several days and missed that there was already a release. I'd still be interested in an answer to my question for future reference.

[2022-05-29 11:55] xxxxue opened #769 "How to use in solid.js"
Hi , How to use in solid.js ,
Is there an example.
If it can be used in solid.js,  it is really great

[2022-05-29 11:57] #769 closed, assigned to claviska

[2022-05-29 12:00] claviska commented on #750
There is no specified release cadence at this time.

[2022-05-31 12:31] #766 closed, assigned to claviska

[2022-05-31 12:32] claviska commented on #766
Good catch. This was a bad commit due to the fact that menu items are so dynamic. I'll need to rethink this. Reverted in `next`.

[2022-05-31 12:41] #767 closed, assigned to claviska

[2022-05-31 12:50] claviska commented on #767
I made a commit to  `<sl-input>`, `<sl-select>`, and `<sl-textarea>` to revert to box shadow since those components use `:focus` instead of `:focus-visible`, so the focus ring is _always_ shown when interacting with those controls.

I'm not concerned about other components, as they prefer `:focus-visible` so they won't be shown unless you're using the keyboard. Even in versions of Safari where `:f

[2022-05-31 12:51] claviska commented on #767
It's also worth mentioning that users who are really passionate about the shape of the focus ring can override the appropriate styles and reapply their own box shadow in lieu of the outline property.

[2022-05-31 16:30] tobias-edwards commented on #767
Have you considered adding an `outline` for compatibility in forced colour modes (e.g. Windows high-contrast mode) because `box-shadow` gets reverted? You can set a transparent outline which gets overriden appropriately and doesn't impact the component's focus state for users in non-forced colour modes.

Reference http://useragentman.com/enable/focus-styling.php

[2022-05-31 23:42] crutchcorn commented on #308
@ddbradshaw @biltongza Instructions have now been updated in a PR here:

https://github.com/shoelace-style/shoelace/pull/771

I have tested and confirmed them to work as-expected

[2022-06-01 09:28] mkitzmann commented on #118
Thanks for the feedback @claviska!

It sounds like a good idea to drop the FileInput component. It would probably just be a more "compact" version of the Dropzone and FileList without that same level of usability.

The FileButton could actually be a feature of the Dropzone, since that is pretty much the same functionality just styled differently. So maybe we could add a `buttonOnly` prop that disp

[2022-06-01 12:03] claviska opened #772 "Calling form.reportValidity() bypasses Shoelace controls"
This is expected, but it's an edge case that's worth supporting. Unfortunately, I think this will only be possible by overloading the form's `reportValidity()` method.

Example: https://codepen.io/oliversalzburg/pen/vYdjxWq

[2022-06-01 12:47] oliversalzburg commented on #772
Maybe this will be of use:

- https://developer.mozilla.org/en-US/docs/Web/API/ElementInternals
- https://css-tricks.com/creating-custom-form-controls-with-elementinternals/

[2022-06-01 13:11] claviska commented on #772
Thanks. This is the correct long term solution, but [until Safari support lands](https://caniuse.com/mdn-api_elementinternals), we have to use workarounds. There's a polyfill, but [it has some limitations](https://github.com/calebdwilliams/element-internals-polyfill#current-limitations), one specifically for `reportValidity()`.

[2022-06-01 13:23] #772 closed, assigned to claviska

[2022-06-01 13:26] claviska commented on #772
Fixed in af1e4401037bfb1a4fd5be2739d6987cefc7d36a by adding an overload to the FormSubmitController. Whenever a Shoelace form control is connected to the DOM, its containing form will have its `reportValidity()` method overloaded.

Again, this won't be necessary with `ElementInternals`, but for now this is the cleanest way I can think to solve it.

[2022-06-01 13:58] oliversalzburg commented on #772
Woah. That was lightning-fast! Thanks for the quick work 🌟

[2022-06-01 14:38] claviska opened #773 "Mechanism for detecting RTL inside components"
In #768 [we talked about](https://github.com/shoelace-style/shoelace/pull/768#issuecomment-1143651129) the need for detecting RTL outside of CSS. This issue intends to track _how_ we're going to do that.

I recall seeing some clever ways to efficiently detect RTL, one using [`matchMedia()`](https://developer.mozilla.org/en-US/docs/Web/API/Window/matchMedia) to test for `:dir` or something like tha

[2022-06-01 14:40] claviska commented on #191
The CSS side of things has mostly been implemented in #768, so I'm closing this to focus on any remaining issues (which should be filed as new bugs). See also #773 which could use some feedback.

[2022-06-01 14:40] #191 closed, assigned to claviska

[2022-06-01 14:51] jaredcwhite commented on #118
Just chiming in to say I'm very excited about this. Working with dropzones/multiple file uploads with progress has always been pretty tricky, even with battle-tested well-known libraries. And I don't know of any in the WC space. I'll definitely be able to make good use of this!

[2022-06-01 16:20] nileshtrivedi commented on #127
I tried to set up a combobox with `sl-input` and `sl-menu` both (a) with `sl-dropdown` and (b) without.

Unfortunately, both have serious issues with keyboard event handling.

https://svelte.dev/repl/a6f8e1e48a494a9eabbe7d879f0fbde6?version=3.48.0

[2022-06-01 17:16] shaal commented on #773
This article has an interesting solution https://dev.to/madsstoumann/a-quick-guide-to-css-logical-properties-2fce

Things we should still fix -
Search&replace all (what a great surprise that there are only a few of these remain)
* `.style.transform = translateX`
* `marginLeft`, `marginRight`
* `margin-left`, `margin-right`
* `padding-right`, `padding-left`

with their Logical CSS equivalent.

Perh

[2022-06-01 21:33] DeadWisdom commented on #413
Please give me clear docs on using them in the lightDOM and shadowDOM at the same time, then yes.

[2022-06-02 01:43] SabineWren opened #775 "Disabling an open Tooltip locks it open"
### To Reproduce
[Codepen demo](https://codepen.io/sabinewren/pen/bGLMmLa)
1. Focus the input
2. Type something
3. Mouse over the tooltip trigger
4. Press 'enter'
5. Now try to close the tooltip!

### Workaround
`sl-tooltip[disabled]::part(base) { display: none; }`

### Browser / OS
Chromium 99 / desktop Linux

[2022-06-02 12:11] #775 closed, assigned to claviska

[2022-06-02 12:12] claviska commented on #775
Thanks. I was able to repro and fix this.

[2022-06-02 13:31] oliversalzburg opened #776 "Low contrast date/time picker icons on Chrome in dark mode"
### Describe the bug

The date/time pickers on Chrome receive a small icon on their right. A calendar/clock respectively. This icon is black by default and has very little contrast when using a dark theme.

### To Reproduce

The demo at https://shoelace.style/components/input?id=input-types illustrates this issue when in dark mode on Chrome.

### Screenshots

![image](https://user-images.githubuse

[2022-06-02 14:57] oliversalzburg opened #777 "Chrome freezes when dropping down select"
### Describe the bug

Under certain conditions, if the dropdown of an `SlSelect` is dropped down, Chrome will freeze in an infinite loop.

### To Reproduce
Steps to reproduce the behavior:

1. Go to https://codepen.io/oliversalzburg/pen/VwQdYgO?editors=1100
2. Drop down the lists one after another until one makes the browser freeze

If this doesn't happen, go into Responsive Design mode and reduce

[2022-06-03 20:39] augustjk opened #778 "Server-side rendering (SSR) compatibility"
Hello!

I've been testing out a work in progress utility for testing Lit elements being rendered server-side (https://github.com/lit/lit/pull/2957) and have been trying it out on some shoelace component tests. I wanted to report some initial findings for things that were breaking when putting the components through lit-ssr which were mostly due to unavailable DOM APIs.

- focus-visible check
https

[2022-06-05 21:00] SabineWren opened #781 "Chrome - Disabled sl-icon-button propagates click events"
### Bug
sl-icon-button propagates click events when disabled, while sl-button stops them. It seems like Chrome doesn't call the internal click handler for sl-icon-button.

### Demo
[Codepen](https://codepen.io/sabinewren/pen/gOvjoBJ)

### Browser / OS
Chromium 99 / desktop Linux
Chrome 102 / Windows 10
Firefox works fine on both systems.

[2022-06-06 05:05] SabineWren commented on #777
I was able to reproduce this in Firefox as well (bottom row in your codepen). As a workaround, you can set padding on the parent container. i.e. It doesn't seem to happen when the container is larger than the menu.

[2022-06-06 16:13] oliversalzburg commented on #777
I actually tried to do that, but wasn't able to make it work. It's not easy experimenting with this with the browser freezing every try :D

[2022-06-06 16:20] claviska commented on #777
I haven’t had a chance to dive into this issue yet, but has anyone tried upgrading to the latest version of Floating UI to see if it’s already been solved upstream?

[2022-06-06 21:01] #776 closed, assigned to claviska

[2022-06-06 21:01] claviska commented on #776
I solved this by adding [`color-scheme`](https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme) to each theme's stylesheet, which hints to the browser which colors to use for things like this.

[2022-06-06 21:14] #781 closed, assigned to claviska

[2022-06-06 21:16] claviska commented on #781
The event you're seeing was bubbling up from the icon element inside the icon button. Normal buttons have `pointer-events: none` which prevents that, so I've made icon button consistent with that behavior.

[2022-06-06 21:33] claviska commented on #778
Thanks for diving into this! I'd love to improve things here, but I have a few questions.

Would it make sense to add this API to the testing tool as a placeholder method? I'm sure I'm not the only one using this, and I'm fine with using optional chains if needed, but I'm concerned that contributors  and even myself will remove the `?` at some point.

I can't really think of a great way to prevent

[2022-06-06 21:36] claviska commented on #778
One more thing...is there a list of issues/gotchas that I can reference? Knowing what not to do will be helpful, and I'd also like to link to or add it to the contribution guidelines.

[2022-06-06 22:59] augustjk commented on #778
We could potentially add a no-op `.remove()` to the object returned by `.createElement()` in our DOM shim. @justinfagnani what do you think?

The constructor is also run server side where `DOMParser` is unavailable. Perhaps it can be instantiated within `firstUpdated`?
[code]

We have a brief documentation of SSR limitations here https://github.com/lit/lit/tree/main/packages/labs/ssr#notes-and-lim

[2022-06-06 23:32] justinfagnani commented on #778
I'd love to find a way to SSR the icons, not just delay their parsing/render till hydration. That would probably require quite a change in the icon system though. Some of on the Lit team may go off an experiment there and see what we can come up with...

[2022-06-06 23:53] claviska commented on #778
I suppose we could create a new instance on `firstUpdate`, but I’d still like to scope the reference to the module so we’re not instantiating one per icon. There’s a little gymnastics there, but a comment should make it pretty clear what’s going on.

I can do this in the meantime. I’m interested to see what Justin et al come up with, but I’m not sure how it will work without baking in all the icon

[2022-06-07 13:18] claviska commented on #778
Updates:

- [x] The call to `getElementsByTagName()` has been deferred to the first time `getBasePath()` is called. ce09ac2a92664d5ec704bf3ce874df30897de6b4
- [x] The DOMParser instantiation has been moved into the `setIcon()` method which gets called on `firstUpdate()` 15dbb0a634e3af26c0c71fcaebac37d438e46d38

Outstanding issues include:

- [x] ~Can the testing tool support a no-op `remove()` met

[2022-06-07 13:28] claviska commented on #777
I was able to repro this in CodePen, but I can't seem to break it in any other environment. I did update Floating UI to 0.5.2 in 6dd9773f2c75148d41998036ecda86c6ea3dee89, but I don't see anything [in the changelog](https://github.com/floating-ui/floating-ui/releases/tag/%40floating-ui%2Fdom%400.5.2) that addresses an issue similar to this.

I think the next step is to narrow down the repro. Does i

[2022-06-07 14:30] claviska commented on #773
This has been [implemented in `@shoelace-style/localize`](https://github.com/shoelace-style/localize/commit/d5dc62824103d393647603a9515a7bc2587052d2). It works the same way that `lang` currently works, which means the controller looks at the host element's `dir` attribute if it exists and falls back to `<html dir>`. For performance reasons, we don't allow ancestors other than `<html>` to control d

[2022-06-07 14:30] #773 closed, assigned to claviska

[2022-06-07 18:40] oliversalzburg commented on #777
On commit 4c3313e27591ab09b72c48fd76ff91f758d47594 of shoelace, this causes the freeze for me:
[code]

I believe the `overflow: auto` specifically is key here. `overflow: scroll` doesn't produce the freeze for me.

What surprised me additionally is that `hoist`ing has no impact on this. I assumed the element wouldn't be affected by the constraints of its parent in that situation.

[2022-06-07 20:56] atomiks commented on #777
@claviska this code is stuck in a loop I am assuming https://github.com/floating-ui/floating-ui/blob/84ecd57433ec9b4b788e4ed6f1ed6ef2c4b3aa28/packages/core/src/middleware/size.ts#L85-L103

After applying the new dimensions on each lifecycle run, it's different each time, not sure why in this scenario

Have you tried disabling `elementResize` in the dropdown? IIRC the ResizeObserver can cause issue

[2022-06-08 06:35] p-hennessy commented on #777
This seems to be happening for me as well when the dropdown doesn't have enough space to render the full list without overflow. To reproduce it for me its as simple as just sliding up my devtools bar

[2022-06-08 18:06] fhanrath commented on #757
Sorry for not replying for a while.

This was the smallest minimal reproduction I could come up with at the time.

It probably was something like that.

I was able to resolve the issue with your recommended solution of using `hoist`.

Thank you for your time and help!

[2022-06-08 18:06] #757 closed, assigned to claviska

[2022-06-08 21:46] asmanp2012 opened #783 "Button group styles breakage in RTL mode"
### Describe the bug
After the changing style of the button group in RTL support, [this ](https://github.com/shoelace-style/shoelace/commit/707aeb6d65c46ef59dcb50e602f9b6d3a170b3fc)came back but the issue is not solved.

![image](https://user-images.githubusercontent.com/60387129/172722920-a61de3e1-ec44-4095-aa05-36c8767abd1d.png)

[2022-06-08 21:47] claviska commented on #783
Ah, right. Thank you for the reminder. I'll look into this tomorrow!

[2022-06-08 21:58] claviska commented on #778
Today's release includes the fix for base path and DOMParser. I'm willing to solve the `remove()` issue if it's a blocker, but the last item (slot detection) will probably be a limitation of specific components until we have a CSS solution or a reasonable workaround. I'm open to suggestions!

[2022-06-09 10:34] asmanp2012 commented on #773
Today I discussed this with @alimd he believes this shouldn't be controlled with localizing package I searched about it and found `getComputedStyle(this)` that returns all applied CSS on the element and maybe its better to we use that to know the direction of the component.

Too I checked [`Can I use`](https://caniuse.com/getcomputedstyle), and this has good support after 2012.

If you( @claviska

[2022-06-09 12:53] claviska commented on #773
It boils down to performance. I explored this extensively for `lang` and chose to handle `dir` the same way because they share the exact same problem: there's no performant nor reliable way to determine an ancestor's `lang` or `dir` attribute, especially when you're inside a shadow root.

You can read more about this decision here: https://github.com/shoelace-style/shoelace/issues/419#issuecomment

[2022-06-09 13:23] #783 closed, assigned to claviska

[2022-06-09 16:15] oliversalzburg opened #784 "Drawer slide-out direction should be reversed in RTL mode"
### Describe the bug
When in RTL mode, a drawer set to `placement="start"` will slide out from the same direction as when in LTR mode. I believe it should slide out from the opposite side.

### To Reproduce
Steps to reproduce the behavior:

1. Go to <https://plantdb.net/nursery/>
2. Click on the language selector in the top right and switch to HE.
3. The drawer slide out icon button is now positio

[2022-06-09 16:16] claviska commented on #784
Good call. It should be an easy fix. I can get to it tomorrow if nobody and it’s a PR in the meantime.

[2022-06-09 17:36] oliversalzburg commented on #784
Maybe `.sl-toast-stack` needs to have the default position logic reversed in RTL as well.

I'll put that in another ticket. Doesn't seem trivial to me.

[2022-06-09 17:46] oliversalzburg opened #785 "Toast stack default position should be reversed in RTL mode"
### Describe the bug
I haven't actually verified this, but I assume that the toast stack position is not reversed in RTL mode, based on the code.

https://github.com/shoelace-style/shoelace/blob/next/src/themes/_utility.css#L11 doesn't seem to have customization for RTL.

### To Reproduce

I'm not sure how to easily force RTL mode on arbitrary examples, like in CodePen, but <https://shoelace.style

[2022-06-09 21:22] claviska commented on #785
Fixed in https://github.com/shoelace-style/shoelace/commit/9b39c9084957f66efc6945021e3cde780c2e8174.

[2022-06-09 21:22] #785 closed, assigned to claviska

[2022-06-09 22:14] #784 closed, assigned to claviska

[2022-06-09 22:20] claviska commented on #784
This was a bit more challenging due to the way [animations are defined](https://github.com/shoelace-style/shoelace/blob/c8d92e41b273f49670a6dce68c4958f3564a12a6/src/components/drawer/drawer.ts#L308-L391). Since there's no logical property for `translateX`, the Animation Registry needed to be refactored to support directionality.

Most of the existing animations don't require a RTL alternative, but

[2022-06-10 07:17] oliversalzburg commented on #784
Wow. That is amazing. Excellent work. 👍

[2022-06-10 13:29] claviska commented on #777
Thanks for the additional info. I'm able to consistently reproduce this in Chrome using just this:

[code]

The trick is to make sure there's not enough room_above and below_ the dropdown. In that case it fails every time, seemingly stuck in a loop.

@atomiks Thanks for the tip. I tried that but got the same result. Do you think the loop is happening because Floating is waiting for enough space to

[2022-06-10 15:12] oliversalzburg commented on #777
Not sure if this changes anything, but my real-world use case is close to my original example, where there should be plenty of space for the dropdown _above_ the input.

[2022-06-10 21:15] claviska commented on #655
If there's no further comment on this, I'm going to close it in favor of #413 which will be landing soon.

[2022-06-10 21:15] #655 closed, assigned to claviska

[2022-06-10 21:15] atomiks commented on #777
@claviska not sure, maybe it's only present when using shadow DOM? If using DEV mode, an error gets thrown if the lifecycle exceeds 100 iterations so it doesn't lock up the browser and is easier to debug. You should be able to add some logs to see why it keeps resetting, try removing each middleware and seeing which is the culprit and then logging to see where a `reset` gets returned inside of it.

[2022-06-10 22:15] atomiks commented on #777
I tried to dive into this and I think it may be a bug with the minified code that's being distributed since `beta-74` (it was hard to debug on minified code). It doesn't exist in `beta-73`.

https://github.com/floating-ui/floating-ui/blob/84ecd57433ec9b4b788e4ed6f1ed6ef2c4b3aa28/packages/core/src/middleware/flip.ts#L105-L119

`middlewareData.flip` doesn't seem to exist on subsequent runs and so an

[2022-06-11 12:55] oliversalzburg commented on #777
When I debugged this, it seemed like all the 4 middlewares are stepped through fine and the `size` middleware resets. When removing the `apply` from the `size` middleware, the freeze no longer happens. Doesn't seem like the right fix though.

[2022-06-11 23:36] atomiks commented on #777
@oliversalzburg you're right, after checking again, `size` is getting stuck in a loop where the available height is constantly cycling between two numbers but only when `flip()` is present.

In the latest versions (since ~3 months ago), it now checks if the dimensions before  and after `apply` is called is different, and if so, it resets. This can cause a possible loop if this keeps changing. To p

[2022-06-12 00:06] atomiks commented on #777
I've merged a fix that will prevent any infinite loops from occurring and will release it soon — but the question still remains why it's cycling in an infinite loop which I haven't seen.

Looking at the code, maybe it's because the styles are being applied to the panel instead of the positioner wrapper 🤔

EDIT: the new version is being released now. @claviska if you can make a minimal repro where

[2022-06-12 08:13] oliversalzburg commented on #777
I took another close look at this and noticed something of interest.

When the select is dropped down, two position computations run in parallel and are likely conflicting with each other. You have one positioner running in `handleOpenChange` in the dropdown and you have another in `handleMenuShow` in the select.

[2022-06-13 13:04] mkitzmann opened #786 "Radio input checked state"
### What issue are you having?

It is difficult to theme the checked state of the Radio Input since it uses an SVG element. So even for minor adjustments, the whole SVG needs to be overwritten.
https://github.com/shoelace-style/shoelace/blob/next/src/components/radio/radio.ts

### Describe the solution you'd like

Instead of an SVG the checked state could be styled using CSS. Either by using a bor

[2022-06-14 00:45] atomiks commented on #777
@oliversalzburg I would say that's the most likely cause for the infinite loop! Running them in parallel is going to cause conflicts with the positioning logic, so ensuring only one of them is active should fix the issue

Edit: I just confirmed that in my local repro. Removing `this.dropdown.reposition()` removes the infinite loop in the current version, but it still gets positioned correctly beca

[2022-06-14 09:21] oliversalzburg commented on #777
@atomiks Maybe I should open this as a suggestion on the floating-ui repo, but I figured it fits well into this context.
Would it be possible to place a marker on a DOM element currently subject to size/position computation and catch when a second computation is attempted? Maybe it's a rare edge case, but I feel like a safety mechanism like that could help consumers of the library, similar to the

[2022-06-14 12:53] claviska commented on #786
SVG use is consistent in radio and checkbox, so I'd like to maintain that consistency and find a better solution that works for both (and future) components.

A couple ideas:

1. We can use slots where the fallback content is the current SVG. This would let you slot in your own SVG or any HTML you wanted. The drawback is you'd need to slot it in for _every_ form control you want to restyle, which

[2022-06-15 06:13] gitty323 opened #790 "Shoelace Tooltip has no background"
### Describe the bug
When using the Shoelace tooltip component, only text appears below the button. There is no background to the tooltip.

### To Reproduce
Steps to reproduce the behavior:

1. Import shoelace tooltip: `import '../../node_modules/@shoelace-style/shoelace/dist/components/tooltip/tooltip.js';`
2. Wrap the desired element in the tooltip tags (in my case, a Lit button)
3. Load the pag

[2022-06-15 10:27] SabineWren commented on #269
Leaving username and password inputs in light dom worked fine for a while, but recently Chrome began console warning about inputs not using a parent form. A dummy form works, but I have no idea if this will cause problems for password managers or accessibility.
[code]

[2022-06-15 12:48] claviska commented on #790
It sounds like you're not importing a theme. This page describes how theming works in Shoelace, including how to support light mode, dark mode, and/or both.

https://shoelace.style/getting-started/themes

If that's not the case, please post a follow up comment and I'll reopen for further evaluation.

[2022-06-15 12:48] #790 closed, assigned to claviska

[2022-06-15 13:12] #777 closed, assigned to claviska

[2022-06-15 13:15] claviska commented on #777
I'm happy to report that this has been resolved. I was able to replicate it consistently and patch it by waiting for the next frame prior to repositioning. After 624a8bbe71e59ae6255730e34d71e0b13d5ecf90, I'm no longer able to replicate it.

Thanks to everyone who helped troubleshoot this one! Shoutout to @oliversalzburg for [this comment](https://github.com/shoelace-style/shoelace/issues/777#issue

[2022-06-16 14:24] gitty323 commented on #790
Got it - I didn't realize that JS and CSS had to be included separately. Including them on the html page fixed the issue. Thank you!

[2022-06-16 22:40] claviska commented on #790
Yeah, the themes are just a collection of design tokens that all the components use. There aren't any styles aside from that.

[2022-06-18 20:17] oliversalzburg opened #791 "Duplicate clear icon in (date) input"
### Describe the bug
Under certain conditions, the `sl-input` will show two clear icons.

### To Reproduce
Unclear so far.

### Demo
https://codepen.io/oliversalzburg/pen/vYdMWOe?editors=1000

### Screenshots
![image](https://user-images.githubusercontent.com/1658949/174455860-248eac80-4ed6-4ce8-8117-beb610167ee8.png)

### Browser / OS
 - OS: WIndows
 - Browser: Firefox
 - Browser version: 101.0.1

[2022-06-18 21:12] bunesk commented on #791
I can only reproduce this in Firefox. It seems to me that Firefox itself inserts this clear button because if you remove the `clearable` you still have one clear icon and it is directly within the input element. It also appears in a regular `<input type="date">`.

[2022-06-19 08:14] oliversalzburg commented on #791
You're right. This only happens in Firefox. Not sure what I was thinking yesterday.

[2022-06-19 09:21] oliversalzburg commented on #791
So for Webkit-based browsers, there's a `-webkit-clear-button` pseudo element. This pseudo element isn't supported in Firefox. There's a [4 year old issue on the subject](https://bugzilla.mozilla.org/show_bug.cgi?id=1427173) and no alternative approach was provided there.

I've also seen this issue brought up in another component library, where they ended up implementing the entire picker themselv

[2022-06-19 12:08] bunesk commented on #791
Yeah I also didn't find something else to solve this. But in my opinion it is still better to use `clip-path` to solve this like this:
[code]
I think this would be better than hiding the shoelace clear button because the clear button of Firefox:
1. shows also up when `clearable` is not set
2. always has the same size, no matter which size you set to the `sl-input`
3. the position of the clear icon

[2022-06-19 13:19] oliversalzburg opened #793 "Clear button is initially invisible and hidden when a value is set on `sl-input`"
### Describe the bug
When setting a value on an `sl-input` with the `number` type which has `clearable` enabled, the clear button is initially hidden. When a value is set on the control, the button is also hidden if it was previously visible.

### Demo
https://codepen.io/oliversalzburg/pen/eYVojqg?editors=1010

### Browser / OS
 - OS: Windows
 - Browser: Firefox
 - Browser version: 101.1

### Addi

[2022-06-19 16:51] bunesk commented on #793
This happened because you assign a number. Regulary the input expects also numbers as a string, so the code just checked the length which of course doesn't exist on a number. I've opened up a PR where the clear icon is also added on numbers.

[2022-06-21 10:00] petergrau commented on #118
We started working on this and will contirbute it once we have a first "stable" version!

[2022-06-21 13:53] #791 closed, assigned to claviska

[2022-06-21 13:59] claviska commented on #791
This was a tough decision because there were zero browser sniffs in the library before 5f25049abca7cc2b5f92a88b63627abc413c9ab0. After extensively researching ways around this, it appears as though @Buni48's `clip-path` solution is the most practical one. However, it causes adverse effects in other browsers, hence the sniff.

However, I'm OK with the user agent sniff (and prefer it over feature de

[2022-06-21 14:03] claviska commented on #118
I'd love to provide feedback as you go. That will make it easier to keep the PR inline with Shoelace's quality standards for code, APIs, etc.

Do you have a preview branch anywhere? I'm more than happy to provide feedback as you go!

[2022-06-22 07:31] petergrau commented on #118
Happy to receive the feedback - especially since it is our first component. I think we should have something worth the feedback end of this or beginning of this week!

[2022-06-22 07:57] oliversalzburg opened #796 "`valueAsDate` and `valueAsNumber` throw when used too early in the component lifecycle"
### Describe the bug
When composing Shoelace components in Lit with lit-html, I ended up in a situation where I wanted to compose a data input into a large component. I am then faced with the challenge of how to provide an initial value for the input. The available options are not sufficient, as `value` expects a string and the convenience setters `valueAsDate` and `valueAsNumber` try to access `t

[2022-06-22 13:03] #793 closed, assigned to claviska

[2022-06-22 13:18] #796 closed, assigned to claviska

[2022-06-22 13:18] claviska commented on #796
Fixed and verified in f980126.

[2022-06-22 20:55] nileshtrivedi opened #797 "Handle empty/missing value for sl-color-picker in a better way"
When a `<sl-color-picker>` is not given a value attribute, it shows up with black color ("#000000"). This is misleading and confusing for the user.

<img width="288" alt="image" src="https://user-images.githubusercontent.com/19304/175134227-1ad66bff-9823-48e1-aa28-2085983b64f6.png">

An empty state should be implemented for the color picker. One idea is to show transparent color like this:

<img w

[2022-06-23 17:24] straversi opened #798 "Ability to remove spinners on number inputs"
### What issue are you having?
It'd be nice to be able to remove the spinner on number inputs:

<img width="139" alt="Screen Shot 2022-06-23 at 10 18 39 AM" src="https://user-images.githubusercontent.com/7411489/175357753-9d8b086b-4f54-4e94-8d82-69c5af1aef4c.png">

### Describe alternatives you've considered

Here's an codepen containing the code below: https://codepen.io/straversi/pen/ZErgYvO?edi

[2022-06-23 20:35] #797 closed, assigned to claviska

[2022-06-23 20:35] claviska commented on #797
Thanks for reporting this. The issue has been fixed and will be available in the next release.

[2022-06-23 20:57] #798 closed, assigned to claviska

[2022-06-23 21:03] claviska commented on #798
I had to expose this through a separate property called `no-spin-buttons`. I initially wanted to use a custom property for it, but Firefox requires a different approach:

[code]

One day we'll standardize native form control styling, but hopefully this will suffice in the meantime. 😅

[2022-06-23 21:10] straversi commented on #798
That makes sense. You're awesome!

I wonder why `sl-input::part(input)::-webkit-inner-spin-button { ... }` doesn't work for me then. Maybe you can't style pseudo selectors through Parts.

[2022-06-23 21:24] claviska commented on #798
Exactly. It’s quite annoying, but consider that `-webkit-inner-spin-button` is [presumably] internally a separate “element” it makes a bit more sense.

[2022-06-24 13:10] claviska commented on #466
FYI, further improvements have been contributed in #800 which can significantly reduce lag.

[2022-06-25 02:40] DeadWisdom commented on #127
Some thoughts:

- The W3 example uses a listbox, specifically. But other examples use a grid and another a datepicker, so it doesn't seem like that is necessary.
- It seems like we can't use an `sl-menu` here because, although it seems to align well, it takes over focus, but the input can't lose focus. Maybe you could quickly move back but somehow keep visual focus?
- It's exceedingly tempting to

[2022-06-27 13:01] claviska commented on #616
One challenge of this is making it work with the Constraint Validation API. Since the current control uses `<input type="range">` under the hood, that's trivial. Dual mode means reimplementing the entire control, so we may need to wait for `ElementInternals` to be fully supported before taking this on.

[2022-06-28 13:04] Wolfy18 opened #803 "Re render TabGroup after dynamically adding tabs"
Hello, I'm wondering if there's a way to re initiate the TabGroup after adding tabs dynamically by an user event. The tabs are being created and if I add 20 tabs **on-load** everything is fine, the tab group is scrollable. The problem comes when the user needs to add more tabs by clicking a button and the TabGroup is not scrollable when its first rendered.

[2022-06-28 21:08] #803 closed, assigned to nobody

[2022-06-29 11:57] alenaksu opened #806 "Proposal: Range track offset"
This is a proposal to extend the Range component by adding a new optional property with which is possible to specify the starting offset of the track.

A practical case of using this feature, for example, is when you have negative values for `min` and positive values for `max` and yout want to keep the origin at the center.
In this case, it would be sufficient to set the offset to `0` to get the t

[2022-06-29 12:09] #786 closed, assigned to claviska

[2022-06-29 12:24] claviska commented on #786
After thinking about this more, there's only one instance of this in the library (Image Comparer) and I'm thinking of removing it to prevent such a pattern from propagating. It's inelegant, and a better solution for replacing default SVGs would be some kind of registry similar to Icon Libraries or the Animation Registry. However, I'm not convinced this is something many users are going to want, so

[2022-07-01 21:15] austinhallock commented on #705
+1 for being able to import the class independently from the customElements.define

File structure could be
alert/
├── alert.styles.ts
**├── alert.class.ts**
├── alert.test.ts
├── alert.ts

Where **alert.class.ts** is equivalent to today's **alert.ts** _minus_ the `@customElement('sl-alert')` decorator

And new **alert.ts** looks something like

[code]

or if the decorator isn't necessary for VSCo

[2022-07-02 00:37] claviska commented on #705
@austinhallock I like that approach. There's still a need to work around dynamic tag names, though.

One other concern is how tooling will handle dynamic tag names since they'll be interpolated. I do this at work since it's a requirement (although it's with FAST Element) and it absolutely wrecks syntax highlighting in templates.

[2022-07-02 00:58] claviska commented on #806
This seems useful, but I'm not sure if it should be an attribute or a CSS custom property. An attribute seems convenient since it can be more easily calculated, but the proposed behavior is strictly visual and for things like that I usually like to go with custom properties and let CSS handle it rather than modify the component's logic.

Would you be OK with a CSS custom property called `--track-a

[2022-07-02 01:38] michaelwarren1106 commented on #705
my two cents:

imo there are two issues here. One is the need for having an importable, side-effect-free class file as an option from shoelace. The other is how to deal with dynamic tag names internally to shoelace.

Personally, I see them as separate features, because if shoelace only provides the class export as an option, nothing has to change about shoelace itself to just provide that one new

[2022-07-02 02:52] jaredcwhite commented on #705
@michaelwarren1106 The "static generator" approach sounds pretty good to me. If someone's needs are so specific they need custom tag names, they're long past the "just host it on a CDN" stage. Outside looking in, I feel like Shoelace should generally remain as-is as much as possible, and support for custom names would mostly require an extra layer of tooling to facilitate.

[2022-07-02 02:58] austinhallock commented on #705
Got it. Digging through the rest of this, it sounds like you don't like `[data-sl-element="alert"]` approach?

What would you say are some of the most complex instances of another component being referenced from a parent component? It looks like a lot of the CSS is styling slot elements if they're of a certain type of element. What are your thoughts on using the scoped nature of CSS variables inst

[2022-07-02 03:28] austinhallock commented on #705
I think if done right, it doesn't need to require an extra layer of tooling. I do think they're two separate (but related) issues like @michaelwarren1106 mentioned:
1) Ability to export classes separate from the component definition (easy)
2) Getting rid of hardcoded component tag names

Our use-case might be specific, but I imagine there are other instances where developers will want to extend of

[2022-07-02 05:25] jaredcwhite commented on #705
@austinhallock

Right, that seems like an easy win. That way if I need to subclass `SlAlert` and change something I can, and then register _that_ as `sl-alert`. Boom done.

But regarding the hardcoded tag names, I'd hate to see the component source files become much more complicated or hard to read. I don't think tag name references in parts, etc. can be wholly avoided either. Seems like it should

[2022-07-02 11:35] xenobytezero commented on #705
I think I didn't communicate this well enough when I opened the ticket.

I 100% agree that these feel like mutually exclusive features, with my intention of the change was to support the Scoped registry. The dynamic tag issue feels like a much larger thing.

[2022-07-02 12:38] claviska commented on #705
I don't consider them separate at all. The primary use case for optional registration is to change the prefix/tag names. If optional registration is officially supported, users _will_ expect it to work no matter what they name each element. When it doesn't, that's a poor experience. And in many cases, it won't be immediately obvious that things are broken.

Such an experience cheapens users' perce

[2022-07-02 12:43] xenobytezero commented on #705
Had not considered this, totally fair assessment.

[2022-07-02 12:53] michaelwarren1106 commented on #705
Not me. This is your baby, make your money, dude.

The post-build or white-label option is something that you and I have talked about of this thread a little bit, like a generator that generates your own custom version of shoelace specifically for design systems and component libraries that want to use shoelace as a start, but need their own tag names and are willing and able to support/bug fix on

[2022-07-02 13:00] claviska commented on #705
If the generator approach happens, I want to emphasize that users _should_ be able to upgrade if they don't want to be responsible for bug fixes and new features. So you'd have the option to keep things pure and regenerate easily using the latest version, or you can generate once and "fork" components to make them your own.

[2022-07-02 13:06] michaelwarren1106 commented on #705
Just had an idea...

If the white-labeling option is approached as a paid option, and you setup like subscriptions and accounts for consumers, then that would enable you to generate each special version of shoelace for every account according to their settings whenever shoelace changed and still be able to host those custom versions on a CDN if you wanted to.

If there was a subscription plan/memb

[2022-07-02 13:11] michaelwarren1106 commented on #705
for sure! But I think that is purely a function of what folks do after they get their hands on the source code. And i'm not sure we're ever going to be able to determine that? If shoelace generates a custom source, and a consumer copies that source into a new github repo then goes to town on customizations, they've effectively forked. If the only changes they make are in completely separate files/

[2022-07-02 13:12] claviska commented on #705
Great ideas! We're getting a bit sidetracked from the original issue, though, so I've opened up a discussion to continue the talk about premium features.

https://github.com/shoelace-style/shoelace/discussions/811

[2022-07-03 07:45] biltongza opened #812 "Icons disappearing since beta 74"
I'm just trying to bump my Shoelace dependency on my blog site, and since updating, my icons have magically disappeared. They flash in on load and then disappear afterwards.

Repro here: https://github.com/biltongza/ldam.co.za/tree/shoelace-update

An `npm ci` and `npm run dev` should be enough to get it started. I use sl-icon within sl-buttons for my social media links.

I initially had this issu