[2021-04-16 15:48] js-works commented on #419
`Option 2` sound nice, but IMHO there's really no need that the component does have to know that much about how to localization is really working, nor does it really need to invoke a concrete global localization API.
Like I've mentioned somewhere else several weeks ago, I think that a localizer facade could do a good job here:

[code]

Unfortunatelly lit-element does not add the meta information o

[2021-04-16 16:17] mcjazzyfunky commented on #419
[Edit] Updated very often (sorry)

`Option 2` sounds nice, but IMHO there's really no need that the component does have to know that much about how localization is really working, nor does it really need to invoke a concrete global localization API.
Like I've mentioned somewhere else several weeks ago, I think that a localizer facade could do a good job here:

[code]

[Edit 2021-07-06 - the follow

[2021-04-16 18:50] StommePoes commented on #215
Sure, that's cool.
I've also seen people sneak actual thin solid outlines into box-shadows where it basically gives you a prettier `outline` with a fade.

Re future testing: Chrome browser is now acceptable for testing WHC on Windows. It should, for the most part, function exactly as Edge browser :)

[2021-04-16 18:58] StommePoes commented on #218
From the ticket:

Yeah, looks like they need to figure this out for shadow-DOM, however I'm not sure if they can fix it? It's a known issue in the accessibility community in general that we can't do associations across shadow boundaries. For example, a component such as a Listbox using `aria-activedescendent` where the container exposes the `id` of the currently-focused item cannot "see" which cur

[2021-04-18 14:23] mcjazzyfunky opened #420 "More flexibility for 3rd party component developers regarding icons"
The way Shoelace is handling icons may be as-is okay for Shoelace core and app developers, but it's far away from being flexible enough for 3rd party component developers.
Part of that has already been discussed in #297 but obviously my descriptions and comments must have been completely ambiguous as the final comment there was "we're at a good place with icons in general", but frankly, I disagree

[2021-04-18 19:56] claviska commented on #420
I'm not sure what you're asking for. Technical how-to aside, what are you fundamentally trying to achieve here?

Is your concern based around components using `<sl-icon>` instead of hard coded SVGs?

[2021-04-18 20:05] claviska commented on #420
I removed [this section of the docs](19f01d29aa5a76fbf88f222063a7d64e0a167ebf) as to not encourage users to override the default icon set with other icons.

This isn't how I envisioned this working and I'm not sure why I even wrote that section. The default icon library should always point to Bootstrap Icons, and it's only customizable so you can point it to a different folder locally or via CDN.

[2021-04-18 20:21] claviska commented on #397
I'm going to close this because it's really not a component, but a layout technique. There are modern tools within CSS to facilitate complex layouts more elegantly, and those who desire a grid system can easily incorporate their favorite one into an app along with Shoelace.

I really don't want to build and maintain a complex grid system, especially as they appear to be "on the way out" thanks to

[2021-04-18 20:21] #397 closed, assigned to claviska

[2021-04-18 20:39] claviska commented on #408
I can't reproduce this. The scrollbar is showing up for me as expected on iOS 14.4.2.

Fiddle: https://jsfiddle.net/dzvtp8k3/

Can anyone else replicate it?

![image](https://user-images.githubusercontent.com/55639/115160103-6e24a080-a064-11eb-8691-2f94c174d0bc.png)

[2021-04-18 20:54] claviska commented on #412
Looks like the answer is no. Components auto-register via side effect so they cannot be imported multiple times without throwing an "already registered" error.

In my last response, I forgot to mention that dependency data is already available through [`metadata.json`](https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.37/dist/metadata.json). If you're writing some kind of dependency

[2021-04-18 23:24] mcjazzyfunky commented on #420
First of all, this is an important point ... thanks for the info.

(tl;dr =>  just read the last section at the end)

The main goal is to provide a set of 3rd party components to the public that work out of the box and do not need any pre-configuration to look and work properly.
It's about providing the best possible DX to the user of my component library ... but also very important is to provide

[2021-04-18 23:56] js-works commented on #412
This is just something that I am doing when I run out of ideas :wink: ... The only purpose is that the bundler cannot tree-shake the classes SlDropdown, SlIconButton, SlMenu and SlMenuItem (plus their auto-registration) away if something in that file is actually needed.
I've edited one of my comments above by saying that this will also do the same job.

[code]

But frankly, I'm completely not sure

[2021-04-18 23:58] mcjazzyfunky commented on #412
This is just something that I am doing when I run out of ideas :wink: ... The only purpose is that the bundler cannot tree-shake the classes SlDropdown, SlIconButton, SlMenu and SlMenuItem (plus their auto-registration) away if something in that file is actually needed.
I've edited one of my comments above by saying that this will also do the same job.

[code]

But frankly, I'm completely not sure

[2021-04-19 00:01] claviska commented on #420
So to accommodate your goal (which you confess is a ".01%" need), all Shoelace users should have to register the default icon set? This is counterintuitive to Shoelace's mission. 😕

It sounds like you're jumping on the defensive, but I'm trying to understand what you're asking for. Between the last issue and this one, it seems like you want something that very much accommodates your use case and,

[2021-04-19 00:05] claviska commented on #412
I think this is dependent on the bundler. webpack was exhibiting different behavior from Rollup and esbuild when I was experimenting with side effects, so various configs had to be adjusted. Relying on this would mean we'd need to add hacky things like bundler-specific "magic comments" or whatever they're called, and that's a big nope from me. 😕

[2021-04-19 00:12] js-works commented on #412
Actually, this issue is not thaaaat important ... I just come accross that problem from time to time ... so I've opened this github issue, hoping there may be a simple solution ... but no big deal if not. Feel free to close this issue whenever you like.
It's really nice that the dependencies are listed in the Shoelace documentation.

[2021-04-19 00:13] mcjazzyfunky commented on #412
Actually, this issue is not thaaaat important ... I just come across that problem from time to time ... so I've opened this github issue, hoping there may be a simple solution ... but no big deal if not. Feel free to close this issue whenever you like.
It's really nice that the dependencies are listed in the Shoelace documentation.

[2021-04-19 14:07] claviska commented on #420
I've implemented this idea in #422. There are some key benefits that I really like about this approach. If it works for you, I'm happy to merge.

[2021-04-19 14:29] claviska commented on #412
Gotcha. I don't know of another way, but I'm open to continuing the discussion if good ideas arise.

[2021-04-19 14:29] #412 closed, assigned to claviska

[2021-04-19 16:46] mcjazzyfunky commented on #420
I LOOOOOOOVE IT!!! 👍 👍 👍
Thanks a 1000 times ....

[2021-04-20 13:37] #420 closed, assigned to claviska

[2021-04-20 13:38] claviska commented on #420
Merged. This will be available in beta.39.

[2021-04-20 13:49] claviska commented on #408
I'm closing this since I can't reproduce it, so it may be something specific to your app. I'll be happy to reopen if you can provide a minimal repro!

[2021-04-20 13:49] #408 closed, assigned to claviska

[2021-04-21 04:39] mcjazzyfunky opened #423 "Issues with theme tokens"
Please have a look at this (almost completely) automatic generated dark theme:
[Link](https://shoelace-theme-designer.vercel.app/#eyJiYXNlVGhlbWVJZCI6ImV4cGVyaW1lbnRhbERhcmsiLCJjdXN0b21pemluZyI6eyJjb2xvclByaW1hcnkiOiIjMGM5NmZmIiwiY29sb3JTdWNjZXNzIjoiIzAwYmE1NiIsImNvbG9ySW5mbyI6IiM5OWExYWYiLCJjb2xvcldhcm5pbmciOiIjZjVhNDBiIiwiY29sb3JEYW5nZXIiOiIjZTM1YTEzIiwiY29sb3JHcmF5IjoiIzlkYTJhZCIsImNvbG9yRnJvbn

[2021-04-21 09:43] mcjazzyfunky commented on #101
I personally love the idea of using vanilla js components that can be styled/customized in a way that they are looking 100% shoelaceish afterwards. If date pickers are using select boxes for months and/or years this may be a bit difficult or often not even possible perfectly.
The other day I have seen this vanilla js date picker - I have not spent too much time in evaluating its possiblities, but

[2021-04-22 16:40] rajsite opened #424 "Jitter when closing dialogs or drawers"
**Describe the bug**
When a dialog or drawer is closed there is a position jump during the animation that makes the animation appear to jitter.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://shoelace.style/components/dialog
2. In the first example click Open Dialog
3. Click close and notice the dialog shifts during close and makes the animation appear jittery

**Expected behav

[2021-04-22 16:46] claviska commented on #424
My first guess is that it may be related to scroll bars (since it shifts left/right about that amount) but I can't reproduce it on my Mac. Can anyone else on Windows verify this? Does it also happen to `<sl-drawer>` (which uses the same overlay logic but different panel logic)?

[2021-04-22 16:48] trailsnail commented on #424
Its because of the css class `sl-scroll-lock` which is attached to the `<body>` to disable / hide the scrollbar while dialog is shown to prevent scrolling the body in background.

While closing the dialog, the class is removed, the scrollbar appears and moves the content some pixels to the left.

Preserve width of scrollbar while `overflow-y: hidden` could prevent this effect, but I am not sure if

[2021-04-22 16:50] claviska commented on #424
I'd definitely prefer `overflow-y` instead of measuring, if that works.

[2021-04-22 16:54] trailsnail commented on #424
`<sl-drawer>` the same... see the "Theme switcher" on the top right.
Open the drawer removes scrollbar, content which isn't centered or has a max-width moves right

![grafik](https://user-images.githubusercontent.com/4742603/115754086-28d1dd00-a39c-11eb-9a4a-682bdcb6bd49.png)

btw I have no problem with this behavior, because until now I don't have any situation with visible content shift caused b

[2021-04-24 03:58] mcjazzyfunky opened #425 "Bugs in SlColorPicker and SlAlert"
These two bugs literally drove me crazy:
Shouldn't I see two red color pickers and two open alerts here?
https://jsbin.com/vaconedeju/edit?html,output

[2021-04-24 10:01] js-works opened #426 "Official React distribution"
The last two days I've spent quite some time on a React+Shoelace based app.
To be honest: That was exactly 0% fun 😞
It's currrently way too much work to prepare your Shoelace React components to work properly.
I had to deal with subtle bugs in three different projects just for that little app.
We really really really really need an official shoelace package that provides working React components f

[2021-04-24 13:52] claviska commented on #425
It looks like initial properties aren't being respected whereas initial attributes are. I'll have to look into this. Posting this fiddle as a minimal repro:

https://jsfiddle.net/claviska/mnL20o93/

[2021-04-24 14:09] claviska commented on #426
I agree that there are pain points with React and we could be doing something to make Shoelace work better with it. I have opinions about React and its reluctance to support web components despite how ubiquitous they've become, but I'll set that aside for now. Maybe we can set an example for how web component libraries _can_ work smoothly with React, even if it requires a shim.

That said, this sh

[2021-04-24 15:08] js-works commented on #426
@claviska
`@shoelace-style/react` would be great ... "experimental" would also be okay in the beginning ... but as soon as it turns out to be working, an "officially supported" state would be great. Like written above, you normally cannot (or should not) write apps for customers based on "inofficial" or even "experimental" libraries that may or may not be maintained in future.
I really think an of

[2021-04-25 08:17] js-works commented on #426
Okay, I gave it a try in the "theme designer" project (which is react based).
At the moment the auto-generated react component file looks like follows, just to catch a brief glimpse (be aware that this is currently just a not-necessarily-quick-but-indeed-dirty proof of concept):
https://github.com/mcjazzyfunky/shoelace-theme-designer/blob/master/src/main/components/shoelace/generated-react-compone

[2021-04-26 00:32] claviska commented on #426
Sounds promising! I plan on following a similar approach, but generating a separate file for each component to avoid tree-shaking issues.

I plan on following that convention, but these are also available in `metadata.json` along with a type for `event.detail`.

[2021-04-26 01:21] js-works commented on #426
Ah yeah, stupid me ... this is much better ... although `event.detail` should not use any only locally available type information, but that's currently not the case. I'll go that way, when I'll continue with that project. Thanks for the hint.

[2021-04-26 02:28] crutchcorn commented on #308
Seems like there were some major changes in the last few beta releases. Taking a look, it seems like:

- `defineCustomElements` was removed entirely. Is there an easy way to register all of the new web components without importing them individually (for use in the tutorial's start)
- `setAssetPath` was replaced with `setBasePath`

After changing the proper imports and such, I'm still hitting the i

[2021-04-26 02:45] crutchcorn commented on #308
I'm actually glad I started this document in the old version of the library. The new version is more complex but I've gotten it working. I'm pushing the required changes to the example repo right now and will update the document via PR

[2021-04-26 03:06] crutchcorn commented on #426
If there's anything I can do to help enable this, let me know. I'd be happy to provide support to get this up-and-running, maintaining, or documenting

[2021-04-26 15:09] claviska commented on #426
I threw a beta up here: https://www.npmjs.com/package/@shoelace-style/react

Full instructions are in the readme. Please try it out and let me know how it works or if you run into any problems. 🙏

If everything looks good, I'll update the official docs to point to this package and deprecate [`@shoelace-style/react-wrapper`](https://github.com/shoelace-style/react-wrapper), as this uses [`@lit-labs

[2021-04-26 16:25] claviska opened #436 "Aspect Ratio component"
[Per this discussion](https://github.com/shoelace-style/shoelace/discussions/431), it may make sense to rename `<sl-responsive-embed>` to the more generic `<sl-aspect-ratio>` and modify it to support:

- embeds (embed, iframe, object)
- images (img, picture, figure)
- arbitrary containers (div, etc.)

The logic will be the same for all use cases, but renaming will be a breaking change. It may be h

[2021-04-26 16:53] crutchcorn commented on #426
Super super minor problem with the docs on that page:

[code]

`import from '` is not valid syntax, we'd want to drop the `from`

[2021-04-26 16:57] KonnorRogers commented on #436
No concerns here. I dont know how widely used `sl-responsive-embed` is since its a tightly scoped utility that most people rarely use.

[2021-04-26 16:59] claviska commented on #426
Thanks. Just pushed a fix and published beta.2 to update it.

[2021-04-26 17:37] mcjazzyfunky commented on #426
Note: I've accidentally opened this issue as the wrong user (using the "wrong" browser). That's annoying, I normally do not use this @js-works user for communication, so I switch to @mcjazzyfunky from now on - hoping not to confuse anybody.

Thanks @claviska for the implementation.
I've tested it with the theme designer. Was working fine :+1:

But nevertheless there are some open issues:

- We rea

[2021-04-26 18:04] aomarks opened #437 "Default theme should apply to :host as well as :root selector"
**Describe the bug**
The default theme stylesheet only applies to the `:root` HTML element, not the `:host` for the case where Shoelace is to be encapsulated within another element that uses a shadow root.

**To Reproduce**
Steps to reproduce the behavior:
1. Define a custom element
2. Import a shoelace component
3. Create a shoelace component in the element's shadow root
4. Load the default theme

[2021-04-26 18:10] claviska commented on #426
I agree. I'm not sure how to achieve that with the wrapper if it doesn't come out of the box. I'm not really willing to manually type every prop for React. I hope @justinfagnani doesn't mind me pinging him for some guidance here. 😬

While it would be nice, I don't think it should come at the wrapper level. This behavior, although somewhat inconvenient, is the same whether you're cherry picking mod

[2021-04-26 18:15] claviska commented on #426
Regarding types, I'm pointing the React wrapper at the `dist` folder which contains the esbuild output along with the corresponding `.d.ts` files for each component. I figured TypeScript would find them automatically, but maybe something needs to be done to point the wrapped component to the appropriate type file.

[2021-04-26 18:22] aomarks opened #438 "Distribute default theme styles that are importable with JS"
**Is your feature request related to a problem? Please describe.**

I'd like to be able to import the default shoelace stylesheet into my component definition using a JavaScript import.

I'd like to do this so that my component can 1) fully encapsulate Shoelace components with their default styles, without the end-user needing to apply the Shoelace styles themselves, and 2) allow the default style

[2021-04-26 18:37] mcjazzyfunky commented on #426
@claviska
I don't think that manual typing will be necessary. My written-far-too-late-at-night proof-of-concept surely has a lot of flaws, but the typing itself was not completly bad, i guess (prop and method types are derived from the corresponding Shoelace custom element class itself):

https://github.com/mcjazzyfunky/shoelace-theme-designer/blob/23bfd552d860a9c570b7aadcfe89e93b8b78d508/src/main

[2021-04-26 18:37] claviska commented on #437
Interesting. Are there any known repercussions with scoping design tokens to `:host` as well as `:root`?

The original idea was to set them globally on the root so the user can override them anywhere in the cascade. My knee-jerk reaction to this is that scoping to `:host` would cause problems here, but it looks like we can still target components and even arbitrary parent containers with this appr

[2021-04-26 18:42] claviska commented on #438
Will this still be necessary if we scope design tokens to `:host`, or is it just a nice to have?

I love Lit, but I'm not sure we should expose a Lit-specific object here. I'd prefer something that works with Lit, FAST, and any other solution, if possible.

Agree. That's where [this plugin](https://www.npmjs.com/package/esbuild-plugin-inline-import) comes from. Unfortunately, until we get CSS modu

[2021-04-26 18:56] aomarks commented on #437
<strike>No negative repercussions I can think of. With custom properties, outer scopes have precedence over inner scopes ([spec](https://www.w3.org/TR/css-cascade-4/#cascade-context)), so you'll always be able to override any internal definitions from the outside, including at the top-level document scope.</strike> (edit: sorry, this part was incorrect)

MWC for example loads its default styles di

[2021-04-26 19:17] aomarks commented on #438
They kind of go together. I'd say adding the `:host` selector is the more important of the two, because it's easy enough for me to convert the default stylesheet into a module myself by reading it out of `node_modules/` (e.g. using https://github.com/bennypowers/rollup-plugin-lit-css#readme). But not having the `:host` selector requires me to also modify the CSS.

I just figured being able to enca

[2021-04-26 20:33] claviska commented on #437
So to recap, adding the `:host` selector will let us style Shoelace components that are used _inside_ shadow roots whether or not the stylesheet has been imported globally. This makes sense, but I have one concern.

[Consider this example](https://lit.dev/playground/#project=W3sibmFtZSI6ImluZGV4LnRzIiwiY29udGVudCI6ImltcG9ydCB7IExpdEVsZW1lbnQsIGNzcywgaHRtbCB9IGZyb20gJ2xpdCc7XG5pbXBvcnQgeyBjdXN0b21F

[2021-04-26 22:05] aomarks commented on #437
:facepalm:  Sorry, I just realized one of my earlier comments was wrong -- I was incorrectly remembering that you'd always be able to override a property assignment from an outer scope, but this isn't true. So yeah, you're right, you can't simply load the default property values and apply it with `:host`, and still allow outer scopes to override those values.

Maybe this is overly simplistic, but

[2021-04-27 11:45] claviska commented on #424
Can you verify that `overflow-y: hidden` on `.sl-scroll-lock` works? If so, I'll get this fix in today.

[2021-04-27 11:54] trailsnail commented on #424
`overflow-y: hidden;` is already set on `body.sl-scroll-lock`.
That's the reason, why the scrollbar hides on `<sl-dialog>` and `<sl-drawer>`, if they show up.

I think it is not so easy hide the scrollbar, but keep their width as padding or something similar to prevent content moving left right.
As soon the scrollbar would appear while dialog is open, the content in background would be scrollable,

[2021-04-27 12:33] mcjazzyfunky commented on #438
You have no idea how happy I was when I've read this ... Before that, I really was extremely confused that nobody ever wanted to load Shoelace themes via JavaScript, except for me.
I'm still really really extremely convinced that including external CSS theme files at runtime is the root of all evil regarding theming in Shoelace. It is just more work, less DX, means having less control and prevents

[2021-04-27 13:08] claviska commented on #424
I misread that the first time around. It sounds like the height is causing the scrollbars to appear then, so adding `height: 100vh` should resolve it.

[code]

I still can't replicate this on macOS, so if a Windows user can verify this I'd be grateful. 🙏

[2021-04-27 13:17] claviska commented on #424
Ok, I can reproduce this by going to System Preferences > General > Show scroll bars > Always. 😅

I definitely misunderstood the problem earlier. I'll look into some solutions.

[2021-04-27 13:24] trailsnail commented on #424
Perhaps my english could be better 😝

[2021-04-30 21:58] UserGalileo commented on #381
+1 for using just the Design Tokens instead of parts, parts are great for specific overrides but other than that they seem limiting :)

+1 also for the Theme Generator, which could also be very useful in order to test how flexible Shoelace is in terms of "adapting to a style" or design system, if this is something that matters for the scope of this project of course. Given how flexible and agnosti

[2021-05-03 14:43] claviska commented on #425
I can't reproduce this in the docs (even using the CDN import), but creating a separate file called `test.html` also reproduces it.

[code]

[2021-05-03 15:33] #425 closed, assigned to claviska

[2021-05-03 15:34] claviska commented on #425
This was caused by the `watch` decorator not running before first update. This was intended to be an optimization, but it's not really necessary and obviously causes problems when properties are set programmatically before the element is registered. Fixed in 4c1e077.

[2021-05-03 17:25] claviska commented on #426
It looks like I need to move the build to TypeScript and [possibly] consume the source so the types will be generated through `createComponent()`.

Anyone want to experiment with this in a PR?

[2021-05-03 18:22] sidharthramesh opened #439 "Importing menu imports everything"
**Describe the bug**
Importing menu imports everything

**To Reproduce**
Steps to reproduce the behavior:
https://jsfiddle.net/tpqugwah/

**Expected behavior**
Only menu should be imported

[2021-05-03 19:08] #439 closed, assigned to claviska

[2021-05-04 12:22] claviska commented on #436
Looks like we're not the first to take a more generic approach to this: https://radix-ui.com/primitives/docs/utilities/aspect-ratio

[2021-05-04 12:28] KonnorRogers commented on #436
@claviska I feel like theyre everywhere.

Tailwind has a plugin for it: https://github.com/tailwindlabs/tailwindcss-aspect-ratio

ChakraUI: https://chakra-ui.com/docs/layout/aspect-ratio
ThemeUI: https://theme-ui.com/components/aspect-ratio / https://theme-ui.com/components/aspect-image

[2021-05-04 13:51] #436 closed, assigned to nobody

[2021-05-04 14:01] claviska commented on #436
After more thought, I don't like generalizing this into `<sl-aspect-ratio>` because of limitations of the `:slotted` selector and the many, many ways users will try to slot in and position arbitrary content. This would drastically change the scope of the component, and I'm not convinced the potential use cases are worth the effort and bloat required to support it.

That said, it seems like images,

[2021-05-05 12:09] claviska commented on #376
I'm going to close this as a wontfix. If you'd like to submit a proof of concept for dialog or drawer, I'll be happy to entertain it.

[2021-05-05 12:09] #376 closed, assigned to claviska

[2021-05-06 12:25] claviska commented on #426
Types have been added and will be available in the next release of `@shoelace-style/react`. It's currently waiting on a new release of `@lit-labs/react`, but I'm told it will be available soon.

Details: https://github.com/shoelace-style/react/issues/1

I'm going to start tracking improvements to the React package on that repo, so closing this since we have a working implementation.

[2021-05-06 12:25] #426 closed, assigned to claviska

[2021-05-06 12:31] claviska commented on #426
Going back to the initial objectives for clarification:

We've met this objective, but Shoelace and React are peer dependencies. This seems to be the best approach, since we don't want to lock users down to specific Shoelace + React versions nor distribute those packages through the wrapper.

Finally nailed this down, but still waiting on a dependency update before pushing it live. [Track it here.

[2021-05-06 12:45] mcjazzyfunky commented on #426
@claviska Many thanks for your work. Is it possible that https://github.com/shoelace-style/react is currently a private repository or whatever? At least it results in a 404...

[2021-05-06 12:53] claviska commented on #426
For some reason it was. Must have ticked it by accident when I set it up. It was intended to be public from the start. 🤦🏻‍♂️

[2021-05-07 22:11] bitflower opened #440 "beta.39: sl-details: unobserve fails on disconnectedCallback"
**Describe the bug**
Hey @claviska I'm getting this in some cases. I will try to track it down more but wanted to document this issue for now.

LOC: https://github.com/shoelace-style/shoelace/blob/5c619b87b66eeb63d1274d5ece235f4768698a12/src/components/details/details.ts#L71

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-05-10 12:22] claviska commented on #440
I'm going to need a repro and more info for this, as removing `<sl-details>` from the DOM under normal circumstances doesn't throw an error.

[2021-05-10 13:32] #424 closed, assigned to claviska

[2021-05-10 13:33] claviska commented on #424
Fixed in a3beaaf by removing the scroll lock _after_ the transition, which is similar to how Bootstrap does it.

[2021-05-10 14:00] claviska commented on #423
I definitely think there's room to expand on how design tokens are used and I'm OK with adding more where appropriate. We need to be careful not to get crazy, though, as we can quickly end up in variable hell. [Bootstrap 5's variables file](https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss) is nearly 1,500 LOC, for example. It gets hard to find the right variable and understand exac

[2021-05-10 14:00] #423 closed, assigned to claviska

[2021-05-10 14:08] #396 closed, assigned to claviska

[2021-05-10 14:18] claviska commented on #381
From [my comment here](https://github.com/shoelace-style/shoelace/issues/423#issuecomment-836738136):

I feel pretty strongly about _not_ being able to customize individual components with design tokens. Those are best suited for high-level changes that components can share, but most component-specific customizations should be done with parts. (There's more explanation about this in the comment I

[2021-05-10 14:39] bitflower commented on #440
I think it's home-grown. If not, I'll re-open.

Have a demo with an insane amount if creating/removing `sl-details` and it never fails.

Sorry for the noise!

[2021-05-10 14:39] #440 closed, assigned to claviska

[2021-05-10 18:32] rajsite commented on #424
Looks good in the preview environment! Thanks!

[2021-05-11 13:11] claviska commented on #437
I've played with the fallback method before and it gets a bit unwieldy to maintain styles that way. I've always assumed the base stylesheet to be a root-level dependency, otherwise there's no clear way to share design tokens amongst different components and across shadow roots.

There are also a couple utility styles such as `sl-scroll-lock` and a `[hidden]` override that some components rely on.

[2021-05-11 13:39] claviska commented on #438
One thing that's not clear to me is how this affects the cascade. It's easy and convenient for developers to import design tokens from a JS module and consume them in various components without a base stylesheet.

But what happens when the consumer wants to make a small change to a theme? They can no longer override custom properties to do that, which is the heart of how CSS works. Instead, they n

[2021-05-11 16:19] aomarks commented on #437
Do you mean it's unwieldy to manage the defaults given that you need to consistently replicate the same fallback value across multiple `var` statements? Since you're already using SASS, could you use SASS variables in the fallback positions so that you still have a single source of truth?

I wonder if there's a downside to this approach other than the extra byte cost?

Maybe these could be factore

[2021-05-12 02:10] UserGalileo commented on #381
Yeah I see your point, the Bootstrap example you made was pretty clear. Also I've been looking at other WC kits these days (eg. Ionic) and it seems that most of them indeed offer a decent amount of customization via CSS Variables, but not for everything. Because obviously there'd be the need to just create an infinite amount of variables to support any kind of customization, and you'd never be ful

[2021-05-12 04:40] jaredcwhite commented on #381
@UserGalileo I think it's pretty reasonable to build app-level components without Shadow DOM since you know the general lay of the land in terms of styling and markup structure — with the escape hatch that you can always switch it on if you need a more reusable/encapsulation behavior.

[2021-05-12 11:24] claviska commented on #437
Exactly. On top of the verbosity, I'm reluctant to use Sass variables because I don't currently use them anywhere in the source and I was hoping to move to PostCSS soon. (Currently, Sass is only used for nesting and importing.)

The `sl-scroll-lock` class is always applied to the body when, for example, a dialog is open. Arguably, this could be done by setting the appropriate styles directly on th

[2021-05-12 11:43] claviska commented on #437
The `[hidden]` styles have been removed in cae50866f973cb71632b2c09acbabdc364f00dd5. That really shouldn't have been there in the first place.

[2021-05-12 13:50] UserGalileo commented on #381
@jaredcwhite Yep honestly I'm not particularly concerned about styles but more about losing Slots and the fact that I once saw the argument made by Lit's creator that removing it would not be a best practice. But I think it's fair to say that you can remove it when talking about app-level components, and although it's not the same thing I'll experiment using "render props" instead of slots!

[2021-05-12 17:53] aomarks commented on #437
Ah I see. Have you considered an extra set of variables to represent the defaults?

E.g.

[code]

The default theme stylesheet could then set the `-default` versions of those properties instead. That would seem to solve the problem of not being able to override from a higher scope. A component that's encapsulating a shoelace component could then include these default styles in its own shadow root,

[2021-05-13 13:06] claviska commented on #437
Good suggestion. I'm not too worried about the size of the fallbacks, but more the inconvenience of having to write them out everywhere and the opportunity for human error that will likely result. It may be a necessary evil, though. 😈

I'm still not sure exactly how to solve the theming problem. Initially, I was hoping to rely on "normal CSS" for customization since this is especially popular with

[2021-05-20 23:57] macta opened #441 ""TypeError: null is not an object (evaluating 'this.dialog.addEventListener')""
**Describe the bug**
When I create an < sl-dialog > but then in code invoke a show() on it - it seems that in Safari (ios and osx) I get the error "TypeError: null is not an object (evaluating 'this.dialog.addEventListener')" in the console and looks like its line 94 of the show() method in dialog.ts - where its adding the "transitioned" event listener?

**To Reproduce**

It isn't so easy for me t

[2021-05-23 22:31] macta opened #442 "Clicking on an sl-input of an sl-dialog doesn't initially give that element focus in Safari based browsers"
**Describe the bug**
Clicking on an < sl-input > in a freshly opened  < sl-dialog > doesn't give the input focus (or visible selection) in Safari based browsers e.g. OSX and IOS. You have to click a second time for focus to take place and selection to show. Note: this isn't the case in Chrome and Firefox.

The shoelace website examples seem to work fine, however its not clear if these examples are

[2021-05-25 12:21] ex37 opened #443 "Sl-dropdown is broken when removed and appended back to DOM"
**Describe the bug**

In `dropdown` component, `this.popover` is initialized in `firstUpdated` hook, but is destroyed in `disconnectedCallback `, thus when removing the dropdown from DOM and then appending again the popover is broken.

**To Reproduce**

1. Create a `sl-dropdown`
2. Programmatically remove it from DOM
3. Append back to DOM
4. Open and then close the dropwdown, it's remaining open,

[2021-05-25 15:21] prantlf commented on #293
When you design an API for form resetting, submitting and validation, you might be interested in form-associated custom elements: https://web.dev/more-capable-form-controls/. Not adding a new API and relying on the build-in methods like `form.reset()` or `form.checkValidity()` would reduce the learning curve and the reinvent-the-wheel factor, but the support outside Chrome would need a juicy polyf

[2021-05-25 15:28] prantlf commented on #419
Because you all are lit-lovers ;-) you may want to look at [@lit/localize](https://github.com/lit/lit/tree/main/packages/localize).

[2021-05-26 11:52] #443 closed, assigned to claviska

[2021-05-26 11:52] claviska commented on #443
Thanks for reporting this. I was able to replicate the issue and fixed it in d7bf0bd.

[2021-05-26 12:00] claviska commented on #442
Safari doesn't support `el.focus({ preventScroll: true })` so there's some logic to detect that and set the initial focus _after_ the transition finishes (which only happens in Safari). By default, the initial focus is set to the dialog's panel, so if you're clicking too soon this _might_ be causing the issue you're seeing.

If you want a moment before trying to focus, does it work as expected?

U

[2021-05-26 12:58] ex37 commented on #443
Hi @claviska thanks for fast response!
I spent some time and reviewed other occurrences where `firstUpdated` is used, and just by looking at the code (haven't tried to reproduce any of these), here is what I found:

https://github.com/shoelace-style/shoelace/blob/next/src/components/icon-button/icon-button.ts#L41

`focusVisible.observe(this.button);` should be moved to `connectedCallback`

https:/

[2021-05-26 13:30] macta commented on #442
Hi - perhaps I haven't described this well - when I have opened an < sl-dialog > that contains an < sl-input > - as in the photo, this is a manual operation I am talking about. So the dialog is open as in the picture - and when you actually click with your mouse on the first field, it doesn't work in Safari - but in Chrome and Firefox it correctly puts your cursor inside the field and makes it tur

[2021-05-26 13:56] claviska commented on #442
I understood the issue. My point in calling out the focus behavior in Safari was to hint at a possible cause/solution because I wasn't able to reproduce it. That's the only Safari-specific thing I could think of that would cause a problem.

There's an event you can listen to for setting initial focus. See this example: https://shoelace.style/components/dialog?id=customizing-initial-focus

This wou

[2021-05-26 14:43] macta commented on #442
I’ll try and see if I can narrow it down a bit better - safari is on my radar mainly because of iOS mobile. My other workaround is to not use a dialog for my login screen - but it seems like it’s worth seeing if i can pinpoint this better.

For the initial focus issue , I followed those instructions and they don’t work for my case (in any browser) - even when I use a native JavaScript function to

[2021-05-27 00:40] claviska commented on #376
Coincidentally, after the animation rework, all show/hide methods are now awaitable. See the [beta41 changelog](https://shoelace.style/resources/changelog?id=_200-beta41) for details.

[2021-05-27 00:41] claviska commented on #441
After the [animation rework](https://shoelace.style/resources/changelog?id=_200-beta41), Shoelace isn't attaching any `transitionend` listeners. While I wasn't able to replicate this in my environment, I believe this issue will be resolved due to the way animations are being handled. If you run into additional issues after updating to beta41, please file a new issue so I can address it separately.

[2021-05-27 00:41] #441 closed, assigned to claviska

[2021-05-27 03:10] e111077 commented on #437
Heya, I ran into this not applying to host too. I was trying to do the following pattern:

[code]

Thing is to do this, I turn off postcss injection

Personally I'd prefer not to have to have a <link> so not to have to deal with copying files over and keeping everything within rollup.

Luckily the base styles file is so small, I was able to just ctrl+c ctrl+v

[2021-05-27 06:32] mcjazzyfunky opened #444 "`open` property/attribute not working properly for `sl-alert` and `sl-drawer`"
**Describe the bug**
You cannot use property/attribute `open` to toggle visibility of alerts and drawers any longer.
Was working in 2.0.0-beta.40, is not working in 2.0.0-beta.41.

**To Reproduce**
Please find here a little demo (not working properly as the alert never hides):
https://jsbin.com/bejufiguxa/edit?html,output

When you switch to 2.0.0-beta40 in the html code then everything will work

[2021-05-27 20:34] claviska commented on #444
Yep, that guard was a last-minute addition and, of course, it broke `open` in all components. Reworked in 10f045fe6e5bed13b81f9db8d429f2af2cc534e7 to be more bulletproof.

Part of the problem here was allowing `show | hide` events to be canceled. I've backpedaled on that and added some reasoning in the changelog:

Thanks for catching this. I'm going to add tests for this soon.

[2021-05-27 20:34] #444 closed, assigned to claviska

[2021-05-27 20:55] CetinSert opened #445 "`<sl-details>` regression in `2.0.0-beta.41`"
**Describe the bug**
Animation changes in `2.0.0-beta.41` cause regressions. One example I could immediately find is that of sizing cross-pollinating between independent `<sl-details>` instances. I suspect the issue is more widespread and does affect other components too. Please review animations and, if feasible, add test cases before next release.

Repeat following steps on both pages:
* https:/

[2021-05-27 21:14] CetinSert opened #446 "Consider using `:not(:defined) { display: none; }`"
**Describe the bug**
Components leak unstyled internals while their definitions are loading.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://shoelace.glitch.me/r/1/2.0.0-beta./40.html
2. Hard Reload repeatedly<br> ![image](https://user-images.githubusercontent.com/27027/119897270-1f2f2c80-bf7b-11eb-9d2f-949ff5d9c82f.png)
3. Throttle network if needed<br> ![image](https://user-i

[2021-05-28 00:51] hanc2006 opened #447 "Drawer size issue"
After update to 2.0.0-beta.41 (2.0.0-beta.40 -> 2.0.0-beta.41) I encountered some display mistakes:

- ~~The **Dropdown** automatic placement is lost after the update.~~
- The **Drawer** size is lost after the update.

![image](https://user-images.githubusercontent.com/4517251/119913499-5e02b980-bf5e-11eb-987c-2738d4cb18be.png)

[2021-05-28 07:40] obrhaberer opened #448 "range-slider with wrong initial value (handle) for negative value"
**Describe the bug**
range-slider with wrong initial value (handle) for negative value

**To Reproduce**
`<sl-range min="-100" max="100" step="1" value="-100"></sl-range>`

**Expected behavior**
set range-slider to the right value initially

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
all

[2021-05-28 13:12] claviska commented on #446
From your example:

[code]

I [tried this previously](https://github.com/shoelace-style/shoelace/blob/d4f5a170f50e99b74890c6dc5113dc8b773935e2/src/styles/base.scss#L307-L310) with a generic selector, but it caused problems (I believe with Angular) and, in hindsight, seems like an overreach. It was quickly reverted in 3c4ec12b18fe82cfef3218d48874adc850bd5dda.

There's a base stylesheet, but I've be

[2021-05-28 14:14] #448 closed, assigned to claviska

[2021-05-28 14:15] claviska commented on #448
Thanks for reporting this. The problem was with the binding order, where `value` was being set before `min` and `max`, causing it to be clamped to the default `min` and `max` values.

[2021-05-28 14:48] claviska commented on #447
These are two separate issues. The dropdown placement bug has been fixed in dd89657f1e51e6923a21105283e3c94e756a0028.

I can't replicate the drawer issue, so please provide a minimal repro and I'll be happy to look into it.

[2021-05-28 16:18] claviska commented on #445
I can’t replicate this, and details are working correctly in all examples. While the animation has changed, the overall height detection logic is very similar. I'll look into why this isn't working in your example.

[2021-05-28 16:21] claviska commented on #296
Moving forward with Web Test Runner. It’s already been added to `next` and some tests were created for Alert.

https://github.com/shoelace-style/shoelace/commit/0ff5b4679919e97e7e673706ad90bee77ac4b5b8

If anyone wants to contribute to this, please post your intent and progress in this thread to prevent duplicating efforts.

[2021-05-28 20:48] hanc2006 commented on #447
I create a simple pen here https://codepen.io/hanc2006/pen/oNZGdQV?editors=1010

[2021-05-29 00:29] claviska commented on #447
Thanks. The placements have been changed to `start` and `end` instead of `left` and `right` for future localization support (e.g. RTL langs).

Changing this:

[code]

To this:

html
[code]

Will do the trick.

[2021-05-29 00:29] #447 closed, assigned to claviska

[2021-05-29 00:30] claviska commented on #447
Apologies for the spam...forgot to mention that all breaking changes during the beta are called out prominently in the changelog: https://shoelace.style/resources/changelog?id=_200-beta41

Cheers!

[2021-05-29 01:53] #445 closed, assigned to claviska

[2021-05-29 01:59] claviska commented on #445
Apologies...I missed the links to the repros the first time around. I appreciate that!

You were right in your assumption. The keyframes referenced in the `shimKeyframesHeightAuto` function were being passed around inadvertently. That's been fixed and your repro works as expected now. I also added some initial tests for `sl-details` and [one in particular](https://github.com/shoelace-style/shoelac

[2021-05-29 02:06] jaredcwhite commented on #446
Those are great examples @claviska — and I'd definitely prefer `visibility: hidden` over `display: none` because the latter tends to cause a lot more layout shifting.

[2021-05-29 02:07] jaredcwhite commented on #446
Also fading in elements can be really nice in general — I recently changed my Shoelace + Hotwire Turbo app so page changes smoothly fade in most components instead of instant UI updates and it makes the app feel way slicker.

[2021-05-29 12:07] hanc2006 commented on #447
Now it works as expected. :+1:

[2021-05-29 22:11] hanc2006 opened #449 "2.0.0-beta.42 wrong popup position (only first time)"
Hi,
I have seen that when a component uses the popup (for example **slDropdown**), the first time it is opened it has a wrong position. The placement names  seem to be the same as the previous version:

`'top' | 'bottom' | 'top-start' | 'top-end' | 'bottom-start' | 'bottom-end' | 'right' | 'right-start' | 'right-end' | 'left' | 'left-start' | 'left-end'`

<img src="https://user-images.githubuserco

[2021-05-29 22:58] claviska commented on #449
Note that placement is the _preferred_ placement. The popover will still flip to stay on the viewport when necessary.

I’m viewing the example on mobile and it looks like it’s working as intended. Since you’re using bottom-end, you may need to add additional spacing below to make it appear on the bottom if you're seeing it appear on top.

[2021-05-29 23:32] claviska commented on #449
Just played with this a bit more and Safari and Firefox don't exhibit the scrolling behavior in your image — only Chromium. The nature of it feels a lot like a Chrome display bug, to be honest.

From what I can tell, the popover is being positioned correctly on initial and subsequent opens and there's no difference in the DOM when the scrollbar is there vs. when it isn't. I also noticed that remov

[2021-05-30 01:34] hanc2006 commented on #449
Thank you :+1:
sorry if I didn't investigate by myself but I thought it was a wrong behavior related to the changes from the previous version.

I was playing around with the build system to optimize the production bundle. I created a small plugin for **esbuild** that minifies literal strings, and I added a post build for compress the generated JavaScript. It is currently only applied to the genera

[2021-05-30 01:38] claviska commented on #449
Cool. I’m currently not minifying but it probably wouldn’t hurt to enable it. I figured some CDNs might do that on the fly, and gzip takes care of the rest.

Is that something you’d be interested in sharing with the project?

[2021-05-30 01:49] hanc2006 commented on #449
Yep,
currently I did all changes directly in the **scripts/build.cjs** file, but I would like to create a separate plugin to use as a dependency.

Do you want me to make you a pull request?

[2021-05-30 01:53] claviska commented on #449
An esbuild plugin makes sense for reuse, so if that’s what you’d like to do it might make sense to start there first :)

[2021-05-30 07:57] CetinSert commented on #445
@claviska Thank you for following up on this. I saw your first comment right before going to bed on Friday (in Korea) and it has been on my weekend mind till now (to find a screen recorder to create a video to add under here). I am glad you have already addressed it.

[2021-05-31 11:54] devmount opened #450 "Misplaced Dropdown content when opened from Dialog"
**Describe the bug**
When `sl-dropdown` is placed into a `sl-dialog`, the dropdown content is mispositioned. I observed this since 2.0.0-beta.42.

**To Reproduce**
https://jsfiddle.net/devmount/oz3c6v8k/

**Expected behavior**
I expect the dropdown content right next to the dropdown field without a large gap in between.

**Screenshots**
![image](https://user-images.githubusercontent.com/5441654/12

[2021-05-31 16:08] devmount commented on #450
Addition: I'm experiencing the same bug with the `sl-select` component.

[2021-05-31 20:48] claviska commented on #450
The example is using the `hoist` prop, which uses a fixed positioning strategy. This usually works well, the caveat being when the [containing block](https://developer.mozilla.org/en-US/docs/Web/CSS/Containing_block) is not the viewport. [From the docs:](https://shoelace.style/components/dropdown?id=hoisting)

_The `hoist` attribute forces the panel to use a fixed positioning strategy, allowing it

[2021-05-31 20:48] #450 closed, assigned to claviska

[2021-06-01 03:24] devmount commented on #450
Thank you for this detailed answer! Totally missed that in the docs. It just felt like a regression as this was (unexpectedly?) working fine up to 2.0.0-beta.41.

[2021-06-01 12:15] claviska commented on #450
I didn't realize this worked before. I took another look and realized I missed something the first time around.

I was mistaken here...I should have said "because the dialog uses `position: fixed` _and_ `translate`. A fixed position alone will ensure the containing block is the viewport.

However, the translate is only used for show/hide animations. As such, they're not necessary to keep on the di

[2021-06-01 12:20] devmount commented on #450
Great news, thanks for looking into this again! 👏🏻 😍

[2021-06-02 11:18] ex37 opened #451 "Multiple components are potentially broken when removing from the DOM and adding them back"
Hi @claviska, am duplicating my follow up message for https://github.com/shoelace-style/shoelace/issues/443 into a separate issue, cause looks like you missed it.

I spent some time and reviewed other occurrences where firstUpdated is used, and just by looking at the code (haven't tried to reproduce any of these), here is what I found:

https://github.com/shoelace-style/shoelace/blob/next/src/comp

[2021-06-02 11:48] #449 closed, assigned to claviska

[2021-06-02 12:48] #451 closed, assigned to claviska

[2021-06-02 12:51] claviska commented on #451
Thanks for taking the time to go through these. A lot of this is probably left over from the original Stencil conversion. I've addressed all of the issues you've mentioned above and reworked a few others in b0921b5.

This was fixed for dropdown in d7bf0bd65344e31ad8229e081fb27e904a4e90d6.

The popover utility was removed in d720121044ef55a541c8f4d49ffa8783e11ce8c0, so that was already fixed.

[2021-06-02 22:06] macta opened #452 "Dialog Ignoring Clicks on the Overlay - no longer works in Beta-42"
**Describe the bug**
The description for how to prevent clicks outside a dialog from closing it (see: https://shoelace.style/components/dialog) no longer works. It was working in Beta-36 but since upgrading to 42 this is no longer working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://shoelace.style/components/dialog.'
2. Click on 'the Open dialog button in the clicks and ov

[2021-06-02 22:10] macta commented on #452
I continue to see other strange issues with Safari, that I have reported - and the new transitions in Beta-41 were described as ways to fix these. I'm still seeing odd behaviour in Safari however I think resolving this first might help me better diagnose those other oddities

[2021-06-02 22:11] claviska commented on #452
This is by design and was listed as a breaking change in the beta.42 changelog.

https://shoelace.style/resources/changelog?id=_200-beta42

I’m closing this as a wontfix because of this. If you want to prevent the dialog from closing, you can omit the default header (which has a close button) and prevent the overlay click.

[2021-06-02 22:12] claviska commented on #452
Looks like we posted about the same time. Feel free to open another issue if you’re seeing something unrelated to this. If it’s related, comment here and I’ll reopen to address it!

Thanks!

[2021-06-02 22:15] macta commented on #452
Should you not update the example then? Or at least reference the breaking change in the example - as that’s where I looked.

[2021-06-02 22:19] claviska commented on #452
Ugh, I have to stop triaging on mobile. I focused on this:

And assumed that was the problem. It looks like the overlay example is indeed broken now, but it shouldn’t be. I’ll fix that in the morning and add tests. Cancelling *that* event should continue working. Cancelling `sl-hide` should not.

[2021-06-02 22:23] macta commented on #452
When you say "prevent the overlay click” - I’m not exactly sure which eventListener I then preventDefault on -  is it the parent of the Dialog, and just a normal sl-click?

(And I completely understand all the complexities you are eliminating - I don’t think they affect my simple use case which I think your suggestion would cater for)

[2021-06-02 22:27] macta commented on #452
Perfect - it sounds like I was doing the right thing, but I don't think this is the root cause of my other issues - but at least it should sort out one thing anyway.

As for quick triage - no problem, you're a busy guy trying to rack-em off which I appreciate - so sometimes you rely on other eyes to double check stuff which is understandable.

[2021-06-02 22:35] macta opened #453 "Dialog Customizing Initial Focus no longer works in Beta 42"
**Describe the bug**
In Beta 42, the Customizing Initial Focus example no longer seems to work

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Customizing Initial Focus' dialog example https://shoelace.style/components/dialog
2. Click on 'open dialog.'
3. See that the text field doesn't have focus like it Beat 36

**Expected behavior**
The text field should have focus

**Screenshots**

[2021-06-02 23:07] #452 closed, assigned to claviska

[2021-06-02 23:07] #453 closed, assigned to claviska

[2021-06-02 23:10] claviska commented on #452
This was a regression introduced with [this change](https://github.com/shoelace-style/shoelace/commit/10f045fe6e5bed13b81f9db8d429f2af2cc534e7#diff-c4da97228cc1cee017b3d3f96edac1bb17adf0513acc3e20799181b63161824d) that was part of beta.42. It has been fixed in 9970bc8. I'll add a test tomorrow to cover this.

[2021-06-02 23:10] claviska commented on #453
This was also regression introduced with [this change](https://github.com/shoelace-style/shoelace/commit/10f045fe6e5bed13b81f9db8d429f2af2cc534e7#diff-c4da97228cc1cee017b3d3f96edac1bb17adf0513acc3e20799181b63161824d) that was part of beta.42. It has been fixed in 9970bc8. I'll add a test tomorrow to cover this.

[2021-06-03 01:08] claviska commented on #452
It’s a custom event like the example:

[code]

This will work again in the next beta.

[2021-06-03 09:05] brgrz opened #454 "Card images not rendered within slot (not rendered at all)"
**Describe the bug**

This bug only happens to me locally and only after updating to beta.42.

Image slot does not render its content at all. Instead the DOM source shows this

![sl-cards-images-issue](https://user-images.githubusercontent.com/193816/120617944-dedc1c80-c45a-11eb-90d1-e31a3f869ece.png)

**To Reproduce**

Unfortunately I was unable to reproduce this in Svelte's REPL. It seems to be

[2021-06-03 09:06] brgrz commented on #454
All right, I was actually able to reproduce this just now within the Svelte REPL
https://svelte.dev/repl/a4569cc90d0040d38b4832f92e6b4f69?version=3.38.2

UPDATE: Hmm, so it is working now but seriously there's something weird going on. When I created this REPL from scratch, the image wouldn't get displayed.

[2021-06-03 09:18] brgrz commented on #454
The only way I am able to reproduce this online is by opening a new Svelte REPL then copy pasting the code from my example into it and it then results in this:

![image](https://user-images.githubusercontent.com/193816/120620635-73e01500-c45d-11eb-90f8-a2fda2e76624.png)

[2021-06-03 11:38] #454 closed, assigned to claviska

[2021-06-03 11:42] claviska commented on #454
I can replicate it by cutting the code and pasting it back into the REPL.

What you're seeing in the DOM is the contents of the [`handleSlotChange`](https://github.com/shoelace-style/shoelace/blob/next/src/components/card/card.ts#L40-L44) method. This was caused by the use of `onslotchange`, which should have been `@slotchange` instead.

It worked sometimes because `onslotchange` is a valid attrib

[2021-06-03 12:44] claviska commented on #452
I've [added a test](https://github.com/shoelace-style/shoelace/commit/28c9dbab1fd4b6b1d9ebe93f25f42b80d1db8a55#diff-bdf664a88ab9cab45f448204ea74f13d39abc7925ff09e06448f70be906c98c0R104-R114) for this.

[2021-06-03 12:44] claviska commented on #453
I've [added a test](https://github.com/shoelace-style/shoelace/commit/28c9dbab1fd4b6b1d9ebe93f25f42b80d1db8a55#diff-bdf664a88ab9cab45f448204ea74f13d39abc7925ff09e06448f70be906c98c0R116-R132) for this.

[2021-06-03 17:43] davidkudera opened #455 "Required select is valid when no option is selected"
**Describe the bug**
Property `invalid` of `<sl-select required>` should be `true` by default because no option is selected yet. Instead it is `false`.

**To Reproduce**
I prepared example in Lit playground: [example](https://lit.dev/playground/#project=W3sibmFtZSI6InNpbXBsZS1ncmVldGluZy50cyIsImNvbnRlbnQiOiJpbXBvcnQge2h0bWwsIGNzcywgTGl0RWxlbWVudH0gZnJvbSAnbGl0JztcbmltcG9ydCB7Y3VzdG9tRWxlbWVudCwgc3

[2021-06-03 18:04] macta commented on #442
I tried this again with Beta-42 and this is now resolved and clicking on fields in OSX/IOS correctly shows focus

[2021-06-03 18:04] #442 closed, assigned to claviska

[2021-06-03 18:10] claviska commented on #455
This is by design and [documented here](https://shoelace.style/components/form?id=form-control-validation):

This behavior is more in line with how [`:user-invalid`](https://developer.mozilla.org/en-US/docs/Web/CSS/:user-invalid) works. I'm open to feedback on the current behavior, but the reason for it is to reduce the amount of work it takes to deal with client side validation until the fields w

[2021-06-03 18:46] davidkudera commented on #455
Sorry, I didn't notice that in the docs.

In my opinion, developers should handle the state and styling of form fields themselves instead of the library. That's what for example Angular is doing. Example: https://angular.io/guide/form-validation#validating-input-in-template-driven-forms

Here the error message is displayed only when the field state is `invalid && (dirty || touched)`. This (or the

[2021-06-03 19:19] davidkudera opened #456 "Blur event on select is fired too soon"
**Describe the bug**
`sl-blur` event on `<sl-select>` is fired when the menu is still open. It fires when the cursor moves out of the trigger element. Instead, it should be fired only after the menu is closed by moving the focus to another element (click elsewhere, TAB, ...).

**To Reproduce**
I prepared example in Lit playground: [example](https://lit.dev/playground/#project=W3sibmFtZSI6InNpbXBsZ

[2021-06-04 03:41] devmount commented on #450
I can confirm this is working again in 2.0.0-beta.43. Thank you!

[2021-06-04 09:05] davidkudera opened #457 "Multiple select contains empty string in value array"
**Describe the bug**
Value of `<sl-select multiple>` contains an empty string even when no such `<sl-menu-item>` was added or selected by a user. It stays there until the user clicks on the remove icon of one of the selected items.

**To Reproduce**
I prepared an example in Lit playground: [example](https://lit.dev/playground/#project=W3sibmFtZSI6InNpbXBsZS1ncmVldGluZy50cyIsImNvbnRlbnQiOiJpbXBvcnQ

[2021-06-04 09:18] davidkudera opened #458 "Change event on select is fired right after creation"
**Describe the bug**
`sl-change` event on `<sl-select>` is fired right after it was created. This behavior is different from the native `<select>` `change` event which is fired only after a user chooses a new value. When using `<sl-select multiple>` the `sl-change` event is fired two times on init.

**To Reproduce**
I prepared example in Lit playground: [example](https://lit.dev/playground/#projec

[2021-06-04 12:56] #457 closed, assigned to claviska

[2021-06-04 12:56] claviska commented on #457
Thanks for reporting this. The fix will be available in beta.44.

[2021-06-04 13:33] #458 closed, assigned to claviska

[2021-06-04 13:34] claviska commented on #458
Thanks for reporting this. Since select doesn't map to an actual form control, the `sl-change` event is simulated and was firing prematurely during init. This fix will be in beta.44.

[2021-06-04 13:38] davidkudera commented on #458
Wow, you're fast. Thank you 🍻

[2021-06-04 15:45] hanc2006 opened #459 "Modal focusin and keydown behaviors"
Is it possible for the **sl-dialog** component to disable these two event listeners (or better control its behavior)?
For example when the modal is open I cannot use components that relay on swipe gesture...

Of curse, I can remove them manually, after the modal is shown, but maybe there are a better solution.

[2021-06-05 16:30] #456 closed, assigned to claviska

[2021-06-05 16:30] claviska commented on #456
This behavior, along with the visual focus, has been fixed and will be available in beta.44.

[2021-06-05 16:39] claviska commented on #459
That event is used by all components with modal behavior to create a focus trap so tabbing in/out of the active modal will work properly. Removing it would require a significant rework of this logic, and "patching" it in your own app may have ill effects on accessibility.

Are the affected components inside or outside of the modal? It outside, this is the intended behavior of any modal component.

[2021-06-05 16:40] claviska commented on #446
Closing this as a wontfix so users can choose to solve this however they prefer.

[2021-06-05 16:40] #446 closed, assigned to claviska

[2021-06-05 16:52] claviska commented on #455
Admittedly, I didn't think about this _too_ much when I was dealing with form validation. I think you're right, though. The property should probably reflect whether the input is invalid regardless of interaction.

[2021-06-06 13:46] hanc2006 commented on #459
This happens even if a component is inside the modal.

I understand your point, but maybe the component could expose a public method to "turn on" / "turn off" the **focusin** event listener

Here you can see the behavior. If you remove the focus listener, the code works fine..
https://codepen.io/hanc2006/pen/oNZGdQV?editors=1100

[2021-06-06 13:59] hanc2006 commented on #459
The problem exists if the component is created outside the modal. For example, I was using an image carousel plugin (which displays full screen images), but I found that the component is attached outside the modal component, directly in the document root. :+1:

[2021-06-06 13:59] #459 closed, assigned to claviska

[2021-06-07 08:59] macta opened #461 "Tabbing in SlDialog does't consistently navigate to footer buttons on Safari"
**Describe the bug**
If you create an SlDialog with some input fields and then Ok/Cancel buttons in a footer - when you tab you don't consistently navigate to the footer buttons in Safari desktop - it jumps from the last input field to the Web Browser URL input field which opens a confusing history window. Firefox and Chrome behave correctly (Chrome doesn't like the DevTools open as it shifts to t

[2021-06-07 10:38] macta opened #462 "SlDialog customising initial focus doesn't work reliably on page load"
**Describe the bug**
The technique for assigning focus to a dialog field doesn't work reliably when a page is rendered - it only seems to work from a button click event.

If you want to show something like a Login Dialog when loading a page/component - and you perform a dialog.show() call at the end of a page load (not sure if load is the correct terminology) it seems very random if get the <sl-in

[2021-06-07 10:45] macta commented on #462
Looking around the web, it does seem there are lots of comments about focus and web components but not sure how relevent they are to Shoelace e.g.:

https://gist.github.com/arei/216b7cbfc7cf3557768daaedd27a2349#4-forgetting-about-focus
https://nolanlawson.com/2021/02/13/managing-focus-in-the-shadow-dom/
https://www.webcomponents.org/element/@a11y/focus-trap

[2021-06-08 07:31] trailsnail opened #465 "`<sl-select>` triggers `sl-change` while initialization"
**Describe the bug**
Hi,

is there any reason why `sl-change` in `<sl-select>` is triggered while initialization?
This is confusing since user doesn't interact with the Select, but our listeners are executed.

Any idea how to avoid this behavior? Is it a bug or how is the workaround?

![grafik](https://user-images.githubusercontent.com/4742603/121141447-3e5f7100-c83b-11eb-9c4f-6b31fbb6e6df.png)

*

[2021-06-09 09:41] brgrz commented on #465
Afaik (as I was explained by Cory) different controls use the same events so this could be firing from another control not necessarily from select. You should be inspecting the event.target property to figure out which control is firing the event. Hth

[2021-06-09 09:51] trailsnail commented on #465
![grafik](https://user-images.githubusercontent.com/4742603/121333167-d8491b80-c918-11eb-90fb-88570e46f53a.png)
I hope I didn't get you wrong, but the target here is the `sl-select` itself.
I'm back to version beta.39 where the event won't fire.

[2021-06-09 12:54] claviska commented on #461
Safari doesn't tab through all elements by default. There's a setting you can toggle to enable it:

![CleanShot 2021-06-09 at 08 51 47@2x](https://user-images.githubusercontent.com/55639/121357742-0837f500-c900-11eb-9d61-b9d00dd5e268.png)

You can also press Option + Tab to force it to tab through every item.

Is this what you're seeing?

[2021-06-09 13:06] macta commented on #461
I've seen that option and never registered that this is the type of situation where it would be needed - yes option-tab works correctly. I don't understand why Safari would consider Ok/Cancel buttons as being superfluous and needing a special option but hey-ho this can be closed.

[2021-06-09 13:06] #461 closed, assigned to claviska

[2021-06-09 13:11] claviska commented on #462
I can't solve this unless I can replicate it, and I haven't been able to so in vanilla HTML/JS. Here's an example using your dialog markup, though:

https://jsfiddle.net/82ag4vqd/

The `sl-initial-focus` event runs as soon as the dialog is shown and, if the event _isn't_ canceled, it moves focus to the dialog's panel. If the event _is_ canceled, no focus is set so you're able to set focus in your

[2021-06-09 13:12] claviska commented on #461
I've wondered that myself. I guess Safari's behavior is based on the idea that Mac users are more visual and would rather use a mouse than keyboard. 🤷🏻‍♂️

[2021-06-09 14:06] macta commented on #462
I was reading another bug report and noticed the use of jsfiddle and was thinking that might give me an easy way to recreate issues - so thanks for giving me an easy template to work from.

So I think that what I am doing is somewhat like this fiddle - https://jsfiddle.net/365nice/wba4xnk3/3/ which doesn't work at all - although not sure if it should, or if there is another way to show a dialog au

[2021-06-09 20:45] brgrz opened #466 "Handler violations when using SL with SvelteKit"
**Describe the bug**

I'm running into handler violations where event handlers took too much time to return (for instance `focusin `of modals and drawers taking seconds to process).

**To Reproduce**
I made repro repo available here https://github.com/brgrz/sl-bugs

Steps to reproduce the behavior:
1. Clone the repo
2. Run npm i
3. Run npm run dev, it will run the SvelteKit app at http://localhost

[2021-06-10 12:09] claviska commented on #462
What you're seeing is a timing issue. You're attempting to open the dialog before it has time to register. In this case, you'll want to use [`customElements.whenDefined()`](https://developer.mozilla.org/en-US/docs/Web/API/CustomElementRegistry/whenDefined) to ensure the necessary components have loaded before you use their methods.

I've created a new fiddle to demonstrate: https://jsfiddle.net/kg

[2021-06-10 12:09] #462 closed, assigned to claviska

[2021-06-10 13:10] claviska commented on #465
Some components have, uh, dirty logic to determine when the component initialized. This was done to work around the `@watch` decorator's initial update, but select didn't get this behavior.

I can see this being one of those problems that keeps popping up, so I'm thinking of either removing the `@watch` decorator or reworking it in a way that can avoid pre-init updates (which is the root cause of

[2021-06-10 21:36] macta commented on #462
Thanks for the instructive example - interestingly (and sadly) - when plugged into the framework I am using, this consistently doesn't give focus (not even 20% of the time ) - but perhaps this does indicate its a timing issue - I must be just getting the timing wrong.

I suspect the different to the jsfiddle example is that in my real life example, this is a WebComponent inside another, inside ano

[2021-06-11 08:27] macta commented on #462
@claviska - I know this is closed, but one last ditch effort to understand what might be going on (and apologies for distracting on something that may be related to the framework I am using) - if I have the handle of the input field I want to focus - is there anything I can do to test giving it focus in a less time sensitive way? In the promise code you showed me - if I were to use:
```setTimeout(

[2021-06-13 19:38] macta commented on #462
Arrrrgggg I finally understood what it is - that promise focus code does work if you aren't showing the Developer tools console. I guess the console must steal the focus.

[2021-06-13 20:08] claviska commented on #462
Ah, yes. I’ve been bitten by that before. For future reference, logging `document.activeElement` will still be the target element even if the console doesn’t permit focus.

Glad you finally nailed this down!

[2021-06-15 13:38] claviska commented on #465
The `@watch` decorator has been reworked in 16e7287c24c64a2103ef040bd23072adc846d563 and it appears to have resolved this issue. [I also added a test](45f4b33eb147d5fe73078fc63805da4f835a5f98) to make sure `sl-change` is only emitted once when the value actually changes, not on init.

[2021-06-15 13:38] #465 closed, assigned to claviska

[2021-06-16 12:42] #455 closed, assigned to claviska

[2021-06-16 12:43] claviska commented on #455
Fixed in 1e4de5f. This will be released in beta.44.

[2021-06-16 13:59] claviska commented on #466
I ran the repro locally and saw the lag you reported (although I didn't see that specific `focusin` error). I decided to reduce it further by removing Svelte and I'm no longer seeing that behavior:

https://jsfiddle.net/claviska/fxLj85zo/

IMO, it feels like the dev server is hanging for some reason. You may want to post a bug to Svelte for investigation, because I'm not sure how to troubleshoot i

[2021-06-17 07:57] brgrz commented on #466
I actually built the sample with SvelteKit's static adapter and deployed it to IIS and the issue is still here so it's not a dev server thing.

What could that be? The repro sample is minimal, there is nothing else running.

[2021-06-17 08:58] brgrz commented on #466
@claviska So just out of curiosity I switched back to the last Stencil version of SL (beta.27), still on latest SvelteKit and there were no delays happening.

Wrt to the beta.43 version, the delays only happen when clicking inside the `sl-tab-panel`, for example in between the two inputs that are inside the panel. It does not happen when I click on the modal/drawer itself.

UPDATE: I ran performan

[2021-06-17 13:58] claviska commented on #466
Not sure. I don't know enough about how Svelte works, but maybe something in their binding/rendering logic affects focus. Totally guessing here, but it's strange to me that it only happens when Svelte is involved. It's also strange that it only happens in Chrome.

[2021-06-17 14:04] claviska commented on #466
The `getTabbableElements` function is recursive. Given an element, it checks for tabbable elements in its light DOM, slots, and inside a shadow root if one exists. It would make sense to get hung up here if the logic were incorrect, but it should also fail when you remove Svelte from the equation. 😕

[2021-06-17 18:31] hanc2006 opened #467 "<sl-datepicker>"
@claviska I working to a new calendar lit component, without external dependencies, and with a **small footprint** (2kb not gziped). I completed most of the main features and now I working to integrate the component with this library.

Calendar features:
- [x] Single date selection
- [x] Set minimum date
- [x] Set maximum date
- [x] Highlight current day
- [x] Set disable days
- [x] Multiple displ

[2021-06-17 20:47] brgrz commented on #466
It is strange indeed. It doesn't happen in "regular" Svelte, only with SvelteKit. I did open an issue there though.

I'm sorry to say I'm seeing more issues now that you migrated to LitElement, little things here and there. General feeling is the Stencil version was more robust.

[2021-06-17 20:51] claviska commented on #466
There have been a handful of things that I didn't translate well as the project migrated from one to the other from both misunderstanding specific APIs and simply not catching every detail. That fault should be attributed to me, not the libraries.

I look forward to seeing what the response is from that.

[2021-06-17 20:57] claviska commented on #467
This looks really slick. Nice UI. I like the idea of having a calendar primitive that can be used for more complex components such as a date picker (which might feature two calendars for start/end, for example).

How are you handling localization? This is something that's on my list, but I want to figure out a good pattern we can follow that doesn't force users into a specific i18n library (they'l

[2021-06-17 20:58] claviska commented on #101
Related: #467

[2021-06-17 21:27] staabm commented on #465
@claviska any ETA for a next release?

[2021-06-17 21:38] claviska commented on #465
In a few mins

[2021-06-17 21:47] claviska commented on #458
Shoelace v2.0.0-beta.44 has been released

[2021-06-17 21:53] claviska commented on #437
Yep...I'm still working through a backlog of smaller things before tackling theming. Probably going to ditch Sass and start exporting CSS and design tokens as mentioned in #438, that way they can be injected into arbitrary shadow roots. We also need a way to facilitate customizations, so any thoughts or opinions on that before I start experimenting are appreciated!

[2021-06-17 22:19] mcjazzyfunky opened #468 "sl-color-picker not working properly"
**Describe the bug**
Please have a look at the following demo (using beta.44):
https://jsbin.com/lirekemonu/1/edit?html,output

The circle of the color picker should be red not white.
This was working in beta.43.

[2021-06-18 12:36] #468 closed, assigned to claviska

[2021-06-18 15:14] clxmstaab opened #469 "sl-button form-attribute"
**Is your feature request related to a problem? Please describe.**
in native html there is a feature which allows to tell a submit-button which form it submits.
this is especially usefull, when the button is outside the form.

see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#attr-form

**Describe the solution you'd like**
I would love to have a similar feature for a sl-button.

[2021-06-19 05:35] staabm opened #470 "Support validation pseudo selectors"
**Is your feature request related to a problem? Please describe.**
To ease styling of form element in valid/invalid state it would be great to have support for the css native pseudo selectors

https://developer.mozilla.org/en-US/docs/Web/CSS/:valid

https://developer.mozilla.org/en-US/docs/Web/CSS/:invalid

https://developer.mozilla.org/en-US/docs/Web/CSS/:optional

https://developer.mozilla.org/e

[2021-06-19 11:16] wc-matteo commented on #467
being able to select a date range within the component (without creating 2 inputs, etc.) would also be very nice

[2021-06-20 12:01] juanluispaz commented on #467
Amazing!!!

I found this library that tries to parse the date and time using only the Intl information available in the browser. Maybe it can be an inspiration for you: https://github.com/kensnyder/any-date-parser

[2021-06-20 22:15] hanc2006 commented on #467
# Description

The `sl-calendar` represents a Calendar by displaying the days of a month of a given year. The component allow users to enter dates easily and visually. You can customize date formats, choose different layouts, select a single date or a range of dates,...

# Demo

https://user-images.githubusercontent.com/4517251/122689758-6381b580-d225-11eb-9287-01d27f19141e.mp4

# Examples

### In

[2021-06-21 12:02] claviska commented on #467
Is this something you'd like to PR so we can review and provide more detailed feedback?

[2021-06-21 12:29] claviska commented on #469
A couple thoughts:

- Mapping a button to a form using `id` doesn't work across light DOM and shadow roots
- In HTML, forms will submit on Enter when a submit button exists within the form _and_ when an associated submit button exists outside of it. The latter might be expensive to replicate, as we need to account for changes to the DOM which may add/remove/mutate a submit button.

I've spent a lo

[2021-06-21 12:31] claviska opened #472 "Form Improvements"
This issue intends to cover all form-related improvements as mentioned in #293, #469, and #470.

Summary:

- [ ] Make form controls and buttons first class citizens via [`ElementInternals`](https://html.spec.whatwg.org/multipage/custom-elements.html#the-elementinternals-interface). This means form controls will submit with `<form>` and behave the same way as native HTML form controls.*
- [ ] Ensur

[2021-06-21 12:39] claviska commented on #469
I've consolidated all form-related issues into #472 to more easily track them. Please follow that issue for updates.

[2021-06-21 12:39] #469 closed, assigned to claviska

[2021-06-21 12:40] claviska commented on #470
I've consolidated all form-related issues into #472 to more easily track them. Please follow that issue for updates.

[2021-06-21 12:40] #470 closed, assigned to claviska

[2021-06-21 12:40] claviska commented on #293
I've consolidated all form-related issues into #472 to more easily track them. Please follow that issue for updates.

[2021-06-21 12:40] #293 closed, assigned to claviska

[2021-06-21 16:21] hanc2006 commented on #467
Hi @claviska
I prepare a PR next week so you can give me your feedback. I have left some notes in the code to discuss about the date localization.

[2021-06-21 16:31] claviska commented on #467
Sounds great. I’m also interested in how it performs from an accessibility standpoint. I know that’s really hard to get right in a complex component, but we need to think about it early on.

[2021-06-24 16:26] geoffrich commented on #466
I was able to repro this outside of SvelteKit: https://jsfiddle.net/geoffrich/pub0orke/

I reduced the example a bit, but the key difference is one line: `document.body.tabIndex = -1`. SvelteKit sets tabIndex on the body so it can reset focus on client-side navigation. This repros the issue in the JSFiddle you linked. Interestingly, this only happens in Chrome/Edge, not in Firefox (I'm on Windows)

[2021-06-24 16:36] brgrz commented on #466
Great work! Do you know what Chromium code does different than FF so that this becomes an issue?

[2021-06-24 17:00] geoffrich commented on #466
In Firefox, when you click inside the tabpanel whitespace, path includes the drawer (see below screenshot). In Chromium, path does not include the drawer, so the expensive tabbable elements calculation runs when it doesn't need to.

![image](https://user-images.githubusercontent.com/4992896/123302095-322d1200-d4d1-11eb-9de3-155f47956020.png)

I just realized that this is not a Chrome-only issue. I

[2021-06-24 20:27] straversi opened #473 "Inputs that are initially disabled are always valid."
**Describe the bug**

When an input is initially disabled, it is valid after enabling it, even when it shouldn't be.

For example, start with an `<sl-input type="text" disabled required></sl-input>`. Remove the `disabled`. Check the `invalid` property. It is `false`, even though the input is empty and required.

**To Reproduce**

Reproduced here in this [lit playground](https://lit.dev/playground/

[2021-06-24 21:25] claviska commented on #473
Thanks for reporting this, and for the repro. This is happening because `checkValidity()` reports `true` when an input is disabled. The solution is probably to watch `disabled` and set update `input.invalid` after the input is no longer disabled.

This probably affects most other form controls, too. It's a good first issue for anyone who wants to take a stab at it. (I'm trying to finish up the ana

[2021-06-25 18:46] hanc2006 commented on #467
Hi @claviska,

I published the `sl-datepicker `component with some examples on my repository https://github.com/hanc2006/sl-datepicker. It will be faster to work, make changes and review from you. I will create a clean PR after your feedback.

[2021-06-25 21:15] claviska commented on #466
Thanks for the repro, @geoffrich. After investigating this further, I've narrowed it down to the internal [`getTabbableElements()`](https://github.com/shoelace-style/shoelace/blob/51c252420ee1ce5e8602179a9a167575816acd10/src/internal/tabbable.ts#L54-L84) function. I haven't pinpointed it yet, but it appears to be related to slotted content. It may be recursively gathering references to the same el

[2021-06-25 23:04] #473 closed, assigned to claviska

[2021-06-25 23:26] claviska commented on #473
This was fixed by updating the input's disabled state and rechecking validity. I'm setting it directly on the input instead of waiting for the next update to avoid having to wait two updates for the correct validity.

Update: I moved the logic into `@watch` decorators in a28942f264d6b54b77b4697de28e7ce5f546ca62.

[2021-06-27 06:38] hanc2006 commented on #472
Hi @claviska,

I read the links that you posted about `ElementInternals` and the polyfill library. Interesting! I tried to find a good solution to integrate these features into the shoelace library. This is my vision and what I have implemented.

1. I created a **Mixin** class to use with all the input components.

2. I searched all the common properties, the events, the states and the functions b

[2021-06-28 00:05] hanc2006 commented on #472
### Standard behaviors for inputs

Normally the `value` attribute in an input element shouldn't change. This is used as the default value when the element is resetted. The `SLInput` component does not respect this behavior, so i created a new private property **default** where the initial value is stored.

[code]
In this way the default value can be restored from `ElementInternals` when the **form

[2021-06-29 12:35] #466 closed, assigned to claviska

[2021-06-29 12:39] claviska commented on #466
Turns out [the logic here](https://github.com/shoelace-style/shoelace/commit/1c8a3ea7d245c5520567b09e48a6e50ff3315a7e#diff-cb4181c9c4ee9ad1ff2c02e05eb05d76f9fa42e4aa950eca17fe1841f87677e2L70-L75) wasn't needed since we're also iterating over child elements. This was causing some unintended recursion where the same elements were returned over and over again.

I've verified the fix works for the use

[2021-06-29 21:02] gengns commented on #472
A couple of examples related with #469 when the `button` is outside the `form` and we have an `input` `required`.

**Native**
If we click on submit [it pops up a message.](https://jsfiddle.net/c0xf72ev/)
[code]
**Shoelace**
However, If we do the same with Shoelace [it doesn't show anything.](https://jsfiddle.net/ckqLgfw1/)
[code]

[2021-06-29 22:15] hanc2006 commented on #472
Hi @gengns

using `ElementInternals` with the above solution, the submit button is also handled outside the form...but actually the polifyll has some issue with Firefox...

[2021-06-29 22:23] claviska commented on #467
@hanc2006 I really like what you've done here. Is there any reason you don't want to form it into a PR in this repo? Doing so triggers Vercel to build a preview and lets us tinker and comment on the source directly.

In the meantime, one thing I noticed is some potentially faulty calendar logic. Here's the `addDays` function stripped down for a Fiddle:

[code]

It doesn't seem to take timezone int

[2021-06-29 22:45] hanc2006 commented on #467
Hi @claviska ,

there is no reason. I thought it would be faster to check and review the code the first time (because there is a lot of code). **I will prepare a PR** :+1:

`It might be worth looking into how Duet and similar components have solved this for inspiration.` :laughing: :laughing:  :laughing:
This function comes from there. Then I'll have to report a bug :bug:

I think I know how to fi

[2021-06-30 21:05] hanc2006 commented on #467
Pull request done https://github.com/shoelace-style/shoelace/pull/474#issue-681233187

[2021-06-30 21:26] hanc2006 opened #475 "sl-autocomplete"
Hi @claviska

I working to a new component using the following dependencies:

- sl-dropdown
- sl-menu
- sl-menu-item

Feedback are welcome :+1:

[code]

**Simple**
![image](https://user-images.githubusercontent.com/4517251/124032739-41dcb700-d9f9-11eb-8c20-6fc4ffb038da.png)

**With search term highlight**
![image](https://user-images.githubusercontent.com/4517251/124032876-7486af80-d9f9-11eb-95c7-

[2021-07-01 11:44] claviska commented on #475
Looks good. Again, a PR (with a docs page to describe and demo) is the best way to review. You might even post this to #127 since there's a lot of interest in this feature.

Without seeing any code or being able to try it, I just have one comment. I don't think the component should be responsible for fetching data. While convenient, it's difficult to support every possible fetch option in a declar

[2021-07-01 13:19] hanc2006 commented on #419
I prefer the solution used for point 4, **shared store of terms**. Using this way the user can manage terms and languages quickly.

I created a custom lit-directives and a shared store to locate my components...using an approach as described in point 4.
1. I make sure the terms are automatically updated for each component when user switch language
2. I can add or change any term quickly and global

[2021-07-01 14:38] hanc2006 commented on #475
Yes you are right, so I could replace the http request with a local property e and keep the same behaviors.

[code]

And for those wishing to use a declarative approach

[code]

[2021-07-02 13:13] matthewp opened #476 "Buttons with labels are not server rendered correctly"
**Describe the bug**

I know that SSR is super early! Despite this, I've been building Lit support into [Astro](https://astro.build/) and the first thing I wanted was to render some Shoelace elements. With a button I was able to get it to render (!!!!), however there was 1 style issue. You can see it in the below screenshot.

The padding here is not correct because the button is missing the `butto

[2021-07-02 18:40] bobmanc commented on #475
following. I need this now for a project I am working on. I will probably hack it together with a regular input and datalist for now.

[2021-07-03 20:33] brgrz commented on #466
Per my observation the issue hasn't been completely resolved with beta.45. I still notice lags from time to time though the handler violation/timeouts no longer occur.

Also I am unable to use double click to select text inside the sl-tabpanels that are inside sl-drawer.

UPDATE: I updated the repo at https://github.com/brgrz/sl-bugs to show the new bug in action.
Chrome version: latest, 91.0.4472

[2021-07-04 21:18] mcjazzyfunky commented on #475
Hmm, maybe it could be convenient to pass the strategy how to retrieve the items to that `data` property.

[code]
[code]

[2021-07-06 09:54] mcjazzyfunky commented on #419
[Edit] FYI: Comment has edited several times.

What about the following suggestion (basically my proposal above, but with some more details)?
Please be aware that the following is based on interfaces and strategy, adapter and facade patterns and that the concrete logic how i18n is handled is completely interchangeable.
The following does NOT say anything about the concrete i18n logic that will be

[2021-07-06 11:34] hanc2006 commented on #419
There are many implementations that we can use following the above points.
I am thinking of a very simple but effective solution:

[code]

If we want to use a different language than the default ...

[code]

[2021-07-06 11:58] hanc2006 commented on #475
@mcjazzyfunky I followed your way. I will upload an example of code shortly.

[2021-07-06 12:02] claviska commented on #476
This seems like a massive shortcoming. I'm familiar with at least three WC libraries that use slot detection to intelligently determine how to render a component based on its content. Is this something we should bring up to the Lit team for discussion?

The former case would compete with the default slot. It's pretty easy to support both, but most users will end up doing this:

[code]

Instead of

[2021-07-06 13:53] mcjazzyfunky commented on #419
The root of all evil is that all following Shoelace custom elements are currently tightly coupled with Intl: `SlFormatBytes`, `SlFormatDate`, `SlFormatNumber`, `SLRelativeTime`, `SlDatePicker`.
We can discuss as long as we want, deep down in our hearts we all know that tight coupling in software engineering is evil and will stay evil to the end of time.

One claim of Shoelace is (quote): "[...] we

[2021-07-06 13:55] matthewp commented on #476
Lit's SSR implementation does not create elements, so using querySelector to find a slot won't work. I think they want to avoid requiring a full DOM implementation which makes sense. It's worth bringing up the issue with them though and see what they think / recommend. I'll file an issue if that's ok with you.

[2021-07-06 14:02] claviska commented on #476
Totally. Please tag me on it so I can follow. 🙏

[2021-07-06 14:44] hanc2006 commented on #419
@mcjazzyfunky we are saying the same thing. I only use another approach. The "t" function is a custom "directive" that is responsible to translate the terms inside a component. Instead of create a dedicated property to manage a "i18manager" instance, I use the functionality offered by LIT and template literals. In this way I can take advantage of efficient DOM updates. The “t” function include sev

[2021-07-06 14:56] mcjazzyfunky commented on #419
@hanc2006 I guess I'm just missing something: To make the SL components refresh automatically on locale change and also to allow DOM subtree dependent locales your `t` function must know the concrete component instance. Where does this come from?

[2021-07-06 15:18] hanc2006 commented on #419
No. The "t" function is initialized from the component itself. He doesn't have to know anything about the component, is a static method exposed by the Locale class. Everything else is managed internally in its life cycle: https://lit.dev/docs/templates/custom-directives/

[2021-07-06 15:27] mcjazzyfunky commented on #419
@hanc2006  Oh sorry, my bad, I see now: `t` is a lit directive (as you've mentioned already at the beginning).
I guess, in your proposal, there will also be lit directives for formatting dates and numbers etc., correct?

[2021-07-06 15:34] hanc2006 commented on #419
Not at the moment, once the core functionalities have been defined, they can be easily added. But that was not the purpose. Was it supposed to be a simple locale manager? :laughing:

[2021-07-06 17:02] matthewp commented on #476
https://github.com/lit/lit/issues/1995

[2021-07-06 17:21] hanc2006 commented on #419
Of course @lit/localize is a good solution :smile:

I created a smalllllll script that automatically generates translations for all terms inside each components. Use google translate as a translation engine. A *.json (or javascript) file is created for each language using the standard format: https://www.i18next.com/misc/json-format.

[code]

[2021-07-06 18:47] prantlf commented on #419
@mcjazzyfunky, instead of introducing a custom element and attribute like this:

[code]

Why not using the standard one to select the UI language? For example:

[code]

[code]

Setting the `lang` attribute is mandatory if your page wants to pass an accessibility check. And every productive page needs it. Screen readers follow this attribute and not something custom.

Even if some framework does us

[2021-07-06 19:21] mcjazzyfunky commented on #419
@prantlf Fair point, you're right of course. Many thanks. Is there by any chance a good possibility of watching/listening whether "inherited lang has changed somewhere above" or whatever?

Good to know, btw. Thanks for the info.

[Edit] Questions to all:
- Is this the best way to determine the current language of a given HTML element?
  `elem.closest('[lang]').lang`

[2021-07-07 07:59] mcjazzyfunky commented on #419
@hanc2006
What about giving your nice little `t` function a bit more power for convenience and practical reasons (=> "whenever there's a `t` then it has something to do with i18n")?

[code]

How would you handle the following case?

[code]

Just as a remark: As the type of `t` does not depend on the current LitElement subtype, there will be minor losses in type-safety, errors like <code>t&grave;su

[2021-07-07 08:35] hanc2006 commented on #419
Hi @mcjazzyfunky

at the moment this is what you can do (I haven't implemented a function **t('xxxxx')** to write less code :laughing:  but you can use Locale.translate ....  which, however, is used as a string literal):

[code]

The function **t** is a directive that uses the Locale.translate method to localize terms.

[2021-07-07 08:49] hanc2006 commented on #419
That's right...but you can handle a term that doesn't exist, for example you can display "Translation Not Found" or just print the wrong term without translate him.

[2021-07-07 09:46] brgrz commented on #466
@claviska Did you have time to look at the new issue?

[2021-07-07 09:49] brgrz commented on #348
@claviska Revisiting this issue, is there any way you could make the event details be available in `detail` property rather than in `event.target.value`?

If I strongly type events to `CustomEvent` (which I suppose we should do in apps that use TS), the `value` property is not available on `event.target`.

[2021-07-07 09:52] aquantech opened #477 "Range with tooltip not showing on Safari"
**Describe the bug**
Range with tooltip not working on Safari

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://shoelace.style/components/range?id=tooltip-placement
2. Try to move the circle
3. Tooltip not showing

**Desktop (please complete the following information):**
 - OS: MacOS
 - Browser: Safari
 - Version 14.1.1

[2021-07-07 10:16] hanc2006 commented on #419
@mcjazzyfunky

what should the function `t.formatDate(...)`  do? With javascript you can locate the date natively using **Intl.DateTimeFormat**

[code]

[2021-07-07 10:41] mcjazzyfunky commented on #419
@hanc2006 Like said above, tight coupling is the root of all evil. SL should NOT be tightly coupled with Intl (which btw. is complete unnecessary IMHO). I personally like your `t` function very much (syntactical conciseness is a big win IMHO) and I would find it very convenient if `t` was also providing facade functions like `t.formatDate` and `t.formatNumber` etc. ("facade" in the sense that the

[2021-07-07 11:10] hanc2006 commented on #419
It will work. If you change the language and then you click again, the text will be updated. The trick is not the element reference, but the Locale class, which is a static singleton.

[2021-07-07 11:21] mcjazzyfunky commented on #419
Yes, that's what I've meant. I guess `Locale` has an internal state which contains the current application wide locale. But that would not allow contextual locales depending on the element position in the DOM tree.

Ah yes, I see, my bad "[...] make sure the terms are automatically updated for each component when user switch language [...]" does not necessarily mean DOM context specific, that was

[2021-07-07 11:21] claviska commented on #348
This happens with regular HTML elements too: https://stackoverflow.com/a/28900856/567486

To solve it, use:

[code]

Similarly, with an `<input>` you would do:

[code]

[2021-07-07 11:44] hanc2006 commented on #419
The automatic update for a component is possible only if you use the `"t"` directive, that take care of everything. This last one relies on Locale Instance.

The `Locale.translate-xxxx` is only a function that you can use everywhere to translate terms (the `"t"` directive work only if you are using lit).

It is not related to the DOM. But be aware, this function doesn't update the DOM automaticall

[2021-07-07 12:06] claviska commented on #466
The first commit fixed a recursion bug. If you're still seeing a lag, it's probably due to the `getTabbableElements()` function calling `window.getComputedStyle()` on every tabbable candidate.

I've reworked the logic in 9a89c14e205f51ab7475ff7d6143d2d17a82522a to short circuit after finding the first and last tabbable elements. This is in lieu of getting _all_ tabbable elements, which is expensiv

[2021-07-07 12:21] mcjazzyfunky commented on #419
@hanc2006

What I've meant is something like the following: What about not using this `Locale` singleton object but instead making your nice little `t` function more powerful (the second block below is the important one)?

[code]

Again, that tiny little `t` thingy is a facade. The idea would be that `t` is tightly coupled with Intl in the beginning and somewhere in future the implementation of th

[2021-07-07 12:30] #477 closed, assigned to claviska

[2021-07-07 12:31] claviska commented on #477
Thanks for reporting this. Safari doesn't focus like other browsers, so I've updated range to show the tooltip when the thumb is moved or when it has focus.

[2021-07-07 12:49] aquantech commented on #120
I recommend tailwindcss because it has everything you need, with full documentation, a large community, and many demos available that make it easy to create layouts with copy and paste . The combination of TailwindCSS and Shoelace is really great.

[2021-07-07 13:25] claviska commented on #419
To reiterate the scope of the RFC:

When possible, translatable terms should be provided by the user via slots/labels. This isn't always feasible, one example being the "close" button inside a tab that needs an aria label. A more obvious example will be the file input, which needs terms such as "Select a file" and "_n_ files selected".

The desired solution isn't a full-blown i18n library — I don'

[2021-07-07 15:43] mcjazzyfunky commented on #419
@claviska I would say the most important question is, whether you like  @prantlf 's idea of using the (already available) component property `lang` instead of `locale` for `SlFormatBytes`, `SlFormatDate`, `SlFormatNumber` etc. and all other localizable SL components in the future?

If your answer is "yes" then:
1. > How will the user set the locale? (e.g. use the closest lang attribute, through a

[2021-07-07 17:07] hanc2006 commented on #419
Inside component:

[code]

Outside component:

[code]

[2021-07-07 21:41] claviska commented on #419
@mcjazzyfunky

Yeah, probably should have used the global `lang` attribute from the start.

How would we achieve this? A mutation observer? Seems expensive.

---

@hanc2006

Thanks for the example. Looks like this approach only supports one locale at a time, right? That seems to be a concern.

[2021-07-07 22:13] hanc2006 commented on #419
@claviska

The language is defined for the whole application. Would you like to use a different language for each component at the same time?

I don't know any libraries that support this :thinking:
1. lit-translate => single locale
2. @lit/localize => single locale
3. es2015-i18n-tag => single locale
4. i18next => single locale

[2021-07-07 22:15] mcjazzyfunky commented on #419
@claviska

It says "WITHOUT an auto-refresh" :wink: . I've spent quite some time yesterday to find a solution for a reasonable ancestor-lang-prop-change-observer, but haven't found anything besides hacks and expensive stuff. I guess in the end something like `<sl-i18n lang="fr-FR">` might still be necessary (`lang` change detection here will be possible without noteworthy performance loss). I woul

[2021-07-07 22:30] claviska commented on #419
This is the answer I was looking for. Without this requirement, it seems much more feasible.

I realize HTML supports it, but it seems to be intended more for marking up various languages than localizing entire applications. Generally speaking, a user should probably not be expected to consume more than one language at a time anyways.

If there are no other objections, let’s drop this requirement.

[2021-07-07 22:35] claviska commented on #419
Without the multi language requirement, this is a non-issue.

Unless there’s a compelling reason we need to support it, I think we should prototype the directive-based approach that @hanc2006 has proposed.

What’s the best way to assume the default language? The `lang` attribute on `<html>`? Should we watch it for changes?

Trying to find a way to do it so it “just works” for most users, and that

[2021-07-07 22:50] mcjazzyfunky commented on #419
https://codesandbox.io/s/6yrpowznkw?file=/src/index.js

[2021-07-07 23:31] hanc2006 commented on #419
I'm not sure this example uses multi language support. Displays a list of currencies using different number formatting options. :thinking:

From the library website (https://formatjs.io/docs/intl)
![image](https://user-images.githubusercontent.com/4517251/124840385-23dbfd00-df8b-11eb-944a-d835ca923bab.png)

Instead for the multi language, this library use the **IntlMessageFormat**, where you must

[2021-07-08 00:04] mcjazzyfunky commented on #419
You've almost convinced me :wink: ... but ....

My main objections:

- Let's say we drop that multi-lang-in-same-doc requirement and implement the SlDatePicker. What parts of the code for that SlDatePicker will look different than its multi-lang-in-same-doc supporting counterpart? In the example above it is this: `` Locale.translate`tutto bene` ``. First, this is only 3 characters shorter than ``t

[2021-07-08 00:30] jaredcwhite commented on #120
Tailwind isn't a grid system. You can do everything you need to do with grid-based layout using pure CSS￼. Both flexbox and grid specs are amazingly powerful.￼ ☺️

[2021-07-08 02:34] mcjazzyfunky commented on #419
I think that's the best way for the moment, as it means we do not have to change or extend the current public SL API with stuff like `Locale` or `sl-i18n` or whatever or decide whether multiple locales should be supported or not (like said, I'm sure it will be the exact same component source code if implemented properly).

I still love the idea of renaming currently given `locale` props to `lang`

[2021-07-08 09:16] mcjazzyfunky commented on #419
Please allow me an additional comment regarding this "multi-locale" vs."one-locale" question:
The main reason why this is even a big question in the first place, is the fact that this `t` function is independent of any element instance. And if we are very true to ourselves, this is a really big disadvantage, the only reason why we want `t` to be a singleton function is for syntactical conciseness,

[2021-07-08 10:06] hanc2006 commented on #419
Turning a singleton into an instance for each component is done quickly. I didn't say it can't be done.

However, this involves more changes for each component, but it is doable.

In my opinion we must first find an efficient way to localize components, and then decide whether to make it available per component or only globally.

[2021-07-09 04:13] mcjazzyfunky commented on #381
Here's an example that shows why this "dark theme experiment" is so important.

We surely all agree that @hanc2006 's new date picker is looking awesome  - here's how it looks in light theme:

<img src="https://user-images.githubusercontent.com/17143038/125020178-abec0080-e078-11eb-99c9-7e35ab0f1554.png" width="350">

This is how it currently looks with dark theme (the implementation of the date p

[2021-07-09 09:45] mcjazzyfunky commented on #381
@claviska  If this "dark theme experiment" turns out to be a success, it may be useful to introduce a new custom CSS property `--sl-theme-mode`, which is either `0` for light themes and `1` for dark themes.
This would allow a bit of fine-tuning in some cases.
There might be some alternatives to achieve the same aim, so maybe to be discussed somewhere in future.

<details>
  <summary>Example</summa

[2021-07-09 13:38] aquantech commented on #120
Yeah, tailwindcss is not ONLY grid system. It's include other utilities like spacing, colors, shadow ... what about that things if you need spacing, colors, dropdown, shadow, ... you will write it own? I think that use a utility-first framework with shoelace.style is the good solutions.

[2021-07-11 12:07] mcjazzyfunky commented on #419
Okay, next try: This is really by far the simplest solution that I can think of to provide a fully customizable I18n abstraction layer for SL (I know, "fully customizable" has never been a requirement, anyway). It contains ideas of all four current participants of this thread.
[Edit] Note: To keep things simple for the moment, the following proposal does not cover lazy loading of locale data, yet.

[2021-07-11 16:08] claviska commented on #419
Just a quick poll. Not a lot of votes. It's largely split on supporting multiple languages on one page.

<img width="592" alt="CleanShot 2021-07-11 at 12 06 58@2x" src="https://user-images.githubusercontent.com/55639/125202242-ae00bb80-e240-11eb-9418-b5ba8cf687ca.png">

[2021-07-11 18:05] claviska commented on #419
I'm thinking through this a bit and trying to come up with a pragmatic way to support multiple locales using `lang`.

[code]

We would need to use something like `Element.closest('[lang]')` to determine the initial locale. If unknown, fall back to English (US). One problem with this approach is that’s it’s expensive, requiring _every_ component to traverse the DOM potentially all the way up to the

[2021-07-11 18:33] mcjazzyfunky commented on #419
No, DOM traversal with `closest(...)` is not necessary => we can use `dispatchEvent` for that (on connect), that's why I have proposed it the other day. [Edit] Ah okay, maybe you've meant something like that with "use a form of context and reference the context instead".

As said somewhere above, I like your idea very much to just use the `lang` attribute of the `html` element (plus the component´

[2021-07-11 19:18] mcjazzyfunky commented on #419
Yesterday, I've thought a lot about @hanc2006 's comment from somewhere above, that most i18n library do not even support multiple languages on the same page. I also cannot believe that there are really that many web apps/sites out there that use two different locales at the same time. But my point is this: I really really want that SL's i18n abstratction layer is flexible enough to allow contextu

[2021-07-11 21:21] hanc2006 commented on #419
@mcjazzyfunky you forget that these libraries are built on top of robust frameworks that offers a lot of contextualization. It is hard to build an independent piece of code that work close to components, but at the same time offer a lot of abstraction. All of these frameworks have a context shared in common, but instead this library is built with independent components (almost).

[2021-07-12 00:04] mcjazzyfunky commented on #419
@hanc2006 @claviska May I ask you please to be a bit more specific where exactly you think there's the misunderstanding?
My current proposal regarding i18n (ignore that `i18n` object for a moment) was basically just to define a handful of interfaces, use DOM events as a poor person's DI system (to prevent tight coupling) and implement a (completely replaceable) default behavior for the i18n logic

[2021-07-13 11:43] mcjazzyfunky commented on #419
FYI: `i18next` + `react` + two languages at the same time:
https://codesandbox.io/s/react-i18next-2yozn?file=/src/index.tsx

I do not care that much about the multi language stuff, but it's important to see that in `React` and a lot of other UI libraries, behavior can be contextual and can be "injected" declarativly. And that's the main reason why this "contextual behavior" in general is so import

[2021-07-13 14:12] claviska commented on #419
I've hidden the previous comments because this is getting really hard to follow, and there's a lot of back and forth going on and redundant information. (You can still toggle them for reference.)

---

As of now, it's pretty clear we need to support multiple languages per page, even if it's only for a small percentage of users.

Let's focus on how to achieve that first, as it's the most complex pi

[2021-07-13 15:53] mcjazzyfunky commented on #419
`sl-18n` will call `addEventListener` once (constuctor or `connectedCallback` - not really sure yet) to subscribe for messages from localized elements somewhere below in the DOM subtree => "If anybody wants to know the current locale for this context and is also interessted in being informed about every locale change then please ask me". Localized elements somewhere below in the DOM subtree will c

[2021-07-13 16:02] claviska commented on #419
Interesting idea, using the event system and callbacks. This eliminates DOM traversal and solves nested locales since events can be canceled as they bubble up.

A small POC in a fiddle or pen would be awesome.

[2021-07-13 16:51] hanc2006 commented on #419
@claviska...yes a directive could solve the problem. We can use the @mcjazzyfunky 's suggested idea to detect language switch and the directive to re render the component, but I have an important question, where will the languages ​​be loaded?

[2021-07-13 17:29] claviska commented on #419
Perfect. Sounds like we have a promising way forward.

I'm envisioning a Locale registry in the i18n module, maybe something like this:

[code]

This gives us one utility that manages everything and offers a low-friction way for users to add locales.

[code]

The translate functions will probably be directives. Also, we shouldn't name it `t` — that should probably be a convention on import.

[code

[2021-07-13 17:42] claviska commented on #419
@hanc2006 I think you may have been referring to dynamically loading languages. That should be left up to the user, not the library, so we probably don't need an async directive for it. This lets the user import first-party translations as well as their own.

Another question is, should each translation file contain all terms for all components? It probably doesn't make sense to decouple them (the

[2021-07-13 18:03] hanc2006 commented on #419
I just meant in what object they were stored, but it's clear to me now.

I believe that a single container is a good solution. We can add a method that allows users to add new terms. Something like that:

[code]

[2021-07-13 18:59] mcjazzyfunky commented on #419
The by far most interesting question is: "What does @claviska think `DateOptions` and `NumberOptions` should look like?"
I guess, the answer will be `Intl.DateTimeFormatOptions` and `Intl.NumberFormatOptions`.
But if you think of it, having such complex date and number formats for SL core is the exact reason why it may never be practically possible to combine Shoelace with for example i18next (whi

[2021-07-13 20:02] claviska commented on #419
I guess, the answer will be Intl.DateTimeFormatOptions and Intl.NumberFormatOptions.

Those are indeed what I was hinting at.

That isn't true. The format/translate functions above aren't intended to be consumed by users, they're meant to be used as directives for rendering components. I _do_ want all the date/number options available with the expectation that individual components will abstract t

[2021-07-13 20:10] mcjazzyfunky commented on #419
My point is (hopefully I'm wrong) that it is practically impossible to implement the following function:

[code]
or vice versa. That's why implementing an i18next adapter for SL is almost impossible.

[2021-07-13 20:13] claviska commented on #419
We can't accommodate every i18n library out there, but limiting the scope of Shoelace's utility and leaning on Intl as a standard instead of an arbitrary format seems like the right path.

[2021-07-13 20:15] claviska commented on #419
I'm trying to keep the discussion focused on a solution instead of hypotheticals so we don't get derailed. I feel like we're close and there have been some good suggestions in this thread.

Please don't take me hiding comments personally. 💙

[2021-07-13 21:17] mcjazzyfunky commented on #419
No prob :joy: ... but please do not hide this one - because it's really important.

First: Your comment above means: "We use the Intl interfaces/API. Period." => The result will be: With over 99,9% probability there will never ever be an adapter for any i18n library which is not itself based on Intl.
I'm perfectly fine with this decision (I would not have used anything else anyway), but we should

[2021-07-13 21:36] claviska commented on #419
This is handled by Intl. See [this example](https://shoelace.style/components/format-date?id=localization). All outputs are controlled entirely by the language code thanks to the browser.

Let's bear in mind that this isn't a proposal for a general i18n library. It's scope is specifically to accommodate first- and third-party component internals in a simple, lightweight, and consistent way. In all

[2021-07-14 13:44] mcjazzyfunky commented on #419
OK folks, I give up. Sorry for bothering you with so many comments on this topic and many thanks for all your patience. This will be my last major comment on the fundamental architecture of this i18n feature in SL. The following is just for the record ... really no need to respond.

To sum up:
Using "singleton" functions in cases, where it may be desirable to change their internal behavior somewhe

[2021-07-14 20:08] hanc2006 commented on #419
@claviska, @mcjazzyfunky

I finally found a good compromise between usability and performance. I created this first demo which needs to be refined (and discussed for some open points), but it already includes all the required features. There are several changes made here since my first draft that doesn't worked contextual locale:

1. Removed the directives, but kept the use of string literals :+1:

[2021-07-16 07:58] fbecker-complex opened #480 "Cursor in <sl-input> jump to the end while editing in Safari (macOS + iOS)"
**Describe the bug**
After entering a text in an `sl-input`, trying to edit this text will lead to the cursor jumping to the end position of the input.

**To Reproduce**
- Enter text into an `sl-input` on an IOS-device (tested on Iphone11 and 12)
- Tap to any position, that is not the end of your text
- Try to enter more text there
- After entering one character, your cursor will jump to the end p

[2021-07-16 12:49] claviska commented on #480
Thanks for reporting this. I've verified this behavior in Safari on both iOS and macOS. It doesn't happen in Chrome or Firefox.

I've updated the title accordingly and will investigate soon.

[2021-07-16 13:19] claviska commented on #480
I've replicated this outside of Shoelace in the Lit Playground.

[Playground Link](https://lit.dev/playground/#project=W3sibmFtZSI6ImlucHV0LnRzIiwiY29udGVudCI6ImltcG9ydCB7aHRtbCwgY3NzLCBMaXRFbGVtZW50fSBmcm9tICdsaXQnO1xuaW1wb3J0IHtjdXN0b21FbGVtZW50LCBwcm9wZXJ0eSwgcXVlcnl9IGZyb20gJ2xpdC9kZWNvcmF0b3JzLmpzJztcblxuQGN1c3RvbUVsZW1lbnQoJ215LWlucHV0JylcbmV4cG9ydCBjbGFzcyBTaW1wbGVHcmVldGluZyBleHRlbmRzIExpd

[2021-07-16 14:16] #480 closed, assigned to claviska

[2021-07-16 14:17] claviska commented on #480
Fixed in 1a6c1ed. Special thanks to @westbrook for nudging me in the right direction here. ✌️

[2021-07-19 01:25] claviska commented on #127
I’m renaming this to align with the W3’s definition: https://www.w3.org/TR/2021/NOTE-wai-aria-practices-1.2-20211129/examples/combobox/combobox-autocomplete-list.html

For accessibility reasons, I think the scope should be more or less limited to what’s described here.

[2021-07-19 04:59] fbecker-complex commented on #480
Thanks for the quick fix 👍🏼

[2021-07-19 13:48] Galimede opened #484 "sl-dropdown/sl-menu-item: rich select"
Hi, everyone, 👋,

**Is your feature request related to a problem? Please describe.**

For a component I work on at [Clever Cloud ](https://github.com/CleverCloud/clever-components) we use the `sl-select` component from shoelace and the `sl-menu-item` for the option but we would like to be able to put a component or other things than text which is the only possibility right now.

**Describe the sol

[2021-07-19 14:20] claviska commented on #484
Can you provide an example or two of what you're trying to accomplish? Menu items already support non-textual content:

https://jsfiddle.net/8ghc9y05/1/

I don't think it makes sense to allow for much more than descriptive content, although there's technically nothing stopping you from throwing more complex components in a menu — I just wouldn't expect them to work properly (e.g. a click will stil

[2021-07-20 13:39] Galimede commented on #484
What we would like to accomplish is to have the component we provide to the `sl-menu-item` to be displayed in the `sl-select` when selected when the `sl-select` is not opened.

Here is a montage of what it would look like:

![image](https://user-images.githubusercontent.com/32012475/126332886-3303252a-408a-48e5-a14c-8793a3543391.png)

If we don't do the trick explained above we will have something

[2021-07-20 16:13] claviska commented on #484
Thanks for elaborating, that makes sense. Currently the slot’s text content is used, but I think this could be exposed in one of two ways:

1. The menu item exposes a property that accepts a function and returns the HTML content that should be shown as a “preview.”  This is generic and could be extended to other components that may need it, but the property would need to be applied to each menu it

[2021-07-21 18:32] mcjazzyfunky commented on #419
@hanc2006 Could you please do me a favor and prepare a simplified version of your demo that looks like follows? I guess that surrounding `<div>` element will cause some trouble. It's a lot easier to try out some edge cases if we also have an example as simple as possible (like the one below).

[code]

Please check the following demo regarding the above mentioned `<div>` issue (be aware that here t

[2021-07-22 12:03] claviska commented on #484
One thing that complicates this is supporting multiple. Assuming the first approach, menu items would probably need to report both text content (for tags in multi select) and HTML content (for single select). Not sure it makes sense to inject markup into tags.

[2021-07-22 12:23] claviska commented on #484
Diving deeper, another issue with this is how styles will be implemented. Allowing custom markup is pretty easy, but providing a way to style that markup is not since it's rendered in the select's shadow root.

For example, the default display of the select's label is `display: flex` which will collapse whitespace between elements. You won't have a way to change that without littering your markup

[2021-07-22 12:48] hanc2006 commented on #419
~~I need to fix the `getSlottedElements()` function. Actually the recursive lookup has some restrictions.~~
@mcjazzyfunky fixed! https://codesandbox.io/s/shoelace-locale-czz2l

[2021-07-22 12:52] claviska commented on #475
Closing so we can track this in #127. At the time, the other issue wasn't named clearly but it's the same thing.

[2021-07-22 12:52] #475 closed, assigned to claviska

[2021-07-22 13:48] hanc2006 commented on #127
@claviska,
I prepared a PR for the **sl-autocomplete** component (code and doc), but I need to delete and create again the PR for the **sl-datepicker** component https://github.com/shoelace-style/shoelace/pull/474 and the PR for the i18n localization support https://github.com/shoelace-style/shoelace/pull/479. When I created the first fork I didn't think about creating new branches for each PR. No

[2021-07-22 14:12] claviska commented on #127
Sorry about that...things change quick sometimes, especially during beta. It's usually a good idea to limit one branch to one feature for that reason. I hope it doesn't create too much work for you!

[2021-07-22 15:08] hsablonniere commented on #484
Hey Cory (thanks for your work and answers) :wink:

(I'm @Galimede's colleague BTW)

Reading your answers, I now realize how hard this problem is :hugs:

I was expecting something like "just clone the whole innerHTML of the selected `<sl-menu-item>` instead of merging textContent from text nodes only".

Yes, I was thinking something like:

[code]

But as you've explained, there are lots of details

[2021-07-22 22:24] claviska commented on #484
I'm not aware of other custom elements that do this, but if anyone has examples I'd love to study them. This is an interesting problem and the concept is, possibly, not an uncommon use case. I'd like to explore it a bit more.

Since custom markup + styles + shadow DOM isn't a good mix, perhaps exposing a slot that, when populated, replaces the select's existing display with the slotted content mig

[2021-07-23 10:25] mcjazzyfunky commented on #419
@hanc2006 Thanks a lot. May I ask you for another favor? If yes :wink:, could you please replace the prop `age` of component `sl-element` with a prop `dateOfBirth` of type `Date` and use this date in `sl-element` to be printed out in format `day/month/year => 'numeric'`? This will make your nice little demo even more expressive.

[2021-07-23 18:00] hanc2006 commented on #419
I updated the code, and I added the missing functions inside the i18n object

[2021-07-23 20:56] mcjazzyfunky commented on #419
@hanc2006 Thanks again. But I guess, if you want to change the text to "Hi, my name is Franco and I was born in 1980. More precisely, I was born June 3, 1980. This was a Tuesday.", this will not be easily possible out of the box. I'm quite sure, a single `translate` (aka `t`) function will not be enough. You really need some `formatDate`, `formatNumber` etc. (or whatever) methods and it would be i

[2021-07-27 21:34] claviska commented on #437
Closing this so we can focus on it more actively in #438. Comment to follow.

[2021-07-27 21:34] #437 closed, assigned to claviska

[2021-07-27 22:05] claviska commented on #438
It's been awhile, so here's an update. [Sass is no longer being used.](https://github.com/shoelace-style/shoelace/commit/383e039297a95a11f40ab0b325a00bb81e319c6e) Instead, all components export their CSS from `<component>.styles.ts` as `CSSResult` objects.

At the moment, the base styles (required design tokens + a handful of utility classes) and the dark theme are still plain CSS files, but I'm e

[2021-07-27 22:13] claviska commented on #438
Considering this again:

This still isn't possible because the base styles are scoped to `:root` and applying them to `:host` is [still uncomfortable](https://github.com/shoelace-style/shoelace/issues/437#issuecomment-827174694). 🤔

If you had something like this, would that work pretty well for you as a consumer? The argument for `getStyles()` will only allow `:root` or `:host`.

[code]

I've pro

[2021-07-27 22:23] e111077 commented on #438
I agree with this statement, but still this adds quite a bit of friction if you want to ship a SL component as a sub-component of a shareable component. e.g. `<my-date-input>` which may be composed of 3 `sl-input`s. As of now, you have to copy the styles in `base.css` because the selector `:root` will not apply inside of a shadow root. If someone is shipping their own component with a sl component

[2021-07-28 09:57] mcjazzyfunky commented on #438
We are all software engineers. And I hope we all agree that software engineers love abstraction and also love thinking in design patterns. So why do we not think in abstract design patterns here?

Whenever we need contextual behavior (means:  a specific behavior in a certain DOM subtree) - it doesn't matter whether "behavior" means "dark-blue button" or "teal button" or "button with English text"

[2021-07-28 18:55] e111077 commented on #438
I was chatting with the team about this today. The problem with using JS to apply a theme is that it might offer a footgun for users to cause FOUC. It may be best to bring Sass into the project for 2 reasons:

1. Provide element-specific theme token mixins
2. Help provide a build-less approach for users to define mixins perhaps via an online tool

On Material providing these mixins in a build-time

[2021-08-03 15:40] brgrz commented on #379
@claviska

I solved this using `stopPropagation` event modifier in Svelte, like this

[code]

but it feels suboptimal, maybe even wrong, to me. With a couple of levels of control hierarchy this quickly becomes troublesome since you have to "plaster" all the controls with these event handling modifiers. Pretty much the same thing happens when inspecting `event.target` just reversed scenario but aga

[2021-08-03 16:02] brgrz commented on #379
fyi

I just found out there is a `self` modifier available in Svelte, which works perfectly for most of my use cases

`on:sl-hide|self={onDrawerHidden}`

this will limit the `onDrawerHidden `handler to only run when `event.target` on the event matches the element this has been placed on. This does help in removing some of those `stopPropagation` modifiers and if `event.target` checks.

[2021-08-06 23:13] fredyagomez opened #493 "Tooltip dismissible when clicking outside"
**Is your feature request related to a problem? Please describe.**
There is a trigger = "click" to show and hide the tooltip. Nevertheless, having the possibility to close tooltip when clicking outside anywhere would be a nice thing to have.

**Describe the solution you'd like**
New prop dismissible that allows the tooltip to close when click outside the tooltip main container.

**Describe alterna

[2021-08-07 18:07] MerlinB opened #494 "Very bad performance with Svelte and Rollup"
**Describe the bug**
Adding shoelace to the default svelte template adds 20+ seconds to the rollup build time when using the dev server.

**To Reproduce**
Here is a repo to reproduce the issue: https://github.com/MerlinB/svelte-shoelace
All I did was take https://github.com/sveltejs/template and add shoelace as described in the documentation.

To reproduce run `npm run dev`. Every build and rebuil

[2021-08-07 19:14] MerlinB commented on #494
The problem was that I copied the shoelace assets into `/public` which svelte constantly watches.

[2021-08-07 19:14] #494 closed, assigned to claviska

[2021-08-09 01:29] carneloot commented on #328
I think this helps the issue. JetBrains launched [web types](https://blog.jetbrains.com/webstorm/2021/01/web-types/).
Maybe it is possible to generate the web types file using the before mentioned `dist/metadata.json`.

[2021-08-09 01:41] claviska commented on #328
Some things have changed since my last comment. Shoelace now uses a standardized custom elements manifest called `custom-elements.json`. This file contains complete API info for all components in the library and is used to power the docs and generate definitions for VS Code and React wrappers.

At a glance, it’s probably not hard to map this to `web-types.json`.

For anyone interested in tackling

[2021-08-09 20:38] bennypowers opened #495 "sl-icon-button href"
**Is your feature request related to a problem? Please describe.**
[code]
Click the first button - go to `/`
Click the second button - nothing happens

**Describe the solution you'd like**
SLIconButton should implement href, just like SLButton does.

**Describe alternatives you've considered**
Having different APIs for icon-button and button is awkward and breaks user expectations

[2021-08-10 12:14] bennypowers opened #497 "setting checkbox.checked should not fire `sl-change`"
**Describe the bug**
Native inputs do not fire change events when their value is set with JavaScript. `<sl-checkbox>` changes this behaviour, firing `sl-change` even when the value is set with javascript.

**Why does this matter?** Imagine if you will a todo-list app in which todo items can be completed either by user clicking on the checkbox, or through other means (say, accomplishing certain tas

[2021-08-10 14:52] #495 closed, assigned to claviska

[2021-08-10 21:11] #497 closed, assigned to claviska

[2021-08-10 22:10] claviska commented on #381
Here are the upcoming changes to theming scraped from the [upcoming changelog](https://next.shoelace.style/resources/changelog?id=next):

This release improves theming by offering both light and dark themes that can be used autonomously. It also adds a variety of new color primitives and changes the way color tokens are consumed. Previously, color tokens were in hexidecimal format. Now, Shoelace n

[2021-08-10 22:15] claviska commented on #438
This has been completed as part of the theme rework, which took longer than I would have liked. Starting with the next release:

- the "base" theme has been renamed to "light"
- the light and dark themes can be used independently from each other (i.e. no need to load "base" no matter what)
- styles are provided as raw CSS files and `[theme].styles.js`
- all theme files are scoped to `:host` so the

[2021-08-10 22:15] #438 closed, assigned to claviska

[2021-08-10 22:16] #381 closed, assigned to claviska

[2021-08-11 00:56] mcjazzyfunky commented on #381
@claviska Great. Theming is much more flexible now. Thanks.
But I think it's not a good idea to drop the following tokens:
`--sl-color-primary-text`
`--sl-color-success-text`
`--sl-color-info-text`
`--sl-color-warning-text`
`--sl-color-danger-text`

and use `--sl-color-neutral-1000` instead.

With the new version it is almost impossible to create a good-looking contrast-rich theme as you cannot fl

[2021-08-11 18:55] carneloot commented on #328
Just an update. I was tinkering with your recommendation and manage to get a simple code completion working with the test version of the new web-types schema. Since it's a test version, and consequently not prod-ready, I don't think it's safe to add this to the build process.

With that said, there was a Q&A on the JetBrains subreddit where I asked about web-types and their plans for the future. T

[2021-08-12 20:58] rafael-rossini opened #500 "Add a prefix and suffix to sl-select"
**Is your feature request related to a problem? Please describe.**
I would like to be able to put a prefix and sufix inside the sl-select component

**Describe the solution you'd like**
There should a prefix and suffix slot that the user could then use and style it as he sees fit

**Describe alternatives you've considered**
It is possible to create hacks and manipulate the DOM after the custom ele

[2021-08-12 21:39] claviska commented on #493
I'm not sure if `dismissable` is the right name for this since the tooltip is always dismissable via <kbd>Esc</kbd> for accessibility purposes. That might be a bit misleading.

This is fairly easy to achieve with a bit of code: https://codepen.io/claviska/pen/xxdBqYj?editors=1000

Can I ask what your use case for this is? I'm trying to understand if this should be a separate property or if it shou

[2021-08-12 22:03] claviska commented on #500
This makes sense for visual aids such as icons, but the use case demonstrated is an accessibility concern. The text should probably be a label or a placeholder so it's read by assistive devices, so I wouldn't want to encourage that sort of use.

This is a clean PR, otherwise. Thanks for adding examples to the docs!

Question — are the prefix/suffix styles derived from those in the [input's styles]

[2021-08-13 02:32] rafael-rossini commented on #500
Thanks for the tips @claviska.

About the question, yes I got the styles from there but forgot the `align-items: center`

About the use itself I see your point and changed the documentation, hope it helps:

![image](https://user-images.githubusercontent.com/68035369/129296790-1b24118d-2b04-4508-bc22-ddfdfb157652.png)

[2021-08-15 12:04] brgrz opened #502 "Named Svelte slots nested in Drawer do not work"
**Describe the bug**
Having trouble with Drawer not rendering content in named Svelte slots. It will render the content in default noname slot though.

**To Reproduce**
Please see the following REPL which clearly showcases the issue
https://svelte.dev/repl/9059b72b9e8b45148dddaa7fafd5ae10?version=3.42.1

**Expected behavior**
Content intended for named slots (in the above example slots "actions" a

[2021-08-16 13:14] claviska commented on #484
There was a [bit of discussion](https://github.com/shoelace-style/shoelace/discussions/405) about this over the weekend and, coming back to it, I'm not sure it _should_ be built into `<sl-select>`. Thinking out loud in previous comments, all the approaches felt pretty hacky and unintuitive.

I threw together a quick demo with minimal code that should give you what you're looking for using `<sl-dro

[2021-08-16 13:14] #484 closed, assigned to claviska

[2021-08-16 20:31] claviska commented on #500
Merged. Thanks for the PR!

[2021-08-16 20:31] #500 closed, assigned to claviska

[2021-08-16 21:19] claviska commented on #502
It looks like you're mapping Svelte slots to slots that [don't exist on the drawer](https://shoelace.style/components/drawer?id=slots). There is, however, a `footer` slot.

In your REPL, try changing this in `App.svelte`:

[code]

To this:

[code]

And this in `Drawer.svelte`:

[code]

To this:

[code]

Then you'll see the footer content appear as expected.

[2021-08-16 21:19] #502 closed, assigned to claviska

[2021-08-17 06:36] brgrz commented on #502
Yes I know that's the issue, SL drawer is hijacking my newly defined Svelte slots.

I'd like to use the drawer in a way to make a more custom drawer component for my needs.

Is this kind of composition impossible?

[2021-08-17 12:01] mcjazzyfunky commented on #419
Actually, there's also a way to avoid custom elements like `sl-i18n` or `sl-locale` completely and implement the `lang` attribute support a bit more like @prantlf has originally proposed. I haven't seen this possibility in the past.

If you use the following mutation observer you can observe `lang` attribute changes on the whole document (but only in the light DOM!!!):

[code]

When a localized co

[2021-08-17 12:34] claviska commented on #502
I see what you were originally asking. It's probably confusing because there are two layers of slotting with the same syntax. Svelte is passing its own slots through as-is, so they render in the DOM like this:

[code]

The browser understands that `sl-drawer` is a custom element, so it "swallows" the slots that it doesn't recognizes by not rendering them. They are in the DOM, though. This isn't Sh

[2021-08-18 12:41] claviska commented on #381
These were temporarily removed. Additional design tokens are being added back before this goes out, and something to account for these will be available.

[2021-08-18 17:04] MerlinB opened #503 "Alert .toast() breaks Svelte components"
This happens because the alert gets moved out of its position in the DOM leading to `TypeError: Cannot read property 'removeChild' of null` in Svelte when the parent component is destroyed. See https://github.com/sveltejs/svelte/issues/6037.

[2021-08-18 19:24] claviska commented on #503
This is by design and described [in the docs](https://shoelace.style/components/alert?id=toast-notifications):

Moving the element is necessary to ensure "toast elements" render properly in the toast stack. Without this, the library would be responsible for messy positioning logic and susceptible to z-indexing conflicts (depending on the location of the alert in the DOM). Furthermore, consumers wo

[2021-08-18 19:24] #503 closed, assigned to claviska

[2021-08-19 20:31] gtyamamoto opened #504 "sl-select is not allowing the user to trigger Ctrl/Command + key when it has focus on .select__box element"
**Describe the bug**
When a sl-select is focused ( the element .select__box to be more specific), it is not possible to trigger Ctrl/Command + key command like refresh commands ( Ctrl + R).

**To Reproduce**
Steps to reproduce the behavior:
1. should have a sl-select on the page (e.g the documentation for select)
2. Click on the sl-select element, it should open the menu with sl-menu-item's
3. cli

[2021-08-20 13:41] #504 closed, assigned to claviska

[2021-08-20 13:56] claviska commented on #504
Thanks for the PR! This is going out shortly with 2.0.0-beta.48.

[2021-08-20 16:37] gtyamamoto opened #506 "ability to customize size(font size) of sl-menu-item"
**Is your feature request related to a problem? Please describe.**
It is not a really major concern but the size of the option of a sl-select is not able to follow the sl-select size attribute. It is possible by customizing the font-size--normal css var to a lower value, but it might be more flexible to allow the options from select follow the size parameter on sl-select

**Describe the solution y

[2021-08-20 18:10] claviska commented on #506
I don't think I like adding a `size` property to `sl-menu-item`. It's quite verbose, as it has to be repeated on every item. In other components, `size` is indicative of the overall measurement of the component (buttons, inputs, tags, etc.). In #507, it's only indicative of the font size. Granted, the menu item's height will vary based on its content, but this can be achieved with a few lines of C

[2021-08-20 18:13] claviska commented on #506
For your `<sl-select>` use case:

[code]

https://codepen.io/claviska/pen/bGWXJJm?editors=1100

[2021-08-20 18:19] gtyamamoto commented on #506
oh my bad @claviska  I didn't know about the ::part pseudo-element lol It really makes a lot verbose and error prone to forget a size attribute in a `sl-menu-item`. Anyways thanks for sharing the code! I will close de PR and the issue!

[2021-08-20 18:19] #506 closed, assigned to claviska

[2021-08-20 18:21] claviska commented on #506
No worries...here's [some additional reading](https://shoelace.style/getting-started/customizing?id=component-parts) in case you want to learn more about targeting specific parts.

Cheers

[2021-08-21 01:08] claviska commented on #438
This has landed in today’s release. Thanks for the suggestion!

[2021-08-21 01:09] claviska commented on #437
The changes requested here were applied in beta.48 which was released today.

[2021-08-21 22:53] hanc2006 commented on #113
Hi @claviska,
I created an experimental version of the carousel component trying to take advantage of all the native browser features such as CSS animation, scroll-snap, flex alignment.

The carousel component works without using a line of JavaScript code. Currently, the JavaScript code manage the scrolling of slides in a desktop environment, and the component itself.

- [x] Support display multip

[2021-08-22 15:34] ajmchambers opened #508 "<sl-input type="password"> and edge's built-in reveal button"
**Describe the bug**
Edges built-in password reveal icon is displayed on `<sl-input type="password">` in edge, also if using the `toggle-password` attribute you will end up with both icons displayed.

**Expected behavior**
Might be best to always disable edge's reveal icon and rely on the `toggle-password` attribute like on other browsers.

Alternatively, the `toggle-password` could be used to ena

[2021-08-23 13:14] claviska commented on #508
Thanks for reporting this. It seems to only happen on Windows, as Edge for Mac doesn't show a toggle. I've opted to hide the system one for a consistent DX.

[2021-08-23 13:17] #508 closed, assigned to claviska

[2021-08-24 03:55] JacobWeinbren opened #510 "Make code-block.js a public Library"
For docsify there is nothing like your code-block renderer for codepen. It seems very effective at its purpose and I am looking for a method to render lit-html elements within the documentation. Is there any chance you will make it publicly available for use? What is the licensing for such code?

I would even be happy to write the code and post it to NPM JS. Would you be happy for me to base such

[2021-08-24 11:58] claviska commented on #510
Eventually, I'd like to split that out and make it a standalone custom element so it can be used in more than just Docsify. However, I have other priorities at the moment.

You're welcome to split out the current plugin, as it falls under the MIT license like the rest of the source.

[2021-08-24 11:58] #510 closed, assigned to claviska

[2021-08-24 12:32] claviska commented on #493
Closing due to inactivity and because a solution was provided. I'm happy to discuss this further if you feel strongly that this should be built into the library.

[2021-08-24 12:32] #493 closed, assigned to claviska

[2021-08-24 12:34] claviska commented on #417
I'm closing this since you can do it in userland as demonstrated in the fiddle. I don't think I want to bake this in.

[2021-08-24 12:34] #417 closed, assigned to claviska

[2021-08-24 12:36] claviska commented on #328
Awesome. I'm going to close this since they'll be adding it in 2021.3. No need for a separate data file if they support `custom-elements.json` out of the box!

[2021-08-24 12:36] #328 closed, assigned to claviska

[2021-08-24 12:38] claviska commented on #139
I'm closing this since it's been over a year with no upvotes. I need to focus on i18n and some much requested components for the time being.

[2021-08-24 12:38] #139 closed, assigned to claviska

[2021-08-24 18:52] oliveratgithub opened #511 "img under sl-responsive-media with property fit="contain" is always fit="cover""
**Describe the bug**
I'm dynamically creating an `<img>`-slot within `sl-responsive-media` and setting the property `fit=contain`. However, the resulting img-slot always uses `fit=cover`:

[code]

**To Reproduce**
[code]

**Expected behavior**
When specifying `fit=contain` property on an `<img>`-slot within `sl-responsive-media`, it should use the CSS property `object-fit: contain !important;`.

*

[2021-08-24 19:16] oliveratgithub commented on #511
Nevermind – was wrongly applying the property on the `<img>`-childElement INSTEAD of the **parent** `<sl-responsive-media>`…

[2021-08-24 19:16] #511 closed, assigned to claviska

[2021-08-25 01:54] JacobWeinbren commented on #510
@claviska Thank you for your approval. I made it! This is my first package and I would be really glad to hear what you think. https://github.com/JacobWeinbren/docsify-demo

[2021-08-25 12:54] claviska commented on #510
Nice, congrats! Consider submitting it to this repo for discoverability: https://github.com/docsifyjs/awesome-docsify

[2021-08-28 19:41] sidharthramesh opened #514 "sl-input errors out when value=undefined"
**Describe the bug**
When the value of sl-input is undefined, it throws an error and the input does not get rendered on the page.

**To Reproduce**
Steps to reproduce the behavior:
Use a framework like svelte, or angular and set the value of sl-input to undefined.

**Expected behavior**
Handle it more gracefully

I have provided a PR: #513

[2021-08-30 09:50] mcjazzyfunky opened #515 "Fine-tuning of component styles in dark mode"
The new theme concept is great. If you switch from light theme to dark theme most components look also great in dark mode out of the box. But "most components" does not necessarily mean "all components".
For some components it would be great if you could modify some styles in dark theme (for example you want a drop shadow in light mode but not in dark mode or making some colors a bit brighter in d

[2021-08-30 12:25] #514 closed, assigned to claviska

[2021-09-01 14:37] mcjazzyfunky commented on #515
I'll close this issue for now. I do not like at least 50% of the above proposal 😞. Maybe I'll open a new issue for this problem as soon as I know a better solution.

[2021-09-01 14:37] #515 closed, assigned to claviska

[2021-09-02 01:30] dyoder opened #517 "Support For Import Maps"
**Is your feature request related to a problem? Please describe.**

I'm interested in using Shoelace, but on a project where we're using ESM instead of bundling or raw script loading. I'd like to be able to import specific components from Shoelace as needed directly in the browser.

**Describe the solution you'd like**

I'd like to be able to import specific components from Shoelace as needed dire

[2021-09-02 01:34] claviska commented on #517
Shoelace only ships ESM and what you’re asking for is already possible. The main examples shows an everything “bundle,” but you can [cherry pick individual components](https://shoelace.style/getting-started/installation?id=cherry-picking) as well.

[2021-09-02 01:40] dyoder commented on #517
I saw that, but the need for the data attribute is problematic. I want to load it from within the application code, not as a standalone script. Does that make sense?

Ex:

[code]

[2021-09-02 01:44] dyoder commented on #517
Also, there are no subpath exports in the `package.json` so no way to generate import maps automatically using a tool like JSPM. We could, of course, write one manually, but we'd have to update it for each new component. We could just import from the URL, but, ideally we'd like to use import maps and just import components using their logical paths.

[2021-09-02 01:51] claviska commented on #517
The data attribute is an optional mechanism for convenience that sets the base path. There’s an imperative method as well.

https://shoelace.style/getting-started/installation?id=setting-the-base-path

Can the tooling follow standard imports? If not, it seems contrary to ask for a standard feature as well as a nonstandard feature (what you’re asking for is more of a Node thing, I think).

I tend t

[2021-09-02 02:50] dyoder commented on #517
First, thank you for your prompt and thoughtful responses.

Second, I understand the hesitation. Import maps are indeed relatively new. FWIW, they are supported on browsers besides Chrome, via polyfill, and our hope is that they'll be supported natively across all browsers relatively soon. As far as subpath imports, you are again correct in saying that's a Node feature. But then again, so is NPM.

[2021-09-02 14:37] claviska commented on #517
Same here!

The base path is only [currently] used for `<sl-icon>`, as the default icon library is shipped as a folder of SVGs. However, the base path utility was established so that components could, in the future, use additional assets such as icons, images, or whatever will come.

The default icon library contains > 1,000 SVGs. I'd prefer not to ship each icon as a separate module (even with es

[2021-09-02 21:05] dyoder commented on #517
As you say, iconography is a tricky problem, and Shoelace provides as good an answer as you could hope to find. :) The fact that I can customize the loading is really helpful.

So, really, in the end, I guess what I'm asking for is support for import maps. The ticket is misnamed since Shoelace already supports ESM. I can load the components from my application JavaScript and configure it to use my

[2021-09-02 23:47] claviska commented on #517
I'd be open to a PR that provides import maps should you get around to it.

Cheers!

[2021-09-03 11:53] Mateozmaldonado17 opened #518 "I am looking forward to Navbar and Stepper components"
Hello everyone, I hope you are having an excellent day, after several attempts to use other libraries, I am currently in a personal project and since this has met many of my expectations, I would like to use it in my personal project, I would like to know if is there any estimated date for the navbar and stepper component, they are the only two I need.

I would like not to sound pretentious, I wou

[2021-09-03 11:57] claviska commented on #518
Hi there!

Stepper has a request open already: #112. You can vote for it using the 👍  or 👎 reactions.

I don't think we'll see a navbar (see [this](https://github.com/shoelace-style/shoelace/issues/17#issuecomment-320250093) and [this](https://github.com/shoelace-style/shoelace/issues/190)) but possibly a toolbar. You can subscribe to #190 for notifications.

Closing this as a question, since both

[2021-09-03 11:57] #518 closed, assigned to claviska

[2021-09-03 12:03] Mateozmaldonado17 commented on #518
HEEY, I think you are absolutely right and I fully understand your philosophy, bootstrap-like take away the level of creativity from the developer, look, not finding a navbar in this library I was already looking for ways to create something very similar to AirBnB style.

I think I understood you perfectly, I'll wait for the stepper.

[2021-09-09 14:55] mcjazzyfunky opened #520 "Next level abstraction for design tokens"
As already mentioned a couple of weeks ago in some other issue's comment section, the following former design tokens have been removed for new theme concept:

[code]

... and have been "replaced" by `--sl-color-neutral-0`.

Tokens like that are necessary for providing high-contrast themes.

@claviska You've mentioned:

I've opened this issue so this can be tracked.

---

Also questions regarding t

[2021-09-09 19:51] claviska commented on #520
You're very observant. I was going to add these back in but decided to hold off. There's a "next layer" of design token abstraction that needs to happen, and this ties in with that.

The challenge is in balancing the abstractions. Too low level, you end up hard coding primitives. Too high level, you end up making the system less reusable and harder to learn.

I spoke with @justinfagnani recently a

[2021-09-09 19:54] claviska commented on #520
As [mentioned in the docs](https://shoelace.style/tokens/color?id=primitives), the primitives for the light theme are derived from Tailwind's open source color palette. The dark theme uses an inverted color scale where luminance is shifted to avoid pure black. [Read more about that here.](https://shoelace.style/getting-started/themes?id=dark-theme)

[2021-09-10 06:28] bennypowers opened #521 "Short CDN URLs"
**Is your feature request related to a problem? Please describe.**
cdn urls are long

**Describe the solution you'd like**
[code]
**Describe alternatives you've considered**
Maybe the CDNs should provide their own short urls? Maybe this isn't really a problem?

[2021-09-10 07:24] brgrz commented on #467
Just a note: I would highly recommend NOT to do date/calendaring logic yourself. Would it be possible to do it in a way a developer has an option to choose date provider? The way Angular Material does this with their components, you bring in a [Angular Date Moment/Luxon adapter/provider](https://material.angular.io/components/datepicker/overview#choosing-a-date-implementation-and-date-format-setti

[2021-09-10 11:47] claviska commented on #521
It would have to be this, as I don't have any interest in maintaining a CDN of my own again. If a major CDN wanted to sponsor the project by providing infrastructure, I'd be happy to point `cdn.shoelace.style` to it so we could have something a bit shorter:

[code]

Not sure if people would trust the `shoelace.style` domain over a widely used public one though.

[2021-09-10 11:53] bennypowers commented on #521
All good points.

Re: infra, I'm thinking you could set up a redirect-to-path easily enough with some cloud provider like az front door or what not, assuming it's sponsored.

This (I hope it's obvious) isn't a high priority, so feel free to close if it's not on your docket.

[2021-09-10 12:00] claviska commented on #467
This is a word from the wise, and it's a large part of why I'm reluctant to accept date logic without understanding it's full origin. Entire teams, nay, communities, attempt to write date libraries and, due to the complexity of date math, time zones, and everything else that comes with date/time logic, it seems like a moving target and a nightmare full of maintenance burdens stemming from edge cas

[2021-09-10 12:23] brgrz commented on #467
TBH I only did a bit of comparison, mostly syntax and quickly decided I wanted to go with Luxon but there are size concerns yes
https://github.com/moment/luxon/issues/854 and docs do not specifically mention treeshaking.

In one of the angular apps I just migrated from Moment to Luxon I got about 500kb in savings (that's just bc Moment is so huge) but still Luxon is not the smallest possible choic

[2021-09-10 13:51] jimaek commented on #521
The current jsDelivr CDN URL can also be shortened. e.g. to `https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.51` or even `https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2`

You would need to set a default file parameter in package.json. Probably `"jsdelivr":"dist/shoelace.js"` https://github.com/jsdelivr/jsdelivr#configuring-a-default-file-in-packagejson

[2021-09-10 13:57] claviska commented on #521
This is the base I'm using now. I'd like to start moving away from the `shoelace.js` import since it will load the entire library. It's easy and useful for certain purposes, but at the same it may be encouraging users to lazily load way more than they need to.

This will be fine after the beta period ends but, until there's a stable release, I advise all users to pin to a specific beta release so

[2021-09-10 14:20] MartinKolarik commented on #521
Note that for ESM JS we also have a super short dedicated domain, which also performs bundling: https://esm.run/@shoelace-style/shoelace. It won't work for the CSS though and adds an additional redirect.

[2021-09-10 14:26] claviska commented on #521
@MartinKolarik Thanks for the input. Are there any plans for a premium feature so we can use a custom domain?

Something that maps from this to this, preferably without a redirect.

[code]

My thought is a lot of popular projects probably can't afford (financially or technically) to host their own CDN, but they could afford a yearly subscription to cloak a custom domain.

[2021-09-10 14:39] MartinKolarik commented on #521
Unfortunately, custom domains would complicate the setup significantly, that's why esm.run is based on redirects as well.

[2021-09-10 14:44] claviska commented on #521
@bennypowers will import maps help with this when used inside `<script>`? That plus the beta tag going away will be a little nicer.

[code]

[2021-09-11 01:52] mcjazzyfunky commented on #520
So that means that  [Shoelace's dark theme](https://github.com/shoelace-style/shoelace/blob/next/src/themes/dark.styles.ts) is 100% calculated on base of [its light theme](https://github.com/shoelace-style/shoelace/blob/next/src/themes/light.styles.ts) (meaning: `darkThemeTokens = f(lightThemeTokens)`), correct?

Also, I am interested, if you have any insights whether the quality of the themes wou

[2021-09-11 13:59] claviska commented on #520
Not exactly. First, the color scales were reversed: 100 <==> 900, 200 <==> 800, 300 <==> 700, etc. Next, the luminance was shifted by a small percentage and manually adjusted so the scale for all palettes remain [perceptually uniform](https://lea.verou.me/2020/04/lch-colors-in-css-what-why-and-how/#2-lch-and-lab-is-perceptually-uniform).

The results of a pure mathematical approach won't be as goo

[2021-09-11 14:30] brgrz opened #522 "Outlined buttons variations"
**Is your feature request related to a problem? Please describe.**
Please provide outline variations for colored buttons

**Describe the solution you'd like**
Have a property `outline` work in a similar way the `pill` property works

**Describe alternatives you've considered**
Link buttons look similar but require `href` attribute to be specified

[2021-09-11 17:09] bennypowers commented on #521
yeah import maps would help a lot. not sure if that applies to the stylesheets though 🤔

[2021-09-12 08:24] mcjazzyfunky opened #523 "<sl-tab> not using border radius token"
I guess, this line here https://github.com/shoelace-style/shoelace/blob/d8644c940bd7b24ce7ec839e6af5f8d7b950e4cd/src/components/tab/tab.styles.ts#L18

should be
[code]

Looks a bit odd if you use a custom theme which prevents border-radius wherever reasonable, but still on the tabs you see a border radius of 4px.

[Edit] ... and this line here

 https://github.com/shoelace-style/shoelace/blob/d864

[2021-09-12 23:58] #523 closed, assigned to claviska

[2021-09-13 09:27] staabm opened #524 "improve hover tooltip usability/accessibility"
**Is your feature request related to a problem? Please describe.**
a tooltip which gets visible by hovering a element within the page immediately hides after stopping hover.

in case the tooltip contains a html-link the user cannot move the mouse from the trigger element onto the hover, because he is moving across surface which is not part of the hover and therefore the tooltip hides. the link is

[2021-09-13 11:55] claviska commented on #524
Tooltips are generally not great for accessibility (see #219), although they do serve a purpose for some users. I've updated the docs to reflect the intended usage:

I think what you're looking for is a popover (#104). They work similarly, but have different behaviors than tooltips.

[2021-09-15 04:29] songhn233 opened #525 "Better tree shaking usage"
**Is your feature request related to a problem? Please describe.**

Reference to #180, Most bundle tools will not tree shaking correctly due to `class extends` may create side effect.

And at the end of the issue, the solution is given

[code]

However, the way it is introduced has changed and I have not found any discussion of it.

Since the decorator `@customElement()` is now used, the import wi

[2021-09-15 13:21] claviska commented on #525
Not when using Lit's `@customElement` decorator. Auto-registration is the recommended approach for both Lit and FAST Element and I'd prefer to stick to that recommendation.

It's worth mentioning that this issue is described in the docs under [Cherry Picking](https://shoelace.style/getting-started/installation?id=cherry-picking), and cherry picking remains the recommended approach for minimal file

[2021-09-19 02:45] jaredcwhite opened #528 "Some Remix icons are getting a 404 because of line/fill suffix problem"
Some of the icons in the Remix library don't use the -line/-fill suffix. For example, this will result in a 404:

[code]

because there's no `hashtag-line.svg`, just `hashtag.svg`. The issue lies in the example code from the docs:

[code]

It forces the `-line` suffix at the end if no other suffix is supplied. I'm going to change my code so it doesn't add any suffix, and I'll just have to choose e

[2021-09-20 14:41] #528 closed, assigned to claviska

[2021-09-20 14:42] claviska commented on #528
Thanks. Looks like we'll need to remove the suffix and let the user handle that. I wish they were categorized more consistently.

[2021-09-20 14:43] claviska commented on #524
Closing this in favor of #104. I recommend subscribing to that issue for notifications.

[2021-09-20 14:43] #524 closed, assigned to claviska

[2021-09-20 17:42] jaredcwhite commented on #528
Yeah, it's sort of a bummer but I was able to rework my project in fairly short order.

[2021-09-20 19:34] brgrz opened #531 "Introduce header or subheader slot to drawer component"
**Is your feature request related to a problem? Please describe.**

I use drawers for mobile offcanvas edit modes and I'd like to put Cancel and Save/Update buttons into drawer header so that they stay fixed at the top while the drawer content is vertically scrollable (if content overflows).

**Describe the solution you'd like**
Drawer currently does not have the header slot only the header label

[2021-09-20 20:28] brgrz commented on #531
Just did this in a very simple and straightforward way which works fine for me but I'm not sure whether you will like it too. I didn't want to overthink/overengineer this. Hopefully you'll like it and this gets merged.

https://github.com/shoelace-style/shoelace/pull/532

[2021-09-21 09:39] capsular opened #534 "Unhandled Promise Rejection"
**Describe the bug**
Testing my Website on my iPhone 6 with iOS 12.5.4 or with my Simulator (iPhone 6, 8, X, 11) I always get the following error message:
Unhandled Promise Rejection: TypeError: t.getAnimations is not a function. (In 't.getAnimations()', 't.getAnimations' is undefined)
The Website ist still showing up, but with improperly styled/animated components. I use sl-drawer and sl-details

[2021-09-21 12:53] claviska commented on #534
`Element.getAnimations()` was first introduced [in Safari 13.1](https://caniuse.com/mdn-api_element_getanimations). iOS 12 is three versions behind current and Safari is at least three versions behind as well. Per the [browser support policy](https://shoelace.style/?id=browser-support), I'm closing this as a wontfix.

If somebody wants to submit a clean patch, I'll entertain a PR. However, at a gl

[2021-09-21 12:53] #534 closed, assigned to claviska

[2021-09-21 13:18] claviska commented on #531
The sections in drawer use flexbox so they can be reordered. Does this solve for your use case?

[code]

https://codepen.io/claviska/pen/ExXRPZR?editors=1100

[2021-09-21 13:24] brgrz commented on #531
Never thought of that. 😉 It does solve it at the moment but I think I will need the footer at bottom also in the future.

[2021-09-21 13:37] claviska commented on #531
Custom layouts are possible too: https://codepen.io/claviska/pen/LYLrNWp?editors=1100

Tip: you can add `no-header` to the drawer to get full control over its content.

[2021-09-21 17:32] brgrz commented on #531
😮😮

Would you believe me I tried this already but just couldn't make custom header fixed and custom content scrollable? It turns out that I was missing the `height: 100%` rule 🤷🏻‍♂️

[2021-09-21 17:32] #531 closed, assigned to claviska

[2021-09-23 01:06] KonnorRogers opened #536 "URL Encode Form Data"
**Is your feature request related to a problem? Please describe.**

Sl-forms dont really support the idea of File uploads, should we offer a URLEncoded version of FormData to reduce payload?

**Describe the solution you'd like**

in addition to providing formData, Shoelace provides a urlEncodedFormData

**Describe alternatives you've considered**

Have the user urlEncode formData.

**Additional co

[2021-09-23 01:11] claviska commented on #536
Makes sense. I’m open to it if it’s not too heavy.

[2021-09-23 01:12] claviska commented on #536
Even better, I’d like to get sl-form to work more like a regular form. That is, support action and method, but still emit a custom event too.

I believe this logic would still be required for that.

[2021-09-23 05:35] mcjazzyfunky commented on #515
Note to self:
Something like this may be useful (while being a bit odd), have to test in real-world first.

[code]

Demo:
https://jsbin.com/saxopikuku/4/edit?html,css,output

[2021-09-23 11:44] brgrz opened #537 "Tooltips on buttons stay over the opened drawer"
**Describe the bug**

When there's a tooltip on a button that opens drawer and you wait with hover for tooltip to appear then click the button to open the drawer tooltip will stay over (in front of) the opened drawer.

**To Reproduce**

I tried to replicate this in Codepen or JSFiddle but couldn't because it didn't manifest. But it does manifest in standalone app.
Please see the attached screensho

[2021-09-23 13:04] claviska commented on #537
To alleviate this in your app, you can call `tooltip.hide()` when the drawer opens.

Unfortunately, without a repro there's not much I can do to troubleshoot this. Are you using the `trigger` or other tooltip props? What does the DOM look like? There are too many variables to guess at it.

[2021-09-23 15:06] neischlah opened #538 "`sl-select`: Improve CSS customization"
Hi there! I'm having trouble customizing the `sl-select` element.

https://jsfiddle.net/n95jmubq/6/

1. I need to address the dropdown's trigger element explicitly to do a fancy hover animation.
2. As I removed all focus rings, the dropdown offset is a bit... off. If it's too complicated to make it dependent on the focus ring size, having it customizable would be awesome.

Thank you for your time!

[2021-09-23 21:35] MathiasWP opened #539 "Tree-view component"
The only component I am missing from the shoelace library is one that makes it possible to make nested, expandable trees.
I've added a screenshot for reference.

<img src="https://user-images.githubusercontent.com/13071055/70174134-34c6dd00-1689-11ea-8e38-94c43ffced7b.png" />

I would love to see this become a part of the shoelace library, as it has become our go-to library in our startup company!

[2021-09-24 12:21] claviska commented on #539
Inspiration:

- https://element.eleme.io/#/en-US/component/tree
- https://ant.design/components/tree/

[2021-09-24 12:50] claviska commented on #538
The dropdown is used internally by `<sl-select>`, so you won't be able to target the `trigger` part because it's only exposed on the dropdown. That said, I've added a `control` part in 8c3888da02c23847cf26f12bc9eacf40871f7bf5 so you can target it from the select like this:

[code]

The distance is configurable in `<sl-dropdown>` and it was harded coded to `2`. It probably should have been `0` all

[2021-09-24 12:50] #538 closed, assigned to claviska

[2021-09-24 13:10] MathiasWP commented on #539
More inspiration:
- https://explore.fast.design/components/fast-tree-view

For me there is a great difference in performance when there is no animation on the expand/collapse action. Is this something to take into consideration? @claviska

[2021-09-24 13:32] claviska commented on #539
It's should definitely be supported out of the box, but it also needs to be customizable. This will done through the same [Animation Registry](https://shoelace.style/getting-started/customizing?id=animations) that other components use.

I think a fast, subtle default is likely. The ones from Ant and Element are too slow, IMO. Animation is something you typically set once for all components, so aft

[2021-09-24 20:40] #522 closed, assigned to claviska

[2021-09-24 20:41] claviska commented on #522
Added in 1a08f063a6cd186855f27788edb088bae731fbfb. This will be available in the next beta release.

<img width="872" alt="CleanShot 2021-09-24 at 16 40 19@2x" src="https://user-images.githubusercontent.com/55639/134737160-c6c4631c-4ebf-4f99-88ad-1962cf3522bf.png">

[2021-09-25 11:10] MathiasWP commented on #539
Can you estimate (if possible) how long time it will take take until a component like this will be added into the library, @claviska?

[2021-09-27 02:09] felix9 opened #542 "page styling"
Shoelace is great, but there doesn't seem to be an easy/obvious way to say "style the whole page to match shoelace".

What I did was copy the `body{}` declaration from https://shoelace.style/, but it's not clear to me if any of the css is necessary or sufficient.

Maybe the docs should give guidance on this somewhere in the Usage section?

Maybe there could be a class that I can attach to `<html>`

[2021-09-27 03:42] claviska commented on #542
Duplicate of #413. Please follow that issue to track this planned feature’s progress.

[2021-09-27 03:42] #542 closed, assigned to claviska

[2021-09-27 03:44] claviska commented on #539
I cannot. There are a few things on my plate before I can reach for new components and the amount of time I have varies each week.

[2021-09-27 23:19] Mateozmaldonado17 opened #543 "Checked sl-menu-item not working"
### What issue are you having?
When I try to leave selected organically (Discarding JS), dynamically placing the checked in a menu-item, it doesn't work, doing it through javascript is complex.

### Describe the solution you'd like
That there is a way to implement a 'checked' in an easier way, without having to leave a script that sets the value.

[2021-09-27 23:26] Mateozmaldonado17 opened #544 "Select Component does not work correctly on mobile devices and in certain cases it does not display well on desktop."
### Describe the bug
When I click on a select this on a cell phone / desktop it completely exits the screen and does not have a defined overflow, also on a cell phone it does not show the NATIVE List.

### To Reproduce
Steps to reproduce the behavior:

1. Create some native component and put many menu-items on it.
2. Open it from a computer and check that its height goes off the screen.
3. Open it

[2021-09-27 23:32] claviska commented on #543
Hi, I’m not sure I understand you completely. Are you saying the `checked` attribute isn’t working? Can you post some sample code showing what you’ve tried?

[2021-09-27 23:44] Mateozmaldonado17 commented on #543
<img width="539" alt="Screen Shot 2021-09-27 at 6 42 48 PM" src="https://user-images.githubusercontent.com/5784157/134999722-9be727ba-bcf9-43f3-a659-770031d642e7.png">

Can you see?, when i type
`<sl-menu-item checked selected value="aadsasd">sdsds</sl-menu-item>`

this not working ...

![Screen Shot 2021-09-27 at 6 43 59 PM](https://user-images.githubusercontent.com/5784157/134999846-8d2a7d6c-
c0

[2021-09-27 23:45] Mateozmaldonado17 commented on #543
![Screen Shot 2021-09-27 at 6 43 59 PM](https://user-images.githubusercontent.com/5784157/134999911-98e5ddaa-37ae-4e01-aebe-85a5379c42e8.png)

[2021-09-28 00:05] claviska commented on #543
It looks like the menu items are in the context of a [select](https://shoelace.style/components/select) control, so they're "managed" by the select. As such, you don't need to do anything other than set the `value` of the select control to the value of the target menu item.

This should do the trick:

[code]

I should probably make a note of this in the select docs to clarify.

[2021-09-28 01:14] Mateozmaldonado17 commented on #543
Oh, thanks bro, yes, we need this info in docs.

[2021-09-28 01:14] #543 closed, assigned to claviska

[2021-09-28 12:22] #544 closed, assigned to claviska

[2021-09-28 12:26] claviska commented on #544
Good catch. I'm surprised this hasn't come up before.

This is by design. Select controls allow for rich content in menu items (e.g. prefixes, suffixes, arbitrary HTML, etc.) so showing a system control on certain devices won't always convey the same information to the user.

However, you can still use `<select>` should you prefer that functionality.

[2021-09-28 14:16] Mateozmaldonado17 opened #545 "HTML Inputs and sl-form don't work fine with native features"
### Describe the bug
Hello, I have had some doubts about the functioning of the components, this customization process (I think) cannot make them lose their native behavior or the default functions of the browser for specific components.

If I try to make a `<sl-input type="password">` suggest passwords with the `autocomplete="new-password"` attribute, it won't work.

Also with `<sl-form>` it beco

[2021-09-28 14:23] Mateozmaldonado17 commented on #544
Buddy and how do I get the same shoelance design?

[2021-09-28 14:54] claviska commented on #544
You can use the design tokens to write custom styles that will stay consistent with your theme.

https://codepen.io/claviska/pen/WNOLLWm?editors=0100

[2021-09-28 17:58] nsisodiya opened #546 "Remove `lit-html`"
I see lots of code where lit-html is being used like this
[code]
But, AFAIK, these things are there in lit package too.  like

[code]
Am I missing something?

[2021-09-28 18:01] claviska commented on #546
Good observation. Those are leftover since before Lit 2 and it's on my internal backlog to update the imports. I can probably get to it later this week unless you're interested in submitting a PR.

[2021-09-28 18:07] nsisodiya commented on #546
@claviska let me make a PR.

[2021-09-28 18:25] nsisodiya commented on #546
@claviska - plz let me know if something missing - https://github.com/shoelace-style/shoelace/pull/547 I am doing the first time on this repo so I might miss something.
`npm run test` was successful after my changes.

[2021-09-29 05:02] nsisodiya opened #548 "Progressbar enhancement"
I wrote this progress bar almost 7 years ago using web components. http://pitana.github.io/pt-progressbar , I contributed the same progress bar to mozBrick project too. - https://github.com/mozbrick/brick-progressbar
It has more features and attributes compare to https://shoelace.style/components/progress-bar

@claviska you can diff the attribute and let me know what attributes you want to add. fo

[2021-09-29 05:15] nsisodiya commented on #546
@claviska - may you do a PR review.

[2021-09-29 12:40] claviska commented on #546
Fixed in #547. Thanks for the PR!

[2021-09-29 12:40] #546 closed, assigned to claviska

[2021-09-29 13:32] claviska commented on #548
Cool, thanks for offering this up. Here are the differences I see, and I'll provide thoughts for each:

Stripes: I don't see a big advantage to offering stripes (they feel pretty legacy these days), but it's something [you can do with custom styles](https://codepen.io/claviska/pen/mdwvXqG?editors=0100) if you want.

Types/variants: these can be customized the with `--indicator-color` as shown in t

[2021-09-29 13:38] claviska commented on #545
I believe this is related to [this Chromium bug](https://bugs.chromium.org/p/chromium/issues/detail?id=649162) which has had a patch applied that's currently under the `--enable-blink-features=AutofillShadowDOM` flag.

[From this comment:](https://bugs.chromium.org/p/chromium/issues/detail?id=649162#c27)

It should be present on stable chrome by now. Can anyone try it out and let me know if it fix

[2021-09-29 13:38] #545 closed, assigned to claviska

[2021-09-29 19:13] nsisodiya opened #549 "Documentation may need to update on node version"
https://github.com/shoelace-style/shoelace/blob/next/README.md#shoemakers-
Docs says
[code]
but ideally, it should be `> 15.0` (especially for the development).
node >15.0 has npm7 version. This project uses lock-file version 2 in package-lock.json.

[2021-09-29 21:03] #549 closed, assigned to claviska

[2021-09-29 21:05] claviska commented on #549
Good catch. I've updated the docs to say 14 since it's LTS. Node 12 is _probably_ OK but I've been using 14 with npm 7. It looks like npm 6 works as well, although 7 is preferred so I've made a note of that as well.

[2021-09-30 07:06] timefordroids opened #550 "Range enhancement"
In common cases we need to style range input to represent values lower than the value currently selected by the thumb.

The following solution helps to represent the lower portion of the track:

**Chrome/Safari/Edge:** hide the overflow from input[range], and fill all the space left to thumb with shadow color.
**Firefox:** use ::-moz-range-progress pseudo-element.

[2021-09-30 11:52] #550 closed, assigned to claviska

[2021-09-30 13:18] claviska commented on #548
After thinking about this more and implementing it locally, the `min` and `max` props make this component feel complicated. It's pretty simple to convert an arbitrary range to a percentage, so I'll pass on this one.

[2021-09-30 13:18] #548 closed, assigned to claviska

[2021-10-03 20:16] Mateozmaldonado17 opened #554 "Don't show "left" and "right" scroll button in Tab Group"
### Describe the bug
When I import <sl-tab-group> and place it on my page the horizontal scroll does not work, it looks as if the component is not responsive.

![Screen Shot 2021-10-03 at 2 23 52 PM](https://user-images.githubusercontent.com/5784157/135770096-1e3b51a8-eda0-4531-b249-5c45cfd5b349.png)

[2021-10-03 20:33] claviska commented on #554
This is working as expected in the latest version: https://shoelace.style/components/tab-group?id=scrolling-tabs

I’ll need to see some code to troubleshoot this, preferably a CodePen with a minimal repro.

[2021-10-03 20:40] Mateozmaldonado17 commented on #554
I was reviewing and if you put this component inside a display: flex scrolling does not work

[2021-10-03 20:40] Mateozmaldonado17 commented on #554
https://codepen.io/mateozmaldonado17/pen/BaZeWqQ

[2021-10-04 12:06] claviska commented on #554
In this example, the scroll arrows aren't showing because the screen is wide enough that they don't need to show. (They only show when scrolling is possible.)

Wrapping a fixed width container around it demonstrates this:

[code]

Result:

<img width="314" alt="CleanShot 2021-10-04 at 08 05 05@2x" src="https://user-images.githubusercontent.com/55639/135848358-4b190ac3-1bc9-4472-86d5-b03c3b409b56.p

[2021-10-04 12:06] #554 closed, assigned to claviska

[2021-10-05 13:02] smndhm commented on #219
Hello, I've been trying the tooltip with NVDA screen reader (updated) and it still does not work for me, it only read the element content.
If I press the down I'll have it but it's because it's the next element in the DOM.
Could it be because of the shadowdow with slot ?

[2021-10-05 13:06] claviska commented on #219
I'm unfortunately not able to test on NVDA at the moment, so contributions are welcome to help make tooltips perform better with it.

[2021-10-05 17:15] trailsnail commented on #537
@brgrz Please provide more information. This could be a task for "hacktoberfest"

[2021-10-05 17:42] trailsnail commented on #296
@claviska
Some of the pending tests are already implemented and can be "checked".
Found `*.test.ts` in
- avatar
- bagde
- breadcrumb
- ...

[2021-10-05 17:49] trailsnail commented on #104
@RaviDesai
Is this issue still relevant since `<sl-tooltip>` allows html markup if `slot="content"` attribute is used?
https://shoelace.style/components/tooltip?id=examples

[2021-10-06 06:46] brgrz commented on #537
I wasn't able to reproduce this out of the context of an app I'm building which uses several instances of drawers (it might have something to do with that). I opted to remove the tooltips bc they were not essential to the experience.

[2021-10-06 15:05] claviska commented on #537
Closing this out then since it can't be reproduced.

[2021-10-06 15:05] #537 closed, assigned to claviska

[2021-10-06 19:54] aomarks opened #559 "Distribute bare module specifiers instead of bundled Lit dependency"
### What issue are you having?

Shoelace is distributed with its own copy of Lit, instead of referencing it as a dependency, so if there is any other code on the page that also uses Lit, there will be two copies. There is no way to de-duplicate the dependency currently, causing an unnecessary inflation of JavaScript shipped to the browser.

Example:
https://unpkg.com/browse/@shoelace-style/shoelac

[2021-10-06 19:56] aomarks commented on #438
Thank you for doing this! Just tried it out, and it works great.

[2021-10-07 12:35] claviska commented on #296
Thanks, @trailsnail. That's mostly thanks to @christoshrousis who has been doing great work. I've updated the list and will try to keep it in sync as things progress!

[2021-10-07 12:49] claviska commented on #559
This is on my list, for sure. The immediate problem is the [custom build](https://github.com/shoelace-style/shoelace/blob/next/scripts/build.js), which needs to be reworked to use [@web/dev-server](https://www.npmjs.com/package/@web/dev-server) or similar. Currently, the "dev build" is the same as the prod build and it gets fully regenerated when files are changed. Meanwhile, the dev server is pow

[2021-10-08 14:35] claviska commented on #559
Thanks to a suggestion by @ParamagicDev, I'm pretty sure this is resolved in the `build` branch I just pushed. The important change is here:

https://github.com/shoelace-style/shoelace/blob/build/scripts/build.js#L56

In short, the dev build stays the same and the prod build sets all deps as external so esbuild doesn't bundle Lit, Popper, etc. I could use more eyes on this to confirm, though.

@ju

[2021-10-08 14:56] aomarks commented on #559
Looks like you have `lit` and `@popperjs/core` in your `package.json` `dependencies` already, so that should be all you need.

Maybe do a pre-release to NPM? Happy to try it out!

[2021-10-08 15:40] KonnorRogers commented on #559
@claviska I have a package that marks morphdom as external using Rollup and when I push it to Skypack / Unpkg, it appears to work out of the box with no additional config. I don't think you should have any issues.

[2021-10-08 21:23] claviska commented on #559
Welp, beta.54 broke the CDN.

[code]

[code]

It does work through [esm.run](https://www.jsdelivr.com/esm), but that's "beta" and if it doesn't work in jsDelivr it probably won't work with others. I've reverted to bundling in beta.55 for the time being.

The simplicity of the CDN is vital to this project. What other options do we have? Do we need to wait for import maps to be better supported?

[2021-10-08 21:44] justinfagnani commented on #559
Can you publish a separately bundled version? I wouldn't want to depend on a library that bundled its own copy of Lit. Once you do bundle, that can't be unbundled.

[2021-10-08 21:54] KonnorRogers commented on #559
@claviska I would create a seperate `dist/shoelace.min.js` that includes the fully bundled lit. So you would have 2 final bundles:

[code]

`dist/shoelace.js` would mark Lit as external
`dist/shoelace.min.js` would bundle up Lit

For people grabbing from a CDN they can go here:

"https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.54/dist/shoelace.min.js"

For people grabbing for loca

[2021-10-09 00:32] jaredcwhite commented on #559
That's really what I would prefer as well. I think it's cool you can import bundled shoelace off a CDN and go to town, but I never do that in any substantial project of mine (and I'm often using Lit as well so it'd be a waste to use my own Lit + Shoelance's Lit on the same page).

[2021-10-09 01:29] justinfagnani commented on #559
I would actually prefer to see shoelace published to npm completely unbundled. I can bundle components myself much better than shoelace can since I know my entrypoints. I see that individual components import different chunks, but that should be unnecessary if the app is bundling.

Could there be a separate `@shoelace-style/shoelace-dist` package that has bundles?

[2021-10-09 13:08] claviska commented on #559
I’ll play around with more ideas on Monday. After thinking it over, I’m OK using esm.run as the “official” CDN. That means the npm version will be unbundled.

The only other question is should the docs continue to use a local dist? They need to for dev and next since there’s no corresponding package, but maybe prod can use the CDN.

We’ll get it there for the next release — just need to work out t

[2021-10-11 10:13] StommePoes commented on #219
Hi,
I got an email alert.
I opened this page (https://shoelace.style/components/tooltip) just now in Chrome/Windows and when I hover over the trigger (Hover Me button), and the tooltip appears, I still cannot move my mouse to the tooltip itself (the "hoverable" part of the original issue).  I think probably this needs to be addressed in the JavaScript instead of CSS, since it looks like JavaScript

[2021-10-11 11:43] brgrz commented on #466
@claviska I've updated the repo at https://github.com/brgrz/sl-bugs with updated code on `focusin` violation.

If you click anywhere on whitespace in Empty or Advanced tabs you'll see `focusin` lags in console.

You will see that I wrapped `sl-drawer` with custom components, just so to abstract away the `sl-drawer` and bc I want that kind of custom Lego bricks for drawer functionality.

I also tri

[2021-10-11 12:12] claviska commented on #219
Reopening for further evaluation. Thank you for the detailed info, @StommePoes!

[2021-10-12 09:04] brgrz commented on #466
@claviska Is this tabbable logic actually needed on modals? As far as I can see it only function atm is to provide the ability to tab to the closing X button, which is the first tabbable element within the modal.

[2021-10-12 12:28] claviska commented on #466
That logic controls focus trapping behavior. As you tab through an active, modal-capable component, focus must remain "trapped" in the control.

[Source](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/dialog_role)

For all intents and purposes, a Shoelace drawer is modal just like a dialog is modal, so the same rules apply.

[2021-10-12 13:38] claviska commented on #559
One thing that really sucks about this is having to create two dists for bundled and unbundled. That means assets, metadata, etc. all have to get duplicated. The redundancy feels sloppy.

I'm going to need more time for this one.

[2021-10-12 13:54] claviska commented on #559
To clarify, the unbundled version from beta.54 _does_ work with CDNs that support bare module specifiers.

[code]

Ideally, I only want to ship the _unbundled_ version on npm. The current issue is:

- Producing a dev build that doesn't use bare specifiers
- Producing a docs build that doesn't use bare specifiers

It's easy enough to produce those builds, but assets need to be generated multiple ti

[2021-10-13 12:22] timefordroids opened #564 "Hoist attribute for sl-tooltip"
Tooltips are being clipped if they're inside a container that has `overflow: hidden`.

### Describe the solution you'd like
Add `hoist` attribute

[2021-10-13 12:29] #564 closed, assigned to claviska

[2021-10-13 21:58] claviska commented on #559
As of beta.56, all dependencies are unbundled _except_ for `color` which is used by the color picker. Unfortunately, it doesn't ship an ESM version so I wasn't able to exclude it at this time. Fortunately, you'll only receive that if you use the color picker.

In the meantime, I've offered to work with the author to provide an ESM version: https://github.com/Qix-/color/issues/184

I'm leaving this

[2021-10-13 22:01] aomarks commented on #559
Thank you for the work on this!

[2021-10-13 23:30] claviska commented on #559
Some good news regarding `color`. https://github.com/Qix-/color/issues/184#issuecomment-942754062

[2021-10-14 08:02] StommePoes commented on #219
Sorry I can't give any useful kind of solution :(

One idea is to rearrange the nested things so that the tooltip chunk and the button are inside a single shadow DOM and then the tooltip can easily aria-describe the button with `aria-describedby` set on that button (by button I mean the real &lt;button&gt; element inside that nested shadow). Problem probably is then that it's some kind of pain in

[2021-10-14 11:28] samuelstroschein commented on #104
@trailsnail

I argue yes. I expect a popover to function like [Chakras popover](https://chakra-ui.com/docs/overlay/popover). The main difference between a popover and a tooltip is first and foremost the name. Using a tooltip for a popover "is hacky". Secondly, a tooltip is triggered with a hover or focus while a popover is triggered by a click. And lastly, a popover can be closed with a click (x i

[2021-10-14 11:31] trailsnail commented on #104
@samuelstroschein
This sounds like https://shoelace.style/components/dialog ❓

[2021-10-14 11:37] claviska commented on #104
Popovers are similar to tooltips in that they share some behaviors and positioning, but popovers are more powerful and can be used for things like hovercards and in-context confirmations. There's also styling differences and — I need to verify — I believe they have some a11y differences under the hood.

Example: https://ant.design/components/popover/

In another library I maintain, our popover was

[2021-10-14 14:46] treeder opened #566 "Cherry-picked sl-icon doesn't use the default bootstrap icons"
### Describe the bug

Using sl-icon uses uses /assets/icons/xxx.svg by default.

### To Reproduce

I'm cherrypicking the sl-alert component and using it like this:

[code]

This throws a 404 on the console looking for: `/assets/icons/info-circle.svg`

I assume this is because I'm not using the full shoelace bundle, but the docs say it's ok to cherry-pick. I can't find any workaround to fix this th

[2021-10-14 14:49] claviska commented on #566
If you're cherry picking, Shoelace can't autodetect the base path for assets so you need to explicitly set it.

https://shoelace.style/getting-started/installation?id=setting-the-base-path

Assets are hard in component land. Maybe a blurb on the icon page would help make this more clear.

[2021-10-14 22:15] sporto opened #567 "Error: Can't resolve '@popperjs/core/dist/esm' in beta.57"
### Describe the bug
After updating to beta.57 we see this error:

[code]

We use Shoelace via NPM and bundle with Webpack.
Unsure what this error means.

### To Reproduce

Install Shoelace via NPM
Bundle shoelace using Webpack

### Browser / OS
Linux
Webpack 5
Node 14.17
NPM 6.14

### Additional information
Any hints would be appreciated
Thanks

[2021-10-14 23:41] claviska commented on #567
This is covered [in the changelog](https://shoelace.style/resources/changelog?id=_200-beta56):

If you're using the jsDelivr CDN, the `/+esm` suffix is required for JS files so they resolve bare specifiers (e.g. `import * from 'lit'`). If you're importing some other way, you'll need to configure your bundler to resolve the dependencies to point to `node_modules`.

[2021-10-14 23:41] #567 closed, assigned to claviska

[2021-10-14 23:41] #566 closed, assigned to claviska

[2021-10-15 00:13] treeder commented on #566
Is there any way to default it to the bootstrap icons like it says is the default? In particular if the bootstrap icons are also included as a <link> tag?  ie: `<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">`

[2021-10-17 09:58] abasse opened #569 "Icons not showing when Shoelace is loaded from CDN"
When Shoelace (2.0.0-beta.57) is loaded via CDN, the Icons a re not displayed.

Test case from the Shoelace documentation:
https://codepen.io/pen/?&editors=100

[2021-10-17 15:19] claviska commented on #569
Thanks for reporting this. I'm pretty sure this is happening because, when using the `/+esm` feature, jsDelivr bundles modules and it seems to be causing singletons to break.

Prior to #559, this would would work as expected:

[code]

Now it doesn't:

[code]

I guess this makes sense since jsDelivr is creating two separate bundles, so `base-path.js` isn't the same module. Weirdly, importing the ut

[2021-10-17 15:21] claviska commented on #569
Note: this probably affects all singelton logic such as the modal utility, animation registry, icon library registry, etc.

[2021-10-18 07:14] abasse commented on #569
Thanks, for looking into this.

[2021-10-18 08:16] samuelstroschein commented on #569
Same problem here. In the meantime, version 2.0.0-beta.55 works as expected.

`https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.55/dist/shoelace.js`

[2021-10-18 10:52] bunesk opened #570 "Set value as date in sl-input"
Hello there,

the regular input element with type date or time provides an property 'valueAsDate', where you can pass a date object to set the value:
https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement

The sl-input only provides the option to set the date using a value as a string.
It would be great if there would be the possibility to assign the value as a date object as well.

Tha

[2021-10-18 11:10] zarianec commented on #569
Hey there! This code works as well:

[code]

Looks like the code from ` <script src="...">` gets immediately executed before the `import` and `setBasePath` and the icon is already drawn when `setBasePath` is called.

[2021-10-18 13:06] claviska commented on #569
@zarianec It's strange that this works but not the original version. What I'm seeing is that, after calling `setBasePath()`, the base path isn't honored even in subsequent updates to `<sl-icon>`.

You should be able to import `setBasePath` from `dist/shoelace.js` or from `dist/utilities/base-path.js` and get the same module. For whatever reason, that's not happening now.

[2021-10-18 15:30] aomarks opened #571 "Style tag injected into document head"
### Describe the bug
Importing a shoelace component inserts a `<style>` tag into the document `<head>`.

If shoelace components are being used in a shadow root, then this style won't have any effect.

Would it be possible to include these styles in the default stylesheet instead?

(I see it used to be in https://unpkg.com/browse/@shoelace-style/shoelace@2.0.0-beta.47/dist/themes/base.css, but now

[2021-10-18 20:54] claviska commented on #571
Those are utility styles that were split out of the base stylesheet, as you've mentioned.

The scroll lock class is used by a number of components via the [internal scroll utility](https://github.com/shoelace-style/shoelace/blob/next/src/internal/scroll.ts) and will always be applied to the `<body>`.

The toast stack styles are used by the alert component. When you have an `<sl-alert>` and call it

[2021-10-18 21:08] aomarks commented on #571
I mean this in the sense that I wouldn't usually expect importing a web component to modify my document scope styles. I expect the component's styles to be encapsulated and not affect the outside. In this case, I imported `<sl-dialog>` into one of my component's shadow roots, and I ended up getting styles for `<sl-toast>` injected into my document's scope (and I'm not even using toast currently).

[2021-10-18 21:20] claviska commented on #571
I agree, but I'm not aware of a better way. Perhaps the scroll utility could add the styles on lock and remove them on unlock. They still need to apply to the body, though.

Aside: I use an `sl-` prefixed class here instead of `document.body.style` because you can't control when other things change the style, but the likeliness of other things toggling a "namespaced" class is very low.

It's so yo

[2021-10-18 21:39] claviska commented on #571
This is true, which is why the docs call out that the alert will be hoisted when they call `toast()`. I don't know of a reliable way to position multiple elements in the DOM in such a way without moving them. You could used a fixed positioning strategy, but elements in different containing blocks might be offset if they use a transform. That's way too heavy to calculate at runtime, so until the pl

[2021-10-19 18:54] brgrz commented on #466
Please see the updated repo at https://github.com/brgrz/sl-bugs. It is now using the `sl-drawer` and not my custom slotted drawer. It is a contrived example but not too complex one. Click on items annotated with "click here" and observe the console.

The example mimics the UI I use in an app - I'd open a list of items in drawer and then allow the user to edit those items which again opens another

[2021-10-19 19:07] brgrz commented on #466
I added another commit to make the lags even more apparent. All I had to do is add a couple of divs to the drawer's content slot.

[2021-10-22 13:30] claviska commented on #569
Let's track this in #559 since that's what broke it initially. Please subscribe to that issue for updates.

[2021-10-22 13:30] #569 closed, assigned to claviska

[2021-10-22 13:51] aomarks commented on #571
Yeah, this makes sense, thanks for all the context! Hopefully https://github.com/whatwg/html/issues/6349 will solve this properly eventually.

Maybe an improvement could be to hoist to a shadow root in the body, instead of into the light dom of the body? E.g. there could actually be a `<sl-toast-stack>` component like you mentioned, except that you could automatically create it and append it to bo

[2021-10-22 14:04] claviska commented on #559
I should have tested this more thoroughly. Unbundling and shipping via CDN is causing problems. While I appreciate the value of this:

- It's breaking things
  - #569
  - #574
- It's causing confusion (particularly the need for the awkward `/+esm` in URLs)
- The syntax is different for each CDN (`/+esm` for jsDelivr, `?module` for unpkg, etc.)
- Not all CDNs support bare module specifiers (and esm

[2021-10-22 14:23] claviska commented on #559
Bug filed: https://github.com/jsdelivr/jsdelivr/issues/18337

[2021-10-22 15:25] claviska commented on #559
Update: I guess this isn't a bug, [it's a feature](https://github.com/jsdelivr/jsdelivr/issues/18337#issuecomment-949714546).

[2021-10-22 16:03] justinfagnani commented on #559
That's really, really unfortunate. They're breaking module semantics.

The problem here is that if you twist your library to work better on buggy module CDNs you might _force_ module duplication on those installing via npm (if you bundle dependencies). I would consider local installs the more common and important constituency here.

I would at the very least keep bare specifiers for imports to ext

[2021-10-23 11:13] brgrz commented on #466
After more troubleshooting I can confirm this issue remains it's just less obvious and less frequent.

There is also another issue which is the inability to double click to select text inside the tab panels hosted in drawers, reproduced here https://codepen.io/trailrun80/pen/KKvaMaR which is a direct result of having `document.body.tabIndex = -1;`

@geoffrich
Is SvelteKit's feature to manipulate t

[2021-10-26 12:03] claviska commented on #466
Your pen works in Firefox and Safari. It also works in Chrome and Edge if you remove the tabindex on the body. I think what you're seeing is this, which I've narrowed down and filed as a potential Chromium bug.

https://bugs.chromium.org/p/chromium/issues/detail?id=1263444

I've also tried replicating the lag you've described without success. I'm wondering if the inability to select text was makin

[2021-10-26 12:21] brgrz commented on #466
I'm actually able to select the first sentence by double clicking but not by dragging and selecting 🤷🏻‍♂️

[2021-10-26 12:23] claviska commented on #466
Same, but dragging doesn't work on any blink-based browser I've tried.

[2021-10-26 12:29] brgrz commented on #466
Holy smokes, while there definitely are lags in Chrome (with my private code) I don't run into them in Firefox. It was a browser issue all along. I feel terrible for not trying this out in FF. Chrome has been such a default for me and I didn't run into such issue for years if ever.

[2021-10-28 20:58] fabricedesre commented on #571
Another issue with this inline styles is that they are preventing Shoelace to be used in contexts where a CSP preventing inline styles is in place. That may not be common, but it's a blocker for me :)

[2021-10-29 01:54] claviska commented on #571
If your CSP blocks inline styles then it will block both `<style>` tags and `style=“”` attributes. And if that’s the case, neither a class toggle nor a style attribute on the body will work and every component library ever made that uses such a pattern will break.

For example, it’s extremely common to apply something like `<body style="overflow: none;">` when a dialog is shown. Body-level utiliti