[2022-07-04 07:45] alenaksu commented on #806
Yes, I think that a CSS property is more than enough, also because I don't see at the moment use cases where the offset needs to be dynamic.

About the PR, I already experimented something and it seems a very easy and quick change, so yes if it's fine with you to go ahead I'd do it

[2022-07-04 17:49] tigrr opened #814 "Two vertical scrollbars shown for <sl-select>"
### Describe the bug
Two vertical scrollbars are shown for `<sl-select>`. One for dropdown part `panel`, another for `<sl-menu>`.

### To Reproduce
Steps to reproduce the behavior:

1. Resize the output window down, so that the dropdown gets scrollbars.
2. Whether placement is top or bottom, you see two scrollbars instead of one.

### Demo
https://jsfiddle.net/tikosar/xnmjrzyq/

### Screenshots
`p

[2022-07-04 18:02] dcx opened #815 "Nav scrolling does not appear for nested tab groups"
### Describe the bug
When you add an (inner) tab group into the tab panel of an (outer) tab group, nav scrolling doesn't seem to activate on the inner tab group.

### To Reproduce
https://codepen.io/dchx/pen/GRxpmqE

### Screenshots
![shoelace-screenshot](https://user-images.githubusercontent.com/502666/177201556-884e30d0-2495-4231-9aae-e55100412edf.png)

### Additional information
At first glance

[2022-07-05 12:42] claviska commented on #806
Sounds good. Looking forward to it!

[2022-07-05 12:44] claviska commented on #812
Apologies, but I don't like to run arbitrary repos on my machine. Can you narrow the problem down to a minimal repro? I haven't heard of any other users experiencing this, and oftentimes a minimal repro will uncover something in one's own code that's causing the problem, which helps me out significantly.

Thanks!

[2022-07-05 12:58] #814 closed, assigned to claviska

[2022-07-05 12:58] claviska commented on #814
Thanks for reporting this. A fix has been applied and will be available in the next release.

[2022-07-05 20:56] oliveratgithub opened #816 "Mysterious gray separator line between Buttons in a Button Group / Radio (Button) Group"
### Describe the bug
I changed the coloring of a [Button Group](https://shoelace.style/components/button-group) / [Radio Button Group](https://shoelace.style/components/radio-group) (applies to both) and its buttons using custom CSS.
This leaves me however with a strange separator line / border that I cannot figure out how to get rid of. It feels like an artefact – only gone when hovering the righ

[2022-07-05 21:28] oliveratgithub opened #817 "Tooltip not disappearing when disabling its contained element using JavaScript – worse behaviour on Mobile device browser"
### Describe the bug
I found an issue when using Tooltips in two scenarios

1. in combination with a JS to disable the element, with tooltip, on click
2. on a real Mobile device, tooltip stays open/shown even when clicking outside the triggering element

#### Screenshots
<img width="397" alt="image" src="https://user-images.githubusercontent.com/280207/177419731-793c0aaf-6fff-44f8-9ef8-96d15ff4bed

[2022-07-06 11:30] kishok opened #819 "Styling CSS shadow parts not working when combine with exportparts"
### Describe the bug
i can't combine both part and exportparts in custom element. For styling outside the custom element we have to exportparts which can be customizable. For instance, ex **sl-icon-button**:   If it only part attribute in sl-icon-button i able to style it.
But if i added along with exportparts of inner element parts. Only the exportedparts are working but the part of sl-icon-butto

[2022-07-06 12:28] #819 closed, assigned to claviska

[2022-07-06 12:37] #806 closed, assigned to claviska

[2022-07-06 12:53] claviska commented on #817
This can be replicated using the following code:

[code]

The problem is that the button gets disabled, causing it to lose access to pointer events. This is intentional and prevents disabled buttons from accepting subsequent clicks.

Since the tooltip listens for certain events on arbitrary targets (an `<sl-button>` in this example, but it could be an `<sl-icon-button>`, a native `<button>`, or ne

[2022-07-06 12:53] #817 closed, assigned to claviska

[2022-07-06 13:01] #816 closed, assigned to claviska

[2022-07-06 13:53] claviska commented on #778
Bumping this to see if we can address this one:

Also, is anyone of aware of a CSS proposal that would let us remove slot detection logic? Should we start one?

[2022-07-06 16:46] augustjk commented on #778
I'll bring up adding a no-op `remove()` in the DOM shim to the team.

For the CSS proposal, this one seems most relevant. https://github.com/WICG/webcomponents/issues/936

[2022-07-06 17:32] oliveratgithub commented on #817
@claviska thanks for the explanation, makes total sense 👍 Will solve it as described.

[2022-07-07 08:28] wolthers commented on #778
@claviska Now that Safari supports focus-visible out of the box, you can probably remove the feature detection alltogether. https://caniuse.com/?search=focus-visible

[2022-07-07 13:44] claviska commented on #778
Yes, now that the last two major versions (15 + 16) support it, [the shim has been removed](389b78f7489ad61ac6ad0ba0caa05739502032c8).

[2022-07-07 21:11] oliveratgithub commented on #817
@claviska regarding Mobile (iOS Safari): is it a desired behavior that the sl-tooltip stays in «open» state once triggered? I have no clue why it doesn't close, especially when touching outside the triggering element / somewhere else on the page…

See https://isnowagoodtime.to/ when touch pressing the very top text «Is now a good time to» 👇

p.s.: can also reproduce it on the Pen here (with mobile

[2022-07-08 12:03] claviska commented on #817
iOS seems to simulate hovers when you tap, causing the tooltip to show. On a button, tapping outside will close the tooltip, possibly because the button loses focus. I'm guessing the reason this is happening is because the tooltip in question is attached to a `<span>` that can't accept focus.

You can open a separate bug for that if you want. It's going to require some research to determine how to

[2022-07-08 13:32] MauriceAcerta commented on #705
Why don't you temporarily replace the decorators with the following snippet:
[code]

This would solve the issue without any side effects (that I am aware of) and could be a quick solution before applying more complex solutions.

We're currently looking at using this library, but this issue is kind of a deal-breaker

[2022-07-08 14:02] claviska commented on #705
What are you trying to accomplish with this? Are you looking to use the Scoped Custom Element Registry polyfill?

[2022-07-08 14:05] MauriceAcerta commented on #705
We're trying to avoid having 2 or more components trying to register any <sl-*> component, resulting in an error and an empty web page

[2022-07-08 14:22] claviska commented on #705
Thanks for clarifying. Are you not concerned that the first loaded module will win, regardless of which version it is? For example, if Module A loads Shoelace 2.0.0-beta.48 and Module B loads Shoelace 2.0.0-beta.70, how can you be sure components that are designed to work together will in fact work together? There are also breaking changes in various beta versions, meaning the APIs can be differen

[2022-07-08 14:31] MauriceAcerta commented on #705
Thanks for your explanation. I did not consider that.
Ideally we would like to have each of the components have their own dependencies and not have the dependency declared higher up in the hierarchy (imo this destroys the purpose op WC's). I'm not sure if we can have both solutions today (no collisions with registration AND each their own dependencies)

[2022-07-08 14:44] claviska commented on #705
The vision behind the Scoped Custom Element Registry does indeed aim to solve this problem. My personal opinion of front-end architectures aside, this is a real world problem and something I have to face myself at MS.

The solution we came up with at work was a mechanism for allowing custom prefixes, so you can register different versions of the same components under different tag names. This elim

[2022-07-08 14:57] michaelwarren1106 commented on #705
@MauriceAcerta ive been where you are I think :)

Previously I was working on a design system that was being used in a large micro-front-end architecture application, where a single page was constructed from various MFEs written by completely different teams that werent at all aware of the activities of other teams, much less their code bases.

As such, each MFE could be using a different version

[2022-07-09 15:16] oliveratgithub commented on #817
But in the Codepen I have the same behavior on iOS Safari, but here the sl-tooltip is attached to an sl-icon-button…?

https://codepen.io/oliverscodepens/pen/XWEmvLo

[2022-07-10 15:29] alenaksu commented on #539
hi @claviska, I'd like to contribute to the development of this compoment, so I created a draft pr with a POC implementation. Let me know what you think

https://github.com/shoelace-style/shoelace/pull/823

[2022-07-10 17:59] MollsAndHersh opened #824 "Play property does not work in Animated Image"
### Describe the bug
Upon applying the "Play" property the entire Animated Image disappears

### To Reproduce
Add Play as a property to the element like so:
`<sl-animated-image
  src="https://shoelace.style/assets/images/walk.gif"
  alt="Animation of untied shoes walking on pavement"
  class="animated-image-custom-control-box"
  play

[2022-07-11 07:29] MauriceAcerta commented on #705
Thanks a ton for the extensive reply @michaelwarren1106! Would you mind elaborating on how you can enable string replacement of tags in the source code of Shoelace during build time? I'm not familiar enough with Webpack/rollup to see how that's done right now

[2022-07-11 12:50] claviska commented on #539
@alenaksu Thanks! I added some feedback to the PR.

[2022-07-11 13:18] #824 closed, assigned to claviska

[2022-07-11 13:19] claviska commented on #824
Thanks for reporting this. The bug has been fixed in fa179fa and will be available in the next release.

[2022-07-11 14:23] michaelwarren1106 commented on #705
Webpack has some docs on how to write a loader:

https://webpack.js.org/contribute/writing-a-loader/

Rollup has guides about how to write a plugin:

https://rollupjs.org/guide/en/#plugins-overview

After checking out those docs, its just a matter of writing your plugin however you see fit according to your needs

[2022-07-11 15:53] MauriceAcerta commented on #705
I more specifically mean how to actually implement that.
I'm not sure how you'll be able to dig inside the node_modules and replace the tags in the compiled code.

[2022-07-11 16:11] michaelwarren1106 commented on #705
you dont dig into the node_modules and replace it there, the loaders/plugins get run at build time and basically pass you the source code of files that are being run through the build and you can change stuff about them during the build process via your loader...

[2022-07-12 12:00] arvindanta commented on #705
@michaelwarren1106 Do you have any basic sample of how you have achieved this multiple versioning of webcomponents using loader ?

[2022-07-12 18:44] michaelwarren1106 commented on #705
unfortunately no, that was all internal proprietary code, sorry :(

[2022-07-14 11:15] tpluscode opened #826 "Separate `sl-form-control` wrapper"
### What issue are you having?

I would like to use common typography and layout with custom or multiple form element. Specifically, I have a requirement that a single "form control" is in fact multiple textboxes etc. I cannot set label and help text of each of them because it will just be repetitive.

### Describe the solution you'd like

I propose to extract a form control wrapper so that I can

[2022-07-14 12:14] claviska commented on #826
The biggest issue with this is accessibility. I'm not sure how that would work, especially with screen readers, as every input needs to be labeled. Form controls in Shoelace are currently setup so that labels and help text are baked into each component, meaning as long as you add a label/help text, everything is linked correctly and interpreted by assistive devices as users expect.

I can't recall

[2022-07-14 12:14] #826 closed, assigned to claviska

[2022-07-17 23:03] sonntag-philipp opened #828 "Add type annotation to the styles property of components to allow inherited styles"
### What issue are you having?
I would like to create some components of my own on top of the Shoelace components.

To do this I already created an derivation of the `SlButton` class which looks like this:
[code]
My main goal was to add some styles for now and some functionality in the future. To add styles to the derived component [I followed the documentation of Lit](https://lit.dev/docs/compone

[2022-07-18 13:54] claviska commented on #828
I'm OK with this change. If you submit a PR, please update the Plop template in `scripts/plop/templates/component/component.hbs` so future components will have the same styles.

But one heads up:

You might want to read the discussion in #705, specifically [this comment](https://github.com/shoelace-style/shoelace/issues/705#issuecomment-1069630717).

By changing tag names, many components _will_ b

[2022-07-19 11:41] sonntag-philipp commented on #828
Thank you for the hint, it was really helpful!
I always try to be as less invasive as possible on the base library when it's possible. My current approach to keep the base working is by simply not touching it at all.
This would also allow Clients who use my component to also use the Shoelace base component directly. That's not really optimal, but after comparing that scenario to other scenarios wh

[2022-07-19 12:27] claviska commented on #828
Fixed in #829. Thanks for the PR!

[2022-07-19 12:27] #828 closed, assigned to claviska

[2022-07-19 12:42] claviska commented on #812
Closing due to no response. If you can provide a minimal repro, I'll be happy to reopen and take a look!

[2022-07-19 12:42] #812 closed, assigned to claviska

[2022-07-19 13:34] #815 closed, assigned to claviska

[2022-07-19 13:35] claviska commented on #815
Apologies for the delay. This was tricky to track down, but the fix was simple. Nested tab panels are working as expected now.

![CleanShot 2022-07-19 at 09 31 44](https://user-images.githubusercontent.com/55639/179763515-ed3e9dc1-6f3e-4aa2-bc91-3a6a432f783e.gif)

[2022-07-19 16:52] straversi opened #830 "Tooltip doesn't play nice with slot changes"
### Describe the bug

When a tooltip's slotted element changes, the tooltip's positioning stops working.

I believe this can be fixed by re-getting the tooltips `target` element in reaction to a `slotchange` event. I can take a stab at it if you agree.

### Demo

https://codepen.io/straversi/pen/WNzpaNY

### Screenshots

(From the demo) When the slotted element changes, the positioning breaks:

<i

[2022-07-19 21:23] claviska commented on #830
Good observation, thanks for the repro. Your solution seems on track, so have at it!

[2022-07-20 14:43] #830 closed, assigned to claviska

[2022-07-20 18:34] break-stuff opened #832 "Radio Group Accessibility Issues"
### Describe the bug

When running an accessibility audit using Accessibility Insight for Web, a number of issues were identified for radios, radio buttons, and radio groups. The issues are:

- Radio groups are not able to find child elements with the `role="radio"`
- Radio elements have nested interactive elements

### To Reproduce

Install [Accessibility Insight for Web](https://accessibilityins

[2022-07-20 18:52] Jaylyn-Barbee opened #834 "Nested sl-hide events"
### Describe the bug

Nested `sl-select` causing dialog to close. I only want the dialog closing to trigger the `sl-hide` event. & since the dialog can be closed via the close button OR clicking off the dialog, i have to listen for sl-hide rather than just closing when the dialog close button is clicked.

app-report.ts
[code]

dialog-frame.ts
[code]

### To Reproduce
Steps to reproduce the behavio

[2022-07-20 18:59] claviska commented on #834
This isn't a bug, but more of a gotcha. Like standard HTML elements, events bubble and some events are emitted by multiple components. In this case, you're listening to `sl-hide` which can come from either `<sl-dropdown>` or `<sl-select>`.

The solution is to check `event.target` to make sure you're listening to the correct element.

[code]

Try updating your CodePen to look like this:

[code]

No

[2022-07-20 18:59] #834 closed, assigned to claviska

[2022-07-20 19:26] Jaylyn-Barbee commented on #834
Thanks, I didn't mean for this to open as a bug but more of a question. Appreciate the feedback!

[2022-07-20 19:28] claviska commented on #834
No worries! There's also the [discussion forum](https://github.com/shoelace-style/shoelace/discussions) and the [community Discord](https://discord.gg/mg8f26C), which are both great resources!

[2022-07-21 18:46] Jaylyn-Barbee opened #837 "Allow for the stroke-width of the track and the indicator to be different for sl-progress-ring"
### What issue are you having?
I just want to be able to create a bubble-like effect with the progress ring by having the track thinner that the indicator.
![image](https://user-images.githubusercontent.com/51131738/180291422-cb350009-76a6-4823-b7e0-de0b6186ceb3.png)

### Describe the solution you'd like
There could be --track-width and --indicator-width

### Describe alternatives you've considere

[2022-07-21 19:06] augustjk commented on #778
So we are moving in a direction to reduce the reliance on these no-op DOM shims as we can't account for what the correct intention of the shim's use case would be, if no-op should even be the right thing to do.

It would be better for authors to be able to handle these more intentionally so we're looking to provide a way to do that here https://github.com/lit/lit/issues/3158.

[2022-07-21 19:10] claviska commented on #778
Subscribed, thanks. I like this idea since it would give authors the ability to render a fallback or skip certain operations as needed. While not ideal, this is better than SSR failing and I don't think we're going to get a usable CSS solution anytime soon.

[2022-07-21 19:30] #837 closed, assigned to claviska

[2022-07-21 19:31] claviska commented on #837
Good call. In the next release, you'll be able to customize `--indicator-width` to get the desired effect.

Preview: https://next.shoelace.style/components/progress-ring?id=track-and-indicator-width

[2022-07-26 21:00] dcx commented on #815
Amazing job, thanks so much!!

[2022-07-27 18:02] JordanMarr opened #839 "sl-input decimal validation"
### Describe the bug
I have found an issue where the `<sl-input type="number" value={model.Cost}></sl-input>` is marked as `invalid` when it has a non-integer value.

### Reproduce
* `model.Cost` = `2.0` is marked as invalid on page load
* `model.Cost` = `2.5` is marked as invalid on page load
* Changing the value to an integer makes it valid
* Changing the value to a decimal makes it invalid

###

[2022-07-27 20:45] #839 closed, assigned to claviska

[2022-07-27 20:46] claviska commented on #839
Good call. Validity is piped through the underlying input, so the behavior was technically correct, but `any` was missing as a possible value for step. Fixed and tested in 1a7fbbf.

This change will be available in the next beta release.

[2022-07-28 15:04] yuki24 commented on #127
I have made this component for my own needs, in case anyone is interested:

https://user-images.githubusercontent.com/386234/181571217-31411aa8-40b1-4bda-ad8e-5cc9cc2cbe94.mov

I can send a PR as a starter and discuss the API if there is enough demand.

[2022-07-28 16:28] Pickra opened #840 "Safari bug: Radio and Checkbox has no focus, not tabbable"
### Describe the bug
I am unable to navigate/focus, via the tab key, to a radio or checkbox in Safari. I also tried, in Safari, on the [next.shoelace](https://next.shoelace.style/components/radio) link. I'm specifically testing the React components but that probably doesn't matter. Verified the expected behavior works in Chrome + FF.

#### Possibly related to:
- https://github.com/shoelace-style/s

[2022-07-28 17:24] Pickra commented on #840
It looks like this [PR](https://github.com/shoelace-style/shoelace/pull/833/files) is addressing radios, though I haven't verified.

[2022-07-29 11:59] claviska commented on #840
This is a Safari thing. By default, tabbing only moves to certain elements in that browser. You can try it with native radios here:

https://jsfiddle.net/1au8z4kt/

In Safari, unless this option has been checked...

![CleanShot 2022-07-29 at 07 56 34@2x](https://user-images.githubusercontent.com/55639/181753670-f5b00ba8-85a8-4038-a592-30551f180c7a.png)

...you need to use <kbd>Option+Tab</kbd> to

[2022-07-29 11:59] #840 closed, assigned to claviska

[2022-07-29 18:59] fabricedesre opened #841 "Contained dialog"
### What issue are you having?
The current <sl-dialog> element is a full page modal. In some situation it would be useful to have it "container modal" instead.

### Describe the solution you'd like
Drawers have a "contained" mode and attribute. It would be consistent to use the same mechanism for contained dialogs.

### Describe alternatives you've considered
Roll my own :)

[2022-07-30 20:25] jrobbins opened #842 "SL input elements nested inside other custom elements don't POST with the enclosing form"
### Describe the bug
sl-input elements that are nested inside other custom elements inside a `<form>` do not include their values in the form POST.

### To Reproduce
Steps to reproduce the behavior:

1. Define a custom element for a section of your form, e.g., `address-form-part`, that uses `sl-input` elements.
2. Create a form that contains your custom element, e.g., `<form action=...><address-fo

[2022-07-31 06:02] Zozman opened #843 "When Opening A `<sl-dropdown>` With `hoist` Set For The First Time, `<sl-menu>` Is Strangely Positioned"
### Describe the bug
When attempting to open a `<sl-dropdown>` for the first time by clicking on it when the `hoist` property has been set, the corresponding `<sl-menu>` is strangely positioned and the height is incorrect.  Upon clicking the `<sl-dropdown>` again to close it and a third time to open it again, the `<sl-menu>` is correctly positioned and all subsequent openings are fine.  But the fi

[2022-07-31 10:50] biltongza commented on #812
I tracked this down to something weird happening with libraries. On load, my `sl-icon` has `library="default"`, then shortly after the page loads that attribute disappears along with my icon.

I'm confused because I never set the `library` attribute in the first place. Nor can I reproduce it standalone with shoelace, seems to only be happening in my SvelteKit project.

I worked around it by simply

[2022-08-01 13:24] #843 closed, assigned to claviska

[2022-08-01 13:40] Pickra commented on #840
![image](https://user-images.githubusercontent.com/5226549/182160648-5cbad7b1-639a-45b1-b9d2-0ce94e5b74bf.png)

I guess I learned something today. Thank you.
My bad for the false flag.

[2022-08-01 14:02] claviska commented on #842
This is correct...form controls don't [currently] traverse shadow roots, which is causing the behavior you've observed. I'm not sure if this qualifies as a bug, though. Do we really want form controls nested in other shadow roots to be submitted automatically?

I'm trying to think of an example and, while it's a bit contrived, imagine [a terribly implemented] calculator component:

[code]

In this

[2022-08-01 14:34] #539 closed, assigned to claviska

[2022-08-01 15:51] jrobbins commented on #842
I see your point about affecting the enclosing `<form>` being potentially confusing in a widely reusable component.  However, I would think that would be addressed by having the reusable component contain its own `<form>` or document the set of fields that it contributes to the enclosing form.

My use case is a bit different in that we are building an app and using web components to organize our c

[2022-08-01 17:00] dlaliberte commented on #842
Turns out form elements are not supposed to be nested.  (See https://html.spec.whatwg.org/multipage/forms.html#the-form-element)  Seems strange that the 'closest' method would be so named, in that case, since there could be other forms on the page which might actually be closer depending how distance is measured.

Anyway, it does seem like a potentially useful capability to be able to nest forms,

[2022-08-02 03:08] CetinSert opened #845 "`<sl-menu>` and `<sl-menu-item>` regression in `2.0.0-beta.79` caused by allowing focus on disabled items for improved accessibility"
### Describe the bug
Disabled (and also not displayed (`CSS`: `display: none`)) menu items allow focus (via keyboard o__O and mouse).
This weird behavior introduced in `2.0.0-beta.79` potentially for project-internal consistency runs contrary to all established expectations.

No other desktop/web app allows focus on disabled menu items (even when these are still displayed) via keyboard or pointer.

[2022-08-02 03:10] CetinSert commented on #845
Windows / Notepad

| press `↓` key | `result` |
| - | - |
| ![image](https://user-images.githubusercontent.com/27027/182283369-d1780827-4d0d-46c1-858b-c950819978e7.png) | ![image](https://user-images.githubusercontent.com/27027/182283429-6b982ee9-496d-4051-8753-806753d75d05.png) |

Pointer focus is also not possible for disabled items.

[2022-08-02 03:13] CetinSert commented on #845
macOS / Finder

| press `↓` key | `result` |
| - | - |
| ![image](https://user-images.githubusercontent.com/27027/182283844-aeff46fd-b22d-4dce-827e-0dbb15eeed63.png) | ![image](https://user-images.githubusercontent.com/27027/182283918-afd971e7-4eb7-4d5e-97e9-b421a236df2f.png) |

Pointer focus is also not possible for disabled items.

[2022-08-02 03:18] CetinSert commented on #845
web / [vscode.dev](https://vscode.dev)

| press `↓` key | `result` |
| - | - |
| ![image](https://user-images.githubusercontent.com/27027/182284371-cd393dc9-ea7e-4f65-aab9-36c3ecd69be5.png) | ![image](https://user-images.githubusercontent.com/27027/182284448-1753d35c-7520-46e3-adf6-e7693aaeb3a7.png) |

Pointer focus is also not possible for disabled items.

[2022-08-02 04:13] CetinSert commented on #845
web components / [Adobe Spectrum](https://synchtml.io/y/#oi=0&/=%3Cscript+src%3D//jspm.dev/%40spectrum-web-components/bundle/elements.js+type%3Dmodule+async+reload%3E%3C/script%3E%0A%0A%3Csp-theme+scale%3Dmedium+color%3Dlight%3E+%0A++%3Csp-popover+open+style%3D%22position:+relative%22%3E%0A++++%3Csp-menu%3E%0A++++++%3Csp-menu-item+value%3D%22item-1%22%3EDeselect%3C/sp-menu-item%3E%0A++++++%3Csp-me

[2022-08-02 04:26] CetinSert commented on #845
Vaadin: https://vaadin.com/docs/latest/components/menu-bar/#disabled-items (focus not possible via keyboard and pointer.)

[2022-08-02 12:26] #845 closed, assigned to claviska

[2022-08-02 12:46] claviska commented on #845
This wasn't sitting right with me either. I've always heard and read — although I can't find the W3 site that says it at the moment — that disabled items _should_ be focusable contrary to what operating systems and even form controls in the browser do.

This is inconsistent, as demonstrated here:

https://jsfiddle.net/8rh9o7ut/

I've also been in the room for multiple arguments about whether form

[2022-08-02 13:03] claviska commented on #842
Are you forking or consuming components? If you're forking, the FormSubmit controller can be adapted rather easily:

[code]

But if you're consuming, there's currently no way to override this behavior. Maybe that's OK, though, as most consumers won't expect internal form controls to "leak" out on submit.

I'm interested to learn more about how you're using Shoelace and whether or not modifying the

[2022-08-02 16:18] dlaliberte commented on #842
We (I work with @jrobbins) have page level (lit element) components that contain the form, and within the form, we layout a few dozens of fields in multiple tables, where each table is a component and each field is in a separate form field component.   (You may be aware that tables must contain table rows (or row groups) and table rows must be in tables, so both work together.)

So finally we get

[2022-08-03 17:01] sseira opened #848 "Enable superclasses to edit the global variables of RADIO_CHILDREN and BUTTON_CHILDREN in 'sl-button-group' and 'sl-radio-group'"
### What issue are you having?
I am trying to build on top of `sl-radio-group` & `sl-radio-button` due to some design constraints I am attempting to match however since `sl-radio-group` and `button-group` have hardcoded global variables `const BUTTON_CHILDREN = ['sl-button', 'sl-radio-button']` I cannot use my custom component because it has a different HTML Tag name.

### Describe the solution yo

[2022-08-03 17:34] claviska commented on #848
We can make it a static property of the class so you can override it. I'm still thinking of the best way to target elements should the tags be renamed, so this may change a bit in the future, but if it helps you out I'm totally fine with this change.

[2022-08-04 12:38] claviska commented on #218
Radios have been refactored in #833 and #847 to solve all known remaining issues. 🎉

[2022-08-04 12:38] #218 closed, assigned to claviska

[2022-08-04 12:47] claviska commented on #841
I'm curious...can you elaborate on how dialogs would be used in a non-modal fashion?

One big difference that's not obvious in `<sl-drawer>` is that, when it's contained, it's no longer modal meaning it doesn't trap focus or allow interaction anywhere else on the page. This probably makes sense for a drawer that can slide out from any container (e.g. a settings menu that slides out). But contained

[2022-08-04 12:48] claviska commented on #832
Fixed in #833 and #847.

[2022-08-04 12:48] #832 closed, assigned to claviska

[2022-08-04 13:28] claviska commented on #848
Actually a static property won't work here since you're extending, sorry. I'm not sure a standard property makes sense either — no other component exposes such an API. Perhaps a registry is more appropriate.

[code]

But there's probably a much better way to do this, possibly even at build time. To be honest, I haven't started thinking about custom prefixes that much just yet, which is really the

[2022-08-04 14:52] webdev3301 commented on #397
Yes but, HOW CAN YOU NOT HAVE A LAYOUT SYSTEM? How can you not create a few Grid classes that do layout and welcome new users who are wanting to try a new CSS framework? No one come to a CSS Framework page, see a bunch of cools stuff and no way to quickly get started. No way to quickly layout and get going. What an absolute deal breaker this is for those who are curious about your framework.

[2022-08-04 14:53] suchislife801 commented on #397
Yes but, HOW CAN YOU NOT HAVE A LAYOUT SYSTEM? How can you not create a few Grid classes that do layout and welcome new users who are wanting to try a new CSS framework? No one wants to come to a CSS Framework page, see a bunch of cools stuff and no way to quickly get started. No way to quickly layout and get going. What an absolute deal breaker this is for those who are curious about your framewo

[2022-08-04 15:04] claviska commented on #397
No need for the caps. See my previous comment: _"I'd prefer to avoid adding a grid system since there are so many out there already. Plus, CSS grid is generally more flexible so I would encourage users to learn it and use the platform if possible. If you need a grid system, check out [Tailwind Flexbox Grids](https://tailwindcss.com/components/flexbox-grids) or the tried and true [Flexbox Grid](htt

[2022-08-04 15:28] David-Carty commented on #397
You have two very easy options.
1.	A grid system:  https://www.webfx.com/blog/web-design/responsive-css-grid/
2.	CSS Grid: https://css-tricks.com/snippets/css/complete-guide-grid/
Most Grid systems are no longer maintained due to the increasing popularity of CSS Grid.  If you think Shoelace is a dealbreaker, it would be interesting to see what other deals you have.  I find that Shoelace + CSS Grid

[2022-08-04 16:26] sseira commented on #848
hmmm so you suggest extending `SLRadioButton` and `SLButtonGroup` and overriding every function that references `sl-<tag-name>`?

[2022-08-04 16:29] sseira commented on #848
Another pov I will offer is that simply replacing the hardcoded values with variables defined in the class is a step in the direction of `setPrefix()` and could therefore be worthwhile doing before you are ready to tackle a library wide effort?

[2022-08-04 16:30] claviska commented on #848
I'm assuming you're creating another type of radio item, so you can extend `<sl-radio-group>` and replace [this method](https://github.com/shoelace-style/shoelace/blob/59182db56485e26a71c5fabfed2387b7fafa2825/src/components/radio-group/radio-group.ts#L128-L130) with your own so it knows which children to look for.

If that's not accurate, can you tell me what exactly are you trying to build?

[2022-08-04 18:32] jaredcwhite commented on #397
I've come around to this same way of thinking. For a while I was still itching for custom elements or classes to lay out rows/columns/size/alignment, etc., but that was simply due to my ignorance of CSS Grid proper. Once I really took the time to learn that, I realized I could create awesome layouts with just a few lines of CSS selectors/properties. Flexbox is equally easy to use once you learn a

[2022-08-04 18:36] fabricedesre commented on #841
I understand the behavior of a contained `<sl-drawer>`, and the "somewhat modal" behavior is what I need also from `<sl-dialog>`.

My use case is in Capyloon's system UI (https://github.com/capyloon/nutria/) : each "tab" is wrapped in a `<content-window>` custom element which is basically a deck with the splash screen and the actual `<web-view>`. In order to implement `window.alert()` and friends,

[2022-08-05 12:10] claviska commented on #842
Thanks for the clarification. Indeed, this sounds like an uncommon use case and I'm still concerned about shadow-rooted form controls submitting by default, since that would lead to confusion and possible collisions with field names.

This sounds like the best option, IMO. You can even automate the controller so it looks for known form controls on submit, serializes all the "nested" inputs, and ap

[2022-08-05 18:07] dlaliberte commented on #842
I wonder if it is uncommon to nest form fields in the shadow dom of other components mostly because any one who has tried doing this will quickly discover that it doesn't work as expected.  Furthermore, the possibility of working around this  means you have to go through the exercise of figuring out how to either render in light dom, thus breaking the component modularity, or modify the form-level

[2022-08-08 12:36] claviska commented on #842
It sounds like a utility that wires up known form fields from a shadow root and appends them to a target form might be a good idea. You could tuck the logic in a Reactive Controller and instantiate it with minimal wiring:

[code]

The RC would then listen for `formdata` and append the fields provided like Shoelace does now. With `ElementInternals` this will get a little cleaner, but you get the id

[2022-08-09 13:04] bjarnef opened #850 "Separate slider component from Color Picker"
### What issue are you having?
The Color Picker looks and works great: https://shoelace.style/components/color-picker
However the sliders (hue and alpha sliders) could probably be separated as individual components. I think both hue and alpha sliders could use same component although the the background color change in alpha slider as the general color change.

### Describe the solution you'd like

[2022-08-09 19:03] justinfagnani commented on #559
One big downside to bundling dependencies that Shoelace has now is that Lit's export conditions aren't re-exported by Shoelace. Shoelace bundles only Lit's production builds and leaves out the development build and new Node build.

For development this means that authors of subclasses of Shoelace components won't get extra runtime checks and nicer warnings. That might not be a supported use case,

[2022-08-09 19:42] sseira commented on #848
Thank you for this PR https://github.com/shoelace-style/shoelace/commit/1bae224f8001e9077b349cdf0da32bb916359b30,

Yes I am extending the radio item, I will try it out with this new change

[2022-08-09 19:42] #848 closed, assigned to claviska

[2022-08-09 20:55] claviska commented on #850
This looks an awful lot like `<sl-range>`, so I wonder if it makes sense to use that instead. Currently, there's no vertical orientation though. Pinging @ParamagicDev since he wrote a post about native + vertical ranges.

Indeed, some of these could be split out, but I don't have much of a use for them at the moment outside of `<sl-color-picker>`. Unless there's reasonable demand, it's probably be

[2022-08-10 12:17] KonnorRogers commented on #850
🤷‍♂️ if it were up to me, I'd get rid of native ranges. Their vertical implementations are meh, and dont allow for a lot of extensibility and require a number of hacks to work properly. If not for form validation, I'd probably choose to write one from scratch.

[2022-08-10 21:09] shaal opened #852 "Tree component cannot be navigated with keyboard, when VoiceOver is enabled"
### Describe the bug
When turning on VoiceOver on a mac, it's impossible to use the keyboard to expand/collapse tree-items

### To Reproduce
Steps to reproduce the behavior:

1. Go to https://shoelace.style/components/tree
1. Turn on VoiceOver
1. With keyboard, navigate to tree
1. Try to expand/collapse one of the items with children.

### Screenshots
![image](https://user-images.githubusercontent

[2022-08-10 21:14] claviska commented on #852
Thanks for the report. I can't repro this one, though. Are you using <kbd>Right</kbd> and <kbd>Left</kbd> to expand and collapse the nodes?

![CleanShot 2022-08-10 at 17 12 43](https://user-images.githubusercontent.com/55639/184021369-063e8c3b-acf0-4200-8ef7-e68a1975fbd7.gif)

[2022-08-11 13:31] claviska commented on #850
That's fair. Once `ElementInternals` lands in [the last two of] Safari, I'll be more open to updating `<sl-range>` to not use `<input type="range">`. Having to reimplement constraint validation logic isn't fun and styling certain things isn't a great experience because Firefox and others have different approaches.

[2022-08-11 13:36] claviska commented on #850
All that said, it's probably a bit too early to do this. There's also #780 (dual thumb sliders) which requires `ElementInternals` since native ranges don't support two thumbs.

I'd like to refactor `<sl-range>` to support all of these cases, which seems like a better idea than having competing slider components.

[2022-08-12 18:52] Zozman opened #854 "`sl-tooltip` Element's Popup In Beta 80 Being Covered By Other Elements"
### Describe the bug
Inside of beta 80 after the `sl-tooltip` refactor, the `popup` part of the tooltip is not always appearing over the rest of the content in a page.  In a variety of scenarios it is appearing under other content.

Upon looking into it, it seems that the `popup` part of the `sl-tooltip` has no `z-index` set.  In addition, the `body` of the `sl-popup` inside the `sl-tooltip` does

[2022-08-13 02:39] CetinSert commented on #854
This also causes a regression where we were using `<sl-tooltip>` on the handle of a `<sl-split-panel>` before.

Please see:

- ✔️ https://rt.ht/y4 (`.78`) (would always show)<br><sup>(Edge/Chrome(/Safari?) would track the handle position, Firefox(/Safari?) would not track successfully)</sup>
- ❌ https://rt.ht/y4x (`.80`) (now it is gone o__O)<br><sup>(was actually mis-positioned and hidden behind

[2022-08-13 06:09] CetinSert commented on #854
Further investigation revealed the two issues with `.80`:

1. `z-index`
2. mis-positioning

❌ https://rt.ht/y4x/#se=oi (`.80`) (switching panels to reveal mis-positioned, low z-index the tooltip)
![image](https://user-images.githubusercontent.com/27027/184471024-e33b9a37-745f-4477-b1c2-f45c293b89ef.png)

[2022-08-14 06:22] nileshtrivedi commented on #127
How is Shoelace website's own search feature implemented?
<img width="937" alt="image" src="https://user-images.githubusercontent.com/19304/184525155-9ef97611-9989-42ba-a98b-941d70e3f534.png">

[2022-08-14 12:51] claviska commented on #127
It’s a makeshift script that doesn’t work properly with screen readers. [I fixed that problem in Doxicity](https://github.com/claviska/doxicity/blob/next/src/plugins/search/search-client.js), but I haven’t had a chance to rebuild the whole website yet.

It’s even more of a challenge to get it right when composing a combobox with custom elements. Not impossible, but not exactly simple.

[2022-08-14 16:15] CetinSert commented on #854
Improved positioning by refactoring the host page DOM tree.

✔️ `.79`
❌ `.80`

[code]

✔️ `.79`
✔️ `.80`

[code]

---

Can we have a replacement for **`<sl-tooltip>.updatePositioner()`** or better yet the same function re-exposed?
We were actively using it to make the tooltip track the position of the panel handle.
Watch this GIF to see what we mean: ✔️ `.79` (thanks to **`<sl-tooltip>.updatePosit

[2022-08-14 17:36] OnurGumus opened #855 "Feature detection for navigator.userAgent"
It's a tiny issue on edge chrome basically some script is relying on navigator.userAgent and chrome isn't happy about it

<img width="917" alt="image" src="https://user-images.githubusercontent.com/4114592/184548226-c8cc597f-d2ff-45fe-9086-cb5d2ea5121a.png">

Possible code is here

<img width="917" alt="image" src="https://user-images.githubusercontent.com/4114592/184548269-615b26f3-d641-4eae-87c7

[2022-08-14 17:39] claviska commented on #855
See this comment. https://github.com/shoelace-style/shoelace/blob/147d1f048b86ad4317b71238fd8560da5ea19927/src/components/input/input.ts#L373

There’s no way to feature detect this, so if there’s a better way to know you’re in Firefox that makes Chrome happy, I’m happy to accept a PR.

[2022-08-14 19:06] OnurGumus commented on #855
Is it not possible to do
```(navigator.userAgentData) ? { ... }  : ...```

[2022-08-15 07:07] CetinSert commented on #855
@OnurGumus – `navigator.userAgentData` is `undefined` on Firefox.

[2022-08-15 07:23] OnurGumus commented on #855
Yes that's my point :)

[2022-08-15 07:43] CetinSert commented on #855
@OnurGumus – https://caniuse.com/mdn-api_navigator_useragentdata but it is also `undefined` on other browsers.

[2022-08-15 07:45] OnurGumus commented on #855
My point is if it is defined use that one otherwise fallback, this would mitigate the problem and warning.

[2022-08-15 15:02] #855 closed, assigned to claviska

[2022-08-15 16:16] #854 closed, assigned to claviska

[2022-08-15 16:17] claviska commented on #854
Good catch. The z-index should have been applied to the popup, but it was still being applied to the tooltip's body. Fixed in 2372309.

This is a much better approach than relying on `tooltip.updatePositioner()`, which was private.

[2022-08-16 15:46] CetinSert opened #856 "`<sl-dropdown>` content overflow regression introduced in `2.0.0-beta.80`"
### Describe the bug

- ✔️ `0.78` `<sl-dropdown>` ... `<div part=base>` ... **`<div part=panel style="max-width: #px; max-height: #px">`**<br>✔️ `0.78` → overflows are nicely contained.
- ❌ `0.80` `<sl-dropdown>` ... `<sl-popup part=base>` ... **`<div part=panel>`** !! no `max-width`, `max-height`.<br>❌ `0.80` → overflows are not contained.

### To Reproduce
Steps to reproduce the behavior:

1. Go

[2022-08-17 07:56] CetinSert opened #857 "`<sl-tooltip>`(, `<sl-dropdown>`) stylability regressions due to the new `<sl-popup>` introduced in `2.0.0-beta.80`"
### What issue are you having?
`<sl-popup>` introduced a new level of `#shadow-root` that made `part`s that were stylable in `.79` unstylable.

---

[code]
- ✔️ `.79` used to work for both the arrow and the content
- ❌ `.80` does not work for either; arrow cannot be reached at all without `exposeparts`; content is now `::part(body)`

---

✔️ `.79` DOM
[code]

❌ `.80` DOM
[code]

---

### Describe

[2022-08-17 08:11] CetinSert opened #858 "`<sl-tooltip>`(, `<sl-dropdown>`) stylability regressions due to the new `<sl-popup>` in `2.0.0-beta.80`"
### What issue are you having?
`<sl-popup>` introduced a new level of `#shadow-root` that made `part`s that were stylable in `.79` unstylable.

---

[code]
- ✔️ `.79` used to work for both the arrow and the content
- ❌ `.80` does not work for either; arrow cannot be reached at all without [`exportparts`](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/exportparts); content is n

[2022-08-17 08:11] #857 closed, assigned to claviska

[2022-08-17 09:19] CetinSert commented on #858
Here is a reload-free playground for: [`exportparts`](https://rt.ht/x/#/=%3Cscript%3E%0AcustomElements.define%28%27parent-element%27,+class+extends+HTMLElement+%7B%0A++constructor%28%29+%7B%0A++++super%28%29%3B%0A++++this.attachShadow%28%7B+mode:+%27open%27+%7D%29%3B%0A++++this.shadowRoot.innerHTML+%3D+%60%0A++++++P%0A++++++%3Cchild-element+part%3Dc+exportparts%3D%22child%22%3E%3C/child-element%3E

[2022-08-17 10:36] CetinSert commented on #858
With `exportparts` in place, https://github.com/shoelace-style/shoelace/issues/854 can be trivially corrected well before https://github.com/shoelace-style/shoelace/commit/237230961aa0091a9ceabc70ae569a42cbd8aa06 reaches us in `.81`. You can see this below and our playground now uses this as a temporary fix.

---

Jump to a future where **exportparts** is in place:

[code]

Address https://github.

[2022-08-17 11:04] CetinSert commented on #858
@claviska – In addition, I have realized that I also need a `pointer-events` rule as a temporary hack to address another minor, not yet documented regression due to `<sl-popup>` refactoring in `.80`:

[code]

[2022-08-17 12:14] CetinSert commented on #854
@Zozman – if you happen to need a fix for this issue before `.81` releases, please review these 2 comments:
1. <sub>https://github.com/shoelace-style/shoelace/issues/858#issuecomment-1217837273</sub>
2. <sub>https://github.com/shoelace-style/shoelace/issues/858#issuecomment-1217862576</sub>

[2022-08-17 12:50] #858 closed, assigned to claviska

[2022-08-17 13:01] claviska commented on #856
I believe this has been resolved per #854, as the tooltip was not correctly setting a z-index after the popup refactor.

I'll be releasing `beta.81` shortly, so if the issue persists, please open a new issue and reduce your test case so I can better understand what's happening.

[2022-08-17 13:02] claviska commented on #852
Closing because I can't repro. If you're able to provide more info, I'll be happy to take a closer look!

[2022-08-17 13:02] #852 closed, assigned to claviska

[2022-08-17 13:03] claviska commented on #850
Closing this as "too soon." It's probably best to wait for #550 so we can evaluate whether or not `<sl-range>` will be able to replace the sliders in the color picker.

[2022-08-17 13:03] #850 closed, assigned to claviska

[2022-08-17 13:06] CetinSert commented on #856
@claviska – this is independent from `z-index`.

Here a dropdown with long contents makes the page viewport larger!
![image](https://user-images.githubusercontent.com/27027/185142852-a7e084ee-a959-4ee7-a392-907aed1a3b22.png)

Earlier `max-height`, `max-width` was explicitly calculated in the library preventing this and overflow, thus scrolling was contained inside the dropdown itself.

---

The st

[2022-08-17 13:08] claviska commented on #842
I'm going to close this as "out of scope." While I appreciate your use case, I don't believe "hoisting" nested form controls is the right behavior for custom elements. As mentioned before, this can result in name/value collisions and there's no clear method to opt _out_ of such behavior. IMO, this should be an opt _in_ behavior that can be facilitated by a custom directive, reactive controller, or

[2022-08-17 13:08] #842 closed, assigned to claviska

[2022-08-17 13:12] CetinSert commented on #856
@claviska – I have marked the issue on the screenshot.

[2022-08-17 13:20] CetinSert opened #859 "`<sl-dropdown>` content overflow regression introduced in `2.0.0-beta.80`"
@claviska – Reopening https://github.com/shoelace-style/shoelace/issues/856 after updating a screenshot with markers.
This is independent from `z-index`. (Also re-confirmed after the `z-index` piece manually, before asking for your time again.)

Here a dropdown with long contents makes the page viewport larger!
![image](https://user-images.githubusercontent.com/27027/185142852-a7e084ee-a959-4ee7-a

[2022-08-17 13:22] claviska commented on #856
I see that, but I can't replicate it outside of your environment. Both popup and dropdown are working as expected for me. I'm specifically testing dropdowns with lots of menu items so they exceed the viewport, and the `auto-size` feature of popup appears to be working fine.

![CleanShot 2022-08-17 at 09 18 49](https://user-images.githubusercontent.com/55639/185144349-7ed3dbc7-2258-40c2-89b8-25b131

[2022-08-17 13:22] claviska commented on #859
See https://github.com/shoelace-style/shoelace/issues/856#issuecomment-1218004372

[2022-08-17 13:22] #859 closed, assigned to claviska

[2022-08-17 13:24] CetinSert commented on #856
@claviska – thank you for the prompt response! I will let you know if it ever re-appears. Currently I have applied a quick fix myself and I also don't have more time to take a deeper look.

[2022-08-17 13:27] claviska commented on #856
OK, should I close this then? There are some updates that you may not be testing with that may very well solve it, but if you can't be bothered to make a test case then this issue is going to sit and rot.

[2022-08-17 13:27] CetinSert commented on #856
Let's not make it rot. I will close this for now then.

[2022-08-17 13:36] CetinSert commented on #856
Actually I could reproduce it minimally between `.79` and `.80`.

1. Visit this link: [https://rt.ht/⋯](https://rt.ht/#oi=0&/=%3Clink++++rel%3Dstylesheet+href%3D//cdn.jsdelivr.net/npm/%40shoelace-style/shoelace%402.0.0-beta.79/dist/themes/light.css%3E%0A%3Cscript+type%3Dmodule++++++src%3D//cdn.jsdelivr.net/npm/%40shoelace-style/shoelace%402.0.0-beta.79/dist/shoelace.js+reload%3E%3C/script%3E%0A%0A

[2022-08-17 13:37] CetinSert commented on #856
✔️ `.79`

![image](https://user-images.githubusercontent.com/27027/185148461-0ee323f7-5dbc-4816-90bc-915363799446.png)

---

vs

---

❌ `.80`

![image](https://user-images.githubusercontent.com/27027/185148474-27b556f0-2202-4d00-8ddc-5cb006bb8955.png)

[2022-08-17 13:43] CetinSert commented on #856
Manually selecting the `<sl-popup>` and applying (`$0.autoSize = true`; (`$0.autoSize` was false)) in the shadow root of the `<sl-dropdown>` does not help either.

[2022-08-17 13:44] claviska commented on #856
Since beta.81 was just released, can you make sure to update to that version? Thanks!

[2022-08-17 13:45] CetinSert commented on #856
Yeah, one second.

[2022-08-17 13:46] CetinSert commented on #856
✔️ `.81` – yahoo! It is fixed.
![image](https://user-images.githubusercontent.com/27027/185150168-901ea701-cfde-41e9-8138-e7673700824c.png)

[2022-08-17 13:46] #856 closed, assigned to claviska

[2022-08-17 15:04] shaal commented on #852
I reset my settings of VoiceOver, and I can no longer replicate that.
Not even sure what was the setting that caused that behavior...
¯\_(ツ)_/¯

[2022-08-17 15:07] numankhan4 commented on #134
@claviska,
How can we integrate third party component in showlace? As the show lace component dosn't have the data table component currently. I want to use the smart html table component https://www.htmlelements.com/demos/table/overview/.

[2022-08-17 16:11] claviska commented on #134
Shoelace can be used in conjunction with any other component or library you'd like to use. There's nothing special required to use both.

[2022-08-17 19:53] CetinSert opened #860 "`<sl-dropdown>` cannot keep content in viewport (regression in `2.0.0-beta.81`)"
### Describe the bug
In version `.81`, `<sl-dropdown>` cannot keep its content in viewport. This is a regression.

One example is described here with a playground link and screenshots.
[Another example is described in the next comment with a playground link and a video.](https://github.com/shoelace-style/shoelace/issues/860#issuecomment-1219413168)

### To Reproduce
Steps to reproduce the behavior

[2022-08-17 21:11] p-takagi-atilano opened #861 "Add a max number of rows to <sl-textarea>"
### What issue are you having?
I would like be able to have text areas that auto resize, to a certain number of maximum displayed rows

### Describe the solution you'd like
minRows and maxRows props for Textarea, similar to the mantine component: https://mantine.dev/core/textarea/

### Describe alternatives you've considered
My current solution is to use the mantine component, but please let me kn

[2022-08-17 21:50] claviska commented on #861
Shoelace textareas don't measure rows. The `resize="auto"` feature uses `scrollHeight` to determine the required height and updates the size based on that.

https://github.com/shoelace-style/shoelace/blob/7a6144d8c44d742dabf6db4560df7dc03899ae24/src/components/textarea/textarea.ts#L253-L256

However, you can limit it with a fixed height using CSS.

[code]

Example: https://codepen.io/claviska/pen/

[2022-08-18 00:29] shaal opened #862 "Split panel on Chrome mobile breaks when clicking on the line"
### Describe the bug
When viewing Split panel component on Chrome on Android, or on desktop + devtools + mobile mode, clicking on the line between the 2 sides break the component.

### To Reproduce
Steps to reproduce the behavior:

1. On Chrome (mobile or mobile mode)
1. Go to the first example https://shoelace.style/components/split-panel?id=examples (or to their codepen link)
1. Click on the lin

[2022-08-18 04:02] numani2c commented on #134
@claviska
I want to use a third-party package of table components as a shoelace child component. I did import the package inside the shoelace component but it doesn't work. Can you please reference how we can add a third-party package to the shoelace library?

[2022-08-18 12:08] CetinSert commented on #860
@claviska – Here is a vertical example with video capture you can play right on this GitHub issue page!

Please note that here, unlike above, the trigger is entirely in the viewport.

1. Go to this sync: [**//rt.ht/⋯**](//rt.ht/x/#h=1&oi=0&/=%3Clink+rel%3Dstylesheet+href%3D//cdn.jsdelivr.net/npm/%40shoelace-style/shoelace%402.0.0-beta.81/dist/themes/light.css%3E%0A%3Cscript+++type%3Dmodule+src%3D/

[2022-08-18 12:12] mjaggard commented on #269
@jaredcwhite
So it sounds like I'm choosing the "don't use Shoelace" option then? By which I mean that I need to re-implement my own label, help text, behaviour, style based on `input` not `sl-input`, etc. etc. because I can't use any of the built-in behaviour or style in Shoelace?

[2022-08-18 12:18] claviska commented on #269
It's worth noting that [the spec states](https://github.com/whatwg/html/pull/2149/files) to specifically include support for this. The bug is old, but there's recent activity on it so hopefully this will be a non-issue sooner than later.

If anyone wants this feature, please star [this Chromium bug](https://bugs.chromium.org/p/chromium/issues/detail?id=649162) since stars seem to influence priorit

[2022-08-18 12:43] #862 closed, assigned to claviska

[2022-08-18 12:44] claviska commented on #862
Good catch! Fixed in c8f42c5.

[2022-08-18 13:14] mjaggard commented on #269
Thanks. I've starred that bug in the past. I've updated to the latest Shoelace and now it works iff I run Chrome Canary with `--enable-blink-features=AutofillShadowDOM` - in a previous release of Shoelace it wasn't working at all, even if I did use that flag.

[2022-08-18 17:19] CetinSert commented on #860
Temporarily worked around with `<sl-popup>.autoSize = false` because all of my `<sl-dropdown>`s are contained in the header which makes it possible use a single rule (`sl-dropdown::part(panel) { max-height: ⋯ }`) with a trivial calculation.

I have to say all this is really only possible and easy because of how well-designed [Shoelace](https://shoelace.style/) is! It truly is a gem of a library th

[2022-08-19 15:44] jaredcwhite commented on #269
Baby steps…

[2022-08-19 18:21] #860 closed, assigned to claviska

[2022-08-19 18:22] claviska commented on #860
Replicated and fixed in 1996037. The `auto-size` attribute was resizing both horizontally and vertically. This is now configurable in `<sl-popup>` and set to `vertical` in `<sl-dropdown>`, which restores the previous and desired behavior.

[2022-08-22 13:45] arackaf opened #867 "Dialog animations - overlay outliving the dialog results in dialog's end-animation styles resetting"
### Describe the bug

If a dialog's overlay's hide animation takes longer than the dialog's hide animation, the dialog's styles revert once the dialog's animation has finished, but while the overlay is still going. This means the dialog re-appears.

[code]

### To Reproduce
Steps to reproduce the behavior:

No repl - see code above. I assume the hide animations need something like

[code]

### Dem

[2022-08-22 16:25] claviska commented on #867
Repro'd and confirmed. I'll get a fix for this soon...thanks for the report!

[2022-08-22 23:36] johnspurlock commented on #413
New to Shoelace, and this sounds very useful for new prototypes - is a preview version of this core element stylesheet available on a cdn somewhere?

[2022-08-23 05:43] nileshtrivedi commented on #654
I created a tags input with `<sl-input>` with multiple `<sl-tag>` in the `prefix` slot using SvelteJS:

<img width="292" alt="image" src="https://user-images.githubusercontent.com/19304/186078594-71bbb6e3-823c-4b94-91ac-da7f9208fa0e.png">

Demo: Go to https://grapherx.netlify.app/ and select the "Algebra" node.
Code is here: https://codeberg.org/nilesh/grapher/src/branch/main/src/TagsInput.svelte

[2022-08-23 13:00] #867 closed, assigned to claviska

[2022-08-23 13:03] claviska commented on #867
~Fixed by applying `fill: 'forwards'` to the internal `animateTo()` function. This is a better default than `none` since most of the time we'll want the component to remain as it was animated.~

~This fix will be available soon in 2.0.0-beta.82.~

[2022-08-23 14:25] jaredcwhite commented on #654
@nadenf I built this control a while back:

https://github.com/whitefusionhq/sl-tags-input

It hasn't been properly vetted for accessibility, but it might help you in a pinch.

[2022-08-23 15:00] claviska commented on #867
While the patch in 326816e fixed the issue for dialogs/drawers, it caused issues with tree/tree item where the focus ring was clipped due to the leftover animation styles. 🙈

I reverted that fix and, instead, improved the animation logic in both dialog and drawer to account for different durations. Both components now work as expected, although I would caution users that using a longer animation f

[2022-08-23 15:31] tigrr opened #868 "Support Preact Typescript"
### What issue are you having?
It looks like right now Shoelace's React version's type definitions don't work with projects in Preact. The components themselves work, but the props' types information is missing.

I created [a demo project on GitHub](https://github.com/tigrr/shoelace-preact-test). It is created using Vite `preact-ts` template. Please clone it and try to open the `src/app.tsx` file

[2022-08-23 16:08] claviska commented on #868
I'd love to support this, but I'm also not sure what the right solution is. I'll dive in when I get some time, unless somebody has a suggestion here.

[2022-08-23 20:55] claviska commented on #413
There's nothing to preview just yet. It's still on the TODO list.

[2022-08-24 00:14] e111077 commented on #778
For slot selection, since we don't have a proper CSS solution right now, what if we ask users that want to support SSR with no FOUC to manually say whether or not the element has a slot etc. For example sl-select:

[code]

### SSR Users

This will allow shoelace to be SSRd, and once hydrated on the client, `HasSlotController` can kick in and make sure the render is correct and update styles. If th

[2022-08-24 00:53] arackaf commented on #867
Awesome man - thanks so much!

[2022-08-24 01:37] ghost opened #869 "The color picker component doesn't seem to honor the initial opacity value"
### Describe the bug
`<sl-color-picker opacity value="#00000000" />`  -- expected transparent checker but shows black
`<sl-color-picker opacity value="rgba(0,0,0,0)" />`  -- expected transparent checker but shows black
`<sl-color-picker opacity value="rgba(255,0,0,0.5)" />`  -- expected transparent red but shows red

[2022-08-25 10:07] xdev1 opened #871 "Tree component not working properly in shadow DOM"
### Describe the bug
When the tree component is used in shadow DOM then the keyboard navigation is not working.

### To Reproduce
Please try to use the keyboard navigation in the tree element of this demo and you will see that it is broken:
https://jsbin.com/zewifakuke/2/edit?html,output

### Source of this bug

The bug can be found here:
https://github.com/shoelace-style/shoelace/blob/e42beab336a

[2022-08-25 11:03] xdev1 opened #872 "TabGroup component not working properly in shadow DOM"
### Describe the bug
When the TabGroup component is used in shadow DOM then the keyboard navigation is not working.

### To Reproduce
Please try to use the keyboard navigation in the tab group element of this demo and you will see that it is broken:
https://jsfiddle.net/du0cLgmz/

### Source of this bug

The bug can be found here:
https://github.com/shoelace-style/shoelace/blob/e42beab336a5bca3bdd

[2022-08-25 12:48] #869 closed, assigned to claviska

[2022-08-25 13:01] claviska commented on #869
Thanks for reporting this! I've fixed it in dfdd7c7 and added a test in 23b2f93.

[2022-08-25 13:18] #871 closed, assigned to claviska

[2022-08-25 13:18] claviska commented on #871
Thanks! Fixed in ca64d26.

[2022-08-25 13:37] #872 closed, assigned to claviska

[2022-08-25 13:37] claviska commented on #872
Thanks again! FIxed in 105bb08.

[2022-08-25 13:55] claviska commented on #778
The footprint is my biggest concern, but creating a convention might reduce it and make it more mixin-friendly. What about something like this?

[code]

I can probably add `ssr-slots` to [`ShoelaceElement`](https://github.com/shoelace-style/shoelace/blob/next/src/internal/shoelace-element.ts) to make this a lot easier.

It would need to support default slots too, which are currently represented by

[2022-08-25 14:50] LeaVerou opened #873 "Incorrect width for tooltip used in shadow DOM"
I'm using `<sl-tooltip>` in the shadow DOM of another component and its auto generated width is way too small:

<img width="227" alt="image" src="https://user-images.githubusercontent.com/175836/186694505-25d36b26-1e7f-4774-94f5-e9ec9656d553.png">

Reduced testcase: https://codepen.io/leaverou/pen/XWEwNxN/f5ead841db43e3316ed32e1c3b2ad2e6?editors=1010

I’m reporting this is a bug because this auto

[2022-08-25 14:58] ghost commented on #869
Thanks for taking care of this.  Will check it out.

[2022-08-25 15:48] cetinsert commented on #873
I am looking into this.
The issue starts with `inset`.

[2022-08-25 15:54] CetinSert commented on #873
I am looking into this. The issue starts with `inset` and worsens with `left`.

`<sl-tooltip hoist ⋯>` does help!

---

Reduced fix case: [**`//rt.ht/⋯`**](//rt.ht/#oi=0&/=%3Cscript+type%3Dmodule%3E%0Aimport+%27https://cdn.jsdelivr.net/npm/%40shoelace-style/shoelace%402.0.0-beta.82/dist/components/tooltip/tooltip.js%27%3B%0A%0Alet+css+%3D+%60%0A:host+%7B%0A%09position:+relative%3B%0A%09display:+in

[2022-08-25 16:15] LeaVerou commented on #873
Thanks for the workaround! I hadn't realized hoist would also affect dimensions.

[2022-08-25 16:18] LeaVerou opened #874 "Do not error if Shoelace is imported multiple times from different URLs"
I'm working on a project which imports the entirety of Shoelace, from a local install.
I was also working on a component which cherry picks specific elements and imports them from the CDN.
When I imported said component into the larger project…

<img width="998" alt="image" src="https://user-images.githubusercontent.com/175836/186717181-818c57a3-b98d-4ad5-9d5c-ca266d8ff360.png">

Might be a good i

[2022-08-25 20:09] xdev1 opened #876 "Bug in Tree+TreeItem components + enhancement"
Bug in the tree component:
Please have a look at the following demo on the Shoelace documentation site:
[Tree component: Custom expanded/collapsed icons](https://shoelace.style/components/tree?id=custom-expandedcollapsed-icons)
Obviously you do not see any custom expand/collapse icons as the description promises.
The reason for this bug is that the former slot names "expanded-icon" and "collapsed-

[2022-08-25 20:10] xdev1 opened #877 "Bug in Tree+TreeItem components + enhancement"
Bug in the tree component:
Please have a look at the following demo on the Shoelace documentation site:
[Tree component: Custom expanded/collapsed icons](https://shoelace.style/components/tree?id=custom-expandedcollapsed-icons)
Obviously you do not see any custom expand/collapse icons as the description promises.
The reason for this bug is that the former slot names "expanded-icon" and "collapsed-

[2022-08-25 20:17] xdev1 commented on #877
Double submit -> see #876 -> closing this issue

[2022-08-25 20:17] #877 closed, assigned to claviska

[2022-08-25 20:24] #876 closed, assigned to claviska

[2022-08-25 20:24] claviska commented on #876
Thanks. I missed that when I updated the names. I'd welcome a PR for the animations, but we need to figure out how to make it optional since it doesn't make sense for all icons.

[2022-08-25 20:32] xdev1 commented on #876
Only for the default icons. For custom icons the user will have to take care on her own. I guess 99% of all "custom icon" cases will be some "plus icon vs. minus icon" stuff which will not need animation.

[2022-08-25 20:50] claviska commented on #874
Components are using Lit's `@customElement` decorator, which is where the registration occurs. I think we might _want_ to keep this error, since nothing is breaking and swallowing it could lead to confusion. For example, if folks are loading two different versions of a Shoelace component with different APIs, there won't be any indication that there's a tag collision or that something went wrong.

[2022-08-25 21:22] #873 closed, assigned to claviska

[2022-08-25 21:30] claviska commented on #873
This has been fixed in b6edba9 by applying `width: max-content` so the tooltip doesn't wrap until it reaches the max width defined in `--max-width`, which is 320px by default.

Another workaround until beta.83 is out is to add this to your component's styles:

[code]

I hope that helps!

[2022-08-25 22:24] xdev1 opened #879 "Naming issue in tree component"
Please have a look at the following code snippet (taken from the [SL doc site](https://shoelace.style/components/tree?id=custom-expandedcollapsed-icons)):

[code]

   Am I the only one who is convinced that the slot for `plus-square` should be called `expand-icon` and the slot for `dash-square` should be called `collapse-icon`, not the other way round?
This is a relic from having renamed the slots

[2022-08-25 23:26] e111077 commented on #778
I love the idea of using `ssr-` to denote "YOU ARE DOING THIS TO YOURSELF" but a little less of a fan of `-slots` because it sounds a bit leaky compared to `has-icon`. Regardless, I like it much better overall than my suggestion. What would it look like in the mixin?

[code]

In terms of other missing things I'm not totally sure because one error might be hiding another one. I'll take a look at se

[2022-08-26 10:14] LeaVerou commented on #874
To clarify, I wasn't suggesting you swallow. I suggested you print out a *warning* if the versions are different (if they are the same not sure there's anything to warn about). It seems a little draconian to throw for this. But yeah, I'd have no idea how to do that with Lit. Hopefully @justinfagnani can help!

Yup! Though if a library is doing the registration, no idea how you'd tell it to use sco

[2022-08-26 10:15] LeaVerou commented on #874
Yup! Though if a library is doing the registration, no idea how you'd tell it to use scoped registries.

[2022-08-26 10:36] xdev1 opened #882 "Lazy loading feature in SlTree is not working properly"
Please have a look at the following demo at SL's doc website:
https://shoelace.style/components/tree?id=lazy-loading

Please click on several items (=> all clicked items will be selected) and also try to unselect them afterward (=> not possible).
Also, please check the keyboard navigation in this demo (=> not working).
I guess, this is not the intended behavior.

Same in all browsers.

[2022-08-26 13:12] #879 closed, assigned to claviska

[2022-08-26 13:20] claviska commented on #861
I'm closing this since I'm pretty sure it's not possible to reliably get the row height. I suggest using a `max-height` that makes sense for your selected font/size/line height as shown above.

If I've overlooked something that makes it possible to cleanly and reliably get the row height, I'll be happy to improve the existing code and add such an attribute.

[2022-08-26 13:20] #861 closed, assigned to claviska

[2022-08-26 14:28] #882 closed, assigned to claviska

[2022-08-26 14:28] claviska commented on #882
Thanks for reporting this. Fixed in a3d00a9.

[2022-08-26 22:02] benbarbour opened #884 "sl-tree console error"
### Describe the bug
Using a esbuild bundled shoelace (2.0.0-beta.82), placing a simple `sl-tree` with one `sl-tree-item` inside causes this error message. Behaviour doesn't seem affected in my (limited) testing.

[code]

It's trying to call getAttribute() on a text node with a value of "\n", here: https://github.com/shoelace-style/shoelace/blob/a3d00a92a0078e80d4529a6a60104aeb713c138b/src/compone

[2022-08-29 03:51] arackaf opened #885 "active-base part for tabs"
### What issue are you having?
I've like to change the cursor of tab headers which are active

### Describe the solution you'd like

Tab headers already have a part of `base`, but it turns out you cannot chain class selectors onto part selectors, so

[code]
does nothing.

https://github.com/w3c/csswg-drafts/issues/3431

BUT you can have more than one part on an element. Would it be possible to get

[2022-08-29 08:15] bunesk commented on #885
I guess using `sl-tab[active]::part(base)` instead should already work.

[2022-08-29 12:50] arackaf commented on #885
@Buni48

Oof - this was painful. Never mind - sorry to waste anyone's time. This is obviously the right way to do this.

[2022-08-29 12:50] #885 closed, assigned to claviska

[2022-08-29 16:50] austinzhang1018 opened #886 "Form Submit Controller Import is not found in dist"
### Describe the bug
In `/dist/components/radio-group/radio-group.d.ts`, the FormSubmitController is imported from `src/internal/form` instead of the correct relative path `../../internal/form`.

This is causing a typescript compilation error when used in typescript projects

[code]

### To Reproduce
1. Build the project
2. Open the radio-group.d.ts file has an import from the src directory

[2022-08-30 02:19] fabricedesre opened #888 "<sl-input> 'invalid' property is updated after the 'sl-input' event is dispatched"
### Describe the bug
Checking the input.invalid property in a sl-input event handler does not always return the correct value, because internally the invalid property is updated after the event is dispatched.

### To Reproduce

Use the following html:
[code]

and JS:
[code]

[2022-08-30 14:17] #886 closed, assigned to claviska

[2022-08-30 14:18] claviska commented on #886
Thanks for reporting this. I found a few other paths that were being imported the same way and updated them all in 3a6890. These changes will be available in the next beta release.

[2022-08-30 16:56] #884 closed, assigned to claviska

[2022-08-30 16:59] claviska commented on #884
Thanks for the report. I wasn't able to reproduce this, but 237cda3 adds optional chaining to that statement to prevent non-element nodes from breaking things.

[2022-08-31 06:15] xdev1 opened #890 "Missing CSS part for SlTreeItem"
1. The SlTreeItem component should also have a CSS part for the expand button (=> ` div.tree-item__expand-button`).
Reason: For example, for a specially styled simple two-level left-side navigation, you might want to use SlTree but you may want that expand/collapse button on the right side (similar to sl-detail).

    The `part` attribute should be added here:

    https://github.com/shoelace-styl

[2022-08-31 06:25] Zozman opened #891 "Progress Bar Component Set With `indeterminate` Attribute Is Not Animated In Mobile Safari"
### Describe the bug
In the latest versions of Mobile Safari, the `indeterminate` version of `sl-progress-bar` is not animated.

### To Reproduce
Steps to reproduce the behavior:

1. Create a `<sl-progress-bar>` with the `indeterminate` attribute.
2. View the component on an iOS device using Mobile Safari.

### Demo

The issue can be observed by viewing the component's documentation at https://sho

[2022-08-31 10:40] hgriga opened #892 "Distance Attribute for Sl-select"
### What issue are you having?

The dropdown in sl-select is covered by a menu.

![image](https://user-images.githubusercontent.com/81759879/187659575-a49c579d-171d-4e76-954f-93fcd13d8f3f.png)

### Describe the solution you'd like
The SL-Menu has a property "distance".
The SL-Select should also have this property and pass it to the child SL menu.

Or there should be a slot to override the SL-Menu

[2022-08-31 21:11] claviska commented on #892
You can use the `hoist` attribute to pop the menu out of a container that clips it. This works around a gap in the platform — something that [`<popup>`](https://open-ui.org/components/popup.research.explainer) intends to solve, should it ever ship.

[code]

[2022-08-31 21:11] #892 closed, assigned to claviska

[2022-09-02 19:19] #891 closed, assigned to claviska

[2022-09-02 19:20] claviska commented on #891
Thanks for posting this! It looks like Safari doesn't want to animate `inset-inline-start`. I've reverted the animation to use non-logical properties, but the opposite animation for RTL.

[2022-09-05 12:51] trailsnail commented on #892
Bad design on our site: the navigation was positioned sticky with a z-index, which unfortunately is a bit above `--sl-z-index-dropdown`. 🤣
Solution: in our case simply adjust the theme 🤦🏻‍♂️

[2022-09-05 16:52] #890 closed, assigned to claviska

[2022-09-05 20:02] CrookedGrin opened #900 "Coachmark component"
### What issue are you having?
My team has a need for a coachmark component, like this one in Adobe Spectrum: https://opensource.adobe.com/spectrum-web-components/components/coachmark/.  Coachmarks are used to guide users to a specific place on the screen, similar to a pulsing badge, but transparent or hollow so they can be positioned above other elements. An example of usage would be an onboardin

[2022-09-06 15:12] claviska commented on #900
I'm pasting my response to your PR here since I didn't notice this issue was created _after_ the PR. Apologies for the confusion!

---

I'm open to introducing a coachmark component, but I'd prefer not to conflate badge with coachmark since they have very different usages and meanings. I don't believe there are any accessibility concerns with your approach, since coachmarks as primarily visual, bu

[2022-09-06 15:25] CrookedGrin commented on #900
Yeah, that makes sense; I was actually re-thinking it after I submitted the PR and coming to the same conclusion.

I'm about to head out of the country for a couple weeks, so I'm not sure if I'll be able to get a new PR in before I leave, but if not I'll do so when I get back.

Thanks,
Michael

[2022-09-09 03:25] CetinSert opened #905 "`<sl-range>` overflows its container"
### Describe the bug
See the title or the screenshot.

### To Reproduce
Steps to reproduce the behavior:

1. Go to [**`pw.rt.ht`**](//pw.rt.ht) 👈🏻<br><small>(<ins>**p**</ins>ass<ins>**w**</ins>ord.<ins>**r**</ins>eal-<ins>**t**</ins>ime.<ins>**h**</ins>yper<ins>**t**</ins>ext)</small>
2. See horizontal overflow ❌
3. Right-click/long-tap on `<sl-range>` to remove it 🖱️
4. See horizontal overflow go

[2022-09-09 05:09] SabineWren opened #906 "`<sl-split-panel>` improvements"
I replaced an in-house split-panel with the Shoelace one. It works well, but could use some minor ergonomic improvements.

Discrete snapping requires specifying every snap point. When points are close together, the panel snaps to `position=100` unless lowering the snap threshhold to match. The threshold only accepts pixels, not percents, which may lead to edge cases with nested split-panels.
[code

[2022-09-09 07:00] CetinSert commented on #905
We have also noticed:
* [`<sl-tooltip>`?id=css-custom-properties](https://shoelace.style/components/tooltip?id=css-custom-properties) 📖 does not list [`--sl-tooltip-arrow-size`](https://shoelace.style/components/tooltip?id=removing-arrows).
* `<sl-range>` does not use `<sl-tooltip>` internally.
  * no way to programmatically access the tooltip

[2022-09-09 10:50] alenaksu commented on #884
I believe this was due to the comment nodes that lit uses as placeholders which do not implement the Element interface.

[2022-09-09 13:10] claviska commented on #905
This can be replicated in the docs using:

[code]

The result is consistent in all browsers. At first glance, it appears the underlying `<input>` causing the problem, but it has `width: 100%` and no padding/margin. Box sizing is set to `border-box` as well.

Trying to narrow this down, I discovered this isn't unique to Shoelace. It happens to `<input type="range">` with 100% width.

[code]

Exampl

[2022-09-09 13:19] claviska commented on #905
This is a tricky one. [I sent a tweet out](https://twitter.com/claviska/status/1568225854454640641?s=20&t=k69cGSY_lwSS3a-uYyw33w) to see if anyone has an idea why this happens. So far, the only workaround I've been able to come up with is to use this in the component's styles.

[code]

The 4px seems arbitrary, but it's consistent in all browsers. I'm not sure where it's coming from, though.

For n

[2022-09-09 13:24] claviska commented on #906
Snapping was designed to let the split panel snap at a handful of important points. What's the use case for having it snap at every 5%? That seems excessive and would likely be annoying for users.

Can you show me an example of the API you'd like to see?

[2022-09-09 13:38] #905 closed, assigned to claviska

[2022-09-09 13:40] claviska commented on #905
Solved thanks to an implicit margin that I missed the first time around. Thanks, Twitter!

[2022-09-09 13:50] CetinSert commented on #905
@claviska – I have to say I do truly envy your twitter fame 😅! Seems super helpful.

Thank you all for looking into this. We are making the best (Shoelace) just better 🚀!

[2022-09-09 16:27] cpt22 opened #907 "SL-Input does not properly handle 'any' value for input step attribute"
https://github.com/shoelace-style/shoelace/blob/39d1bbed2c7f322fa080dcf9e2f10c12a40b8ee1/src/components/input/input.ts#L405

The value is cast as a number resulting in the 'any' value becoming NaN in the rendered html.

[2022-09-10 00:08] fabricedesre commented on #888
@claviska  any hint on how to fix that?

[2022-09-10 11:09] SabineWren commented on #906
I'm using split panels for the binary tree mode of a tiling window manager. A 1% step size makes it easy to size adjacent windows exactly the same, instead of having them differ in size by a pixel or so. All window managers I've ever used enforce a minimum window size, but a px measurement makes more sense for min size than the 5% I gave above.

Just spitballing... two new attributes would work. C

[2022-09-10 11:14] SabineWren commented on #906
I just noticed tmux enforces a vertical step size of 1 line height, and a horizontal step size of 1 character. Its min sizes are the same, so there's another use case for discrete sizing if putting text in a split-panel.

[2022-09-12 12:29] claviska commented on #907
Where are you seeing NaN being rendered? Here's the result of

[code]

where you can see the rendered input in the shadow DOM with the correct value.

<img width="1101" alt="CleanShot 2022-09-12 at 08 24 49@2x" src="https://user-images.githubusercontent.com/55639/189652721-04798812-2ae5-45ae-8568-5f4e49f80ed0.png">

Note that only the type is being cast on this line. The value of the attribute isn

[2022-09-12 13:14] claviska commented on #906
This makes the API confusing, as users now have to wrestle with not one, but three attributes that all affect snapping.

Since snap positions can be specified in pixels and/or percentages, it would probably be better to let users determine which points to snap to based on size, tolerance, and any other variables that are important to them.

Remember that split panels aren't designed to be a grid w

[2022-09-12 13:32] claviska commented on #888
A workaround looks like this:

[code]

This is a lifecycle issue and I'm debating a couple ways to solve it, as it isn't unique to `<sl-input>`. One idea is to create a deferred emitter that waits until the update is complete before firing off the event. The question is should that be the _default_ behavior for most/all events or not.

A proper fix for this requires more analysis and testing. Than

[2022-09-13 10:11] SabineWren commented on #906
Just 2, and they'd be mutually exclusive.
[code]

A third padding attribute would affect the range of valid points, rather than snapping behavior of those points. It would default to [0%, 100%].

There might be another solution. Instead of adding properties to handle every split-panel use case, why not expose a validation callback? That would give the developer full control of snapping behaviour:

[2022-09-14 15:49] claviska commented on #906
I'm interested in the idea of a callback. What if `snap` accepted either a string containing snap points (like it does right now) OR a function that lets the callback determine whether to snap. It could potentially offer some helpful arguments, maybe width/position or something.

[code]

Not sure if this would work without diving back into the source, but it feels like this might be a way to keep

[2022-09-15 06:25] SabineWren commented on #906
That would solve my use case. If the details includes width and percentage, I can calculate new position in px from a percentage and snap to it.

[2022-09-15 18:30] mpharoah opened #913 "[Feature Request] Make toggling the visibility of password fields a public method in the sl-input component API"
### What issue are you having?
I would like to be able to programmatically toggle the visibility of text in password input fields. There already exists a state for this; however it is not part of the stable API (and thus is subject to change in future versions) and it is not a public attribute, so you need to do some funny casts to use it with Typescript.

My use case for this is that I have a but

[2022-09-16 19:09] kazk opened #915 "`<sl-select>` is slow to open inside `<sl-drawer>`"
### Describe the bug

`sl-select` component inside `sl-drawer` is extremely slow since `2.0.0-beta.81`.
`sl-select` is broken inside `sl-drawer` in `2.0.0-beta.80`.
`2.0.0-beta.79` works as expected.

It's very noticeable with many items.

### To Reproduce
Steps to reproduce the behavior:

1. Add `sl-select` with many items inside `sl-drawer`
2. Open `sl-drawer`
3. Use `sl-select`

The same `sl-se

[2022-09-16 19:13] claviska commented on #915
Thanks for the issue. I believe this is the same problem as mentioned in #902. I'll take a look!

[2022-09-16 19:27] #913 closed, assigned to claviska

[2022-09-16 19:29] claviska commented on #913
Thanks for providing your use case. I've added the `password-visible` attribute and, for consistency, renamed `toggle-password` to `password-toggle`. This also groups them in the docs so they're more discoverable.

This update will be available in the next release.

[2022-09-19 11:40] xdev1 opened #916 "sl-range has rtl issues"
The "track color active/inactive" feature of `sl-range` is not working properly when the direction is right-to-left.

Please have a look at [this demo](https://codepen.io/xdev1/pen/zYjwLEb?editors=1000)

[2022-09-19 12:19] #916 closed, assigned to claviska

[2022-09-19 12:22] claviska commented on #907
Closing this because I can't replicate what you're reporting and I haven't heard anything back. If you have additional information about this, please comment here and I'll reopen and investigate. Thanks!

[2022-09-19 12:22] #907 closed, assigned to nobody

[2022-09-19 12:28] claviska commented on #778
To update: all of the aforementioned issues have been resolved now _except_ for slot detection.

What would be the best "standard" way to move forward with an alternative for slot detection? Before we do custom things, is there any emerging best practice for doing this in Lit or other libraries?

[2022-09-19 12:39] claviska commented on #915
I replicated the issue and, per @atomiks suggestion [in this discussion](https://github.com/shoelace-style/shoelace/discussions/902#discussioncomment-3607642), have confirmed that [the polyfill introduced here](https://github.com/floating-ui/floating-ui/pull/1835/files) introduced this behavior in Floating UI 1.0.1.

**This has been fixed in beta.83.** I've reverted Floating UI to 1.0.0 in 28003ac

[2022-09-19 14:03] claviska commented on #868
[See this tweet](https://twitter.com/RogersKonnor/status/1571860212767944704?s=20&t=QOsr0-mc6fOGy0Tui2z86w) from @ParamagicDev:

He raises a good point. Are you mostly trying to use the Shoelace wrappers idiomatically? If so, did you come across any problems using the custom elements directly?

[2022-09-19 16:32] justinfagnani commented on #778
Awesome news!

For slot detection, I think we should investigate whether Lit can support something directly.

I don't _think_ we'd want to support `slot.assignedElement`, because we'd need to support a way to get a HTMLSlotElement, likely via a query. This would be an uncanny valley of DOM support.

But we might be able to add SSR-specific code to something like the [SlotController RFC](https://gi

[2022-09-20 13:08] mpharoah commented on #913
Thanks for the quick response an implementation!

It works perfectly, but I've noticed that vscode is now showing the `password-toggle` attribute as not being a real attribute, though it works fine. I'm not sure if this is an issue with the vscode data not being updated or if this is just a bug in vscode.

EDIT: Looking at the `vscode.html-custom-data.json` and `custom-elements.json` files, everyt

[2022-09-20 14:10] claviska commented on #913
You may need to restart VS Code or one of the plugin's services to see the update.

[2022-09-20 21:52] cyantree opened #917 "Inconsistent emit of `sl-change` events"
This is a follow up from Discord: https://discord.com/channels/739437527907303535/1020332605599662181/1020666965850869801

### Describe the bug

Currently the behaviour of emitting `sl-change` events in Shoelace components isn't
a) consistent and
b) imho doesn't adhere to best practices regarding data flow and native form elements

### My opinion regarding data flow and native form elements

`sl-c

[2022-09-20 21:52] cyantree commented on #917
Related to #264

[2022-09-21 06:34] xdev1 opened #918 "Color issues when using sl-card with dark theme"
Please have a look at the following demo:
https://jsfiddle.net/s4pcy3e6/2/

Shouldn't the card headline and the control label have the proper color and font-family/-size out of the box, without having to style them explicitly? Many thanks.

[2022-09-22 12:33] claviska commented on #918
In some cases, such as form controls, Shoelace currently has an opinion on fonts. While there are design tokens for typography, I'm working to make every component more independent so themes are optional and these opinions don't leak in unless they're set in the theme.

That said, you can expect all components to be _less_ opinionated in the future as decisions like these get offloaded to optional

[2022-09-22 12:33] #918 closed, assigned to claviska

[2022-09-22 13:23] xdev1 commented on #918
That sounds amazing. I'm really looking forward to those advanced possibilities. Would be great if you could share a brief glimpse of your ideas beforehand some day with the community on [abeautifulsite.net](https://www.abeautifulsite.net) or wherever, because I guess everybody may find this exciting. Thanks a lot.

[2022-09-22 13:25] claviska commented on #918
Indeed. There are many promises that require no short amount of effort. I'm working on carving out more time to focus on Shoelace, though. Hang in there! 😅

[2022-09-23 07:54] kazk commented on #915
I just noticed `<sl-select>` is broken inside `<sl-drawer>` on Firefox. Chromium works fine.
Should I open a new issue? Demo: https://jsfiddle.net/kazk/2jsp3Lxe/52

[2022-09-27 21:28] jaredcwhite opened #924 "Light DOM styling strategy for avoiding FOUC"
Something that comes up a lot in discussions around web components is the problem of FOUC (Flash of Unstyled Content).

Two solutions typically get proposed (other than simply hiding things altogether until component rendering JS is complete):

* We can "SSR" the component and use Declarative Shadow DOM. That way the template + styles is included in the HTML sent to the browser to be rendered. Thi

[2022-09-27 21:43] claviska commented on #924
See also this: https://www.abeautifulsite.net/posts/flash-of-undefined-custom-elements/

The final looks the best, but it requires knowledge of which components are used. Because of that, this approach will largely be up to the consumer to implement. In the past, I tried baking in a style using `:defined` but it was reverted to due conflicts. Can’t find the link as I’m on mobile right now, but sea

[2022-09-29 15:07] KonnorRogers opened #925 "Scroll issue inside of a scrollable `<sl-dialog>`"
### Describe the bug

An `<sl-dialog>` on initial focus is not scrollable.

When you do focus it and hit the "ArrowDown" key, the focus appears to be lost and you have to reclick the element.

### To Reproduce
Steps to reproduce the behavior:

1. Go to https://shoelace.style/components/dialog?id=scrolling (scrolling example)
3. Click on "Open Dialog"
4. Attempt to scroll down *EDIT: with arrow key

[2022-09-30 15:00] olbrich opened #926 "<sl-input> clear button visibility behavior"
https://github.com/shoelace-style/shoelace/blob/38f05ff010ae4ed968c728006e06fcfb93cbf936/src/components/input/input.ts#L426-L441

Suggestion:

When using the `sl-input` component with `clearable` set, the clear button is only rendered when there is a value in the field. This can cause the component to resize, which may not be desirable.  One alternative to this approach is to always render the cle

[2022-09-30 15:28] claviska commented on #926
I'm open to a PR that uses `visibility` instead of conditional rendering, but when `clearable` isn't set, we don't want to take that space up as it would result in gap.

Where are you seeing the component change widths when the clear button is shown? I'm not able to reproduce that.

[2022-09-30 21:50] olbrich commented on #926
Here's a visual example...
![image](https://user-images.githubusercontent.com/22176/193360789-db6e4648-713f-40b3-9340-e1fc11c53850.png)
![image](https://user-images.githubusercontent.com/22176/193360861-987ce183-0303-4b1b-aef0-9c5e777f17cd.png)

[2022-09-30 22:08] claviska commented on #926
I understand what you’re saying, but can you provide an example in code? I wasn’t able to reproduce it, so there may be some custom code at play.

[2022-10-01 16:19] olbrich commented on #926
Yeah, I'll see if I can generate an isolated case.

[2022-10-02 07:16] Cbrad24 opened #927 "`<sl-card>` header border radius"
Thanks for the great framework and appreciate the level of detail that has gone into it! Just having a small issue so far with the `sl-card` component when custom styling it.

### Describe the bug
When you specify a header on `<sl-card>` without an image slot, the border radius is not set properly.

### To Reproduce
1. Create an `<sl-card>` component.
2. Set the border radius higher and border col

[2022-10-03 15:27] claviska opened #931 "<sl-radio-button> checked state customization"
### Discussed in https://github.com/shoelace-style/shoelace/discussions/930

<div type='discussions-op-text'>

<sup>Originally posted by **grin** October  3, 2022</sup>
Is there a way to customize the checked state of `<sl-radio-button>`?

I was able to target the "button" part to customize unchecked, hover and active states but can't seem to figure out  how to target the checked state.
So far I h

[2022-10-03 15:53] grin commented on #931
Alternatively, being able to set the variant attribute on `<sl-radio-button>` would also work in my use case. Basically I'm trying to switch my radio buttons from this look:
<img width="311" alt="Zrzut ekranu 2022-10-3 o 17 32 32" src="https://user-images.githubusercontent.com/12468/193618108-eb8aa634-6b73-416f-83b3-bed0f9b34d3b.png">
to this:
<img width="253" alt="Zrzut ekranu 2022-10-3 o 17 32 0

[2022-10-03 15:55] grin commented on #931
And by variants I'm referring to button-group variants: https://shoelace.style/components/button-group

[2022-10-03 16:03] grin commented on #931
Actually the variant solution for customization isn't ideal too, so disregard it (gonna remove those comments, sorry for the noise)

[2022-10-03 20:18] claviska commented on #927
This can be resolved by applying the following styles to the header part of the card:

[code]

<img width="318" alt="CleanShot 2022-10-03 at 16 18 05@2x" src="https://user-images.githubusercontent.com/55639/193672365-7a7994aa-1c38-45ca-8341-e02c46310b39.png">

I'm going to leave this open for now as a TODO to look into making this easier. Perhaps a CSS custom property to control border radii will

[2022-10-04 00:35] Cbrad24 commented on #927
Thanks, I basically did end up doing that, but I wanted to report the issue because from outside the component, I was having difficulty conditionally applying that CSS (without the obvious point of just making it a class). Was trying to use CSS selectors to only apply when internally the card image class was missing for the reason of this:

![image](https://user-images.githubusercontent.com/266915

[2022-10-09 20:31] strowk opened #940 "ResizeObserver loop limit exceeded from dropdown"
### Describe the bug

I am using drop down component ( https://shoelace.style/components/dropdown ) approx the same as the first example. I have written Cypress test, which is clicking on dropdown as soon as test sees it. From time to time the click leads to nothing happening (menu is not opening) and there is always this error thrown in this case: 'ResizeObserver loop limit exceeded from dropdown

[2022-10-11 11:13] bennypowers opened #941 "`disabled` and FACE"
the form-associated custom elements spec [goes out of its way to break](https://github.com/whatwg/html/issues/8365#issuecomment-1271259061) the long standing practice of reflecting `disabled` as a boolean attribute. Shoelace will have to remove that attr when it wires up FACEs

[2022-10-11 14:18] danbirle opened #942 "Cannot style __elements or ::parts as children of a :hover component"
### Describe the bug
Unsure if it's just me who doesn't know how to do it but say that I have <sl-select label="test-label"> and I'm trying to style the label part and color it in red ONLY if the <sl-select> component is in :hover, :focus or :active state.. something like:

### To Reproduce
Steps to reproduce the behavior:

1. Use <sl-select label="test-label"></sl-select>
2. Expect the following

[2022-10-11 15:14] bunesk commented on #942
As far as I know this is not possible due to how css parts work. You can just style the element which is exposed as a css part. You can't give conditions due to elements following this element because it is in the shadow DOM.
My approach would be just using the `form-control` part:
[code]
I tested this and it shouldn't change the color of the select itself or the help text. And if it does anyway,

[2022-10-12 08:48] xdev1 opened #944 "New theme token: --sl-input-required-content-color"
Some UI libraries like `fluentui` and `antd` use red asterisks for labels of mandatory input fields, which looks pretty nice.
Shoelace on the other hand uses only black or white (depending on the theme) asterisks, which does not look that nice IMHO.
Would be great if we could add new theme variable `--sl-input-required-content-color` to make this easily configurable.
I personally would prefer the

[2022-10-12 13:12] claviska commented on #944
I'm fine with this addition since there's no other way to target the asterisk because it's generated in `::after`.

[2022-10-12 13:18] claviska commented on #942
Closing as this appears to have a solution and it's not something Shoelace can address in its source.

[2022-10-12 13:18] #942 closed, assigned to claviska

[2022-10-12 13:20] claviska commented on #941
Not sure I agree with this ideology. It's contrary to how Shoelace works today and how people expect elements to work. Aside from that, how would you target disabled form controls if not for a reflective attribute?

I do plan on refactoring form controls once browser support improves for Element Internals. We'll cross that bridge when we get there, though. Thanks for the heads up!

[2022-10-12 13:20] #941 closed, assigned to claviska

[2022-10-12 13:27] claviska commented on #940
Unfortunately, if this can't be reproduced outside of the test environment, I'm not inclined to spend time trying to fix it. There could be polyfills, overloads, or who knows what going on behind the scenes and that sounds like a time sink that I just can't afford right now.

I'll leave this open for a bit in case someone has time to make a repro outside of Cypress or in case anyone else wants to

[2022-10-12 16:41] trailsnail commented on #944
Maybe that's a good issue for our Hacktoberfest event. We will have a look at this... Setup for contribution is already done and working 😁

[2022-10-12 17:59] justinfagnani opened #946 "Add descriptions to component JSDoc comments"
### What issue are you having?

Most (all?) components don't seem to have descriptions in the custom elements manifest. This is because they don't have main jsdoc comment text - they comments are all jsdoc tags.

### Describe the solution you'd like

Add description text and [`@summary`](https://jsdoc.app/tags-summary.html) short descriptions so that this information can show up in documentation t

[2022-10-12 20:44] claviska commented on #946
Love the idea. I wasn't aware the analyzer would make use of `@summary`.

This might be a good hackathon project since @trailsnail was asking in #943. We could probably take the existing summaries from markdown, bake them into the components, then update the header logic to grab it from there.

If anyone takes this on, please post a reply here. I'll make myself available for guidance as needed!

[2022-10-12 20:59] justinfagnani commented on #946
I don't know if the Open WC analyzer will now, but it should. This is also good for in-IDE experiences with hover-over docs. We'll probably copy comments to some degree with the framework wrapper generator, so it'll be good for React docs too. (cc @kevinpschaaf on that one)

[2022-10-13 04:53] trailsnail commented on #946
If you have a concrete example what you expect, or what exactly todo in code, we can give it a try today.

[2022-10-13 06:40] trailsnail commented on #946
First steps while we are trying are following - use `<sl-alert>` as example:
- Take `Alerts are used to display important messages inline or as toast notifications.` from `alert.md` and put it into first docs line of `alert.ts`
- so `custom-elements.json` is updated to `"description": "Alerts are used to display important messages inline or as toast notifications.",`

We will make a fist PR for th

[2022-10-13 07:55] trailsnail commented on #926
I have some time to have a look into it. First I will try to repproduce it...

[2022-10-13 08:04] trailsnail commented on #926
I suspect the behavior only occurs when you make some changes to the CSS. Here's where a code example would be really helpful, because I can't get it reproduced

[2022-10-13 09:16] fbecker-complex commented on #296
I wrote a test for `sl-tag`: https://github.com/shoelace-style/shoelace/pull/949

[2022-10-13 09:28] fbecker-complex commented on #296
I'm gonna look into the `sl-skeleton` next

[2022-10-14 12:23] claviska commented on #926
Thanks for trying. I suspect the same thing. I'm happy to reopen this if we can reproduce it without any external CSS interfering.

[2022-10-14 12:23] #926 closed, assigned to nobody

[2022-10-14 12:35] #931 closed, assigned to nobody

[2022-10-14 12:36] #927 closed, assigned to claviska

[2022-10-15 15:26] bjarnef commented on #850
I wonder if there a simply way for now to change the sliders from 0 at bottom to 100 at top (currently the code shown previous work the opposite, where 0 is at top and 100 at bottom)?
https://github.com/shoelace-style/shoelace/issues/850#issue-1333229638

[2022-10-15 23:50] KonnorRogers commented on #850
It should be possibly with a transform-origin: left; transform: rotate (-90deg)

[2022-10-16 11:22] bjarnef commented on #850
@KonnorRogers it makes the slider vertical, but it would still require some changes to make it work vertically dragging the handle and clicking the slider.

Instead of `left` it should use `top`: https://github.com/shoelace-style/shoelace/blob/current/src/components/color-picker/color-picker.ts#L742

[2022-10-18 00:53] ghost opened #957 "<sl-button-group> anamolies"
### Describe the bug
Not all direct children of a "button-group" are equal.  A switch, for instance, doesn't show the border and doesn't toggle unless clicked directly on the switch.

### To Reproduce

- [Visit this codepen](https://codepen.io/greddyatpt/pen/XWqQGzL?editors=1101)
- Ensure that the console pane is visible.
- Click the switches directly on them and watch the toggle states and consol

[2022-10-18 06:00] bunesk commented on #957
As the name suggests a button group is there to group buttons. You can't use switches in there. There are some other things you can use if you use a button in them like `<sl-tooltip>` or `<sl-dropdown>` like mentioned in the docs:
https://shoelace.style/components/button-group

[2022-10-18 14:51] claviska commented on #957
The comment above is correct. Switches aren't expected to work inside button groups. What you're looking for is a checkbox-style button, which Shoelace doesn't currently have. (There are [radio buttons](https://shoelace.style/components/radio-button), though.)

[2022-10-18 14:51] #957 closed, assigned to claviska

[2022-10-18 22:08] Cbrad24 commented on #917
Experienced the same issue with `<sl-select>`, from my anonymous Laravel Blade component I used in a Livewire form:

views\components\shoelace\select.blade.php
[code]

First issue I had to solve was that `wire:model` was not binding two way. Livewire was setting the value, but not receiving updates to the component. No problem, thought I'd sprinkle some AlpineJS as a small little hack to get it up

[2022-10-19 08:23] staleo opened #960 "Mobile DuckDuckGo: some components are not properly animated"
Steps to reproduce the behavior:

1. Go to https://shoelace.style/components/dialog
2. Click on 'Open Dialog'
3. See the way dialog is animated: transition is not smooth.

### Browser / OS
 - OS: iOS
 - Browser: DuckDuckGo
 - Browser version: 7.70.6.0

### Additional information
Btw mobile Safari and Chrome browsers under iOS are running well, all transitions are slim and nifty.

[2022-10-19 13:01] claviska commented on #960
I can't reproduce this on the latest iOS (16.0) using the latest DuckDuckGo browser (7.70.7).

https://user-images.githubusercontent.com/55639/196697617-2e306cc4-a27e-4147-86f3-9b3796cfab15.mov

Can you provide more detail? Chances are, this is either hardware related or something in your own code that's interfering with the default animations.

[2022-10-19 13:30] claviska commented on #917
Thanks for the report. I will be auditing all components soon to establish a policy on when and how events are emitted and adding tests to ensure they are emitted consistently. Thanks for your patience!

[2022-10-19 14:53] Cbrad24 opened #963 "`<sl-tree>` issue with event `sl-selection-change`"
### Describe the bug
Issue with `sl-selection-change` event not returning items if you dynamically append additional `<sl-tree-item>` elements after the initial `<sl-tree>` has been initialised.

### To Reproduce
Steps to reproduce the behavior:

1. See below code pen.
2. Open dev tools console.
3. Click on random tree items,
4. Click the create button to dynamically create new tree items.
5. Try

[2022-10-19 23:55] Cbrad24 commented on #963
## Additional Info
Something I failed to mention was these dynamically appended SLTreeItems were operating in a corrupted state inside the SLTree element. I am far from a Javascript developer but I have managed to do some debugging and worked out what the issue was.

In the tree component [here](https://github.com/shoelace-style/shoelace/blob/a78b9fe5bdd1f3ef64d0316d1065e2e221abcc86/src/components

[2022-10-20 23:00] xdev1 opened #965 "Issues with radio group component"
I open this as a bug, as I consider this as a conceptional bug:
The "radio group" component is currently conceptional completely different than other form control components in Shoelace, which really should not be, IMHO.
If the attribute `label` is set (or the corresponding slot is used) this should be handled as for (almost) all other SL form control components, means: the label shall be shown di

[2022-10-21 13:00] claviska commented on #965
This is a valid point. Give me some time to circle back and address this, as I have some other form control-related improvements I'd like to make as well.

[2022-10-21 13:25] claviska commented on #963
Yep, we need to update the item cache when new nodes are added/removed. Without diving in, this does seem like the right solution.

Anyone want to PR this or would you rather me tackle it?

[2022-10-21 14:35] xdev1 opened #968 "Issue with help texts when using horizontal label layout"
@claviska This issue is really **not** urgent at all. Wanted to wait until  SL 2.0.0 will be final to open it, but as you've mentioned that you'll work on some "form control" related improvements soon, the following may be of interest:

Horizontal label layouts will not work properly as [described here](https://shoelace.style/components/input?id=customizing-label-position), if your form controls u

[2022-10-22 16:34] atomkirk commented on #127
Just thought I'd pipe in and call for some overall vision planning here. In my experience, I've run into many variations of dropdowns/selects and they all share common elements, but are necessary for different scenarios. Pretty much all of these components are needed on a modern app so IMO a standard component library should support all of these use cases.

Here's the notes I've made over the year

[2022-10-24 06:41] trailsnail commented on #946
@justinfagnani
Hi,
if with PRs
- https://github.com/shoelace-style/shoelace/pull/952
- https://github.com/shoelace-style/shoelace/pull/947
- https://github.com/shoelace-style/shoelace/pull/962

If your requirements are met, the issue can be closed. Would be cool if you give feedback with the next release. 😉

[2022-10-24 09:32] grin opened #974 "<sl-button-group> inner border disappears when a button is clicked"
### Describe the bug
If you click any button in a themed group the separator border disappears. If you then click anywhere on the page the border shows again.

### To Reproduce
On https://shoelace.style/components/button-group  click a themed button

### Screenshots
<img width="542" alt="Zrzut ekranu 2022-10-24 o 11 18 33" src="https://user-images.githubusercontent.com/12468/197494930-fb26684c-c5b

[2022-10-24 13:49] claviska commented on #946
I'm going to close this since `@summary` has been implemented now, but please feel free to add feedback as necessary.

[2022-10-24 13:49] #946 closed, assigned to claviska

[2022-10-25 19:40] Jaylyn-Barbee opened #977 "Can't tab through sl-dropdown element"
### Describe the bug
When tabbing through the page, you can tab and hit enter to open the dropdown. But as soon as you press tab, the dropdown closes.

### To Reproduce
Steps to reproduce the behavior:

1. Go to https://shoelace.style/components/dropdown
2. Click on the first box that has a dropdown element
3. Press tab and then enter to expand the dropdown
4. Press tab once, you can highlight the

[2022-10-25 20:18] claviska commented on #977
This is by design. The dropdown's trigger should be tabbable. The dropdown's menu is shown by either clicking the trigger or pressing space while the trigger has focus. Once the dropdown's menu is visible, the arrow keys will navigate through menu options and enter will make a selection. Escape will close the dropdown and refocus the trigger, as will a subsequent tab or shift + tab.

What you're s

[2022-10-25 21:04] Jaylyn-Barbee commented on #977
I expected that since each element is clickable, that they would also be tab-able.  But the experience you described makes sense.

[2022-10-25 21:04] #977 closed, assigned to claviska

[2022-10-25 21:44] CrookedGrin opened #978 "Missing `@summary` annotation on new generated components"
### Describe the bug
Generating a new component scaffold via `npm run create sl-[something]` currently throws an error in the console and fails to render. This is due to a missing `@summary` annotation in the generated component code.

### To Reproduce
Steps to reproduce the behavior:

1. Install a fresh copy of the repo (npm i, etc.)
2. Run `npm run create sl-[somecomponent]`
3. Start the dev ser

[2022-10-25 21:47] CrookedGrin commented on #978
PR at https://github.com/shoelace-style/shoelace/pull/979

[2022-10-27 00:34] N-Upchurch opened #981 "`<sl-select>` is broken inside `<sl-drawer>` on Firefox"
Opening a new issue for this as I just ran into it and found @kazk's comment while looking for a solution.

        I just noticed `<sl-select>` is broken inside `<sl-drawer>` on Firefox. Chromium works fine.
Should I open a new issue? Demo: https://jsfiddle.net/kazk/2jsp3Lxe/52

_Originally posted by @kazk in https://github.com/shoelace-style/shoelace/issues/915#issuecomment-1255901942_

[2022-10-27 13:20] #978 closed, assigned to claviska

[2022-10-27 18:35] claviska commented on #974
Thanks for the PR, @Buni48! I missed this the first time around, but looks like there's an extra line on the first button. Doesn't seem to happen to the `default` variant.

![CleanShot 2022-10-27 at 14 29 40@2x](https://user-images.githubusercontent.com/55639/198370713-b42c2b73-e045-43ad-9601-74e5f4cc7467.png)

I'm going to reopen this so I don't lose track of it. If you want to PR a fix, let me k

[2022-10-27 20:01] bunesk commented on #974
@claviska
Oh yes you're right. In the dark theme this was not visible. I will take a look why this happens.

[2022-10-27 22:11] dhellgartner commented on #296
Added tests for `sl-menu` ([#984](https://github.com/shoelace-style/shoelace/pull/984) )

[2022-10-28 12:21] martinfojtik opened #985 "Some icons cannot be changed"
### Describe the bug

Some icons are hardcoded as SVGs because of that they cannot be easily changed with custom icon set. They are:
* `sl-button` -> 'caret' icon
* `sl-checkbox` -> 'checked-icon' and 'indeterminate-icon'
* `sl-radio` -> 'checked-icon'
* `sl-image-comparer` -> 'handle-icon'

### Demo

https://shoelace.style/components/checkbox

### Browser / OS
 - OS: any
 - Browser: any
 - Browse

[2022-10-28 12:25] claviska commented on #985
Please see this section of the docs about overriding the system icon library.

https://shoelace.style/components/icon?id=customizing-the-system-library

This allows you to replace system icons using your own resolver. The benefit of this over a per-component solution is that you only have to do it once and everything will remain consistent.

At this time, allowing custom icons on a per-component b

[2022-10-28 12:28] #974 closed, assigned to claviska

[2022-10-28 12:56] benny-noumena opened #986 "Updating the value of the progress-ring faster than the transition (0.35s) leads to ring out of sync"
### Describe the bug
When I update the value of the progress-ring faster than the default transition (0.35s) then the ring gets out of sync.

### To Reproduce
Steps to reproduce the behaviour:

1. Update progress value faster that 0.35s.

### Browser / OS
 - OS: Mac
 - Browser: Brave
 - Browser version: 1.45

### Potential solution
Expose the transition as a css variable so it can be overwritten ?

[2022-10-28 13:14] claviska commented on #986
I'm not seeing anything out of the ordinary when I set it manually (e.g. by quickly clicking a button to increment the value) or in this CodePen.

https://codepen.io/claviska/pen/NWzqwBZ?editors=1010

Can you please provide a repro on CodePen, JSFiddle, or similar?

[2022-10-28 13:22] benny-noumena commented on #986
Wow, thanks for a such fast response.

https://codepen.io/bennyschudel/pen/bGKdYOP?editors=1010

This example shows what I meant. The circle is 75% but the value says 100% by then.

[2022-10-28 13:34] martinfojtik commented on #985
@claviska Thanks, I know how to change icons by overriding a system icon library. But it's not possible to override those icons listed above, which could lead to style inconsistency if a custom icon set is different from SVGs used in those components.

It would helped me if hardcoded SVGs would be replaced with "sl-icon" element inside listed compoents.

[2022-10-28 13:34] claviska commented on #986
I'm not seeing that. The circle is 100% as is the value in Chrome, Firefox, and Safari.

<img width="929" alt="CleanShot 2022-10-28 at 09 30 56@2x" src="https://user-images.githubusercontent.com/55639/198612236-3b4a9c77-ada8-4b86-8277-7e5d20b01288.png">

Just to triple check, I added a log to the loop and it's reporting 100% as the last value set.

<img width="335" alt="CleanShot 2022-10-28 at 09

[2022-10-28 13:38] claviska commented on #985
Ah, right. Sorry, I haven't touched those icons in awhile and assumed I had made them system icons. I'll leave this open as a TODO to get them updated.

Will the system icon library suffice for your needs if these get added? I've been thinking it would be nice to have a way to customize a single icon rather than have to reconfigure the resolver for all of them. Just curious if this is a pain point

[2022-10-28 13:39] benny-noumena commented on #986
Not exactly. It is 100% in the end but when you compare the % number in the middle is not in sync with the bar. That looks somehow wrong.

[2022-10-28 13:49] benny-noumena commented on #986
Here is an example image. And a video. If you scrubb it you will see that the number does not reflect the bar track.

<img width="317" alt="image" src="https://user-images.githubusercontent.com/94522639/198621767-01d77889-4c1c-42d0-9d86-5a58affe2a03.png">

https://user-images.githubusercontent.com/94522639/198622255-0addfcef-05a6-4dfc-8570-1cd7c4448da9.mp4

[2022-10-28 13:51] martinfojtik commented on #985
if there would be an option to customize a single icon it would be even better.

[2022-10-28 14:00] claviska commented on #986
Ah, got it. What you're seeing is a delay from the default transition. I was going to give you some CSS to reduce the duration but it looks like it's currently hardcoded, so I've added `--indicator-transition-duration` in ab754e9409f9121e91c3f6429471159bdfe676fa to give you more control over that.

In the next release, you'll be able to customize this or even turn off the transition with the follo

[2022-10-28 14:00] #986 closed, assigned to claviska

[2022-10-28 14:04] benny-noumena commented on #986
That is perfect.

I may think that this affects the [progress-bar](https://shoelace.style/components/progress-bar) as well.

Many thanks for all your efforts!

[2022-10-28 14:14] claviska commented on #986
Progress Ring uses an SVG under the hood, but Progress Bar doesn't. In fact, the latter has an `indicator` part so you can solve that today with:

[code]

I'm reluctant to expose the `<circle>` elements as parts because of some trouble I was having in Safari, but that can be revisited as well. Unfortunately, it still won't give us consistency between Progress Ring and Progress Bar because, for exa

[2022-10-31 14:14] bunesk commented on #296
If I didn't miss something there are only a few components left missing tests:
- `sl-qr-code`
- `sl-relative-time`
- `sl-resize-observer`
- `sl-tab-group`

[2022-11-01 09:06] xdev1 opened #990 "Pressing ESC not working as expected with dialogs+popups"
Please open the following MUI demo:
https://mui.com/material-ui/react-dialog/#optional-sizes

Now click on the "OPEN MAX-WIDTH DIALOG" button and after that open the popup of the "maxWidth" select field. Now you have an opened dialog plus an opened popup at the same time.
Now press `Escape` => Result: The popup of the select field closes while the dialog stays open.
Now press `Escape` again => Res

[2022-11-01 21:18] dhellgartner commented on #296
I am on `sl-relative-time`
(see PR #991 )

[2022-11-02 17:10] claviska opened #992 "Checking validity of sl-radio-group"
### Discussed in https://github.com/shoelace-style/shoelace/discussions/987

<div type='discussions-op-text'>

<sup>Originally posted by **nickcipriani** October 29, 2022</sup>
I'm having trouble checking the validity of an `sl-radio-group`. Here it is in the code share: https://lit.dev/playground/#gist=b2b8aa7b8de22b71bccbdabe176640ed

Even when no radio option is selected, the validity comes bac

[2022-11-02 22:55] claviska commented on #990
Agree. Thanks for reporting this!

[2022-11-03 04:58] brettwillis opened #993 "Prevent close of `sl-details`"
I would like a hook to prevent close of `sl-detail`. Consider a a case when you have a form inside, and if the user has made changes, you wish to prevent them closing it.

The `disabled` property has the effect of dimming the entire contents.

Perhaps add a property like `locked` which would just prevent opening and closing actions (and probably hide the caret indicator?) without affecting the sty

[2022-11-03 14:56] claviska commented on #960
Closing this due to no response and since I can't replicate it. If you can provide a reproduction, I'll be happy to reopen.

[2022-11-03 14:56] #960 closed, assigned to claviska

[2022-11-03 15:37] claviska commented on #993
Handling this through events is more consistent with the rest of the library, so I've added this in 7d0226e3c4bb2382f5691a6032667085a3b13ce5 and it will be available in the next release.

To prevent opening/closing:

[code]

But with great power comes great responsibility — please make sure that it's very obvious to the user why the component won't open or close when they activate the trigger.

[2022-11-03 15:37] #993 closed, assigned to claviska

[2022-11-03 17:20] brettwillis commented on #993
Awesome! Thanks for the quick work.

[2022-11-04 20:14] tpluscode opened #996 "Padding causes unexpected icon spin inside sl-input"
### Describe the bug

I wanted to add a spinning animation to an icon in input's suffix slot (applies to prefix too) but it does an unexpected spin around a focal point not in the middle of the icon.

### To Reproduce

https://codepen.io/tpluscode/pen/KKeMbxL?editors=1100

### Additional information

I found this caused by `padding` which can be replaced with `margin`. The following styles can be

[2022-11-05 15:00] tpluscode commented on #127
I experimented a little on the [sample](https://github.com/shoelace-style/shoelace/issues/127#issuecomment-1143821681) provided by @nileshtrivedi

Here's an extract from my project's source code:

https://studio.webcomponents.dev/edit/3WC1qIWWF6aSTPA6ASKK/src/index.js?p=website

I think I got it fairly usable with two simple tweaks:

1. Preventing the default key event on space which would open th

[2022-11-06 19:14] olbrich opened #997 "Add 'loading' attribute to Avatar to permit lazy loading"
### What issue are you having?
Currently, all images loaded by Avatar components are eager loaded and there is no way to tell the browser to lazy load them. This is a minor performance enhancement that may be helpful on pages that have a large number of Avatars arranged such that many of them are off-screen.

See https://developer.mozilla.org/en-US/docs/Web/Performance/Lazy_loading#images_and_ifra

[2022-11-07 17:07] claviska commented on #915
This was fixed upstream in: https://github.com/floating-ui/floating-ui/pull/1894

I've upgraded Shoelace to use the latest version of Floating UI in 8160c33aa4d8e517ab4c50e239c8ea0c998a3f4d and I'm no longer seeing this lag, so I'm going to close this one now.

[2022-11-07 17:07] #915 closed, assigned to claviska

[2022-11-07 17:32] claviska commented on #996
Thanks for reporting this. Fixed in c027c0a5271ffb49b81e9baea332b20f332ef40a by using logical margins instead of paddings, which is less intrusive for slotted elements. This fix will be available in the next release.

[2022-11-07 17:32] #996 closed, assigned to claviska

[2022-11-07 23:02] ChristopherHawkes opened #999 "Unable to apply styling to button icon"
### Describe the bug
I see no way of being able to customize the color of the button which is rendered via sl-icon-button which renders a nested sl-icon

### Demo

![image](https://user-images.githubusercontent.com/97181501/200433798-cae51e09-9ce9-473f-b91b-f8bbf54086ae.png)

[2022-11-07 23:08] ChristopherHawkes commented on #999
My fault, looks like I need to do something like this.

![image](https://user-images.githubusercontent.com/97181501/200434549-e38407e7-3abe-4589-8958-f64f686e400c.png)

[2022-11-08 16:16] Antbrooksuk opened #1000 "Please consider supporting Declarative Rendering with React"
Some SL components have an internal state which goes against the declarative nature of React.

A simple accordion example using a standard React pattern:
(We want one Details open at a time)

[code]

In the above we run into issues:

1) When we click on (id: 1), onSlShow fires on (id:1) and our hook value is 1.
2) When we then click on (id: 2), onSlShow fires on (id:2) and onSlHide fires on (id:1)

[2022-11-08 16:34] claviska opened #1001 "Accordion"
An accordion component, much like what `<sl-details>` provides [in this example](https://shoelace.style/components/details?id=grouping-details), but with a controller to make the experience more idiomatic for React and other users.

See also: #1000

Please vote for this feature using 👍  and 👎

[2022-11-08 16:38] claviska commented on #1000
Indeed, that example doesn't translate cleanly to React. In fact, it should probably be removed in favor of a proper Accordion component. While the aria usage is similar between details and accordions, the implementation is not and to do it right will require a controller.

This issue is a bit broad. I'd like to focus specifically on areas where Shoelace + React is rough like your example, but bre

[2022-11-08 16:38] #1000 closed, assigned to claviska

[2022-11-08 17:15] #999 closed, assigned to claviska

[2022-11-08 17:16] claviska commented on #999
Styling the base part works, but it's not very ergonomic. I've improved this in 49193c9 so you can apply color directly to `sl-icon-button` and I've added tests to ensure both `color` and `font-size` will inherit correctly moving forward.

[2022-11-08 17:57] claviska commented on #940
Closing due to lack of response. If anyone can provide a repro, I'll be happy to reopen this one!

[2022-11-08 17:57] #940 closed, assigned to claviska

[2022-11-08 18:04] claviska commented on #874
Hey @justinfagnani sorry to bump this, but is there anything we can do at the Lit level to provide a better experience for library authors and end users?

Could Lit throw a more obvious warning here when the `@customElement` decorator is used? Or would you recommend wrapping it with my own logic instead?

[2022-11-08 18:06] claviska commented on #476
I'm going to close this in favor of #778 which covers all things SSR-related. I'll updated that issue so we don't lose track of this.

[2022-11-08 18:06] #476 closed, assigned to claviska

[2022-11-08 18:19] claviska commented on #944
Closing since this was added in #948.

[2022-11-08 18:19] #944 closed, assigned to claviska

[2022-11-08 18:21] KonnorRogers commented on #925
Video of Reproduction:

https://user-images.githubusercontent.com/26425882/200644590-5c83ebcb-eaa4-4bce-a932-59c1d1be533e.mp4

[2022-11-08 19:16] justinfagnani commented on #874
@claviska I think we could vend a different `@customElement()` decorator that is resilient to multiple registrations. I think we should probably open a [Lit RFC](https://github.com/lit/rfcs) to discuss, since I think there are probably some features we'll want like specifying a version so we can be silent/warn/error as appropriate. Something like:

[code]

(and then libraries could use a build ste

[2022-11-08 19:18] justinfagnani commented on #874
Tagging @kevinpschaaf as we were just talking about this for another user. I think it'd be good to have an official solution.

[2022-11-09 14:10] yuki24 commented on #127
I have sent https://github.com/shoelace-style/shoelace/pull/1002 as a starter. While this is still missing a lot of things, you should all be able to give it a try on https://shoelace-git-fork-yuki24-combobox-component-shoelace.vercel.app/components/autocomplete. Would love any feedback on that. Thank you!

[2022-11-09 14:51] #990 closed, assigned to claviska

[2022-11-09 14:51] claviska commented on #990
Fixed in 5fd682d. This will be available in the next release.

[2022-11-09 16:02] claviska commented on #981
Quick fix: use `<sl-select hoist>`

I dug into this today and made a repro using `<sl-drawer>` + Floating UI's `computePosition()` function. This is as minimal as I've been able to make it thus far.

https://codepen.io/claviska/pen/JjZEBdy

In Chrome, the blue box gets positioned correctly in the center. In Firefox and Safari, the `x` value provided by `computePosition()` seems to be way off and t

[2022-11-09 16:34] #925 closed, assigned to claviska

[2022-11-09 16:36] claviska commented on #925
Thanks for reporting this! The bug has been fixed in 5eeb98d and will be available in the next release.

[2022-11-09 16:40] atomiks commented on #981
The polyfill change in `v1.0.1` that caused the perf regression was specifically to fix this issue since the platform provides no `composedOffsetParent()`. No way around it without the polyfill unfortunately.

[2022-11-09 16:47] claviska commented on #981
Thanks for the tip. I didn't think about the polyfill being related to this, but that makes sense now. Is it safe to assume that, as browsers support `composedOffsetParent()`, this will start working automatically?

[2022-11-09 16:56] atomiks commented on #981
I don't think it's on any radars for the web platform, and isn't checked for existence in the lib, so it won't

[2022-11-09 17:02] claviska commented on #981
Thanks for clarifying! I'm going to close this issue as a wontfix due to the severe performance problems we saw with the polyfill. I suggest that affected users add the `hoist` attribute to work around this issue.

[2022-11-09 17:02] #981 closed, assigned to nobody

[2022-11-09 20:27] #965 closed, assigned to claviska

[2022-11-09 20:30] claviska commented on #965
I've reworked radio group to act more like inputs and textareas, where they have a label, the control, and optional help text. The styling was also improved to remove the border by default, as Shoelace shouldn't have an opinion here. Users can add it back by targeting the `form-control` and `form-control__label` parts.

These changes will be available in the next release.

[2022-11-09 21:07] #992 closed, assigned to nobody

[2022-11-09 21:09] claviska commented on #992
Looks like validity was initially incorrect when using `required`, and it also looks like it was getting out of sync as options were selected. This has been fixed in f140007 and two tests were added to prevent regressions. This fix will be available in the next release.

[2022-11-09 21:53] #963 closed, assigned to claviska

[2022-11-09 21:55] claviska commented on #963
This has been fixed by removing the `treeItems` cache and fetching nodes from the DOM directly. I don't foresee any performance issues with normal tree usage. This fix will be available in the next release.

[2022-11-10 17:27] #985 closed, assigned to claviska

[2022-11-10 17:32] claviska commented on #985
All icons have been moved to the system library in f64f144 and can now be changed by customizing the system icon library's resolver. In a future release, I will probably expand the icon library to support customizing individual icons, but I haven't decided how I want to approach that just yet.

[2022-11-10 20:28] #725 closed, assigned to claviska

[2022-11-10 20:29] claviska commented on #725
For now, I'm translating these with a small CEM plugin. When Lit gets unbundled, I'll probably have to generate two separate CEM files but I'm OK with that.

This will be available in the next release.

[2022-11-10 22:12] #968 closed, assigned to claviska

[2022-11-10 22:27] claviska commented on #968
I've updated the example to support help text. For users that want to copy and paste it, the example now uses CSS grid and exposes a couple custom properties you can configure to adjust the gap and label width.

I don't think there's anything else to do here. Shoelace shouldn't have an opinion on the many, many possible layouts that form controls _can_ be drawn with. This is especially true when y

[2022-11-14 14:48] #997 closed, assigned to claviska

[2022-11-14 14:59] claviska commented on #997
This has been added in #1006 and will be available in the next release.

[2022-11-14 15:21] claviska commented on #728
Rather than expand the API footprint for every form control, I'd like to handle this with an opt-in utility class as part of #413. This is achievable to implement today with the following:

[code]

I've made a note in #413 to cover this use case, so please subscribe to that issue to continue tracking this!

[2022-11-14 15:21] #728 closed, assigned to claviska

[2022-11-14 15:50] claviska commented on #215
Apologies for the delay. It looks like many of the WHC issues have been resolved by switching from border-radius to outline in beta.74. Here's the remaining list of things I've found that need to be addressed:

- [x] `<sl-color-picker>` is impossible to use
- [x] `<sl-dialog>` has no border when open
- [x] `<sl-drawer>` has no border when open
- [x] `<sl-menu-item>` focus state is invisible
- [x]

[2022-11-14 15:55] claviska commented on #708
I'm locking in the current theme for 2.0 since so many people are already using it, but I want to revisit the possibility of a AA compliant theme for a future version. Right now, I need to keep focusing on making components stable and fully customizable.

I'm sure we'll start seeing custom Shoelace themes from enthusiasts once 2.0 stable lands, so this can be something that gets contributed as wel

[2022-11-14 15:55] #708 closed, assigned to claviska

[2022-11-14 21:15] claviska commented on #215
All known WHC / forced colors mode issues have been resolved in the following commits:

d79d7da299ae9e87addb6d8925ff77155cdf883e
b296ac08cf8839fb5b9cd80d8b4db6e9722a8bd1
36e677dd6bf060fb13400328a06330148530be84
6167993941f9fbfdb1b89c90f14e3052f69ea9b3

I'm still learning about this, so suggestions on how styling can be improved even more are welcome!

[2022-11-14 21:15] #215 closed, assigned to claviska

[2022-11-15 21:06] bunesk opened #1008 "`stepUp`, `stepDown` and `showPicker` functions for `<sl-input>`"
The `HTMLInputElement` has the well-supported functions [`stepUp`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/stepUp) and [`stepDown`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/stepDown) which I thought would be nice also to have on `<sl-input>` and `<sl-range>`.

Also there is the function [`showPicker`](https://developer.mozilla.org/en-US/docs/Web/A

[2022-11-15 21:13] claviska commented on #1008
Sure, I'm fine with adding these.

I'm fine with adding this too. You'll need to append `formenctype` to [this list in the form controller](https://github.com/shoelace-style/shoelace/blob/d79d7da299ae9e87addb6d8925ff77155cdf883e/src/internal/form.ts#L160) so it gets passed through on submit, but I think that will be enough to make everything work.

Thanks for helping out with this!

[2022-11-15 21:19] claviska commented on #278
Closing this since I don't have any plans to create nor maintain this myself.

[2022-11-15 21:19] #278 closed, assigned to claviska

[2022-11-15 21:52] claviska commented on #841
The issue here is that focus trapping will be lost if the dialog is no longer modal (as it would be when contained). This means you'd be able to tab into elements behind it, which isn't desirable and makes for a poor experience since there would be an overlay on top.

Drawers have the same problem when using `contained` and that was an unfortunate oversight. It probably would have been better to k

[2022-11-16 06:10] bmbshlly opened #1010 "create out of the box support for svelte"
Can you create a package for svelte, like we have for react using reactify-wc?

[2022-11-16 11:11] claviska commented on #1010
Svelte works with web components out of the box, so there’s no need to wrap them.

I’m going to close this, but if there’s something I’m missing feel free to comment and I’ll reopen as necessary.

[2022-11-16 11:11] #1010 closed, assigned to nobody

[2022-11-16 21:49] claviska opened #1011 "RFC: Form control validation + user interaction states"
### The Problem

Shoelace form controls are designed to work with the [Constraint Validation API](https://developer.mozilla.org/en-US/docs/Web/API/Constraint_validation), but they currently lack a [`:user-invalid`](https://developer.mozilla.org/en-US/docs/Web/CSS/:user-invalid) state, which is a separate validation state that mirrors validity _only after the user has interacted_ with a form contro

[2022-11-17 03:16] Trendy commented on #1011
There's a great blog post about using data attributes for styling, and it makes a compelling argument, by @keithamus! [You can read it here.](https://www.keithcirkel.co.uk/css-classes-considered-harmful/)

I think this would be a great way to implement this functionality. However, would it be better to name the attribute with a prefix like the elements themselves? This would avoid potential naming

[2022-11-17 08:06] jpzwarte commented on #1011
@claviska just to make sure, have you seen @open-wc/form-control / https://github.com/open-wc/form-participation/tree/main/packages/form-control? And the element internals polyfill also supports custom states:

[code]

[2022-11-17 13:01] claviska commented on #1011
@Trendy I don't think this is necessary since these attributes will only appear on Shoelace controls and will be documented as part of their public API. In this case, `[data-user-invalid]` is closer to the [future] custom states syntax `:--user-invalid`, which also wouldn't be prefixed since its owned and controlled by the component.

If this is done right, the eventual upgrade path will be as sim

[2022-11-17 16:24] bunesk commented on #1011
I like this idea.

I think that it would be a good idea to let the user decide some way when to show validation.

I can think of 4 different use cases when I want my component to start showing validation:
- after the user blurs out
- after the user interacts (`click`, `keyup` etc., depending on the component)
- on initialization
- never

For the last two use cases there is actually no need of `dat

[2022-11-17 16:54] claviska commented on #1011
Hmm, it might be better to use `data-user-interacted` instead of `data-user-invalid`, since we already know the invalid state. This would give maximum control over styling to the user without the need for a second data attribute.

[code]

Longterm, this would map to a custom state:

[code]

The only thing left to question with this approach is what the heuristics for determining interaction are. I

[2022-11-17 16:56] jpzwarte commented on #1011
@claviska I looked into `:user-interacted` and the feedback I got from CSSWG members was that `:user-invalid` already covers `:user-interacted`. And at this point `:user-interacted` is just another proposal, while `:user-invalid` is being implemented.

[2022-11-17 17:05] claviska commented on #1011
@jpzwarte Thanks for the heads up. Doesn't `:user-invalid` combine two separate flags? Without "interacted", I'm having a hard time seeing how users would style all use cases:

Always styled
- invalid => `[invalid]`
- valid => `:not([invalid])`

Styled before interaction
- invalid + no interacted => `[invalid]:not([data-user-interacted])`
- valid + no interacted => `:not([invalid]):not([data-user-

[2022-11-17 17:09] jpzwarte commented on #1011
Yes, that's the issue. This is my understanding:
- An invalid field is always `:invalid`
- An invalid field in a `requestSubmit()`ted form is `:user-invalid`
- An invalid field interacted with by the user is `:user-invalid`

I believe that would cover `:user-interacted`.

[2022-11-17 17:11] jpzwarte commented on #1011
Also iirc there is `:user-valid`.

[2022-11-17 17:11] claviska commented on #1011
From [this comment](https://github.com/w3c/csswg-drafts/issues/1533#issuecomment-1301569433):

Ah, I thought this existed but I thought I searched for it and couldn't find it the other day. I guess I should follow that spec and do with `[data-user-valid]` and `[data-user-invalid]` to solve this.

[2022-11-17 22:25] claviska commented on #1011
OK, I have most of this working but I wanted to update everyone on my progress.

### Form Control Interface

I've created a TypeScript interface for `ShoelaceFormControl` that all form controls now implement. This ensures new and existing form controls adhere to the minimum API that's required for validation.

### Validation States

Since we don't have custom states yet, I've decided to implement

[2022-11-18 05:01] anilarya-spacer opened #1012 "NPM test run fails"
### Describe the bug
While running a command `npm run test` , it fails saying
`browserContext.newPage: Protocol error (Page.setForcedColors): 'Page.setForcedColors' was not found[{"code":-32601,"message":"'Page.setForcedColors' was not found"}]  (failed on Webkit and Webkit)`

### To Reproduce
Steps to reproduce the behavior:

1.  Go to command line terminal
2. Switch to node version :  v16.17.0
4

[2022-11-18 11:31] claviska commented on #1012
Please try a fresh install of `node_modules` and rerun the tests. WTR can occasionally be flakey and all tests are passing in the pipeline and locally for me.

[2022-11-18 12:54] kzsa commented on #1012
@anilarya-spacer
Are you < MacOs 11? I don't use Apple products, but I remember there was some compatibility issues around MacOS 10 + webkit + playwright.

I am on Linux, and everything is fine here:

`$ npm test

Error while reading source maps for /home/code/shoelace/node_modules/@open-wc/testing-helpers/src/helpers.js
Error: You must provide the URL of lib/mappings.wasm by calling SourceMapCons

[2022-11-18 14:56] #1011 closed, assigned to nobody

[2022-11-19 17:28] joe-dakroub opened #1014 "sl-drawer stuttering on iOS 16"
### Describe the bug
The sl-drawer component stutters on open/close on iOS 16.

### To Reproduce
Steps to reproduce the behavior:

1. Go to https://shoelace.style/components/drawer
2. Click on 'Open Drawer' for any of the examples
3. Drawer should stutter on open/close

### Video
https://share.icloud.com/photos/00evwfKkA9Zdsy3SQ_C-KIuFw

### Browser / OS
 - OS: iOS 16.0.3
 - Browser: Mobile Safari

[2022-11-19 18:01] joe-dakroub commented on #1014
I updated to iOS 16.1.1 and the issue is resolved. Could have been a fluke with my device. Tested on iOS 15.6.1 on another device and it works perfectly. Closing.

[2022-11-19 18:01] #1014 closed, assigned to claviska

[2022-11-20 20:03] fabricedesre commented on #841
Thanks for the explanation @claviska ! About focus trapping, I'm not sure we have the same requirements. I think it's fine to keep elements out of the dialog container activable.

Anyway, I'll see if I can do something custom instead.

[2022-11-20 20:08] xdev1 opened #1015 "Possibility to style components depending whether theme is light or dark"
Note: Please be aware that the following feature is mainly needed for 3rd-party component developers, as they cannot add this feature in userland. App developers could easily add it on their own.

Problem: It's currently not possible in Shoelace to style a component conditionally depending on "current theme is light" vs "current theme is dark".

An example: The following screenshots shows a compon

[2022-11-21 05:15] anilarya-spacer commented on #1012
@kzsa :  Yeah , its mac 10.15.7 ..... Looks like need to update version then . Thank you .

@claviska : Will install again and check . Thank you

[2022-11-21 05:15] #1012 closed, assigned to claviska

[2022-11-21 07:57] kzsa commented on #1015
"if --sl-theme === light ... is not possibe"

But you can cheat! :D

// Supported modes
  color-scheme: light dark;

  // Light mode (default)
  --isBgDark: 0;
  --light-relative: 100;

  // Dark mode (auto)
  @media (prefers-color-scheme: dark) {
    --isBgDark: 1;
    --light-relative: 1;
  }

  // Dinamic light
  --light-min: 30;
  --light-max: 100;
  --light-relative-pct: calc(
    var(--light

[2022-11-21 09:16] xdev1 commented on #1015
@kzsa Thanks for your suggestion to use a media query based on `prefers-color-scheme`.
But as far as I know, setting the CSS property `color-scheme` will ~not have any effect~ often not have the desired effect ([see here](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme#color_scheme_inheritance)) on that media query. Am I wrong?

Please have a look at the following demo

[2022-11-21 12:09] olivierayache opened #1016 "Input type validation does not seems to work on Shoelace website"
### Describe the bug
While testing the input type validation for implementating it on a website, I noticed the behaviour is not correct here:
https://shoelace.style/getting-started/form-controls?id=input-types
Indeed the it says all fields are valid even if the email or the url are not correct.

### To Reproduce
Steps to reproduce the behavior:

1. Go to https://shoelace.style/getting-started/form

[2022-11-21 12:24] xdev1 commented on #1016
Forgotten to set `type="email"` for this email input element.
Please see: https://github.com/shoelace-style/shoelace/blob/b2cf3a550571d753fbf2c93cc24f1e188d983dce/docs/getting-started/form-controls.md?plain=1#L162

[2022-11-21 12:27] bunesk commented on #1016
Actually it's not forgotten, there is written `variant="email"` instead. I guess this happened because of the breaking change in beta 63, where some `type` attributes were renamed to `variant`.
https://shoelace.style/resources/changelog?id=_200-beta63
I'm going to open a PR to fix that.

[2022-11-21 14:26] dsaniel opened #1018 "Sl-Select clipping content in the dropdown menu"
### Describe the bug
My sl-select menus are being set to the same size as the container which is causing the content to be clipped.

This seems to be happening [here](https://github.com/shoelace-style/shoelace/blob/next/src/components/select/select.ts#L380).

Not sure if this is a feature or a bug, but if it is a feature I was wondering if there's any way to disable it.

### To Reproduce
Add a sl-

[2022-11-21 17:41] #1008 closed, assigned to claviska

[2022-11-21 20:33] uilton-oliveira opened #1019 "Error with new exports field on package.json"
### Describe the bug
i recently created a fork of shoelace and while testing it out, we are seeing a error that does not happens in production release but happens on new versions built... Looks like it is related to this [PR](https://github.com/shoelace-style/shoelace/pull/1007)

If i remove the new exports block, it work fine... i'm missing anything?

[code]

### To Reproduce
I trying to import a

[2022-11-21 21:03] claviska commented on #1015
This is a neat trick, but I'm not interested in adding something like this right now. One can augment the existing themes by prepending these values, of course.

One reason I don't want to introduce this right now is because it serves a very specific purpose that the majority of users won't need, and once it lands in 2.0 stable it will be locked in and required by all themes forever. I'm not ready

[2022-11-21 21:03] #1015 closed, assigned to claviska

[2022-11-21 21:06] #1016 closed, assigned to claviska

[2022-11-21 21:18] #1018 closed, assigned to claviska

[2022-11-21 21:19] claviska commented on #1018
This is by design. The menu should be the same width by default. This is done with JavaScript because it's not possible to do it with pure CSS given the way the internals are structured.

However, you can target the menu's width like this:

[code]

Unfortunately, the placement is currently top/bottom, which puts the menu in the center of the trigger and looks odd. It _should_ be anchored to the to

[2022-11-21 21:20] dsaniel commented on #1018
Awesome, thanks!

[2022-11-22 09:08] samuelstroschein commented on #1019
I quote myself here:

_https://github.com/shoelace-style/shoelace/pull/1007#issuecomment-1315968493_

Of course, something had to break! :D

The problem seems to stem from the fact that "exports" is a 1:1 map. Everything that is not defined in "exports" is not exported. The solution seems to be here https://github.com/nodejs/node/pull/39635. The components that you are directly importing need to b

[2022-11-22 10:46] tao-cumplido commented on #1019
Also hit this yesterday, was about to file myself.
Adding the exports as mentioned by @samuelstroschein should fix this, although only a single `*` is necessary, see https://nodejs.org/docs/latest-v18.x/api/packages.html#subpath-patterns

But I was wondering if this might be an opportunity to remove the `dist` part of the import, e.g.
[code]

Imports would now look like this

[code]

[2022-11-22 14:02] uilton-oliveira commented on #1019
@tao-cumplido @samuelstroschein I tested some variations:

[code]

[code]

[code]

[code]

The only way that seens to work is (or without dist folder, but would require all the users to change their imports, is that wanted?):
[code]

I included the utilities, that is needed to `setBasePath`, but there's also others folders in the module, like `react`, `translations`, `styles`, `internal` ... is an

[2022-11-22 14:27] claviska commented on #1019
I'd love to remove `dist` from imports and I'm willing to make that change as long as it works for Node 14+. I haven't done much with exports like this. Are there any major concerns or drawbacks to this approach (aside from manually keeping the right paths in `exports`)?

The entry points listed here are the ones we want to make sure to cover.

https://github.com/shoelace-style/shoelace/blob/c40b3

[2022-11-22 14:40] uilton-oliveira commented on #1019
@claviska what about this?
[code]
This way it will work with or without dist folder, making it backward compatible..

[2022-11-22 15:20] claviska commented on #1019
I’d rather just remove it and break it before 2.0 stable. Less confusing for users long term.

[2022-11-22 15:21] uilton-oliveira commented on #1019
Ok, but it would require update it in the docs aswell...

[2022-11-22 15:22] claviska commented on #1019
Yep, I'm happy to take that on. Do you want to PR the exports change and I can tackle the docs after?

[2022-11-22 15:23] uilton-oliveira commented on #1019
Sure.

[2022-11-22 15:58] #1019 closed, assigned to claviska

[2022-11-22 21:39] tao-cumplido opened #1022 "Lazy tree items are treated as leafs in trees with leaf selection"
### Describe the bug
In trees with `selection` set to `leaf`, items with the `lazy` attribute are selected until its children are loaded. Even then, the item remains selected until another item is selected. I would expect items with the `lazy` attribute to not be considered a leaf node, even though they technically are for a moment.

I believe the issue is obvious enough, so I didn't write explici

[2022-11-23 00:52] xdev1 commented on #990
Unfortunately, this issue should be reopened, as this is still buggy.

Please open [this demo](https://codepen.io/xdev1/pen/WNyrjgE?editors=1000), click on "Open dialog" and then click on the select box without selecting anything.
The popup is opened now. Then please press `Escape`  => you'll see that the dialog will be closed immediately, instead of just closing the popup.

This change might do t

[2022-11-23 06:51] malikfaizanhaider opened #1024 "Hoisting not working"
### Hoisting
Hoisting not working in Dropdown menu. Need to review.
### To Reproduce
Steps to reproduce the behavior:

1. Go to 'Dropdown'
2. Scroll down to 'https://shoelace.style/components/dropdown?id=hoisting'
3. Click on 'Hoist Button'

### Screenshots
![image](https://user-images.githubusercontent.com/4697658/203487087-4425e230-b376-4461-b08d-f51d569034d5.png)

### Browser / OS
 - OS: [ Mac,

[2022-11-23 15:32] #1024 closed, assigned to claviska

[2022-11-23 15:34] claviska commented on #1024
Thanks for reporting this! This appears to have broken after updating Floating UI. Setting `autoSizeBoundary` to `document.body` solves it, as the current [erroneous] behavior seems to calculate size from the overflow ancestors rather than the body.

[2022-11-23 15:41] claviska commented on #990
@xdev1 Thanks for the update. The previous fix solved pressing <kbd>Escape</kbd> when the menu has focus. You discovered another edge case that occurred when the menu has focus.

I appreciate the report and the suggested fix! It was patched in 7f9b0bd5a2af0c829c8c00ee8d5e967e5fa4f9ba and will be available in the next release.

[2022-11-23 15:46] #1022 closed, assigned to claviska

[2022-11-23 17:35] atomiks commented on #1024
@claviska seems like a bug.

There is new detection to determine if an element is a "clipping" ancestor. In this case it is detecting it incorrectly. Does Shadow DOM have an impact?

Here's the new logic: https://github.com/floating-ui/floating-ui/pull/1959

[2022-11-23 19:41] claviska commented on #1024
Hmm, I'll give it a try. It actually made sense in my head because, when "hoisting," we want the boundary to _not_ care about ancestors and only look at the body.

[2022-11-23 19:47] atomiks commented on #1024
@claviska that's true unless the position fixed element has a containing block as an ancestor, then it still needs to ensure it won't get clipped. Hopefully my PR resolved all the edge cases

[2022-11-24 10:25] tao-cumplido opened #1025 "isTreeItem errors on dynamically added comment nodes"
### Describe the bug
The `isTreeItem` method throws an error when it is called with non-element nodes. This happens when the `sl-tree` element handles its observed subtree and non-element nodes like comments are added or removed, e.g. by using lit-html's `render` method to populate lazy tree items.

### To Reproduce
Steps to reproduce the behavior:

Update the lazy tree items example from the docs

[2022-11-24 18:30] claviska commented on #1024
@atomiks Thanks for the help yesterday. Upgrading to 1.0.7 allowed me to revert the previous fix and everything looks great now!

[2022-11-24 18:33] #1025 closed, assigned to claviska

[2022-11-25 20:20] tao-cumplido opened #1029 "sl-selection-change on trees is emitted even when nothing has changed"
### Describe the bug
When interacting with a tree, sometimes the `sl-selection-change` event is emitted even though the selection didn't actually change.

### To Reproduce
Steps to reproduce the behavior:

- Create an `sl-tree` with at least one expandable `sl-tree-item`
- Listen to the `sl-selection-change` event
- Expand and collapse the `sl-tree-item`
- The event is emitted even though the sele

[2022-11-27 11:39] finalclass opened #1031 "sl-popup is not upfront (clipped by other elements)"
### Describe the bug

Given this structure:

[code]

We see this:
![image](https://user-images.githubusercontent.com/1343930/204133201-2ce8f314-77c3-474f-a397-e8f39d69f423.png)

The `TEST1` menu option is behind the second `sl-input`. Changing z-index doesn't help or I don't know where to apply it.

https://jsfiddle.net/devmount/m0jk4we6/42/

### Browser / OS
 - OS: Linux
 - Browser: Brave
 - Brow

[2022-11-28 05:58] CetinSert commented on #1031
(jsfiddle.net/devmount/m0jk4we6/42/ has different code.)
Correct playground link: <a href="https://sl.rt.ht/1031/?s">https://sl.rt.ht/1031/?s</a>
Both `.85` and (older versions <kbd>↓</kbd>) exhibit the same behavior.

[2022-11-28 06:55] finalclass commented on #1031
Thanks for the correct link, I messed up something while pasting.
Is there any workaround for the issue?

[2022-11-28 10:52] bunesk commented on #1031
A workaround I've found out is to give the `popup` part of `<sl-popup>` a `z-index`:
[code]

[2022-11-28 15:01] claviska commented on #1031
This is the correct way to set the popup's z-index. I've also added a disclaimer to the popup docs in 4dc92247d5fe0ead137e4be15b522a927edd5e7e:

I want to make sure people understand that this isn't something you'd normally use directly, but rather something you can use to compose other components with. I'd hate to expose a low-level utility and have a bunch of "popovers" appear in the wild that a

[2022-11-28 15:01] #1031 closed, assigned to claviska

[2022-11-28 16:37] finalclass commented on #1031
Thanks for the explanation and docs update.
I use the sl-popup to wrap sl-menu because I'm building a typeahead component

[2022-11-28 16:44] claviska commented on #1031
Totally valid use case! I've seen some others that weren't, so I wanted to make sure the reason `<sl-popup>` exists was more clear.

[2022-11-28 16:55] #1029 closed, assigned to claviska

[2022-11-29 17:12] darktears opened #1034 "Tooltip doesn't always hide if the button attached to it is disabled on the pointer down event handler"
### Describe the bug
sl-tooltip doesn't consistently hide if the button attached to it becomes disabled.

### To Reproduce
Steps to reproduce the behavior:
In the demo below click on the undo button, which simulate right away the end of the undo stack (no more action to undo) so an application typically disable the undo button. The tooltip doesn't consistently hide.

### Demo
https://codepen.io/da

[2022-11-29 17:26] darktears opened #1035 "Hover on disabled button is applied weirdly on button groups"
### Describe the bug
Assuming a button group like the documentation (undo/redo and say a clear button). If two buttons are disabled next to each other (start of the application, no undo/redo actions) the styling is off on hover when using a custom hover style.

It seems like the button/button group styling doesn't apply correctly if the button is disabled. I'm not too familiar with the code but it

[2022-11-29 17:30] darktears opened #1036 "Tooltip display out of screen bounds if too long and in the corner"
### Describe the bug
If the tooltip text is long (say "Preferences") in the demo below it shows out of screen bounds (not visible). If you change the tooltip to something shorter it will display correctly.

### To Reproduce
Navigate the demo below, hover the first button and notice the tooltip showing out of bounds. You can modify the first tooltip content attribute to "Test" and see that it shows

[2022-11-29 18:48] claviska commented on #1034
Thanks for the report!

Tooltips accept an arbitrary anchor element. In this case it's an `<sl-button>` but it could be a `<button>` or `<input>` or `<some-other-element>`. While all of the aforementioned elements support a `disabled` attribute, that's by coincidence and isn't guaranteed for all anchor elements. For example, a custom element might implement its disabled state in a different way:

[2022-11-29 18:48] #1034 closed, assigned to claviska

[2022-11-29 18:52] darktears commented on #1034
Totally fair, I appreciate the thoughtful explanation. I've added the suggested code and I'm hiding the tooltip explicitly.

[2022-11-29 18:59] claviska commented on #1035
I _think_ what you're looking for is `:not([disabled])`:

[code]

Which prevents your custom styles from being applied when the button is disabled.

Does that do the trick?

[2022-11-29 19:01] darktears commented on #1035
Yes that does the trick. I'm such a noob. Thank you very much.

[2022-11-29 19:01] #1035 closed, assigned to claviska

[2022-11-29 19:08] darktears commented on #1035
Though I found a new bug (which I can reproduce on the demo page) https://shoelace.style/components/button-group?id=toolbar-example

If you hover the undo icon (vs hovering the button), the right blue border disappear? Expected behavior? Should I open a new issue?

[2022-11-29 19:23] claviska commented on #1035
Nice catch. This was caused by some faulty logic in the `findButton()` function. Fixed in 026036a. This fix will be available in the next release.

[2022-11-29 19:47] #1036 closed, assigned to claviska

[2022-11-29 19:48] xdev1 opened #1037 "Hovering over form controls shows constraint validation message even when inside `<form novalidate>`"
Please have a look at following demo:
https://jsfiddle.net/jtc49bao/
While the form has the attribute "novalidate" the `sl-input` element still shows a "Please fill out this field" tooltip (the HTML input form doesn't show a tooltip, which is the correct behavior):

![image](https://user-images.githubusercontent.com/86223516/204630014-b2e17709-ba6a-4baf-9f4c-6ec3a9977211.png)

Not really sure and

[2022-11-29 19:57] claviska commented on #1036
It took some time, but I was able to replicate this locally and discovered that the default value for `flip-fallback-strategy` in `<sl-popup>` — which is used internally by `<sl-tooltip>` — was incorrect. It should have been `best-fit`, which is consistent with [Floating UI's default value](https://floating-ui.com/docs/flip#fallbackstrategy) of `bestFit`. Instead, it was falling back to the initia

[2022-11-29 20:23] claviska commented on #1037
I don't think there's much we can reasonably do today (without `ElementInternals`) except for applying `title=""` to the internal input to suppress the message. Note that Safari doesn't show anything, so the problem is limited to Chrome and Firefox.

For casual readers: this issue is referring to the _browser tooltip_ you'll see when hovering the mouse for a couple seconds over the field, _not_ th

[2022-11-29 20:52] xdev1 commented on #1037
I am 100% fine with just emptying the `title` attribute :+1: ... I personally will not miss that tooltip :smiley:

[2022-11-29 20:52] #1037 closed, assigned to claviska

[2022-11-29 20:54] claviska commented on #1037
I did some research and couldn't find a better solution, so I'm calling this fixed in a50909d. It's probably better to suppress the native tooltip entirely rather than try to make it work in every possible scenario. At least now it's consistent in all browsers.

This will be available in the next beta release.

[2022-11-30 13:56] olbrich opened #1039 "Clearable Radio Button Groups"
### What issue are you having?

At times it makes sense to allow users to select none of the radio buttons in a radio group. Currently, if a user selects one item in the group, they cannot deselect it without clearing or refreshing the form.

### Describe the solution you'd like

Add a 'clearable' option to sl-radio-group which will allow the selected sl-radio or sl-radio-button to be deselected w

[2022-11-30 14:09] claviska commented on #1039
I don't want to sound dismissive, but this feels like a UX antipattern. Normal radios don't do this and I can't recall seeing any radio buttons in the wild that do this. What would the UI look like, i.e. where would the clear button go?

This is probably something you'll want to implement yourself. Fortunately, setting the value to `''` will do the trick.

Perhaps a better pattern is to have a "No

[2022-11-30 16:01] bunesk opened #1042 "Setting `title` to form controls doesn't work anymore"
This bug only occurs in Next caused by the fix of #1037.

Before the change I was able to do something like `<sl-input title="Some title"></sl-input>` and the title appeared.
If I do the same thing on Next it doesn't work anymore because the inner form control always has an empty title.

To fix this I thought we can maybe add a `title` attribute to these components and set it to the inner form con

[2022-11-30 17:39] claviska commented on #1042
Thanks for reporting this. I'm surprised that `title` is being used on form controls, to be honest. 😅

Your solution of passing the host's `title` through to the internal `<input>` sounds good. Unfortunately, this will require a new property on every interested form control to make it reactive.

[code]

Then, when binding something like this should be sufficient:

[code]

I'd really like to add te

[2022-11-30 18:10] xdev1 commented on #1042
@claviska Just for your information, surrounding the inner shadow DOM `<input>` with a `<form novalidate>`  instead of setting `title` to `""` will not cause that `title` issue. But I have not tested that completely for side effects.

[2022-11-30 19:11] bunesk commented on #1042
@claviska Yeah, I mainly use it for `<sl-button>` and not for other form controls but if we fix it for one I guess it's better to fix it for all of them. What you wrote is exactly how I wanted to solve it except that adding `title=${this.title}` should be enough because the default value is an empty string anyway.
And yes I can write a PR for that except you like the solution of @xdev1 more and it

[2022-11-30 19:14] claviska commented on #1042
If I'm understanding correctly, this will cause issues with screen readers. Even though the second form would be in a shadow root, it will still be "visible" to assistive devices. We'd also need to map `novalidate` to the main form, which would require a mutation observer for every form control. 😕

[2022-11-30 19:22] xdev1 commented on #1042
I meant just the surrounding `form` without the mutation observers - just to suppress the tooltip. But that's a no-no of course, if it has negative effects on screen readers.

[2022-11-30 20:42] #1042 closed, assigned to claviska